@import url("css.css");
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
main,
nav,
section {
    display: block
}

video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: -.5em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}


button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible;
    text-transform: none
}

button {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input::-moz-focus-inner {
    padding: 0;
    border: 0
}
td,
th {
    padding: 0
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}
button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #337ab7;
    text-decoration: none
}
a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,
h4 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

p {
    margin: 0 0 10px
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px
    }
}

.text-center {
    text-align: center
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-3,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-9,
.col-sm-12,
.col-sm-3,
.col-sm-9,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

@media (min-width: 768px) {
    .col-sm-12,
    .col-sm-3,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-3 {
        width: 25%
    }
}

@media (min-width: 992px) {
  
    .col-md-3,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-9 {
        float: left
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-3 {
        width: 25%
    }
}

@media (min-width: 1200px) {
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
}

th {
    text-align: left
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}


.btn.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.container:after,
.container:before {
    display: table;
    content: " "
}

.row:after,
.row:before {
    display: table;
    content: " "
}

.container:after,
.row:after {
    clear: both
}

.hidden {
    display: none !important
}

@-ms-viewport {
    width: device-width
}


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont_1.eot#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.fa-exclamation-triangle:before {
    content: ""
}

html,
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif
}

@media screen and (min-width: 501px) and (max-width: 1199px) {
    html,
    body {
        font-size: 15px
    }
}

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 14px
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type {
    margin-top: 0
}

h1 {
    margin-bottom: .5em
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2.5rem
    }
}

h1.headline--combo .headline--combo-headline {
    display: block;
    line-height: .85
}

@media screen and (min-width: 768px) {
    h1.headline--combo .headline--combo-headline {
        font-size: 7.5rem
    }
}

@media screen and (max-width: 767px) {
    h1.headline--combo .headline--combo-headline {
        font-size: 6rem
    }
}

h1.headline--combo .headline--combo-headline sup {
    font-size: .25em;
    position: relative;
    top: -2em
}

h1.headline--combo .headline--combo-subheadline {
    display: block;
    line-height: 1
}

@media screen and (min-width: 768px) {
    h1.headline--combo .headline--combo-subheadline {
        font-size: 2.5rem
    }
}

@media screen and (max-width: 767px) {
    h1.headline--combo .headline--combo-subheadline {
        font-size: 2rem
    }
}

h2 {
    margin-bottom: .5em
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.75rem
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.5rem
    }
}

h3 {
    margin-bottom: .5em
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 1.25rem
    }
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 1.15rem
    }
}

p.lead {
    line-height: 1.4
}

@media screen and (min-width: 768px) {
    p.lead {
        font-size: 1.25rem
    }
}

@media screen and (max-width: 767px) {
    p.lead {
        font-size: 1.15rem
    }
}

p.lead:not(:last-child) {
    margin: 0 0 1em
}

p {
    font-size: 1rem;
    line-height: 1.4
}

p:not(:last-child) {
    margin: 0 0 .625em
}

p a {
    color: #47bef2;
    border-bottom: 1px solid #47bef2
}

p a:hover {
    color: rgba(71, 190, 242, 0.75);
    text-decoration: none;
    border-bottom-color: rgba(71, 190, 242, 0.5)
}

p a:focus,
p a:hover:focus {
    text-decoration: none
}

ul.list--checkbox {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.list--checkbox li {
    margin: 0;
    padding: 0 0 0 2em;
    background-image: url(../fonts/checkbox.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1.25em;
    background-position: 0 0.25em
}

ul.list--checkbox li:not(:last-child) {
    margin-bottom: .75em
}

*>:last-child {
    margin-bottom: 0
}

*>:first-child {
    margin-top: 0
}

.divider {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eaeaea
}

section:focus {
    outline: none
}

.btn-cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #ee7d0c;
    border-color: #ee7d0c;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    min-height: 3.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .25em 2em;
    font-size: 1.25rem;
    color: white;
    -webkit-transition: 100ms background-color linear, 100ms border-color linear;
    -o-transition: 100ms background-color linear, 100ms border-color linear;
    transition: 100ms background-color linear, 100ms border-color linear
}

.btn-cta:hover {
    background-color: #f59738;
    border-color: #f48a20;
    color: white
}

.btn-cta:active:hover,
.btn-cta:hover:active:hover {
    background-color: #d6700b;
    border-color: #bd640a;
    color: white
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-row.flex-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-row.flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.flex-row.flex-stretched {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.flex-row.flex-centered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 767px) {
    .flex-row.flex-collapse-xs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width: 991px) {
    .flex-row.flex-collapse-sm {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width: 1199px) {
    .flex-row.flex-collapse-md {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.row.flex-row::after,
.row.flex-row::before {
    display: none
}

@media screen and (min-width: 768px) {
    section {
        padding: 3rem 0
    }
}

@media screen and (max-width: 767px) {
    section {
        padding: 1.75rem 0
    }
}

section.section--white {
    color: #4d4d4d
}

section.section--grey {
    position: relative;
    background-color: #f2f2f2;
    color: #4d4d4d;
    margin: 3rem 0
}

section.section--grey svg.section--grey-blob {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 3rem
}

section.section--grey svg.section--grey-blob path {
    fill: #f2f2f2
}

section.section--grey svg.section--grey-blob:first-child {
    top: -3rem
}

section.section--grey svg.section--grey-blob:last-child {
    bottom: -3rem
}

section.section--grey>* {
    position: relative;
    z-index: 1
}

.cards--grid-2 {
    display: grid;
    position: relative;
    z-index: 0
}

@media screen and (min-width: 992px) {
    .cards--grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cards--grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem
    }
}

@media screen and (max-width: 767px) {
    .cards--grid-2 {
        grid-template-columns: 1fr;
        grid-gap: 1rem
    }
}

.cards--grid-3 {
    display: grid;
    position: relative;
    z-index: 0
}

@media screen and (min-width: 992px) {
    .cards--grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cards--grid-3 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem
    }
}

@media screen and (max-width: 767px) {
    .cards--grid-3 {
        grid-template-columns: 1fr;
        grid-gap: 1rem
    }
}

.card--grey,
.card--blue {
    min-height: 4rem;
    background-color: white;
    border-radius: .625rem;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #4d4d4d
}

@media screen and (max-width: 767px) {
    .card--grey,
    .card--blue {
        border-radius: .5rem
    }
}

@media screen and (min-width: 992px) {
    .card--grey,
    .card--blue {
        padding: 2.5rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card--grey,
    .card--blue {
        padding: 2.25rem
    }
}

@media screen and (max-width: 767px) {
    .card--grey,
    .card--blue {
        padding: 2rem
    }
}

.card--grey::after,
.card--blue::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0
}

.card--grey h2,
.card--blue h2 {
    color: #47bef2
}

.card--grey h3,
.card--blue h3 {
    color: #4d4d4d;
    margin-bottom: .5rem
}

.card--grey ul,
.card--blue ul {
    list-style: none;
    padding-left: 0
}

.card--grey ul li:not(:last-child),
.card--blue ul li:not(:last-child) {
    margin-bottom: 1rem
}

.cards--grid-3 .card--grey,
.cards--grid-3 .card--blue {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

@media screen and (min-width: 992px) {
    .cards--grid-3 .card--grey,
    .cards--grid-3 .card--blue {
        padding: 2.5rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cards--grid-3 .card--grey,
    .cards--grid-3 .card--blue {
        padding: 2rem
    }
}

@media screen and (max-width: 767px) {
    .cards--grid-3 .card--grey,
    .cards--grid-3 .card--blue {
        padding: 1.5rem
    }
}

.cards--grid-2 .card--grey,
.cards--grid-2 .card--blue {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

@media screen and (min-width: 992px) {
    .cards--grid-2 .card--grey,
    .cards--grid-2 .card--blue {
        padding: 2.5rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cards--grid-2 .card--grey,
    .cards--grid-2 .card--blue {
        padding: 2rem
    }
}

@media screen and (max-width: 767px) {
    .cards--grid-2 .card--grey,
    .cards--grid-2 .card--blue {
        padding: 1.5rem
    }
}

.card--grey {
    border-top: 0.625rem solid #4d4d4d
}

@media screen and (max-width: 767px) {
    .card--grey {
        border-top: 0.5rem solid #4d4d4d
    }
}

.card--blue {
    border-top: 0.625rem solid #47bef2
}

@media screen and (max-width: 767px) {
    .card--blue {
        border-top: 0.5rem solid #4d4d4d
    }
}

.card--img {
    overflow: hidden;
    position: relative;
    border: 1px solid #eaeaea
}

@media screen and (min-width: 768px) {
    .card--img {
        border-radius: 1rem
    }
}

@media screen and (max-width: 767px) {
    .card--img {
        border-radius: .5rem
    }
}

.card--img.img--ar-1-1 {
    padding-bottom: calc(100% - 2px)
}

.card--img.img--ar-2-1 {
    padding-bottom: calc(50% - 2px)
}

.card--img img {
    position: absolute;
    top: -1%;
    left: 50%;
    width: 102%;
    height: auto;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%)
}


.videoOuterWrap {
    border: 2px solid #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background: black
}

@media screen and (min-width: 992px) {
    .videoOuterWrap {
        border-radius: 3px 0 0 3px
    }
}

@media screen and (max-width: 991px) {
    .videoOuterWrap {
        border-radius: 3px 3px 0 0
    }
}
.sprite-media-news-cd,
.sprite-media-news-cp,
.sprite-media-news-newsbtc,
.sprite-media-news-nyt,
.sprite-media-news-rm,
.sprite-media-news-twsj {
    max-width: 100%;
    background-size: 100%;
    background-image: url("../images/media-sprite.jpg")
}

.sprite-media-news-cd {
    background-position: 0 0%;
    background-size: 100%
}

.sprite-media-news-cp {
    background-position: 0 20%;
    background-size: 100%
}

.sprite-media-news-newsbtc {
    background-position: 0 40%;
    background-size: 100%
}

.sprite-media-news-nyt {
    background-position: 0 60%;
    background-size: 100%
}

.sprite-media-news-rm {
    background-position: 0 80%;
    background-size: 100%
}

.sprite-media-news-twsj {
    background-position: 0 100%;
    background-size: 100%
}

.sprite-ordinary-people-1,
.sprite-ordinary-people-2,
.sprite-ordinary-people-3,
.sprite-ordinary-people-4 {
    max-width: 100%;
    background-size: 100%;
    background-image: url("../images/ordinary-people-sprite.jpg")
}

.sprite-ordinary-people-1 {
    background-position: 0 0%;
    background-size: 100%
}

.sprite-ordinary-people-2 {
    background-position: 0 33.333333%;
    background-size: 100%
}

.sprite-ordinary-people-3 {
    background-position: 0 66.666667%;
    background-size: 100%
}

.sprite-ordinary-people-4 {
    background-position: 0 100%;
    background-size: 100%
}

.topBarCTA {
    background-color: #4d4d4d;
    text-align: center;
    color: white;
    font-size: .85em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.topBarCTA .countdownBox {
    background-color: #8bc34a;
    color: white;
    padding: .25em .5em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.15em
}

.topBarCTA .countdownBox .fa {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    margin: 0 5px
}

@media screen and (max-width: 767px) {
    .topBarCTA .countdownBox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .topBarCTA .countdownBox .fa {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

.topBarCTA .countdownBox .countdownTime {
    font-weight: bold
}

.topBarCTA .textBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
    padding: .25em .5em;
    line-height: 1.25
}

.topBarCTA .textBox>* {
    margin: 0 5px
}

.topBarCTA .textBox .fa.fa-exclamation-triangle {
    color: #f5d33c
}

@media screen and (min-width: 768px) {
    .topBarCTA {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0;
        z-index: 75
    }
}

@media screen and (max-width: 767px) {
    .topBarCTA {
        line-height: 1.2;
        position: relative
    }
}

.disclaimerHeader {
    font-size: 13px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0
}

.menuContainer {
    position: fixed;
    top: 0;
    z-index: 9000;
    opacity: 0;
    pointer-events: none;
    -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
    -webkit-transition: 150ms opacity linear, 150ms -webkit-transform ease-in-out;
    transition: 150ms opacity linear, 150ms -webkit-transform ease-in-out;
    -o-transition: 150ms opacity linear, 150ms transform ease-in-out;
    transition: 150ms opacity linear, 150ms transform ease-in-out;
    transition: 150ms opacity linear, 150ms transform ease-in-out, 150ms -webkit-transform ease-in-out;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

@media screen and (min-width: 1200px) {
    .menuContainer {
        right: calc(50% - 570px)
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .menuContainer {
        right: calc(50% - 470px)
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .menuContainer {
        right: calc(50% - 360px)
    }
}

@media screen and (max-width: 767px) {
    .menuContainer {
        right: 0;
        left: 0
    }
}

.menuContainer .menuClose {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    position: absolute;
    top: .25rem;
    right: .25rem;
    font-size: 2em;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    color: white
}

.menuContainer .menuClose:hover {
    background-color: rgba(255, 255, 255, 0.25)
}

.menuContainer.menuToggled {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.menuContainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding: 1.5rem 2.75rem;
    margin: 0;
    background: #47bef2;
    border-radius: 0 0 0.25em 0.25em
}

@media screen and (min-width: 768px) {
    .menuContainer ul {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex
    }
}

@media screen and (max-width: 767px) {
    .menuContainer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }
}

.menuContainer ul li:not(:last-child) {
    margin-bottom: 1em
}

.menuContainer ul li a {
    display: block;
    text-align: center;
    padding: 0.25em .5em;
    color: white;
    border-radius: .25em;
    -webkit-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear
}

.menuContainer ul li a:hover {
    background-color: rgba(255, 255, 255, 0.25)
}

.websiteWrapper {
    overflow-x: hidden
}

#heroSection {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 3em
}

#heroSection::after {
    content: "";
    display: block;
    height: 115%;
    width: 1000vw;
    position: absolute;
    z-index: 0;
    top: -8rem;
    background-image: url(../fonts/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right top
}

@media screen and (min-width: 1200px) {
    #heroSection::after {
        right: calc(50% - 460px)
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #heroSection::after {
        right: calc(50% - 350px);
        top: -1.5rem;
        height: 90%
    }
}

@media screen and (max-width: 991px) {
    #heroSection::after {
        right: calc(50% - 300px);
        height: 85rem
    }
}

@media screen and (max-width: 767px) {
    #heroSection::after {
        right: calc(50% - 500px)
    }
}

#heroSection::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../images/mesh.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left top
}

@media screen and (max-width: 767px) {
    #heroSection::before {
        height: 30rem;
        width: 30rem
    }
}

@media screen and (min-width: 768px) {
    #heroSection::before {
        height: 45rem;
        width: 45rem
    }
}

#heroSection>* {
    position: relative;
    z-index: 2
}

#heroSection nav {
    margin: 2rem 0 1rem;
    position: relative;
    z-index: 10000
}

@media screen and (max-width: 767px) {
    #heroSection nav {
        margin-top: 1rem
    }
}

#heroSection nav .logo svg {
    display: block;
    height: 3em;
    width: auto
}

@media screen and (max-width: 767px) {
    #heroSection nav .logo svg {
        height: 2.5em
    }
}

#heroSection nav .menuBtn {
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
    border-radius: .25rem;
    position: relative;
    z-index: 10000
}

#heroSection nav .menuBtn.menuToggled {
    background-color: rgba(0, 0, 0, 0.15)
}

#heroSection nav .menuBtn.menuToggled span {
    background-color: white
}

#heroSection nav .menuBtn:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#heroSection nav .menuBtn:hover:active {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1) inset
}

#heroSection nav .menuBtn span {
    display: block;
    width: 100%;
    height: .25em;
    background-color: #999
}

@media screen and (max-width: 767px) {
    #heroSection nav .menuBtn span {
        background-color: white
    }
}

#heroSection h1,
#heroSection h2 {
    text-align: center;
    color: #fff;
    margin: 0 auto
}

#heroSection h1 {
    font-size: 2.25rem;
    max-width: 42rem
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #heroSection h1 {
        font-size: 2rem;
        max-width: 38rem
    }
}

@media screen and (min-width: 992px) {
    #heroSection h1 {
        margin-top: -1.75em
    }
}

@media screen and (max-width: 991px) {
    #heroSection h1 {
        font-size: 1.75rem;
        max-width: 36rem
    }
}

#heroSection h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: .5em;
    margin-bottom: 2rem;
    max-width: 44rem
}

@media screen and (max-width: 1199px) {
    #heroSection h2 {
        max-width: 38rem
    }
}

@media screen and (max-width: 991px) {
    #heroSection h2 {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        max-width: 32rem
    }
}

@media screen and (max-width: 767px) {
    #heroSection h2 {
        font-size: 1.15rem
    }
}

#heroSection .heroBlock {
    position: relative;
    padding-top: .625rem;
    -webkit-filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.25))
}

@media screen and (max-width: 767px) {
    #heroSection .heroBlock {
        padding-top: .5rem
    }
}

#heroSection .heroBlock::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    height: .625rem;
    border-radius: 0.5em 0.5em 0 0;
    background-color: #47bef2
}

@media screen and (max-width: 767px) {
    #heroSection .heroBlock::before {
        height: .5rem
    }
}

@media screen and (min-width: 992px) {
    #heroSection .heroBlock .heroVideo {
        padding-right: 0
    }
}

#heroSection .heroBlock .heroVideo .videoOuterWrap {
    height: 100%;
    border: none;
    border-radius: 0
}

#heroSection .heroBlock+.row {
    position: relative;
    z-index: 10
}

#heroSection .heroSteps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem
}

@media screen and (min-width: 1200px) {
    #heroSection .heroSteps {
        padding-left: 10rem;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #heroSection .heroSteps {
        padding-left: 5rem;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media screen and (max-width: 991px) {
    #heroSection .heroSteps {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

#heroSection .heroSteps .step {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: .75rem;
    margin: .5rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    #heroSection .heroSteps .step {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media screen and (max-width: 767px) {
    #heroSection .heroSteps .step {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

#heroSection .heroSteps .step .step-badge {
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 900;
    color: #47bef2;
    margin-right: .25em;
    width: 0.75em;
    text-align: center
}

#heroSection .heroSteps .step p {
    font-size: 1em
}

#heroSection .heroLogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem
}

#heroSection .heroLogos img {
    height: 1.875rem;
    width: auto;
    margin: .25rem .5rem
}

@media screen and (min-width: 992px) {
    .heroForm {
        padding-left: 0
    }
}

.heroForm .registerForm {
    padding: 2rem;
    background: #fff;
    height: 100%
}

.heroForm .registerForm .component-form-registration {
    padding-top: 0
}

.heroForm .registerForm .component-form-registration form .password-reveal {
    font-size: 1rem
}

.heroForm .registerForm .component-form-registration form .checkbox label {
    width: 100%;
    position: relative
}

.heroForm .registerForm .component-form-registration form .checkbox label input {
    opacity: 0
}

.heroForm .registerForm .component-form-registration form .checkbox label input~span::before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: -1px;
    width: .5rem;
    height: .75rem;
    border-right: 3px solid #8bc34a;
    border-bottom: 3px solid #8bc34a;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    -webkit-transition: 75ms opacity linear;
    -o-transition: 75ms opacity linear;
    transition: 75ms opacity linear
}

.heroForm .registerForm .component-form-registration form .checkbox label input~span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: .625rem;
    height: .625rem;
    border-radius: .15em;
    background: none;
    border: 1px solid #999;
    opacity: 0;
    -webkit-transition: 75ms opacity linear;
    -o-transition: 75ms opacity linear;
    transition: 75ms opacity linear
}

.heroForm .registerForm .component-form-registration form .checkbox label input:checked~span::before {
    opacity: 1
}

.heroForm .registerForm .component-form-registration form .checkbox label input:not(:checked)~span::after {
    opacity: 1
}

.heroForm .registerForm .component-form-registration form .checkbox label input:not(:checked):focus~span::after {
    background-color: rgba(71, 190, 242, 0.1);
    border: 1px solid #47bef2
}

.heroForm .registerForm .component-form-registration form button[type="submit"] {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #47bef2;
    border-color: #47bef2;
    color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    min-height: 3.5rem;
    padding: .25em 1em;
    font-size: 1.25rem;
    -webkit-transition: 100ms background-color linear, 100ms border-color linear;
    -o-transition: 100ms background-color linear, 100ms border-color linear;
    transition: 100ms background-color linear, 100ms border-color linear
}

.heroForm .registerForm .component-form-registration form button[type="submit"]:hover {
    background-color: #77cff5;
    border-color: #5fc6f4
}

.heroForm .registerForm .component-form-registration form button[type="submit"]:active:hover,
.heroForm .registerForm .component-form-registration form button[type="submit"]:hover:active:hover {
    background-color: #2fb6f0;
    border-color: #17adef
}

#sectionIntro {
    padding-top: 0
}

@media screen and (max-width: 767px) {
    #sectionIntro {
        margin-bottom: 1.5rem
    }
}

#sectionIntro #aboutApp {
    position: relative;
    z-index: 2
}

#sectionIntro #aboutApp ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

@media screen and (min-width: 500px) {
    #sectionIntro #aboutApp ul li {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media screen and (max-width: 499px) {
    #sectionIntro #aboutApp ul li {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

#sectionIntro #aboutApp .icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 2rem
}

@media screen and (max-width: 499px) {
    #sectionIntro #aboutApp .icon {
        padding-bottom: 1rem
    }
}

#sectionIntro #aboutApp .icon svg {
    display: block
}

@media screen and (min-width: 500px) {
    #sectionIntro #aboutApp .icon svg {
        width: 5rem;
        height: auto
    }
}

@media screen and (max-width: 499px) {
    #sectionIntro #aboutApp .icon svg {
        width: 4rem;
        height: 4rem
    }
}

@media screen and (max-width: 360px) {
    #sectionIntro #aboutApp .icon svg {
        width: 3rem;
        height: 3rem
    }
}

#sectionIntro #aboutApp .feature {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: relative
}

@media screen and (max-width: 499px) {
    #sectionIntro #aboutApp .feature h3 {
        position: absolute;
        top: -3rem;
        left: 5rem;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media screen and (max-width: 360px) {
    #sectionIntro #aboutApp .feature h3 {
        font-size: 1.15rem;
        top: -2.5rem;
        left: 4rem
    }
}

#sectionIntro #appSecurityWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#sectionIntro #appSecurityWrap #introBgBlob {
    position: absolute;
    z-index: 0
}

@media screen and (min-width: 992px) {
    #sectionIntro #appSecurityWrap #introBgBlob {
        top: -1.5rem;
        right: -1.5rem;
        height: calc(100% + 3rem)
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #sectionIntro #appSecurityWrap #introBgBlob {
        bottom: -3rem;
        left: -3rem;
        width: calc(100% + 6rem)
    }
}

@media screen and (max-width: 767px) {
    #sectionIntro #appSecurityWrap #introBgBlob {
        bottom: -4rem;
        right: 50%;
        height: calc(100% + 33rem);
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%)
    }
}

#sectionIntro #appSecurityWrap #appSecurity {
    position: relative;
    z-index: 4;
    color: white
}

@media screen and (min-width: 1200px) {
    #sectionIntro #appSecurityWrap #appSecurity {
        padding: 6rem 4rem 6rem 3rem
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #sectionIntro #appSecurityWrap #appSecurity {
        padding: 2rem 4rem 2rem 2rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #sectionIntro #appSecurityWrap #appSecurity {
        padding: 2rem 4rem
    }
}

@media screen and (max-width: 767px) {
    #sectionIntro #appSecurityWrap #appSecurity {
        padding: 1.5rem
    }
}

#sectionIntro #appSecurityWrap #appSecurity .headline--combo {
    position: relative;
    text-transform: uppercase
}

#sectionIntro #appSecurityWrap #appSecurity .headline--combo .headline--combo-headline {
    position: relative;
    left: -.1em
}

#sectionIntro #appSecurityWrap #appSecurity .headline--combo .headline--combo-headline,
#sectionIntro #appSecurityWrap #appSecurity .headline--combo .headline--combo-subheadline {
    position: relative;
    z-index: 5
}

#sectionIntro #appSecurityWrap #appSecurity .headline--combo svg {
    position: absolute;
    z-index: 4;
    left: 10rem;
    bottom: 0;
    height: calc(100% + .5em)
}

#sectionHowItWorks {
    position: relative;
    margin-bottom: 6rem
}

#sectionHowItWorks .headline--combo-headline {
    text-transform: uppercase
}

#sectionHowItWorks .container {
    position: relative
}

#sectionHowItWorks .cards--grid-2 {
    margin: 3rem 0 -6rem
}

@media screen and (max-width: 1199px) {
    #sectionHowItWorks .cards--grid-2 {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 599px) {
    #sectionHowItWorks .cards--grid-2 {
        grid-gap: 2rem
    }
}

#sectionHowItWorks .cards--grid-2 [class^="card"] {
    padding: 1.5rem 2rem
}

@media screen and (min-width: 600px) {
    #sectionHowItWorks .cards--grid-2 [class^="card"] {
        border-right: 10rem solid #47bef2;
        border-top: 0
    }
    #sectionHowItWorks .cards--grid-2 [class^="card"]::before {
        content: "";
        display: block;
        background-image: url("../images/mesh.png");
        background-size: 40rem auto;
        background-position: top left;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        right: -10rem;
        top: 0;
        bottom: 0;
        width: 10rem
    }
}

@media screen and (max-width: 599px) {
    #sectionHowItWorks .cards--grid-2 [class^="card"] {
        border-top: 3rem solid #47bef2
    }
    #sectionHowItWorks .cards--grid-2 [class^="card"]::before {
        content: "";
        display: block;
        background-image: url("../images/mesh.png");
        background-size: 40rem auto;
        background-position: top left;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        top: -3rem;
        left: 0;
        width: 100%;
        height: 3rem
    }
}

#sectionHowItWorks .howItWorksIcon {
    background-color: #d6f0fc;
    border-radius: 4rem;
    padding: .5rem;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.05)
}

@media screen and (min-width: 600px) {
    #sectionHowItWorks .howItWorksIcon {
        width: 8rem;
        height: 8rem;
        top: -.5rem;
        right: -9rem
    }
}

@media screen and (max-width: 599px) {
    #sectionHowItWorks .howItWorksIcon {
        width: 5rem;
        height: 5rem;
        top: -4rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: .5rem
    }
}

#sectionReasons h1.headline--combo .headline--combo-headline {
    text-transform: uppercase
}

#sectionReasons h1.headline--combo .headline--combo-subheadline {
    position: relative
}

#sectionReasons h1.headline--combo+h2 {
    color: #47bef2;
    font-size: 3rem
}

#sectionReasons h3 span {
    background-color: #47bef2;
    border-radius: .25em;
    color: white;
    padding: .5em 1em;
    display: inline-block;
    line-height: 1.25;
    max-width: 40rem;
    margin-bottom: 1rem
}

@media screen and (min-width: 768px) {
    #sectionReasons h3 span {
        font-size: 2rem
    }
}



#sectionReasons #reasonsNewspaper {
    position: relative
}

@media screen and (min-width: 768px) {
    #sectionReasons #reasonsNewspaper {
        margin-top: 6rem
    }
   
}

@media screen and (max-width: 767px) {
    #sectionReasons #reasonsNewspaper {
        margin-top: 3rem
    }
}

#sectionReasons #reasonsNewspaper .newspaperLogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.5rem
}

#sectionReasons #reasonsNewspaper .newspaperLogos img,
#sectionReasons #reasonsNewspaper .newspaperLogos svg {
    height: 2rem;
    margin: 1em
}

@media screen and (max-width: 767px) {
    #sectionReasons #reasonsNewspaper .newspaperLogos img,
    #sectionReasons #reasonsNewspaper .newspaperLogos svg {
        height: 1.5rem;
        margin: .75em
    }
}

#sectionReasons #reasonsNewspaper .card--grey h4 {
    margin: 1em 0 .5em
}

#sectionReasons #reasonsNewspaper #newspaperBgBlob {
    position: absolute;
    top: 0;
    z-index: -1
}

@media screen and (max-width: 767px) {
    #sectionReasons #reasonsNewspaper #newspaperBgBlob {
        left: 0;
        height: 100%;
        width: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media screen and (min-width: 768px) {
    #sectionReasons #reasonsNewspaper #newspaperBgBlob {
        left: -10vw;
        width: 100%
    }
}

#sectionReasons #reasonsOrdinaryPeople {
    position: relative
}

@media screen and (min-width: 768px) {
    #sectionReasons #reasonsOrdinaryPeople {
        margin-top: 6rem
    }
}

@media screen and (max-width: 767px) {
    #sectionReasons #reasonsOrdinaryPeople {
        margin-top: 3rem
    }
}

#sectionReasons #reasonsOrdinaryPeople .card--grey h4 {
    margin: 1em 0 .5em
}
#sectionReasons #reasonsOrdinaryPeople #ordinaryPeopleBgBlob {
    position: absolute;
    top: 0;
    z-index: -1
}

@media screen and (max-width: 767px) {
    #sectionReasons #reasonsOrdinaryPeople #ordinaryPeopleBgBlob {
        height: 100%;
        width: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 0
    }
}

@media screen and (min-width: 768px) {
    #sectionReasons #reasonsOrdinaryPeople #ordinaryPeopleBgBlob {
        width: 100%;
        left: 10vw
    }
}

#sectionReasons #reasonsNewspaper .img-link,
#sectionReasons #reasonsOrdinaryPeople .img-link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#sectionJoinNow {
    margin-bottom: 6rem
}

#sectionJoinNow #joinNow {
    margin-bottom: -6rem
}

#sectionJoinNow #joinNow .headline--combo {
    position: relative
}

#sectionJoinNow #joinNow .headline--combo .headline--combo-headline {
    position: relative;
    left: -.1em
}

#sectionJoinNow #joinNow .headline--combo .headline--combo-headline,
#sectionJoinNow #joinNow .headline--combo .headline--combo-subheadline {
    position: relative;
    z-index: 5
}

#sectionJoinNow #joinNow .headline--combo svg {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    height: calc(100% + 1em)
}

@media screen and (min-width: 992px) {
    #sectionJoinNow #happyCouple {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
        transform-origin: center left
    }
}

@media screen and (max-width: 767px) {
    #sectionSteps .cards--grid-3 {
        margin: 1.75rem 0 1.75rem
    }
}

@media screen and (min-width: 768px) {
    #sectionSteps .cards--grid-3 {
        margin: 3rem 0 3rem;
        grid-template-columns: 1fr 1fr 1fr
    }
}

#sectionSteps .cards--grid-3 [class^="card"] {
    position: relative;
    padding: 1.25rem 1.5rem
}

@media screen and (min-width: 768px) {
    #sectionSteps .cards--grid-3 [class^="card"]:nth-child(1) {
        z-index: 6
    }
    #sectionSteps .cards--grid-3 [class^="card"]:nth-child(2) {
        z-index: 4
    }
    #sectionSteps .cards--grid-3 [class^="card"]:nth-child(3) {
        z-index: 2
    }
}

@media screen and (min-width: 768px) {
    #sectionSteps .cards--grid-3 [class^="card"]:not(:last-child) h2 {
        position: relative;
        z-index: 1
    }
    #sectionSteps .cards--grid-3 [class^="card"]:not(:last-child) h2::after {
        content: "";
        display: block;
        position: absolute;
        top: 2rem;
        right: -3rem;
        width: 3.6rem;
        height: 2rem;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.5' height='9.5' style='enable-background:new 0 0 27.5 9.5'%3E%3Cstyle%3E.st0{fill:%23999}%3C/style%3E%3Cpath class='st0' d='M14.5 8.4C9.3 8.4 4.2 6.4.4 2.6-.1 2-.1 1 .4.4 1-.1 2-.1 2.6.4c5 5 12.6 6.3 19 3.4.8-.3 1.6 0 2 .7.3.8 0 1.6-.7 2-2.7 1.3-5.5 1.9-8.4 1.9z'/%3E%3Cpath class='st0' d='M23.5 9.5l4-8-9 .5z'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center
    }
}

#sectionSteps .cards--grid-3 [class^="card"] h2 {
    margin-bottom: .25em
}

#sectionSteps .cards--grid-3 [class^="card"] h3 {
    margin-bottom: .75em
}

#sectionSteps .cards--grid-3 [class^="card"] p.lead {
    margin: 0
}

#sectionSteps .stepIcon {
    background-color: #d6f0fc;
    border-radius: 3.5rem;
    -webkit-box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    position: absolute;
    z-index: 0
}

@media screen and (min-width: 1200px) {
    #sectionSteps .stepIcon {
        width: 7rem;
        height: 7rem;
        top: -1.5rem;
        right: 1rem
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #sectionSteps .stepIcon {
        width: 6rem;
        height: 6rem;
        top: -1rem;
        right: 1rem
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #sectionSteps .stepIcon {
        width: 5rem;
        height: 5rem;
        top: -1rem;
        right: -1rem
    }
}

@media screen and (max-width: 767px) {
    #sectionSteps .stepIcon {
        width: 5.5rem;
        height: 5.5rem;
        top: -0.75rem;
        right: 1rem
    }
}

#sectionFooterForm h1 {
    margin-bottom: .85em
}

#sectionFooterForm .heroForm {
    height: 100%
}

@media screen and (max-width: 991px) {
    #sectionFooterForm .heroForm {
        margin-top: 1rem;
        height: auto
    }
}

#sectionFooterForm .heroForm .registerForm {
    border-radius: .625rem;
    margin: 0 auto;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    border-top: 0.625rem solid #47bef2;
    height: 100%
}

#sectionFooterForm .footerFormText {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2.5rem 3rem;
    border: 1px dashed #47bef2;
    border-radius: .625rem
}

@media screen and (max-width: 767px) {
    #sectionFooterForm .footerFormText {
        padding: 1.5rem
    }
}

#sectionFooterForm .footerFormText h2 {
    font-size: 1.25rem;
    margin-top: .5em;
    color: #47bef2
}

footer {
    font-size: .75rem;
    padding-top: 2rem
}

footer .logoFooter svg {
    display: block;
    height: 2rem;
    width: auto
}

@media screen and (max-width: 767px) {
    footer .logoFooter svg {
        margin: 0 auto
    }
}

footer .disclaimerFooter {
    padding: 1rem;
    margin: 2rem 0;
    border: 1px solid rgba(153, 153, 153, 0.25);
    border-radius: .25em;
    color: #999
}

footer .disclaimerFooter p {
    font-size: .75rem
}

footer .disclaimerFooter p:not(:last-child) {
    margin-bottom: .5em
}

footer .footerLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

footer .footerLinks a {
    margin-right: 1em
}

@media screen and (max-width: 767px) {
    footer .footerLinks {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 1em
    }
    footer .footerLinks * {
        margin: .5em
    }
    footer .footerLinks .copyright {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center
    }
}

#sectionIntro #appSecurityWrap #appSecurity .headline--combo svg {
    left: 5rem
}

#sectionIntro #appSecurityWrap #appSecurity h1.headline--combo .headline--combo-headline {
    font-size: 6rem
}

h1.headline--combo .headline--combo-headline {
    line-height: 1
}

@media screen and (max-width: 767px) {
    h1.headline--combo .headline--combo-headline {
        font-size: 3rem
    }
    
    .modal-content {
        width: 90%;
        padding: 0 10px 80px 10px;
    }
}

@media screen and (min-width: 768px) {
    h1.headline--combo .headline--combo-headline {
        font-size: 5rem
    }
}

.flag-dropdown {
    z-index: 11;
}
input::placeholder{
    color:rgb(83, 83, 83)!important;
}

.hover-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10px;
    z-index: 9999;
}
.popup_custom {
    position: fixed;
    z-index: 9997;
    display: none;
    height: 100%;
    right: -20px;
    left: -20px;
    overflow: auto;
}
.popup_custom .popup_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.9;
    z-index: 9994;
}
.popup_custom .close_button {
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    color: gray ! important;
    z-index: 99999;
    font-size: 80px;
}
.popup_custom .popup_inner .popup_content {
    /* margin: 100px auto 0 auto; */
    width: 100%;
    max-width: 800px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #47bef2;
    z-index: 9999;
}
.popup_custom .popup_content_inner {
    position: relative;
    text-align: center;
    padding: 30px;
    z-index: 9998;
}
.popup_custom .title {
    color: #fa5258;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.2;
    margin-bottom: 20px;
}
.popup_custom .subtitle {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    color: #fff;
    margin-bottom: 15px;
}
.popup_custom .subtitle b {
    color: #f7931a;
}
.popup-form-wrapper {
    max-width: 50%;
    margin: auto;
}
.form-block-2.whitee .checkboxStle {
    margin-top: 50px;
}

/* //////////////privacy////// */
.modal {
    background: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: initial;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999 !important;
    overflow-y: scroll !important;
    outline: 0;
    background: rgba(0, 0, 0, 0.72);
}

.modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0px;
    padding: 0 20px 80px 20px;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-dialog .close {
    padding: 1rem;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal h2 {
    text-align: center;
    color: #3e40d8;
    margin: 40px;
    margin-bottom: 0;
}

.modal .content {
    padding: 30px;
}

.modal table {
    width: 100%;
}

.modal-dialog {
    max-width: 900px !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.form-contact-us {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-indent: 0;
    text-align: left;
    font-family: sans-serif;
}
.form-contact-us .input-holder {
    margin-bottom: 10px;
}
.form-contact-us .input {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin: 0;
    background-color: #fff;
    display: block;
    width: 100%;
}
.form-contact-us .select {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin: 0;
    display: block;
    width: 100%;
    background: #fff;
}
.form-contact-us .textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin: 0;
    resize: vertical;
    display: block;
    width: 100%;
    min-height: 100px;
}
.form-contact-us .btn-submit-holder {
    margin-bottom: 10px;
    text-align: center;
}
.form-contact-us .btn-submit {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    min-width: 88px;
    padding: 8px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: #337ab7;
    color: #fff;
    transition: all 0.2s linear;
}
@media screen and (max-width: 767px) {
    #sectionReasons h3 span {
        font-size: 1.5rem
    }
    .heroVideo {
        height: 212px;
    }
    .popup-form-wrapper {
        max-width: 80%;
    }
    .popup-content-wrapper {
        padding-top: 120px;
    }
    .popup_custom .close_button {
        top: -20px;
    }

}

@media (max-width:320px) {

}