@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

ul,
li {
  margin-left: 15px;
}

body {
  background-color: #161618;
  color: #fff !important;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

textarea,
input[type='text'],
input[type='button'],
input[type='submit'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='checkbox'] {
  -webkit-appearance: none !important;
  border-radius: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

video,
img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro_medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro_bold.otf') format('opentype');
  font-weight: 700;
}
.accordion-param {
  width: 100%;
  color: #2c2b31;
}
.accordion-param__header {
  padding: 0 15px 11px;
  border-bottom: solid 2px #9b9b9b;
}
@media (max-width: 375px) {
  .accordion-param__header {
    padding: 0 0 11px;
  }
}
.accordion-param__header_ttl {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.1px;
  margin-bottom: 11px;
}
.accordion-param__header_item {
  position: relative;
}
.accordion-param__header_item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/arrow.svg') no-repeat;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.accordion-param__header_item p {
  text-align: center;
  font-size: 21.69px;
  font-weight: 700;
  text-transform: uppercase;
}
.accordion-param__body {
  display: none;
  border-bottom: solid 2px #9b9b9b;
}
.accordion-param__body ul {
  margin-bottom: 11px;
}
.accordion-param__body ul li {
  text-align: center;
  font-size: 21.69px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 11px;
}
.accordion-param.accordion-param__show .accordion-param__header_item::after {
  transform: rotate(-180deg);
  transition: all 0.5s ease-in-out;
}
.accordion-param.accordion-param__show .accordion-param__body {
  display: block;
}

.accordion__item {
  margin: 10px 0;
}
.accordion__item:first-child img {
  width: 25px;
  height: 25px;
  left: 8px;
}
.accordion__item:nth-child(2) img {
  width: 26px;
  height: 26px;
  left: 7px;
}
.accordion__item.accordion__item_show .accordion__header::after {
  transform: translateY(-50%) rotate(-180deg);
}
.accordion__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 15px 0 50px;
  height: 40px;
}
@media (max-width: 375px) {
  .accordion__header {
    padding: 0 0px 0 50px;
  }
}
.accordion__header img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 47%;
  left: 5px;
  transform: translateY(-50%);
}
.accordion__header p {
  font-weight: 700;
}
.accordion__header::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/arrow.svg') no-repeat;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 375px) {
  .accordion__header::after {
    right: 0;
  }
}
.accordion__body {
  display: none;
  padding: 11px;
}
.accordion__body_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 15px;
}
@media (max-width: 375px) {
  .accordion__body_img {
    padding: 15px 0;
  }
}
.accordion__body_img img:nth-child(1) {
  width: 62px;
  height: 35px;
}
.accordion__body_img img:nth-child(2) {
  width: 68px;
  height: 35px;
}
.accordion__body_img img:nth-child(3) {
  width: 80px;
}
.accordion__body_img img:nth-child(4) {
  width: 42px;
  height: 38px;
}
.accordion__body_description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion__body_description p + p {
  margin-top: 7px;
}
.accordion.accordion_info {
  border: none;
}
.accordion.accordion_info .accordion__item {
  margin: 0;
}
.accordion.accordion_info .accordion__item.accordion__item_show {
  display: block;
}
.accordion.accordion_info .accordion__item.accordion__item_show .accordion__header::after {
  transform: translateY(-50%) rotate(-180deg);
}
.accordion.accordion_info .accordion__header {
  position: relative;
  padding: 12px;
  height: 40px;
}
@media (max-width: 375px) {
  .accordion.accordion_info .accordion__header {
    padding: 0;
  }
}
.accordion.accordion_info .accordion__header::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/arrow.svg') no-repeat;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 375px) {
  .accordion.accordion_info .accordion__header::after {
    right: 0;
  }
}
.accordion.accordion_info .accordion__body {
  padding: 4px 11px 11px;
}
.accordion.accordion_info .accordion__body_description ul {
  list-style: none;
  margin-left: 0;
}
.accordion.accordion_info .accordion__body_description ul li {
  margin-left: 0;
  font-weight: 500;
}
.accordion.accordion_info .accordion__body_description ul li span {
  font-weight: 700;
}
.accordion.accordion_info .accordion__body_description ul li:first-child {
  margin-top: 5px;
}

.review {
  max-width: 550px;
}
.review__block {
  padding: 15px;
}
.review__block_name {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}
.review__block_rate {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 11px;
  width: 20px;
}
.review__block_rate img + img {
  margin-left: 5px;
}
.review__block_comment {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

* {
  color: #fff;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  max-width: 550px;
  margin: 0 auto;
}

.container {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 17px;
}

img {
  max-width: 550px;
}

a,
button,
input {
  cursor: pointer;
}

hr {
  height: 2px;
  background: #9b9b9b;
  margin: 10px 0;
}

.header {
  margin-bottom: 10px;
}
.header__preheader {
  background: linear-gradient(180deg, #e193fb 0%, #c25efc 100%);
  color: #2c2b31;
  text-align: center;
  font-size: calc(7px + 5 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
  text-transform: uppercase;
}
@media (min-width: 550px) {
  .header__preheader {
    font-size: 12px;
  }
}
.header__menu {
  padding: 15px;
  padding-bottom: 0;
}
.header__menu_logo {
  position: relative;
  width: 266px;
  margin: 0 auto;
}
.header__menu_nav {
  color: #fff;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 18px;
}
.header__menu_nav a {
  font-size: calc(13px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  padding: 4px;
  padding-top: 0;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 550px) {
  .header__menu_nav a {
    font-size: 14px;
  }
}
.header__menu_nav a:hover,
.header__menu_nav a:focus,
.header__menu_nav a:active {
  text-shadow: 0px 0px 5px #fff;
  opacity: 0.5;
}
.header__img {
  position: relative;
}
.header__img_price {
  position: absolute;
  white-space: nowrap;
  bottom: 21%;
  left: 5%;
}
.header__img_price_new {
  display: inline-block;
  padding: 3% 12%;
  margin-right: 9%;
  background: #37d997;
  color: #fff;
  text-align: center;
  font-size: calc(18px + 12 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 550px) {
  .header__img_price_new {
    font-size: 30px;
  }
}
.header__img_price_old {
  color: #fff;
  text-align: center;
  font-size: calc(18px + 12 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
@media (min-width: 550px) {
  .header__img_price_old {
    font-size: 30px;
  }
}
.header__img_price_old::after {
  content: '';
  position: absolute;
  width: 111%;
  height: 13%;
  background: #37d997;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionSwiper {
  margin-bottom: 20px;
}
.sectionSwiper__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.sectionSwiper__nav_rate {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sectionSwiper__nav_logo {
  width: 71px;
}
.sectionSwiper__nav_rec {
  color: #37d997;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sectionSwiper__swiper {
  margin-bottom: 14px;
}
.sectionSwiper__swiper .swiper .swiper-button-prev {
  left: 0;
  width: 22px;
}
.sectionSwiper__swiper .swiper .swiper-button-prev::after {
  content: '';
  background: url('../images/arrow-left.svg') no-repeat 100%/100%;
  width: 22px;
  height: 47px;
}
.sectionSwiper__swiper .swiper .swiper-button-next {
  right: 0;
  width: 22px;
}
.sectionSwiper__swiper .swiper .swiper-button-next::after {
  content: '';
  background: url('../images/arrow-left.svg') no-repeat 100%/100%;
  width: 22px;
  height: 47px;
  transform: rotate(180deg);
}
.sectionSwiper__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.productRate__description {
  margin-bottom: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.productRate__description bold {
  font-weight: 700;
}
.productRate__rate {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.productRate__rate img {
  width: 106px;
  margin-right: 6px;
}
.productRate__rate span {
  color: #272727;
}

.accordion-param {
  margin-bottom: 23px;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: calc(25px + 7 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 11px 20px;
  width: 100%;
  background: #272727;
  box-shadow: 0px 6px 20px 0px rgba(255, 220, 180, 0.25);
  margin-bottom: 20px;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0px 0px 10px #000;
  text-shadow: 0px 0px 10px #fff;
}

.sectionTimer {
  padding: 10px 13.5px;
  margin-bottom: 20px;
  background: #272727;
}
.sectionTimer__blockTimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.sectionTimer__blockTimer_limit {
  color: #fff;
  font-size: 9.452px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.sectionTimer__blockTimer_timer {
  color: #fff;
  text-align: center;
  font-size: calc(36px + 8 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 550px) {
  .sectionTimer__blockTimer_timer {
    font-size: 40px;
  }
}
.sectionTimer__price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTimer__price_old {
  color: #9b9b9b;
  text-align: center;
  font-size: calc(20px + 5 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 550px) {
  .sectionTimer__price_old {
    font-size: 23px;
  }
}
.sectionTimer__price_old::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 4px;
  background: #37d997;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sectionTimer__price_new {
  color: #fff;
  text-align: center;
  font-size: calc(36px + 8 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 23px;
}
@media (min-width: 550px) {
  .sectionTimer__price_new {
    font-size: 40px;
  }
}

.accordion {
  margin-bottom: 20px;
}
.accordion.accordion_info {
  margin-bottom: 0;
}
.accordion__body span {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5px;
}
.sectionPresentation__ttl {
  color: #000;
  text-align: center;
  font-size: calc(20px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  font-size: 22px !important;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}
@media (min-width: 550px) {
  .sectionPresentation__ttl {
    font-size: 22px;
  }
}
.sectionPresentation__description {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.1px;
  margin-bottom: 14px;
}

.sectionReviews__title {
  color: #fff;
  text-align: center;
  font-size: calc(20px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 550px) {
  .sectionReviews__title {
    font-size: 22px;
  }
}
.sectionReviews__writeReview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sectionReviews__writeReview_rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sectionReviews__writeReview_rate img {
  width: 45%;
  margin-right: 7px;
}
.sectionReviews__writeReview_rate span {
  color: #fff;
}
.sectionReviews__writeReview_btn {
  display: inline-block;
  color: #272727;
  text-align: center;
  padding: 7px 15px;
  white-space: nowrap;
  background: #b3fcef;
  border-radius: 20px;
}
.sectionReviews__writeReview_btn:hover,
.sectionReviews__writeReview_btn:focus,
.sectionReviews__writeReview_btn:active {
  box-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #fff;
}

.review {
  border-bottom: solid 2px #9b9b9b;
  margin-bottom: 20px;
}

.footer {
  padding: 27px 17px 20px;
}
.footer__nav {
  margin-bottom: 30px;
}
.footer__nav_ttl {
  color: #e193fb;
  text-align: center;
  font-size: calc(20px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 550px) {
  .footer__nav_ttl {
    font-size: 22px;
  }
}
.footer__nav_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav_nav a {
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__nav_nav a:hover,
.footer__nav_nav a:focus,
.footer__nav_nav a:active {
  text-shadow: 0px 0px 5px #fff;
  opacity: 0.5;
}
.footer__form_ttl {
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (min-width: 550px) {
  .footer__form_ttl {
    font-size: 22px;
  }
}
.footer__form_input {
  height: 40px;
  min-height: 40px;
  border-bottom: solid 3px #5d5d5d;
  background: transparent;
  width: 100%;
  margin-bottom: 30px;
  color: #5d5d5d;
  font-weight: 700;
}
.footer__form_input::-moz-placeholder {
  color: #5d5d5d;
  font-weight: 700;
}
.footer__form_input::placeholder {
  color: #5d5d5d;
  font-weight: 700;
}
.footer__form_btn {
  border-radius: 30px;
  background: linear-gradient(180deg, #e193fb 0%, #c25efc 100%);
  text-align: center;
  font-size: calc(20px + 4 * ((100vw - 320px) / 230));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  margin-bottom: 30px;
  display: block;
}
@media (min-width: 550px) {
  .footer__form_btn {
    font-size: 22px;
  }
}
.footer__form_btn:hover,
.footer__form_btn:focus,
.footer__form_btn:active {
  box-shadow: 0px 0px 10px #c9f4e7;
  text-shadow: 0px 0px 5px #fff;
}
.footer__info_text {
  color: #fff;
  opacity: 0.6;
  text-align: center;
  font-family: 'Source Serif Pro', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.footer__info_text .dots {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Source Serif Pro', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__info_text .text {
  display: none;
}
.footer__info_text.show .text {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Source Serif Pro', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
.footer__info_text.show .dots {
  display: none;
}
.footer__info_btnBlock {
  display: flex;
  justify-content: center;
}
.footer__info_btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 18px;
  margin-bottom: 15px;
}
.footer__info_btn:hover,
.footer__info_btn:focus,
.footer__info_btn:active {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.footer__info_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info_nav img {
  width: 123px;
}
.footer__info_nav span {
  color: #fff;
  text-align: right;
  font-weight: 700;
}

.btnWrapper {
  padding: 7px 0;
  border-radius: 14px;
  border-radius: 50px;
  background: linear-gradient(180deg, #e193fb 0%, #c25efc 100%);
  cursor: pointer;
  margin: 10px auto 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btnWrapper__flex {
  display: flex;
  align-items: flex-end;
}
.btnWrapper .btnWrapper__flex_oldPrice {
  color: #272727;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
  margin-right: 7.5px;
}
.btnWrapper .btnWrapper__flex_newPrice {
  color: #2c2b31;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px; /* 110% */
  text-transform: uppercase;
}
.btnWrapper .btnWrapper__button {
  color: #fff;
  text-align: center;
  /* tripod/24 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px; /* 137.5% */
  text-transform: uppercase;
}

.productInfo {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 20px;
}
.productInfo__delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 7px 14px;
  width: 100%;
  background: linear-gradient(180deg, #e193fb 0%, #c25efc 100%);
}
.productInfo__delivery img {
  width: 30px;
  aspect-ratio: 1/1;
  margin-right: 3px;
}
.productInfo__delivery span:first-child {
  color: #000;
}
.productInfo__delivery span:last-child {
  font-weight: 700;
}
.productInfo__delivery p {
  color: #000;
  font-size: 12px;
}
@media (max-width: 420px) {
  .productInfo__delivery p {
    font-size: 10px;
  }
}
@media (max-width: 390px) {
  .productInfo__delivery p {
    font-size: 8px;
  }
}
@media (max-width: 336px) {
  .productInfo__delivery p {
    font-size: 7px;
  }
}
.productInfo__stock {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #2c2b31;
  padding: 7px 14px;
  margin-right: 13px;
  min-width: 145px;
  font-size: 12px;
}
@media (max-width: 360px) {
  .productInfo__stock {
    min-width: 115px;
  }
}
.productInfo__stock img {
  width: 30px;
  aspect-ratio: 1/1;
  margin-right: 3px;
}
.productInfo__stock span {
  color: #ffffff;
}
.productInfo__stock p {
  color: #ffffff;
}
@media (max-width: 420px) {
  .productInfo__stock p {
    font-size: 10px;
  }
}
@media (max-width: 390px) {
  .productInfo__stock p {
    font-size: 8px;
  }
}
@media (max-width: 336px) {
  .productInfo__stock p {
    font-size: 7px;
  }
}

.chooseCard {
  display: flex;
  justify-content: center;
  gap: 23px;
  align-items: center;
  margin-bottom: 20px;
}
.chooseCard a {
  position: relative;
  width: 15%;
}
.chooseCard a .clr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
.chooseCard a.hide .bw {
  opacity: 0;
}
.chooseCard a.hide .clr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 2;
}

.sectionPresentation span {
  color: #2c2b31;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  display: inline-block;
}
.sectionPresentation__ttl {
  color: #fff;
  text-align: center;
  font-size: calc(20px + 2 * ((100vw - 320px) / 230));
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 550px) {
  .sectionPresentation__ttl {
    font-size: 22px;
  }
}
.sectionPresentation__description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -9px;
  width: 107%;
  padding: 0 20px;
  font-size: 14px;
}
.sectionPresentation__description_icon {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 11px 0;
  margin-right: 9px;
}
.sectionPresentation__description_icon img {
  max-width: 67px;
  height: 66px;
  aspect-ratio: 1/1;
  margin-bottom: 12px;
  -o-object-position: top;
  object-position: top;
}
.sectionPresentation__description_icon span {
  color: #000;
  text-align: center;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-size: calc(14px + 3 * ((100vw - 320px) / 230));
}
@media (min-width: 550px) {
  .sectionPresentation__description_icon span {
    font-size: 17px;
  }
}
/* .sectionPresentation__img {
  margin-bottom: 15px;
} */

.ad3__award {
  height: 67px;
}

.copy {
  position: absolute;
  right: -14px;
  top: 5px;
  width: 12px;
  height: 12px;
}

.margin {
  margin-bottom: 0;
}

.video {
  max-height: 516px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .video {
    max-height: 364px;
  }
}
@media (max-width: 390px) {
  .video {
    max-height: 356px;
  }
}
@media (max-width: 360px) {
  .video {
    max-height: 278px;
  }
}

.fixed {
  width: 100%;
  max-width: 390px;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 500px) {
  .fixed {
    max-width: calc(100% - 35px);
  }
}

hr {
  margin-top: 0;
} /*# sourceMappingURL=style.css.map */

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 250px !important;
}

.currencySymbol {
  color: #000;
}

.sectionPresentation--new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionPresentation--new img {
  min-width: 760px;
}

@media (max-width: 588px) {
  .sectionPresentation--new img {
    min-width: 690px;
  }
}

@media (max-width: 460px) {
  .sectionPresentation--new img {
    min-width: 495px;
  }
}
