.footer{
    border-radius: 0;
  background-color: white;
  position: relative;
}

.footer-color-h{
  font-weight: 700;
  color: #9d9da6;
  font-size: 14px;
}

.footer-nav-mobile{
  display: none;
}

.p-0 li{
  list-style-type: none;

  padding-top: 10px;    
  color: #515154;
  font-size: 13px;
}

.p-0 a{    
  transition: .3s;
  color: #898D94;
}
.p-0 a:hover{    
  color: #F05323;
}

.footer-links{
  
  padding-top: 10px;    
  color: #515154;
  font-size: 13px;
}

.footer-after-nav-border{
  border-top: 1px solid rgba(0, 0, 0, 0.1);;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-info{
  background-color: #F5F5F5;
}

.footer-info-c{
  margin-bottom: 50px;
}

.footer-copyright-c{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}

.footer-iphones{
  background-image: url(../images/prefooter-phone-upd.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 650px;
  height: 476px;
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.social-svg{
  width: 30px;
  height: 30px;
}

.leaf{
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid transparent;
}
/* 
@media (max-width: 1024px){
  .footer-iphones{
    background-image: url();
  }
} */
.social{
  gap: 30px;
}
.social.new{
  border-top: 2px solid rgba(190, 190, 182, 0.2);
  gap: 10px;
  padding-top: 25px;
}
.social__icon {
  display: flex;
  align-items: center;
  position: relative;
}
.social__icon .img-hide{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.social__icon:hover .img-show{
  opacity: 0;
  transition: all 0.2s ease-in-out;

}
.social__icon:hover .img-hide {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
/* pre footer nav */
.pre-footer-nav{
  background-color: #F6F6F5;
  border-radius: 24px;
  padding: 18px 24px;
}
.pre-footer-nav__link{
  padding: 0 10px;
}
.pre-footer-nav__link a{
  color: #201F1F;
}
.pre-footer-nav__link a:hover{
  color: #201F1F;
}

.footer-copyright{
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-copyright-text{
  color: #AAADB2;
  margin: 0 auto;
}

.footer-qr{
  background-color: #000;
  max-width: 120px;
  width: 100%;
  border-radius: 22px;
  border: 10px solid #f6f6f6;
}

@media (max-width: 992px){
  .footer-nav-mobile{
    display: block;
    padding-bottom: 50px;
  }


  .footer-nav{
    display: none;
  }

  .footer-after-nav{
    display: none;
  }
}

@media (max-width: 786px){
  .footer-copyright-c{
    padding-top: 30px;
  }
  .footer-iphones{
    margin-top: 20px;
     width: 100%;
     background-position: bottom center;
    background: url('../images/prefooter-phone-upd.png') center / contain no-repeat ;
  }
}

@media (max-width:425px){
  .footer-iphones{
    height: 380px;
    margin-bottom: 0;
  }
}

.accordion-button{
  border-color: transparent!important;
  padding: 5px!important;
}

.accordion-button:focus{
  border-color: transparent!important;
  box-shadow: 0 0 0 0 rgba(13,110,253,0)!important;
}

.accordion-button:not(.collapsed) {
  color: #515154!important;
  background-color: transparent!important;
}

.accordion-collapse{
  border-color: transparent!important;
}

.accordion-body{
  padding: 4px!important;
}