.dk-sbol-heading {
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.3px;
    margin: 0
}

@media (min-width:0px) {
    .dk-sbol-heading_size_xs {
        font: 400 24px/30px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:768px) {
    .dk-sbol-heading_size_xs {
        font: 400 26px/32px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-heading_size_xs {
        font: 400 26px/32px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:0px) {
    .dk-sbol-heading_size_sm {
        font: 400 24px/30px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:768px) {
    .dk-sbol-heading_size_sm {
        font: 400 26px/32px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-heading_size_sm {
        font: 400 30px/36px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:0px) {
    .dk-sbol-heading_size_md {
        font: 400 24px/30px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:768px) {
    .dk-sbol-heading_size_md {
        font: 400 30px/36px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-heading_size_md {
        font: 400 36px/46px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:0px) {
    .dk-sbol-heading_size_lg {
        font: 400 30px/36px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:768px) {
    .dk-sbol-heading_size_lg {
        font: 400 36px/46px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-heading_size_lg {
        font: 400 42px/56px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:0px) {
    .dk-sbol-heading_size_xl {
        font: 400 22px/28px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
}

@media (min-width:768px) {
    .dk-sbol-heading_size_xl {
        font: 400 42px/56px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-heading_size_xl {
        font: 400 48px/60px SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

.dk-sbol-text {
    -webkit-font-smoothing: antialiased;
    margin: 0
}

.dk-sbol-text_size_sm {
    font: 400 13px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.2px
}

@media (min-width:768px) {
    .dk-sbol-text_size_sm {
        font: 400 13px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-text_size_sm {
        font: 400 13px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

.dk-sbol-text_size_md {
    font: 400 15px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.3px
}

@media (min-width:768px) {
    .dk-sbol-text_size_md {
        font: 400 15px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-text_size_md {
        font: 400 15px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

.dk-sbol-text_size_lg {
    font: 400 16px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.3px
}

@media (min-width:768px) {
    .dk-sbol-text_size_lg {
        font: 400 18px/28px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

@media (min-width:1024px) {
    .dk-sbol-text_size_lg {
        font: 400 19px/28px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}

.dk-sbol-text_capitalize {
    text-transform: uppercase
}

.dk-sbol-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #148F2A;
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: block;
    letter-spacing: -.3px;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s linear, border-color .2s linear;
    width: 100%
}

.dk-sbol-button:hover {
    background-color: #18762A
}

.dk-sbol-button__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.dk-sbol-button__text_size_md.dk-sbol-button__text_iconPosition_left, .dk-sbol-button__text_size_sm.dk-sbol-button__text_iconPosition_left {
    margin-left: 8px
}

.dk-sbol-button__text_size_lg.dk-sbol-button__text_iconPosition_left {
    margin-left: 16px
}

.dk-sbol-button__text_size_md.dk-sbol-button__text_iconPosition_right, .dk-sbol-button__text_size_sm.dk-sbol-button__text_iconPosition_right {
    margin-right: 8px
}

.dk-sbol-button__text_size_lg.dk-sbol-button__text_iconPosition_right {
    margin-right: 16px
}

body:not(.pointer-events) .dk-sbol-button:focus {
    background-color: #18762A;
    border-color: #262626;
    outline: none
}

.dk-sbol-button:active {
    background-color: #1B6529
}

.dk-sbol-button_type_secondary {
    background-color: initial;
    border: 2px solid rgba(38, 38, 38, .24);
    color: #262626
}

.dk-sbol-button_type_secondary:hover {
    background-color: initial;
    border-color: rgba(38, 38, 38, .4)
}

body:not(.pointer-events) .dk-sbol-button_type_secondary:focus {
    background-color: initial;
    border-color: #262626;
    outline: none
}

.dk-sbol-button_type_secondary:active {
    background-color: initial;
    border-color: rgba(38, 38, 38, .6)
}

.dk-sbol-button_type_secondary-white {
    background-color: initial;
    border: 2px solid #ffffff;
    color: #ffffff
}

.dk-sbol-button_type_secondary-white:hover {
    background-color: initial;
    border-color: rgba(255, 255, 255, .6)
}

body:not(.pointer-events) .dk-sbol-button_type_secondary-white:focus {
    background-color: initial;
    border: 2px solid #262626
}

.dk-sbol-button_type_secondary-white:active {
    background-color: initial;
    border-color: rgba(255, 255, 255, .6)
}

.dk-sbol-button_type_tertiary {
    background-color: initial;
    border: 1px solid rgba(38, 38, 38, .24);
    color: #262626
}

.dk-sbol-button_type_tertiary:hover {
    background-color: initial;
    border-color: rgba(38, 38, 38, .4)
}

body:not(.pointer-events) .dk-sbol-button_type_tertiary:focus {
    background-color: initial;
    border: 2px solid #262626
}

.dk-sbol-button_type_tertiary:active {
    background-color: initial;
    border-color: rgba(38, 38, 38, .6)
}

.dk-sbol-button_type_tertiary-white {
    background-color: initial;
    border: 1px solid #ffffff;
    color: #ffffff
}

.dk-sbol-button_type_tertiary-white:hover {
    background-color: initial;
    border-color: rgba(255, 255, 255, .6)
}

body:not(.pointer-events) .dk-sbol-button_type_tertiary-white:focus {
    background-color: initial;
    border: 2px solid #262626
}

.dk-sbol-button_type_tertiary-white:active {
    background-color: initial;
    border-color: rgba(255, 255, 255, .6)
}

.dk-sbol-button_type_transparent {
    background-color: initial;
    border: 2px solid transparent;
    color: #262626
}

.dk-sbol-button_type_transparent:hover {
    background-color: rgba(38, 38, 38, .04);
    border-color: transparent
}

body:not(.pointer-events) .dk-sbol-button_type_transparent:focus {
    background-color: initial;
    border-color: #262626
}

.dk-sbol-button_type_transparent:active {
    background-color: rgba(38, 38, 38, .08);
    border-color: transparent
}

.dk-sbol-button_type_transparent-white {
    background-color: initial;
    border: 2px solid transparent;
    color: #ffffff
}

.dk-sbol-button_type_transparent-white:hover {
    background: rgba(255, 255, 255, .16);
    border-color: transparent
}

body:not(.pointer-events) .dk-sbol-button_type_transparent-white:focus {
    background-color: initial;
    border-color: #262626
}

.dk-sbol-button_type_transparent-white:active {
    background: rgba(255, 255, 255, .16);
    border-color: transparent
}

.dk-sbol-button_size_lg {
    border-radius: 12px;
    font: 500 19px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 64px;
    padding: 0 18px
}

.dk-sbol-button_size_md {
    border-radius: 8px;
    font: 500 15px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 52px;
    padding: 0 14px
}

.dk-sbol-button_size_sm {
    font: 500 13px/16px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 40px;
    padding: 0 10px
}

.dk-sbol-button_size_lg.dk-sbol-button_type_tertiary {
    padding: 0 19px
}

body:not(.pointer-events) .dk-sbol-button_size_lg.dk-sbol-button_type_tertiary:focus {
    padding: 0 18px
}

.dk-sbol-button_size_md.dk-sbol-button_type_tertiary {
    padding: 0 15px
}

body:not(.pointer-events) .dk-sbol-button_size_md.dk-sbol-button_type_tertiary:focus {
    padding: 0 14px
}

.dk-sbol-button_size_sm.dk-sbol-button_type_tertiary {
    padding: 0 11px
}

body:not(.pointer-events) .dk-sbol-button_size_sm.dk-sbol-button_type_tertiary:focus {
    padding: 0 10px
}

.dk-sbol-button .dk-sbol__icon {
    -webkit-tap-highlight-color: transparent
}

.InvestMainPage-header {
    background: #ffffff
}

@media (min-width:768px) {
    .InvestMainPage-header {
        background: #ffffff;
        padding-bottom: 64px;
        padding-top: 32px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-header {
        padding-top: 40px
    }
}

.InvestMainPage-header__breadcrumbs-wrapper {
    background: #ffffff;
    border-radius: 16px 16px 0 0;
    margin-left: -24px;
    width: 100vw
}

.InvestMainPage-header__breadcrumbs {
    margin-top: -16px
}

@media (min-width:768px) {
    .InvestMainPage-header__breadcrumbs {
        margin: 0 auto;
        width: -moz-fit-content;
        width: fit-content
    }
}

.InvestMainPage-header__breadcrumbs ol {
    justify-content: center;
    padding-top: 10px
}

@media (min-width:768px) {
    .InvestMainPage-header__image-col {
        margin-top: 35px;
        opacity: 0;
        order: 1;
        transform: translateY(60px);
        transition: opacity .8s ease-out, transform .8s ease-out;
        transition-delay: 1s
    }
}

/* @media (min-width:1024px) {
    .InvestMainPage-header__image-col {
        margin-top: 85px
    }
} */

@media (min-width:1250px) {
    .InvestMainPage-header__image-col {
        margin-top: 87px
    }
}

.InvestMainPage-header__image-background {
    background: #ECF4FF;
    height: 211px;
    left: 50%;
    max-width: 100vw;
    min-width: 100%;
    position: relative;
    transform: translateX(-50%);
    width: 100vw
}

@media (min-width:768px) {
    .InvestMainPage-header__image-background {
        border-radius: 20px;
        height: 320px;
        max-width: calc(100vw - 56px);
        min-width: 100%
    }
}

@media (min-width:1024px) {
    .InvestMainPage-header__image-background {
        height: 480px
    }
}

@media (min-width:1250px) {
    .InvestMainPage-header__image-background {
        height: 520px
    }
}

.InvestMainPage-header__image {
    bottom: 0;
    display: block;
    height: 211px;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    width: 100%
}

@media (min-width:768px) {
    .InvestMainPage-header__image {
        height: 521px;
        width: unset
    }
}

.InvestMainPage-header__heading {
    color: #262626;
    margin-top: 32px;
    text-align: center
}

@media (min-width:768px) {
    .InvestMainPage-header__heading {
        margin-top: 56px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity .45s ease-out, transform .45s ease-out
    }
}

@media (min-width:1024px) {
    .InvestMainPage-header__heading {
        margin-top: 64px
    }
}

.InvestMainPage-header__labels {
    align-items: center;
    color: rgba(38, 38, 38, .7);
    display: flex;
    justify-content: center;
    margin-top: 12px;
    text-align: center;
    width: 100%
}

@media (min-width:768px) {
    .InvestMainPage-header__labels {
        opacity: 0;
        transform: translateY(40px);
        transition: opacity .45s ease-out .15s, transform .45s ease-out .15s
    }
}

@media (min-width:1024px) {
    .InvestMainPage-header__labels {
        margin-top: 16px
    }
}

.InvestMainPage-header_visible .InvestMainPage-header__heading, .InvestMainPage-header_visible .InvestMainPage-header__image-col, .InvestMainPage-header_visible .InvestMainPage-header__labels {
    opacity: 1;
    transform: translateY(0)
}

.static-collapsable {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 -20px
}

.static-collapsable:last-of-type {
    border-bottom: none
}

@media (min-width:768px) {
    .static-collapsable {
        margin: 0 -40px
    }
}

@media (min-width:1024px) {
    .static-collapsable {
        margin: 0
    }
}

.static-collapsable_view_rounded {
    border: none
}

.static-collapsable+.static-collapsable {
    border-top: none
}

.static-collapsable__header {
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 36px 64px 36px 20px;
    position: relative;
    text-align: left
}

@media (min-width:768px) {
    .static-collapsable__header {
        padding-left: 40px;
        padding-right: 219px
    }
}

@media (min-width:1024px) {
    .static-collapsable__header {
        margin: 0;
        padding-left: 0;
        padding-right: 179px
    }
}

.static-collapsable__header:focus {
    outline: none
}

body:not(.pointer-events) .static-collapsable__header:focus {
    outline: 2px solid #262626
}

.static-collapsable__header:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTUuOTUxNSAxNC42MzQ3QzE2LjQyMDEgMTUuMTIxOCAxNy4xNzk5IDE1LjEyMTggMTcuNjQ4NSAxNC42MzQ3QzE4LjExNzIgMTQuMTQ3NiAxOC4xMTcyIDEzLjM1NzkgMTcuNjQ4NSAxMi44NzA4TDEyIDdMNi4zNTE0NyAxMi44NzA4QzUuODgyODQgMTMuMzU3OSA1Ljg4Mjg0IDE0LjE0NzYgNi4zNTE0NyAxNC42MzQ3QzYuODIwMSAxNS4xMjE4IDcuNTc5OSAxNS4xMjE4IDguMDQ4NTMgMTQuNjM0N0wxMiAxMC41Mjc3TDE1Ljk1MTUgMTQuNjM0N1oiIGZpbGw9IiMyMzIzMjMiLz4KPC9zdmc+Cg==);
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 36px;
    transform: rotate(180deg);
    width: 24px
}

@media (min-width:768px) {
    .static-collapsable__header:after {
        right: 40px
    }
}

@media (min-width:1024px) {
    .static-collapsable__header:after {
        right: 0
    }
}

@media (min-width:768px) {
    .static-collapsable__header:after {
        top: 40px
    }
}

@media (min-width:1024px) {
    .static-collapsable__header:after {
        top: 48px
    }
}

@media (min-width:768px) {
    .static-collapsable__header {
        padding-bottom: 40px
    }
}

@media (min-width:1024px) {
    .static-collapsable__header {
        padding-bottom: 48px
    }
}

@media (min-width:768px) {
    .static-collapsable__header {
        padding-top: 40px
    }
}

@media (min-width:1024px) {
    .static-collapsable__header {
        padding-top: 48px
    }
}

.static-collapsable_expanded .static-collapsable__header {
    background: #F7F9FA
}

@media (min-width:1024px) {
    .static-collapsable_expanded .static-collapsable__header {
        background: none;
        padding-bottom: 12px
    }
}

@media (min-width:768px) {
    @media (min-width:1024px) {
        .static-collapsable_expanded .static-collapsable__header {
            padding-bottom: 16px
        }
    }
}

@media (min-width:1024px) {
    @media (min-width:1024px) {
        .static-collapsable_expanded .static-collapsable__header {
            padding-bottom: 24px
        }
    }
}

.static-collapsable_expanded .static-collapsable__header:after {
    transform: rotate(0deg)
}

.static-collapsable__content {
    display: none;
    margin: 0 20px
}

@media (min-width:768px) {
    .static-collapsable__content {
        margin: 0 40px
    }
}

@media (min-width:1024px) {
    .static-collapsable__content {
        margin: 0
    }
}

.static-collapsable_expanded .static-collapsable__content {
    display: block
}

.static-collapsable_view_rounded .static-collapsable__header {
    background: #F7F9FA;
    border-radius: 16px;
    margin: 0;
    padding: 24px 74px 24px 24px
}

.static-collapsable_view_rounded .static-collapsable__header:after {
    right: 24px;
    top: 24px
}

.static-collapsable_view_rounded .static-collapsable__content {
    padding: 0 24px
}

.static-breadcrumbs__list {
    display: flex;
    margin: 0
}

.static-breadcrumbs__item {
    display: none
}

@media (min-width:768px) {
    .static-breadcrumbs__item {
        display: block
    }
}

.static-breadcrumbs__item+.static-breadcrumbs__item, .static-breadcrumbs__item:first-of-type:last-of-type {
    padding-left: 13px;
    position: relative
}

@media (min-width:768px) {
    .static-breadcrumbs__item+.static-breadcrumbs__item, .static-breadcrumbs__item:first-of-type:last-of-type {
        margin-left: 8px
    }
}

.static-breadcrumbs__item+.static-breadcrumbs__item:before, .static-breadcrumbs__item:first-of-type:last-of-type:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjc5ODEzIDQuNDcyMkwwLjE0NzE1OSAwLjg0OTQwM0MtMC4wNDgxNjg5IDAuNjU1NTIxIC0wLjA0ODUzMzkgMC4zNDA4MTQgMC4xNDYzNDMgMC4xNDY0ODNDMC4zNDIxNTQgLTAuMDQ4MDgwNCAwLjY1ODc0NyAtMC4wNDgxMzU4IDAuODU0MjIgMC4xNDU5NTNMNC44NTMxNiA0LjEyMjFDNS4wNDg4MSA0LjMxNjEyIDUuMDQ4OTIgNC42MzExOSA0Ljg1MzY2IDQuODI1NTlMMC44NTQyMiA4LjgwMTc0QzAuNjU4NzQ3IDguOTk1ODIgMC4zNDIxNTQgOC45OTU3NyAwLjE0Njc1MSA4LjgwMTYxQy0wLjA0ODg2ODMgOC42MDc1NyAtMC4wNDg4NjgzIDguMjkyNSAwLjE0NjQ1OSA4LjA5ODE3TDMuNzk4MTMgNC40NzIyWiIgZmlsbD0iIzI2MjYyNiIgZmlsbC1vcGFjaXR5PSIwLjUiLz4KPC9zdmc+Cgo=) no-repeat 50%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 5px
}

@media (min-width:768px) {
    .static-breadcrumbs__item+.static-breadcrumbs__item:before, .static-breadcrumbs__item:first-of-type:last-of-type:before {
        transform: rotate(0deg)
    }
}

.static-breadcrumbs__item:first-of-type:last-of-type:before {
    transform: rotate(180deg)
}

.static-breadcrumbs__item_white_all+.static-breadcrumbs__item_white_all:before, .static-breadcrumbs__item_white_all:first-of-type:last-of-type:before, .static-breadcrumbs__item_white_mobile+.static-breadcrumbs__item_white_mobile:before, .static-breadcrumbs__item_white_mobile:first-of-type:last-of-type:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjc5ODEzIDQuNDcyMkwwLjE0NzE1OSAwLjg0OTQwM0MtMC4wNDgxNjg5IDAuNjU1NTIxIC0wLjA0ODUzMzkgMC4zNDA4MTQgMC4xNDYzNDMgMC4xNDY0ODNDMC4zNDIxNTQgLTAuMDQ4MDgwNCAwLjY1ODc0NyAtMC4wNDgxMzU4IDAuODU0MjIgMC4xNDU5NTNMNC44NTMxNiA0LjEyMjFDNS4wNDg4MSA0LjMxNjEyIDUuMDQ4OTIgNC42MzExOSA0Ljg1MzY2IDQuODI1NTlMMC44NTQyMiA4LjgwMTc0QzAuNjU4NzQ3IDguOTk1ODIgMC4zNDIxNTQgOC45OTU3NyAwLjE0Njc1MSA4LjgwMTYxQy0wLjA0ODg2ODMgOC42MDc1NyAtMC4wNDg4NjgzIDguMjkyNSAwLjE0NjQ1OSA4LjA5ODE3TDMuNzk4MTMgNC40NzIyWiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1vcGFjaXR5PSIxIi8+Cjwvc3ZnPgoK) no-repeat 50%
}

@media (min-width:768px) {
    .static-breadcrumbs__item_white_mobile+.static-breadcrumbs__item_white_mobile:before, .static-breadcrumbs__item_white_mobile:first-of-type:last-of-type:before {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjc5ODEzIDQuNDcyMkwwLjE0NzE1OSAwLjg0OTQwM0MtMC4wNDgxNjg5IDAuNjU1NTIxIC0wLjA0ODUzMzkgMC4zNDA4MTQgMC4xNDYzNDMgMC4xNDY0ODNDMC4zNDIxNTQgLTAuMDQ4MDgwNCAwLjY1ODc0NyAtMC4wNDgxMzU4IDAuODU0MjIgMC4xNDU5NTNMNC44NTMxNiA0LjEyMjFDNS4wNDg4MSA0LjMxNjEyIDUuMDQ4OTIgNC42MzExOSA0Ljg1MzY2IDQuODI1NTlMMC44NTQyMiA4LjgwMTc0QzAuNjU4NzQ3IDguOTk1ODIgMC4zNDIxNTQgOC45OTU3NyAwLjE0Njc1MSA4LjgwMTYxQy0wLjA0ODg2ODMgOC42MDc1NyAtMC4wNDg4NjgzIDguMjkyNSAwLjE0NjQ1OSA4LjA5ODE3TDMuNzk4MTMgNC40NzIyWiIgZmlsbD0iIzI2MjYyNiIgZmlsbC1vcGFjaXR5PSIwLjUiLz4KPC9zdmc+Cgo=) no-repeat 50%
    }
}

.static-breadcrumbs__item:last-of-type {
    display: block
}

.static-breadcrumbs__link {
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(38, 38, 38, .55);
    text-decoration: none;
    transition: color .2s linear
}

.static-breadcrumbs__link:hover {
    color: rgba(38, 38, 38, .7)
}

.static-breadcrumbs__link:active {
    color: #262626
}

body:not(.pointer-events) .static-breadcrumbs__link:focus {
    border: 2px solid #262626;
    color: #262626;
    outline: none
}

.static-breadcrumbs__item_white_all .static-breadcrumbs__link, .static-breadcrumbs__item_white_mobile .static-breadcrumbs__link {
    color: #ffffff
}

@media (min-width:768px) {
    .static-breadcrumbs__item_white_mobile .static-breadcrumbs__link {
        color: rgba(38, 38, 38, .55)
    }
}

.dk-sbol-icon {
    display: inline-block;
    flex-shrink: 0;
    overflow: hidden;
    position: relative
}

.dk-sbol-icon img, .dk-sbol-icon svg {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.dk-sbol-icon_size_sm {
    height: 24px;
    width: 24px
}

.dk-sbol-icon_size_md {
    height: 28px;
    width: 28px
}

.dk-sbol-icon_size_lg {
    height: 32px;
    width: 32px
}

.dk-sbol-icon_color_white svg {
    fill: #ffffff
}

.dk-sbol-icon_color_green svg {
    fill: #148F2A
}

.dk-sbol-icon_pointer {
    cursor: pointer
}

.dk-sbol-paginator {
    align-items: center;
    background: #ffffff;
    border: 1px solid rgba(38, 38, 38, .08);
    border-radius: 24px;
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 4px 8px rgba(38, 38, 38, .16);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    transition: border-color .2s linear, box-shadow .2s linear;
    width: 48px
}

.dk-sbol-paginator:hover {
    border: 1px solid rgba(38, 38, 38, .16);
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 8px 16px rgba(38, 38, 38, .16)
}

.dk-sbol-paginator:active {
    border: 1px solid rgba(38, 38, 38, .4);
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 2px 4px rgba(38, 38, 38, .16)
}

.dk-sbol-paginator_disabled, .dk-sbol-paginator_disabled:active, .dk-sbol-paginator_disabled:hover {
    border: 1px solid rgba(38, 38, 38, .08);
    box-shadow: none;
    cursor: default
}

.dk-sbol-paginator__icon {
    outline: none
}

.dk-sbol-paginator_disabled .dk-sbol-paginator__icon {
    opacity: .24
}

body:not(.pointer-events) .dk-sbol-paginator:focus {
    border: 2px solid #262626;
    box-shadow: none;
    outline: none
}

.static-carousel {
    color: #262626
}

.static-carousel__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px
}

@media (min-width:1024px) {
    .static-carousel__header {
        margin-bottom: 32px
    }
}

.static-carousel__header-wrapper {
    max-width: 100%
}

.static-carousel__controls {
    align-self: flex-end;
    display: flex
}

.static-carousel__paginators {
    display: none;
    margin-left: auto
}

@media (min-width:1024px) {
    .static-carousel__paginators {
        display: flex
    }
}

.static-carousel__paginator+.static-carousel__paginator {
    margin-left: 24px
}

.static-carousel__panel {
    margin: 0 -24px;
    position: relative
}

@media (min-width:1024px) {
    .static-carousel__panel {
        margin: 0
    }
}

.static-carousel__panel:after, .static-carousel__panel:before {
    content: "";
    display: none;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .15s ease-in-out;
    width: 60px
}

@media (min-width:768px) {
    .static-carousel__panel:after, .static-carousel__panel:before {
        display: block;
        width: 200px
    }
}

@media (min-width:1024px) {
    .static-carousel__panel:after, .static-carousel__panel:before {
        display: none
    }
}

.static-carousel__panel:before {
    background: linear-gradient(90deg, #FFFFFF, rgba(255, 255, 255, 0));
    left: 0
}

.static-carousel__panel:after {
    background: linear-gradient(270deg, #FFFFFF, rgba(255, 255, 255, 0));
    right: 0
}

.static-carousel__panel_left:before, .static-carousel__panel_right:after {
    opacity: 0
}

.static-carousel__scroll {
    -ms-overflow-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    width: 100%
}

.static-carousel__scroll::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.static-carousel__items {
    display: flex;
    padding: 0 24px 20px;
    width: -moz-fit-content;
    width: fit-content
}

@media (min-width:1024px) {
    .static-carousel__items {
        padding: 0
    }
}

.static-carousel__bulls {
    display: flex;
    justify-content: center;
    margin-top: 28px
}

@media (min-width:768px) {
    .static-carousel__bulls {
        display: none
    }
}

.static-carousel__bull {
    background: #D3DADD;
    border: none;
    border-radius: 24px;
    height: 8px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    transition: width .15s ease-in-out, background .15s ease-in-out;
    width: 8px
}

.static-carousel__bull:before {
    bottom: -16px;
    content: "";
    display: block;
    left: -8px;
    position: absolute;
    right: -8px;
    top: -16px
}

.static-carousel__bull_active {
    background: #148F2A;
    width: 32px
}

.static-carousel__bull+.static-carousel__bull {
    margin-left: 16px
}

.InvestMainPage-products {
    padding-bottom: 32px
}

.InvestMainPage-products__heading {
    color: rgba(38, 38, 38, .7);
    margin-bottom: 32px;
    text-align: center
}

.InvestMainPage-products__link {
    margin-top: 36px;
    text-align: center
}

@media (min-width:1024px) {
    .InvestMainPage-products__carousel {
        display: none !important
    }
}

.InvestMainPage-products__card {
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 8px 34px rgba(38, 38, 38, .03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 25px 15px;
    width: 260px
}

.InvestMainPage-products__card:not(:first-child) {
    margin-left: 24px
}

.InvestMainPage-products__card__image img {
    width: 80%
}

.InvestMainPage-products__card_info {
    padding: 0 20px
}

.InvestMainPage-products__card_info__name {
    color: #262626;
    margin-top: 34px
}

.InvestMainPage-products__card_info__description {
    color: rgba(38, 38, 38, .55);
    margin-bottom: 32px;
    margin-top: 12px
}

.InvestMainPage-products__grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    display: none;
    grid-template-columns: 1.170474fr repeat(2, .934293429427029fr);
    grid-template-rows: repeat(2, 1fr)
}

@media (min-width:1024px) {
    .InvestMainPage-products__grid {
        display: grid
    }
}

.InvestMainPage-products__grid_card {
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 8px 34px rgba(38, 38, 38, .03);
    cursor: pointer;
    display: flex;
    padding: 32px 64px;
    text-decoration: none;
    transition: .3s
}

.InvestMainPage-products__grid_card img {
    width: 70%
}

.InvestMainPage-products__grid_card_info {
    color: #262626
}

.InvestMainPage-products__grid_card_info__description {
    color: rgba(38, 38, 38, .55);
    margin-top: 16px
}

.InvestMainPage-products__grid_card_index_0 {
    align-items: center;
    flex-direction: column;
    grid-area: 1/1/3/2;
    justify-content: space-around;
    text-align: center
}

.InvestMainPage-products__grid_card_index_1 {
    flex-direction: row-reverse;
    grid-area: 1/2/2/4;
    justify-content: space-between
}

.InvestMainPage-products__grid_card_index_1 .InvestMainPage-products__grid_card__image {
    display: flex;
    justify-content: flex-end
}

.InvestMainPage-products__grid_card_index_2 {
    display: flex;
    flex-direction: column;
    grid-area: 2/2/3/3;
    justify-content: center;
    padding: 64px 0;
    text-align: center
}

.InvestMainPage-products__grid_card_index_2 img {
    display: none
}

.InvestMainPage-products__grid_card_index_3 {
    grid-area: 2/3/3/4;
    padding: 64px 40px
}

.InvestMainPage-products__grid_card_index_3 img {
    display: none
}

.InvestMainPage-learn__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 96px;
    text-align: center
}

.InvestMainPage-learn__card {
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgb(38 38 38/4%), 0 8px 34px rgb(38 38 38/3%);
    color: rgba(38, 38, 38, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    width: 280px
}

@media (min-width:768px) {
    .InvestMainPage-learn__card {
        width: 400px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-learn__card {
        width: calc(33.33333vw - 48.66667px)
    }
}

@media (min-width:1366px) {
    .InvestMainPage-learn__card {
        width: 366px
    }
}

.InvestMainPage-learn__card+.InvestMainPage-learn__card {
    margin-left: 24px
}

@media (min-width:1024px) {
    .InvestMainPage-learn__card+.InvestMainPage-learn__card {
        margin-left: 32px
    }
}

.InvestMainPage-learn__card_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 64px 23px
}

.InvestMainPage-learn__image {
    height: 128px;
    width: 128px
}

.InvestMainPage-learn__image img {
    height: 100%;
    width: 100%
}

.InvestMainPage-learn__text {
    margin-top: 32px
}

.InvestMainPage-learn__text_heading {
    margin-bottom: 16px
}

.static-carousel__items {
    padding: 12px 24px;
}

@media (min-width:768px) {
    .static-carousel__items {
        padding: 0 20px
    }
}

@media (min-width:1024px) {
    .static-carousel__items {
        padding: 0
    }
}

.InvestMainPage-utility__heading {
    display: flex;
    justify-content: center;
    margin-top: 48px
}

@media(min-width:1024px) {
    .InvestMainPage-utility__heading {
        margin-top: 96px
    }
}

.InvestMainPage-utility__card {
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    color: #262626;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    margin-top: 32px;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: .3s
}

.InvestMainPage-utility__card_wrapper {
    margin: 32px 0
}

.InvestMainPage-utility__card_text {
    color: rgba(38, 38, 38, .55);
    margin-top: 16px
}

.InvestMainPage-utility__card_text_wrapper {
    display: flex
}

.InvestMainPage-utility__card_image {
    height: 100px;
    margin-left: 10px;
    min-width: 100px;
    width: 100px
}

@media(min-width:1024px) {
    .InvestMainPage-utility__card_image {
        height: 144px;
        min-width: 144px;
        width: 144px
    }
}

.InvestMainPage-utility__card_image img {
    height: 100%;
    width: 100%
}

@media(min-width:1024px) {
    .InvestMainPage-utility__card {
        flex-direction: row;
        margin: 32px 0;
        text-align: left
    }
}

.InvestMainPage-products-switch {
    background: linear-gradient(180deg, #FFFFFF, #F4F8FA);
    padding-top: 32px;
    padding-bottom: 32px;
}

.InvestMainPage-products-switch__heading {
    color: #262626;
    text-align: center
}

.InvestMainPage-products-switch__radio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px
}

@media (min-width:768px) {
    .InvestMainPage-products-switch__radio-group {
        margin-top: 32px
    }
}

.dk-sbol-segmented {
    background: #ffffff;
    border: 1px solid rgba(38, 38, 38, .24);
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    width: max-content
}

.dk-sbol-segmented:after, .dk-sbol-segmented:before {
    background: #ffffff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0
}

.dk-sbol-segmented:before {
    left: 0
}

.dk-sbol-segmented:after {
    right: 0
}

.dk-sbol-segmented_size_sm:after, .dk-sbol-segmented_size_sm:before {
    width: 2px
}

.dk-sbol-segmented_size_lg:after, .dk-sbol-segmented_size_lg:before, .dk-sbol-segmented_size_md:after, .dk-sbol-segmented_size_md:before {
    width: 6px
}

.dk-sbol-segmented_size_sm {
    border-radius: 8px
}

.dk-sbol-segmented_size_md {
    border-radius: 12px
}

.dk-sbol-segmented_size_lg {
    border-radius: 16px
}

.dk-sbol-segmented__scroll {
    max-width: 100%;
    overflow-x: auto;
    width: max-content
}

.dk-sbol-segmented__scroll_disabled {
    max-width: unset;
    overflow-x: unset
}

.dk-sbol-segmented__panel {
    box-sizing: border-box;
    display: flex;
    width: max-content
}

.dk-sbol-segmented_size_sm .dk-sbol-segmented__panel {
    padding: 4px
}

.dk-sbol-segmented_size_lg .dk-sbol-segmented__panel, .dk-sbol-segmented_size_md .dk-sbol-segmented__panel {
    padding: 9px
}

.dk-sbol-segmented__control {
    box-sizing: border-box;
    color: #262626;
    cursor: pointer;
    letter-spacing: -.3px;
    outline: none;
    transition: color .2s linear, background .2s linear;
    width: max-content
}

.dk-sbol-segmented__control_size_sm {
    border-radius: 4px;
    font: 500 13px/16px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 24px;
    padding: 4px 8px
}

.dk-sbol-segmented__control_size_sm+.dk-sbol-segmented__control_size_sm {
    margin-left: 4px
}

.dk-sbol-segmented__control_size_md {
    border-radius: 8px;
    font: 500 15px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 36px;
    padding: 8px 12px
}

.dk-sbol-segmented__control_size_md+.dk-sbol-segmented__control_size_md {
    margin-left: 8px
}

.dk-sbol-segmented__control_size_lg {
    border-radius: 12px;
    font: 500 19px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 48px;
    padding: 12px 16px
}

.dk-sbol-segmented__control_size_lg+.dk-sbol-segmented__control_size_lg {
    margin-left: 12px
}

.dk-sbol-segmented__control:hover {
    background: rgba(38, 38, 38, .08)
}

.dk-sbol-segmented__control:active {
    background: rgba(38, 38, 38, .16)
}

.dk-sbol-segmented__control_disabled, .dk-sbol-segmented__control_disabled:active, .dk-sbol-segmented__control_disabled:hover {
    background: transparent;
    color: rgba(38, 38, 38, .55);
    cursor: default
}

.dk-sbol-segmented__control_checked, .dk-sbol-segmented__control_checked.dk-sbol-segmented__control_disabled:active, .dk-sbol-segmented__control_checked.dk-sbol-segmented__control_disabled:hover, .dk-sbol-segmented__control_checked:active, .dk-sbol-segmented__control_checked:hover {
    background: #148F2A;
    box-shadow: 0 1px 2px rgba(38, 38, 38, .04), 0 4px 8px rgba(38, 38, 38, .16);
    color: #ffffff;
    cursor: default
}

body:not(.pointer-events) .dk-sbol-segmented .dk-sbol-segmented__control:focus {
    box-shadow: 0 0 0 2px #262626, 0 1px 2px rgba(38, 38, 38, .04), 0 4px 8px rgba(38, 38, 38, .16)
}

.dk-sbol-tabs {
    border-bottom: 1px solid rgba(38, 38, 38, .04);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

@media(min-width:1024px) {
    .dk-sbol-tabs {
        overflow: visible;
        white-space: normal;
        width: 100%
    }
}

.dk-sbol-tabs__tab {
    border-radius: 4px;
    color: rgba(38, 38, 38, .7);
    cursor: pointer;
    display: inline-flex;
    letter-spacing: -.3px;
    outline: none;
    position: relative
}

.dk-sbol-tabs__tab:hover {
    color: #262626
}

body:not(.pointer-events) .dk-sbol-tabs__tab:focus {
    border: 2px solid #262626
}

.dk-sbol-tabs__tab:after {
    background-color: initial;
    border-radius: 3px 3px 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    transition: background-color .2s ease-out;
    width: 100%
}

body:not(.pointer-events) .dk-sbol-tabs__tab:first-of-type:focus {
    margin-left: 18px
}

@media (min-width:1024px) {
    body:not(.pointer-events) .dk-sbol-tabs__tab:first-of-type:focus {
        margin-left: -2px
    }
}

@media (max-width:767px) {
    .dk-sbol-tabs__tab:first-of-type {
        margin-left: 20px
    }
}

.dk-sbol-tabs__tab_active {
    color: #262626
}

.dk-sbol-tabs__tab_active:after {
    background-color: #148F2A
}

.dk-sbol-tabs__tab_size_sm {
    font: 500 13px/16px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px
}

body:not(.pointer-events) .dk-sbol-tabs__tab_size_sm:focus {
    margin-left: -2px;
    margin-right: 14px;
    padding-bottom: 10px;
    padding-top: 10px
}

.dk-sbol-tabs__tab_size_md {
    font: 500 15px/20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 20px;
    padding-bottom: 16px;
    padding-top: 16px
}

body:not(.pointer-events) .dk-sbol-tabs__tab_size_md:focus {
    margin-left: -2px;
    margin-right: 18px;
    padding-bottom: 14px;
    padding-top: 14px
}

.dk-sbol-tabs__tab_size_lg {
    font: 500 19px/24px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px
}

body:not(.pointer-events) .dk-sbol-tabs__tab_size_lg:focus {
    margin-left: -2px;
    margin-right: 22px;
    padding-bottom: 18px;
    padding-top: 18px
}

@media (min-width:1366px) {
    .InvestMainPage-collections {
        padding: 0 9px
    }
}

.InvestMainPage-collections__block {
    background: #DDF2ED;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 80px 0
}

.InvestMainPage-collections__block>:not(:first-child) {
    margin-top: 32px
}

@media (min-width:768px) {
    .InvestMainPage-collections__block>:not(:first-child) {
        margin-top: 48px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__block>:not(:first-child) {
        margin-top: 56px
    }
}

.InvestMainPage-collections__heading {
    color: #262626;
    text-align: center
}

.InvestMainPage-collections__heading .dk-sbol-heading {
    font-size: 26px
}

@media (min-width:768px) {
    .InvestMainPage-collections__heading .dk-sbol-heading {
        font-size: 34px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__heading .dk-sbol-heading {
        font-size: 42px
    }
}

.InvestMainPage-collections__group-heading {
    display: flex;
    flex-direction: column
}

.InvestMainPage-collections__group-heading>:not(:first-child) {
    margin-top: 4px
}

@media (min-width:768px) {
    .InvestMainPage-collections__group-heading>:not(:first-child) {
        margin-top: 8px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__group-heading>:not(:first-child) {
        margin-top: 12px
    }
}

.InvestMainPage-collections__group-heading__header {
    color: #24282B;
    font-size: 20px
}

@media (min-width:768px) {
    .InvestMainPage-collections__group-heading__header {
        font-size: 24px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__group-heading__header {
        font-size: 30px
    }
}

.InvestMainPage-collections__group-heading__description {
    color: #494F54;
    font-size: 15px
}

@media (min-width:768px) {
    .InvestMainPage-collections__group-heading__description {
        font-size: 20px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__group-heading__description {
        font-size: 22px
    }
}

.InvestMainPage-collections__divider {
    width: 100%
}

.InvestMainPage-collections__divider__line {
    border-top: 2px solid rgba(0, 0, 0, .08);
    margin: 0 16px 4px
}

@media (min-width:768px) {
    .InvestMainPage-collections__divider__line {
        margin: 0 40px 4px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collections__divider__line {
        margin: 0 74px 4px
    }
}

.InvestMainPage-collection-card {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px
}

.InvestMainPage-collection-card:not(:first-child) {
    margin-left: 16px
}

.InvestMainPage-collection-card__info {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 20px
}

.InvestMainPage-collection-card__image {
    height: 64px;
    width: 64px
}

.InvestMainPage-collection-card__heading {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 12px
}

.InvestMainPage-collection-card__heading>:not(:first-child) {
    margin-top: 4px
}

@media (min-width:768px) {
    .InvestMainPage-collection-card__heading>:not(:first-child) {
        margin-top: 8px
    }
}

.InvestMainPage-collection-card__heading .dk-sbol-heading {
    color: #24282B;
    font-size: 15px;
    line-height: 24px
}

@media (min-width:768px) {
    .InvestMainPage-collection-card__heading .dk-sbol-heading {
        font-size: 17px
    }
}

@media (min-width:1024px) {
    .InvestMainPage-collection-card__heading .dk-sbol-heading {
        font-size: 20px
    }
}

.InvestMainPage-collection-card__heading .dk-sbol-text {
    color: #494F54;
    font-size: 13px;
    line-height: 20px
}

.InvestMainPage-collection-card__footer {
    align-items: center;
    display: flex;
    flex-direction: column
}

.InvestMainPage-collection-card__badges {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
    width: 100%
}

.InvestMainPage-collection-card__badges>:not(:first-child) {
    margin-top: 8px
}

.InvestMainPage-collection-card__badge {
    align-items: center;
    background: #EDF8FF;
    border-radius: 8px;
    color: #067DCC;
    display: flex;
    justify-content: center;
    padding: 6px 0;
    text-decoration: none;
    width: 100%
}

.InvestMainPage-collection-card__badge svg {
    background: white;
    border-radius: 50%;
    color: #52BAFF;
    height: 16px;
    margin-right: 4px;
    object-fit: cover;
    width: 16px
}

.InvestMainPage-collection-card__badge .dk-sbol-text {
    color: #067DCC;
    font-size: 13px;
    line-height: 20px
}

.InvestMainPage-collection-card__badge:hover {
    background: #078BE4
}

.InvestMainPage-collection-card__badge:hover svg {
    background: #078BE4;
    color: #CFECFF
}

.InvestMainPage-collection-card__badge:hover .dk-sbol-text {
    color: #CFECFF
}

.InvestMainPage-collection-card__buttons {
    align-items: center;
    border-top: 1px solid #d1dde5;
    box-sizing: border-box;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    padding: 16px;
    width: 100%
}

.InvestMainPage-collection-card__buttons>a {
    text-decoration: none
}

@media (min-width:768px) {
    .InvestMainPage-collection-card__buttons {
        grid-template-columns: repeat(2, 1fr)
    }
}

.InvestMainPage-collection-card__buttons .dk-sbol-button {
    border-radius: 8px;
    height: 44px
}

.InvestMainPage-collection-card__buttons .dk-sbol-button__text {
    font-size: 15px
}

.InvestFinBox {
    background: #F2F5F7;
    display: flex;
    flex-direction: column
}

.InvestFinBox>:not(:first-child) {
    margin-top: 4px
}

.InvestFinBox_size_sm {
    border-radius: 8px;
    padding: 4px 8px 4px 12px
}

.InvestFinBox_size_sm .InvestFinBox__value .dk-sbol-text {
    font-size: 13px;
    line-height: 20px
}

.InvestFinBox_size_sm-compact {
    border-radius: 4px;
    padding: 4px 6px
}

.InvestFinBox_size_sm-compact .InvestFinBox__value .dk-sbol-text {
    font-size: 13px;
    line-height: 20px
}

.InvestFinBox_size_md {
    border-radius: 8px;
    padding: 6px 8px 6px 12px
}

.InvestFinBox_size_md-compact {
    border-radius: 4px;
    padding: 2px 8px
}

.InvestFinBox_size_lg {
    border-radius: 8px;
    padding: 8px 8px 8px 12px
}

.InvestFinBox_size_lg-compact {
    border-radius: 8px;
    padding: 4px 8px
}

.InvestFinBox_trend_up {
    background: linear-gradient(90deg, #DBFFF5, #F2F5F7)
}

.InvestFinBox_trend_down {
    background: linear-gradient(90deg, #FFE7E9, #F2F5F7)
}

.InvestFinBox__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.InvestFinBox__row>:not(:first-child) {
    margin-left: 4px
}

.InvestFinBox__title {
    color: #677178;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.InvestFinBox__icon {
    flex-shrink: 0;
    height: 16px;
    width: 16px
}

.InvestFinBox__value {
    align-items: center;
    display: flex;
    flex-shrink: 0
}

.InvestFinBox__value>:not(:first-child) {
    margin-left: 2px
}

.InvestFinBox__value .dk-sbol-text {
    color: #24282B;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    white-space: normal
}

.InvestFinBox__value_trend_up .dk-sbol-text {
    color: #197D61
}

.InvestFinBox__value_trend_down .dk-sbol-text {
    color: #E31227
}

.InvestBadges__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

.InvestBadges__wrapper>:not(:first-child) {
    margin: 4px 0 4px 4px
}

.InvestBadges__badge {
    align-items: center;
    box-sizing: border-box;
    display: flex
}

.InvestBadges__badge_size_sm {
    border-radius: 4px;
    min-height: 20px;
    padding: 2px
}

.InvestBadges__badge_size_md {
    border-radius: 4px;
    min-height: 26px;
    padding: 4px
}

.InvestBadges__badge_size_lg {
    border-radius: 8px;
    min-height: 32px;
    padding: 4px
}

.InvestBadges__badge__icon {
    align-items: center;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px
}

@media (min-width:768px) {
    .InvestBadges__badge__icon {
        height: 18px;
        width: 18px
    }
}

@media (min-width:1024px) {
    .InvestBadges__badge__icon {
        height: 24px;
        width: 24px
    }
}

.InvestBadges__badge__title {
    color: #24282B;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 2px;
    margin-right: 2px
}

@media (min-width:768px) {
    .InvestBadges__badge__title {
        margin-left: 4px;
        margin-right: 4px
    }
}

.static-invest-carousel {
    color: #262626;
    display: flex;
    flex-direction: column
}

.static-invest-carousel__grid {
    padding: 0 58px
}

.static-invest-carousel__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0 16px
}

@media (min-width:768px) {
    .static-invest-carousel__header {
        padding: 0 40px
    }
}

@media (min-width:1024px) {
    .static-invest-carousel__header {
        margin-bottom: 32px;
        padding: 0 74px
    }
}

.static-invest-carousel__header-wrapper {
    max-width: 100%
}

.static-invest-carousel__controls {
    align-self: center;
    display: flex
}

.static-invest-carousel__paginators {
    display: none;
    margin-left: auto
}

@media (min-width:768px) {
    .static-invest-carousel__paginators {
        display: flex
    }
}

.static-invest-carousel__paginator+.static-invest-carousel__paginator {
    margin-left: 24px
}

.static-invest-carousel__panel {
    padding: 0 1px;
    position: relative
}

.static-invest-carousel__panel:after, .static-invest-carousel__panel:before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .15s ease-in-out;
    width: 60px
}

@media (min-width:768px) {
    .static-invest-carousel__panel:after, .static-invest-carousel__panel:before {
        width: 200px
    }
}

.static-invest-carousel__panel:before {
    background: linear-gradient(90deg, #DDF2ED, rgba(233, 246, 246, 0));
    left: 0;
    width: 40px
}

.static-invest-carousel__panel:after {
    background: linear-gradient(270deg, #DDF2ED, rgba(233, 246, 246, 0));
    right: 0;
    width: 40px
}

.static-invest-carousel__panel_left:before, .static-invest-carousel__panel_right:after {
    opacity: 0
}

.static-invest-carousel__scroll {
    -ms-overflow-style: none;
    cursor: grab;
    cursor: -webkit-grab;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%
}

.static-invest-carousel__scroll::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.static-invest-carousel__scroll:active {
    cursor: grabbing;
    cursor: -webkit-grabbing
}

.static-invest-carousel__items {
    display: flex;
    padding: 0 16px 20px;
    width: -moz-fit-content;
    width: fit-content
}

@media (min-width:768px) {
    .static-invest-carousel__items {
        padding: 0 40px 20px
    }
}

@media (min-width:1024px) {
    .static-invest-carousel__items {
        padding: 0 74px 20px
    }
}

.static-invest-carousel__bulls {
    display: flex;
    justify-content: center;
    margin-top: 28px
}

@media (min-width:768px) {
    .static-invest-carousel__bulls {
        display: none
    }
}

.static-invest-carousel__bull {
    background: #D3DADD;
    border: none;
    border-radius: 24px;
    height: 8px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    transition: width .15s ease-in-out, background .15s ease-in-out;
    width: 8px
}

.static-invest-carousel__bull:before {
    bottom: -16px;
    content: "";
    display: block;
    left: -8px;
    position: absolute;
    right: -8px;
    top: -16px
}

.static-invest-carousel__bull_active {
    background: #148F2A;
    width: 32px
}

.static-invest-carousel__bull+.static-invest-carousel__bull {
    margin-left: 16px
}