.sectionHeadline {
    font-size: 24px;
    color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionSubheadline {
    font-weight: 500;
    color: #e31e24;
    font-size: 2em;
    margin-bottom: calc(30px - 0.15em);
    margin-top: -0.15em;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .sectionHeadline {
        font-size: 2.25em;
    }

    .sectionSubheadline {
        font-size: 1.75em;
        margin-bottom: 15px;
    }


}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.bp-container {
    padding-top: 100px;
}

.InvestMainPage-header__image-col video {
    width: 100%;
    border: 4px solid #148F2A;
}

.InvestMainPage-header__image-col .video-text {
    margin: 5px 0 0;
    text-align: center;
    color: #969696;
    font: 400 14px/18px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.3px;
}

.InvestMainPage-header__heading-border {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 10px;
    margin-top: 32px;
}

.InvestMainPage-header__heading {
    font-weight: 700;
    text-transform: uppercase;
    background: #148F2A;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0;
}

.top_form {
    max-width: 400px;
    /* border-top: 5px solid #e31e24; */
    /* margin: 25px auto; */
}

.hero-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBarCTA {
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 210px;
    font-size: 11px;
    right: 15px;
    bottom: 35px;
    max-width: 100px;
    font-weight: 400;
}

.count-wrap {
    display: flex;
    align-items: center;
}

.dateBox {
    font-size: 12px;
}

.heroRow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    background: white;
    width: 100%;
    height: 60px;
    background: orange;
}

#heroSection .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeadline {
    margin-top: 0;
    margin-bottom: 15px;
}

input[type='range'] {
    writing-mode: horizontal-tb !important;
}

.t415__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 250px;
}

.link {
    background-color: #e31e24;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: white;
}

#heroSection {
    padding-bottom: 50px;
}

.header {
    height: 50px;
    background: #424242;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 9999999;
    top: 0;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroSection {
    margin-top: 45px;
}

.form-section {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #fff;
}

#heroLogos {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
    #heroLogos {
        padding: 10px 0;
    }
}

@media screen and (max-width: 1199px) {
    #heroLogos {
        padding: 15px 0 10px;
    }
}

#heroLogos .flex-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    #heroLogos .flex-row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1199px) {
    #heroLogos .flex-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#heroLogos .flex-row img {
    height: auto;
    width: 90px;
    margin: 5px 10px;
}

#heroLogos .flex-row .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
}

@media screen and (min-width: 1200px) {
    #heroLogos .flex-row .steps {
        border-left: 1px solid #e6e6e6;
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    #heroLogos .flex-row .steps {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 767px) {
    #heroLogos .flex-row .steps {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#heroLogos .flex-row .steps .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    #heroLogos .flex-row .steps .step:not(:last-child) {
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width: 1199px) {
    #heroLogos .flex-row .steps .step {
        margin: 10px;
    }
}

#heroLogos .flex-row .steps .step .step-badge {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    color: #e31e24;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 15px 0 0;
    position: relative;
    z-index: 10;
}

#heroLogos .flex-row .steps .step .step-badge span {
    font-size: 2.25em;
    font-weight: 800;
}

#heroLogos .flex-row .steps .step .step-badge::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
    border: 3px solid #f19122;
    border-width: 3px 3px 0 0;
    border-radius: 3px;
}

#heroLogos .flex-row .steps .step p {
    color: #09102d;
    text-align: left;
    position: relative;
    z-index: 10;
    line-height: 1.2;
    font-size: 0.85em;
}

#heroLogos {
    margin-bottom: 30px;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-row:after,
.flex-row:before {
    display: block;
}

#cryptoMedia {
    background-color: #fff;
}

#cryptoMedia .logosBar {
    background: white;
}

@media screen and (min-width: 768px) {
    #cryptoMedia .logosBar {
        padding: 15px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 767px) {
    #cryptoMedia .logosBar {
        padding: 10px;
        margin-bottom: 30px;
    }
}

#cryptoMedia .logosBar .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fond__left img {
    display: block;
    width: 300px;
    margin: 10px auto;
}

@media screen and (min-width: 992px) {
    #cryptoMedia .logosBar .logos img {
        height: 25px;
        margin: 5px 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #cryptoMedia .logosBar .logos img {
        height: 20px;
        margin: 10px 15px;
    }
}

@media screen and (max-width: 767px) {
    #cryptoMedia .logosBar .logos img {
        height: 16px;
        margin: 5px 10px;
    }
}

#userReviews {
    background: rgb(244, 248, 250);
}

#userReviews .reviewsDivider {
    margin: 30px 0;
    color: #09102d;
}

.card-review {
    border: 1px solid #f2f2f2 !important;
}

#userReviews .user-review {
    padding-bottom: 15px;
}

#userReviews .user-picture {
    margin-bottom: 15px;
}

.card-picture img {
    width: 100%;
    height: 260px;
    object-position: 50% 30%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}

#userReviews .user-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#userReviews .user-name {
    font-weight: 800;
    font-size: 1.25em;
    color: #148F2A;
    text-align: center;
}

#userReviews .user-rating {
    color: #f5d33c;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    padding: 0.5em 0;
}

#userReviews .user-quote {
    position: relative;
    text-align: center;
    margin-top: 15px;
}

#userReviews .chatTestimonial--msg {
    pointer-events: none;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#userReviews .chatTestimonial--msg ::-webkit-scrollbar {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
}

#userReviews .chatTestimonial--msg ::-webkit-scrollbar-track {
    background: transparent;
}

#userReviews .chatTestimonial--msg ::-webkit-scrollbar-thumb {
    background: #b3ada7;
}

#userReviews .chatTestimonial--msg .clearfix:after,
#userReviews .chatTestimonial--msg .messages:after {
    content: '';
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

#userReviews .chatTestimonial--msg .screen-chat {
    background-color: #fff;
    height: 600px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

#userReviews .chatTestimonial--msg .status-bar {
    height: 55px;
    background: #2570c3;
    color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    font-size: 24px;
    position: relative;
    z-index: 1;
    padding: 0 8px;
    text-align: left;
}

#userReviews .chatTestimonial--msg .status-bar:after {
    content: '';
    display: table;
    clear: both;
}

#userReviews .chatTestimonial--msg .status-bar div {
    float: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

#userReviews .chatTestimonial--msg .status-bar .actions {
    float: right;
    margin: 0 0 0 20px;
}

#userReviews .chatTestimonial--msg .status-bar .actions.more {
    margin: 0 12px 0 32px;
}

#userReviews .chatTestimonial--msg .status-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
}

#userReviews .chatTestimonial--msg .status-bar .avatar img {
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
}

#userReviews .chatTestimonial--msg .status-bar .name {
    font-size: 17px;
    font-weight: 600;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
}

#userReviews .chatTestimonial--msg .status-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
}

#userReviews .chatTestimonial--msg .conversation {
    height: calc(100% - 105px);
    overflow: auto;
    padding: 16px;
    padding-bottom: 0;
    text-align: left;
    pointer-events: none;
    overflow-y: hidden;
}

#userReviews .chatTestimonial--msg .messages {
    margin-bottom: 10px;
}

#userReviews .chatTestimonial--msg .messages--received .message {
    float: left;
    background-color: #ddd;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#userReviews .chatTestimonial--msg .messages--received .message:first-child {
    border-top-left-radius: 15px;
}

#userReviews .chatTestimonial--msg .messages--received .message:last-child {
    border-bottom-left-radius: 15px;
}

#userReviews .chatTestimonial--msg .messages--sent .message {
    float: right;
    background-color: #1998e6;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#userReviews .chatTestimonial--msg .messages--sent .message:first-child {
    border-top-right-radius: 15px;
}

#userReviews .chatTestimonial--msg .messages--sent .message:last-child {
    border-bottom-right-radius: 15px;
}

#userReviews .chatTestimonial--msg .messages--sent .message a {
    color: white;
    text-decoration: underline;
}

#userReviews .chatTestimonial--msg .message {
    display: inline-block;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 13px;
    border-radius: 15px;
    line-height: 1.4;
}

#userReviews .chatTestimonial--msg .text-bar {
    height: 50px;
    border-top: 1px solid #e6e6e6;
}

#userReviews .chatTestimonial--msg .text-bar__field {
    float: left;
    width: calc(100% - 50px);
    height: 100%;
}

#userReviews .chatTestimonial--msg .text-bar__field input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#userReviews .chatTestimonial--msg .text-bar__field input[disabled] {
    background: white;
}

#userReviews .chatTestimonial--msg .text-bar__thumb {
    float: left;
    width: 50px;
    height: 100%;
    padding: 10px;
}

#userReviews .chatTestimonial--msg .text-bar__thumb .thumb {
    width: 100%;
    height: 100%;
    cursor: default;
}

#userReviews .chatTestimonial--msg .thumb {
    display: block;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }

    50% {
        -webkit-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }

    100% {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
}

@keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }

    50% {
        -webkit-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }

    100% {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
}

@-webkit-keyframes wiggle2 {
    0% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }

    50% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }

    100% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
}

@keyframes wiggle2 {
    0% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }

    50% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }

    100% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
}

#userReviews .chatTestimonial--msg .thumb {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAABaBAMAAADQury/AAAAHlBMVEUAAAAMaMUib8Adb8ImcMIhb8IhcMQgbsQib8Mhb8NJpu5nAAAACXRSTlMAFjVHZIWw0u/RZiLMAAABy0lEQVRIx72WO1PCQBSFb2IQS+AXQLSx04kNXQos6LDQkY4ZH4wdYyHSCTZJKYaw599aEMIzy7kz6i0zX27OnnuyuyJF1TUPQpYD4JVkXQAIFWzCsR4AoK5gexRbAgBMKfYYADCj2DIAYE6xJwAAU2HYcwAAKLYJ3rSugh3xrAOe9Qzvw8Jezt/MspRfmknolAFjXgKTSTfmLcsGzCytlKFM1F9Ayz1eooTcLmi5bt72WyFhQM+B2aJyuYcD6cT80rxcwoxNObVLNnO5CT9gpDXfD4Ig8BvVQ5NYq2j4WLFOYrM+rZPYqBgXNrlbtZvloyJ0z1ZRLmTRKQzDbo0ZxwpGbpEAw7oAACI13/d9v2EdRGZEaRFX0xERx9p2Iu08gG7r3oYilDj/gmclkYqsfq4D7NcGa6zsWNE3UbBGwcYdnsVEwaa8D4Ci71zBThVsyLMzhb89RR7qir4atqNgBwp2yrMmVfigya+p8Oz8b9aGkGcT4X0Ihe47E579ULCDf2LN7+iNe4q+db7v4oqyOi/cfnzgLG6vvVm7ft+vNrv5rJ9vInJ2N9oT8+U9Y/3cFBFxrvrRFnpjuUpVT1u3z/1hFCGOoreny+zxD/WlHhUvwe2HAAAAAElFTkSuQmCC');
}

#userReviews .chatTestimonial--wa {
    pointer-events: none;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    overflow: hidden;
}

#userReviews .chatTestimonial--wa .status-bar {
    height: 25px;
    background: #004e45;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
}

#userReviews .chatTestimonial--wa .status-bar:after {
    content: '';
    display: table;
    clear: both;
}

#userReviews .chatTestimonial--wa .status-bar div {
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 0 0 8px;
    font-weight: 600;
}

#userReviews .chatTestimonial--wa .chat-container {
    height: 100%;
    overflow: hidden;
}

#userReviews .chatTestimonial--wa .user-bar {
    height: 55px;
    overflow: hidden;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#userReviews .chatTestimonial--wa .user-bar:after {
    content: '';
    display: table;
    clear: both;
}

#userReviews .chatTestimonial--wa .user-bar div {
    float: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

#userReviews .chatTestimonial--wa .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
}

#userReviews .chatTestimonial--wa .user-bar .actions.more {
    margin: 0 12px 0 32px;
}

#userReviews .chatTestimonial--wa .user-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
}

#userReviews .chatTestimonial--wa .user-bar .avatar img {
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
}

#userReviews .chatTestimonial--wa .user-bar .name {
    font-size: 17px;
    font-weight: 600;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
}

#userReviews .chatTestimonial--wa .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
}

#userReviews .chatTestimonial--wa .conversation {
    height: 545px;
    position: relative;
    background: #efe7dd;
    z-index: 0;
}

#userReviews .chatTestimonial--wa .conversation ::-webkit-scrollbar {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
}

#userReviews .chatTestimonial--wa .conversation ::-webkit-scrollbar-track {
    background: transparent;
}

#userReviews .chatTestimonial--wa .conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
}

#userReviews .chatTestimonial--wa .conversation .conversation-container {
    height: calc(100% - 68px);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
    width: 100%;
    pointer-events: none;
}

#userReviews .chatTestimonial--wa .conversation .conversation-container:after {
    content: '';
    display: table;
    clear: both;
}

#userReviews .chatTestimonial--wa .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 13px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
}

#userReviews .chatTestimonial--wa .message:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

#userReviews .chatTestimonial--wa .metadata .time {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
}

#userReviews .chatTestimonial--wa .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
}

#userReviews .chatTestimonial--wa .metadata .tick img {
    position: absolute;
    width: 16px;
    height: auto;
}

#userReviews .chatTestimonial--wa .metadata .tick img:first-child {
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
}

#userReviews .chatTestimonial--wa .metadata .tick img:last-child {
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
}

#userReviews .chatTestimonial--wa .message:first-child {
    margin: 16px 0 8px;
}

#userReviews .chatTestimonial--wa .message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}

#userReviews .chatTestimonial--wa .message.received .metadata {
    padding: 0 0 0 16px;
}

#userReviews .chatTestimonial--wa .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

#userReviews .chatTestimonial--wa .message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

#userReviews .chatTestimonial--wa .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
}

#userReviews .chatTestimonial--wa .conversation-compose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
    height: 50px;
    width: 100%;
    z-index: 2;
}

#userReviews .chatTestimonial--wa .conversation-compose div,
#userReviews .chatTestimonial--wa .conversation-compose input {
    background: #fff;
    height: 100%;
}

#userReviews .chatTestimonial--wa .conversation-compose .emoji {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: white;
    border-radius: 5px 0 0 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 48px;
}

#userReviews .chatTestimonial--wa .conversation-compose .input-msg {
    border: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    margin: 0;
    outline: none;
    min-width: 50px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#userReviews .chatTestimonial--wa .conversation-compose .input-msg[disabled] {
    background: white;
}

#userReviews .chatTestimonial--wa .conversation-compose .photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 48px;
}

#userReviews .chatTestimonial--wa .conversation-compose .photo:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    top: 0;
    right: -10px;
}

#userReviews .chatTestimonial--wa .conversation-compose .photo i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}

#userReviews .chatTestimonial--wa .conversation-compose .send {
    background: transparent;
    border: 0;
    cursor: default;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
}

#userReviews .chatTestimonial--wa .conversation-compose .send .circle {
    background: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#userReviews .chatTestimonial--wa .conversation-compose .send .circle i {
    font-size: 18px;
}

.reviews-swiper {
    max-width: 500px;
}

.swiper-slide {
    padding: 10px 15px;
}

.swiper-dots {
    text-align: center;
}

:root {
    --swiper-theme-color: #148F2A;
}