.articleContent p { margin: 10px 0; }
.articleContent figure { text-align:left; margin: 10px 0; }
.articleContent b {color:#333;}
.articleContent h2 {font-size:24px;line-height:1.3em;font-weight:bold;margin:30px 0 4px 0;}
.articleContent h3 {font-size: 20px; line-height: 1.3em; font-weight: 500; margin-top: 24px;}
.articleContent b.mb {font-size:130%;font-weight:normal;}
.articleContent blockquote { border-left: 0; display: inline-block; font-size:100%; color:#585752; margin: 8px 0 10px -14px; background: #f7f5ec; padding: 10px 28px 10px 14px; }
.articleContent blockquote p { margin: 8px 0; }
.articleContent blockquote.lf {float:left;width:45%;}
.articleContent blockquote img {
	float: left !important;
	margin: 0 20px 10px 0 !important;
}
.articleContent ul, .articlePage .articleContent ol { margin: 0 0 15px 28px; }
.articleContent ol { margin-left: 40px;  }
.articleContent li { margin: 5px 0; list-style-position: inherit; }
.articleContent hr { clear:both; border:0; border-bottom:1px solid #ccc; height:12px; margin-bottom:6px; }
.articleContent img { border-color: #e9e9e9; max-width: 640px;}
.articleContent table { border-collapse: collapse; font-size: 1em !important; }
.articleContent table td { padding: 7px 6px; border: 1px solid #ddd; vertical-align: top; }
.articleContent table.no-border td { border: none; }
.articleContent table thead td { border-bottom: 2px solid #666 !important; font-weight: bold !important; }

.articleContent .number-block { 
	background: #edf6f6; 
	border: 4px solid #c7dee3; 
	padding: 20px 30px; 
	text-align: center; 
	vertical-align: central;
	font-family: Georgia, "Times New Roman", serif;
	color: #000;
	line-height: normal;
	margin-bottom:10px
}
.articleContent .number-block .number-big {
	font-size: 90px;	
	font-weight: bold;
	margin-bottom:10px;
}
.articleContent .number-block .number-big-text {
	font-size:38px;	
	margin-bottom:20px;
}
.articleContent .number-block .number-text {
	font-size:20px;
}
.articleContent .number-block .number-source {
	font-size:13px;
	color: #777;
	margin-top:30px;
}

/* cards*/
.material-card { 
	background: #fcfbf9;
	border: 1px solid #c3c9dc;
	padding: 10px 14px;
	margin: 10px 0 30px 0;
}
.material-card .material-card-number {
	font-size: 0.85em;
	color: #c3c9dc;
	text-align: center;
	margin: 0;
}
.material-card .material-card-title {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px
}

.material-card .material-card-text {	
}


@media screen and (max-width:992px) {
	
	.articleContent img {
		max-width:100% !important; height:auto !important;
	}
	
	.articleContent table td {
		word-break: break-word;	
	}
	
	.articleContent .number-block {
		 padding: 20px; 
	}
	.articleContent .number-block .number-big {
		font-size: 70px; 
	}
	.articleContent .number-block .number-big-text {
		font-size:30px;
	}
	.articleContent .number-block .number-text {
		font-size:17px;
	}
}