html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
  height: 100%;
  background: #ececec;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 120px;
  background-color: #051945;
  padding: 20px 20px 10px 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header img {
  margin-bottom: 25px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 20px;
  color: #fff;
}

.news {
  font-size: 20px;
  color: #647290;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.body-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc {
  margin-top: 10px;
  margin-bottom: 40px;
}

.text {
  width: 100%;
  font-size: 19px;
  margin-bottom: 20px;
}

.italic {
  font-style: italic;
}

.form-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px 30px 40px 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 50px;
}

.form-control {
  padding: 10px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: grey;
  border: 1px solid grey;
}

.send-form {
  background-color: #05197F;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  color: #fff;
  outline: none;
  margin-top: 20px;
  text-transform: uppercase;
}

.form_group--name,
.form_group--email,
.form_input--group,
.iti {
  display: flex;
  flex-direction: column;
}

.iti__selected-flag {
  height: 40px;
}

.error {
  margin-bottom: 10px;
  color: red;
}

#phone-error {
  margin-top: 10px;
}

.footer {
  height: 200px;
  padding: 10px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}

.footer-wrap span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #606778;
}

.footer-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-wrap .time {
  display: flex;
}

.date-today {
  margin-right: 5px;
  margin-left: 5px;
}

.black {
  color: #000;
}
