* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

html, body {
  overflow-x: hidden;
}

.invalid {
  color: red;
}

.header_container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  margin-left: 23.83px;
  margin-right: 28px;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2D6AAF;
}

.landing span {
  margin-top: auto;
  margin-left: 11.13px;
}

.landing img {
  padding-left: 5px;
  padding-right: 5px;
}

.header_container button {
  color: #FFFFFF;
  background-color: #2D6AAF;
  width: 239px;
  height: 60px;
  border: 0px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.header_container button:hover {
  color: #2D6AAF;
  background-color: #FFFFFF;
  border: 1px solid #2D6AAF;
}

@media (max-width: 420px) {
  .header_container {
    margin: 14px 22px 0 11px;
  }

  .landing {
    font-size: 20px;
  }

  .landing span {
    margin-left: 8.7px;
  }

  .landing img {
    padding-left: 10px;
    padding-right: 5px;
    width: 61.62px;
    height: 50.51px;
  }

  .header_container button {
    width: 186px;
    height: 50px;
    border: 0px;
    font-size: 19px;
    font-weight: 600;
    padding: 0;
  }
}

@media (max-width: 380px) {
  .header_container {
    margin: 14px 0 0 7px;
  }

  .landing {
    font-size: 20px;
  }

  .landing span {
    margin-left: 8.7px;
  }

  .landing img {
    padding-left: 10px;
    padding-right: 5px;
  }

  .header_container button {
    width: 186px;
    height: 50px;
    border: 0px;
    font-size: 19px;
    font-weight: 600;
    padding: 0;
  }
}

.contacts_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  background-image: url(../img/contactsBG.png);
  background-size: 867px 770px !important;
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 31px;
  /* margin-left: 28px;
  margin-right: 28px; */
  min-width: 512px;
  min-height: 690px;
}

@media screen and (min-width: 768px) {
  .contacts_container {
    margin-left: 28px;
    margin-right: 28px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 512px;
  /* max-height: 649px; */
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 43px;
  padding-bottom: 46px;
  padding-left: 43px;
  margin-right: 10px;
}

.contacts button {
  background: #FFFFFF;
  width: 239px;
  height: 60px;
  border: 0px;
  color: #000000;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.contacts button:hover {
  color: #FFFFFF;
  background-color: #2D6AAF;
  border: 1px solid #FFFFFF;
}

.contacts h1,
h2 {
  color: #FFFFFF;
  width: 512px;
}

.contacts h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  text-align: left;
}

.contacts h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;
  letter-spacing: -0.01em;
  text-align: left;
}

.contacts input {
  max-width: 512px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  margin-bottom: 36px;
}

.contacts input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 2.5;
  padding-left: 5px;
}

.contacts input::-moz-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 2.5;
  padding-left: 5px;
}

.contacts input:-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 2.5;
  padding-left: 5px;
}

.contacts input::-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 2.5;
  padding-left: 5px;
}

.contacts input::placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 2.5;
  padding-left: 5px;
}

.contacts input:focus {
  color: #FFFFFF;
}

.contacts_container img {
  margin-left: 51px;
  margin-top: 80px;
  max-width: 808px;
  max-height: 476px;
}

.contacts_container #video-cl {
  cursor: pointer;
  margin-left: 51px;
  margin-top: 80px;
  max-width: 808px;
  max-height: 476px;
}

.contacts_container #my-video {
  width: 100%;
}

@media screen and (min-width: 1436px) {
  .contacts_container #my-video {
    margin-left: 51px;
    margin-top: 80px;
    width: 760px;
    height: 427px;
  }
}

/* .contacts_container iframe {
  margin-left: 51px;
  margin-top: 67px;
  width: 808px;
  height: 476px;
} */

@media (max-width: 1435px) {
  .contacts_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: 100% 100% !important;
    min-width: auto;
    min-height: auto;
  }

  .contacts_container h2, .contacts_container h1 {
    width: 100%;
  }

  .contacts_container img {
    margin: 0px;
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .contacts_container #video-cl {
    margin: 0px;
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .contacts_container iframe {
    margin: 0px;
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .contacts button {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .contacts_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    background-size: 100% 100% !important;
    margin-top: 14px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 512px;
    min-height: 649px;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 420px;
    max-height: 649px;
    padding-top: 58px;
    padding-bottom: 31px;
    padding-left: 11px;
    margin-right: 11px;
  }

  .contacts button {
    width: 100%;
    font-size: 19px;
    font-weight: 600;
  }

  .contacts h1, h2 {
    width: 367px;
  }

  .contacts h2 {
    font-size: 21px;
    line-height: 26px;
    margin-top: 0;
  }

  .contacts h1 {
    font-size: 38px;
    line-height: 46px;
  }

  .contacts input {
    max-width: 376px;
    margin-bottom: 36px;
  }

  .contacts_container img {
    margin: 0px;
    width: 100%;
    height: auto;
  }

  .contacts_container #video-cl {
    margin: 0px;
    width: 100%;
    height: auto;
  }

  /* .contacts_container iframe {
    margin: 0px;
    width: 100%;
    height: auto;
  } */
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 64px;
  margin-left: 28px;
  margin-right: 28px;
}

.statistic div {
  width: 328px;
  height: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 7.5px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.statistic_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: underline;
  color: #000000;
  margin: auto;
  margin-left: 27px;
  margin-top: 42px;
}

.statistic_subTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin: auto;
  margin-left: 27px;
  margin-bottom: 41px;
}

.statistic_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-left: 13px;
  margin-top: 20px;
  background-image: url("../img/statisticBG.png");
  background-size: 313px 71px;
  background-position: top left;
  background-repeat: no-repeat;
}

@media (max-width: 1050px) {
  .statistic {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 32px;
    padding-left: 30px;
    padding-right: 32px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .statistic div {
    margin: 0;
  }
}

@media (max-width: 420px) {
  .statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .statistic div {
    margin: 0;
  }
}

.description {
  margin: 63px 52px 0 51px;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 420px) {
  .description {
    margin: 59px 12px 0 11px;
    font-size: 19px;
    line-height: 23px;
  }
}

.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.swiper-slide {
  width: auto;
  text-align: center;
  font-size: 18px;
  min-width: 328px;
  min-height: 165px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
}

.mySwiper {
  margin: 61px 0 0 0;
}

.companies {
  display: none;
}

@media (max-width: 420px) {
  .swiper {
    display: none;
  }

  .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .swiper-slide {
    margin-top: 35px;
  }
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 63px 28px 0 28px;
  background-color: #2D6AAF;
  background-image: url("../img/conditions/Ellipse.png");
  background-size: 255px 255px;
  background-position: 1087px 62px;
  background-repeat: no-repeat;
  padding: 62px 42px;
  color: #FFFFFF;
}

.conditions_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 780px;
  margin: 0;
}

.conditions_text h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin: 0;
  width: 593px;
}

.conditions_text h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}

.conditions_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-right: 40px;
  bottom: 0px;
}

.conditions_value_number {
  font-weight: 700;
  font-size: 150px;
  line-height: 183px;
}

.conditions_value_text {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

@media (min-width: 1440px) {
  .conditions {
    background-position: right 40%;
  }
}

@media (max-width: 1300px) {
  .conditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 56px 0 0 0;
    padding: 47px 21px 35px 21px;
    background-size: 189px 189px;
    background-position: 35% 75%;
    color: #FFFFFF;
  }

  .conditions_text h2 {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .conditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 56px 0 0 0;
    padding: 47px 21px 35px 21px;
    background-size: 189px 189px;
    background-position-x: 185px;
    background-position-y: 385px;
    color: #FFFFFF;
  }

  .conditions_text h2 {
    font-size: 38px;
    line-height: 46px;
    width: 336px;
  }

  .conditions_text h3 {
    font-size: 21px;
    line-height: 26px;
  }

  .conditions_value {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding-right: 0;
  }

  .conditions_value_number {
    font-size: 100px;
    line-height: 122px;
    margin-left: 75px;
    margin-top: 10px;
  }

  .conditions_value_text {
    margin-left: 74px;
    font-size: 39px;
    line-height: 48px;
  }
}

@media (max-width: 380px) {
  .conditions_value_number {
    margin-left: 65px;
  }

  .conditions_value_text {
    margin-left: 70px;
  }
}

.yieldCalculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 63px 110px 0 110px;
}

.yieldCalculator h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
  min-width: 608px;
  margin-top: 0;
}

.calculatorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.arguments, .input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.result div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.result {
  margin-left: 51px;
  padding: 20px auto 21px 29px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 21px;
  padding-left: 29px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
}

.range_input_placeholder, .total_balance_text {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #8C8C8C;
}

.range_input_placeholder {
  margin-top: 10px;
  margin-left: 24px;
}

.range_input_value, .final_balance, .total_balance_value {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.range_input_value {
  margin-bottom: 11px;
  margin-left: 24px;
}

.input_period_wrapper {
  margin-top: 44px;
}

.extreme_values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #8C8C8C;
  margin-top: 5px;
}

.final_balance_value {
  font-weight: 700;
  width: 300px;
  font-size: 75px;
  line-height: 91px;
  color: #2D6AAF;
  padding-bottom: 6px;
  border-bottom: 1px solid #E7E7E7;
}

.total_balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-flow: row !important;
  flex-flow: row !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 27px;
}

.percent {
  margin-left: 74px;
}

.range_input_subtext {
  margin-top: 7px;
}

input[type=range]::-webkit-slider-thumb {
  background: white !important;
  border: 2.5px solid #2D6AAF !important;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
}

input[type=range]::-moz-slider-thumb {
  background: white !important;
  border: 2.5px solid #2D6AAF !important;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  -moz-appearance: none;
  box-shadow: -300px 0 0 300px #2D6AAF !important;
  margin-top: -5px;
}

#myinput_money, #myinput_period {
  background: -webkit-gradient(linear, left top, right top, from(#2D6AAF), color-stop(1%, #2D6AAF), color-stop(0%, #fff), to(#fff));
  background: linear-gradient(to right, #2D6AAF 0%, #2D6AAF 1%, #fff 0%, #fff 100%);
  height: 2.5px;
  width: 502px;
  outline: none;
  appearance: none;
}

#myinput_period {
  background: -webkit-gradient(linear, left top, right top, from(#2D6AAF), color-stop(28%, #2D6AAF), color-stop(0%, #fff), to(#fff));
  background: linear-gradient(to right, #2D6AAF 0%, #2D6AAF 28%, #fff 0%, #fff 100%);
}

@media (max-width: 1435px) {
  .calculatorContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (max-width: 650px) {
  .yieldCalculator {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 63px 110px 0 110px;
  }

  .yieldCalculator h2 {
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    min-width: 332px;
  }

  .calculatorContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .result div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .result {
    width: 362px;
    margin-left: 0;
    padding: 20px 24.4px 27px 23.59px;
  }

  .range_money, .range_period {
    min-width: 362px;
  }

  .range_input_value {
    margin-bottom: 8px;
  }

  .final_balance_value {
    font-size: 58px;
    line-height: 71px;
    padding-bottom: 10px;
  }

  .total_balance {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-flow: row !important;
    flex-flow: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 330px;
    margin-top: 27px;
  }

  .percent {
    margin-left: 0px;
    width: 150px;
    font-size: 15px;
    line-height: 18px;
  }

  .balance {
    width: 165px;
    font-size: 15px;
    line-height: 18px;
  }

  #myinput_money, #myinput_period {
    width: 362px;
  }
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin: 63px 0 0 28px;
  padding: 84px 0 0 82px;
  background-image: url("../img/blueContactsFormBG.png");
  background-size: 875px 648px !important;
  background-position: top left;
  background-repeat: no-repeat;
}

.contact_form_left h2,
.contact_form_right h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin: 0;
}

.contact_form_left h3,
.contact_form_right h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  margin: 0;
}

.contact_form_left h2,
.contact_form_left h3 {
  color: #FFFFFF;
}

.contact_form_right h2,
.contact_form_right h3 {
  color: #000000;
}

.contact_form_left h3 {
  margin-top: 26px;
}

.contact_form_right h3 {
  margin-top: 10px;
  min-width: 628px;
}

.contact_form_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 447px;
}

.contact_form_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  background-color: #FFFFFF;
  max-width: 875px;
  padding: 89px 100px 89px 123px;
  margin-top: 117px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.1);
}

.contact_form_right input {
  /* width: 628px; */
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  outline: none;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact_form_right input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 10px;
}

.contact_form_right input::-moz-placeholder {
  color: #8C8C8C;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 10px;
}

.contact_form_right input:-ms-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 10px;
}

.contact_form_right input::-ms-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 10px;
}

.contact_form_right input::placeholder {
  color: #8C8C8C;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 10px;
}

.contact_form_right input:focus {
  color: #8C8C8C;
}

.input_phone_number {
  margin-top: 12px;
  width: 100%;
}

.input_phone_email {
  margin-top: 13px;
}

.form_acception {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  margin-top: 19px;
}

.contact_form_right button {
  background: #2D6AAF;
  width: 628px;
  height: 60px;
  border: 0px;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 600;
  margin-top: 38px;
  cursor: pointer;
}

.contact_form_right button:hover {
  color: #2D6AAF;
  background-color: #FFFFFF;
  border: 1px solid #2D6AAF;
}

.checkbox-button {
  cursor: pointer;
  min-width: 362px;
}

.checkbox-button input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.checkbox-button input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
}

.checkbox-button_input {
  opacity: 0;
  position: absolute;
}

.checkbox-button_control {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: #2D6AAF;
  border: 2px solid #666;
}

.checkbox-button_input:checked+.checkbox-button_control:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: #2D6AAF;
}

.checkbox-button_input:checked+.checkbox-button_control {
  border-color: #000000;
}

.checkbox-button_control {
  display: inline-block;
}

.checkbox-button_label {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}

@media (max-width: 1435px) {
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (max-width: 900px) {
  .contact_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 47px 0 0 0;
    padding: 26px 14px 0 14px;
    background-image: url("../img/blueContactsFormBG.png");
    background-size: 100% 30% !important;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .contact_form_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 420px;
    margin-bottom: 37px;
  }

  .contact_form_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #FFFFFF;
    max-width: 100%;
    padding: 27px 0 51px 0;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 650px) {
  .contact_form {
    margin: 47px 0 0 0;
    padding: 26px 14px 0 14px;
    background-size: 100% 26% !important;
  }

  .contact_form_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 100%;
    margin-bottom: 37px;
  }

  .contact_form_right {
    max-width: 100%;
    padding: 27px 0 51px 0;
    margin-top: 0px;
  }

  .contact_form_right input {
    max-width: 100%;
    margin-top: 36px;
  }

  .contact_form_right h3 {
    margin-top: 17px;
    min-width: 100%;
  }

  .contact_form_right button {
    width: 100%;
  }

  .contact_form_left h2 {
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .contact_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 47px 0 0 0;
    padding: 26px 14px 0 14px;
    background-image: url("../img/blueContactsFormBG.png");
    background-size: 420px 191px !important;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .contact_form_left h2,
  .contact_form_right h2 {
    font-size: 38px;
    line-height: 46px;
  }

  .contact_form_left h3,
  .contact_form_right h3 {
    font-size: 21px;
    line-height: 26px;
  }

  .contact_form_left h3 {
    margin-top: 10px;
  }

  .contact_form_right h3 {
    margin-top: 17px;
    min-width: 362px;
  }

  .contact_form_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 420px;
    margin-bottom: 37px;
  }

  .contact_form_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #FFFFFF;
    max-width: 420px;
    padding: 27px 0 51px 0;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .contact_form_right input {
    width: 352px;
    margin-top: 36px;
  }

  .contact_form_right input::-webkit-input-placeholder {
    padding-left: 2px;
    padding-bottom: 9px;
  }

  .contact_form_right input::-moz-placeholder {
    padding-left: 2px;
    padding-bottom: 9px;
  }

  .contact_form_right input:-ms-input-placeholder {
    padding-left: 2px;
    padding-bottom: 9px;
  }

  .contact_form_right input::-ms-input-placeholder {
    padding-left: 2px;
    padding-bottom: 9px;
  }

  .contact_form_right input::placeholder {
    padding-left: 2px;
    padding-bottom: 9px;
  }

  .form_acception {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    margin-top: 19px;
  }

  .contact_form_right button {
    width: 100%;
    margin-top: 39px;
  }

  .checkbox-button_control {
    margin-right: 6px;
  }

  .checkbox-button_label {
    font-size: 16px;
    line-height: 19px;
    width: 327px;
  }
}

.footer {
  margin-top: 63px;
  padding: 34px 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  /* background: rgba(242, 242, 242, 0.45); */
}

@media (max-width: 900px) {
  .footer {
    margin: 0;
    padding: 27px 11px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .footer {
    margin: 0;
    padding: 27px 11px;
  }
}

.landing.support img {
  width: 100px;
  height: auto;
}

@media screen and (min-width: 1439px) {
  .landing.support img {
    width: 120px;
  }
}

label.error {
  color: #9c9c9c;
}

.iti__selected-flag {
  max-height: 42px;
}

.contacts .iti__selected-flag {
  color: #fff;
}

.input_val {
  width: 100%;
  color: #fff;
}

.input_val.error {
  margin-top: 9px;
  margin-bottom: 9px;
}

.input_val_bottom.error {
  margin-top: 9px;
  margin-bottom: 9px;
}