/* Стили для модального окна */
#verificationModal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#verificationModal .modal-dialog {
    margin-top: 20%;
}

#verificationModal .modal-content {
    border-radius: 10px;
}

#verificationModal .modal-header {
    background-color: #f8f9fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#verificationModal .modal-title {
    color: #333;
    font-size: 18px;
}

#verificationModal .modal-body {
    padding: 20px;
}

#verificationModal .modal-footer {
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#verificationModal .btn-primary {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-size: 16px;
}

#verifyCodeBtn.btn::after {
    display: none;
}

#verificationModal .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#verificationModal .close {
    font-size: 30px;
}

#verificationModal .close:focus,
#verificationModal .close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

#verificationModal input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
}

#verificationError {
    color: #e00909;
}

#verification_code {
    /* Добавьте здесь желаемые стили */
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
}

#verification_code:focus {
    /* Добавьте здесь стили для состояния фокуса */
    border-color: #4c8bf5;
    box-shadow: 0 0 0 3px rgba(76, 139, 245, 0.2);
}