.btn-1 {
 padding: 20px 30px;
 border-radius: 30px;
 border: 5px solid #ffffff;
 background-color: #7dd1e1;
 font-size: 15px;
 color: white;
 letter-spacing: 5px;
 font-weight: bolder;
 animation: none;
 transition: all .5s ease-in-out;
 font-family: 'Rajdhani', sans-serif;
}

.btn-1:hover {
 border-radius: 30px 30px 0px 30px;
 box-shadow: inset 0px 30px 10px -25px black;
 transition: all .5s ease-in-out;
 animation: bounce42 1.6s infinite;
}

@keyframes bounce42 {
 0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
 }

 40% {
  transform: translateY(-5px);
 }

 60% {
  transform: translateY(-5px);
 }
}

.btn-2 {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
  border: none;
  background-color: #7dd1e1;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-2 span {
  position: relative;
  z-index: 1;
}

.btn-2:hover {
  color: #7dd1e1;
  background-color: #fff;
  box-shadow: 2px 2px 20px hsla(263, 31%, 77%, 0.5);
}

.btn-2:active {
  scale: 0.9;
}

.btn-2:hover:before {
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1;
}


.btn-3 {
  background-color: #7dd1e1;
  color: #fff;
  border: none;
  display: block;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #7dd1e1;
  transition: all 0.2s ease-in-out;
  
 
}



.btn-3:hover {
  background-color: #fff;
  color:  #7dd1e1;;
  box-shadow: 2px 2px 20px #7dd1e1;
  transform: translateY(-2px);
}

.btn-4 {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.btn-4:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.btn-4:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.btn-5 {
  padding: 1em 2em;
  border: none;  
  display: block;
  width: fit-content;
  background: #5c5959;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7dd1e1;
  transition: all 500ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #888;
}

.btn-5:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid #63c0d2;
  box-shadow: 2px 3px 10px -2px #63c0d2;
}

.btn-5::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7dd1e1;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}

.btn-5:hover::before {
  width: 200%;
}


