* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Inter';
    --font-secondary: 'IBM Plex Sans';
    --brand-color: #40C1AC;
    --text-color: #000;
    --border-radius: 10px;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-primary), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    scroll-behavior: smooth;
    background-color: #fff;
}

.main-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    flex: 1 1 auto;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    font-family: inherit;
}
input, textarea {
    outline: none;
    font-family: inherit;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;

}

.section-heading {
    color: #000;
    font-size: 1.75rem;
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
}
.section-heading::before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    min-width: 1.4rem;
    height: 1.4rem;
    border-radius: 5px;
    background: var(--brand-color);
    margin-right: 12px;
    margin-top: 6px;
}
.section-heading .text-colored {
    font-weight: 500;
}
.section-text {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625;
}
.space-no-wrap {
    white-space: nowrap;
}

.text-white {
    color: #fff !important;
}
.text-colored {
    color: var(--brand-color);
}
.text-center {
    text-align: center;
}
.flex {
    display: flex;
}
.center {
    align-items: center;
}
.start {
    align-items: flex-start;
}
.end {
    align-items: end;
}
.just-center {
    justify-content: center;
}
.just-between {
    justify-content: space-between;
}
.just-start {
    justify-content: flex-start;
}
.just-end {
    justify-content: flex-end;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.uppercase {
    text-transform: uppercase;
}

/* BUTTON */
.btn {
    min-height: 56px;
    width: 100%;
    max-width: 248px;
    background: var(--brand-color);
    border-radius: var(--border-radius);
    border: none;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.5rem;
    transition: all ease .2s;
}
.btn:hover {
    background: #329b8a;
}

/* REVEALING ANIMATION */
.reveal {
    position: relative;
    transform: translateY(4rem);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.static {
    transform: translateY(0) !important;
    transition-delay: 0.3s;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.delay-01 {
    transition-delay: 0.1s;
}
.delay-02 {
    transition-delay: 0.2s;
}
.delay-03 {
    transition-delay: 0.3s;
}
.delay-04 {
    transition-delay: 0.4s;
}
.delay-05 {
    transition-delay: 0.5s;
}
.delay-06 {
    transition-delay: 0.6s;
}
.delay-07 {
    transition-delay: 0.7s;
}
.delay-08 {
    transition-delay: 0.8s;
}
.delay-09 {
    transition-delay: 0.9s;
}

/* DISCLAIMER */
.disclaimer {
    padding: 0.5rem 0;
    background: #fff;
}

/* HEADER */
.header {
    padding: 0.5rem 0;
    background-color: #253746;
}
.header-logo-img {
    display: block;
    aspect-ratio: 146 / 40;
    height: auto;
}
.widget-text {
    font-size: 1.2rem;
}
.widget-text.narrow {
    max-width: 120px;
}
.people-online-number {
    width: 3.125rem;
    min-width: 3.125rem;
    height: 3.125rem;
    border-radius: 100px;
    background-color: #fff;
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 2rem;
    color: #383838;
    margin: 0 1.5rem;
}

/* HERO */
.hero-section {
    padding: 7rem 0;
    background: #fff url('../images/hero-bg.png') no-repeat center / cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.hero-section-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000 url('../images/hero-bg.png') no-repeat center / cover;
}
.hero-section .container {
    position: relative;
    z-index: 5;
}
.video-wrapper {
    width: 60%;
    max-width: 860px;
    margin-right: 1rem;
}
.main-heading {
    color: #010101;
    font-size: 2.25rem;
    font-weight: 600;
}
.main-subheading {
    color: #646464;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
.video-wrapper .video {
    max-width: 700px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
}
.video-wrapper .video video {
    width: 100%;
    border-radius: 10px;
}
.video-wrapper .video .play-btn::before {
    content: 'video aici';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3.2rem;
    border-radius: 48px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: var(--font-primary);
    color: #fff;
    text-transform: uppercase;
}

/*==== FORM ========*/
.form-wrapper {
    width: 32%;
    max-width: 460px;
}
.form {
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem 1.6rem;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.form-heading {
    font-weight: 600;
    font-size: 1.75rem;
    color: #161616;
    margin-bottom: 1.5rem;
}
.form form {
    font-family: var(--font-primary), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form .input-wrap input {
    height: 60px !important;
    border: 1px solid rgba(11, 22, 51, 0.2) !important;
    border-radius: 5px;
    background-color: #F2F5F9;
    padding: 0 20px;
    font-weight: 400;
    font-size: 1rem;
}
.form .input-wrap input:focus {
    border: 1px solid rgb(74, 164, 249) !important;
}
.form .input-wrap .vue-tel-input {
    background-color: #F2F5F9;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.form .input-wrap .vue-tel-input input {
    border-radius: 0 5px 5px 0;
    border: none !important;
}
.form .input-wrap .vue-tel-input .vti__dropdown {
    border-radius: 5px 0 0 5px;
    background-color: #F2F5F9;
}
.form .checkbox-wrap {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.form .checkbox-wrap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form .checkbox-wrap input::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background-color: #FDFDFD;
    border-radius: 2px;
    border: 1px solid #C8C8C8;
}
.form .checkbox-wrap input:checked::before {
    content: '\2713';
    color: #111;
}
.form .checkbox-wrap label {
    font-weight: 300;
    font-size: 14px;
    color: #111;
}
.form .checkbox-wrap label .alterlink {
    font-weight: 700;
    color: #111;
}
.form .input-wrap button {
    min-height: 60px;
    background: var(--brand-color);
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 1rem;
    transition: all ease 0.2s;
}
.form .input-wrap button:hover {
    background: #329b8a;
}
.form .input-wrap button:active {
    transform: scale(0.98);
}

/* WINNERS */
.winners-section {
    padding: 3rem 0 2rem 0;
    background-color: #F4F4F4;
}
.winner-card {
    width: 22.5%;
    max-width: 336px;
    padding: 1.5rem 2.8rem 5.5rem 2.8rem;
    border-radius: var(--border-radius);
    background: #FFF;
    margin: 0 1rem 1rem 1rem;
    position: relative;
}
.winner-name {
    color: #666;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0.1rem 0 1.2rem 0;
}
.winner-profit {
    color: #000;
    font-size: 1.75rem;
}
.winner-card-result {
    padding: 0.8rem 3.3rem;
    border-radius: 25px 25px 0px 0px;
    background: #99E58D;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.winner-card-result .result {
    font-size: 1.25rem;
    margin-left: 0.28rem;
}

/* ABOUT */
.about-section {
    background: #fff;
    padding: 3rem 0;
}
.about-section .section-heading {
    max-width: 617px;
}
.about-section-content {
    margin-top: 2rem;
}
.img-wrapper {
    width: 48%;
    max-width: 704px;
    overflow: hidden;
}
.about-img {
    display: block;
    width: 100%;
    height: auto;
    transition: all ease 0.6s;
    /* -webkit-animation: 60s linear 0s infinite alternate scaling;
            animation: 60s linear 0s infinite alternate scaling; */
}
/* @-webkit-keyframes scaling { from { transform: scale(1); } to { transform: scale(1.8); }  }
@keyframes scaling { from { transform: scale(1) } to { transform: scale(1.8) }  } */

.about-img:hover {
    transform: scale(1.2);
}
.text-wrapper {
    margin-left: 2rem;
    width: 48%;
    max-width: 580px;
}
.text-wrapper .section-text {
    margin-top: 1.75rem;
}
.text-wrapper .section-text:first-child {
    margin-top: 0;
}
.text-wrapper .btn {
    margin-top: 2rem;
}

/* STEPS */
.steps-section {
    padding: 3rem 0;
    background: #F4F4F4;
}
.steps-section .section-heading {
    max-width: 560px;
}
.steps-section .cards-wrapper {
    margin-top: 2rem;
}
.steps-card {
    width: 32%;
    max-width: 460px;
    padding: 1.8rem 2.75rem;
    border-radius: var(--border-radius);
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 21px 46px 0px rgba(0, 0, 0, 0.10), 0px 83px 83px 0px rgba(0, 0, 0, 0.09), 0px 187px 112px 0px rgba(0, 0, 0, 0.05), 0px 333px 133px 0px rgba(0, 0, 0, 0.01), 0px 520px 146px 0px rgba(0, 0, 0, 0.00);
}
.steps-card-number {
    font-size: 6rem;
    font-weight: 300;
}
.steps-card-text {
    margin-left: 2rem;
}
.steps-card-text h4 {
    font-size: 1.5rem;
    font-weight: 500;
}
.steps-card-text p {
    color: #111;
    font-size: 1rem;
    font-weight: 300;
    line-height: 137.023%;
    margin-top: 0.5rem;
}

/*==== REVIEWS ====================*/
.reviews-section {
    padding: 3rem 0 2rem 0;
    background: #F4F4F4;
}
.reviews-section .cards-wrapper {
    margin-top: 3rem;
}
.user-review-card {
    width: 47%;
    max-width: 704px;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: #FFF;
    margin: 0 0.5rem 1rem 0.5rem;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 21px 46px 0px rgba(0, 0, 0, 0.10), 0px 83px 83px 0px rgba(0, 0, 0, 0.09), 0px 187px 112px 0px rgba(0, 0, 0, 0.05), 0px 333px 133px 0px rgba(0, 0, 0, 0.01), 0px 520px 146px 0px rgba(0, 0, 0, 0.00);
}
.review-avatar-wrapper h4 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px;
}
.review-avatar-wrapper p {
    color: var(--brand-color);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 6px;
}
.user-review-card-content {
    margin-left: 2rem;
}
.user-info .user-name {
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
}
.user-info .user-location {
    color: #AEAEAE;
    font-size: 12px;
    margin-top: 2px;
}
.rating-stars {
    --rating-percent: calc(var(--rating) / 5 * 100%);
    --rating-star-size: 2.2rem;
    --rating-star-color: #CEC9C1;
    --rating-star-background: #FFD133;
	display: inline-block;
	font-size: var(--rating-star-size);
	font-family: Times;
	line-height: 1;
}
.rating-stars::before {
    content: '★★★★★';
	background: linear-gradient(90deg, var(--rating-star-background) var(--rating-percent), var(--rating-star-color) var(--rating-percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.card-text {
    color: #3E3E3E;
    font-style: italic;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 0.65rem;
}

/* MEMBERS WIDGET */
.members-widget {
    background: #F94747;
    padding: 0.5rem 0;
    color: #fff;
}
.members-widget .people-online-number {
    width: 4.3rem;
    min-width: 4.3rem;
    height: 4.3rem;
    font-weight: 500;
    font-size: 2rem;
}
.members-widget .widget-text.narrow {
    max-width: unset;
    text-transform: uppercase;
}


/* FORM SECTION */
.form-section {
    padding: 3rem 0;
    background-color: #fff;
}
.form-section .form-wrapper {
    width: 100%;
}
.form-section-text-part .section-text {
    max-width: 574px;
    margin: 2rem 0 3rem 0;
}
.lower-logo-img {
    aspect-ratio: 209 / 58;
    height: auto;
}
.form-wrapper.lower {
    background: #FFF;
}

/* FOOTER */
.footer {
    padding: 1.5rem 0;
    background-color: #253746;
}
.copyright,
.footer-links a {
    font-weight: 300;
    font-size: 1rem;
    color: #EFEFEF;
}
.footer-links a {
    margin-left: 3rem;
    transition: all ease 0.2s;
}
.footer-links a:hover {
    text-decoration: underline;
}

/*==== MODAL ===================*/
.modal {
    position: fixed;
    z-index: -3;
    opacity: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh !important;
    top: 0;
    left: 0;
    padding: 2rem 0;
    display: grid;
    place-items: center center;
    background-color: rgba(0,0,0,.8);
    transition: .4s;
}
.modal.active {
    z-index: 101;
    opacity: 1;
}
.modal .close-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.modal-content {
    width: 100%;
    max-width: 500px;
}
.modal-content .license-img {
    width: 100%;
    height: auto;
}
.modal-content .form-wrapper {
    width: 100%;
}

.terms__text ul li {
    list-style: disc inside;
}



/* MEDIA QUERIES */
@media screen and (max-width:1700px) {
    .container {
        max-width: 1280px;
    }
    .header {
        padding: 0.4rem 0;
    }
    .widget-text {
        font-size: 1rem;
    }
    .people-online-number {
        width: 45px;
        min-width: 45px;
        height: 45px;
        font-size: 1.6rem;
        margin: 0 1.2rem;
    }
    .hero-section {
        padding: 4rem 0;
    }
    .main-heading {
        font-size: 2.4rem;
    }
    .form .input-wrap input {
        height: 50px !important;
    }
    .winner-card {
        width: 22.5%;
        max-width: 336px;
        padding: 1.5rem 2rem 5rem 2rem;
        margin: 0 0.5rem 1rem 0.5rem;
    }
    .winner-name {
        font-size: 1.2rem;
    }
    .winner-profit {
        color: #000;
        font-size: 1.4rem;
    }
    .section-heading {
        font-size: 1.6rem;
    }
    .btn {
        min-height: 50px;
        font-size: 1.1rem;
    }
    .steps-card {
        padding: 1.5rem 1.5rem;
    }
    .steps-card-number {
        font-size: 5rem;
    }
    .steps-card-text {
        margin-left: 1.2rem;
    }
    .steps-card-text h4 {
        font-size: 1.28rem;
        font-weight: 500;
    }
}

@media screen and (max-width:1200px) {
    .disclaimer {
        font-size: 12px;
    }
    .hero-section {
        padding: 4rem 0 2rem 0;
    }
    .hero-content {
        flex-direction: column;
    }
    .main-heading {
        font-size: 2.2rem;
    }
    .main-heading,
    .main-subheading {
        text-align: center;
    }
    .video-wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    .video-wrapper .video {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-form-wrapper {
        width: 100%;
    }
    .winner-card {
        width: 48%;
    }
    .about-section .container {
        flex-direction: column;
    }
    .img-wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 580px;
    }
    .text-wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    .steps-section .cards-wrapper {
        flex-direction: column;
    }
    .steps-card,
    .user-review-card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .cards-wrapper {
        justify-content: center;
    }
    .form-section .container {
        flex-direction: column;
    }
    .form-section-text-part .section-text {
        margin: 2rem auto 1rem auto;
        text-align: center;
    }
    .lower-logo-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:800px) {
    .winner-card {
        width: 46%;
    }
    .copyright, .footer-links a {
        font-size: 0.88rem;
    }
    .footer-links a {
        margin-left: 1.8rem;
    }
}

@media screen and (max-width:600px) {
    :root {
        --border-radius: 8px;
    }
    .disclaimer {
        font-size: 9px;
    }
    .header {
        padding: 0.3rem 0;
    }
    .header-logo-img {
        width: 7.6rem;
    }
    .header-widget {
        flex-direction: column;
    }
    .widget-text {
        font-size: 0.6rem;
    }
    .people-online-number {
        width: 38px;
        min-width: 38px;
        height: 38px;
        font-size: 1.4rem;
    }
    .header .people-online-number {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    .hero-section {
        padding: 3rem 0 3rem 0;
    }
    .main-heading {
        font-size: 1.6rem;
    }
    .video-wrapper .video {
        border-radius: 9px;
    }
    .form {
        border-radius: 9px;
        padding: 1.6rem 1rem;
    }
    .form-heading {
        font-size: 1.28rem;
        margin-bottom: 1.2rem;
    }
    .winner-card {
        width: 100%;
    }
    .winner-avatar {
        width: 6rem;
        height: 6rem;
    }
    .winner-name {
        font-size: 1.1rem;
        margin: 0.1rem 0 0.8rem 0;
    }
    .section-heading {
        font-size: 1.24rem;
    }
    .section-heading::before {
        width: 1.1rem;
        min-width: 1.1rem;
        height: 1.1rem;
        border-radius: 4px;
    }
    .steps-card {
        padding: 1.5rem 1rem;
    }
    .steps-card-number {
        font-size: 4rem;
    }
    .user-review-card {
        padding: 2rem 1rem 1.2rem 1rem;
        flex-direction: column;
    }
    .review-avatar-wrapper {
        display: flex;
        align-items: center;
    }
    .user-img {
        aspect-ratio: 1 / 1;
        width: 5rem;
        height: auto;
        margin-right: 2rem;
    }
    .user-profit {
        text-align: left;
    }
    .user-info .user-name {
        font-size: 1.2rem;
    }
    .user-review-card-content {
        margin-left: 0;
        margin-top: 1.2rem;
    }
    .rating-stars {
        --rating-star-size: 1.4rem;
    }
    .members-widget .widget-text {
        font-size: 1rem;
    }
    .members-widget .widget-text.left {
        text-align: right;
    }
    .members-widget .people-online-number {
        width: 4rem;
        min-width: 4rem;
        height: 4rem;
        font-size: 2rem;
        margin: 0 0.6rem;
    }
    .footer {
        padding: 0.8rem 0;
    }
    .footer .container {
        flex-direction: column;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.8rem;
    }
    .footer-links a {
        margin: 0.2rem 1rem;
    }
}