@media only screen and (max-width: 440px) and (min-width: 251px)
{
	h1
	{
		font-size: 30px;
	}

	h2 
	{
    	font-size: 26px;
    }

    h3 
	{
    	font-size: 22px;
    }

    p
    {
    	font-size: 16px;
    }

    .link-2 a 
    {
	    font-size: 24px;
	}

    .sec-1 h2 
    {
    	width: 95%;
	    padding: 0 0 0 5px;
	}

	.article-txt, .middle-topic
	{
	    padding: 0 5px;
	}

	.header-top-1 span 
	{
	    padding-top: 0px;
	    padding-right: 15px;
	    float: none;
	}

	.header-top-1 h1
	{
		padding-left: 5px;
		float: none;
	}

	.sec-1 .gray, .sec-2 .gray
	{
		font-size: 10px;
		padding-left: 5px;
	}

	.right-col-header-top-1 input
	{
		float: none;
		width: 90%;
	}

	.right-col-header-top-1
	{
		text-align: center;
	}

	.more
	{
		float: none;
	}

	.more span
	{
		float: none;
		padding-top: 0px;
	    padding-right: 35px;
	    line-height: 30px;
	}

	.input-wrapper
	{
		float: none;
		width: 100%;
	}

	.container 
	{
    	max-width: 440px;
    	margin: 0 auto;
    }

    .header-top-1
    {
    	margin-top: 50px;
    }

	.header-top-2
	{
		display: none;
	}

	.left-col, .right-col
	{
		float: none;
		width: 100%;
		padding: 0;
	}

	.right-col
	{
		margin-top: 50px;
	    border-top: 3px solid #999;
	    padding-top: 10px;
	}

	.left-col-header-top-1, .right-col-header-top-1
	{
		float: none;
		width: 100%;
	}

	.product
	{
		text-align: center;
	}

	.product img
	{
		padding-left: 0;
	}

	.commentsinfo
	{
		width: 45%;
		font-size: 13px !important;
	}

	.commentunderline, .border-big
	{
    	width: 99%;
    }
    .widget
    {
    	max-width: 251px;
    	width: 100%;
    }

    .widget-1
	{
		max-width: 251px;
		width: 100%;
	}

	.widget-2
	{
		margin: 7px auto;
	}

	.left-col-sec-3, .right-col-sec-3
	{
		float: none;
		width: 100%;
	}

	.frame-green, .frame-red, .frame-arrow
	{
		height: 30px;
	}

	.frame-arrow
	{
		height: 28px;
	}

	.like-frame img 
	{
		padding: 7px;
	    padding-left: 10px;
	    max-width: 15px !important;
        width: 40%;
	}

	.like-frame p
	{
		font-size: 10px !important;
		width: 55%;
	    padding: 8px 0 !important;
	}

	.frame-arrow p 
	{
		font-size: 13px;
		padding: 5px 0;
		padding-left: 8px;
		float: right;
	}

	.frame-arrow .like-frame
	{
		margin: auto;
		margin-left: 5px;
	}

	.right-col-sec-3 .frame-arrow 
	{
	    width: 83%;
	    margin-left: 6%;
	    margin-top: 12px;
	}

	.frame-green img, .frame-red img, .frame-arrow img 
	{
    	max-width: 20px;
    }

    .frame-green p, .frame-red p 
    {
    	font-size: 14px;
    }

    .img-txt
    {
    	margin: 5px auto;
    }

    .img-txt p 
    {
	    padding-top: 8px;
	}

	.profileimage
	{
		width: 20%;
	} 
	.commentstextcontainer 
	{
	    float: right;
	    width: 75%;
	}

	.opinion-frame
    {
    	margin: 0 auto;
    	display: block;
    	width: 90%;
    }
}

@media only screen and (max-width: 550px) and (min-width: 441px)
{
	h1
	{
		font-size: 32px;
	}

	h2
	{
		font-size: 28px;
	}

	.sec-1 h2
	{
		padding-left: 5px;
	}

	.article-txt, .middle-topic
	{
		padding-left: 5px;
	}

	.border-big, .commentunderline
	{
		width: 99%;
	}

	.container 
	{
    	max-width: 550px;
    	margin: 0 auto;
    }

    .header-top-1
    {
    	margin-top: 50px;
    }

	.header-top-2
	{
		display: none;
	}

	.left-col, .right-col
	{
		float: none;
		width: 100%;
		padding: 0;
	}

	.right-col
	{
		border-top: 3px solid #999;
		margin-top: 20px;
		padding-top: 10px;
	}

	.left-col-header-top-1 
	{
	    width: 57%;
	}

	.right-col-header-top-1
	{
	    width: 35%;
	    float: left;
	}

	.header-top-1 h1
	{
		padding-left: 5px;
	}

	.right-col-header-top-1 input 
	{
    	margin-top: 0;
    }

    .input-wrapper:after
    {
    	top: 5px;
    }

    .header-top-1 span
    {
    	padding-top: 0;
    }

    .more span
    {
    	padding-top: 5px !important;
    }

    .sec-1 .gray, .sec-2 .gray
    {
    	padding-left: 5px;
    	padding-top: 5px;
    }

    .link-2 a 
    {
	    font-size: 28px;
	}

	.left-col-sec-3, .right-col-sec-3
	{
		float: none;
		width: 100%;
	}

	.profileimage
	{
		width: 12%;
	} 
	.commentstextcontainer
	{
		width: 86%;
		float: right;
	}

	.product
	{
		text-align: center;
	}

	.opinion-frame
    {
    	margin: 0 auto;
    	display: block;
    	width: 90%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 551px)
{
	.header-top-1 h1
	{
    	padding-left: 5px;
    }

    .left-col-header-top-1
    {
	    width: 60%;
    }

    .header-top-1 span
    {
    	padding-top: 0;
    }

    .right-col-header-top-1
    {
    	width: 35%;
    }

    .more
    {
    	float: left;
    }

    .more span
    {
    	margin-top: 5px;
    }

    .left-col, .right-col
    {
    	float: none;
    	width: 100%;
    }

    .left-col, .right-col
    {
    	padding-left: 0;
    	padding-right: 0;
    }

    .article-txt, .middle-topic
	{
		padding-left: 5px;
	}

	.border-big, .commentunderline
	{
		width: 99%;
	}

	.profileimage 
	{
		width: 10%;
	}

	.commentstextcontainer
	{
		width: 90%;
	}

	.product
	{
		text-align: center;
	}

	.left-col-sec-3, .right-col-sec-3
	{
		float: none;
		width: 100%;
	}

	.frame-arrow .like-frame 
	{
    	width: 30%;
    }

    .sec-1 h2
    {
    	padding-left: 5px;
    }

    .sec-1 .gray, .sec-2 .gray
    {
    	padding-left: 5px;
    }

    .opinion-frame
    {
    	margin: 0 auto;
    	display: block;
    	width: 90%;
    }
}


@media only screen and (max-width: 960px) and (min-width: 768px)
{
	h2
	{
		font-size: 34px;
	}

	.product img
	{
		padding-left: 0;
	}

	.right-txt p
	{
    	font-size: 13px;
    }

    .widget
    {
    	width: 95%;
    }

    .input-wrapper
    {
    	float: right;
    }

    .right-col-header-top-1 
    {
    	width: 25%;
    	margin-right: 10px;
    }

    .frame-green img, .frame-red img, .frame-arrow img 
    {
    	max-width: 20px;
    }

    .frame-green, .frame-red, .frame-arrow
    {
    	height: 30px;
    }

    .frame-green p, .frame-red p
    {
    	font-size: 15px;
    }

    .right-col-sec-3 p, .left-col-sec-3 p
    {
    	font-size: 17px; 
    }

    .img-txt img 
    {
    	max-width: 35px;
    }

    .right-col-sec-3 .frame-arrow 
    {
   		width: 100%;
    	margin-left: 0;
    }

    .like-frame p 
    {
	    padding: 8px 0 !important;
	    font-size: 10px !important;
	}

	.frame-arrow .like-frame 
	{
	    font-size: 10px !important;
	    margin-left: 10px;
	}

	.frame-arrow .like-frame p
	{
		font-size: 10px !important;
	}

	.like-frame 
	{
    	height: 30px;
    	margin: 0px auto;
    }

    .frame-arrow p
    {
    	font-size: 15px !important;
    	padding: 4px 0;
    	padding-left: 5px;
    }

    .profileimage 
    {
    	width: 10%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 961px)
{
	h2
	{
		font-size: 36px;
	}

	.product img
	{
		padding-left: 0;
	}

	.widget
	{
		max-width: 240px;
	}

	    .frame-green img, .frame-red img, .frame-arrow img 
    {
    	max-width: 20px;
    }

    .frame-green, .frame-red, .frame-arrow
    {
    	height: 30px;
    }

    .frame-green p, .frame-red p
    {
    	font-size: 15px;
    }

    .right-col-sec-3 p, .left-col-sec-3 p
    {
    	font-size: 17px; 
    }

    .img-txt img 
    {
    	max-width: 35px;
    }

    .right-col-sec-3 .frame-arrow 
    {
   		width: 100%;
    	margin-left: 0;
    }

    .like-frame p 
    {
	    padding: 8px 0 !important;
	    font-size: 10px !important;
	}

	.frame-arrow .like-frame 
	{
	    font-size: 10px !important;
	    margin-left: 10px;
	}

	.frame-arrow .like-frame p
	{
		font-size: 10px !important;
	}

	.like-frame 
	{
    	height: 30px;
    	margin: 0px auto;
    }

    .frame-arrow p
    {
    	font-size: 15px !important;
    	padding: 4px 0;
    	padding-left: 5px;
    }
}

