$title:#5c5100;
$text:#034f29;
$grey:#50804f;
$white:#e4f1aa;

body{
    font-family: 'Lato', sans-serif;
}
section{
    padding: 50px 0;
}
.parliament{
    font-weight: 300;
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 80px;
    color: $title;
    text-transform: uppercase;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        height: 7px;
        width: 150px;
        background-color: $title;
        left: -20px;
        top: 75px;
    }
}
.container {
    max-width: 1770px;
    padding: 0 10px;
    margin: 0 auto;
}

.frivolled {
    padding: 20px 0;
    position: absolute;
    right: 0;
    left: 0;
}
.cinnamene {
    display: flex;
    justify-content: space-around;
    align-items: center;
		&__img {
		}
}

.teachership {
    height: 100vh;
    background: url(../images/porisms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

		&__title {
            font-weight: 300;
            font-size: 50px;
            line-height: 94px;
            color: $white;
            text-align: center;
            padding-top: 300px;
		}

		&__box {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 100px;
            
		}

		&__link {
            background: rgba(76, 72, 0, 0.6);
            border: 1px solid #959651;
            padding: 10px 40px;
            text-align: center;
            color: rgb(251, 255, 206);
            width: 250px;
		}
}


.rotte {
background: #ebfffd;
padding: 50px 0 90px;
		&__list {
            display: flex;
            justify-content: center;
            gap: 50px;
		}

		&__item {
            flex-basis: 300px;
		}

		&__item-title {
            font-weight: 400;
            font-size: 44px;
            line-height: 45px;
            margin-bottom: 10px;
            color: $title;
		}

		&__item-text {
            font-size: 18px;
            line-height: 21px;
            color: $text;
		}

        &__item-undertitle{
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 20px;

        }
}


.multiple {
background-color: #effff0;
		&__title {
		}

		&__inner {
            display: flex;
            justify-content: center;
            align-items: center;
		}

		&__left {
		}

		&__left-title {
            font-size: 38px;
            line-height: 56px;
            color: $title;
            margin-bottom: 48px;
            width: 800px;
		}

		&__left-text {
            font-size: 26px;
            line-height: 53px;
            color: $text;
            margin-bottom: 120px;
            width: 700px;
		}

		&__left-link {
            padding: 25px 80px;
            background: $title;
            color: $white;
		}

		&__right {
		}

		&__right-img {
            margin-bottom: 30px;
		}

		&__right-title {
            font-size: 26px;
            margin-bottom: 19px;
            margin-left: 32px;
		}

		&__right-list {
            margin-left: 50px;
		}

		&__right-item {
            list-style-type: disclosure-closed;
		}

		&__right-text {
            width: 250px;
            margin-bottom: 30px;
		}
}


.clutch {
background-color: #eefeff;
		&__title {
		}

		&__list {
            display: flex;
		}

		&__item {
            flex-basis: 33.333%;
		}

		&__item-img {
            margin-bottom: 70px;
		}

		&__item-title {
            font-weight: 500;
            font-size: 32px;
            color: $title;
            margin-bottom: 23px;
            margin-left: 20px;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background: $title;
                top: -30px;
                left: -20px;
            }
		}

		&__item-text {
            width: 300px;
            color: $text;
            margin-left: 20px;
		}
}


.all {
background: #edf1ff;
		&__title {
		}

		&__list {
            display: flex;
            flex-wrap: wrap;
		}

		&__item {
            flex-basis: 33.333%;
		}

		&__item-img {
            margin-bottom: 18px;
		}

		&__item-title {
            font-size: 28px;
            line-height: 33px;
            color: $title;
            margin-bottom: 13px;
		}

		&__item-style {
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            color: $grey;
            margin-bottom: 13px;
		}

		&__item-square {
            font-size: 18px;
            line-height: 21px;
            color: $text;
            margin-bottom: 35px;
		}

		&__btn {
            padding: 19px 45px;
            background: $title;
            color: $white;
            display: block;
            margin: 0 auto;
		}
}


.affecting {
background: #ffefef;
		&__title {
		}

		&__list {
            display: flex;
            flex-wrap: wrap;
            gap: 100px 0;
            justify-content: space-between;
            margin-left: 70px;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                background: url(../images/folksiest.svg);
                background-repeat: no-repeat;
                left: -200px;
                right: -10px;
                top: 42%;
                height: 87px;
            }
		}

		&__item {
            flex-basis: 387px;
		}

		&__item-img {
            margin-bottom: 20px;
		}

		&__item-title {
            font-size: 32px;
            line-height: 38px;
            color: $title;
            background: rgb(0, 51, 255);
            margin-bottom: 26px;
            display: inline-block;
		}

		&__item-text {
            font-size: 18px;
            color: $text;
            width: 300px;
		}

		&__link {
            padding: 10px 30px;
            background: $title;
            color: $white;
            margin: 40px auto 0;
            display: block;
            text-align: center;
            width: 135px;
		}
}


.messaline {
background: #fffff0;
		&__title {
		}

		&__inner {
            display: flex;
            gap: 50px;
		}

        &__box-title{
            font-size: 36px;
            color: $title;
            margin-bottom: 40px;
        }

		&__img {
		}

		&__box {
		}

		&__text {
            font-weight: 300;
            font-size: 24px;
            color: $text;
            margin-bottom: 80px;
		}

		&__form {
            width: 100%;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            gap: 20px;
		}

		&__input {
            padding: 10px;
            background: transparent;
            border: 1px solid $title;
		}

		&__link {
            width: 100%;
            padding: 10px;
            background: $title;
            color: $white;
            text-align: center;
		}
}


.desulphurising {
background: #f0feee;
padding: 50px 0;
		&__inner {
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;
		}

		&__icons {
            display: flex;
            gap: 30px;
		}

		&__img {
		}

		&__link {
            color: $title;
		}
}
