@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap&subset=cyrillic');

body {
	font-family: 'Montserrat', sans-serif!important;
	/* background: var(--blue-main-color); */
	background: #000;
}

.smsForm input {
	width: 100%;
	margin: 0 50px;
	padding: 10px 0;
	font-size: 20pt;
	text-align: center;
}

a{
	color: var(--yellow-main-color);
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    top: 0;
    z-index: -1;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.btn {
	display: block;
	width: 100%;
    font-size: 16px;
    line-height: 46px;
    font-weight: 500;
    padding: 0 34px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    -ms-border-radius: 23px;
    border-radius: 2px;
	color: #000000;
	border-radius: 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	
	background: linear-gradient(90deg, #12FFF7 0%, #28E17E 100%);
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}
.btn::before {
    position: absolute;
    -ms-border-radius: 4px;
    border-radius: 4px;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: all .5s ease;
}
.btn::before{
	
	background: linear-gradient(90deg, #12FFF7 0%, #28E17E 100%);
	border-radius: 15px;
}
.btn:hover::before {
    opacity: 1;
}

.logo {
	width: 125px;
}

.hero {
	position: relative;
    background-size: 100%, auto, auto, auto;
	color: #fff;
}
.hero_plane{
	position: absolute;
   max-width: 1205px;
   left: 0;
	top: 35px;
	background-size: cover;
}
.plane_child1{
	position: relative;
	left: 205px;
	top: 134px;
}
.plane_child2{
	position: relative;
	left: 607px;
	top: 57px;
}
.plane_child3{
	position: relative;
	left: 935px;
	top: 164px;
}

.plane_child4{
	position: relative;
	left: 1103px;
	top: 35px;
}
.plane_child5{
	position: relative;
	left: 735px;
	top: 414px;
}
.plane_child6{
	position: relative;
	left: 1198px;
	top: 578px;

}
.plane_child7{
	left: 205px;
	position: relative;
	top: 537px;
}
.hero__container .row {
	min-height: 80vh;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hero__video {
 	padding: 7px 7px 0 7px;
}

.hero__title {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 30px;
}

@media (max-width: 399px) {
	.hero__container .row {
		min-height: unset;
	}
	.hero__video {
		margin-top: 20px;
	}
}

.form-control {
	height: 46px;
	padding: 6px 12px;
	/* background-color: transparent; */
	background: none;
	letter-spacing: 0.5px;
	border-radius: 2px;
	/* background: #87C9EC; */
	border: 3px solid var(--yellow-main-color);
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 15px;
	color: #fff;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.288);
	color: #fff;
	border: 3px solid #3a3ac9;
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%!important;
	height: 100%!important;
}

.contact-form {
	position: relative;
	z-index: 10;
	padding: 37px 38px;
	border: 6px solid #FBFBFB;
	border-radius: 15px;
	border-radius: 12px;
	background: none;
}

input.form-control::-webkit-input-placeholder { /* Edge */
  color: #e5e5e5;
  font-size: 14px;
}

input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e5e5e5;
  font-size: 14px;
}

input.form-control::placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

.icon-box svg {
	width: 95px;
}

.icon-box__title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-top: 15px;
}

.icon-box__title:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 40px;
	height: 3px;
	background-color:  #ABFFB8;
}

.form-response {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.iti__selected-dial-code {
	color: #fff;
}

.iti {
	margin-bottom: 15px;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 478px 78px #FFF , 798px 1691px #FFF , 898px 485px #FFF , 1345px 959px #FFF , 333px 150px #FFF , 1032px 1663px #FFF , 1670px 1909px #FFF , 450px 410px #FFF , 672px 837px #FFF , 1067px 938px #FFF , 239px 1219px #FFF , 500px 1301px #FFF , 727px 328px #FFF , 30px 573px #FFF , 1237px 283px #FFF , 709px 851px #FFF , 281px 589px #FFF , 968px 242px #FFF , 697px 1348px #FFF , 1382px 427px #FFF , 192px 668px #FFF , 290px 859px #FFF , 478px 1886px #FFF , 1424px 1929px #FFF , 148px 1075px #FFF , 512px 1683px #FFF , 1734px 1576px #FFF , 132px 1656px #FFF , 332px 1461px #FFF , 407px 434px #FFF , 774px 1227px #FFF , 1735px 1100px #FFF , 1715px 299px #FFF , 435px 1196px #FFF , 1592px 618px #FFF , 1996px 1234px #FFF , 121px 790px #FFF , 212px 295px #FFF , 944px 212px #FFF , 1716px 1187px #FFF , 949px 1619px #FFF , 927px 1168px #FFF , 1324px 1664px #FFF , 228px 223px #FFF , 916px 1413px #FFF , 1685px 1313px #FFF , 1239px 1727px #FFF , 236px 594px #FFF , 573px 451px #FFF , 88px 896px #FFF , 1347px 1552px #FFF , 1667px 1302px #FFF , 403px 1815px #FFF , 457px 1576px #FFF , 194px 316px #FFF , 703px 402px #FFF , 611px 1581px #FFF , 1537px 779px #FFF , 1160px 1911px #FFF , 1306px 1437px #FFF , 1268px 1191px #FFF , 346px 1793px #FFF , 1280px 960px #FFF , 902px 1516px #FFF , 884px 1461px #FFF , 1508px 1159px #FFF , 192px 311px #FFF , 1518px 1551px #FFF , 926px 658px #FFF , 201px 1591px #FFF , 1458px 1791px #FFF , 2px 1214px #FFF , 182px 862px #FFF , 409px 682px #FFF , 831px 925px #FFF , 1448px 961px #FFF , 1186px 714px #FFF , 934px 1412px #FFF , 883px 649px #FFF , 1817px 63px #FFF , 1528px 478px #FFF , 789px 1744px #FFF , 748px 3px #FFF , 1484px 781px #FFF , 1791px 1677px #FFF , 1322px 1680px #FFF , 902px 415px #FFF , 148px 854px #FFF , 615px 1562px #FFF , 1276px 34px #FFF , 1184px 295px #FFF , 1799px 832px #FFF , 708px 958px #FFF , 127px 1766px #FFF , 1893px 985px #FFF , 639px 1897px #FFF , 1490px 1025px #FFF , 1337px 1657px #FFF , 1049px 1674px #FFF , 49px 172px #FFF , 1887px 1186px #FFF , 200px 1030px #FFF , 906px 444px #FFF , 1050px 1041px #FFF , 681px 1846px #FFF , 1368px 1804px #FFF , 1499px 132px #FFF , 749px 1220px #FFF , 121px 1221px #FFF , 116px 1913px #FFF , 1357px 305px #FFF , 1277px 1513px #FFF , 1231px 1454px #FFF , 24px 355px #FFF , 492px 362px #FFF , 40px 634px #FFF , 501px 845px #FFF , 400px 1613px #FFF , 387px 1043px #FFF , 412px 611px #FFF , 1432px 1037px #FFF , 303px 1414px #FFF , 1289px 523px #FFF , 401px 1875px #FFF , 988px 1114px #FFF , 872px 37px #FFF , 444px 452px #FFF , 647px 1484px #FFF , 858px 1461px #FFF , 1336px 1874px #FFF , 129px 1746px #FFF , 1047px 734px #FFF , 699px 1052px #FFF , 201px 1352px #FFF , 1106px 142px #FFF , 1072px 266px #FFF , 510px 851px #FFF , 1420px 1824px #FFF , 671px 1652px #FFF , 1354px 540px #FFF , 42px 269px #FFF , 231px 1737px #FFF , 19px 942px #FFF , 1268px 911px #FFF , 1407px 1237px #FFF , 713px 412px #FFF , 4px 551px #FFF , 758px 917px #FFF , 466px 181px #FFF , 403px 1886px #FFF , 1339px 1949px #FFF , 1099px 6px #FFF , 671px 491px #FFF , 343px 1px #FFF , 812px 764px #FFF , 551px 284px #FFF , 320px 1954px #FFF , 1289px 562px #FFF , 174px 1130px #FFF , 1906px 668px #FFF , 508px 1639px #FFF , 1374px 959px #FFF , 612px 352px #FFF , 1402px 1907px #FFF , 1863px 714px #FFF , 680px 1665px #FFF , 587px 1315px #FFF , 1167px 1109px #FFF , 1750px 1815px #FFF , 1803px 1676px #FFF , 1663px 391px #FFF , 193px 981px #FFF , 325px 174px #FFF , 1662px 657px #FFF , 1437px 450px #FFF , 128px 860px #FFF , 1140px 1182px #FFF , 167px 1765px #FFF , 1407px 1637px #FFF , 127px 485px #FFF , 832px 1405px #FFF , 339px 1809px #FFF , 3px 346px #FFF , 129px 1169px #FFF , 796px 916px #FFF , 1572px 989px #FFF , 158px 1167px #FFF , 750px 615px #FFF , 737px 1453px #FFF , 116px 47px #FFF , 1803px 1185px #FFF , 1278px 1609px #FFF , 433px 329px #FFF , 1414px 823px #FFF , 1733px 1108px #FFF , 1242px 779px #FFF , 1486px 1763px #FFF , 1196px 1884px #FFF , 468px 308px #FFF , 483px 1569px #FFF , 1140px 1506px #FFF , 1799px 652px #FFF , 598px 1474px #FFF , 1421px 475px #FFF , 969px 584px #FFF , 1031px 1066px #FFF , 1664px 1175px #FFF , 268px 504px #FFF , 474px 1721px #FFF , 1070px 748px #FFF , 1947px 1651px #FFF , 1747px 969px #FFF , 1930px 992px #FFF , 1090px 298px #FFF , 1027px 1022px #FFF , 1052px 842px #FFF , 1765px 120px #FFF , 1778px 1560px #FFF , 974px 1321px #FFF , 1885px 253px #FFF , 60px 1765px #FFF , 662px 919px #FFF , 1850px 1584px #FFF , 1457px 1190px #FFF , 1168px 991px #FFF , 1237px 1975px #FFF , 477px 1051px #FFF , 1543px 1877px #FFF , 1763px 1524px #FFF , 1061px 184px #FFF , 1033px 1560px #FFF , 874px 105px #FFF , 1871px 687px #FFF , 596px 1415px #FFF , 345px 949px #FFF , 588px 1697px #FFF , 1325px 73px #FFF , 1178px 1428px #FFF , 1900px 497px #FFF , 1064px 649px #FFF , 1792px 1267px #FFF , 1904px 1560px #FFF , 111px 1545px #FFF , 1535px 778px #FFF , 812px 163px #FFF , 1132px 1832px #FFF , 422px 580px #FFF , 1199px 634px #FFF , 36px 1239px #FFF , 558px 525px #FFF , 1536px 1550px #FFF , 529px 1848px #FFF , 697px 1254px #FFF , 864px 1710px #FFF , 1738px 329px #FFF , 616px 1349px #FFF , 1841px 1805px #FFF , 1527px 1464px #FFF , 495px 406px #FFF , 1800px 1899px #FFF , 1870px 935px #FFF , 1205px 136px #FFF , 813px 1723px #FFF , 1083px 1080px #FFF , 542px 1523px #FFF , 1907px 563px #FFF , 424px 1463px #FFF , 1617px 1401px #FFF , 1853px 425px #FFF , 1079px 725px #FFF , 226px 426px #FFF , 1507px 714px #FFF , 741px 1078px #FFF , 330px 391px #FFF , 923px 816px #FFF , 172px 1243px #FFF , 371px 222px #FFF , 1648px 687px #FFF , 545px 1672px #FFF , 761px 1022px #FFF , 1967px 1367px #FFF , 1137px 644px #FFF , 1351px 1793px #FFF , 938px 805px #FFF , 1622px 357px #FFF , 1769px 504px #FFF , 521px 481px #FFF , 1591px 1796px #FFF , 169px 827px #FFF , 1622px 1953px #FFF , 1959px 1433px #FFF , 1304px 871px #FFF , 1169px 1570px #FFF , 1016px 1115px #FFF , 1145px 171px #FFF , 1283px 1805px #FFF , 1785px 487px #FFF , 133px 1000px #FFF , 1013px 498px #FFF , 811px 256px #FFF , 1380px 307px #FFF , 471px 69px #FFF , 1170px 1974px #FFF , 1116px 1400px #FFF , 1872px 1199px #FFF , 823px 322px #FFF , 1382px 425px #FFF , 1140px 810px #FFF , 1913px 169px #FFF , 1794px 1781px #FFF , 926px 274px #FFF , 781px 1835px #FFF , 322px 1425px #FFF , 1297px 1189px #FFF , 1694px 64px #FFF , 193px 242px #FFF , 431px 380px #FFF , 1692px 1659px #FFF , 1463px 60px #FFF , 1482px 336px #FFF , 1528px 848px #FFF , 1416px 521px #FFF , 16px 1668px #FFF , 1106px 1496px #FFF , 1486px 1212px #FFF , 1860px 1573px #FFF , 558px 1044px #FFF , 659px 762px #FFF , 1720px 717px #FFF , 1255px 938px #FFF , 658px 387px #FFF , 1256px 146px #FFF , 368px 1562px #FFF , 829px 763px #FFF , 1220px 888px #FFF , 912px 136px #FFF , 786px 1989px #FFF , 1175px 1731px #FFF , 768px 546px #FFF , 1566px 1147px #FFF , 436px 1963px #FFF , 724px 735px #FFF , 34px 450px #FFF , 896px 494px #FFF , 1161px 322px #FFF , 1078px 630px #FFF , 1102px 1999px #FFF , 607px 1752px #FFF , 1766px 899px #FFF , 68px 1095px #FFF , 1874px 1720px #FFF , 990px 692px #FFF , 1867px 1364px #FFF , 1939px 1874px #FFF , 95px 1823px #FFF , 1856px 64px #FFF , 659px 1702px #FFF , 419px 419px #FFF , 680px 1115px #FFF , 940px 49px #FFF , 1195px 235px #FFF , 225px 520px #FFF , 679px 299px #FFF , 115px 1442px #FFF , 890px 1688px #FFF , 1974px 1656px #FFF , 1479px 888px #FFF , 1175px 1129px #FFF , 1727px 40px #FFF , 1035px 696px #FFF , 227px 1043px #FFF , 186px 1416px #FFF , 204px 1212px #FFF , 70px 1051px #FFF , 1841px 566px #FFF , 205px 51px #FFF , 747px 391px #FFF , 1052px 437px #FFF , 91px 1816px #FFF , 402px 1832px #FFF , 458px 564px #FFF , 728px 256px #FFF , 1656px 35px #FFF , 135px 1525px #FFF , 936px 443px #FFF , 1535px 1723px #FFF , 1703px 1952px #FFF , 507px 1126px #FFF , 491px 1648px #FFF , 379px 1010px #FFF , 431px 263px #FFF , 1660px 360px #FFF , 1917px 137px #FFF , 689px 764px #FFF , 415px 1921px #FFF , 687px 553px #FFF , 312px 204px #FFF , 847px 681px #FFF , 1408px 701px #FFF , 1817px 267px #FFF , 1079px 930px #FFF , 1261px 1346px #FFF , 291px 11px #FFF , 421px 1500px #FFF , 244px 1732px #FFF , 720px 159px #FFF , 1978px 124px #FFF , 1729px 1958px #FFF , 878px 1523px #FFF , 1738px 702px #FFF , 968px 1804px #FFF , 1866px 958px #FFF , 1768px 1724px #FFF , 1108px 1788px #FFF , 496px 1140px #FFF , 1523px 1478px #FFF , 166px 607px #FFF , 1355px 581px #FFF , 746px 119px #FFF , 688px 603px #FFF , 1446px 175px #FFF , 617px 575px #FFF , 60px 327px #FFF , 438px 1648px #FFF , 1519px 1705px #FFF , 1310px 1988px #FFF , 554px 972px #FFF , 1644px 773px #FFF , 353px 312px #FFF , 1171px 1112px #FFF , 495px 1278px #FFF , 1297px 875px #FFF , 365px 1901px #FFF , 1667px 1581px #FFF , 760px 51px #FFF , 95px 80px #FFF , 1456px 1502px #FFF , 26px 1567px #FFF , 1026px 1895px #FFF , 530px 1301px #FFF , 1811px 619px #FFF , 1827px 1960px #FFF , 328px 1357px #FFF , 866px 665px #FFF , 767px 237px #FFF , 1579px 412px #FFF , 1175px 1386px #FFF , 188px 1220px #FFF , 1792px 597px #FFF , 312px 1027px #FFF , 790px 1174px #FFF , 366px 954px #FFF , 775px 144px #FFF , 1872px 934px #FFF , 961px 208px #FFF , 434px 1500px #FFF , 1040px 916px #FFF , 39px 849px #FFF , 590px 129px #FFF , 1399px 319px #FFF , 277px 6px #FFF , 1625px 281px #FFF , 1777px 1997px #FFF , 499px 537px #FFF , 79px 1086px #FFF , 1497px 1417px #FFF , 604px 1922px #FFF , 1902px 939px #FFF , 1204px 598px #FFF , 1387px 12px #FFF , 694px 1415px #FFF , 1850px 1092px #FFF , 509px 1072px #FFF , 696px 921px #FFF , 563px 119px #FFF , 994px 1872px #FFF , 1482px 714px #FFF , 422px 343px #FFF , 1831px 1626px #FFF , 167px 926px #FFF , 988px 1199px #FFF , 452px 480px #FFF , 489px 1641px #FFF , 340px 1074px #FFF , 124px 832px #FFF , 1113px 141px #FFF , 1162px 416px #FFF , 1080px 310px #FFF , 1086px 240px #FFF , 1194px 1893px #FFF , 1319px 1692px #FFF , 747px 1817px #FFF , 144px 468px #FFF , 1793px 1849px #FFF , 564px 1261px #FFF , 1945px 1344px #FFF , 1353px 1141px #FFF , 1028px 649px #FFF , 842px 625px #FFF , 1972px 1972px #FFF , 1053px 1546px #FFF , 272px 1293px #FFF , 1320px 679px #FFF , 1285px 1667px #FFF , 1415px 924px #FFF , 1644px 194px #FFF , 1069px 34px #FFF , 1616px 1281px #FFF , 1017px 1134px #FFF , 1872px 963px #FFF , 315px 494px #FFF , 62px 1789px #FFF , 901px 1614px #FFF , 1250px 1078px #FFF , 829px 1464px #FFF , 474px 695px #FFF , 1836px 747px #FFF , 191px 1465px #FFF , 298px 403px #FFF , 1986px 1484px #FFF , 256px 1519px #FFF , 1753px 248px #FFF , 1539px 1616px #FFF , 839px 1864px #FFF , 194px 1287px #FFF , 974px 952px #FFF , 1104px 551px #FFF , 1296px 1166px #FFF , 610px 483px #FFF , 278px 1640px #FFF , 352px 951px #FFF , 892px 579px #FFF , 1560px 1199px #FFF , 1951px 386px #FFF , 1397px 532px #FFF , 1377px 999px #FFF , 1057px 1710px #FFF , 611px 1717px #FFF , 1728px 1340px #FFF , 1214px 1742px #FFF , 1446px 1682px #FFF , 176px 747px #FFF , 197px 231px #FFF , 157px 1478px #FFF , 1244px 777px #FFF , 1020px 765px #FFF , 585px 781px #FFF , 1001px 771px #FFF , 1108px 598px #FFF , 1882px 68px #FFF , 196px 1067px #FFF , 1803px 1190px #FFF , 181px 122px #FFF , 1427px 1743px #FFF , 1195px 1835px #FFF , 857px 1911px #FFF , 954px 555px #FFF , 1481px 103px #FFF , 1869px 1682px #FFF , 537px 1714px #FFF , 1537px 613px #FFF , 666px 1952px #FFF , 1105px 1189px #FFF , 1280px 136px #FFF , 420px 682px #FFF , 1124px 1714px #FFF , 1538px 143px #FFF , 1994px 1190px #FFF , 1371px 874px #FFF , 531px 1557px #FFF , 323px 184px #FFF , 1152px 1147px #FFF , 455px 292px #FFF , 685px 1229px #FFF , 1128px 848px #FFF , 1557px 501px #FFF , 427px 1206px #FFF , 629px 821px #FFF , 624px 256px #FFF , 1375px 1977px #FFF , 1429px 374px #FFF , 839px 711px #FFF , 1735px 1758px #FFF , 1427px 1943px #FFF , 654px 1190px #FFF , 149px 1580px #FFF , 1176px 554px #FFF , 317px 82px #FFF , 911px 1410px #FFF , 1580px 1833px #FFF , 1097px 62px #FFF , 69px 501px #FFF , 729px 1304px #FFF , 600px 619px #FFF , 1666px 544px #FFF , 530px 548px #FFF , 1339px 233px #FFF , 1084px 1764px #FFF , 627px 813px #FFF , 82px 1556px #FFF , 14px 67px #FFF , 836px 1556px #FFF , 81px 95px #FFF , 753px 375px #FFF , 445px 1218px #FFF , 169px 1883px #FFF , 1374px 1592px #FFF , 978px 1756px #FFF , 1570px 1279px #FFF , 1495px 439px #FFF , 1575px 1161px #FFF , 1734px 413px #FFF , 883px 325px #FFF , 260px 57px #FFF , 1090px 895px #FFF , 774px 323px #FFF , 184px 1836px #FFF , 520px 1825px #FFF , 1689px 837px #FFF , 350px 38px #FFF , 1063px 1642px #FFF , 1769px 1310px #FFF , 1002px 24px #FFF , 1232px 1893px #FFF , 7px 1011px #FFF , 189px 1336px #FFF , 49px 245px #FFF , 1135px 1906px #FFF , 302px 1694px #FFF , 699px 403px #FFF , 89px 1202px #FFF , 1996px 1520px #FFF , 1840px 245px #FFF , 1796px 813px #FFF , 1704px 372px #FFF , 564px 144px #FFF , 838px 350px #FFF , 952px 1420px #FFF , 645px 32px #FFF , 456px 1422px #FFF , 1041px 1572px #FFF , 1322px 77px #FFF , 539px 86px #FFF , 1460px 1357px #FFF , 1512px 340px #FFF , 752px 1920px #FFF , 238px 763px #FFF , 1220px 1284px #FFF , 1441px 377px #FFF , 1620px 1873px #FFF , 1371px 1149px #FFF , 982px 1889px #FFF , 268px 1691px #FFF , 520px 1577px #FFF , 76px 1224px #FFF , 1057px 1075px #FFF , 746px 42px #FFF , 1221px 342px #FFF , 679px 1794px #FFF , 481px 957px #FFF , 690px 1507px #FFF , 1616px 385px #FFF , 262px 1182px #FFF , 27px 880px #FFF , 1715px 422px #FFF , 332px 1904px #FFF , 17px 1861px #FFF , 1948px 41px #FFF , 428px 138px #FFF , 611px 871px #FFF , 367px 619px #FFF , 133px 1130px #FFF , 868px 49px #FFF , 1859px 280px #FFF , 507px 785px #FFF , 1926px 1146px #FFF , 1723px 1624px #FFF , 479px 1283px #FFF , 162px 606px #FFF , 1740px 920px #FFF , 1533px 1433px #FFF , 1769px 977px #FFF , 107px 364px #FFF , 1591px 561px #FFF , 988px 176px #FFF , 725px 324px #FFF , 737px 1179px #FFF , 552px 362px #FFF , 793px 1735px #FFF , 1577px 1583px #FFF , 608px 1807px #FFF , 568px 99px #FFF , 1796px 1612px #FFF , 522px 1313px #FFF , 487px 489px #FFF , 1871px 1853px #FFF , 664px 1820px #FFF , 1969px 1795px #FFF , 702px 910px #FFF , 692px 1174px #FFF;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 478px 78px #FFF , 798px 1691px #FFF , 898px 485px #FFF , 1345px 959px #FFF , 333px 150px #FFF , 1032px 1663px #FFF , 1670px 1909px #FFF , 450px 410px #FFF , 672px 837px #FFF , 1067px 938px #FFF , 239px 1219px #FFF , 500px 1301px #FFF , 727px 328px #FFF , 30px 573px #FFF , 1237px 283px #FFF , 709px 851px #FFF , 281px 589px #FFF , 968px 242px #FFF , 697px 1348px #FFF , 1382px 427px #FFF , 192px 668px #FFF , 290px 859px #FFF , 478px 1886px #FFF , 1424px 1929px #FFF , 148px 1075px #FFF , 512px 1683px #FFF , 1734px 1576px #FFF , 132px 1656px #FFF , 332px 1461px #FFF , 407px 434px #FFF , 774px 1227px #FFF , 1735px 1100px #FFF , 1715px 299px #FFF , 435px 1196px #FFF , 1592px 618px #FFF , 1996px 1234px #FFF , 121px 790px #FFF , 212px 295px #FFF , 944px 212px #FFF , 1716px 1187px #FFF , 949px 1619px #FFF , 927px 1168px #FFF , 1324px 1664px #FFF , 228px 223px #FFF , 916px 1413px #FFF , 1685px 1313px #FFF , 1239px 1727px #FFF , 236px 594px #FFF , 573px 451px #FFF , 88px 896px #FFF , 1347px 1552px #FFF , 1667px 1302px #FFF , 403px 1815px #FFF , 457px 1576px #FFF , 194px 316px #FFF , 703px 402px #FFF , 611px 1581px #FFF , 1537px 779px #FFF , 1160px 1911px #FFF , 1306px 1437px #FFF , 1268px 1191px #FFF , 346px 1793px #FFF , 1280px 960px #FFF , 902px 1516px #FFF , 884px 1461px #FFF , 1508px 1159px #FFF , 192px 311px #FFF , 1518px 1551px #FFF , 926px 658px #FFF , 201px 1591px #FFF , 1458px 1791px #FFF , 2px 1214px #FFF , 182px 862px #FFF , 409px 682px #FFF , 831px 925px #FFF , 1448px 961px #FFF , 1186px 714px #FFF , 934px 1412px #FFF , 883px 649px #FFF , 1817px 63px #FFF , 1528px 478px #FFF , 789px 1744px #FFF , 748px 3px #FFF , 1484px 781px #FFF , 1791px 1677px #FFF , 1322px 1680px #FFF , 902px 415px #FFF , 148px 854px #FFF , 615px 1562px #FFF , 1276px 34px #FFF , 1184px 295px #FFF , 1799px 832px #FFF , 708px 958px #FFF , 127px 1766px #FFF , 1893px 985px #FFF , 639px 1897px #FFF , 1490px 1025px #FFF , 1337px 1657px #FFF , 1049px 1674px #FFF , 49px 172px #FFF , 1887px 1186px #FFF , 200px 1030px #FFF , 906px 444px #FFF , 1050px 1041px #FFF , 681px 1846px #FFF , 1368px 1804px #FFF , 1499px 132px #FFF , 749px 1220px #FFF , 121px 1221px #FFF , 116px 1913px #FFF , 1357px 305px #FFF , 1277px 1513px #FFF , 1231px 1454px #FFF , 24px 355px #FFF , 492px 362px #FFF , 40px 634px #FFF , 501px 845px #FFF , 400px 1613px #FFF , 387px 1043px #FFF , 412px 611px #FFF , 1432px 1037px #FFF , 303px 1414px #FFF , 1289px 523px #FFF , 401px 1875px #FFF , 988px 1114px #FFF , 872px 37px #FFF , 444px 452px #FFF , 647px 1484px #FFF , 858px 1461px #FFF , 1336px 1874px #FFF , 129px 1746px #FFF , 1047px 734px #FFF , 699px 1052px #FFF , 201px 1352px #FFF , 1106px 142px #FFF , 1072px 266px #FFF , 510px 851px #FFF , 1420px 1824px #FFF , 671px 1652px #FFF , 1354px 540px #FFF , 42px 269px #FFF , 231px 1737px #FFF , 19px 942px #FFF , 1268px 911px #FFF , 1407px 1237px #FFF , 713px 412px #FFF , 4px 551px #FFF , 758px 917px #FFF , 466px 181px #FFF , 403px 1886px #FFF , 1339px 1949px #FFF , 1099px 6px #FFF , 671px 491px #FFF , 343px 1px #FFF , 812px 764px #FFF , 551px 284px #FFF , 320px 1954px #FFF , 1289px 562px #FFF , 174px 1130px #FFF , 1906px 668px #FFF , 508px 1639px #FFF , 1374px 959px #FFF , 612px 352px #FFF , 1402px 1907px #FFF , 1863px 714px #FFF , 680px 1665px #FFF , 587px 1315px #FFF , 1167px 1109px #FFF , 1750px 1815px #FFF , 1803px 1676px #FFF , 1663px 391px #FFF , 193px 981px #FFF , 325px 174px #FFF , 1662px 657px #FFF , 1437px 450px #FFF , 128px 860px #FFF , 1140px 1182px #FFF , 167px 1765px #FFF , 1407px 1637px #FFF , 127px 485px #FFF , 832px 1405px #FFF , 339px 1809px #FFF , 3px 346px #FFF , 129px 1169px #FFF , 796px 916px #FFF , 1572px 989px #FFF , 158px 1167px #FFF , 750px 615px #FFF , 737px 1453px #FFF , 116px 47px #FFF , 1803px 1185px #FFF , 1278px 1609px #FFF , 433px 329px #FFF , 1414px 823px #FFF , 1733px 1108px #FFF , 1242px 779px #FFF , 1486px 1763px #FFF , 1196px 1884px #FFF , 468px 308px #FFF , 483px 1569px #FFF , 1140px 1506px #FFF , 1799px 652px #FFF , 598px 1474px #FFF , 1421px 475px #FFF , 969px 584px #FFF , 1031px 1066px #FFF , 1664px 1175px #FFF , 268px 504px #FFF , 474px 1721px #FFF , 1070px 748px #FFF , 1947px 1651px #FFF , 1747px 969px #FFF , 1930px 992px #FFF , 1090px 298px #FFF , 1027px 1022px #FFF , 1052px 842px #FFF , 1765px 120px #FFF , 1778px 1560px #FFF , 974px 1321px #FFF , 1885px 253px #FFF , 60px 1765px #FFF , 662px 919px #FFF , 1850px 1584px #FFF , 1457px 1190px #FFF , 1168px 991px #FFF , 1237px 1975px #FFF , 477px 1051px #FFF , 1543px 1877px #FFF , 1763px 1524px #FFF , 1061px 184px #FFF , 1033px 1560px #FFF , 874px 105px #FFF , 1871px 687px #FFF , 596px 1415px #FFF , 345px 949px #FFF , 588px 1697px #FFF , 1325px 73px #FFF , 1178px 1428px #FFF , 1900px 497px #FFF , 1064px 649px #FFF , 1792px 1267px #FFF , 1904px 1560px #FFF , 111px 1545px #FFF , 1535px 778px #FFF , 812px 163px #FFF , 1132px 1832px #FFF , 422px 580px #FFF , 1199px 634px #FFF , 36px 1239px #FFF , 558px 525px #FFF , 1536px 1550px #FFF , 529px 1848px #FFF , 697px 1254px #FFF , 864px 1710px #FFF , 1738px 329px #FFF , 616px 1349px #FFF , 1841px 1805px #FFF , 1527px 1464px #FFF , 495px 406px #FFF , 1800px 1899px #FFF , 1870px 935px #FFF , 1205px 136px #FFF , 813px 1723px #FFF , 1083px 1080px #FFF , 542px 1523px #FFF , 1907px 563px #FFF , 424px 1463px #FFF , 1617px 1401px #FFF , 1853px 425px #FFF , 1079px 725px #FFF , 226px 426px #FFF , 1507px 714px #FFF , 741px 1078px #FFF , 330px 391px #FFF , 923px 816px #FFF , 172px 1243px #FFF , 371px 222px #FFF , 1648px 687px #FFF , 545px 1672px #FFF , 761px 1022px #FFF , 1967px 1367px #FFF , 1137px 644px #FFF , 1351px 1793px #FFF , 938px 805px #FFF , 1622px 357px #FFF , 1769px 504px #FFF , 521px 481px #FFF , 1591px 1796px #FFF , 169px 827px #FFF , 1622px 1953px #FFF , 1959px 1433px #FFF , 1304px 871px #FFF , 1169px 1570px #FFF , 1016px 1115px #FFF , 1145px 171px #FFF , 1283px 1805px #FFF , 1785px 487px #FFF , 133px 1000px #FFF , 1013px 498px #FFF , 811px 256px #FFF , 1380px 307px #FFF , 471px 69px #FFF , 1170px 1974px #FFF , 1116px 1400px #FFF , 1872px 1199px #FFF , 823px 322px #FFF , 1382px 425px #FFF , 1140px 810px #FFF , 1913px 169px #FFF , 1794px 1781px #FFF , 926px 274px #FFF , 781px 1835px #FFF , 322px 1425px #FFF , 1297px 1189px #FFF , 1694px 64px #FFF , 193px 242px #FFF , 431px 380px #FFF , 1692px 1659px #FFF , 1463px 60px #FFF , 1482px 336px #FFF , 1528px 848px #FFF , 1416px 521px #FFF , 16px 1668px #FFF , 1106px 1496px #FFF , 1486px 1212px #FFF , 1860px 1573px #FFF , 558px 1044px #FFF , 659px 762px #FFF , 1720px 717px #FFF , 1255px 938px #FFF , 658px 387px #FFF , 1256px 146px #FFF , 368px 1562px #FFF , 829px 763px #FFF , 1220px 888px #FFF , 912px 136px #FFF , 786px 1989px #FFF , 1175px 1731px #FFF , 768px 546px #FFF , 1566px 1147px #FFF , 436px 1963px #FFF , 724px 735px #FFF , 34px 450px #FFF , 896px 494px #FFF , 1161px 322px #FFF , 1078px 630px #FFF , 1102px 1999px #FFF , 607px 1752px #FFF , 1766px 899px #FFF , 68px 1095px #FFF , 1874px 1720px #FFF , 990px 692px #FFF , 1867px 1364px #FFF , 1939px 1874px #FFF , 95px 1823px #FFF , 1856px 64px #FFF , 659px 1702px #FFF , 419px 419px #FFF , 680px 1115px #FFF , 940px 49px #FFF , 1195px 235px #FFF , 225px 520px #FFF , 679px 299px #FFF , 115px 1442px #FFF , 890px 1688px #FFF , 1974px 1656px #FFF , 1479px 888px #FFF , 1175px 1129px #FFF , 1727px 40px #FFF , 1035px 696px #FFF , 227px 1043px #FFF , 186px 1416px #FFF , 204px 1212px #FFF , 70px 1051px #FFF , 1841px 566px #FFF , 205px 51px #FFF , 747px 391px #FFF , 1052px 437px #FFF , 91px 1816px #FFF , 402px 1832px #FFF , 458px 564px #FFF , 728px 256px #FFF , 1656px 35px #FFF , 135px 1525px #FFF , 936px 443px #FFF , 1535px 1723px #FFF , 1703px 1952px #FFF , 507px 1126px #FFF , 491px 1648px #FFF , 379px 1010px #FFF , 431px 263px #FFF , 1660px 360px #FFF , 1917px 137px #FFF , 689px 764px #FFF , 415px 1921px #FFF , 687px 553px #FFF , 312px 204px #FFF , 847px 681px #FFF , 1408px 701px #FFF , 1817px 267px #FFF , 1079px 930px #FFF , 1261px 1346px #FFF , 291px 11px #FFF , 421px 1500px #FFF , 244px 1732px #FFF , 720px 159px #FFF , 1978px 124px #FFF , 1729px 1958px #FFF , 878px 1523px #FFF , 1738px 702px #FFF , 968px 1804px #FFF , 1866px 958px #FFF , 1768px 1724px #FFF , 1108px 1788px #FFF , 496px 1140px #FFF , 1523px 1478px #FFF , 166px 607px #FFF , 1355px 581px #FFF , 746px 119px #FFF , 688px 603px #FFF , 1446px 175px #FFF , 617px 575px #FFF , 60px 327px #FFF , 438px 1648px #FFF , 1519px 1705px #FFF , 1310px 1988px #FFF , 554px 972px #FFF , 1644px 773px #FFF , 353px 312px #FFF , 1171px 1112px #FFF , 495px 1278px #FFF , 1297px 875px #FFF , 365px 1901px #FFF , 1667px 1581px #FFF , 760px 51px #FFF , 95px 80px #FFF , 1456px 1502px #FFF , 26px 1567px #FFF , 1026px 1895px #FFF , 530px 1301px #FFF , 1811px 619px #FFF , 1827px 1960px #FFF , 328px 1357px #FFF , 866px 665px #FFF , 767px 237px #FFF , 1579px 412px #FFF , 1175px 1386px #FFF , 188px 1220px #FFF , 1792px 597px #FFF , 312px 1027px #FFF , 790px 1174px #FFF , 366px 954px #FFF , 775px 144px #FFF , 1872px 934px #FFF , 961px 208px #FFF , 434px 1500px #FFF , 1040px 916px #FFF , 39px 849px #FFF , 590px 129px #FFF , 1399px 319px #FFF , 277px 6px #FFF , 1625px 281px #FFF , 1777px 1997px #FFF , 499px 537px #FFF , 79px 1086px #FFF , 1497px 1417px #FFF , 604px 1922px #FFF , 1902px 939px #FFF , 1204px 598px #FFF , 1387px 12px #FFF , 694px 1415px #FFF , 1850px 1092px #FFF , 509px 1072px #FFF , 696px 921px #FFF , 563px 119px #FFF , 994px 1872px #FFF , 1482px 714px #FFF , 422px 343px #FFF , 1831px 1626px #FFF , 167px 926px #FFF , 988px 1199px #FFF , 452px 480px #FFF , 489px 1641px #FFF , 340px 1074px #FFF , 124px 832px #FFF , 1113px 141px #FFF , 1162px 416px #FFF , 1080px 310px #FFF , 1086px 240px #FFF , 1194px 1893px #FFF , 1319px 1692px #FFF , 747px 1817px #FFF , 144px 468px #FFF , 1793px 1849px #FFF , 564px 1261px #FFF , 1945px 1344px #FFF , 1353px 1141px #FFF , 1028px 649px #FFF , 842px 625px #FFF , 1972px 1972px #FFF , 1053px 1546px #FFF , 272px 1293px #FFF , 1320px 679px #FFF , 1285px 1667px #FFF , 1415px 924px #FFF , 1644px 194px #FFF , 1069px 34px #FFF , 1616px 1281px #FFF , 1017px 1134px #FFF , 1872px 963px #FFF , 315px 494px #FFF , 62px 1789px #FFF , 901px 1614px #FFF , 1250px 1078px #FFF , 829px 1464px #FFF , 474px 695px #FFF , 1836px 747px #FFF , 191px 1465px #FFF , 298px 403px #FFF , 1986px 1484px #FFF , 256px 1519px #FFF , 1753px 248px #FFF , 1539px 1616px #FFF , 839px 1864px #FFF , 194px 1287px #FFF , 974px 952px #FFF , 1104px 551px #FFF , 1296px 1166px #FFF , 610px 483px #FFF , 278px 1640px #FFF , 352px 951px #FFF , 892px 579px #FFF , 1560px 1199px #FFF , 1951px 386px #FFF , 1397px 532px #FFF , 1377px 999px #FFF , 1057px 1710px #FFF , 611px 1717px #FFF , 1728px 1340px #FFF , 1214px 1742px #FFF , 1446px 1682px #FFF , 176px 747px #FFF , 197px 231px #FFF , 157px 1478px #FFF , 1244px 777px #FFF , 1020px 765px #FFF , 585px 781px #FFF , 1001px 771px #FFF , 1108px 598px #FFF , 1882px 68px #FFF , 196px 1067px #FFF , 1803px 1190px #FFF , 181px 122px #FFF , 1427px 1743px #FFF , 1195px 1835px #FFF , 857px 1911px #FFF , 954px 555px #FFF , 1481px 103px #FFF , 1869px 1682px #FFF , 537px 1714px #FFF , 1537px 613px #FFF , 666px 1952px #FFF , 1105px 1189px #FFF , 1280px 136px #FFF , 420px 682px #FFF , 1124px 1714px #FFF , 1538px 143px #FFF , 1994px 1190px #FFF , 1371px 874px #FFF , 531px 1557px #FFF , 323px 184px #FFF , 1152px 1147px #FFF , 455px 292px #FFF , 685px 1229px #FFF , 1128px 848px #FFF , 1557px 501px #FFF , 427px 1206px #FFF , 629px 821px #FFF , 624px 256px #FFF , 1375px 1977px #FFF , 1429px 374px #FFF , 839px 711px #FFF , 1735px 1758px #FFF , 1427px 1943px #FFF , 654px 1190px #FFF , 149px 1580px #FFF , 1176px 554px #FFF , 317px 82px #FFF , 911px 1410px #FFF , 1580px 1833px #FFF , 1097px 62px #FFF , 69px 501px #FFF , 729px 1304px #FFF , 600px 619px #FFF , 1666px 544px #FFF , 530px 548px #FFF , 1339px 233px #FFF , 1084px 1764px #FFF , 627px 813px #FFF , 82px 1556px #FFF , 14px 67px #FFF , 836px 1556px #FFF , 81px 95px #FFF , 753px 375px #FFF , 445px 1218px #FFF , 169px 1883px #FFF , 1374px 1592px #FFF , 978px 1756px #FFF , 1570px 1279px #FFF , 1495px 439px #FFF , 1575px 1161px #FFF , 1734px 413px #FFF , 883px 325px #FFF , 260px 57px #FFF , 1090px 895px #FFF , 774px 323px #FFF , 184px 1836px #FFF , 520px 1825px #FFF , 1689px 837px #FFF , 350px 38px #FFF , 1063px 1642px #FFF , 1769px 1310px #FFF , 1002px 24px #FFF , 1232px 1893px #FFF , 7px 1011px #FFF , 189px 1336px #FFF , 49px 245px #FFF , 1135px 1906px #FFF , 302px 1694px #FFF , 699px 403px #FFF , 89px 1202px #FFF , 1996px 1520px #FFF , 1840px 245px #FFF , 1796px 813px #FFF , 1704px 372px #FFF , 564px 144px #FFF , 838px 350px #FFF , 952px 1420px #FFF , 645px 32px #FFF , 456px 1422px #FFF , 1041px 1572px #FFF , 1322px 77px #FFF , 539px 86px #FFF , 1460px 1357px #FFF , 1512px 340px #FFF , 752px 1920px #FFF , 238px 763px #FFF , 1220px 1284px #FFF , 1441px 377px #FFF , 1620px 1873px #FFF , 1371px 1149px #FFF , 982px 1889px #FFF , 268px 1691px #FFF , 520px 1577px #FFF , 76px 1224px #FFF , 1057px 1075px #FFF , 746px 42px #FFF , 1221px 342px #FFF , 679px 1794px #FFF , 481px 957px #FFF , 690px 1507px #FFF , 1616px 385px #FFF , 262px 1182px #FFF , 27px 880px #FFF , 1715px 422px #FFF , 332px 1904px #FFF , 17px 1861px #FFF , 1948px 41px #FFF , 428px 138px #FFF , 611px 871px #FFF , 367px 619px #FFF , 133px 1130px #FFF , 868px 49px #FFF , 1859px 280px #FFF , 507px 785px #FFF , 1926px 1146px #FFF , 1723px 1624px #FFF , 479px 1283px #FFF , 162px 606px #FFF , 1740px 920px #FFF , 1533px 1433px #FFF , 1769px 977px #FFF , 107px 364px #FFF , 1591px 561px #FFF , 988px 176px #FFF , 725px 324px #FFF , 737px 1179px #FFF , 552px 362px #FFF , 793px 1735px #FFF , 1577px 1583px #FFF , 608px 1807px #FFF , 568px 99px #FFF , 1796px 1612px #FFF , 522px 1313px #FFF , 487px 489px #FFF , 1871px 1853px #FFF , 664px 1820px #FFF , 1969px 1795px #FFF , 702px 910px #FFF , 692px 1174px #FFF;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1746px 1769px #FFF , 494px 599px #FFF , 1118px 1282px #FFF , 95px 1127px #FFF , 1247px 974px #FFF , 1396px 427px #FFF , 992px 1763px #FFF , 665px 1660px #FFF , 1909px 302px #FFF , 1339px 468px #FFF , 865px 1004px #FFF , 6px 630px #FFF , 1779px 1855px #FFF , 577px 1729px #FFF , 1781px 1327px #FFF , 853px 1885px #FFF , 1416px 222px #FFF , 89px 582px #FFF , 1772px 897px #FFF , 1405px 1753px #FFF , 1579px 1689px #FFF , 802px 1681px #FFF , 798px 1421px #FFF , 1580px 749px #FFF , 1390px 277px #FFF , 10px 1303px #FFF , 376px 1153px #FFF , 1942px 1363px #FFF , 1676px 1625px #FFF , 1221px 1950px #FFF , 65px 1786px #FFF , 63px 624px #FFF , 74px 1903px #FFF , 2000px 613px #FFF , 566px 1803px #FFF , 1956px 1047px #FFF , 1875px 1853px #FFF , 965px 1128px #FFF , 1609px 1022px #FFF , 1327px 229px #FFF , 747px 44px #FFF , 1558px 83px #FFF , 1383px 866px #FFF , 899px 1153px #FFF , 508px 98px #FFF , 1634px 1778px #FFF , 324px 647px #FFF , 1174px 946px #FFF , 470px 173px #FFF , 1285px 653px #FFF , 1582px 857px #FFF , 1205px 1769px #FFF , 1943px 691px #FFF , 1765px 1297px #FFF , 700px 809px #FFF , 883px 1364px #FFF , 815px 721px #FFF , 85px 943px #FFF , 1503px 765px #FFF , 1303px 1940px #FFF , 1902px 1457px #FFF , 1000px 1300px #FFF , 601px 183px #FFF , 550px 505px #FFF , 1152px 249px #FFF , 1450px 513px #FFF , 407px 1996px #FFF , 49px 601px #FFF , 354px 874px #FFF , 298px 1235px #FFF , 1161px 281px #FFF , 656px 556px #FFF , 625px 543px #FFF , 455px 519px #FFF , 1482px 1174px #FFF , 223px 1552px #FFF , 964px 338px #FFF , 827px 723px #FFF , 1293px 625px #FFF , 1936px 514px #FFF , 871px 639px #FFF , 221px 7px #FFF , 957px 975px #FFF , 1141px 637px #FFF , 528px 917px #FFF , 713px 805px #FFF , 1356px 228px #FFF , 1365px 98px #FFF , 1844px 1512px #FFF , 440px 62px #FFF , 645px 1814px #FFF , 1713px 293px #FFF , 1330px 463px #FFF , 506px 653px #FFF , 680px 250px #FFF , 254px 1550px #FFF , 1398px 1134px #FFF , 1292px 1504px #FFF , 1860px 431px #FFF , 498px 987px #FFF , 1528px 591px #FFF , 1146px 77px #FFF , 1955px 761px #FFF , 91px 1614px #FFF , 1656px 254px #FFF , 445px 1244px #FFF , 943px 238px #FFF , 399px 295px #FFF , 434px 1775px #FFF , 1777px 1370px #FFF , 1176px 185px #FFF , 1623px 1155px #FFF , 1040px 1102px #FFF , 890px 1982px #FFF , 1526px 178px #FFF , 927px 497px #FFF , 449px 1937px #FFF , 890px 23px #FFF , 1623px 1045px #FFF , 1758px 1281px #FFF , 898px 385px #FFF , 1962px 995px #FFF , 563px 1565px #FFF , 152px 1250px #FFF , 1056px 7px #FFF , 960px 119px #FFF , 589px 1897px #FFF , 1689px 380px #FFF , 1297px 586px #FFF , 714px 262px #FFF , 810px 1531px #FFF , 877px 553px #FFF , 24px 1435px #FFF , 1024px 1456px #FFF , 1688px 1386px #FFF , 1905px 1145px #FFF , 513px 1545px #FFF , 509px 529px #FFF , 1371px 1816px #FFF , 1688px 1377px #FFF , 758px 1715px #FFF , 1938px 581px #FFF , 291px 201px #FFF , 723px 566px #FFF , 1250px 613px #FFF , 553px 657px #FFF , 536px 273px #FFF , 944px 801px #FFF , 973px 1886px #FFF , 1243px 96px #FFF , 1019px 16px #FFF , 1983px 640px #FFF , 1508px 245px #FFF , 819px 1546px #FFF , 892px 1357px #FFF , 994px 28px #FFF , 1586px 538px #FFF , 1725px 1519px #FFF , 295px 421px #FFF , 49px 811px #FFF , 191px 102px #FFF , 681px 1721px #FFF , 315px 424px #FFF , 1610px 1442px #FFF , 708px 1899px #FFF , 1443px 187px #FFF , 1830px 547px #FFF , 1969px 1836px #FFF , 1717px 431px #FFF , 1549px 17px #FFF , 1961px 159px #FFF , 348px 30px #FFF , 62px 601px #FFF , 1604px 774px #FFF , 1020px 264px #FFF , 1515px 1828px #FFF , 1850px 73px #FFF , 1265px 385px #FFF , 1607px 274px #FFF , 1576px 22px #FFF , 188px 1930px #FFF , 1281px 218px #FFF , 1090px 184px #FFF , 1361px 1012px #FFF , 235px 1903px #FFF , 86px 443px #FFF , 1469px 1254px #FFF , 71px 897px #FFF , 532px 222px #FFF , 1059px 1644px #FFF , 1644px 841px #FFF , 101px 1139px #FFF , 849px 1696px #FFF , 150px 101px #FFF , 691px 451px #FFF , 1281px 1684px #FFF , 483px 1346px #FFF , 176px 132px #FFF , 1808px 1510px #FFF , 1570px 805px #FFF;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1746px 1769px #FFF , 494px 599px #FFF , 1118px 1282px #FFF , 95px 1127px #FFF , 1247px 974px #FFF , 1396px 427px #FFF , 992px 1763px #FFF , 665px 1660px #FFF , 1909px 302px #FFF , 1339px 468px #FFF , 865px 1004px #FFF , 6px 630px #FFF , 1779px 1855px #FFF , 577px 1729px #FFF , 1781px 1327px #FFF , 853px 1885px #FFF , 1416px 222px #FFF , 89px 582px #FFF , 1772px 897px #FFF , 1405px 1753px #FFF , 1579px 1689px #FFF , 802px 1681px #FFF , 798px 1421px #FFF , 1580px 749px #FFF , 1390px 277px #FFF , 10px 1303px #FFF , 376px 1153px #FFF , 1942px 1363px #FFF , 1676px 1625px #FFF , 1221px 1950px #FFF , 65px 1786px #FFF , 63px 624px #FFF , 74px 1903px #FFF , 2000px 613px #FFF , 566px 1803px #FFF , 1956px 1047px #FFF , 1875px 1853px #FFF , 965px 1128px #FFF , 1609px 1022px #FFF , 1327px 229px #FFF , 747px 44px #FFF , 1558px 83px #FFF , 1383px 866px #FFF , 899px 1153px #FFF , 508px 98px #FFF , 1634px 1778px #FFF , 324px 647px #FFF , 1174px 946px #FFF , 470px 173px #FFF , 1285px 653px #FFF , 1582px 857px #FFF , 1205px 1769px #FFF , 1943px 691px #FFF , 1765px 1297px #FFF , 700px 809px #FFF , 883px 1364px #FFF , 815px 721px #FFF , 85px 943px #FFF , 1503px 765px #FFF , 1303px 1940px #FFF , 1902px 1457px #FFF , 1000px 1300px #FFF , 601px 183px #FFF , 550px 505px #FFF , 1152px 249px #FFF , 1450px 513px #FFF , 407px 1996px #FFF , 49px 601px #FFF , 354px 874px #FFF , 298px 1235px #FFF , 1161px 281px #FFF , 656px 556px #FFF , 625px 543px #FFF , 455px 519px #FFF , 1482px 1174px #FFF , 223px 1552px #FFF , 964px 338px #FFF , 827px 723px #FFF , 1293px 625px #FFF , 1936px 514px #FFF , 871px 639px #FFF , 221px 7px #FFF , 957px 975px #FFF , 1141px 637px #FFF , 528px 917px #FFF , 713px 805px #FFF , 1356px 228px #FFF , 1365px 98px #FFF , 1844px 1512px #FFF , 440px 62px #FFF , 645px 1814px #FFF , 1713px 293px #FFF , 1330px 463px #FFF , 506px 653px #FFF , 680px 250px #FFF , 254px 1550px #FFF , 1398px 1134px #FFF , 1292px 1504px #FFF , 1860px 431px #FFF , 498px 987px #FFF , 1528px 591px #FFF , 1146px 77px #FFF , 1955px 761px #FFF , 91px 1614px #FFF , 1656px 254px #FFF , 445px 1244px #FFF , 943px 238px #FFF , 399px 295px #FFF , 434px 1775px #FFF , 1777px 1370px #FFF , 1176px 185px #FFF , 1623px 1155px #FFF , 1040px 1102px #FFF , 890px 1982px #FFF , 1526px 178px #FFF , 927px 497px #FFF , 449px 1937px #FFF , 890px 23px #FFF , 1623px 1045px #FFF , 1758px 1281px #FFF , 898px 385px #FFF , 1962px 995px #FFF , 563px 1565px #FFF , 152px 1250px #FFF , 1056px 7px #FFF , 960px 119px #FFF , 589px 1897px #FFF , 1689px 380px #FFF , 1297px 586px #FFF , 714px 262px #FFF , 810px 1531px #FFF , 877px 553px #FFF , 24px 1435px #FFF , 1024px 1456px #FFF , 1688px 1386px #FFF , 1905px 1145px #FFF , 513px 1545px #FFF , 509px 529px #FFF , 1371px 1816px #FFF , 1688px 1377px #FFF , 758px 1715px #FFF , 1938px 581px #FFF , 291px 201px #FFF , 723px 566px #FFF , 1250px 613px #FFF , 553px 657px #FFF , 536px 273px #FFF , 944px 801px #FFF , 973px 1886px #FFF , 1243px 96px #FFF , 1019px 16px #FFF , 1983px 640px #FFF , 1508px 245px #FFF , 819px 1546px #FFF , 892px 1357px #FFF , 994px 28px #FFF , 1586px 538px #FFF , 1725px 1519px #FFF , 295px 421px #FFF , 49px 811px #FFF , 191px 102px #FFF , 681px 1721px #FFF , 315px 424px #FFF , 1610px 1442px #FFF , 708px 1899px #FFF , 1443px 187px #FFF , 1830px 547px #FFF , 1969px 1836px #FFF , 1717px 431px #FFF , 1549px 17px #FFF , 1961px 159px #FFF , 348px 30px #FFF , 62px 601px #FFF , 1604px 774px #FFF , 1020px 264px #FFF , 1515px 1828px #FFF , 1850px 73px #FFF , 1265px 385px #FFF , 1607px 274px #FFF , 1576px 22px #FFF , 188px 1930px #FFF , 1281px 218px #FFF , 1090px 184px #FFF , 1361px 1012px #FFF , 235px 1903px #FFF , 86px 443px #FFF , 1469px 1254px #FFF , 71px 897px #FFF , 532px 222px #FFF , 1059px 1644px #FFF , 1644px 841px #FFF , 101px 1139px #FFF , 849px 1696px #FFF , 150px 101px #FFF , 691px 451px #FFF , 1281px 1684px #FFF , 483px 1346px #FFF , 176px 132px #FFF , 1808px 1510px #FFF , 1570px 805px #FFF;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 135px 610px #FFF , 1247px 1924px #FFF , 329px 1556px #FFF , 1886px 1679px #FFF , 1188px 199px #FFF , 1817px 1822px #FFF , 963px 532px #FFF , 1943px 437px #FFF , 1417px 746px #FFF , 718px 1168px #FFF , 1962px 1327px #FFF , 1472px 1937px #FFF , 1544px 906px #FFF , 579px 1481px #FFF , 391px 1783px #FFF , 506px 1122px #FFF , 360px 1568px #FFF , 477px 1103px #FFF , 1291px 930px #FFF , 1517px 498px #FFF , 364px 1785px #FFF , 77px 19px #FFF , 1640px 368px #FFF , 1327px 1499px #FFF , 145px 1743px #FFF , 1219px 1076px #FFF , 1645px 660px #FFF , 72px 1187px #FFF , 1490px 391px #FFF , 2px 1847px #FFF , 1370px 235px #FFF , 1853px 169px #FFF , 248px 1768px #FFF , 15px 1222px #FFF , 557px 1766px #FFF , 1625px 3px #FFF , 511px 1093px #FFF , 831px 754px #FFF , 388px 1820px #FFF , 831px 1826px #FFF , 43px 909px #FFF , 544px 538px #FFF , 977px 1931px #FFF , 1277px 1338px #FFF , 1311px 1056px #FFF , 1371px 1117px #FFF , 1174px 1857px #FFF , 1146px 297px #FFF , 968px 1420px #FFF , 683px 118px #FFF , 433px 689px #FFF , 1548px 946px #FFF , 1247px 1965px #FFF , 150px 620px #FFF , 917px 806px #FFF , 1191px 1642px #FFF , 1821px 860px #FFF , 1831px 1483px #FFF , 1016px 244px #FFF , 332px 362px #FFF , 1595px 894px #FFF , 1864px 1007px #FFF , 779px 614px #FFF , 702px 1449px #FFF , 1955px 1387px #FFF , 1547px 1341px #FFF , 552px 1413px #FFF , 1121px 186px #FFF , 1675px 705px #FFF , 1552px 1622px #FFF , 1649px 564px #FFF , 1276px 1421px #FFF , 713px 799px #FFF , 287px 1572px #FFF , 1229px 921px #FFF , 1427px 477px #FFF , 475px 28px #FFF , 837px 32px #FFF , 1351px 35px #FFF , 140px 923px #FFF , 1202px 297px #FFF , 1720px 1840px #FFF , 1456px 1428px #FFF , 1138px 623px #FFF , 1817px 676px #FFF , 1467px 1407px #FFF , 270px 430px #FFF , 42px 1055px #FFF , 1608px 161px #FFF , 1328px 1347px #FFF , 1676px 1482px #FFF , 571px 1053px #FFF , 1310px 1649px #FFF , 1598px 1019px #FFF , 1153px 1396px #FFF , 1025px 864px #FFF , 1617px 1119px #FFF , 1153px 258px #FFF , 752px 815px #FFF , 1771px 1384px #FFF;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 135px 610px #FFF , 1247px 1924px #FFF , 329px 1556px #FFF , 1886px 1679px #FFF , 1188px 199px #FFF , 1817px 1822px #FFF , 963px 532px #FFF , 1943px 437px #FFF , 1417px 746px #FFF , 718px 1168px #FFF , 1962px 1327px #FFF , 1472px 1937px #FFF , 1544px 906px #FFF , 579px 1481px #FFF , 391px 1783px #FFF , 506px 1122px #FFF , 360px 1568px #FFF , 477px 1103px #FFF , 1291px 930px #FFF , 1517px 498px #FFF , 364px 1785px #FFF , 77px 19px #FFF , 1640px 368px #FFF , 1327px 1499px #FFF , 145px 1743px #FFF , 1219px 1076px #FFF , 1645px 660px #FFF , 72px 1187px #FFF , 1490px 391px #FFF , 2px 1847px #FFF , 1370px 235px #FFF , 1853px 169px #FFF , 248px 1768px #FFF , 15px 1222px #FFF , 557px 1766px #FFF , 1625px 3px #FFF , 511px 1093px #FFF , 831px 754px #FFF , 388px 1820px #FFF , 831px 1826px #FFF , 43px 909px #FFF , 544px 538px #FFF , 977px 1931px #FFF , 1277px 1338px #FFF , 1311px 1056px #FFF , 1371px 1117px #FFF , 1174px 1857px #FFF , 1146px 297px #FFF , 968px 1420px #FFF , 683px 118px #FFF , 433px 689px #FFF , 1548px 946px #FFF , 1247px 1965px #FFF , 150px 620px #FFF , 917px 806px #FFF , 1191px 1642px #FFF , 1821px 860px #FFF , 1831px 1483px #FFF , 1016px 244px #FFF , 332px 362px #FFF , 1595px 894px #FFF , 1864px 1007px #FFF , 779px 614px #FFF , 702px 1449px #FFF , 1955px 1387px #FFF , 1547px 1341px #FFF , 552px 1413px #FFF , 1121px 186px #FFF , 1675px 705px #FFF , 1552px 1622px #FFF , 1649px 564px #FFF , 1276px 1421px #FFF , 713px 799px #FFF , 287px 1572px #FFF , 1229px 921px #FFF , 1427px 477px #FFF , 475px 28px #FFF , 837px 32px #FFF , 1351px 35px #FFF , 140px 923px #FFF , 1202px 297px #FFF , 1720px 1840px #FFF , 1456px 1428px #FFF , 1138px 623px #FFF , 1817px 676px #FFF , 1467px 1407px #FFF , 270px 430px #FFF , 42px 1055px #FFF , 1608px 161px #FFF , 1328px 1347px #FFF , 1676px 1482px #FFF , 571px 1053px #FFF , 1310px 1649px #FFF , 1598px 1019px #FFF , 1153px 1396px #FFF , 1025px 864px #FFF , 1617px 1119px #FFF , 1153px 258px #FFF , 752px 815px #FFF , 1771px 1384px #FFF;
}
.icon-box img{
	max-width: 117px;
	width: 100%;
	margin-right: 7px;
}
.icon-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
		
/* Safari 4.0 - 8.0 */

@-moz-keyframes rocket {
    0% {
        top: 200px;
    }
    50% {
        top: 210px;
    }
    100% {
        top: 200px;
    }
}

@-webkit-keyframes rocket {
    0% {
        top: 200px;
    }
    50% {
        top: 210px;
    }
    100% {
        top: 200px;
    }
}


/* Standard syntax */

@keyframes rocket {
    0% {
        top: 200px;
    }
    50% {
        top: 210px;
    }
    100% {
        top: 200px;
    }
}

.plane_child1 {
	-moz-animation: rocket 3s infinite;
    -webkit-animation: rocket 3s infinite;
    animation: rocket 3s infinite;
}
.plane_child2 {
	-moz-animation: rocket 2s infinite;
    -webkit-animation: rocket 2s infinite;
    animation: rocket 2s infinite;
}
.plane_child3 {
	-moz-animation: rocket 2.5s infinite;
    -webkit-animation: rocket 2.5s infinite;
    animation: rocket 2.5s infinite;
}
.plane_child4 {
	-moz-animation: rocket 1.5s infinite;
    -webkit-animation: rocket 1.5s infinite;
    animation: rocket 1.5s infinite;
}
.plane_child5 {
	-moz-animation: rocket 2.2s infinite;
    -webkit-animation: rocket 2.2s infinite;
    animation: rocket 2.2s infinite;
}
.plane_child6 {
	-moz-animation: rocket 2.8s infinite;
    -webkit-animation: rocket 2.8s infinite;
    animation: rocket 2.8s infinite;
}
.plane_child7 {	
	-moz-animation: rocket 3.3s infinite;
    -webkit-animation: rocket 3.3s infinite;
    animation: rocket 3.3s infinite;
}

@media all and (max-width: 1400px) {
	.plane_child6,
	.plane_child4 {
		display: none;
		
	}
}

@media all and (max-width: 1140px) {
	.plane_child3 {
		display: none;
		
	}
}

@media all and (max-width: 960px) {
	.plane_child5 {
		display: none;
		
	}
}
@media all and (max-width: 768px) {
	.hero__title {
		font-size: 24px;
	}
	.hero__text  {
		font-size: 14px;
		line-height: 17px;
	}
	.icon-box img {
		max-width: 85px;
	}
	.register-now {
		max-width: 100px;
		height: 100px;
		right: 0;
	}
	.logo {
		max-width: 50px;
		width: 100%;
	}
	.hero_title {
		font-size: 24px;
		line-height: 29px
	}
	.register-now__under{
		font-size: 10px
	}
	.plane_child7 {
		top: 50px;
		left: 30px;
	}
	.plane_child1 {
		left: 100px;
	}
	.plane_child2 {
		left: 250px;
	}
	.contact-form {
		padding-left: 0;
		padding-right: 0;
	}

		/* Safari 4.0 - 8.0 */

	@-moz-keyframes rocket {
	    0% {
	        top: 60px;
	    }
	    50% {
	        top: 75px;
	    }
	    100% {
	        top: 60px;
	    }
	}

	@-webkit-keyframes rocket {
	    0% {
	        top: 60px;
	    }
	    50% {
	        top: 75px;
	    }
	    100% {
	        top: 60px;
	    }
	}


	/* Standard syntax */

	@keyframes rocket {
	    0% {
	        top: 60px;
	    }
	    50% {
	        top: 75px;
	    }
	    100% {
	        top: 60px;
	    }
	}
}

@media screen and (max-width: 350px){
   .register-now {
      font-size: 11px;
   }
   .hero__title {
      font-size: 2em;
      text-align: justify;
   }
   .hero__text {
      text-align: justify;
      font-size: 1em;
   }
}
