.ms-rteFontFace-InvestRoboto {
  -ms-name: 'Roboto';
  font-family: 'Roboto';
}

.ms-rteForeColor-InvestRed {
  -ms-name: 'InvestRed';
  color: #ff3823;
}

.ms-rteForeColor-InvestHoverRed {
  -ms-name: 'InvestHoverRed';
  color: #e81801;
}

.ms-rteBackColor-InvestRed {
  -ms-name: 'InvestRed1';
  background-color: #ff3823;
}

.ms-rteBackColor-InvestHoverRed {
  -ms-name: 'InvestHoverRed1';
  background-color: #e81801;
}

.ms-rteFontSize-InvestSize {
  font-size: 14pt;
}

.ContactMap a.uk {
  top: 175px;
  left: 562px;
}

.ContactMap a.sg {
  top: 185px;
  left: 570px;
}

.ContactMap a.sa {
  top: 135px;
  left: 598px;
}

.ContactMap a.tr {
  top: 111px;
  left: 417px;
}

.ContactMap a {
  width: 18px !important;
  height: 15px !important;
}

@media screen and (min-width: 768px) and (max-width: 1191px) {
  .ContactMap a.uk {
    top: 130px;
    left: 428px;
  }

  .ContactMap a.sg {
    top: 137px;
    left: 434px;
  }

  .ContactMap a.sa {
    top: 97px;
    left: 458px;
  }

  .ContactMap a.tr {
    top: 82px;
    left: 319px;
  }
}

@media screen and (max-width: 767px) {
  .ContactMap a.uk {
    top: 71px;
    left: 236px;
  }

  .ContactMap a.sg {
    top: 75px;
    left: 240px;
  }

  .ContactMap a.sa {
    top: 54px;
    left: 252px;
  }

  .ContactMap a.tr {
    top: 44px;
    left: 176px;
  }

  .ContactMap a {
    width: 10px !important;
  }
}

.ContactMap a {
  display: none !important;
}

.highlighted {
  display: none;
}

.icon-recents {
  content: url('urn:scrapbook:download:error:https://turpash.info/Style%20Library/Invest/images/icons/searchicon.png') !important;
  margin-right: 5px !important;
  width: 32px !important;
}

.resultRecentSearch {
  overflow: hidden !important;
}

.invest-area-box.search #resultRecentSearch {
  font-size: 20px;
}

*::selection {
  background-color: #e2e2e2;
  color: black;
}

html[lang='ar-SA'] .page-sub-page .page-detail-mini-slider .slider-arrows {
  left: -33px;
  right: unset;
}

html[lang='ar-SA'] .page-sub-page .page-detail-mini-slider .box,
html[lang='ar-SA'] .page-sub-page .page-detail-mini-slider .slick-slide {
  float: right;
}

@media screen and (max-width: 767px) {
  .invest-area .langs {
    float: none;
  }

  html[lang='ar-SA'] .invest-area .langs a span {
    margin-right: 0px;
    margin-left: 20px;
  }
}

html[lang='ar-SA'] .ms-rte-wpbox {
  text-align: unset;
}

.page-contact .invest-button.full {
  cursor: pointer;
  min-width: 185px;
  width: auto;
  border-radius: 25px;
  text-align: center;
  line-height: 55px;
  padding: 0;
  height: 58px;
}

.page-contact .contact-form .contact-form-group.col-md-12:last-child {
  padding-left: 5px;
}
