<<<<<<< HEAD
.form-holder{
    width: 100%;
}

.form-block{
    margin-top: 24px;

    width: 100%;
    max-width: 530px;
    padding: 20px;

    background-color: #fff;

    border-radius: 20px;
}

.banner-content .container{
    margin-left: 150px;
}

.firstt, .secondd{
    width: 100%;

    border: none;
}

.firstt input, .firstt .countryFlag {
    height: 39px;

    margin-top: 20px;

    border: 1px solid gray!important;
    border-radius: 32px!important;
    padding: 0.5rem 1rem;
}

.secondd input, .secondd .countryFlag {
    height: 39px;

    margin-top: 20px;

    border: 1px solid gray!important;
    border-radius: 32px!important;
    padding: 0.5rem 1rem;
}

.firstt .countryFlag{
    border-radius: 32px 0px 0px 32px!important;
}

/* .firstt .localPhone{
    border-radius: 0px 32px 32px 0px!important;
} */

.secondd .countryFlag{
    border-radius: 32px 0px 0px 32px!important;
}

.secondd .localPhone{
    border-radius: 0px 32px 32px 0px!important;
}


.firstt .leadSubmit{
    background-color: #FF3823;
    color: #ffffff;

    height: 58px;
    padding: 0 50px;
    min-width: 185px;
    line-height: 58px;
    text-align: center;
    font-weight: 900;
    font-size: 17px;

    border-radius: 35px;
}

.secondd .error{
    border: none;
}

.secondd .leadSubmit{
    background-color: #FF3823;
    color: #ffffff;

    height: 58px;
    padding: 0 50px;
    min-width: 185px;
    line-height: 58px;
    text-align: center;
    font-weight: 900;
    font-size: 17px;

    border-radius: 35px;
}

.firstt .error{
    border: none;
}

.banner-content .container{
    margin-left: 150px;
}

@media screen and (max-width: 1200px){
    .links span{
        font-size: 10px;
    }
  
    
.invest-why-turkey-home .content .link-title {
        font-size: 10px;
    }
}

@media screen and (max-width: 1023px){
  
}

@media screen and (max-width: 768px){
    .banner-content .container{
        margin-left: 0px;
    }

    .page-home .actions .invest-button {
        padding: 10px;
        line-height: 20px;
    }

    /* section.invest-sectors-home.invest-boxs .invest-button {
        padding: 12px 40px;
    } */
}

@media screen and (max-width: 546px){
    .form-block{
        max-width: 320px;
        padding: 10px;
    }
}


/* FORM-POPUP */


.form-popup{
    display: none;
    justify-content: center;

    overflow-y: scroll;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;
}

.form-popup-bg{
        position: absolute;
        top: 0;
        bottom: 0;

        height: fit-content;
        width: 100%;

        cursor: pointer;
}

.form-popup-block{
    margin-top: 30px;

    padding: 12px;
    background-color: #fff;

    width: 550px;
    height: fit-content;

    z-index: 9;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);

    border-radius: 20px;
}

.form-popup-block-upper{
    display: flex;
    align-items: center;
    justify-content: end;

    margin-bottom: -30px;
}

.form-popup-closer{
    cursor: pointer;
    font-weight: 700;
    font-size: 26px;
}

.form-popup-check-group{
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    margin-top: -10px;
}

.form-popup-check{
   background-color: var(--main-color);
}


.form-popup-check-text{
    margin-top: 17px;
    margin-left: 8px;

    font-size: 16px;
}

.form-popup-check-text-link{
    color: var(--main-color);
    text-decoration: underline !important;
=======
.form-holder{
    width: 100%;
}

.form-block{
    margin-top: 24px;

    width: 100%;
    max-width: 530px;
    padding: 20px;

    background-color: #fff;

    border-radius: 20px;
}

.banner-content .container{
    margin-left: 150px;
}

.firstt, .secondd{
    width: 100%;

    border: none;
}

.firstt input, .firstt .countryFlag {
    height: 39px;

    /* margin-top: 20px; */

    border: 1px solid gray!important;
    border-radius: 32px!important;
    padding: 0.5rem 1rem;
}

.secondd input, .secondd .countryFlag {
    height: 39px;

    margin-top: 20px;

    border: 1px solid gray!important;
    border-radius: 32px!important;
    padding: 0.5rem 1rem;
}

.firstt .countryFlag{
    border-radius: 32px 0px 0px 32px!important;
}

/* .firstt .localPhone{
    border-radius: 0px 32px 32px 0px!important;
} */

.secondd .countryFlag{
    border-radius: 32px 0px 0px 32px!important;
}

.secondd .localPhone{
    border-radius: 0px 32px 32px 0px!important;
}


.firstt .leadSubmit{
    background-color: #FF3823;
    color: #ffffff;

    height: 58px;
    padding: 0 50px;
    min-width: 185px;
    line-height: 58px;
    text-align: center;
    font-weight: 900;
    font-size: 17px;

    border-radius: 35px;
}

.secondd .error{
    border: none;
}

.secondd .leadSubmit{
    background-color: #FF3823;
    color: #ffffff;

    height: 58px;
    padding: 0 50px;
    min-width: 185px;
    line-height: 58px;
    text-align: center;
    font-weight: 900;
    font-size: 17px;

    border-radius: 35px;
}

.firstt .error{
    border: none;
}

.banner-content .container{
    margin-left: 150px;
}

@media screen and (max-width: 1200px){
    .links span{
        font-size: 10px;
    }
  
    
.invest-why-turkey-home .content .link-title {
        font-size: 10px;
    }
}

@media screen and (max-width: 1023px){
  
}

@media screen and (max-width: 768px){
    .banner-content .container{
        margin-left: 0px;
    }

    .page-home .actions .invest-button {
        padding: 10px;
        line-height: 20px;
    }

    /* section.invest-sectors-home.invest-boxs .invest-button {
        padding: 12px 40px;
    } */
}

@media screen and (max-width: 546px){
    .form-block{
        max-width: 320px;
        padding: 10px;
    }
}


/* FORM-POPUP */


.form-popup{
    display: none;
    justify-content: center;

    overflow-y: scroll;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;
}

.form-popup-bg{
        position: absolute;
        top: 0;
        bottom: 0;

        height: fit-content;
        width: 100%;

        cursor: pointer;
}

.form-popup-block{
    margin-top: 30px;

    padding: 12px;
    background-color: #fff;

    width: 550px;
    height: fit-content;

    z-index: 9;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);

    border-radius: 20px;
}

.form-popup-block-upper{
    display: flex;
    align-items: center;
    justify-content: end;

    margin-bottom: -30px;
}

.form-popup-closer{
    cursor: pointer;
    font-weight: 700;
    font-size: 26px;
}

.form-popup-check-group{
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    margin-top: -10px;
}

.form-popup-check{
   background-color: var(--main-color);
}


.form-popup-check-text{
    margin-top: 17px;
    margin-left: 8px;

    font-size: 16px;
}

.form-popup-check-text-link{
    color: var(--main-color);
    text-decoration: underline !important;
>>>>>>> 8b8cc688 (change offer tinkoff-q with source email)
}