@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

@font-face {
    font-family: "Google Sans";
    src:
        url("../fonts/GoogleSans-Bold.woff") format("woff"),
        url("../fonts/GoogleSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("../fonts/GoogleSans-Regular.woff") format("woff"),
        url("../fonts/GoogleSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("../fonts/GoogleSans-SemiBold.woff") format("woff"),
        url("../fonts/GoogleSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --main-color: #4285f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Google Sans Regular', sans-serif;
    /* YOU CAN CHANGE */
    font-size: normal;
    color: #555555;
}

.container-local {
    width: 100%;
    max-width: 1320px;
    /* YOU CAN CHANGE */
}

a {
    text-decoration: none !important;
}

.text--main-color {
    color: var(--main-color);
}

.text--bold {
    font-weight: 700;
}

.text--uppercase {
    text-transform: uppercase;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 85px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    z-index: 9;
    background-color: #fff;
}

.header__container {
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 41px;
    font-size: 18px;
    background: rgba(227, 237, 254, 1);
    border-radius: 5px;
    color: var(--main-color);
    transition: 0.25s linear;
}

.header__button:hover {
    background: var(--main-color);
    color: rgba(227, 237, 254, 1);
}

/* MAIN */
.main-title-holder {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    position: relative;
}

.upper-bg {
    position: absolute;
    width: 100%;
    top: 15px;
    z-index: -1;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.main__container {
    display: flex;
    justify-content: space-between;
}

.main__col1 {
    width: 500px;
}

.main__video {
    width: 700px;
}

.main__form-holder {
    background: linear-gradient(84.13deg, #4285f4 0.66%, #ea4335 29.49%, #fbbc05 63.65%, #34a853 99.49%);
    padding: 5px;
    border-radius: 10px;
    max-width: 350px;
}

/* WHATIS */
.whatis {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.whatis__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatis__col1 {
    margin-right: 40px;
}

.whatis__img {
    max-width: 635px;
    width: 100%;
}

.whatis__text-block {
    max-width: 628px;
}

.whatis__text-block-upper {
    display: flex;
    align-items: center;
}

.whatis__title {
    font-size: 31px;
    margin-top: 10px;
    margin-left: 18px;
}

.whatis__text {
    color: #5f6368;
    font-size: 18px;
    line-height: 27px;
    margin-top: 23px;
}

/* INTEREST */
.interest {
    display: flex;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 50px;
}

.interest__title-group {
    display: flex;
    align-items: center;
}

.interest__title {
    margin-top: 10px;
    margin-left: 15px;
}

.interest__text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 23px;
    font-size: 18px;
    line-height: 27px;
}

.interest__tables {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

/* interest__table1 */
.interest__table1 {
    width: 100%;
    max-width: 835px;
}

.interest__table1-line {
    height: 1px;
    width: 100%;
    background-color: rgba(221, 221, 221, 1);
}

.interest__table1-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.interest__table1-row:hover {
    background-color: #f8f9fa;
}

.interest__table1-row-right {
    display: flex;
    align-items: center;
}

.interest__table1-row-left {
    display: flex;
    align-items: center;
}

.interest__table1-row-name {
    color: #555;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
    font-weight: 600;
}

.interest__table1-row-abbr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 28px;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}

.interest__table1-row1 .interest__table1-row-abbr {
    background-color: rgba(255, 153, 0, 1);
}

.interest__table1-row2 .interest__table1-row-abbr {
    background-color: rgba(68, 68, 68, 1);
}

.interest__table1-row3 .interest__table1-row-abbr {
    background-color: rgba(28, 125, 183, 1);
}

.interest__table1-row4 .interest__table1-row-abbr {
    background-color: rgba(1, 111, 64, 1);
}

.interest__table1-row5 .interest__table1-row-abbr {
    background-color: rgba(1, 1, 1, 1);
}

.interest__table1-row6 .interest__table1-row-abbr {
    background-color: rgba(0, 138, 200, 1);
}

.interest__table1-row-col2,
.interest__table1-row-col3 {
    padding-right: 60px;
}

.interest__table1-row-col2-1 {
    padding-right: 22px;
}

.interest__table1-row-col2-2 {
    padding-right: 49px;
}

.interest__table1-row-col2-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #555;
}

.interest__table1-row-col3-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #555;
}

.interest__table1-row-procent-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98px;
    height: 34px;
    padding: 4px;
    padding-right: 6px;
    background-color: #e6f4ea;
}

.interest__table1-row-procent-block-procent {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #555;
}

.interest__table1-row-col3-text--green {
    color: rgba(19, 115, 51, 1);
}

/* interest__table2 */
.interest__table2 {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    width: 100%;
    max-width: 417px;
}

.interest__table2-title {
    font-size: 18px;
    line-height: 23px;
}

.interest__table2-line {
    width: 100%;
    height: 1px;
    background-color: rgba(221, 221, 221, 1);
}

.interest__table2-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.interest__table2-row:hover {
    background-color: #f8f9fa;
}

.interest__table2-row-abbr {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 28px;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(102, 102, 102, 1);
}

.interest__table2-row-procent-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 40px;
    padding: 5px;
    padding-right: 8px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.interest__table2-row-procent {
    margin-left: 4px;
}

.interest__table2-row-procent-block--green {
    color: rgba(19, 115, 51, 1);
    background-color: rgba(230, 244, 234, 1);
}

.interest__table2-row-procent-block--red {
    color: rgba(186, 68, 68, 1);
    background-color: rgba(252, 232, 230, 1);
}

.interest__table2-row1 {}

.interest__table2-row2 .interest__table2-row-abbr {
    background-color: rgba(237, 22, 30, 1);
}

.interest__table2-row3 .interest__table2-row-abbr {
    background-color: rgba(66, 103, 178, 1);
}

.interest__table2-row4 .interest__table2-row-abbr {
    background-color: rgba(227, 25, 55, 1);
}

.interest__table2-row-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
}

.interest__table2-row-subscribers {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(95, 99, 104, 1);
}

.interest__button-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
}

.interest__button {
    color: #fff;
    background-color: rgba(66, 133, 244, 1);
    height: 44px;
    width: 186px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s linear;
}

.interest__button:hover {
    background-color: #e3edfe;
    color: #4285f4;
}

.interest__button-text {
    margin-top: 2px;
    margin-left: 4px;
}

/* USERS */
.users {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fafafa;
}

.users__container {
    display: flex;
    justify-content: space-between;
}

.users__title {
    font-size: 34px;
    max-width: 350px;
}

.users__col2 {
    display: flex;
    align-items: center;
}

.users__col2-block {
    display: flex;
}

.users__col2-block-images {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 18px;
}

.users__col2-table {
    width: 410px;
}

.users__col2-table-row {
    border: 1px solid #CCC;
    background-color: #fff;
    height: 35px;
    margin: 0;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 18px;
    color: rgba(128, 134, 139, 1);
    font-weight: 600;
    text-align: center;
}

.users__col2-table-row:hover {
    background-color: #f8f9fa;
}

.users__col2-table-row1 p {
    color: rgba(26, 115, 232, 1);
}

.users__col2-table-row2 p {}

/* WORK */
.work {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.work__icon-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.work__title {
    text-align: center;
    font-size: 31px;
    margin-top: 15px;
}

.work__text {
    margin-top: 15px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-left: 5px;
}

.work__calculator-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.work__table-title {
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}

.work__calculator-block {
    width: 350px;
    padding: 5px;
    background: linear-gradient(84.13deg, #4285f4 0.66%, #ea4335 29.49%, #fbbc05 63.65%, #34a853 99.49%);
    border-radius: 10px;
}

.work__calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.work__calculator-text {
    text-align: center;
    font-size: 18px;
    color: rgba(32, 33, 36, 1);
    margin-bottom: 5px;
}

.work__calculator-input {
    width: 100%;
    border: none;
    border-bottom: solid 2px rgba(215, 215, 215, 1);
    text-align: center;
    font-size: 32px;
}

.work__calculator-input::placeholder {
    color: #dadce1;
}

.work__calculator-input:focus {
    border: transparent;
}

.work__table-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.work__table-row:hover {
    background-color: #f8f9fa;
}

.work__table-line {
    width: 100%;
    height: 1px;
    background-color: rgba(221, 221, 221, 1);
}

.work__table-row-left {
    display: flex;
    align-items: center;
}

.work__table-row-abbr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 28px;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.work__table-row-name {
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
    font-weight: 600;
}

.work__table-row1 .work__table-row-abbr {
    background-color: rgba(28, 125, 183, 1);
}

.work__table-row2 .work__table-row-abbr {
    background-color: rgba(10, 62, 87, 1);
}

.work__table-row3 .work__table-row-abbr {
    background-color: rgba(1, 111, 64, 1);
}

.work__table-row4 .work__table-row-abbr {
    background-color: rgba(106, 125, 205, 1);
}

.work__table-row5 .work__table-row-abbr {
    background-color: rgba(1, 1, 1, 1);
}

.work__table-row6 .work__table-row-abbr {
    background-color: rgba(0, 138, 200, 1);
}

.work__table-procent-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: rgba(230, 244, 234, 1);
    padding: 4px;
    border-radius: 5px;
}

.work__table-row-right {
    display: flex;
    align-items: center;
}

.work__table-row-col2 {
    margin-right: 180px;
    line-height: 24px;
    font-size: 20px;
    color: rgba(19, 115, 51, 1);
    font-weight: 600;
}

.work__table-row-procent {
    color: rgba(19, 115, 51, 1);
    font-size: 20px;
    font-weight: 600;
    margin-left: 6px;
}

.work__button-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.work__button {
    color: #fff;
    background-color: rgba(66, 133, 244, 1);
    height: 44px;
    width: 186px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s linear;
}

.work__button:hover {
    background-color: #e3edfe;
    color: #4285f4;
}

.work__text {}

/* START */
.start {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #fafafa;
}

.start__title {
    text-align: center;
    font-size: 31px;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.start__blocks {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.start__block {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 8%);
    border-radius: 10px;
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
}

.start__block-text {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
}

/* CONNECT */
.connect {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    padding-top: 25px;
}

.connect__container {
    display: flex;
    justify-content: space-between;
}

.connect__title {
    max-width: 580px;
    font-size: 41px;
    line-height: 51px;
}

.connect__form-holder {
    background: linear-gradient(84.13deg, #4285f4 0.66%, #ea4335 29.49%, #fbbc05 63.65%, #34a853 99.49%);
    padding: 5px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fafafa;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-left: 13.5px;
    padding-right: 13.5px;
}

.footer__col1-text {
    color: #a6a6a6;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
}

.footer__col2-text {
    color: #a6a6a6;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 200;
}

/* ADAPTIVE */
.start__blocks--mobile {
    display: none;
}

@media screen and (max-width: 1420px) {
    .container-local {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .start__blocks--desktop {
        display: none;
    }

    .start__blocks--mobile {
        display: flex;
        flex-direction: column;
    }

    .start__block-row {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .start__block-row2 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .interest__tables {
        flex-direction: column;
        width: 100%;
    }

    .interest__table1,
    .interest__table2 {
        width: 100%;
        max-width: unset;
    }

    .users__container {
        flex-direction: column;
    }

    .users__col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .users__col2 {
        margin-top: 20px;
    }

    .users__title {
        max-width: unset;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .main__video {
        width: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .main__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .main__col {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .main__col1 {
        margin-top: 50px;
    }

    .upper-bg {
        top: 85px;
    }

    .whatis {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .whatis__container {
        flex-direction: column;
    }

    .whatis__col1 {
        margin-right: 0;
    }

    .whatis__text-block {
        margin-top: 30px;
        max-width: 693px;
    }

    .users__col2-block {}

    .users__col2-block-images {
        flex-direction: column;
    }

    .connect__container {
        flex-direction: column;
        align-items: center;
    }

    .connect__title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__col2-text {
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    .main__video {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container-local {
        padding-left: 13.5px;
        padding-right: 13.5px;
    }

    .interest__table1-row-left {
        flex-direction: column;
        align-items: flex-start;
    }

    .interest__table1-row-name {
        margin-left: 0;
    }

    .interest__table1-row-col2-text,
    .interest__table1-row-col3-text {
        font-size: 16px;
        line-height: 24px;
    }

    .interest__table1-row-col3 {
        display: none;
    }

    .start {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .start__block-row {
        align-items: center;
        flex-direction: column;
    }

    .users__title {
        font-size: 24px;
    }

    .work__table-row-left {
        flex-direction: column;
        align-items: start;
    }

    .work__table-row-name {
        margin-left: 0;
        margin-top: 8px;
    }

    .work__table-row-col2 {
        margin-right: 80px;
    }

    .work__table-row-name,
    .work__table-row-col2,
    .work__table-row-procent {
        font-size: 16px;
    }

    /* */
    .users,
    .interest__button-holder,
    .interest,
    .whatis__col1 {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .users__col2-table {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .header__container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .work__table-row-col2 {
        margin-right: 30px;
    }

    .users__col2-table {
        width: 100%;
    }

    .users__col2-table-row {
        padding: 12px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .users__col2-block-images-img1 {
        width: 200px;
        height: auto;
    }

    .users__col2-block-images-img2 {
        margin-top: 8px;
        width: 220px;
        height: auto;
    }

    .users__col2-block-images-img3 {
        margin-top: 10px;
        width: 130px;
        height: auto;
    }

    .interest__table1-row-col2 {
        padding-right: 30px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 150px;
        height: auto;
    }

    .work__table-row-col2 {
        margin-right: 14px;
    }
}

@media screen and (max-width: 400px) {
    .header__button {
        width: 180px;
        height: 40px;
    }
}

@media screen and (max-width: 360px) {
    .users__col2-block-images-img1 {
        width: 180px;
    }

    .users__col2-block-images-img2 {
        width: 200px;
    }

    .users__col2-block-images-img3 {
        width: 120px;
    }
}
