.popup-wrap,
body {
    box-sizing: border-box
}

.btn-send,
.item-comment .comment-description .name,
.popup-wrap h1,
.popup-wrap p {
    font-family: "PT Sans", serif
}

#popup,
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

#popup {
    display: flex;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100) !important;
    background: 0 0;
    z-index: 3000;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.popup-overlay {
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1
}

.popup-wrap {
    position: relative;
    max-width: 615px;
    width: 99%;
    background: #fff;
    border-radius: 8px;
    padding: 24px 32px;
    z-index: 2
}

.popup-wrap p {
    font-size: 18px;
    text-align: center
}

#popup-close {
    position: absolute;
    top: -21px;
    right: -21px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer
}

@media screen and (max-width:767px) {
    #popup-close {
        top: 10px;
        right: 10px;
        color: #000
    }
}

.btn-send {
    height: 40px;
    width: 300px;
    background-color: #b70100;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}