@font-face {
    font-family: 'proxima_nova_condensedlight';
    src: url("../");
    src: url("../") format('embedded-opentype'),
         url("../") format('woff2'),
         url("../") format('woff'),
         url("../") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url("../");
    src: url("../proximanovacond-regular-font.eot#iefix") format('embedded-opentype'),
         url("../proximanovacond-regular-font.woff2") format('woff2'),
         url("../proximanovacond-regular-font.woff") format('woff'),
         url("../proximanovacond-regular-font.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_condensedSBd';
    src: url("../");
    src: url("../") format('embedded-opentype'),
         url("../") format('woff2'),
         url("../") format('woff'),
         url("../") format('truetype');
    font-weight: normal;
    font-style: normal;

}

@import url("css.css");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext'); */

body { font-family: proxima_nova_cn_rgregular,tahoma,sans-serif; font-size: 16px; }
html:lang(ro) body { font-family: 'Roboto', sans-serif; }
html:lang(gr) body { font-family: 'Open Sans', sans-serif!important; }
html:lang(gr) header .icons > div{ margin-left: 0.5em; }
html:lang(gr) #drblond h1{ font-size: 30px; font-weight: 700; }
html:lang(gr) h2{ font-size: 26px; font-weight: 700; }
html:lang(gr) p{ font-size: 16px; }
html:lang(gr) #skladniki h3{ font-weight: 700; }
html:lang(gr) #skladniki p{ font-size: 16px; }
html:lang(gr) #specjalisci p{ font-size: 16px; }
html:lang(gr) #testimonials p{ font-size: 16px; }
html:lang(gr) .faq-accordion > article > p{ font-weight: 700; cursor: pointer;}
html:lang(gr) #darmo h2{ font-size: 38px; }
html:lang(gr) #darmo .checklist li{ font-size: 0.9em; font-weight: 700; }
html:lang(gr) #darmo .fill{ font-size: 28px; font-weight: 700; }
html:lang(gr) footer{ font-size: 0.9em; margin-bottom: 1.5em; }
html:lang(gr) #darmo .arrow{ font-size: 20px; }

@media screen and (max-width: 767px){
    html:lang(gr) #darmo .fill{ margin-top: 5em; }
}


header { margin-bottom: 1em; }
header .top { background: #C50E00; text-align: center; color: #fff; padding: 0.3em; font-size: 15px; }
header .top a { color: #fff; text-decoration: underline; }

header .icons { text-align: right; color: #b8b8b8; text-transform: uppercase; font-size: 16px;  margin-top: 32px; font-weight: 600; }
header .icons>div { display: inline-block;; vertical-align: middle; margin-left: 1em;  }
header .icons>div img { vertical-align: middle; margin-top: -5px; }
header .logo img { max-width: 100%; }
@media (max-width: 476px) { header .bio { margin-top: 1em; } }


html[lang="bg"] header .icons { font-size: 12px; }

.basket { position: relative;  display: inline-block; margin-top: 30px; margin-right: 1em; z-index: 9;}

@media (max-width: 1199px) {
    /* medium - średni monitor*/

} @media (max-width: 991px) {
     /* small - tablet */
     header .top a { display: block; }

} @media (max-width: 767px) {
    header .last { text-align: center; }

    .image-100
    {
      width: 100%;
   
    }   /* eXtra small - telefon */

    .laska-bikini
    {
      margin-left: 0 !important;
      width: 100% !important;
      height: auto !important;
    }
   
    #celebrytki .txt, .row .col-md-10
    {
      padding-left: 5px !important;
    }

    .button-large
    {
      font-size: 14px !important;
    }

    #drblond .bezrecepty {
      display: none !important;
    }


}

.flags { margin-top: 0px; position: absolute; bottom: 0; display: inline-block;}
.flags .myFlag { text-align: right; }
.flags img { width: 30px; border: solid 1px #444;  }
.flags ul { margin: 0; text-align: right; padding: 0.25em; border: solid 1px #aaa; position: absolute; top: 30px; right: 0;  background: #fff8; width: 90px; display: none; z-index: 10; }
.flags li { display: inline-block; margin: 0.25em; }
.flags ul img { display: block; }

@media (max-width: 1199px) {
    /* medium - średni monitor*/

} @media (max-width: 991px) {
     /* small - tablet */
    .flags { bottom: -30px; }
} @media (max-width: 767px) {
      /* eXtra small - telefon */
    .flags { position: static; }
    .flags ul { top: auto; top: 60px; }
}

 h2 { font-weight: 600; }
@media (max-width: 767px) { h2 { font-size: 24px; } }

.strong { font-weight: 700; }

.checklist { padding: 0;}
.checklist li { padding-left: 3em; display: block; position: relative; line-height: 1.6; margin: .3em 0; text-align: left; }
.checklist li::before { content: ""; display: block; width: 1em; height: 1em;  position: absolute; top: 0.4em; left: 1em;
background:url("../img/check.png") no-repeat center center;  background-size: contain;}

.button { border-radius: 4px; text-align: center; display: inline-block; text-decoration: none; }
.button.button-large { font-family: proxima_nova_cn_rgregular, tahoma, sans-serif; font-size: 30px; line-height: 110%;
    padding: 0.4em 1em; font-weight: 600; background: #28d839 url("../img/button.png") center bottom repeat-x; margin: 0.5em 0; color: #fff; }
a.button:hover { text-decoration: none; }

#drblond { background: #f5f5f5 url("../img/top-bg.png");  background-size: cover; overflow-x: hidden; overflow-y: hidden; }
#drblond .packshot { height: 550px; text-align: center; }
#drblond .packshot img { margin-top: 40px; margin-bottom: 30px; margin-left: -30px; }
#drblond .bezrecepty {  background: url("../img/strzalka.png"); color: #fff; width: 190px; height: 130px; background-size: cover; font-size: 22px;
    line-height: 1.2; text-transform: uppercase; text-align: center; padding-top: 55px; font-weight: 600; margin-right: 20px;
    margin-left: auto; position: absolute; bottom: 0; right: 30px; margin-bottom: 10px;}
html:lang(fr) #drblond .bezrecepty{ padding-top: 42px; }

html[lang="en"] #drblond .bezrecepty { padding-top: 48px; }
html[lang="bg"] #drblond .bezrecepty { font-size: 18px; padding-top: 65px; }
html:lang(gr) #drblond .bezrecepty{ font-size: 20px; }
html:lang(cz) #drblond .bezrecepty{ font-size: 20px; }

.esa #drblond .bezrecepty { bottom: -74px; }
.ita #drblond .bezrecepty { bottom: -75px; }
.dea #drblond .bezrecepty { bottom: -85px; }
html[lang="it"] #drblond .bezrecepty { font-size: 20px; }
#drblond h1 { font-weight: 600; margin-top: 1.2em; font-size: 34px; }
html[lang='bg'] #drblond h1 { font-size: 28px; }
#drblond .txt { font-size: 17px; font-weight: 600; /* padding-left: 4em; */ }
#drblond .txt p { margin-top: 1.5em; padding-right: 1em; }
#drblond .checklist { margin-top: 1.5em;  }
#drblond .cutie img { height: 625px; margin-left: -100px; }
html[lang="pl"] #drblond .cutie img,
html[lang="en"] #drblond .cutie img,
html[lang="sk"] #drblond .cutie img,
html[lang="hu"] #drblond .cutie img { height: 550px; margin-left: -100px; }
#drblond .button span { display: block; font-size: 0.5em; text-align: center; line-height: 1.4; }
#drblond .disclaimer { color: #888; }

html.pla #drblond .cutie img { height: 600px; }
html.pla #drblond .packshot { height: 600px; }

/*PLA subdomenie*/

#drblondPla { overflow-x: hidden; }
#drblondPla .col-1 { width: 38%; float: left; }
#drblondPla .col-2 { width: 32%; float: left; padding: 0 30px; }
#drblondPla .col-3 { width: 30%; float: left; }
#drblondPla .bg-l { background: url("") no-repeat top left; height: 592px; }
#drblondPla .bg-r { background: url("") no-repeat top right; height: 592px; }
#drblondPla .packshot { height: 550px; text-align: center; }
#drblondPla .packshot img { margin-top: 150px; margin-bottom: 30px; margin-left: 0; }
#drblondPla .bezrecepty {  background: url("../img/strzalka.png"); color: #fff; width: 190px; height: 130px; background-size: cover; font-size: 22px; line-height: 1.2; text-transform: uppercase; text-align: center; padding-top: 55px; font-weight: 600; margin-right: 20px; margin-left: auto; position: absolute;
    bottom: 0; right: 30px; }
#drblondPla h1 { font-weight: 600; margin-top: 0.8em; font-size: 30px; }
#drblondPla .txt { font-size: 17px; font-weight: 600;  padding-left: 2em;  }
#drblondPla .txt p { margin-top: 1.5em; padding-right: 1em; }
#drblondPla .checklist { margin-top: 1.5em;  }
#drblondPla .cutie img { height: 550px; margin-left: -100px; }
#drblondPla .button span { display: block; font-size: 0.5em; text-align: center; line-height: 1.4; }
#drblondPla .disclaimer { color: #888; }

html.pla #drblondPla .cutie img { height: 600px; }
html.pla #drblondPla .packshot { height: 600px; }

@media (max-width: 1452px ){
  #drblondPla h1 { margin-top: 0.3em; }
}

@media (max-width: 1366px) {
  #drblondPla .bg-l { background-position-x: 84%; }
  #drblondPla .col-1 { width: 36%; }
  #drblondPla .col-2 { width: 34%; }
  #drblondPla .col-3 { width: 30%; }
}

@media (max-width: 1199px) {    /* medium - średni monitor*/
    #drblond .packshot img { margin-left: -70px; }
    #drblondPla .col-1 { width: 50%; }
    #drblondPla .col-2 { width: 50%; }
} @media (max-width: 991px) {     /* small - tablet */
    #drblond .packshot img { margin-left: auto; width: 100%;}
    #drblondPla h1 { font-size: 24px; }
} @media (max-width: 767px) {     /* eXtra small - telefon */
    #drblond .bezrecepty { position: static; margin: auto; }
    header .icons { text-align: center; }
    #drblondPla .bg-l { background-position-x: 100%; }
    #drblondPla .col-1 { width: 100%; background-position-x: 0; }
    #drblondPla .col-2 { width: 100%; }
}

@media (max-width: 480px) {
    #drblondPla .bg-l { background-position-x: 100%; background-size: 130%; height: 390px; }
}


#toe { margin-top: 50px;  }
#toe h2 { margin-top: 0; }
#toe .txt { text-align: justify;}
#toe .img { text-align: center;}
#toe .strong { font-size: 18px;  }

#natura { margin-top: 30px; background: #f5f5f5; padding-top: 20px; }
#natura h2 { margin-top: 1.2em;  }
#natura p { font-size: 18px; margin-top: 1.5em; }
#natura .txt { text-align: justify;}
#natura .img { text-align: center;}
#natura .img img { margin-bottom: 20px; }

@media (max-width: 1199px) {    /* medium - średni monitor*/

} @media (max-width: 991px) {     /* small - tablet */
    #natura .img img {  max-width: 140%; margin-left: -30px;  }
} @media (max-width: 767px) {     /* eXtra small - telefon */

}


#wykres { background: #f19031 url("../img/wykres_bg.jpg"); background-size: cover; color: #fff;  }
#wykres h2 { margin-top: 0.8em; }
#wykres p { font-size: 18px; margin-top: 1em; }
#wykres p.strong { font-size: 22px; margin-top: 1em; }
#wykres .txt { margin-top: 3rem; }
#wykres .img { text-align: center; }
#wykres .img img { margin: 30px auto;  }

@media (max-width: 767px) {     /* eXtra small - telefon */
    #wykres .img img { max-width: 100%; }
}



.bbtable { margin: 80px auto; font-size: 18px; }
.bbtable td, .bbtable th { padding: 0.5em 2em; text-align: center; width: 25%; font-weight: 600; }
.bbtable thead th:nth-child(2){ color: #fff; background-color: #b23045;  }
.bbtable thead th:nth-child(3){ background-color: #dbdbdb; }
.bbtable thead th:nth-child(4){ background-color: #d4d4d4;  }

.bbtable td:nth-child(1) { color: #fff;  font-weight: 400; text-align: left; }
.bbtable tr:nth-child(even) td:nth-child(1) { background-color: #dc556b; }
.bbtable tr:nth-child(odd) td:nth-child(1) { background-color: #b23045; }

.bbtable tr:nth-child(odd) td { background-color: #eaeaea; }
.bbtable tr:nth-child(even) td { background-color: #e5e5e5; }

.bbtable tr:nth-child(odd) td:nth-child(3) { background-color: #f2f2f2; }
.bbtable tr:nth-child(even) td:nth-child(3) { background-color: #ededed; }

@media (max-width: 767px) {     /* eXtra small - telefon */
    .bbtable { width: 100%; }
    .bbtable td, .bbtable th { padding: 2px !important; font-size: 12px; }
}

#celebrytki .container {  font-size: 18px; }
#celebrytki .bg {  background-color: #ececee;  }
#celebrytki .txt { padding-left: 50px;   }
#celebrytki h2 { margin-top: 1.6em; margin-bottom: 1.2em; /* margin-left: 36px; */ }
html[lang="bg"] #celebrytki h2 { margin-top: 1em; margin-bottom: 0.8em; }
#celebrytki p { /* margin-left: 36px; */ }
#celebrytki a.button { /* margin-left: 36px; */ }
#celebrytki .img img {     margin-top: 0px;
    margin-left: -319px;
    height: 500px; }


#skladniki h2 { text-align: center; margin-top: 2.4em; }
#skladniki .img { text-align: center; margin-top: 0.5em; }
#skladniki h3 { color: #f27e2b; font-weight: 600; font-size: 20px; margin-top: 0; }
#skladniki .row { margin: 2em auto; }
#skladniki p { font-size: 18px; }

html[lang="bg"] #specjalisci h2 { margin: 1em auto 0.5em; }

@media (max-width: 1199px) {    /* medium - średni monitor*/

} @media (max-width: 991px) {     /* small - tablet */

} @media (max-width: 767px) {     /* eXtra small - telefon */
    #skladniki .img { margin-bottom: 2em; }
}



#specjalisci {}
#specjalisci .grey {  background-color: #f8f8f8;  }
#specjalisci h2 { margin: 1.6em auto 1em; }
#specjalisci p { font-size: 18px; }
#specjalisci .txt { padding-left: 50px; }
#specjalisci .img img { margin-top: -30px; }

@media (max-width: 991px) {     /* small - tablet */
    #specjalisci h2 { margin: 2em auto 1em; }
} @media (max-width: 767px) {     /* eXtra small - telefon */
    #specjalisci .img { text-align: right;}
    #specjalisci .img img { margin-top: 0; }
}


#walcz .bg { background: url("../img/circle_schemat.png") no-repeat center center; background-size: contain; margin-top: 80px; }
html[lang="de"] #walcz .bg {padding: 10px}
#walcz h2 { text-align: center; margin-top: 1.4em; font-size: 40px; font-weight: 700; }
#walcz .packshot { text-align: center; }
#walcz .packshot img { margin: 30px 0 0px; }
#walcz .icons { text-align: center; }
#walcz .icon { display: inline-block; vertical-align: top; }
#walcz .icon img { /* display: block;*/  }
#walcz .icon span { display: block; font-size: 16px; font-weight: 600; }

#walcz .icon:nth-child(1) { position: absolute; top: 200px; left: 180px; }
#walcz .icon:nth-child(2) { position: absolute; top: 440px; left: 220px; }
#walcz .icon:nth-child(3) { margin-bottom: 40px; }
#walcz .icon:nth-child(4) { position: absolute; top: 200px; right: 180px; }
#walcz .icon:nth-child(5) { position: absolute; top: 440px; right: 220px; }

@media (max-width: 1199px) {    /* medium - średni monitor*/

} @media (max-width: 991px) {     /* small - tablet */
    #walcz .icon:nth-child(1) { left: 80px; }
    #walcz .icon:nth-child(2) { left: 110px; }
    #walcz .icon:nth-child(4) { right: 80px; }
    #walcz .icon:nth-child(5) { right: 110px; }
} @media (max-width: 767px) {     /* eXtra small - telefon */
    #walcz .bg { background-size: cover;   }
    #walcz .icon { position: static !important; margin-bottom: 10px !important; }
}




#testimonials h2 { text-align: center; margin: 1.6em auto 0.8em; color: #B33146;    }
#testimonials h2 span { display: block; color: #f19031;  margin: 1.2em auto; }
#testimonials .sig { font-weight: 600; font-size: 20px; }
#testimonials .sig span { color: #B33146;  }
#testimonials .row { border-bottom: solid 2px #dedede; margin-top: 1em; }
#testimonials .row:last-child { border: none; }
#testimonials .img { text-align: center; }
#testimonials .img img { margin-bottom: 1em; }
#testimonials .kg { position: absolute; background: #B33146; color: #fff; line-height: 3; width: 3em; border-radius: 1.5em; bottom: 0.75em; left: 50%; margin-left: -1.5em; font-weight: 600; font-size: 22px; }
#testimonials p { font-size: 18px; }
#testimonials .button  { font-size: 24px; }
.container.time4u { margin: 0 auto 1em;  }

#testimonials .tpla { text-align: center; overflow-x: hidden; padding-top: 20px; }
#testimonials .tpla h2 { font-size: 52px; font-weight: 700; margin-bottom: 1em; }
#testimonials .tpla .row { margin: 0; white-space: nowrap; }
#testimonials .tpla .item { /* display: inline-block; vertical-align: top;*/  position: relative; text-align:  left; }
#testimonials .tpla .item>* { display: inline-block; vertical-align: top; }
#testimonials .tpla .item>img:nth-child(1) { width: 66%; display: inline-block; }
#testimonials .tpla .item>img:nth-child(2) { width: 32%; position: absolute; right: 0; top: 0;    }
#testimonials .tpla .item>img:nth-child(3) { width: 32%; position: absolute; right: 0; bottom: 0; }
#testimonials .tpla .item .subsect { width: 33%; }
#testimonials .tpla .item .subsect div { display: block; margin: 0px; }
#testimonials .tpla .owl-prev,
#testimonials .tpla .owl-next { font-size: 30px; position: absolute; top: 50%; line-height: 4; margin-top: -2em;  /* background: #393939; */ color: #fff; /* height: 120px; */ width: 2em; }
#testimonials .tpla .owl-prev { left: 0; background: url("") no-repeat top left /contain; padding-right: 0.7em;  }
#testimonials .tpla .owl-next { right: 0; background: url("") no-repeat top right /contain; padding-left: 0.7em; }
#testimonials .tpla i.fa { color: #5c5c5a; background: #fff; width: 60px; height: 60px; border-radius: 100%; opacity: 0.6; padding-top: 15px; }
#testimonials .tpla i.fa.fa-chevron-left { margin-left: -10px; }

html[lang="en"] #testimonials .kg { font-size: 18px; line-height: 4; width: 4em; border-radius: 4em;  }

@media (max-width: 1199px) {    /* medium - średni monitor*/

} @media (max-width: 991px) {     /* small - tablet */
    #testimonials h2 span { margin: 0.6em auto;  }

} @media (max-width: 767px) {     /* eXtra small - telefon */
    #testimonials .img { margin-top: 2em; }
    #testimonials .row { margin-top: 1em; }
    #testimonials h2 { margin-bottom: 1em; }
}


#faq h2 { text-align: center; margin: 1em auto 2em; }

.faq-accordion > article { margin-bottom: 1px; }
.faq-accordion > article > p {
	display: block;
	padding: 10px 20px;
	color: #4b4b4b;
	font-size: 18px;
	text-decoration: none !important;
    border-top: solid 2px #dedede;
    font-weight: 600;
    cursor: pointer;
}
.faq-accordion > article:first-child > a { border-top: solid 2px transparent; }

.faq-accordion > article > div {
    display: none;
    padding: 15px 20px 20px 20px;
    border-top: solid 2px #dedede;
}
.faq-accordion > article > p > .glyphicon { display: none !important; }
.faq-accordion > article > p.active  { background-color: #B33146; color: #fff; border-top: solid 2px transparent; }
.faq-accordion > article > p:active { outline: none; }
.faq-accordion > article > p:focus { outline: none; }


#darmo { background: #f5f5f5 url("../img/top-bg.png");  background-size: cover; margin-top: 4em; height: 640px; }
#darmo .logo { width: 40%; }
/* #darmo .img img { width: 140%; margin-top: 3.5em; margin-left: -1em; } */
#darmo .col2 { text-align: center; }
#darmo .check {  }
#darmo .checklist { font-size: 26px; font-weight: 600; margin-top: 1em; }
#darmo .checklist li {  padding-left: 2em; margin: 0; line-height: 1.2; }
#darmo .checklist li::before { left: 0.5em; top: 4px; }

#darmo .form form { background-color: #e7e7e7; color: #666; margin: 0 5em; text-align: center; }
#darmo .form .button { width: 80%;  border: none; color: #fff; font-size: 20px; line-height: 1.2; margin: 1.6em auto 2em; }
#darmo h2 { text-align: center; margin-top: 1.1em; font-weight: 700; font-size: 42px; color: #e58437; margin: 1em auto;  }
#darmo .fill { text-transform: uppercase;   font-size: 32px; margin: 2em auto 0.5em; font-weight: 600; }
/* #darmo input { width: 80%; margin: .5em auto 0.5em; color: #444; text-align: center; border: none; line-height: 1.8;  font-size: 20px;  } */

#darmo .arrow { float: left; margin-top: -10px; margin-left: 20px; background: #ed9042; color: #fff; width: 132px; padding: 20px 0 10px; font-size: 24px;  line-height: 1; position: relative; }
#darmo .arrow::after { content: "";
width: 0;
height: 0;
border-left: 66px solid transparent;
border-right: 66px solid transparent;
border-top: 20px solid #ed9042;
position: absolute;
bottom: -20px;
left: 0; }



html:lang(ro) #darmo .arrow { font-size: 18px; }

/*PLA w subdomenie*/
#darmoPla { background: #ffffff url("") no-repeat center center; margin-top: 4em; height: 703px; }
#darmoPla .logo { width: 70%; margin-left: 90px; margin-top: 2.5em; }
/* #darmoPla .img img { width: 140%; margin-top: 3.5em; margin-left: -1em; } */
#darmoPla .col2 { text-align: center; }
#darmoPla .check { padding-left: 0; padding-right: 20px; }
#darmoPla .checklist { font-size: 2em; font-weight: 600; margin-top: 1em; }
#darmoPla .checklist li {  padding-left: 2em; margin: 0.5em 0; line-height: 1.2; }
#darmoPla .checklist li::before { left: 0.5em; }

#darmoPla .form form { background-color: #e7e7e7; color: #666; text-align: center; position: relative; bottom: 0; }
#darmoPla .form .button { width: 80%;  border: none; color: #fff; font-size: 20px; line-height: 1.2; margin: 1.6em auto 2em; }
#darmoPla h2 { text-align: left; margin: 1.2em 0 2.5em; font-weight: 700; font-size: 42px; color: #ffffff; max-width: 600px; }
#darmoPla .fill { text-transform: uppercase;   font-size: 32px; margin: 2em auto 0.5em; font-weight: 600; }
/* #darmoPla input { width: 80%; margin: .5em auto 0.5em; color: #444; text-align: center; border: none; line-height: 1.8;  font-size: 20px;  } */

#darmoPla .arrow { float: left; margin-top: -10px; margin-left: 20px; background: #ed9042; color: #fff; width: 132px; padding: 20px 0 10px; font-size: 24px;  line-height: 1; position: relative; }
#darmoPla .arrow::after { content: "";
width: 0;
height: 0;
border-left: 66px solid transparent;
border-right: 66px solid transparent;
border-top: 20px solid #ed9042;
position: absolute;
bottom: -20px;
left: 0; }

footer {color: #aaa; margin-top: 2em; margin-bottom: 2em; }
footer a { color: #aaa;  }




@media (max-width: 1199px) {    /* medium - średni monitor*/
    #darmo .form form { margin-right: 1em;}
    #darmo .form .button {  padding-left: 0; padding-right: 0;  }
} @media (max-width: 991px) {     /* small - tablet */
    #darmo .form form { margin-left: 1em;}
    #darmoPla { background: #848580; }

} @media (max-width: 767px) {     /* eXtra small - telefon */
    #darmo .img img { width: 80%; display: block; margin: 1em auto; max-width: 300px; }
    #darmo .logo { display: block; margin: 1em auto; }
    #darmo .check { padding-left: 20px; }
    #darmo .checklist { font-size: 1.6em; margin-bottom: 1em; }
    #darmo .form .button { white-space: normal; }




}

@media (max-width: 500px) {
  #natura .img img { max-width: 100%; }
}

@media (max-width: 360px) {
    #darmo .fill { margin-top: 4em; }

}


#drblond .container{ position: relative; }
/* -- black-friday -- */
.obox{ position: relative; }
.black-friday-index-18{ position: absolute; bottom: 0; right: 0; max-width: 200px; margin: 0 175px 50px 0; }
.black-friday-order-18{ position: absolute; bottom: 0; right: 0; max-width: 50px; margin: 0 20px 60px 0; }
@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .black-friday-index-18{ max-width: 150px; right: auto; left: 0; margin: 0 0 185px 200px; }
    .obox.max .black-friday-order-18{ margin-bottom: 40px; }
}
@media screen and (max-width: 767px)
{
    .black-friday-index-18{ max-width: 85px; margin: 0 10px 110px 0!important; }
    .obox.max .black-friday-order-18{ margin-bottom: 85px; }
}
/* -- black-friday -- */


#bbNewYearModal .modal-dialog { width: 800px; position: relative; margin-top: 100px; }
#bbNewYearModal .modal-content { background: url("") no-repeat center center; height: 600px; }
#bbNewYearModal .modal-content .modal-header { border-bottom: none; }
#bbNewYearModal .modal-content .tr-btn { position: absolute; width: 300px; height: 63px; bottom: 37px; right: 95px; cursor: pointer; }


#drblond.cqn{ overflow: visible; }
#drblond.cqn h1{ text-transform: uppercase; font-size: 50px; margin: 40px 0 20px 50px; font-family: 'Open Sans'; font-weight: 800; letter-spacing: -2px; }
#drblond.cqn .button{ text-transform: uppercase; margin: 0 auto 25px auto; padding: 0.75em; display: block; max-width: 375px; font-size: 34px; transition: 0.3s box-shadow ease-in-out; }
#drblond.cqn .button:hover{ box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75); }
/* #drblond.cqn .packshot{ display: inline-block; } */
#drblond.cqn .flex{ display: flex; align-items: center; }
#drblond.cqn .checklist{ margin: -30px 0 0 -25px; }
#drblond.cqn .checklist li{ font-size: 34px; }
#drblond.cqn .cutie img{ height: auto!important; position: absolute; top: 0; right: 0; margin-top: -25px; }

#darmo.cqn h2{ text-transform: uppercase; font-size: 40px; font-family: 'Open Sans'; font-weight: 800; letter-spacing: -2px; }
#darmo.cqn .form form{ padding-top: 50px; padding-bottom: 30px; }
#darmo.cqn .form .button{ font-size: 34px; margin: 20px 0; padding: 0.4em; }
#darmo.cqn .button{ transition: 0.3s box-shadow ease-in-out; }
#darmo.cqn .button:hover{ box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75); }
#darmo .d-flex { display: flex; align-items: center; justify-content: center; }
#darmo .girl { margin-top: 70px; }
#darmo .button.button-large { font-size: 26px; }

@media (max-width: 1199px) {
    #darmo { height: auto; }
    #darmo .product { max-width: max-content; width: 100%; }
    #darmo .girl { max-width: max-content; width: 100%; }
}

@media (max-width: 991px) {
    #darmo .girl { display: none; }
}

@media screen and (max-width: 767px)
{
    #drblond.cqn h1{ margin: 25px auto 15px auto; font-size: 36px; text-align: center; }
    #drblond.cqn .flex{ display: block; }
    #drblond.cqn .packshot-1{ margin: 0 auto 20px auto; display: block; max-width: 200px; }
    #darmo .d-flex { flex-direction: column-reverse; }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    #drblond.cqn .cutie img{ margin-right: -200px; width: 100%
      ;}
}

.a-terms { display: inline-block; color: #000000; text-decoration: none !important; }
.a-terms:hover { color: #000000; text-decoration: underline !important; }

.flags {
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.flags .myFlag {
    text-align: right;
}

.flags img {
    width: 30px;
    border: solid 1px #444;
}

.flags ul img {
    display: block;
}

.flags li {
    display: inline-block;
    margin: 0.25em;
    float: left;
}

.flags ul {
    margin: 0;
    text-align: right;
    padding: 0.25em;
    border: solid 1px #aaa;
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff8;
    width: 90px;
    display: none;
    z-index: 10;
}


.specjalistka
{
  margin-top: 50px;
}

a, .button-large{
  z-index: 9999999 !important;
}

.button-large
{
    width: 70% !important;
    font-size: 22px !important;
}