/*##############################*/

/*FORM order*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #47000c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #47000c;
}

@media only screen and (min-width:1200px)
{
    
    .popup-center-info-img .formularz
	{
		margin: 0 auto;
		margin-top: 56px;
		max-width: 334px;
		width: max-content;
    	background: rgb(187, 0, 33);
	    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgb(210, 35, 21) 26%, rgb(171, 53, 53) 50%, rgba(209, 47, 30, 0) 73%);*/
	    padding-bottom: 15px;
	    padding-top: 10px;	
	}
	
	.formularz
	{
		max-width: 400px;
    	width: 95%;
    	background: rgb(187, 0, 33);
	    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgb(210, 35, 21) 26%, rgb(171, 53, 53) 50%, rgba(209, 47, 30, 0) 73%);*/
	    padding-bottom: 15px;
	    padding-top: 10px;	
	}

    .popup-center-info-img #country
	{
		max-width: 380px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 5px;
		margin: 10px;
		margin-top: 20px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}
	
	

	#country
	{
		width: -webkit-fill-available;
		width: -moz-available;
		padding: 5px;
		margin: 10px;
		margin-top: 20px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country:focus
	{
		color: #111;
	}
	
	.popup-center-info-img #name
	{
	    max-width: 380px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#name
	{
		width: -webkit-fill-available;
		width: -moz-available;
		padding: 10px;
		margin: 10px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		font-size: 16px;
	}
	
	.popup-center-info-img #country_phone
	{
	    max-width: 65px;
    	width: 30%;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-left: 10px;
	}

	#country_phone
	{
	    max-width: 75px;
    	width:-webkit-fill-available ;width: -moz-available;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		font-size: 16px;
		margin-left: 10px;
	}
	
	.popup-center-info-img #phone
	{
		max-width: 300px;
		width: 72%;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
		border: 2px solid #77081a;
		background-color: #ffffff;
		color: #47000c;
		font-size: 16px;
		margin-right: 10px;
	}

	#phone
	{
		width: 70%;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
		border: 2px solid #77081a;
		background-color: #ffffff;
		color: #47000c;
		font-size: 16px;
		margin-right: 10px;
	}

	.old_price
	{
		float: left;
		max-width: 400px;
	    margin: 15px auto;
	    font-size: 24px;
	    width: 95%;
	    background-color: #f7f7f7;
	    padding: 15px;
	    padding-left: 0;
	}

	.red-price
	{
		margin-left: 10px;
		color: red;
		font-size: 26px;
		font-weight: 600;
		text-decoration: line-through;
	}

	.new_price
	{
		float: right;
		margin: 15px auto;
		font-size: 30px;
		font-weight: 600;
		background-color: #f7f7f7;
		max-width: 400px;
		width: 95%;
		text-align: right;
		padding: 15px;
	    padding-left: 0;
	}

	.green-price
	{
		margin-left: 10px;
		color: green;
		font-size: 36px;
		font-weight: 600;
	}
	
	.popup-center-info-img .button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		max-width: 270px;
    	width: 90%; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		margin-top: 50px; 
		max-width: 312px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button h3
	{
		color: #47000c;
		line-height: 0;
		margin-top: 0px;
    	margin-bottom: 0px;
    	padding: 8px 0;
    	font-weight: 600;
    	letter-spacing: 0.3px;
	}


	.right-col-order .article-text
	{
		max-width: 400px;
    	width: 95%;
	}
}

@media only screen and (max-width:1199px) and (min-width: 962px)
{
	.formularz
	{
		max-width: 280px;
    	width: 95%;
    	background: rgb(187, 0, 33);
	    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgb(210, 35, 21) 26%, rgb(171, 53, 53) 50%, rgba(209, 47, 30, 0) 73%);*/
	    padding-bottom: 15px;
		padding-top: 10px;
		margin-top: 56px;
	}
	
	.popup-center-info-img #country
	{
		max-width: 248px;
		width:-webkit-fill-available ;width: -moz-available;
		padding: 6px;
		margin: 10px;
		margin-top: 20px;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country
	{
		max-width: 260px;
		width:-webkit-fill-available ;width: -moz-available;
		padding: 6px;
		margin: 10px;
		margin-top: 20px;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country:focus
	{
		color: #111;
	}
	
	.popup-center-info-img #name
	{
		max-width: 248px;
		width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#name
	{
		max-width: 260px;
		width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country_phone
	{
		max-width: 20%;
		width:-webkit-fill-available ;width: -moz-available;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-left: 11px;
	}
	
	.popup-center-info-img #phone
	{
		max-width: 146px;
		width:-webkit-fill-available ;width: -moz-available;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-right: 11px;
	}

	#phone
	{
		max-width: 70%;
		width:-webkit-fill-available ;width: -moz-available;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
		border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-right: 11px;
	}

	.old_price
	{
		float: left;
		max-width: 280px;
	    margin: 15px auto;
	    font-size: 24px;
	    width: 94%;
	    background-color: #f7f7f7;
	    padding: 15px;
	    padding-left: 0;
	}

	.red-price
	{
		margin-left: 10px;
		color: red;
		font-size: 26px;
		font-weight: 600;
		text-decoration: line-through;
	}

	.new_price
	{
		float: right;
		margin: 15px auto;
		font-size: 30px;
		font-weight: 600;
		background-color: #f7f7f7;
		max-width: 280px;
		width: 94%;
		text-align: right;
		padding: 15px;
	    padding-left: 0;
	}

	.green-price
	{
		margin-left: 10px;
		color: green;
		font-size: 36px;
		font-weight: 600;
	}
	
	.popup-center-info-img .button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		max-width: 210px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		margin-top: 50px; 
		max-width: 244px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button h3
	{
		color: #47000c;
		line-height: 0;
		margin-top: 0px;
    	margin-bottom: 0px;
    	padding: 8px 0;
    	font-weight: 600;
    	letter-spacing: 0.3px;
	}



	.right-col-order .article-text 
	{
	    max-width: 280px;
	  width:-webkit-fill-available ;width: -moz-available;
	}
}

@media only screen and (max-width:961px) and (min-width: 730px)
{
	.left-col-order, .right-col-order
	{
		width:-webkit-fill-available ;width: -moz-available;
		float: none;
	}

	.right-col-order .article-text 
	{
	    max-width: 320px;
	  width:-webkit-fill-available ;width: -moz-available;
	}

	.formularz
	{
		max-width: 320px;
    	width: 95%;
    	background: rgb(187, 0, 33);
	    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgb(210, 35, 21) 26%, rgb(171, 53, 53) 50%, rgba(209, 47, 30, 0) 73%);*/
	    padding-bottom: 15px;
		padding-top: 10px;
		margin-top: 56px;
	}
	
	.popup-center-info-img #country
	{
		max-width: 243px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 5px;
		margin: 10px;
		margin-top: 20px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country
	{
		max-width: 300px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 5px;
		margin: 10px;
		margin-top: 20px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country:focus
	{
		color: #111;
	}
	
	.popup-center-info-img	#name
	{
	    max-width: 243px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#name
	{
	    max-width: 291px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}
	
	.popup-center-info-img #country_phone
	{
	    max-width: 60px;
    	width:-webkit-fill-available ;width: -moz-available;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-left: 10px;
	}

	#country_phone
	{
	    max-width: 20%;
    	width:-webkit-fill-available ;width: -moz-available;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-left: 10px;
	}
	
	.popup-center-info-img #phone
	{
		max-width: 156px;
    	width:-webkit-fill-available ;width: -moz-available;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-right: 10px;
	}

	#phone
	{
		max-width: 70%;
    	width:-webkit-fill-available ;width: -moz-available;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
		margin-right: 10px;
	}

	.old_price
	{
		float: left;
		max-width: 400px;
	    margin: 15px auto;
	    font-size: 24px;
	    width: 95%;
	    background-color: #f7f7f7;
	    padding: 15px;
	    padding-left: 0;
	}

	.red-price
	{
		margin-left: 10px;
		color: red;
		font-size: 26px;
		font-weight: 600;
		text-decoration: line-through;
	}

	.new_price
	{
		float: right;
		margin: 15px auto;
		font-size: 30px;
		font-weight: 600;
		background-color: #f7f7f7;
		max-width: 400px;
		width: 95%;
		text-align: right;
		padding: 15px;
	    padding-left: 0;
	}

	.green-price
	{
		margin-left: 10px;
		color: green;
		font-size: 36px;
		font-weight: 600;
	}
	
	.popup-center-info-img .button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		max-width: 210px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		margin-top: 50px; 
		max-width: 280px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button h3
	{
		color: #47000c;
		line-height: 0;
		margin-top: 0px;
    	margin-bottom: 0px;
    	padding: 8px 0;
    	font-weight: 600;
    	letter-spacing: 0.3px;
	}

}

@media only screen and (max-width:729px) and (min-width:100px)
{
	.left-col-order, .right-col-order
	{
		width: 50% !important;
		float: none !important;
	}

	.formularz
	{
    	width: 300px;
    	background: rgb(187, 0, 33);
	    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgb(210, 35, 21) 26%, rgb(171, 53, 53) 50%, rgba(209, 47, 30, 0) 73%);*/
	    padding-bottom: 15px;
		padding-top: 10px;
		margin: 0 auto;
		margin-top: 56px;
	}

	#country
	{
		max-width: 280px;
    	width:-webkit-fill-available ;width: -moz-available;
		padding: 10px;
		margin: 10px;
		margin-top: 20px;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		
		font-size: 16px;
	}

	#country:focus
	{
		color: #111;
	}

	#name
	{
		width: -webkit-fill-available;
		width: -moz-available;
		padding: 10px;
		margin: 10px;
		border: 2px solid #77081a;
		background-color: #ffffff;
		color: #47000c;
		font-size: 16px;
	}

	#country_phone
	{
	    max-width: 65px;
    	width:-webkit-fill-available ;width: -moz-available;
		float: left;
		padding: 10px;
		margin: 10px;
		margin-right: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		font-size: 16px;
		margin-left: 10px;
	}

	#phone
	{
		max-width: 62%;
    	width:-webkit-fill-available ;width: -moz-available;
		float: right;
		padding: 10px;
		margin: 10px;
		margin-left: 0;
	    border: 2px solid #77081a;
    	background-color: #ffffff;
    	color: #47000c;
		font-size: 16px;
		margin-right: 10px;
	}

	.old_price
	{
		float: left;
		max-width: 400px;
	    margin: 15px auto;
	    font-size: 24px;
	    width: 95%;
	    background-color: #f7f7f7;
	    padding: 15px;
	    padding-left: 0;
	}

	.red-price
	{
		margin-left: 10px;
		color: red;
		font-size: 26px;
		font-weight: 600;
		text-decoration: line-through;
	}

	.new_price
	{
		float: right;
		margin: 15px auto;
		font-size: 30px;
		font-weight: 600;
		background-color: #f7f7f7;
		max-width: 400px;
		width: 95%;
		text-align: right;
		padding: 15px;
	    padding-left: 0;
	}

	.green-price
	{
		margin-left: 10px;
		color: green;
		font-size: 36px;
		font-weight: 600;
	}

	.button
	{
		background: #fff; 
		color: #47000c; 
		padding: 15px; 
		margin: 20px auto;
		margin-top: 50px; 
		max-width: 210px;
    	width:-webkit-fill-available ;width: -moz-available; 
		border: 2px solid #77081a;
		font-weight: bold; 
		text-transform: uppercase; 
		font-size: 26px; 
		cursor: pointer;
		text-align: center;
	}

	.button h3
	{
		color: #47000c;
		line-height: 0;
		margin-top: 0px;
    	margin-bottom: 0px;
    	padding: 8px 0;
    	font-weight: 600;
    	letter-spacing: 0.3px;
	}

}

.blue-back
{
	padding: 10px 0;
}

.blue-back h4 
{
    font-size: 22px;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    padding: 25px;
}

.product-order-img
{
	max-width: 165px;
	width:-webkit-fill-available ;width: -moz-available;
	margin-bottom: 15px;
}

.row
{
	position: relative;
	display: inline-block;
	width:-webkit-fill-available ;width: -moz-available;
	margin: 10px auto;
}

.left-col-order
{
	width: 45%;
	float: left;
	text-align: center;
}

.left-col-order s
{
	color: red;
}

.left-col-order .new-price
{
	color: green;
	font-size: 120%;
}

.right-col-order
{
	width: 45%;
	float: right;
	margin-top: 30px;
}

.row
{
	margin-top: 20px;
}

.old-price
{
	color: #e7301c;
	text-decoration: line-through;
	font-size: 28px;
}

.right-col-order .article-text h2
{
	color: #1aa511 !important;
	font-size: 36px !important;
	padding-top: 15px !important;
}

.right-col-order .article-text
{
	padding-top: 0 !important;
}

.popup-center-info-img #country, .popup-center-info-img #name{
	max-width:-webkit-fill-available !important;
	max-width: -moz-available !important;
}

.form_container{
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

@media (max-width:1000px)
{
	.form_container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.form_container img{
	margin-bottom: 10px
}

@media only screen and (min-width: 1600px)
{
#phone {
	width: 58%;
}
}

#country{
	height: 40px;
}
.button:hover
{
	background: rgb(85, 185, 85);
}

.button:hover h3{
	color: #fff;

}
@media only screen and (min-width: 1200px)
{
.container-r #phone {
  width:-webkit-fill-available;
  width: -moz-available;
    float: right;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border: 2px solid #77081a;
    background-color: #ffffff;
    color: #47000c;
    font-size: 16px;
    margin-right: 10px;
    max-width: 60%;
}

}
.container-r .formularz{
	margin: 0 auto;
}
.container-r #country{
	padding:5px !important;
}

.button h3{
	margin:0 !important;
}

.prices .old
{
    color: red;
    font-size: 22px;
    text-decoration: line-through;
}

.prices .new
{
    color: green;
    font-size: 26px;
    font-weight: 600;
}