body {
  font-family: 'JB_Sans';
}
.ji-hero,
.ji-h1,
.ji-h2,
.ji-h3 {
  margin-top: 16px;
  line-height: 50px;
  margin-bottom: 16px;
}

.ji-h4,
.ji-h5,
.ji-h6 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ji-hero-l {
  font-family: 'JB_Sans', sans-serif;
  font-size: 62px;
  font-size: calc(2.2rem + 1.3vw);
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  font-weight: 700;
}

.ji-hero {
  font-family: 'JB_Sans', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
}

.ji-h1 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 48px;
  font-size: calc(1.65rem + 1.7vw);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 57.6px;
}

.ji-h2 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 30px;
  font-size: calc(1.34rem + 1.33vw);
  font-style: normal;
  font-weight: 700 !important;
  line-height: 50px;
}

.ji-h3 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 30px;
  font-size: calc(1.3rem + 0.5vw);
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  line-height: 1.2;
  letter-spacing: 0em;
}

.ji-h4 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 24px;
  font-size: calc(1.155rem + 0.3vw);
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  line-height: 1.2;
  letter-spacing: 0em;
}
.ji-h4-bold {
  font-family: 'JB_Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  line-height: 1.2;
  letter-spacing: 0em;
}
.ji-h4-medium {
  font-family: 'JB_Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  line-height: 1.2;
  letter-spacing: 0em;
}
.ji-midle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.ji-mid {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.ji-midle-22 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}
.ji-midle-22-light {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

.ji-h5 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 24px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  line-height: 1.2;
  letter-spacing: 0em;
}

.ji-h6 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  line-height: 1.2;
  letter-spacing: 0em;
}

.ji-subtitle {
  font-family: 'JB_Sans', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
}

.ji-body {
  font-family: 'JB_Sans', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
}

.ji-body-l {
  font-family: 'JB_Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.ji-body-m {
  font-family: 'JB_Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.ji-body-m-15 {
  font-family: 'JB_Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.ji-body-m-15-b {
  font-family: 'JB_Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.ji-body-s {
  font-family: 'JB_Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ji-body-xs {
  font-family: 'JB_Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.ji-body-xs-regular {
  font-family: 'JB_Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ji-body-xxs {
  font-family: 'JB_Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.ji-body-list {
  font-family: 'JB_Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
}

.ji-btn {
  font-family: 'JB_Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.ji-usd {
  font-family: 'JB_Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;
}
.ji-btn-m {
  background-color: #ff6700;
  border-radius: 22px;
  padding: 8px 16px;
  font-family: 'JB_Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  border: 0;
}
.ji-btn-m:focus {
  outline: none;
}
.ji-btn-m:hover {
  background-color: #ff6700;
  color: #fff;
}
.btn-white-new {
  background-color: #ffffff;
}
.text-orange {
  color: #1347fd;
}

.ji-fw-9 {
  font-weight: 900;
}

.fw-5 {
  font-weight: 500;
}

.ji-blue {
  background: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
}

.ji-black {
  color: black;
}
.ji-main-dark {
  color: #201f1f;
}
.ji-orange {
  color: #ff6700 !important;
}

.ji-another-orange {
  color: #ff6700;
}

.text-dark_blue {
  color: rgba(25, 48, 72, 1) !important;
}

.ji-dark_blue {
  color: #193048 !important;
  opacity: 0.8;
}

.text-grey_body {
  color: #757f8c;
}

a.ji-cool_blue {
  color: #5f5f79 !important;
}

.ji-cool_blue-o5 {
  color: rgba(42, 42, 55, 0.5);
}

.font-12-16 {
  font-size: 15px;
  color: #aaadb2;
  margin-left: 10px;
}
.ji-cool_grey {
  color: #898d94 !important;
}

.ji-gray {
  color: #8f8f94 !important;
}

.ji-green {
  color: #50af69;
}
.ji-que {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .font-12-16 {
    font-size: 12px;
    text-align: left;
    line-height: 15.84px;
    margin-left: 0;
  }
  .ji-body {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }
  .ji-body-head {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
  }
  .ji-h3-stat {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }

  .ji-btn {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .ji-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
  }
}

@media (max-width: 576px) {
  .ji-hero {
    font-size: 36px;
    line-height: 44px;
  }
  .ji-body {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .ji-btn {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
  }

  .ji-body-head {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
  }
  .ji-h2 {
    line-height: 35px;
  }
}

@media (max-width: 414px) {
  .ji-midle-22-light {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 375px) {
  .ji-body {
    font-size: 13px;
  }
}
