.modal {
    display: none; /* Ð¡ÐºÑ€Ñ‹Ñ‚Ð¾ Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ */
    position: fixed; /* ÐžÑÑ‚Ð°Ð²Ð°Ñ‚ÑŒÑÑ Ð½Ð° Ð¼ÐµÑÑ‚Ðµ */
    z-index: 10; /* Ð¡Ð¸Ð´ÐµÑ‚ÑŒ Ð½Ð° Ð²ÐµÑ€ÑˆÐ¸Ð½Ðµ */
    left: 0;
    top: 0;
    width: 100%; /* ÐŸÐ¾Ð»Ð½Ð°Ñ ÑˆÐ¸Ñ€Ð¸Ð½Ð° */
    height: 100%; /* ÐŸÐ¾Ð»Ð½Ð°Ñ Ð²Ñ‹ÑÐ¾Ñ‚Ð° */
    overflow: auto; /* Ð’ÐºÐ»ÑŽÑ‡Ð¸Ñ‚Ðµ Ð¿Ñ€Ð¾ÐºÑ€ÑƒÑ‚ÐºÑƒ, ÐµÑÐ»Ð¸ ÑÑ‚Ð¾ Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ */
    background-color: rgb(0,0,0); /* Ð¦Ð²ÐµÑ‚ Ð·Ð°Ð¿Ð°ÑÐ½Ð¾Ð¹ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚ */
    background-color: rgba(0,0,0,0.4); /* Ð§ÐµÑ€Ð½Ñ‹Ð¹ Ñ Ð½ÐµÐ¿Ñ€Ð¾Ð·Ñ€Ð°Ñ‡Ð½Ð¾ÑÑ‚ÑŒÑŽ */
  }
   .modal-header {
    border: none;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
   }
  /* ÐœÐ¾Ð´Ð°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ¾Ð´ÐµÑ€Ð¶Ð°Ð½Ð¸Ðµ/ÐºÐ¾Ñ€Ð¾Ð±ÐºÐ° */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% ÑÐ²ÐµÑ€Ñ…Ñƒ Ð¸ Ð¿Ð¾ Ñ†ÐµÐ½Ñ‚Ñ€Ñƒ */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* ÐœÐ¾Ð¶ÐµÑ‚ Ð±Ñ‹Ñ‚ÑŒ Ð±Ð¾Ð»ÑŒÑˆÐµ Ð¸Ð»Ð¸ Ð¼ÐµÐ½ÑŒÑˆÐµ, Ð² Ð·Ð°Ð²Ð¸ÑÐ¸Ð¼Ð¾ÑÑ‚Ð¸ Ð¾Ñ‚ Ñ€Ð°Ð·Ð¼ÐµÑ€Ð° ÑÐºÑ€Ð°Ð½Ð° */
  }
  
  /* ÐšÐ½Ð¾Ð¿ÐºÐ° Ð·Ð°ÐºÑ€Ñ‹Ñ‚Ð¸Ñ */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-qr button {
    background-color: hsla(60,6%,73%,.2);
    border-radius: 100%;
    padding: 15px;
}
.btn-close {
    background: transparent url(../assets/img/close-modal.svg) 50%/1em auto no-repeat;
    border-radius: 50%;
    color: #000;
    height: 1em;
    opacity: .5;
    padding: 0.25em;
    width: 1em;
    box-sizing: initial;
}
.modal-qr .modal-body {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 34px;
}
.modal-new {
  margin: 10% auto;
}
.modal-new .modal-body {
  padding: 0 34px 50px 34px;
}
.modal-qr {
    max-width: 800px;
    border-radius: 24px;
    width: 50%;
}
.modal-qr img {
    width: 40%;
}
.modal-qr .info-block-title {
    font-size: 25px;
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 0;
    font-weight: 600;
}
.modal-qr .info-block-text {
    color: #898d94;
    font-weight: 400;
    font-size: 25px;
}
.modal-fonds {
  border-radius: 24px;
  height: 730px;
  width: 920px;
}
.h1-modal-fonds {
  font-size: 32px;
  line-height: 39.68px;
}
.modal-header .btn-close {
  padding: 0;
  margin: 0;
}
.uk-table th {
  color: #201F1F;
  font-weight: 700;
}
.uk-table td {
  font-weight: 500;
}


@media (max-width: 1200px){
  .modal-qr {
    width: 80%;
  }
  .modal-qr .modal-body {
    display: block;
    text-align: center;
  }
  .modal-body .info-block {
    padding-top: 20px;
  }
  .modal-body .info-block-text {
    margin: 0;
  }
}

@media (max-width: 768px){
  .modal-qr {
    width: 100%;
  }
}