body {
  background-color: #f6f6f5;
  font-family: 'JB_Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 21.12px;
  color: #201f1f;
}
.accordion-item.accordion-ques {
  border: none;
}
.accordion-button:focus {
  border: none;
  box-shadow: none;
}
.w-248 {
  width: 248px;
}
.w-290 {
  width: 300px;
}
.uk-container {
  max-width: 1176px;
}
.container p {
  padding-top: 12px;
}
a {
  color: #201f1f;
}
a:active {
  color: #1347fd;
}
.orange {
  color: #1347fd;
}
.ji-white {
  color: #fff;
}
.ji-black {
  color: #201f1f;
}
.ji-gray {
  color: #aaadb2;
}
.ji-green {
  color: #3dc55e;
}
a.ji-green:hover {
  color: #3dc55e;
}
.ji-risk {
  color: #1347fd;
}
a.ji-risk:hover {
  color: #1347fd;
}
.border-link {
  border-bottom: 1px solid rgba(190, 190, 182, 0.4);
}
a:hover.border-link {
  border-bottom: 1px solid #1347fd;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: rgba(246, 246, 245, 1);
  border-radius: 24px;
}
.pt-6 {
  padding-top: 6px;
}
.pad-b-30 {
  padding-bottom: 30px;
}
.pad-b-24 {
  padding-bottom: 24px;
}
.pad-top {
  padding-top: 44px;
}
.pad-t-24 {
  padding-top: 24px;
}
.pad-t-32 {
  padding-top: 32px;
}
.pad-t-30 {
  padding-top: 30px;
}
.pad-t-36 {
  padding-top: 36px;
}
.pad-b-36 {
  padding-bottom: 36px;
}
.pad-t-40 {
  padding-top: 40px;
}
.pad-t-48 {
  padding-top: 48px;
}
.pad-b-48 {
  padding-bottom: 48px;
}
.pad-t-56 {
  padding-top: 56px;
}
.pad-t-12 {
  padding-top: 12px;
}
.pad-b-12 {
  padding-bottom: 12px;
}
.pad-t-16 {
  padding-top: 16px;
}
.pad-t-20 {
  padding-top: 20px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mg-t-24 {
  margin-top: 24px;
}
.mt-40 {
  margin-top: 40px;
}
.mg-48 {
  margin-top: 48px;
}
.mg-t-32 {
  margin-top: 32px;
}
.mg-b-64 {
  margin-bottom: 64px;
}
.accordion-button {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.done-sm-none {
  display: none;
}
.text-left {
  text-align: left;
}
.done-lg-none {
  display: none;
}
.hide {
  display: none !important;
}

@media (max-width: 944px) {
  .ht-300 {
    height: 300px;
  }
  .m-l-24 {
    margin-left: 24px;
  }
  .m-r-24 {
    margin-right: 24px;
  }
  .done-lg-block {
    display: none;
  }
  .done-sm-none {
    display: inline-block;
  }
  .done-lg-none {
    display: block;
  }
  .mob-none {
    display: none;
  }
  .pad-t-40 {
    padding-top: 24px;
  }
  .mg-t-32 {
    margin-top: 24px;
  }
  .pad-t-20 {
    padding-top: 16px;
  }
}

@media (max-width: 768px) {
  .fl-column-md {
    flex-direction: column;
  }
  .pad-t-48 {
    padding-top: 32px;
  }
  .pad-b-48 {
    padding-bottom: 32px;
  }
  .pad-t-56 {
    padding-top: 24px;
  }
  .uk-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .pad-t-32 {
    padding-top: 12px;
  }
  .pad-t-24 {
    padding-top: 20px;
  }
  .text-center-mob {
    text-align: center;
  }
}

@media (max-width: 414px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
  .pad-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 360px) {
  .fl-column-xs {
    flex-direction: column;
  }
}
