@font-face {
  font-family: 'JB_Sans';
  src: url('./fonts/JB_Sans_Bold.eot');
  src: local('JB Sans Bold'), local('JB_Sans_Bold'),
      url('./fonts/JB_Sans_Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JB_Sans_Bold.woff2') format('woff2'),
      url('./fonts/JB_Sans_Bold.woff') format('woff'),
      url('./fonts/JB_Sans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'JB_Sans';
  src: url('./fonts/JB_Sans_DemiBold.eot');
  src: local('JB Sans DemiBold'), local('JB_Sans_DemiBold'),
      url('./fonts/JB_Sans_DemiBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JB_Sans_DemiBold.woff2') format('woff2'),
      url('./fonts/JB_Sans_DemiBold.woff') format('woff'),
      url('./fonts/JB_Sans_DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'JB_Sans';
  src: url('./fonts/JB_Sans_Medium.eot');
  src: local('JB Sans Medium'), local('JB_Sans_Medium'),
      url('./fonts/JB_Sans_Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JB_Sans_Medium.woff2') format('woff2'),
      url('./fonts/JB_Sans_Medium.woff') format('woff'),
      url('./fonts/JB_Sans_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'JB_Sans';
  src: url('./fonts/JB_Sans_Regular.eot');
  src: local('JB Sans Regular'), local('JB_Sans_Regular'),
      url('./fonts/JB_Sans_Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JB_Sans_Regular.woff2') format('woff2'),
      url('./fonts/JB_Sans_Regular.woff') format('woff'),
      url('./fonts/JB_Sans_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'JB_Sans';
  src: url('./fonts/JB_Sans_Light.eot');
  src: local('JB Sans Light'), local('JB_Sans_Light'),
      url('./fonts/JB_Sans_Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JB_Sans_Light.woff2') format('woff2'),
      url('./fonts/JB_Sans_Light.woff') format('woff'),
      url('./fonts/JB_Sans_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DigitalNumbers';
  src: url('./fonts/DigitalNumbers.eot');
  src: local('DigitalNumbers'), local('DigitalNumbers'),
      url('./fonts/DigitalNumbers.woff') format('woff'),
}
body {
  font-family: 'JB_Sans';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'JB_Sans';
}
.ji-h1 { 
  line-height: 62.72px;
  font-size: 56px;
  font-weight: 600;
}
.ji-h1-big { 
  line-height: 78.08px;
  font-size: 64px;
  font-weight: 600;
}
.ji-h2 {
  line-height: 32.24px;
  font-size: 26px;
  font-weight: 600;
}
.ji-h2-big {
  font-size: 40px;
  line-height: 48px;
}
.ji-small-bold {
  font-size: 14px;
  line-height: 18.48px;
  font-weight: 600;
}
.ji-small {
  font-size: 14px;
  line-height: 18.48px;
}
.ji-body-xs, .ji-link{
  font-size: 16px;
  line-height: 21.12px;
}
.ji-midle-16 {
  font-size: 16px;
  line-height: 22px;
}
.ji-16-12 {
  font-size: 16px;
  line-height: 21.12px;
}
.ji-18 {
  font-size: 18px;
  line-height: 22.32px;
}
.ji-18-16 {
  font-size: 18px;
  line-height: 22.32px;
}
.ji-font-18-bold {
  font-size: 18px;
  line-height: 22.32px;
  font-weight: 600;
}
.ji-midle {
  font-size: 20px;
  line-height: 26px;
}
.ji-22 {
  font-size: 22px;
  line-height: 28.16px;
}
.ji-22-18 {
  font-size: 22px;
  line-height: 27.28px;
}
.ji-26 {
  font-size: 26px;
  line-height: 33.28px;
}
.ji-28 {
  font-size: 28px;
  line-height: 35px;
}
.ji-24 {
  font-size: 24px;
  line-height: 30px;
}
.bold {
  font-weight: 600;
}




@media (max-width: 1399px){
  .ji-h3 {
    font-size: 24px;
    line-height: 32px;
  }
}




@media (max-width: 768px){
  .ji-small {
    font-size: 12px;
    line-height: 15px;
  }
  .ji-midle {
    font-size: 14px;
    line-height: 18px;
  }
  .ji-midle-16 {
    font-size: 14px;
    line-height: 18px;
  }
  .ji-h1 {
    line-height: 32.824px;
    font-size: 26px;
  }
  .ji-h1-big { 
    line-height: 44.8px;
    font-size: 40px;
    font-weight: 600;
  }
  .ji-h2 {
    font-size: 22px;
    line-height: 28.16px;
  }
  .ji-h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .ji-22 {
    font-size: 16px;
    line-height: 20.48px;
  }
  .ji-22-18 {
    font-size: 18px;
    line-height: 22.32px;
  }
  .ji-h3-28 {
    font-size: 24px;
    line-height: 32px;
  }
  .ji-midle-22 {
    font-size: 18px;
    line-height: 22px;
  }
  .ji-btn-small {
    line-height: 18px;
    font-size: 14px;
  }
  .ji-midle-bold {
    font-size: 16px;
    line-height: 22px;
  }
  .ji-body-xs, .ji-link{
    font-size: 14px;
    line-height: 18.48px;
  }
  .ji-h2-big {
    font-size: 28px;
    line-height: 35.84px;
  }
  .ji-24 {
    font-size: 16px;
    line-height: 22px;
}
  .ji-28 {
    font-size: 18px;
    line-height: 24px;
  }
  .ji-26 {
    font-size: 22px;
    line-height: 28.16px;
  }
  .ji-18-16 {
    font-size: 16px;
    line-height: 21.12px;
  }
  .ji-16-12 {
    font-size: 12px;
    line-height: 15.84px;
  }
}



@media (max-width: 375px){
  .ji-body{
    font-size: 13px;
  }
}