#scroll-header {
  display: none;
}
#header {
  box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.05);
  z-index: 99;
  position: relative;
}
ul {
  margin-bottom: 0 !important;
  margin-top: 0;
}
.nav-top {
  padding: 20px 0;
}
.logo-accordion img {
  width: 25%;
}
.scroll-none {
  top: 0;
  z-index: 999;
}
.scroll-block {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid rgba(190, 190, 182, 0.2);
  box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.05);
}
.header {
  transition: all 0.3s ease;
  width: 100%;
  background-color: #fff;
}
.nav-top {
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.logo-accordion img {
  width: 25%;
}
.scroll-none {
  top: 0;
  z-index: 999;
}

.scroll-block {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid rgba(190, 190, 182, 0.2);
  box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.05);
}
.header-logo {
  padding-top: 20px;
  padding-bottom: 23px;
}
.btn-language {
  background: transparent;
  border-radius: 60px;
  color: #6d6e70;
  font-size: 18px;
  line-height: 22.32px;
  padding: 0 28px;
  text-transform: uppercase;
}
.ji-btn-border-line {
  border: 1px solid #ff6700;
  color: #ff6700;
  padding: 10px 20px;
  border-radius: 16px;
}
.ji-btn-border-line:hover {
  background-color: #ff6700;
  color: #fff;
}
.btn-language:hover {
  color: #ff6700;
}

.accordion-button:active {
  color: #ff6700;
}
.header-links-dropdown {
  padding: 20px;
  width: 240px;
  border-radius: 24px;
}
.nav-language {
  border: 2px solid #f6f6f5;
  border-radius: 26px;
  margin-left: -24px;
  margin-top: 23px;
  padding: 12px;
  width: 180px;
}
.nav-language ul li a:hover {
  color: #ff6700;
}
.bag-lang {
  color: #aaadb2;
  font-size: 16px;
  padding: 6px 8px;
  margin-right: 19px;
}
.nav-language ul li a:hover .bag-lang {
  color: #1347fd;
}
.contact-btn {
  background: transparent;
  border: 2px solid rgba(190, 190, 182, 0.2);
}
.contact-btn:hover {
  background: #1347fd;
  color: #ffffff;
  border: none;
}
.header-links-cont {
  align-items: normal;
  justify-content: space-between;
}
.header-links-cont li .header-links {
  padding-bottom: 5px;
  text-align: center;
  text-transform: inherit;
  font-size: 16px;
  line-height: 21.12px;
  color: #201f1f;
}
.header-links-cont li .header-links:hover {
  color: #ff6700;
}
.header-links-link {
  padding-top: 23.5px;
}
.header-links .img-hide-tp {
  opacity: 0;
  position: absolute;
  top: 15px;
}
.header-links .img-hide {
  opacity: 0;
  position: absolute;
  top: 0;
}

.header-links:hover .img-hide,
.header-links:hover .img-hide-tp {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.accordion-item span {
  width: 100%;
  padding: 7.5px 0px;
  color: rgba(32, 31, 31, 1);
}
.header-links .img-hide-tp {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.uk-offcanvas-bar.offcanvs-w100 {
  width: 100%;
  z-index: 9999;
}

@media (max-width: 1200px) {
  .header-links-dropdown {
    left: 0;
  }
}

@media (max-width: 1024px) {
  .nav-top img {
    width: 80%;
  }
  .btn-language {
    padding-right: 14px;
  }
}

@media (max-width: 959px) {
  .nav-top {
    padding: 0;
  }
  .text-menu-canvas {
    color: #201f1f;
    line-height: 28.27px;
    font-size: 22px;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .header {
    height: 53px;
  }
  .header-links .img-hide-tp {
    opacity: 0;
    position: absolute;
    top: 15px;
  }
  .ji-d-block {
    display: block;
  }
  .item li {
    padding: 8px 0;
  }
  .item a {
    transition: 0.3s;
    color: #898d94;
  }
  .item li {
    padding-left: 20px;
  }

  /**mobil menu**/
  .topnav {
    overflow: auto;
  }
  .hide-mobileMenu {
    display: none;
  }
  .lang-contact {
    padding-right: 15px;
  }
  .mobile-menu-animation {
    animation: mobileMenuAnimation 0.4s ease-in-out;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 95%;
    right: 0;
    background-color: #fff;
    padding-top: 53px;
    border-radius: 24px 0 0 24px;
  }
  .header-menu-mob {
    padding: 0 25px;
    margin-top: 40px;
  }
  @keyframes mobileMenuAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .logo img {
    max-width: 55%;
  }
  /* Icon 1 */

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #aaadb2;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  /* Icon 3 */

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 9px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 24px;
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #myLinks {
    position: fixed;
    height: 100%;
    z-index: 10;
    color: #bbb;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #nav-icon3 {
    position: absolute;
    padding: 6px 10px 7px 10px;
    font-size: 1.3em;
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
  }

  #uk-container {
    padding: 50px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  .accordion-item {
    padding: auto;
  }
  .topnav {
    padding: 8px 16px;
  }

  .header-mobile {
    background-color: #fff;
  }
  .uk-accordion-title::before {
    content: '';
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    right: 40px;
  }
  .uk-accordion-title {
    display: flex;
  }
  .mobile-nav {
    margin-top: 20px;
    margin-bottom: 70px !important;
  }
  .header-links::before {
    right: 0px;
  }
}

@media (max-width: 320px) {
  .uk-accordion-title::before {
    right: 24px;
  }
  .header-links::before {
    right: 0px;
  }
}
