:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

header,
section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h1,
h2 {
    margin-bottom: .5rem
}

h1,
h2,
p {
    margin-top: 0
}

p {
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

b {
    font-weight: bolder
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

img {
    border-style: none
}

img {
    vertical-align: middle
}

button {
    border-radius: 0
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

[type=submit],
button {
    -webkit-appearance: button
}

[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1,
h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-5,
.col-7,
.col-12,
.col-lg-4,
.col-lg-8,
.col-md-2,
.col-md-3,
.col-md-6,
.col-md-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

@media (min-width:768px) {
    .col-md-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .order-md-2 {
        order: 2
    }

    .order-md-3 {
        order: 3
    }
}

@media (min-width:992px) {
    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }
}

.form-group {
    margin-bottom: 1rem
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.d-flex {
    display: flex !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-between {
    justify-content: space-between !important
}

.align-items-center {
    align-items: center !important
}

.w-100 {
    width: 100% !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.text-center {
    text-align: center !important
}

@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Bold.eot);
    src: local("☺"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Light.eot);
    src: local("☺"), url(fonts/MyriadPro-Light.woff) format("woff"), url(fonts/MyriadPro-Light.ttf) format("truetype"), url(fonts/MyriadPro-Light.svg) format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.eot);
    src: local("☺"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Semibold.eot);
    src: local("☺"), url(fonts/MyriadPro-Semibold.woff) format("woff"), url(fonts/MyriadPro-Semibold.ttf) format("truetype"), url(fonts/MyriadPro-Semibold.svg) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
    box-sizing: border-box
}

body {
    font-family: MyriadPro;
    overflow-x: hidden;
    padding: 0;
    font-size: 18px;
    color: #151515;
    line-height: 1.25
}

@media screen and (max-width:767px) {
    body {
        font-size: 16px
    }
}

.container {
    max-width: 1400px
}

img {
    max-width: 100%;
    height: auto
}

p {
    font-size: 18px;
    line-height: 1.5
}

@media screen and (max-width:767px) {
    p {
        font-size: 16px
    }
}

.hidden {
    display: none
}

.header {
    box-shadow: .3px 4px 13.8px 2.2px rgba(20, 22, 25, .15);
    padding: 20px 0
}

.header-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700
}

@media screen and (max-width:991px) {
    .header-menu {
        font-size: 18px
    }
}

@media screen and (max-width:767px) {
    .header-menu {
        font-size: 15px;
        margin-top: 20px;
        white-space: nowrap
    }
}

.header-menu a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    border-radius: 25px;
    border: 2px solid transparent;
    color: #000 !important;
    text-transform: uppercase
}

@media screen and (max-width:991px) {
    .header-menu a {
        padding: 5px 10px
    }
}

@media screen and (max-width:767px) {
    .header-menu a {
        padding: 5px 8px
    }
}

.header-menu li {
    padding: 0 5px
}

@media screen and (max-width:767px) {
    .header-menu li {
        padding: 0
    }
}

.fs-30 {
    font-size: 30px
}

@media (max-width:767px) {
    .fs-30 {
        font-size: 20px
    }
}

.heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px
}

@media (max-width:767px) {
    .heading {
        font-size: 28px;
        margin-bottom: 15px
    }
}

.main {
    color: #fff
}

.main {
    background-image: url(./main-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 60px 0
}

@media (max-width:767px) {
    .main {
        padding: 30px 0
    }
}

.main p {
    font-size: 16px
}

.main-form {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: .3px 4px 29px 0 rgba(50, 35, 65, .29)
}

@media (max-width:991px) {
    .main-form {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px
    }
}

.main-form-title {
    text-align: center;
    font-size: 24px;
    color: #1354c1;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 20px
}

@media (max-width:767px) {
    .main-form-title {
        font-size: 17px
    }
}

.form-group {
    margin-bottom: 15px
}

input {
    border: 1px solid #c1bed3;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #989898;
    padding: 10px;
    height: 50px;
    outline: none;
}

@media (max-width:767px) {
    input {
        font-size: 16px
    }
}

.form-footer {
    font-size: 10px !important;
    text-align: center;
    color: #000;
    max-width: 320px;
    margin: 0 auto
}

.form-footer a {
    color: #f59015 !important
}

.submit-button {
    border: 0;
    border-radius: 33.2px;
    background-image: linear-gradient(0deg, #7ed321, #69c108);
    font-size: 25px;
    min-height: 68px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

@media (max-width:767px) {
    .submit-button {
        font-size: 20px;
        min-height: 50px
    }
}

.container {
    max-width: 1450px
}

.padding-60 {
    padding: 60px 0
}

@media (max-width:767px) {
    .padding-60 {
        padding: 30px 0
    }
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px
}

@media (max-width:767px) {
    .title {
        font-size: 26px;
        margin-bottom: 15px
    }
}

.language {
    color: #000
}

.language {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    z-index: 9999;
    min-width: 73px;
    align-self: center
}

@media (max-width:767px) {
    .language {
        font-size: 16px;
        margin-right: 15px
    }
}

.language img {
    margin-right: 10px;
    width: 21px
}

.language span {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    background: #322b7c;
    color: #fff
}

.language span i {
    margin-left: 5px;
    vertical-align: middle;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #fff
}

.language-list {
    list-style: none;
    padding: 0 5px;
    margin-left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: center;
    min-width: 100%;
    display: none;
    background-color: #322b7c;
    border: 1px solid
}

.language-list a {
    color: #fff !important;
    display: flex
}