.form-title[_ngcontent-cei-c2] {
    white-space: initial;
}

.widget-people[_ngcontent-cei-c2] {
    padding: 6px 0;
}

.user_status[_ngcontent-cei-c2] {
    z-index: 99;
    padding: 5px 15px;
    text-align: left;
    display: flex !important;
    align-items: center;
    color: #fff;
}

.user_status__img[_ngcontent-cei-c2] {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    display: inline-block;
    margin-right: 15px;
    border: 3px solid #d3d31f;
}

.user_status__status[_ngcontent-cei-c2] {
    display: inline-block;
}

.user_status[_ngcontent-cei-c2] .widget-currency[_ngcontent-cei-c2] {
    font-weight: 700;
}

@media screen and (max-width: 670px) {
    .user_status[_ngcontent-cei-c2] {
        display: none !important;
    }
}

.modal-dialog {
    width: auto !important;
    text-align: left;
    margin-left: 62px;
    margin-right: 62px;
    direction: ltr;
}

.modal-dialog p {
    font-size: 17px !important;
}

.m-body-disclamer[_ngcontent-cei-c3],
.m-header-disclamer[_ngcontent-cei-c3] {
    font-family: "Open Sans", sans-serif;
    background: #fff !important;
    padding: 20px;
    color: #000 !important;
}

hr[_ngcontent-cei-c3] {
    margin: 0;
    padding: 0;
}

.m-header-disclamer[_ngcontent-cei-c3] {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(1) {
    width: 30%;
}

.m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(1) .m-logo[_ngcontent-cei-c3] {
    margin: 1px !important;
    background-size: contain;
    height: 42px;
    width: 65%;
}

.m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(2) {
    width: 40%;
}

.m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(2) h2[_ngcontent-cei-c3] {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000;
}

.m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(3) {
    width: 30%;
}

.m-header-disclamer[_ngcontent-cei-c3] button[_ngcontent-cei-c3] {
    position: absolute;
    border: 0;
    background: #fff;
    font-size: 20px;
    color: gray;
    top: 10px;
    right: 10px;
}

.m-body-disclamer p {
    line-height: 25px;
}

.m-body-disclamer .textik,
.m-body-disclamer .textio {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

.m-body-disclamer .textio {
    color: gray;
}

.m-footer[_ngcontent-cei-c3] {
    height: 60px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #fff !important;
    padding-right: 20px;
}

.m-footer[_ngcontent-cei-c3] button[_ngcontent-cei-c3] {
    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -1%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.13) 100%);
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
    color: #000 !important;
    margin-top: 10px;
    margin-right: 10px;
}

.close[_ngcontent-cei-c3] {
    opacity: 0.9 !important;
}

@media screen and (max-width: 991px) {
    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(1) .m-logo[_ngcontent-cei-c3] {
        width: 85%;
    }

    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(2) h2[_ngcontent-cei-c3] {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(1) {
        width: 0;
    }

    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(1) .m-logo[_ngcontent-cei-c3] {
        visibility: hidden;
    }

    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(2) {
        width: 100%;
    }

    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(2) h2[_ngcontent-cei-c3] {
        font-size: 18px;
    }

    .m-header-disclamer[_ngcontent-cei-c3] div[_ngcontent-cei-c3]:nth-child(3) {
        width: 0;
    }
}

@media screen and (max-width: 420px) {
    .modal-dialog {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

.m-body-abus[_ngcontent-cei-c4],
.m-header-abus[_ngcontent-cei-c4] {
    font-family: "Open Sans", sans-serif;
    color: #000 !important;
    background: #fff !important;
    padding: 20px;
}

.m-body-abus[_ngcontent-cei-c4] p[_ngcontent-cei-c4],
.m-header-abus[_ngcontent-cei-c4] p[_ngcontent-cei-c4] {
    font-size: 17px !important;
}

hr[_ngcontent-cei-c4] {
    margin: 0;
    padding: 0;
}

.m-header-abus[_ngcontent-cei-c4] {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(1) {
    width: 30%;
}

.m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(1) .m-logo[_ngcontent-cei-c4] {
    margin: 1px !important;
    background-size: contain;
    height: 42px;
    width: 65%;
}

.m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(2) {
    width: 40%;
}

.m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(2) h2[_ngcontent-cei-c4] {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000;
}

.m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(3) {
    width: 30%;
}

.m-header-abus[_ngcontent-cei-c4] button[_ngcontent-cei-c4] {
    position: absolute;
    border: 0;
    background: #fff;
    font-size: 20px;
    color: gray;
    top: 10px;
    right: 10px;
}

.m-body-abus .form-wrapper {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: left;
}

.m-body-abus .form-wrapper .form-group {
    display: flex;
    flex-flow: column;
}

.m-body-abus .form-wrapper .form-group label {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
}

.m-body-abus .form-wrapper .form-group input,
.m-body-abus .form-wrapper .form-group textarea {
    height: 38px;
    border-radius: 5px;
    border: 1px solid #bbbaba;
    outline: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff !important;
    color: #000;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: "Open Sans", sans-serif !important;
    text-align: left !important;
    box-shadow: none;
}

.m-body-abus .form-wrapper .form-group input::-moz-placeholder,
.m-body-abus .form-wrapper .form-group textarea::-moz-placeholder {
    color: gray;
    font-size: 14px;
}

.m-body-abus .form-wrapper .form-group input:-ms-input-placeholder,
.m-body-abus .form-wrapper .form-group textarea:-ms-input-placeholder {
    color: gray;
    font-size: 14px;
}

.m-body-abus .form-wrapper .form-group input::-ms-input-placeholder,
.m-body-abus .form-wrapper .form-group textarea::-ms-input-placeholder {
    color: gray;
    font-size: 14px;
}

.m-body-abus .form-wrapper .form-group input::placeholder,
.m-body-abus .form-wrapper .form-group textarea::placeholder {
    color: gray;
    font-size: 14px;
}

.m-body-abus .form-wrapper .form-group .block {
    width: 50%;
}

.m-body-abus .form-wrapper .form-group textarea {
    height: 80px;
    padding-top: 10px;
}

.m-body-abus .form-wrapper .form-group input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.m-body-abus .form-wrapper .form-group p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #315e32;
    display: none;
}

.m-body-abus .form-wrapper .form-group.has-success input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #315e32 !important;
}

.m-body-abus .form-wrapper .form-group.has-warning input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168 !important;
}

.m-body-abus .form-wrapper .form-group.has-error input,
.m-body-abus .form-wrapper .form-group.has-error input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e43d3a !important;
    border: 1px solid red;
}

.m-body-abus .form-wrapper .form-group.has-error p {
    display: block;
    font-size: 14px !important;
    color: #fff !important;
}

.m-body-abus .form-wrapper .upload-block button {
    width: 120px;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px !important;
    color: #0c5460 !important;
}

.m-body-abus .form-wrapper button {
    width: 100%;
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid #46b8da;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.m-body-abus .anti-spam-policy {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.m-body-abus .anti-spam-policy h4 {
    font-family: "Open Sans", sans-serif !important;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 700;
    color: #000;
}

.m-body-abus .anti-spam-policy p {
    line-height: 25px;
}

.m-body-abus .anti-spam-policy div {
    margin-top: 10px;
    border: 1px solid #bee5eb;
    background-color: #d1ecf1;
    border-radius: 6px;
    padding: 15px 0;
}

.m-body-abus .anti-spam-policy div ul {
    color: #0c5460;
    font-size: 17px;
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
}

.m-body-abus .anti-spam-policy div ul li {
    font-size: 17px;
    margin-right: 10px;
    line-height: 1.5;
}

.m-body-abus .report-spam {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.m-body-abus .report-spam h4 {
    text-transform: uppercase;
    line-height: 35px;
    color: #000;
}

.m-body-abus .report-spam p {
    line-height: 25px;
}

.m-footer[_ngcontent-cei-c4] {
    height: 60px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #fff !important;
    padding-right: 20px;
}

.m-footer[_ngcontent-cei-c4] button[_ngcontent-cei-c4] {
    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -1%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.13) 100%);
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
    color: #000 !important;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.close[_ngcontent-cei-c4] {
    opacity: 0.9 !important;
}

@media screen and (max-width: 991px) {
    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(1) .m-logo[_ngcontent-cei-c4] {
        width: 85%;
    }

    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(2) h2[_ngcontent-cei-c4] {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(1) {
        width: 0;
    }

    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(1) .m-logo[_ngcontent-cei-c4] {
        visibility: hidden;
    }

    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(2) {
        width: 100%;
    }

    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(2) h2[_ngcontent-cei-c4] {
        font-size: 18px;
    }

    .m-header-abus[_ngcontent-cei-c4] div[_ngcontent-cei-c4]:nth-child(3) {
        width: 0;
    }
}

@media screen and (max-width: 420px) {
    .form-wrapper[_ngcontent-cei-c4] {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.confirm-text {
    margin-bottom: 0 !important;
}

.form-container-unique[_ngcontent-cei-c6] {
    position: relative;
    padding: 10px;
    background: #fff;
}

.form-container-unique[_ngcontent-cei-c6] .flex[_ngcontent-cei-c6] {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-container-unique[_ngcontent-cei-c6] .flex[_ngcontent-cei-c6] .field-ti0form-first_name[_ngcontent-cei-c6],
.form-container-unique[_ngcontent-cei-c6] .flex[_ngcontent-cei-c6] .field-ti0form-last_name[_ngcontent-cei-c6] {
    width: 48%;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] {
    position: relative;
    margin-bottom: 10px;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-title[_ngcontent-cei-c6] {
    text-align: center;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .help-block-error[_ngcontent-cei-c6] {
    font-size: 10px !important;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .help-block-error[_ngcontent-cei-c6] {
        font-size: 9px !important;
    }
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .intl-tel-input input {
    background: #fff;
    border: 2px solid #d6e7ff;
    height: 43px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .intl-tel-input input:focus {
    border-color: rgba(47, 133, 255, 0.8);
    transition: border-color 1s ease;
    box-shadow: none;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .intl-tel-input .flag-container {
    border-right: none;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .intl-tel-input .flag-container .selected-flag {
    background: 0 0;
    border-right: 1px solid #d6e7ff;
    height: 43px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .intl-tel-input .flag-container .selected-flag:focus {
    border-color: transparent;
    outline: #d6e7ff;
    border-right: 1px solid #d6e7ff;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] label[_ngcontent-cei-c6] {
    opacity: 0;
    position: absolute;
    font-size: 8px;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
    color: #363636;
    top: 5px;
    z-index: -3;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]:focus~label[_ngcontent-cei-c6] {
    opacity: 1;
    top: -5px;
    left: 10px;
    transition: top 0.5s;
    z-index: 3;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6] {
    width: 100%;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    border: 2px solid #d6e7ff;
    border-radius: 0.4rem !important;
    transition: border 0.2s !important;
    background: #fff !important;
    position: relative;
    box-shadow: none !important;
    height: 43px !important;
    padding-left: 15px;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]::-moz-placeholder {
    font-size: 12px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]:-ms-input-placeholder {
    font-size: 12px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]::-ms-input-placeholder {
    font-size: 12px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]::placeholder {
    font-size: 12px !important;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]:focus {
    border-color: rgba(47, 133, 255, 0.8);
    transition: border-color 1s ease;
    box-shadow: none;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .form-control[_ngcontent-cei-c6]:focus label[_ngcontent-cei-c6] {
    display: block;
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .password-wrapper[_ngcontent-cei-c6] .generate-password-button[_ngcontent-cei-c6] {
    height: 43px !important;
}

.form-container-unique[_ngcontent-cei-c6] .overlay-wrapper.show[_ngcontent-cei-c6] {
    z-index: 300;
    background: #fff;
    opacity: 0.7;
    transform: scale(1, 1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-container-unique[_ngcontent-cei-c6] .error-overlay[_ngcontent-cei-c6] {
    padding: 0;
    overflow: hidden;
}

.form-container-unique[_ngcontent-cei-c6] .error-overlay[_ngcontent-cei-c6] .title[_ngcontent-cei-c6] {
    color: red;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.toggle-password-icon[_ngcontent-cei-c6] {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.relative[_ngcontent-cei-c6] {
    position: relative;
}

.generate-password[_ngcontent-cei-c6] {
    cursor: pointer;
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
}

.btn[_ngcontent-cei-c6] {
    white-space: normal;
    padding: 2px 5px;
}

.form-actions[_ngcontent-cei-c6] button[_ngcontent-cei-c6] {
    border: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 72px;
    border-radius: 6px;
    margin-top: 1px;
    cursor: pointer;
    font-family: MontserratExtra, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
}

@media screen and (max-width: 424px) {
    .form-actions[_ngcontent-cei-c6] button[_ngcontent-cei-c6] {
        font-size: 22px !important;
    }
}

.form-group {
    position: relative;
    margin-bottom: 17px !important;
}

.form-group.field-ti0form-phone.has-error {
    margin-bottom: 30px !important;
}

.form-group .help-block {
    position: absolute;
    top: 40px !important;
    left: 0;
    white-space: normal;
    display: none;
    line-height: 1.1;
    z-index: 1 !important;
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    border-radius: 3px;
    box-shadow: none;
    margin-top: 5px !important;
}

@media screen and (max-width: 480px) {
    .form-group .help-block {
        top: 37px;
    }
}

.form-group .password-wrapper .relative {
    width: 54%;
    float: left;
}

.form-group .password-wrapper .relative input {
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding-right: 40px;
}

.form-group .password-wrapper button {
    width: 43%;
    margin-left: 3%;
    background: #5799ff;
    border-radius: 4px;
    border: 0;
    height: 43px;
    color: #fff;
    font-size: 12px;
    line-height: 11px;
}

.form-group input {
    background-color: #f5f5f5;
    border-radius: 0;
    border-width: 0;
    box-sizing: border-box;
    font-size: 14px;
    height: 42px;
    width: 100%;
}

.form-group input:focus {
    outline: rgba(102, 175, 233, 0.6) auto 1px;
}

.form-group[_ngcontent-cei-c6] {
    position: relative;
}

.phone_number {
    box-shadow: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .phone_number[_ngcontent-cei-c6] {
        padding-top: 3px;
    }
}

.form-control[_ngcontent-cei-c6]:focus {
    box-shadow: none;
}

.intl-tel-input {
    width: 100%;
    font-size: 10px;
}

.intl-tel-input .flag-container {
    width: 95px;
}

.intl-tel-input .flag-container .selected-flag {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.intl-tel-input .selected-dial-code {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

.intl-tel-input input {
    width: 100%;
    height: 42px;
    font-size: 12px;
    padding-left: 99px;
}

.intl-tel-input input::-moz-placeholder {
    color: grey;
    font-size: 12px;
}

.intl-tel-input input:-ms-input-placeholder {
    color: grey;
    font-size: 12px;
}

.intl-tel-input input::-ms-input-placeholder {
    color: grey;
    font-size: 12px;
}

.intl-tel-input input::placeholder {
    color: grey;
    font-size: 12px;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 5px;
}

.phone-message-argentina {
    font-weight: 700;
    margin-top: 3px;
}

@media screen and (max-width: 767px) {
    .intl-tel-input[_ngcontent-cei-c6] {
        margin-bottom: 0;
    }
}

.preloader[_ngcontent-cei-c6] {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewBox='0 0 50 50'%3E%3Cpath d='M28.43 6.378C18.27 4.586 8.58 11.37 6.788 21.533c-1.791 10.161 4.994 19.851 15.155 21.643l.707-4.006C14.7 37.768 9.392 30.189 10.794 22.24c1.401-7.95 8.981-13.258 16.93-11.856l.707-4.006z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center/50px no-repeat;
}

.has-error[_ngcontent-cei-c6] .help-block[_ngcontent-cei-c6] {
    color: red;
    background: 0 0 !important;
    padding-top: 0 !important;
}

.zh .has-error .help-block {
    padding-top: 0 !important;
}

modal-container[_ngcontent-cei-c6] .modal-content[_ngcontent-cei-c6] {
    background-color: #fff;
}

.basic-modal-header[_ngcontent-cei-c6] .logo[_ngcontent-cei-c6] {
    display: block;
    background-size: contain;
    height: 30px;
    width: 200px;
    margin: auto;
    position: static;
}

@media screen and (max-width: 420px) {
    .form-group[_ngcontent-cei-c6] .password-wrapper[_ngcontent-cei-c6] button[_ngcontent-cei-c6] {
        font-size: 10px;
    }
}

.already-exists-email-overlay[_ngcontent-cei-c6] {
    opacity: 0.95;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 300;
    transform: scale(1, 1);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
}

.already-exists-email-overlay[_ngcontent-cei-c6] p[_ngcontent-cei-c6] {
    font-weight: 500;
    margin-bottom: 10px;
}

.already-exists-email-overlay[_ngcontent-cei-c6] p[_ngcontent-cei-c6],
.already-exists-email-overlay[_ngcontent-cei-c6] span[_ngcontent-cei-c6] {
    color: #000;
}

.already-exists-email-overlay[_ngcontent-cei-c6] .email[_ngcontent-cei-c6] {
    font-weight: 600;
}

.already-exists-email-overlay[_ngcontent-cei-c6] a[_ngcontent-cei-c6] {
    padding: 0;
    font-weight: 600;
    color: #2776bb;
}

.already-exists-email-overlay[_ngcontent-cei-c6] .href[_ngcontent-cei-c6] {
    color: #2776bb;
    cursor: pointer;
    font-weight: 600;
}

.already-exists-email-overlay[_ngcontent-cei-c6] .already-exists-email-buttons[_ngcontent-cei-c6] {
    display: flex;
    justify-content: space-around;
}

.loader-overlay {
    z-index: 300;
    transform: scale(1, 1);
    background-color: #fff;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-overlay .dots-box {
    display: block;
    background: url(../images/loader.5243dea18965998ada54.gif) no-repeat;
    width: 43px;
    height: 11px;
}

.loader-overlay .animated-container {
    display: block;
    margin-top: 5px;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 20px;
    width: auto;
    font-size: 32px;
}

.loader-overlay .animated-container .list {
    padding: 0;
    margin-top: 0;
    text-align: center;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 21s;
    animation-name: change;
    animation-duration: 21s;
}

.loader-overlay .animated-container .list .item {
    line-height: 40px;
    margin: 0;
    font-size: 21px;
    color: #4d5356;
    text-shadow: 6.983px 0.488px 0 rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 300;
}

.loader[_ngcontent-cei-c6] {
    height: 30px;
    width: 90px;
    position: relative;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6] {
    height: 0;
    position: absolute;
    bottom: 0;
    width: 10px;
    border-radius: 2px;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(0) {
    left: -15px;
    -webkit-animation: 2.5s ease-in-out infinite bottom-top;
    animation: 2.5s ease-in-out infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(1) {
    left: 0;
    -webkit-animation: 2.5s ease-in-out 0.3s infinite bottom-top;
    animation: 2.5s ease-in-out 0.3s infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(2) {
    left: 15px;
    -webkit-animation: 2.5s ease-in-out 0.6s infinite bottom-top;
    animation: 2.5s ease-in-out 0.6s infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(3) {
    left: 30px;
    -webkit-animation: 2.5s ease-in-out 0.9s infinite bottom-top;
    animation: 2.5s ease-in-out 0.9s infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(4) {
    left: 45px;
    -webkit-animation: 2.5s ease-in-out 1.2s infinite bottom-top;
    animation: 2.5s ease-in-out 1.2s infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(5) {
    left: 60px;
    -webkit-animation: 2.5s ease-in-out 1.5s infinite bottom-top;
    animation: 2.5s ease-in-out 1.5s infinite bottom-top;
}

.loader[_ngcontent-cei-c6] .bar[_ngcontent-cei-c6]:nth-child(6) {
    left: 75px;
    -webkit-animation: 2.5s ease-in-out 1.8s infinite bottom-top;
    animation: 2.5s ease-in-out 1.8s infinite bottom-top;
}

@-webkit-keyframes bottom-top {

    0%,
    100% {
        height: 0;
        opacity: 0;
    }

    50% {
        height: 30px;
        opacity: 1;
    }
}

@keyframes bottom-top {

    0%,
    100% {
        height: 0;
        opacity: 0;
    }

    50% {
        height: 30px;
        opacity: 1;
    }
}

@keyframes change {
    100% {
        transform: translate(0, 0);
    }

    84%,
    85.8% {
        transform: translate(0, -14.2%);
    }

    70%,
    71.6% {
        transform: translate(0, -28.4%);
    }

    55%,
    57.3% {
        transform: translate(0, -42.6%);
    }

    42%,
    43.2% {
        transform: translate(0, -56.8%);
    }

    28%,
    29% {
        transform: translate(0, -71%);
    }

    14%,
    15% {
        transform: translate(0, -85.2%);
    }

    0%,
    0.6% {
        transform: translate(0, -99.4%);
    }
}

@-webkit-keyframes change {
    100% {
        transform: translate(0, 0);
    }

    84%,
    85.8% {
        transform: translate(0, -14.2%);
    }

    70%,
    71.6% {
        transform: translate(0, -28.4%);
    }

    55%,
    57.3% {
        transform: translate(0, -42.6%);
    }

    42%,
    43.2% {
        transform: translate(0, -56.8%);
    }

    28%,
    29% {
        transform: translate(0, -71%);
    }

    14%,
    15% {
        transform: translate(0, -85.2%);
    }

    0%,
    0.6% {
        transform: translate(0, -99.4%);
    }
}

.cookie-policy[_ngcontent-cei-c6] {
    box-sizing: border-box;
}

button[_ngcontent-cei-c6] {
    text-transform: uppercase;
}

button.btn-success[_ngcontent-cei-c6] {
    text-transform: none;
}

body .style-ar .form-group {
    direction: rtl;
}

body .style-ar .form-group.reg-phone.form-group.has-success:after,
body .style-ar .form-group.reg-phone.has-success-border:after {
    right: 10px !important;
    left: auto;
}

body .style-ar .form-group.field-ti0form-email {
    direction: ltr;
}

body .style-ar .form-group.field-ti0form-email.form-group.has-success:after,
body .style-ar .form-group.field-ti0form-email.has-success-border:after {
    right: 10px;
    left: auto;
}

body .style-ar .form-group.field-ti0form-email .form-control {
    text-align: left;
    padding: 6px 12px 6px 0;
}

body .style-ar .form-group.field-ti0form-email .form-control.ng-valid {
    padding: 6px 40px 6px 0;
}

body .style-ar .form-group.field-ti0form-email .form-control::-moz-placeholder {
    text-align: right;
    padding-right: 20px;
}

body .style-ar .form-group.field-ti0form-email .form-control:-ms-input-placeholder {
    text-align: right;
    padding-right: 20px;
}

body .style-ar .form-group.field-ti0form-email .form-control::-ms-input-placeholder {
    text-align: right;
    padding-right: 20px;
}

body .style-ar .form-group.field-ti0form-email .form-control::placeholder {
    text-align: right;
    padding-right: 20px;
}

body .style-ar .form-group:not(.field-ti0form-email):after {
    right: auto !important;
    left: 10px;
    padding-right: 0 !important;
}

body .style-ar .form-group:not(.field-ti0form-email) .form-control {
    direction: rtl;
    text-align: right;
    padding: 6px 12px 6px 40px;
}

body .style-ar .form-group:not(.field-ti0form-email) .form-control::-moz-placeholder {
    padding-right: 6px;
}

body .style-ar .form-group:not(.field-ti0form-email) .form-control:-ms-input-placeholder {
    padding-right: 6px;
}

body .style-ar .form-group:not(.field-ti0form-email) .form-control::-ms-input-placeholder {
    padding-right: 6px;
}

body .style-ar .form-group:not(.field-ti0form-email) .form-control::placeholder {
    padding-right: 6px;
}

body .style-ar .form-group.has-error .help-block {
    text-align: right;
    direction: rtl;
}

body .style-ar .form-group.has-error .help-block span {
    display: inline-block;
    direction: ltr;
}

body .style-ar .form-group .form-control::-moz-placeholder {
    text-align: right;
}

body .style-ar .form-group .form-control:-ms-input-placeholder {
    text-align: right;
}

body .style-ar .form-group .form-control::-ms-input-placeholder {
    text-align: right;
}

body .style-ar .form-group .form-control::placeholder {
    text-align: right;
}

body .style-ar form .form-group .intl-tel-input .form-control,
body .style-ar form .form-group .intl-tel-input input {
    direction: ltr;
    text-align: left;
    padding: 0 42px 0 110px;
}

body .style-ar form .form-group .intl-tel-input .form-control::-moz-placeholder {
    direction: ltr;
    text-align: left;
}

body .style-ar form .form-group .intl-tel-input .form-control:-ms-input-placeholder {
    direction: ltr;
    text-align: left;
}

body .style-ar form .form-group .intl-tel-input .form-control::-ms-input-placeholder {
    direction: ltr;
    text-align: left;
}

body .style-ar form .form-group .intl-tel-input .form-control::placeholder {
    direction: ltr;
    text-align: left;
}

body .style-ar form .form-group .intl-tel-input .selected-flag {
    direction: ltr;
}

body .style-ar form .form-group .intl-tel-input .selected-flag .iti-flag {
    left: 5px;
}

body .style-ar .flag-container .country-list {
    direction: ltr;
    left: 0;
    z-index: 6;
}

body .style-ar .form-group input {
    padding: 0 12px 0 42px;
    text-align: right;
}

body .style-ar .form-group input[type="email"] {
    direction: ltr;
    text-align: left;
    padding: 0 30px;
}

body .style-ar .form-group .password-wrapper {
    direction: ltr;
}

body .style-ar .password-wrapper .relative .toggle-password-icon {
    right: auto;
    left: 20px;
}

.fa.fa-close[_ngcontent-cei-c6] {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../fonts/modal_close.9d2f27e6990139da2efe.svg) center center/contain no-repeat;
}

.fa.fa-eye-slash[_ngcontent-cei-c6] {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../fonts/eye_slash.ad9b99e9443bd8364252.svg) center center/22px no-repeat;
}

.fa.fa-eye[_ngcontent-cei-c6] {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../fonts/eye.296af2a2927d6d5d9f67.svg) center center/22px no-repeat;
}

.form-group.has-error[_ngcontent-cei-c6] input[_ngcontent-cei-c6]:focus,
.form-group.has-error input {
    outline: #f85c44;
    border-color: #f85c44 !important;
    transition: border-color 0.5s;
}

.form-group.has-error.error-alert[_ngcontent-cei-c6] input[_ngcontent-cei-c6]:focus,
.form-group.has-error.error-alert input {
    border-color: #f3dcd9 !important;
}

.form-container-unique .form-group.has-success .form-control {
    border-color: green !important;
    outline: green;
    border: 1px solid green;
}

.form-group.has-success[_ngcontent-cei-c6] input[_ngcontent-cei-c6] {
    padding-right: 40px;
    border-color: green !important;
    outline: green;
}

.has-success-border[_ngcontent-cei-c6] {
    border: 1px solid green;
    border-radius: 0;
}

.fa-eye-slash[_ngcontent-cei-c6]:before,
.fa-eye[_ngcontent-cei-c6]:before {
    content: "";
}

.form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] .has-success-border[_ngcontent-cei-c6]:after,
.form-container-unique[_ngcontent-cei-c6] .form-group.has-success[_ngcontent-cei-c6]:after {
    content: " ";
    background: url(../fonts/check.ad60fa6081dc43d93b8d.svg) center center/22px no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 22px;
    width: 22px;
    padding-right: 40px;
    z-index: 2;
}

.block[_ngcontent-cei-c6] {
    display: block;
}

.regSuccess[_ngcontent-cei-c6] {
    background: #fff;
    font-size: 18px;
    text-align: center;
    padding: 20px 40px;
}

.regSuccess__img[_ngcontent-cei-c6] {
    margin: 10px 0 25px;
    max-width: 100%;
    width: 150px;
}

@media screen and (max-width: 1023px) {
    .regSuccess[_ngcontent-cei-c6] {
        padding: 10px 20px;
    }

    .regSuccess__img[_ngcontent-cei-c6] {
        width: 120px;
    }
}

@media screen and (max-width: 767px) {
    .regSuccess[_ngcontent-cei-c6] {
        font-size: 16px;
        padding: 10px;
    }

    .regSuccess__img[_ngcontent-cei-c6] {
        width: 100px;
    }
}

input[type="number"][_ngcontent-cei-c6] {
    -moz-appearance: textfield;
}

input[_ngcontent-cei-c6]::-webkit-inner-spin-button,
input[_ngcontent-cei-c6]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 600px) {

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="color"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="date"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime-local"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="email"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="month"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="password"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="search"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="text"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="time"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="url"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="week"][_ngcontent-cei-c6],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] select[_ngcontent-cei-c6]:focus,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] textarea[_ngcontent-cei-c6] {
        font-size: 16px !important;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="color"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="date"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime-local"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="email"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="month"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="password"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="search"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="text"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="time"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="url"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="week"][_ngcontent-cei-c6]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] select[_ngcontent-cei-c6]:focus::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] textarea[_ngcontent-cei-c6]::-moz-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="color"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="date"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime-local"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="email"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="month"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="password"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="search"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="text"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="time"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="url"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="week"][_ngcontent-cei-c6]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] select[_ngcontent-cei-c6]:focus:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] textarea[_ngcontent-cei-c6]:-ms-input-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="color"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="date"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime-local"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="email"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="month"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="password"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="search"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="text"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="time"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="url"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="week"][_ngcontent-cei-c6]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] select[_ngcontent-cei-c6]:focus::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] textarea[_ngcontent-cei-c6]::-ms-input-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="color"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="date"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime-local"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="datetime"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="email"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="month"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="password"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="search"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="text"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="time"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="url"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="week"][_ngcontent-cei-c6]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] select[_ngcontent-cei-c6]:focus::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] textarea[_ngcontent-cei-c6]::placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"],
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"] {
        font-size: 16px !important;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"]::-moz-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"]::-moz-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"]:-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"]:-ms-input-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"]::-ms-input-placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"]::-ms-input-placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }

    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="number"]::placeholder,
    .form-container-unique[_ngcontent-cei-c6] .form-group[_ngcontent-cei-c6] input[type="tel"]::placeholder {
        font-size: 12px !important;
        padding-top: 3px;
    }
}

.confirm-text[_ngcontent-cei-c7] {
    margin: 6px auto;
    max-width: 310px;
    padding-bottom: 5px;
}

.confirm-text_links[_ngcontent-cei-c7] {
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    color: #363636;
    text-align: center;
    padding: 0px 5px;
}

.confirm-text_links.light--colors[_ngcontent-cei-c7] {
    color: #fff;
}

.confirm-text_links.light--colors[_ngcontent-cei-c7] a,
.confirm-text_links.light--colors[_ngcontent-cei-c7] a[_ngcontent-cei-c7] {
    color: #87cefa;
}

.confirm-text_links[_ngcontent-cei-c7] a,
.confirm-text_links[_ngcontent-cei-c7] a[_ngcontent-cei-c7] {
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
}

.has-success-border[_ngcontent-cei-c8] {
    border: 1px solid green;
    border-radius: 5px;
}

.country-list .country .country-name {
    color: #000 !important;
}

.intl-tel-input[_ngcontent-cei-c8] .selected-flag[_ngcontent-cei-c8] {
    width: 70px !important;
}

.intl-tel-input .selected-flag {
    width: 100% !important;
    padding-right: 15px;
    border-radius: 4px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

#telInputWrapper .intl-tel-input .flag-container {
    width: 110px;
}

#telInputWrapper .intl-tel-input .selected-flag {
    padding-right: 6px;
}

#telInputWrapper .selected-dial-code {
    padding-left: 5px;
}

#telInputWrapper .iti-flag {
    min-width: 20px;
}

#telInputWrapper .iti-flag.ch {
    min-width: 15px;
}

#telInputWrapper[_ngcontent-cei-c8] input[_ngcontent-cei-c8] {
    padding: 0 42px 0 110px;
}

input[type="number"][_ngcontent-cei-c8]::-webkit-inner-spin-button,
input[type="number"][_ngcontent-cei-c8]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"][_ngcontent-cei-c8] {
    -moz-appearance: textfield;
}