@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  background-color: #2599ca;
  text-transform: uppercase;
  color: #fff;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}
