* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  font-family: "SF UI Text Regular", Verdana, Geneva, Tahoma, sans-serif;
}

ol li, ul li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

html, body {
  background-color: #FBB7DC;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1180px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  padding-top: 42px;
}
@media screen and (max-width: 560px) {
  .header {
    padding-top: 0px;
  }
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__logo {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 100%;
  }
}
.header__logo_img {
  width: 100%;
}
.header__text_bonus {
  margin-bottom: 11px;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}
@media screen and (max-width: 560px) {
  .header__text_bonus {
    font-size: 20px;
    line-height: normal;
  }
}
.header__text_max {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  padding-bottom: 6px;
  background: #000;
  font-weight: 800;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.main {
  padding-top: 28px;
  position: relative;
  z-index: 4;
}
.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main__text {
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
@media screen and (max-width: 560px) {
  .main__text {
    font-size: 20px;
    line-height: normal;
  }
}
.main__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 900px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1170px) {
  .main__cards {
    width: 900px;
    height: 810px;
  }
}
@media screen and (max-width: 960px) {
  .main__cards {
    width: 700px;
    height: 630px;
  }
}
@media screen and (max-width: 768px) {
  .main__cards {
    width: 550px;
    height: 495px;
  }
}
@media screen and (max-width: 579px) {
  .main__cards {
    width: 450px;
    height: 405px;
  }
}
@media screen and (max-width: 476px) {
  .main__cards {
    width: 310px;
    height: 279px;
  }
}
.main__cards canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  overflow: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal.hidden {
  opacity: 0;
  pointer-events: none;
}
.modal .overlay {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: radial-gradient(91.16% 91.16% at 44.48% 50%, rgba(235, 26, 189, 0.5) 0%, rgba(98, 49, 238, 0.5) 100%);
  background-color: #fff;
  border-radius: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 400px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .modal .overlay {
    padding-top: 32px;
    padding-bottom: 80px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (max-width: 560px) {
  .modal .overlay {
    padding: 20px;
  }
}
.modal__logo {
  width: 70%;
  margin-bottom: 20px;
}
.modal__text {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
  margin-bottom: 30px;
}
@media screen and (max-width: 560px) {
  .modal__text {
    font-size: 28px;
  }
}
.modal__text span {
  background: red;
  color: #fff;
  padding: 4px 20px;
  border-radius: 20px;
}
.modal__bigText {
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .modal__bigText {
    font-size: 116px;
    line-height: normal;
  }
}
@media screen and (max-width: 560px) {
  .modal__bigText {
    font-size: 56px;
  }
}
.modal__button {
  background: radial-gradient(38.31% 268.16% at 50% 50%, #72F58F 0%, #07C13B 100%);
  border: 3px solid #000;
  -webkit-box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 0;
  width: 100%;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
  margin-top: 40px;
}
@media screen and (max-width: 560px) {
  .modal__button {
    font-size: 28px;
  }
}

.footer {
  padding-top: 178px;
  padding-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .footer {
    padding-top: 44px;
  }
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__line {
  width: 90%;
  height: 4px;
  background-color: #EB1A25;
  margin-bottom: 27px;
}
.footer__text {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
@media screen and (max-width: 560px) {
  .footer__text {
    font-size: 20px;
    line-height: normal;
  }
}
.footer__text a {
  color: #fff;
  text-decoration: underline;
}
