:root {
  --green16: #04a49c;
}

@media (min-width: 1200px) and (max-width: 1559px) {
  .tn-content {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .tn-content {
    padding: 0 15px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.tn-content .tn-icon-comment-dark + span {
  text-decoration: underline;
}

.tn-content .tn-content-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  max-width: 995px;
  letter-spacing: -0.01em;
  color: var(--gray_1);
}

@media (max-width: 1024px) and (min-width: 641px) {
  .tn-content .tn-content-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
  }
}

@media (max-width: 640px) {
  .tn-content .tn-content-title {
    font-size: 24px;
    line-height: 28px;
    color: var(--gray);
  }
}

@media (max-width: 1024px) {
  .tn-content .tn-data-list {
    padding: 0 15px;
  }

  .tn-content .tn-data-list time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray_2);
  }
}

.tn-content-grid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 15px;
}

@media (min-width: 1200px) and (max-width: 1559px) {
  .tn-content-grid {
    grid-template-columns: auto 300px;
  }
}

@media (min-width: 1560px) {
  .tn-content-grid {
    grid-template-columns: 175px auto 300px;
  }
}

@media (min-width: 1200px) and (max-width: 1559px) {
  .tn-content-grid .tn-side-bar-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 15px;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared li .tn-background-cover {
    display: none;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared li.author {
    margin-left: 15px;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared li {
    margin: 0 10px 0 0;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared ul {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared ul span:not([data-link]) {
    display: none;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared .tn-shared-title {
    margin: 0;
  }

  .tn-content-grid .tn-side-bar-container .tn-shared .tn-copyright-warning {
    margin-left: 10px;
  }

  .tn-content-grid > div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media (max-width: 640px) {
  .tn-content-grid {
    margin: 0;
    grid-gap: 0;
  }

  .tn-content-grid .tn-side-bar-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .tn-content-grid .tn-shared {
    padding: 10px 15px;
  }

  .tn-content-grid div.tn-shared {
    display: none;
  }
}

.tn-content-grid time {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray_1);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gray_10);
}

.tn-shared-mobile div.tn-shared {
  display: none;
}

@media (max-width: 640px) {
  .tn-shared-mobile div.tn-shared {
    display: block;
    padding: 10px 15px;
  }
}

.tn-shared {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gray_10);
  padding: 10px 0;
}

.tn-shared,
.tn-shared ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .tn-shared ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tn-shared ul [class*='tn-icon'] {
    width: 24px;
    height: 24px;
  }
}

.tn-shared li {
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .tn-shared li {
    margin: 0 15px 15px 0;
  }
}

.tn-shared li .tn-background-cover {
  height: 100px;
  width: 100px;
  margin-bottom: 11px;
  border-radius: 100%;
  background-position: top;
}

.tn-shared li .tn-background-cover.tn-fmale {
  background-image: url(/img/author-ava-f.png);
}

.tn-shared li .tn-background-cover.tn-male {
  background-image: url(/img/author-ava-m.png);
}

@media (max-width: 640px) {
  .tn-shared li .tn-background-cover {
    display: none;
  }
}

.tn-shared li [data-link],
.tn-shared li [sp-show-form],
.tn-shared li a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 92.58%;
  color: var(--black);
}

.tn-shared li [data-link] [class*='tn-icon'],
.tn-shared li [sp-show-form] [class*='tn-icon'],
.tn-shared li a [class*='tn-icon'] {
  margin-right: 12px;
}

@media (max-width: 1024px) {
  .tn-shared li [data-link] span,
  .tn-shared li [sp-show-form] span,
  .tn-shared li a span {
    display: none;
  }
}

@media (max-width: 640px) {
  .tn-shared li.tn-column-2 {
    grid-column: span 2;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .tn-shared li {
    margin-right: 15px;
  }
}

.tn-shared .tn-shared-title {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray_11);
}

@media (max-width: 1024px) {
  .tn-shared .tn-shared-title {
    width: 100%;
  }
}

.tn-shared .tn-shared-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray_11);
}

@media (max-width: 640px) {
  .tn-shared .tn-shared-count {
    grid-column: span 7;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  .tn-shared {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.tn-shared.tn-author .tn-shared-title {
  width: 100%;
}

@media (max-width: 1560px) {
  .tn-shared.tn-author .tn-shared-title {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .tn-shared.tn-author .tn-shared-title {
    width: 100%;
  }
}

.tn-news-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .tn-news-content .tn-tag-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.tn-news-content sub,
.tn-news-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.tn-news-content sub {
  bottom: -0.25em;
}

.tn-news-content sup {
  top: -0.5em;
}

.tn-news-content a {
  font-weight: 700;
  /* text-decoration: underline; */
  color: var(--black);
}

.tn-news-content b,
.tn-news-content h2,
.tn-news-content h3,
.tn-news-content h4,
.tn-news-content h5,
.tn-news-content strong {
  font-weight: 700;
}

.tn-news-content video {
  width: 100%;
}

.tn-news-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 30px;
  margin-top: 15px;
}

.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--tape-tn-data-list);
  background: var(--green_7) url('/img/Group.svg') no-repeat calc(100% - 33px) 50%/72px;
  padding: 25px 125px 25px 15px;
}

@media (max-width: 640px) {
  .tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) {
    background: var(--green_7) url('/img/Group.svg') no-repeat 50% 15px/72px;
    padding: 90px 15px 15px;
    text-align: center;
  }
}

.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) a,
.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) li,
.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) p,
.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) span,
.tn-news-content blockquote:not(.tiktok-embed):not(.twitter-tweet):not(.instagram-media) ul {
  color: var(--tape-tn-data-list);
  font-size: 16px;
  line-height: 24px;
}

.tn-news-content em {
  font-style: italic;
}

.tn-news-content #fbTelecomInfo {
  border: none;
  width: 100%;
  height: 869px;
}

@media (max-width: 768px) {
  .tn-news-content #fbTelecomInfo {
    height: 768px;
  }
}

.tn-news-content iframe:not(.instagram-media) {
  width: 100%;
  height: 40vh;
}

@media (max-width: 640px) {
  .tn-news-content iframe:not(.instagram-media) {
    width: 100%;
    height: 30vh;
  }
}

.tn-news-content iframe.tn-vertical-video {
  width: 100%;
  height: 80vh;
}

@media (max-width: 640px) {
  .tn-news-content iframe.tn-vertical-video:not(.instagram-media) {
    width: 100%;
    height: 100vh;
  }
}

.tn-news-content iframe.tn-big-video {
  width: 100%;
  height: 50vh;
}

@media (max-width: 640px) {
  .tn-news-content iframe.tn-big-video {
    width: 100%;
    height: 30vh;
  }
}

.tn-news-content iframe + em {
  display: block;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray_2);
}

@media (max-width: 640px) {
  .tn-news-content iframe + em {
    padding: 0 15px;
  }
}

@media (max-width: 640px) {
  .tn-news-content video {
    width: 100%;
    height: auto;
  }
}

.tn-news-content ul {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 30px;
}

.tn-news-content ul li {
  margin-top: 10px;
}

.tn-news-content ol {
  list-style: decimal;
  padding-left: 20px;
}

.tn-news-content img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.tn-news-content img + br {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}

.tn-news-content img + br + em {
  display: block;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray_2);
}

@media (max-width: 640px) {
  .tn-news-content img + br + em {
    padding: 0 15px;
  }
}

.tn-news-content img + em {
  display: block;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray_2);
}

@media (max-width: 640px) {
  .tn-news-content img + em {
    padding: 0 15px;
  }
}

.tn-news-content .tn-news-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 30px;
  margin-top: 15px;
}

@media (max-width: 640px) {
  .tn-news-content .tn-news-text {
    overflow: hidden;
  }
}

.tn-news-content .tn-news-text ul {
  list-style: unset;
  margin-left: 20px;
}

.tn-news-content .tn-news-text dl dt {
  font-weight: 700;
}

.tn-news-content .tn-news-text span:empty {
  margin: 0 2px;
}

.tn-news-content table {
  width: 100%;
}

.tn-news-content table tr {
  background: var(--green_7);
}

.tn-news-content table tr:nth-of-type(odd) {
  background: var(--white);
}

.tn-news-content table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.tn-comment-accordion {
  position: relative;
  background: var(--white);
  padding: 20px;
  margin-bottom: 50px;
}

@media (min-width: 1025px) {
  .tn-comment-accordion {
    padding: 20px 40px;
  }
}

@media (max-width: 640px) {
  .tn-comment-accordion {
    margin: 15px 0;
  }
}

.tn-comment-accordion .tn-data-list {
  margin: 0;
}

.tn-comment-accordion .tn-data-list li a {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray_1);
}

.tn-comment-accordion .tn-comment-accordion-title {
  cursor: pointer;
}

@media (max-width: 640px) {
  .tn-comment-accordion .tn-comment-accordion-title {
    padding: 10px 0;
  }
}

.tn-comment-accordion .tn-comment-accordion-title .tn-data-list li,
.tn-comment-accordion .tn-comment-accordion-title .tn-data-list span {
  color: var(--gray_2);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 640px) {
  .tn-comment-accordion .tn-comment-accordion-title .tn-data-list span[tn-arrow] {
    margin: 0 auto;
    background: var(--green);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--font-white);
    padding: 10px;
    cursor: pointer;
    border: none;
  }
}

.tn-comment-accordion .tn-comment-accordion-content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tn-comment-accordion .tn-comment-accordion-content:not(.tn-open) {
  max-height: 0;
}

.tn-comment-accordion .tn-comment-accordion-content .tn-button {
  display: inline-block;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--font-white);
  padding: 10px 20px;
}

.tn-comment-accordion .tn-comment-accordion-content .tn-button.tn-button-default {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--green);
}

.tn-comment-accordion .tn-modal {
  max-width: 740px;
}

.tn-comment-auth-form {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid var(--black_2);
}

.tn-comment-auth-form .tn-comment-auth-form-title {
  max-width: 670px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray_11);
  margin-bottom: 20px;
}

.tn-comment-auth-form .tn-comment-auth-form-title a {
  color: var(--black);
  text-decoration: underline;
  font-weight: 700;
}

.tn-comment-auth-form .tn-social-auth {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tn-comment-auth-form .tn-social-auth-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.tn-comment-auth-form .tn-social-auth-list li {
  margin: 7px;
}

.tn-comment-auth-form .tn-social-auth-list li span {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tn-comment-auth-form .tn-email-auth {
  margin: 20px 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--black_2);
}

.tn-comment-sort select {
  border: none;
  padding: 5px 20px 5px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--select-arrow), var(--white);
  background-repeat: no-repeat, repeat;
  background-position: right 0 top 50%, 1px 0;
  background-size: 14px auto, 100%;
}

.tn-comment-item {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 10px;
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-metadata .tn-user-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  margin-right: 35px;
  text-decoration: none;
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-metadata .tn-user-name:after {
  content: '';
  border-radius: 100%;
  width: 2px;
  height: 2px;
  background-color: var(--gray_2);
  display: inline-block;
  -webkit-transform: translate(20px, -3px);
  transform: translate(20px, -3px);
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-metadata time {
  display: inline;
  border-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray_1);
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-text {
  padding: 15px 0;
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-text p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  word-break: break-word;
}

.tn-comment-item .tn-comment-item-content .tn-comment-item-content-answers {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--gray_1);
}

.tn-comment-item .tn-comment-item-content > .tn-comment-item {
  margin-left: 0;
}

@media (max-width: 640px) {
  .tn-comment-item .tn-comment-item-content > .tn-comment-item {
    margin-left: -30px;
  }
}

.tn-comment-item .tn-comment-item-ava img {
  width: 100%;
  border-radius: 50%;
}

.tn-auth-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 15px;
}

@media (min-width: 640px) {
  .tn-auth-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tn-auth-grid a {
  color: var(--green);
}

.tn-auth-grid p {
  ont-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
}

.tn-auth-grid .tn-social-auth-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 33px);
}

.tn-auth-grid .tn-social-auth-list [class*='tn-icon'] {
  width: 33px;
  height: 33px;
}

.tn-auth-grid .tn-comment-auth-form-title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray_1);
  opacity: 0.5;
  max-width: 280px;
}

.tn-auth-grid .tn-row-relative span.tn-icon {
  position: absolute;
  right: 10px;
  margin-top: 8px;
}

#modal-forgot:not(.tn-show) {
  display: none;
}

@media (min-width: 640px) {
  #modal-forgot .tn-modal {
    max-height: 160px;
  }
}

#modal-warning {
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#modal-warning:not(.tn-show) {
  display: none;
}

#modal-warning .tn-modal {
  min-height: 300px;
}

#modal-auth:not(.tn-show) {
  display: none;
}

@media (min-width: 640px) {
  #modal-auth .tn-modal {
    max-height: 355px;
  }
}

#modal-register:not(.tn-show) {
  display: none;
}

@media (min-width: 640px) {
  #modal-register .tn-modal {
    max-height: 430px;
  }
}

#modal-confirm-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#modal-confirm-form a {
  color: var(--green);
}

#modal-confirm-form:not(.tn-show) {
  display: none;
}

#modal-confirm-form .tn-modal {
  max-width: 455px;
}

@media (min-width: 640px) {
  #modal-confirm-form .tn-modal {
    max-height: 300px;
  }
}

#modal-phone-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#modal-phone-form a {
  color: var(--green);
}

#modal-phone-form:not(.tn-show) {
  display: none;
}

#modal-phone-form .tn-modal {
  max-width: 455px;
}

@media (min-width: 640px) {
  #modal-phone-form .tn-modal {
    max-height: 300px;
  }
}

#modal-phone-form .tn-comment-auth-form-title {
  max-width: 279px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray_1);
  opacity: 0.5;
}

#modal-phone-confirm-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#modal-phone-confirm-form a {
  color: var(--green);
}

#modal-phone-confirm-form:not(.tn-show) {
  display: none;
}

#modal-phone-confirm-form .tn-modal {
  max-width: 455px;
}

@media (min-width: 640px) {
  #modal-phone-confirm-form .tn-modal {
    max-height: 300px;
  }
}

#modal-phone-confirm-form .tn-comment-auth-form-title {
  max-width: 279px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray_1);
  opacity: 0.5;
}

.tn-mix-section {
  padding: 25px 15px;
}

@media (max-width: 640px) {
  .tn-mix-section .tn-article-grid {
    grid-template-columns: 100%;
  }
}

@media (min-width: 1025px) {
  .tn-mix-section .tn-article-grid {
    grid-template-columns: 100%;
  }
}

.tn-mix-section .tn-article-grid .tn-article-item:not(:last-child) {
  border-bottom: 1px solid var(--gray_2);
}

.tn-mix-section .tn-article-grid .tn-article-item:not(:first-child) img {
  display: none;
}

@media (max-width: 1024px) and (min-width: 641px) {
  .tn-mix-section .tn-article-grid .tn-article-item:not(:first-child) img {
    display: block;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  .tn-mix-section .tn-article-grid .tn-article-item {
    border-bottom: 1px solid var(--gray_2);
  }
}

.tn-mix-section .tn-article-grid .tn-article-item .tn-article-title {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black_1);
  display: block;
  line-height: 24px;
}

.tn-mix-section .tn-article-grid .tn-article-item .tn-list {
  padding: 0;
}

.tn-mix-section .tn-article-grid .tn-article-item .tn-list span,
.tn-mix-section .tn-article-grid .tn-article-item .tn-list time {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: var(--gray_2);
}

.tn-mix-section time {
  border: none;
}

.tn-mix-section .tn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.tn-mix-section .tn-list li:not(:last-child) {
  margin-right: 18px;
  position: relative;
}

.tn-mix-section .tn-list li:not(:last-child):after {
  content: '';
  border-radius: 100%;
  width: 2px;
  height: 2px;
  background-color: var(--gray_2);
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(10px, 6px);
  transform: translate(10px, 6px);
}

.tn-author-social {
  margin-top: 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

[tn-toggle-comment] {
  cursor: pointer;
}

.tn-continuation {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
}

.tn-continuation .tn-continuation-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2b2b2b;
}

.tn-continuation .tn-continuation-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media (min-width: 640px) {
  .tn-continuation .tn-continuation-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
  }
}

.tn-continuation .tn-continuation-list .tn-continuation-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tn-continuation .tn-continuation-list .tn-continuation-list-item .tn-data-list {
  margin: 0;
}

.tn-continuation .tn-continuation-list .tn-continuation-list-item span.tn-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #3dc704;
  margin-right: 10px;
  display: inline-block;
}

.tn-continuation .tn-continuation-list .tn-continuation-list-item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
}

.test_card {
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 5px;
  background: var(--white);
  color: var(--gray23);
  -webkit-box-shadow: 0 5px 15px var(--black7);
  box-shadow: 0 5px 15px var(--black7);
  padding: 15px 10px;
  border-radius: 5px;
}

.test_card h2,
.uk-button {
  text-align: center;
}

.uk-button {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  cursor: pointer;
}

.uk-button-primary {
  background-color: var(--green);
  color: var(--white);
  border: 1px solid transparent;
}

* + .uk-margin {
  margin-top: 20px !important;
}

.uk-margin {
  margin-bottom: 20px;
}

.uk-label {
  display: inline-block;
  padding: 0 10px;
  background: var(--blue_1);
  line-height: 1.5;
  font-size: 20px;
  color: var(--white);
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}

.uk-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uk-input,
.uk-select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.uk-input,
.uk-textarea {
  -webkit-appearance: none;
}

.uk-checkbox,
.uk-input,
.uk-radio,
.uk-select,
.uk-textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}

.uk-input,
.uk-select,
.uk-textarea {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: var(--white);
  color: var(--gray23);
  border: 1px solid var(--gray_2);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
}

.a_list {
  padding: 0;
  list-style: none !important;
  margin-left: 0 !important;
}

.a_list .answer_count {
  float: right;
}

.a_list li {
  padding: 10px;
  cursor: pointer;
}

.a_list li.correct:before {
  border: 6px solid var(--green16);
  padding: 0;
  cursor: pointer;
}

.a_list li.no-correct:before {
  border: 6px solid var(--red_1);
  padding: 0;
  cursor: pointer;
}

.a_list li:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--green16);
  padding: 5px;
  margin-right: 5px;
}

@media (min-width: 640px) {
  .a_list li:hover:before {
    border: 6px solid var(--green16);
    padding: 0;
    cursor: pointer;
  }
}

.a_list li:nth-of-type(odd) {
  background: var(--white6);
  border-top: 1px solid var(--gray_2);
  border-bottom: 1px solid var(--gray_2);
}

.card-wrap {
  padding: 8px;
  margin: 10px;
  background: var(--white);
  border: 1px solid #ddd;
  cursor: default;
  margin-bottom: 15px;
}

.card-wrap .card-title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 65px;
  padding-bottom: 5px;
}

.card-wrap .card-title span {
  margin-right: 12px;
  width: 55px;
  height: 100%;
  background-color: var(--green);
  color: var(--white);
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-wrap .card-content {
  background: var(--white);
  font: 15px/1.5 Roboto;
  padding-bottom: 30px;
  color: var(--black);
  padding-bottom: 65px;
  overflow: hidden;
  overflow-x: auto;
}

.card-wrap .card-content p {
  margin-bottom: 15px;
  word-break: break-word;
  color: var(--black);
}

.text-stream-wrap {
  padding: 8px;
  margin: 10px;
  background: var(--white);
  border: 1px solid #ddd;
  cursor: default;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .text-stream-wrap {
    margin: 0 -15px;
    padding: 8px 0;
  }
}

.text-stream-wrap .text-stream-sort-button {
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  cursor: pointer;
}

.text-stream-wrap .text-stream-title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 15px;
  padding-bottom: 5px;
}

.text-stream-wrap .text-stream-content {
  background: var(--white);
  font: 15px/1.5 Roboto;
  padding-bottom: 30px;
  color: var(--black);
  padding-bottom: 65px;
}

.text-stream-wrap .text-stream-content p {
  margin-bottom: 15px;
  word-break: break-word;
  color: var(--black);
}

.custom {
  padding: 8px;
  margin: 10px;
  background: #00658c;
  border: 1px solid #ddd;
}

.custom:hover {
  outline: 2px solid #ff0;
}

.custom .custom-content {
  background: #d3dfee;
  border: 1px solid #ddd;
}

.custom .custom-content:hover {
  outline: 2px solid #ff0;
}

.tn-card-list-container {
  background-color: var(--white);
  border: 1px var(--hbrc) solid;
  padding: 5px;
}

@media (max-width: 640px) {
  .tn-card-list-container {
    display: none;
  }
}

.tn-card-list-container span {
  color: var(--green);
  font-weight: 700;
}

.tn-card-list-container .tn-card-list li {
  cursor: pointer;
  font-size: 14px;
  margin: 10px 5px;
  word-break: break-word;
  line-height: 17px;
}

.tn-card-list-container .tn-card-list li.tn-active {
  background-color: var(--green_3);
}

.tn-pr {
  background: #dfecdd;
  color: #333;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 10px;
}

.tn-pr strong {
  font-weight: 700;
}

.tn-pr.tn-pr-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: transparent;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  margin: 10px 0;
}

.tn-pr.tn-pr-5 strong {
  background: #dfecdd;
  padding: 10px;
  border-radius: 10px;
}

.tn-tape-single-container {
  -webkit-box-shadow: 0 0 20px -5px var(--background_secondary);
  box-shadow: 0 0 20px -5px var(--background_secondary);
  position: fixed;
  bottom: 0;
  margin: auto 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1000;
  background: var(--white);
  padding: 0;
}

.tn-tape-single-container label.top_news {
  margin-left: 10px;
  display: inline-block;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray_3);
}

.tn-tape-single-container .tn-icon-menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
}

.tn-tape-single-container .tn-tape-single-header {
  position: relative;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.tn-tape-single-container .tn-tape-single-header .tn-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .tn-tape-single-container .tn-tape-single-header .tn-button {
    font-size: 13px;
    padding: 2vw;
    width: 100%;
    background: var(--white);
    color: var(--gray_3);
    margin-right: 10px;
  }

  .tn-tape-single-container .tn-tape-single-header .tn-button.tn-active {
    padding: calc(2vw + 2px);
    color: var(--white);
    background: var(--green);
  }

  .tn-tape-single-container .tn-tape-single-header .tn-button.tn-active:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 3px;
    background: var(--green);
    bottom: 0;
    left: 15px;
  }

  .tn-tape-single-container .tn-tape-single-header .tn-button:last-child {
    margin-right: 0;
  }

  .tn-tape-single-container .tn-tape-single-header .tn-button:not(.tn-active) {
    background: var(--gray_16);
    padding: calc(2vw + 3px);
  }
}

.tn-tape-single-container .tn-tape-single-header .tn-tape-title {
  display: inline-block;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray_3);
}

.tn-tape-single-container .tn-tape-single-header .join-telegram {
  position: absolute;
  top: 7px;
  right: 40px;
}

@media (min-width: 640px) {
  .tn-tape-single-container .tn-tape-single-header .join-telegram {
    display: none;
  }
}

.tn-tape-single-container .tn-tape-single-body {
  height: 40px;
  overflow: hidden;
  -webkit-transition: height 1s;
  transition: height 1s;
}

@media (max-width: 640px) {
  .tn-tape-single-container .tn-tape-single-body {
    height: 0;
  }
}

.tn-tape-single-container .tn-tape-single-body::-webkit-scrollbar {
  width: 7px;
}

.tn-tape-single-container .tn-tape-single-body::-webkit-scrollbar-track {
  background: var(--white_3);
  -webkit-box-shadow: 0 -1px 20px var(--green_4);
  box-shadow: 0 -1px 20px var(--green_4);
}

.tn-tape-single-container .tn-tape-single-body::-webkit-scrollbar-thumb {
  background: var(--green);
  -webkit-box-shadow: 0 -1px 20px var(--green_4);
  box-shadow: 0 -1px 20px var(--green_4);
}

.tn-tape-single-container .tn-tape-single-body.tn-active {
  height: 50vh;
  overflow-y: auto;
}

@media (max-width: 640px) {
  .tn-tape-single-container .tn-tape-single-body.tn-active {
    height: 75vh;
  }
}

.tn-tape-single-container .tn-tape-single-body .tn-tape-item {
  padding: 10px 0;
  margin: 0 12px;
  border-bottom: 1px solid var(--black_2);
}

.tn-tape-single-container .tn-tape-single-body .tn-tape-item .tn-tape-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 131.25%;
  color: var(--gray_1);
}

@media (max-width: 640px) {
  .tn-tape-single-container .tn-tape-single-body .tn-tape-item .tn-tape-title {
    font-size: 15px;
  }
}

.tn-tape-single-container .tn-tape-single-body .tn-tape-item .tn-tape-title:visited {
  color: var(--gray_11);
}

.tn-tape-single-container .tn-tape-single-body .tn-tape-item .tn-tape-title.tn-active {
  color: var(--green);
}

.tn-tape-single-container .tn-tape-single-body .tn-tape-item time {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray_2);
}

.tn-tape-single-container .tn-icon-menu-toggle {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.tn-tape-single-container .tn-icon-menu-toggle.tn-active {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.tn-tape-single-popular-container {
  margin-top: 20px;
  background: var(--white);
}

.tn-tape-single-popular-container .tn-tape-single-popular-header {
  padding: 8px 15px;
}

.tn-tape-single-popular-container .tn-tape-single-popular-header .tn-tape-title {
  display: inline-block;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray_3);
  text-transform: uppercase;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body {
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: height 1s;
  transition: height 1s;
  padding: 0 10px;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body .tn-data-list {
  padding: 0;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body ul {
  margin-bottom: 5px;
  margin-top: 0;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body::-webkit-scrollbar {
  width: 7px;
}

.tn-tape-single-popular-container .tn-tape-single-popular-body::-webkit-scrollbar-track {
  background: var(--white_3);
  -webkit-box-shadow: 0 -1px 20px var(--green_4);
  box-shadow: 0 -1px 20px var(--green_4);
}

.tn-tape-single-popular-container .tn-tape-single-popular-body::-webkit-scrollbar-thumb {
  background: var(--green);
  -webkit-box-shadow: 0 -1px 20px var(--green_4);
  box-shadow: 0 -1px 20px var(--green_4);
}

.tn-tape-single-popular-container .tn-tape-single-popular-body .tn-tape-item {
  padding: 12px 0;
  margin: 0 12px;
  border-top: 1px solid var(--black_2);
}

.tn-tape-single-popular-container .tn-tape-single-popular-body .tn-tape-item .tn-tape-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 131.25%;
  color: var(--gray_1);
}

.tn-tape-single-popular-container
  .tn-tape-single-popular-body
  .tn-tape-item
  .tn-tape-title:visited {
  color: var(--gray_11);
}

.tn-tape-single-popular-container
  .tn-tape-single-popular-body
  .tn-tape-item
  .tn-tape-title.tn-active {
  color: var(--green);
}

.tn-tape-single-popular-container .tn-tape-single-popular-body .tn-tape-item time {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray_2);
  padding: 0;
  border: none;
}

.tn-list.tn-list-without-marker {
  list-style: none !important;
}

#text-stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 640px) {
  #text-stream {
    margin: 0 5px;
  }
}

#text-stream li {
  background: var(--background);
  border-radius: 10px;
  padding: 10px;
}

.retell {
  background: #fff;
  padding: 5px;
}

.tn-audio-player {
  padding: 15px;
}

.tn-audio-player audio {
  width: 100%;
}

.text_slider {
  position: relative;
}

.text_slider .next,
.text_slider .prev {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff var(--select-arrow) no-repeat center 55%;
  border-radius: 50%;
  z-index: 2;
  -webkit-box-shadow: 0 0 20px 8px rgba(50, 168, 1, 0.3);
  box-shadow: 0 0 20px 8px rgba(50, 168, 1, 0.3);
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  opacity: 0.8;
}

.text_slider .next:hover,
.text_slider .prev:hover {
  -webkit-box-shadow: 0 0 20px 10px rgba(50, 168, 1, 0.3);
  box-shadow: 0 0 20px 10px rgba(50, 168, 1, 0.3);
}

.text_slider .prev {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(90deg) translate(-50%, -25%);
  transform: rotate(90deg) translate(-50%, -25%);
}

.text_slider .next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(-90deg) translate(50%, -25%);
  transform: rotate(-90deg) translate(50%, -25%);
}

.text_slider .slider-container .item {
  display: none;
  width: 100%;
}

.text_slider .slider-container .item.active,
.text_slider .slider-container:not(.active) .item:first-child {
  display: block;
}

.text_slider .slider-dot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text_slider .slider-dot-nav li {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #0d8c00;
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 5px;
}

.text_slider .slider-dot-nav li.active {
  opacity: 0.7;
  width: 8px;
  height: 8px;
}

@media (hover: none) and (pointer: coarse) {
  .tn-hidden-mobile {
    display: none !important;
  }
}

.tn-overlay {
  overflow: hidden;
  overflow-x: auto;
}
