/*==============================*/

body {
    font-family: 'Roboto', sans-serif !important;
}

.close-poping {
    color: black;
}

.step input {
    margin: 0;
    /*border: 2px solid #ccc;*/
    border: unset;
    padding: 20px 15px;
    border-radius: 4px;
    color: black;
}

.checkbox-wrap {
    display: flex;
}

.checkbox-wrap label {
    font-size: 14px;
    margin-top: 0;
    margin-left: 5px;
}

form button {
    width: 100%;
    margin: 5px 0px;
    background-color: rgb(67, 211, 67);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
}

.pop-outer {
    display: none;
}

.pop-text-wrap {
    color: black;
}


/*===============*/

.vti__dropdown-list.below {
    top: 50px !important;
    color: black !important;
}

.v--modal-overlay {
    z-index: 9999 !important;
}

.close-poping[data-v-b9b20b22] {
    color: black;
}

.members .checkbox-wrap {
    display: none;
}

@media(max-width: 560px) {
    .v--modal-box {
        left: 0 !important;
        width: 100% !important;
    }
    .pop-text-wrap[data-v-b9b20b22] {
        padding: 50px 40px;
    }
}