.form-field-select {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-field-select .arrow {
  display: block;
  position: absolute;
  margin-top: -3px;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 6px;
  transition: all 0.3s ease;
  color: currentColor;
  line-height: 0.4;
}
.form-field-select .arrow svg {
  display: block;
}
.form-field-select .select-outer {
  position: relative;
}
.form-field-select .atom-custom-select {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-field-select .dropdown-select {
  cursor: pointer;
  display: flex;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  min-height: var(--formInputSize, 46px);
  line-height: 1.466;
  font-weight: 400;
  padding: 0 40px 0 15px;
  border-radius: 4px;
  background-color: #fff;
  color: #060607;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
}
.form-field-select .dropdown-select .selected {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.is-pointer .form-field-select .dropdown-select:hover .arrow {
  opacity: 1;
}
.select-container-in-body {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  color: #060607;
  z-index: 2499;
}
.select-container-in-body.rise {
  z-index: 100000;
}
.select-container-in-body .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.select-container-in-body .dropdown-select-ul {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  top: 0;
  padding: 0;
  max-height: 234px;
  overflow-y: auto;
  opacity: 0;
  list-style: none;
  transition-delay: 0.1s;
  transition: opacity 0.18s cubic-bezier(0.21, 0.67, 0.58, 1),
    transform 0.3s cubic-bezier(0.21, 0.67, 0.58, 1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-container-in-body .dropdown-select-ul.sharp {
  border-radius: 0;
}
.select-container-in-body .dropdown-select-ul .option-e {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 12px 8px 12px 15px;
  border: 0;
  line-height: 1.466;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.select-container-in-body .dropdown-select-ul .option-e:before {
  content: '';
  height: 1px;
  width: calc(100% - 30px);
  display: block;
  margin: 0 15px;
  position: absolute;
  background: #f4f4f4;
  bottom: 0;
  left: 0;
}
.select-container-in-body .dropdown-select-ul .option-e:last-of-type:before {
  content: none;
}
.select-container-in-body .dropdown-select-ul .option-e.selected {
  color: rgba(6, 6, 7, 0.49);
}
.is-pointer .select-container-in-body .dropdown-select-ul .option-e:hover {
  background-color: #f4f4f4;
}
.is-pointer .select-container-in-body .dropdown-select-ul .option-e:hover .option-e:before {
  background: #f4f4f4;
}
.select-container-in-body .dropdown-select-ul::-webkit-scrollbar {
  width: 3px;
  height: 90%;
}
.select-container-in-body .dropdown-select-ul::-webkit-scrollbar-track {
  background: 0;
}
.select-container-in-body .dropdown-select-ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.select-container-in-body.active {
  visibility: visible;
}
.select-container-in-body.active .dropdown-select-ul {
  opacity: 1;
  transform: translateZ(0);
}
.select-container-in-body.size--large .option-e {
  min-height: 56px;
  line-height: 1.334;
  font-size: 16px;
  display: flex;
  align-items: center;
}
body.adaptive-mobile .form-fields .form-field-select .dropdown-container,
body.adaptive-mobile .form-fields .form-field-select .select-outer,
body.adaptive-mobile .quiz-fields .form-field-select .dropdown-container,
body.adaptive-mobile .quiz-fields .form-field-select .select-outer {
  min-height: 46px;
}
body.adaptive-mobile .form-fields .form-field-select .dropdown-select,
body.adaptive-mobile .quiz-fields .form-field-select .dropdown-select {
  font-size: 16px;
  min-height: 46px;
}
body.adaptive-mobile .form-fields .form-field-select .atom-custom-select,
body.adaptive-mobile .quiz-fields .form-field-select .atom-custom-select {
  text-size-adjust: 120%;
  -webkit-text-size-adjust: 120%;
  -webkit-appearance: none;
  font-size: 16px;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.component-form {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.component-form .form-fields-advanced,
.component-form .form-info {
  grid-area: none;
}
.component-form .form-fields {
  order: 0;
}
.component-form .form-submit,
.component-form .policy-data-warning {
  order: 20;
}
.component-form .captcha-global-error {
  order: 21;
}
.component-form .policy-data-warning--checkbox {
  order: 1;
  margin-top: 30px;
}
.component-form .form-submit {
  position: relative;
  margin-top: 20px;
  text-align: left;
}
.component-form .form-field-submit[] {
  pointer-events: none;
  opacity: 0.65;
}
.component-form .form-field-submit .btn-text {
  opacity: 1;
  transition: all var(--transitionDuration, 0.2s) ease, opacity 0.3s ease;
}
.component-form.submitting .form-field-submit .btn-text,
.component-form.submitting .form-field-submit .component-icon {
  opacity: 0;
}
.component-form.submitting .submitting-status {
  display: block;
  opacity: 1;
  visibility: visible;
}
.component-form.submitting .submitting-status svg {
  transform: scale(1);
}
.component-form.success .form-field-submit .btn-text,
.component-form.success .form-field-submit .component-icon {
  opacity: 0;
}
.component-form.success .success-icon {
  transition: opacity 0.45s, visibility 0.45s, transform 0.3s cubic-bezier(0.25, 1, 0.1, 3);
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, -50%, 0) scale(1);
}
body.adaptive-desktop .component-form {
  max-width: 450px;
}
body.adaptive-desktop .component-form.inline {
  max-width: 950px;
  display: grid;
  grid-template-columns: 1fr fit-content(30%);
}
body.adaptive-desktop .component-form.inline.fields-count-1 {
  max-width: 550px;
}
body.adaptive-desktop .component-form.inline.fields-count-2 {
  max-width: 750px;
}
body.adaptive-desktop .component-form.inline.fields-count-3 {
  max-width: 950px;
}
body.adaptive-desktop .component-form.inline.fields-count-4 {
  max-width: unset;
}
body.adaptive-desktop .component-form.inline .form-fields,
body.adaptive-desktop .component-form.inline .form-submit {
  grid-row-start: 1;
  transition: padding 0.3s ease;
}
body.adaptive-desktop .component-form.inline .form-fields {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  width: 100%;
}
body.adaptive-desktop .component-form.inline .form-fields .error {
  position: absolute;
  top: 100%;
  left: 0;
  height: 20px;
  line-height: 16px;
}
body.adaptive-desktop .component-form.inline .form-fields .form-field[data-type='checkbox'] {
  padding-right: 20px;
}
body.adaptive-desktop
  .component-form.inline
  .form-fields
  .form-field
  + .form-field[data-type='checkbox'] {
  padding-left: 10px;
}
body.adaptive-desktop .component-form.inline .form-field {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 0 10px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
body.adaptive-desktop .component-form.inline .form-field[data-type='checkbox'] {
  flex-grow: 0;
  flex-basis: auto;
}
body.adaptive-desktop .component-form.inline .form-field-checkbox-item {
  max-width: 100%;
  height: var(--formInputSize);
  display: inline-flex;
  align-items: center;
}
body.adaptive-desktop .component-form.inline .form-field-checkbox-item__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 270px;
}
body.adaptive-desktop .component-form.inline .form-submit {
  position: relative;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
body.adaptive-desktop .component-form.inline .form-submit .btn-content {
  width: 100%;
}
body.adaptive-desktop .component-form.inline .btn-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
body.adaptive-desktop .component-form.inline.style-underlined {
  padding-top: 4px;
}
body.adaptive-desktop .component-form.inline.style-underlined .form-field {
  padding: 0 15px 0 0;
}
body.adaptive-desktop .component-form.inline .captcha-global-error {
  grid-column: 1/-1;
}
body.adaptive-desktop .component-form.inline .policy-data-warning {
  margin-top: 10px;
  text-align: inherit;
  grid-column: 1/-1;
}
body.adaptive-desktop .component-form.inline .policy-data-warning + .policy-data-warning {
  margin-top: 10px;
}
.component-form .component-button.submitting .btn-text,
.component-form .component-button.submitting .component-icon,
.component-quiz .component-button.submitting .btn-text,
.component-quiz .component-button.submitting .component-icon {
  opacity: 0;
}
.component-form .component-button.submitting .submitting-status,
.component-quiz .component-button.submitting .submitting-status {
  display: block;
  opacity: 1;
  visibility: visible;
}
.component-form .component-button.submitting .submitting-status svg,
.component-quiz .component-button.submitting .submitting-status svg {
  transform: scale(1);
}
.component-form .component-button.success .btn-text,
.component-form .component-button.success .component-icon,
.component-quiz .component-button.success .btn-text,
.component-quiz .component-button.success .component-icon {
  opacity: 0;
}
.component-form .component-button.success .success-icon,
.component-quiz .component-button.success .success-icon {
  transition: opacity 0.45s, visibility 0.45s, transform 0.3s cubic-bezier(0.25, 1, 0.1, 3);
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, -50%, 0) scale(1);
}
.form-field-delivery-fields {
  padding: var(--formFieldsGap) 0 0;
  display: none;
}
.form-field-delivery-fields--active {
  display: block;
}
.form-field-delivery-item {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  min-height: var(--formInputSize);
  font-size: 15px;
  line-height: 1.466;
  font-weight: 400;
  padding: 12px 15px;
  margin-bottom: calc(var(--formFieldsGap) / 2);
  word-break: keep-all;
  cursor: pointer;
}
.is-pointer .form-field-delivery-item:hover .form-field-delivery-item__box {
  opacity: 0.57;
}
.form-field-delivery-item .error-message {
  display: none;
  color: #ff4747;
  font-weight: 500;
  font-size: 12px;
}
.form-field-delivery-item.delivery-error {
  pointer-events: none;
}
.form-field-delivery-item.delivery-error > :not(.error-message) {
  opacity: 0.3;
}
.form-field-delivery-item.delivery-error .delimiter,
.form-field-delivery-item.delivery-error .item-price {
  display: none;
}
.form-field-delivery-item.delivery-error .error-message {
  display: block;
}
.form-field-delivery-item:last-child {
  margin-bottom: 0;
}
.form-field-delivery-item__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 4px;
  border: 1px solid currentColor;
  opacity: 0.15;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.form-field-delivery-item__title {
  font-weight: 400;
  padding-right: 20px;
}
.form-field-delivery-item__title .delimiter,
.form-field-delivery-item__title .item-price {
  font-weight: 400;
  opacity: 0.7;
}
.form-field-delivery-item__title .delimiter {
  margin: 0 1ex;
}
.form-field-delivery-item__desc {
  font-size: 13px;
  line-height: 16px;
  margin-top: 8px;
  opacity: 0.5;
  white-space: pre-wrap;
}
.form-field-delivery-item__min-total {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 13px;
  line-height: 14px;
  margin-top: 10px;
  opacity: 0.5;
}
.form-field-delivery-item__min-total span {
  margin-left: 5px;
}
.form-field-delivery-item__input {
  display: none;
}
.form-field-delivery-item__input:checked ~ .form-field-delivery-item__box {
  border-width: 2px;
  opacity: 1 !important;
}
.form-field-delivery-item__input:checked ~ .form-field-delivery-item__arrow {
  opacity: 1 !important;
  visibility: visible;
}
.form-field-delivery-item__input:checked ~ .form-field-delivery-item__title {
  font-weight: 500;
}
.form-field-delivery-item__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s ease;
}
.form-field-delivery-item--blocked {
  cursor: default;
  background: rgba(34, 17, 34, 0.02);
}
.form-field-delivery-item--blocked
  .form-field-delivery-item__input:checked
  ~ .form-field-delivery-item__box {
  border-width: 2px;
  opacity: 0.4;
}
.form-field-delivery-item--blocked
  .form-field-delivery-item__input:checked
  ~ .form-field-delivery-item__arrow {
  opacity: 0.4;
  visibility: visible;
}
.form-field-delivery-item--only {
  cursor: default;
  background: rgba(34, 17, 34, 0.02);
}
.form-field-delivery-item--only .form-field-delivery-item__box {
  opacity: 0.57 !important;
}
.form-field-delivery-item--only .form-field-delivery-item__arrow {
  display: none;
}
:root {
  --formRadioSize: 20px;
  --formRadioDotSize: 8px;
  --formRadioBorderSize: 2px;
  --formRadioBorderColor: currentColor;
  --formRadioOpacity: 0.5;
  --formRadioOpacityActive: 1;
  --formCheckboxBoxSize: 20px;
  --formCheckboxBoxRadius: 4px;
  --formCheckboxBoxOpacity: 0.5;
  --formCheckboxBoxOpacityActive: 1;
  --formCheckboxBoxLine: 2px;
  --formCheckboxBoxColor: currentColor;
  --formCheckboxArrowSize: 12px;
  --formCheckboxArrowColor: currentColor;
  --formRangeRunnerSize: 20px;
  --formRangeLegendTextSize: 12px;
  --formRangeRunnerColor: currentColor;
  --formRangeColor: currentColor;
  --formRangeColorFill: currentColor;
  --formRangeOpacity: 0.2;
  --formFileIconSize: 20px;
  --formInputColor: currentColor;
  --formInputBackground: transparent;
  --formInputBackgroundActive: transparent;
  --formInputLineOpacity: 0.5;
  --formInputLineOpacityActive: 1;
  --formInputLineSize: 1px;
  --formInputLineColor: currentColor;
  --formInputSize: 46px;
  --formInputTextSize: 15px;
  --formLabelTextSize: 15px;
  --formDescTextSize: 12px;
  --formErrorTextSize: 10px;
  --formLabelGap: 10px;
  --formFieldsGap: 20px;
}
.form-field-title {
  display: block;
  font-size: var(--formLabelTextSize);
  line-height: 1.375;
  padding-bottom: var(--formLabelGap);
  font-weight: 500;
  text-align: left;
  order: -2;
}
.form-field-desc {
  font-size: var(--formDescTextSize);
  padding-bottom: var(--formLabelGap);
  opacity: 0.5;
  line-height: 1.333;
  order: -1;
}
.form-field-desc + .form-field-title {
  padding-bottom: 5px;
}
.form-field {
  text-align: left;
}
.form-field[data-type='hidden'] {
  display: none !important;
}
.form-field[data-type='checkbox'] + [data-type='checkbox'] {
  margin-top: calc(var(--formFieldsGap) / -2);
}
.form-field.active .dropdown-select:after {
  z-index: 21;
  opacity: 0;
}
.form-field-radio {
  display: flex;
  flex-direction: column;
}
.form-field-radio .form-field-title {
  display: block;
}
.form-field-radio-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: calc(var(--formFieldsGap) / 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-field-radio-item:last-child {
  margin-bottom: 0;
}
.form-field-radio-item .form-field-radio-item__text {
  text-align: left;
}
.is-pointer .form-field-radio-item:hover .form-field-radio-item__check {
  opacity: 1;
}
.form-field-radio-item__check {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--formRadioOpacity);
  position: relative;
  width: var(--formRadioSize);
  height: var(--formRadioSize);
  margin-right: calc(var(--formRadioSize) / 2);
  transition: opacity 0.3s ease;
}
.form-field-radio-item__check,
.form-field-radio-item__check:before {
  border-radius: 50%;
  box-sizing: border-box;
  border: var(--formRadioBorderSize) solid var(--formRadioBorderColor);
}
.form-field-radio-item__check:before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  width: var(--formRadioDotSize);
  height: var(--formRadioDotSize);
  transition: all 0.3s ease;
}
.form-field-radio-item__input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.form-field-radio-item__input:checked + .form-field-radio-item__check {
  opacity: var(--formRadioOpacityActive);
}
.form-field-radio-item__input:checked + .form-field-radio-item__check:before {
  opacity: 1;
}
.form-field-range {
  display: flex;
  flex-flow: column-reverse;
  flex-grow: 1;
}
.form-field-range .form-field-desc,
.form-field-range .form-field-title {
  order: 0;
}
.form-field-range .range-outer {
  --speed: 0.25s;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12px;
  height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-field-range .range-outer .range-value {
  transition: width var(--speed) cubic-bezier(0.64, 0.13, 0.43, 0.99),
    margin var(--speed) cubic-bezier(0.64, 0.13, 0.43, 0.99);
}
.form-field-range .range-outer:not(.animated) {
  --speed: 0s;
}
.form-field-range .range-outer.active-animation {
  --speed: 0.1s;
}
.form-field-range .range-outer.active-animation.animation-speed-10 {
  --speed: 0.3s;
}
.form-field-range .range-outer.active-animation.animation-speed-9 {
  --speed: 0.26s;
}
.form-field-range .range-outer.active-animation.animation-speed-8 {
  --speed: 0.24s;
}
.form-field-range .range-outer.active-animation.animation-speed-7 {
  --speed: 0.2s;
}
.form-field-range .range-outer.active-animation.animation-speed-6 {
  --speed: 0.18s;
}
.form-field-range .range-outer.active-animation.animation-speed-5 {
  --speed: 0.16s;
}
.form-field-range .range-outer.active-animation.animation-speed-4 {
  --speed: 0.14s;
}
.form-field-range .range-outer.active-animation.animation-speed-3 {
  --speed: 0.12s;
}
.form-field-range .range-legend {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: var(--formRangeLegendTextSize);
  font-weight: 500;
}
.form-field-range .range-legend .range-legend-inner {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.form-field-range .range-legend .legend-point {
  cursor: pointer;
  min-width: calc(12px * 2);
  text-align: center;
}
.form-field-range .range-legend.complex {
  padding: 0 12px;
}
.form-field-range .range-legend.complex .legend-point {
  flex-grow: 1;
  position: relative;
  text-align: center;
  flex-basis: 100%;
  min-width: 9.09%;
}
.form-field-range .range-legend.complex[data-count='10'] .range-legend-inner {
  margin: 0 -5%;
}
.form-field-range .range-legend.complex[data-count='9'] .range-legend-inner {
  margin: 0 -5.55555556%;
}
.form-field-range .range-legend.complex[data-count='8'] .range-legend-inner {
  margin: 0 -6.25%;
}
.form-field-range .range-legend.complex[data-count='7'] .range-legend-inner {
  margin: 0 -7.14285714%;
}
.form-field-range .range-legend.complex[data-count='6'] .range-legend-inner {
  margin: 0 -8.33333333%;
}
.form-field-range .range-legend.complex[data-count='5'] .range-legend-inner {
  margin: 0 -10%;
}
.form-field-range .range-legend.complex[data-count='4'] .range-legend-inner {
  margin: 0 -12.5%;
}
.form-field-range .range-legend.complex[data-count='3'] .range-legend-inner {
  margin: 0 -16.66666667%;
}
.form-field-range .range-legend.limits .legend-point {
  min-width: calc(12px * 2);
  text-align: center;
}
.form-field-range input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.form-field-range .range-area {
  width: 100%;
  height: 2px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  z-index: 1;
}
.form-field-range .range-area:before {
  content: '';
  position: absolute;
  display: block;
  left: -12px;
  right: -12px;
  height: 100%;
  top: 0;
  background-color: var(--formRangeColor);
  opacity: var(--formRangeOpacity);
}
.form-field-range .range-value {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}
.form-field-range .range-value:before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--formRangeColorFill);
  height: 100%;
  width: 100%;
  top: 0;
  left: -11px;
}
.form-field-range .range-runner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: var(--formRangeRunnerSize);
  height: var(--formRangeRunnerSize);
  transform: translate(-50%, -50%);
  margin-top: 1px;
  background-color: var(--formRangeRunnerColor);
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}
.form-field-range .range-runner .runner-tip {
  display: flex;
  position: absolute;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  font-size: var(--formRangeLegendTextSize);
  font-weight: 500;
  white-space: nowrap;
  padding: 0 8px;
  height: 24px;
  top: -20px;
  color: #fff;
  background-color: #060607;
  opacity: 0;
  border-radius: 3px;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.form-field-range .range-runner .runner-tip .prefix {
  margin-right: 5px;
  opacity: 0.65;
}
.form-field-range .range-runner .runner-tip .suffix {
  margin-left: 5px;
  opacity: 0.65;
}
.form-field-range .range-runner.upper-runner {
  z-index: 1;
}
.form-field-range .range-runner.active .runner-tip,
.is-pointer .form-field-range .range-runner:hover .runner-tip {
  opacity: 1;
  top: -30px;
}
.form-field-range .range-runner-right {
  right: 0;
  transform: translate(50%, -50%);
}
.form-field-checkbox-item {
  display: flex;
  position: relative;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-field-checkbox-item .error {
  display: none;
}
.is-pointer .form-field-checkbox-item:hover .form-field-checkbox-item__box {
  opacity: 1;
}
.form-field-checkbox-item__name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}
.form-field-checkbox-item__box {
  flex-shrink: 0;
  display: block;
  position: relative;
  opacity: var(--formCheckboxBoxOpacity);
  width: var(--formCheckboxBoxSize);
  height: var(--formCheckboxBoxSize);
  border-radius: var(--formCheckboxBoxRadius);
  border: var(--formCheckboxBoxLine) solid var(--formCheckboxBoxColor);
  box-sizing: border-box;
  margin-right: calc(var(--formCheckboxBoxSize) / 2);
  transition: opacity 0.3s ease;
}
.form-field-checkbox-item__box i {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
}
.form-field-checkbox-item__box i:before {
  content: '';
  display: block;
  position: absolute;
  border: 2px solid var(--formCheckboxArrowColor);
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
  height: calc(var(--formCheckboxArrowSize) / 2);
  width: var(--formCheckboxArrowSize);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform-origin: 40% 45%;
  transition: all 0.05s;
}
.form-field-checkbox-item__input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.form-field-checkbox-item__input:checked + .form-field-checkbox-item__box {
  opacity: var(--formCheckboxBoxOpacityActive);
}
.form-field-checkbox-item__input:checked + .form-field-checkbox-item__box i {
  opacity: 1;
}
.form-field-checkbox-item__input:focus + .form-field-checkbox-item__box {
  opacity: var(--formCheckboxBoxOpacityActive);
}
.form-field-text {
  position: relative;
  width: 100%;
  text-align: left;
}
.form-field-text__wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.form-field-text__input {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  font-family: inherit;
  min-height: var(--formInputSize);
  font-size: inherit;
  line-height: 1.333;
  font-weight: 400;
  padding: 3px 15px 2px;
  word-break: keep-all;
  border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-field-date__input {
  padding-right: 40px;
}
.form-field-text__textarea {
  resize: none;
  min-height: var(--formInputSize);
  max-height: 250px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-field-text__textarea.scrollable {
  overflow: auto;
}
.form-field-text__textarea::-webkit-scrollbar {
  width: 3px;
  height: 90%;
}
.form-field-text__textarea::-webkit-scrollbar-track {
  background: 0;
}
.form-field-text__textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.f-calendar__input-overlay {
  position: absolute;
  height: var(--formInputSize);
  bottom: 0;
  width: 100%;
  cursor: text;
  z-index: 3;
}
.form-field-date__icon {
  position: absolute;
  right: 15px;
  bottom: calc(var(--formInputSize) / 2);
  width: 16px;
  height: 16px;
  margin-bottom: -8px;
  cursor: pointer;
  opacity: 0.4;
  z-index: 4;
  transition: opacity 0.3s ease;
}
.form-field-date__icon.focus,
.form-field-date__icon:hover {
  opacity: 0.6;
}
.form-field-file {
  display: flex;
  flex-direction: column;
}
.form-field-file .file-input-outer {
  position: relative;
  padding-top: 0;
  transition: padding 0.3s ease;
}
.form-field-file .file-input-outer.is_error .error {
  display: block;
  height: 15px;
  padding-top: 3px;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.form-field-file .file-list {
  width: 100%;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.form-field-file .file-item {
  margin-bottom: calc(var(--formFieldsGap) / 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-field-file .file-item.loading .circular-loader {
  display: block;
}
.form-field-file .file-item.loading .icon {
  display: none;
}
.form-field-file .file-item.is-error .file-item--title,
.form-field-file .file-item.is-error .icon {
  color: #ff714d;
}
.is-pointer .form-field-file .file-item:hover .clear-files {
  opacity: 0.4;
}
.form-field-file .file-item .circular-loader {
  display: none;
  width: var(--formFileIconSize);
  height: var(--formFileIconSize);
  fill: none;
  margin-right: calc(var(--formFileIconSize) / 2);
  stroke: currentColor;
  stroke-width: 4px;
  transform-origin: center center;
}
.form-field-file .file-item .circular-loader .circular-loader--bg {
  opacity: 0.3;
}
.form-field-file .file-item .icon {
  display: block;
  opacity: 0.4;
}
.form-field-file .file-item--title {
  max-width: calc(100% - 85px);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.form-field-file .clear-files {
  width: 18px;
  height: 18px;
  padding: 4px;
  opacity: 0;
  margin-left: 6px;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}
.is-pointer .form-field-file .clear-files:hover {
  opacity: 0.6 !important;
}
.form-field-file .file-input,
.form-field-file .file-item {
  display: flex;
  cursor: pointer;
  color: currentColor;
  align-items: center;
}
.form-field-file .file-input .icon,
.form-field-file .file-item .icon {
  display: inline-block;
  width: var(--formFileIconSize);
  height: var(--formFileIconSize);
  max-height: var(--formFileIconSize);
  margin-right: calc(var(--formFileIconSize) / 2);
  text-align: center;
}
.form-field-file .file-input .icon svg,
.form-field-file .file-item .icon svg {
  height: 100%;
}
.form-field-file .file-input--original,
.form-field-file .file-item--original {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.form-field-file .file-input {
  transition: opacity 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-field-file .file-input:hover {
  opacity: 0.5;
}
.form-fields {
  font-size: var(--formInputTextSize);
  justify-content: inherit;
}
.form-fields .error {
  position: relative;
  width: 100%;
  font-size: var(--formErrorTextSize);
  line-height: 1.5;
  height: 0;
  font-weight: 500;
  color: #ff714d;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.21, 0.67, 0.58, 1);
}
.form-fields .border,
.form-fields .error-text {
  display: none;
}
.form-fields .is_error.animate {
  animation: shake 0.5s ease 1 both 0.2s;
}
.form-fields .is_error .error {
  height: 15px;
  padding-top: 3px;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.form-fields .is_error .error-text {
  display: block;
}
.form-fields .is_error .file-input .icon:not(.icon-file) {
  opacity: 1;
  color: #ff714d;
}
.form-fields .is_error .form-field-checkbox-item__box {
  opacity: 1;
  border-color: #ff714d;
}
.form-fields .form-field-submit {
  position: relative;
}
.form-fields .form-field-submit .g-recaptcha {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  pointer-events: all;
}
.form-fields .form-field {
  padding: 0 0 var(--formFieldsGap);
}
.form-fields .form-field:last-child {
  padding-bottom: 0 !important;
}
.form-fields.all-fields-empty:not(.has-error) {
  animation: shake 0.5s ease 1 both 0.2s;
}
.style-filled {
  --formInputColor: #060607;
  --formInputBackground: #fff;
}
.style-filled .form-field-date__icon,
.style-filled .form-field-text__input,
.style-filled .form-field-text__textarea {
  color: var(--formInputColor);
}
.style-filled .dropdown-select,
.style-filled .form-field-text__input {
  border: var(--formInputBorderSize, 0) solid var(--formInputBorderColor, transparent);
  transition: all 0.3s cubic-bezier(0.21, 0.67, 0.58, 1);
}
.style-filled .dropdown-select:focus,
.style-filled .dropdown-select:hover,
.style-filled .form-field-text__input:focus,
.style-filled .form-field-text__input:hover {
  border-color: var(--formInputBorderColorActive, var(--formInputBorderColor));
}
.style-transparent .dropdown-select,
.style-transparent .form-field-text__input {
  color: var(--formInputColor);
  background: var(--formInputBackground);
}
.style-transparent .dropdown-select:focus,
.style-transparent .form-field-text__input:focus {
  background: var(--formInputBackgroundActive);
}
.style-transparent .form-field-select .arrow {
  opacity: 0.5;
}
.style-underlined {
  --formLabelTextSize: 14px;
}
.style-underlined.inline .form-field-select .form-field-desc {
  display: none;
}
.style-underlined .form-fields .error {
  position: absolute;
  top: 100%;
  left: 0;
}
.style-underlined .form-fields .form-field.is_error {
  --formInputLineColor: #ff714d;
}
.style-underlined .form-fields .form-field[data-type='email'],
.style-underlined .form-fields .form-field[data-type='name'],
.style-underlined .form-fields .form-field[data-type='phone'],
.style-underlined .form-fields .form-field[data-type='text'],
.style-underlined .form-fields .form-field[data-type='textarea'],
.style-underlined .form-fields .form-field[data-type^='date'] {
  padding-top: 10px;
  padding-bottom: 30px;
}
.style-underlined .form-fields .form-field[data-type='email'] .form-field-text__input,
.style-underlined .form-fields .form-field[data-type='name'] .form-field-text__input,
.style-underlined .form-fields .form-field[data-type='phone'] .form-field-text__input,
.style-underlined .form-fields .form-field[data-type='text'] .form-field-text__input,
.style-underlined .form-fields .form-field[data-type='textarea'] .form-field-text__input,
.style-underlined .form-fields .form-field[data-type^='date'] .form-field-text__input {
  border: 0;
}
.style-underlined .form-fields .form-field[data-type='checkbox'],
.style-underlined .form-fields .form-field[data-type='file'],
.style-underlined .form-fields .form-field[data-type='radio'] {
  padding-bottom: 20px;
}
.style-underlined .form-fields .form-field-text .form-field-title {
  position: absolute;
  font-size: var(--formInputTextSize);
  line-height: 20px;
  bottom: 12px;
  padding: 0;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: all 0.3s ease;
  will-change: transform;
}
.style-underlined .form-fields .form-field-text .form-field-desc {
  display: none;
}
.style-underlined .form-fields .form-field-text .border {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  border: 0;
  color: inherit;
  opacity: var(--formInputLineOpacity);
  height: var(--formInputLineSize);
  background: var(--formInputLineColor);
  transition: opacity 0.3s ease;
  will-change: transform;
}
.style-underlined .form-fields .form-field-text__input {
  border-radius: 0;
  background-color: transparent;
  color: var(--formInputColor);
  padding-left: 0;
  padding-right: 0;
  opacity: 0.5;
}
.style-underlined .form-fields .form-field-text__input.focus,
.style-underlined .form-fields .form-field-text__input:focus,
.style-underlined .form-fields .form-field-text__input:valid,
.style-underlined .form-fields .form-field-text__input[value]:not([value='']) {
  box-shadow: none;
  opacity: 1;
}
.style-underlined .form-fields .form-field-text__input.focus ~ .form-field-title,
.style-underlined .form-fields .form-field-text__input:focus ~ .form-field-title,
.style-underlined .form-fields .form-field-text__input:valid ~ .form-field-title,
.style-underlined .form-fields .form-field-text__input[value]:not([value='']) ~ .form-field-title {
  bottom: 100%;
  font-size: var(--formLabelTextSize);
  height: 1.2em;
  opacity: 0.5;
}
.style-underlined .form-fields .form-field-text__input.focus + .border,
.style-underlined .form-fields .form-field-text__input:focus + .border,
.style-underlined .form-fields .form-field-text__input:valid + .border,
.style-underlined .form-fields .form-field-text__input[value]:not([value='']) + .border {
  opacity: var(--formInputLineOpacityActive);
}
.style-underlined .form-fields .form-field-text__textarea {
  max-height: 250px;
  padding: 0 0 12px;
  min-height: 34px;
  margin-top: 12px;
}
.style-underlined .form-fields .form-field-text__textarea::-webkit-scrollbar {
  width: 3px;
  height: 90%;
}
.style-underlined .form-fields .form-field-text__textarea::-webkit-scrollbar-track {
  background: 0;
}
.style-underlined .form-fields .form-field-text__textarea::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-radius: 3px;
  opacity: 0.2;
}
.style-underlined .form-fields .form-field-date .form-field-title {
  padding-right: 20px;
}
.style-underlined .form-fields .form-field-date__icon {
  right: 1px;
}
.style-underlined .form-fields .form-field-date__input {
  padding-right: 20px;
}
.style-underlined .form-fields .form-field-select {
  margin-top: 0;
}
.style-underlined .form-fields .form-field-select .form-field-desc,
.style-underlined .form-fields .form-field-select .form-field-title {
  padding-bottom: 0;
}
.style-underlined .form-fields .form-field-select .form-field-desc + .form-field-title {
  padding-bottom: 5px;
}
.style-underlined .form-fields .form-field-select .arrow {
  right: 10px;
}
.style-underlined .form-fields .dropdown-select {
  background-color: transparent;
  border-radius: 0;
  color: var(--formInputColor);
  padding-left: 0;
  padding-right: 0;
}
.style-underlined .form-fields .dropdown-select:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: var(--formInputLineSize) solid var(--formInputLineColor);
  opacity: var(--formInputLineOpacity);
  transition: all 0.3s ease;
}
.style-underlined .form-fields .dropdown-select:focus {
  box-shadow: none;
}
.style-underlined .form-fields .dropdown-select:focus:after {
  opacity: var(--formInputLineOpacityActive);
}
.style-underlined .form-fields .form-field-captcha .error {
  position: relative;
  top: 0;
}
[data-contrast='dark'] {
  --formInputBackground: rgba(6, 6, 7, 0.1);
  --formInputBackgroundActive: rgba(6, 6, 7, 0.15);
  --formInputBorderColor: rgba(6, 6, 7, 0.15);
  --formInputBorderColorActive: rgba(6, 6, 7, 0.3);
  --formInputBorderSize: 1px;
}
[data-contrast='light'] {
  --formInputBackground: hsla(0, 0%, 100%, 0.2);
  --formInputBackgroundActive: hsla(0, 0%, 100%, 0.3);
}
.cart-field-promocode {
  margin-top: var(--formFieldsGap);
}
.promocode-link {
  display: flex;
  align-items: center;
  color: currentColor;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.promocode-link span {
  margin-left: 6px;
}
.promocode-link:hover {
  opacity: 1;
}
.promocode-link.hide {
  display: none;
}
.promocode-field {
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
}
.promocode-field.hide {
  display: none;
}
.promocode-field .form-field-text {
  width: auto;
  flex: 1;
}
.promocode-field .error {
  position: absolute;
  top: 100%;
  left: 0;
}
.applied-promocode-block {
  display: block;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  animation: fadeIn 0.2s ease 1 both 0.25s;
}
.applied-promocode-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  opacity: 0.05;
  border-radius: 4px;
  z-index: -1;
}
.applied-promocode-block__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 0.18s;
  z-index: 10;
}
.is-pointer .applied-promocode-block__remove:hover {
  opacity: 0.65;
}
.applied-promocode-block__title {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.applied-promocode-block__title span {
  margin-left: 10px;
}
.applied-promocode-block__text {
  font-size: 13px;
  color: #888;
  margin-top: 10px;
}
.applied-promocode-block .error {
  position: absolute;
  left: 0;
  bottom: calc(-1em - 5px);
  font-size: 12px;
  color: #fc4d53;
}
.applied-promocode-block.is_error {
  margin-bottom: 1em;
}
.applied-promocode-block.is_error .applied-promocode-block__text,
.applied-promocode-block.is_error .applied-promocode-block__title {
  opacity: 0.5;
}
.promocode-button {
  --buttonColor: currentColor !important;
  --buttonColorHover: currentColor !important;
  width: -moz-max-content !important;
  width: max-content !important;
  min-width: unset !important;
  height: 46px;
  margin-left: 10px;
}
.promocode-button .btn-text {
  white-space: nowrap !important;
}
.promocode-button:before {
  border-color: var(--buttonColor, currentColor) !important;
  transition: opacity 0.3s cubic-bezier(0.21, 0.67, 0.58, 1);
  opacity: 0.2;
}
.promocode-button.hover:before {
  background: none !important;
  opacity: 0.4;
}
.promocode-button.hover .btn-content {
  color: var(--buttonColor, currentColor);
}
[data-contrast='light'] .promocode-button:before {
  opacity: 0.4;
}
[data-contrast='light'] .promocode-button:hover:before {
  opacity: 0.6;
}
body.adaptive-mobile .promocode-field {
  flex-direction: column;
}
body.adaptive-mobile .promocode-field .form-field-text {
  width: 100%;
}
body.adaptive-mobile .promocode-field .error {
  position: static;
  transition: none;
}
body.adaptive-mobile .promocode-button {
  margin: 15px 0 0;
  max-width: none;
  min-width: 100% !important;
}
body.adaptive-mobile .component-form {
  --formInputTextSize: 16px;
}
body.adaptive-mobile .component-form.inline .form-submit {
  padding-top: 0;
}
body.adaptive-mobile.is-ios .form-field-text__input {
  -webkit-text-size-adjust: 120%;
  text-size-adjust: 120%;
  line-height: 1;
}
