section a, section a:hover{
    text-decoration: none;
  color: #201F1F;

}
.ji-link{
    color: #F05323;
}
.ji-link:hover{
    color: #F05323;
    text-decoration: underline;
}
.ji-text-orange{
    color: #F33A4A;
}
.ji-text-gray{
    color: #201F1F;
    opacity: 0.5;
    font-weight: 600;
    padding-top: 6px;
}
.ji-text-grey{
    opacity: 0.5;
}
.ji-text-green{
   color: #19AA76;
font-weight: 900;
}
.ji-text-blue{
   color: #193048;
}

.ji-title-h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 76px;
    line-height: 89px;
}
.ji-title-h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
}
.ji-title-h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    line-height: 36px;
}
.ji-subtitle-24{
    font-size: 22px;
    line-height: 26px;
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: -0.5px;
}
.ji-24-light{
    font-size: 22px;
    line-height: 26px;
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: -0.3px;
}
.ji-text-21{
    font-size: 19px;
    line-height: 24px;
}
.ji-text-p{
    font-size: 15px;
    line-height: 19px;
}
.ji-text-small{
    font-size: 12px;
    line-height: 14px;
}
.ji-awards__text{
    font-size: 12px;
    line-height: 15px;
}


@media (max-width: 992px){
    .ji-title-h1{
        font-size: 36px;
        line-height: 42px;
    }
    .ji-title-h2{
        font-size: 28px;
        line-height: 32px;
    }
    .ji-text-21{
        font-size: 16px;
        line-height: 19px;
    }
    .ji-title-h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .ji-subtitle-24 {
        font-size: 18px;
        line-height: 22px;
    }
    .ji-text-p {
        font-size: 14px;
        line-height: 17px;
    }
}