*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #201F1F;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif  !important;
  font-weight: 400;
  letter-spacing: 0;
}
.container-fluid{
    max-width: 1300px;
}
img{
    max-width: 100%;
}
.ji-bg-gray{
    background-color: #F8F8F8 !important;
}
.ji-section{
    padding: 80px 0;
    background-color: #ffffff;
}
.ji-pt-60{
    padding-top: 60px;
}
.ji-pt-30{
    padding-top: 40px;
}
.ji-pb-30{
    padding-bottom: 30px;
}
.ji-mt-30{
    margin-top: 30px;
}
.ji-mb-20{
    margin-bottom: 20px;
}
.ji-plr-15px{
    padding: 0 20px;
}
@media (max-width: 992px){
    .ji-pt-60{
        padding-top: 30px;
    }
    .ji-section{
        padding: 60px 0;
    }
    .text-right{
        text-align: center
    }
}

/* first block */
.ji-image{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.ji-play-icon{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    max-width: 20%;
  transform: translateY(-50%);
}
.ji-button{
    background: linear-gradient(45.41deg, #F2244B -0.03%, #F77248 99.95%);
    border-radius: 22px;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 55px;
    display: inline-block;
}
.ji-button:hover{
    text-decoration: none;
    color: #ffffff;
}

/* awards block */
.ji-awards{
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 15px;*/
}
/* .ji-awards__item{
    max-width: 200px;
    width: 100%;
    text-align: center;
} */

/* benefits block */
.ji-benefits{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.ji-benefits__item{
    padding: 20px;
    border-radius: 22px;
    background-color: #ffffff;
}

/* forthcoming block */
/* .ji-forthcoming{
    max-width: 1440px;
    margin:  0 auto;
    display: grid;    
    grid-template-columns: repeat(4, 340px);
    width: 100%;
    gap: 30px;
} */

/* success block*/
.ji-success{
    /* max-width: 1440px; */
    margin:  0 auto;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    gap: 50px;
}
.ji-success__item .ji-companies__info{
    justify-content: space-between;
}
.ji-success__item.ji-companies{
    padding: 30px;
}

/* companies info block*/
.ji-companies{
    display: block;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(190, 190, 182, 0.2);
}
.ji-companies-active{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}
.ji-companies-text{
    max-width: 100%;
    min-height: 76px;
    margin: 0 auto;
}
.ji-companies__logo{
    min-height: 72px;
    height: 100%;
}
.ji-companies__info{    
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}
.ji-companies-active .ji-companies__btn {
    background: linear-gradient(45.41deg, #F2244B -0.03%, #F77248 99.95%);
    color: #ffffff;
}
.ji-companies__btn{
    text-align: center;
    width: 100%;
    max-width: 350px;
    border-radius: 22px;
    background-color: #F2F2F2;
    padding: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin: 25px auto 10px;
}

/* steps block */
.ji-steps{
    gap: 20px;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ji-steps__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 25px 30px 0;
    position: relative;

}
.ji-app-icon{
    margin-top: 10px;
}
.ji-app-icon a{
    display: inline-block;
margin-right: 5px;
transition: 0.2s;
}
.ji-app-icon a:hover{
transform: scale(1.2);
}
/* study block */
.ji-study{
    /* max-width: 1440px;
    margin: 0 auto; */
    background-image: url('../images/bg-star.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}
.ji-study .d-flex li{
    padding-bottom: 10px;
}

/* review block */
.ji-review {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 15px;
}
.ji-review__item{
    text-align: center;
    padding: 25px;
	box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    border-radius: 10px;
}
.ji-review__item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.ji-review__item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
}
.ji-review__item-3 {
    display: flex;
    align-items: center;
    grid-column-start: 7;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 11;
}
.ji-review__item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 18;
    grid-row-end: 7;
}
.ji-review__item-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 18;
}
.ji-review__item-6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 18;
}
.ji-review__img{
    margin-bottom: 15px;
}
.ji-review .ji-subtitle-24{
    margin-bottom: 5px;
    margin-top: 20px;
}

/* FAQ block */
.ji-faq .accordion-button:focus, .ji-faq .accordion-button, .ji-faq .accordion-button:not(.collapsed){
    box-shadow: none;
    outline: none;
    color: #201F1F;
}
.ji-faq .accordion-item{
    border-radius: 22px !important;
    border: 0 !important;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}
.ji-faq .accordion-button{
    padding: 15px !important;
    text-align: left;
}
.ji-faq .accordion-collapse{
    padding: 5px 15px !important;
}
.ji-faq .accordion-button::after{
    background-color: #F05323;
    background-image: url('../../images/plus.svg');
    background-size: 28px 28px;
    background-position: center center;
    border-radius: 50%;
    padding: 3px;
    height: 36px;
    width: 36px;
}
.ji-faq .accordion-button:not(.collapsed){
    background-color: #ffffff;
}
.ji-faq .accordion-button:not(.collapsed)::after{
    background-color: #BDBDBD;
    transform: rotate(-45deg);
    background-image: url('../../images/plus.svg');
}
.ji-more-btn{
    max-width: 220px;
    width: 100%;
    margin:  30px auto 0;
    display: block;
    padding: 10px 25px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}
/* .ji-more-btn::after{
    background-color: #F05323;
    background-image: url('../../images/plus.svg');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 3px;
    content: "";    
    padding: 0 14px;
    margin-left: 10px;
}
.ji-more-btn:not(.collapsed){
    background-color: #ffffff;
}
.ji-more-btn:not(.collapsed)::after{
    background-color: #BDBDBD;
    transform: rotate(-45deg);
    background-image: url('../../images/plus.svg');
} */

/* footer */
.ji-footer{
    color: #ffffff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #21212b;
}
.ji-footer .ji-text-small{
    opacity: 0.8;
}
.ji-app{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.form-wrapper {
    width: 90%;
    display: block;
    margin: 0 auto;
}
/* .ji-form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 12px;
} */
.ji-form-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 15px;
}
.ji-form__input{
    border: transparent;
    background: #21212b;
    /* background: linear-gradient(87.18deg,#14141e -.01%,#f77248 100.01%); */
    color: #fbfbfb;
    border-radius: 8px;
    padding: 9px;
    /* text-align: center; */
    width: 100%;
    outline: 0;
    margin-bottom: 15px;
} 
.ji-form__input.error {
    margin-bottom: 0px;
}
.ji-form__btn{
    background: linear-gradient(87.18deg,#f77248 -.01%,#f2244b 100.01%);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    padding: 9px 35px;
    margin: 0 auto;
    display: block;
} 
/* copyright */
.ji-copyright{
    gap: 15px;
    padding: 30px 0;
    align-items: center;
    display: flex;
    text-align: left !important;
}

/* SLIDER */
.swiper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper{
    padding: 40px 15px 60px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
padding: 0 15px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
      background-color: #F05323;
  }

@media (max-width: 1500px){
    .ji-success{
        overflow-x: scroll;
        justify-content: start;
        overflow-y: hidden;
        padding-left: 15px;
        padding-right: 15px;
        gap: 15px;
    }
    ul.grt-menu li a{
        font-size: 18px;
        padding: 5px 10px;
    }
}
@media (max-width: 992px){
    .ji-companies__info{
        gap: 10px;
    }
    /* .ji-awards{
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 40px;
    }
    .ji-awards__item{
        flex-shrink: 0;
    } */
    
    .ji-success__item.ji-companies{
        padding: 15px;
    }   
    .ji-success{
        grid-template-columns: repeat(3, 300px);
        gap: 15px;
    }    
    .ji-companies__btn{
        padding: 10px;
        font-size: 14px;
    }
    /* .ji-button{
        margin-bottom: 20px;
    } */
    .ji-benefits{
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .ji-steps__item{
        padding: 25px 70px 25px 25px;
    }
    .ji-steps__img{
        bottom: 0;
        position: absolute;
        right: 20px;
        opacity: 0.6;
        margin-top: 0 !important;
    }
    .ji-steps__img img{
        max-height: 80px;
    }
    /* .ji-study .d-flex ul{padding: 0;} */
    /* .ji-study .d-flex li{
        list-style-type: none;
    } */
    .ji-faq .accordion-item{
        background-color: #ffffff;
        border-radius: 0 !important;
        margin-bottom: 0;
        box-shadow: none;
    }
    .ji-faq .accordion-button::after{
        width: 28px;
        height: 28px;
        background-size: 20px 20px;
    }
    
}
@media (max-width: 768px){   
    .ji-steps{
        grid-template-columns: repeat(1, 1fr) !important;

        
    } 
    .ji-companies-text{
        min-height: 52px;
    }
    .swiper-wrapper{
        padding: 30px 0px 40px;
      }
.d-flex.ji-under-grid{
    display: block !important;
}
    .ji-companies-active{
        box-shadow: 0px 14px 23px rgb(0 0 0 / 8%);
    }
    .ji-study .d-flex{
        text-align: center;
    }
    .ji-study .d-flex ul{
        text-align: left;
    }
    .ji-review{
        grid-template-columns: repeat(6, 250px) !important;
        grid-template-rows: repeat(1, auto) !important;
        padding-bottom: 50px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 10px;
    }
    .ji-review__item-3{
        display: block;
    }
    .ji-review__item{
        padding: 10px;
        grid-column-start:auto !important;
        grid-column-end: auto !important;
        grid-row-start: auto !important;
        grid-row-end: auto !important;
    }
    #benefits{
        text-align: center;
    }
    .ji-benefits{
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .ji-benefits__item{
        grid-template-columns: repeat(2, auto);
        justify-content: flex-start;
        display: grid;
        gap: 10px;
        padding: 15px 15px 0;
    }
    .ji-study .d-flex{
        align-items: center;
        padding: 0 10px;
        display: block !important;
        /* text-align: center; */
    }.ji-footer{
        text-align: center;
        border-radius: 0;
    }
    /* .ji-form__input{
        width: 190px;
    } */
    .ji-form__btn{
        font-size: 14px;
        padding: 9px 8px;
    }
    .ji-app, .ji-form{
        justify-content: center;
    }
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 700px !important;
}
}