/* 
.accordion-button{
  border-color: transparent!important;
  padding: 5px!important;
}

.accordion-button:focus{
  border-color: transparent!important;
  box-shadow: 0 0 0 0 rgba(13,110,253,0)!important;
}

.accordion-button:not(.collapsed) {
  color: #515154!important;
  background-color: transparent!important;
}

.accordion-collapse{
  border-color: transparent!important;
}

.accordion-body{
  padding: 4px!important;
} */


.accordion-button-with-fix{
  border-color: transparent!important;
  padding: 5px!important;
}

.accordion-button-with-fix:focus{
  border-color: transparent!important;
  box-shadow: 0 0 0 0 rgba(13,110,253,0)!important;
}

.accordion-button-with-fix:not(.collapsed) {
  color: #515154!important;
  background-color: transparent!important;
}

.accordion-collapse-with-fix{
  border-color: transparent!important;
}

.accordion-body-with-fix{
  padding: 4px!important;
}