@media (max-width: 992px){
    .tHead--block{
        flex-direction: column;
        gap: 20px;
    }
    .bHead--block{
        flex-direction: column !important;
        gap: 100px;
    }
    .bHead--block .col{
        width: 100%;
    }
    .docPic{
        float: none;
    }
    .rowDirect, .rowDirect2{
        flex-direction: column !important;
        gap: 50px;
    }
    .contsf .row{
        flex-direction: column !important;
    }
    .contsf iframe{
        height: 300px;
    }
}
@media(max-width: 760px){
    .namelogo--site h2{
        font-size: 20px;
    }
    .docPic{
        width: 100% !important;
    }

}
