.bt--1 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
}

.bt--1:before{
 position: absolute;
 content: '';
 width: 100%;
 height: 4px;
 top:100%;
 left: 0;
 border-radius: 3px;
 background:#67c5ff;
 transition: .2s;
}

.bt--1:after{
 position: absolute;
 content: '';
 width: 100%;
 height: 4px;
 top:0;
 left: 0;
 border-radius: 3px;
 background:#67c5ff;
 transition: .2s;
}

.bt--1:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.bt--1:hover:after {
  top: 3px;
}
.bt--1:hover{
  color: #fff;
}

.bt--2{
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
}
.bt--2:before, .bt--2:after{
content: '';
position: absolute;
top: -7px;
width: 2px;
height: -webkit-calc(100% + 14px);
height: calc(100% + 14px);
background-color: black;
transition: .3s;
}
.bt--2:before {left: 7px;}
.bt--2:after {right: 7px;}
.bt--2:hover:before{
top: 0px;
left:0;
height: 100%;
}
.bt--2:hover:after{
top: 0px;
right: 0;
height: 100%;
}
.bt--3{
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
}
.bt--3:hover {
  color:#ff7f7f;
}
.bt--3:before,.bt--3:after{
position: absolute;
top: 0;
content:'';
width: 8px;
height: 100%;
display: inline-block;
}
.bt--3:before{
border-left: solid 1px #ff7f7f;
border-top: solid 1px #ff7f7f;
border-bottom: solid 1px #ff7f7f;
left: 0;
}
.bt--3:after{
content: '';
border-top: solid 1px #ff7f7f;
border-right: solid 1px #ff7f7f;
border-bottom: solid 1px #ff7f7f;
right: 0;
}
.bt--4{
  position: relative;
  padding: 0.35em 0.7em 0.2em;
  background: #668ad8;
  color: #FFF;
  text-decoration: none;
}
.bt--4:before{
  content: '';
  position: absolute;
  z-index: -2;
  height: 10px;
  box-sizing: border-box;
  width: 100%;
  top: 100%;
 top: calc(100% - 2px);
  left: 0;
  background: linear-gradient(-135deg, #668ad8 4px, transparent 0) 0 4px, linear-gradient(135deg, #668ad8 4px, #fff 0) 0 4px;
  background-color: #668ad8;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  transition: .2s;
}
.bt--4:hover:before {
  background-size: 13px 10px;
}
.bt--4:hover{
  color: #fff;
}
.bt--5{
  display: inline-block;
  padding: 7px 20px;
border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.bt--5:hover {
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  color: #fff;
}
.bt--6{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #6200ee;
  line-height: 1.15;
  font-size: 14px;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bt--6:hover {
  background: rgb(98, 0, 238);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  color: #fff;
  opacity: 0.9;
}
.bt--7{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
}
.bt--7:hover {
  transition: all .1s ease;
  color: #fff;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
.bt--8{
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  background: #00d301;
  background: -webkit-linear-gradient(-196deg,#00d301,#36c275 50%,#00a562);
  background: -webkit-linear-gradient(164deg,#00d301,#36c275 50%,#00a562);
  background: linear-gradient(286deg,#00d301,#36c275 50%,#00a562);
  line-height: 30px;
  font-weight: 800;
  transition: background,color .1s ease-in-out;
}
.bt--8:hover {
  color: #fff;
}
.bt--9{
  display: inline-block;
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 9px 22px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: normal;
  background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
  border-radius: 50px;
  transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
.bt--9:hover {
  box-shadow: 0 0 0 0.15rem #5ceace;
  color: #fff;
}
.bt--10{
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}
.bt--10:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
  color: #000;
}
