html,
body {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgb(250, 250, 250);
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}

.gold-text {
  font-size: 1.1em;
  color: #f14635;
}

.weight-bold {
  font-weight: 700;
}

/* ////////////////////// */
/* /////// HEADER /////// */
/* ////////////////////// */

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  background: rgb(250, 250, 250);
  box-shadow: rgba(176, 176, 204, 0.08) 0px 16px 24px;
  z-index: 1000;
}

.header__top {
  background: rgb(242, 242, 242);
  box-shadow: rgba(176, 176, 204, 0.08) 0px 4px 24px;
  padding: 10px;
}

.header__top-details {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.header__top-details .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px 0;
}

.header__top-details svg {
  margin-right: 8px;
  max-width: 70px;
}

.header__top-details img {
  margin-right: 15px;
  height: 60px;
}

.header__top-details .phone-number,
.header__top-details .support-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.15px;
  color: rgb(100 100 100);
  margin-right: 10px;
  margin-bottom: 5px;
}

.header__top-details .ministry-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 3.15px;
  color: rgb(105 105 105);
}

.header__bottom {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px;
}

.header__bottom-details {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.header__bottom-details .logo-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: center;
  width: 100%;
}

.header__bottom-details .logos {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.header__bottom-details .logos> :nth-child(2) {
  margin-top: 2px;
}

.header__bottom-details .left-logo {
  width: 50px;
}

.header__bottom-details .right-logo {
  width: 94.15px;
}

.header__bottom-details .language-container {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.inherit-w {
  width: inherit;
}

.relative {
  position: relative;
}

.language-container .flag {
  max-width: 180px;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  /* justify-content: flex-start; */
  justify-content: center;
  background: rgb(250, 250, 250);
  border: 2px solid rgb(235, 235, 235);
  border-radius: 6px;
  padding: 3px;
  gap: 3px;
}

.language-container .flag img {
  width: 80px;
}

@media screen and (max-width: 1023px) {
  .header__bottom {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 430px) {

  .header__top-details .phone-number,
  .header__top-details .support-text {
    font-size: 15px;
    line-height: 18px;
  }

  .header__top-details img {
    margin-right: 10px;
    height: 40px;
  }

  .header__bottom {
    padding: 10px;
  }

  .logo-container svg {
    max-width: 250px;
  }

  .header__bottom-details .language-container {
    margin-left: 0;
  }

  .header__bottom-details .left-logo {
    width: 50px;
  }

  .language-container .flag img {
    width: 55px;
  }
}

/* ///////////////////// */
/* /// FIRST SECTION /// */
/* ///////////////////// */

.first-section {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 235px 0px 64px;
}

.first-section .first-text {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 5px 0px 10px;
}

.first-section .first-text .main {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  /* display: flex;
    -webkit-box-align: center;
    align-items: center; */
  letter-spacing: 0.15px;
  color: rgb(18, 17, 18);
  margin-bottom: 24px;
}

.first-section .first-text .description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.15px;
  color: rgb(97, 97, 99);
}

.first-section .first-image {
  max-width: 490px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  /* padding: 20px; */
}

.first-section .first-image img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .first-section {
    display: block;
    padding: 110px 16px 8px;
  }

  .first-section .first-text .main {
    text-align: center;
  }

  .first-section .first-text .description {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .first-section .first-text {
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
  }

  .first-section .first-text .main {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.25px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .first-section .first-text .description {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 0px;
  }

  .first-section .first-image img {
    width: 100%;
    /* padding: 28px 56px 0px; */
  }
}

/* ////////////////////// */
/* /// SECOND SECTION /// */
/* ////////////////////// */

.second-section {
  padding: 56px 56px 0 56px;
}

.second-section__container {
  width: 100%;
  max-width: 1200px;
  background: rgb(255, 255, 255);
  /* box-shadow: rgba(176, 176, 204, 0.07) 0px 4px 80px; */
  box-shadow: 0px 3px 2px 1px lightgrey;
  border-radius: 32px;
  margin: 0px auto;
  padding: 30px 10px;
}

.second-section .title {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.0025em;
  color: rgb(18, 17, 18);
  margin-bottom: 24px;
}

.calculate {
  display: flex;
  margin-bottom: 20px;
  gap: 32px;
}

.calculate-amount {
  border-radius: 16px;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.calculate-amount .calculate-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 18px;
  border-radius: 16px;
  border: 2px solid rgb(235, 235, 235);
}

.calculate-amount .input-name {
  font-size: 16px;
  font-family: 'PT Root UI Regular';
  letter-spacing: 0.15px;
  /* line-height: 24px;
    color: rgb(18, 17, 18); */
  white-space: nowrap;
  line-height: 24px;
  color: rgb(50, 50, 51);
}

.calculate-amount .calculate-text-ml {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.calculate-amount .input-base-wrapper {
  position: relative;
  background: rgb(250, 250, 250);
  border: 2px solid rgb(235, 235, 235);
  gap: 4px;
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  border: none;
  padding: 0px;
  height: unset;
}

.calculate-amount .calculate-input {
  margin: 0px;
  caret-color: rgb(82, 67, 194);
  font-family: 'PT Root UI Regular';
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  width: 100%;
  outline: none;
  border: none;
  background: inherit;
  text-align: right;
}

.calculate-text {
  color: rgb(50, 50, 51);
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  margin: 0;
}

.calculate-input {
  background: transparent;
  border: none;
  color: rgb(50, 50, 51);
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  max-width: 170px;
  outline: none;
  width: 154px;
  text-align: center;
}

.calculate-slider {
  padding: 0px 14px;
  transform: translateY(-2px);
}

.calculate-inner {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.calculate-block {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #a1afc3;
  text-align: center;
  line-height: 26px;
  max-width: 50%;
}

.calculate-block .result-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: rgb(17, 17, 17);
  margin-bottom: 12px;
}

.calculate-block span {
  font-weight: 700;
  font-size: 25px;
  color: #1a273a;
}

.calculate-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  border: none;
  text-transform: uppercase;
  border-radius: 16px;
  background: #f14635;
  color: #fff;
  outline: none;
  width: 100%;
  max-width: 290px;
  font-weight: 700;
}

.calculate-btn-wrapper {
  margin: 10px 0 5px;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.calculate .noUi-handle {
  background: #fff;
  box-shadow: 0 5px 15px 0 rgba(12, 71, 124, 0.48);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.calculate .noUi-handle:before {
  display: none;
}

.calculate .noUi-handle:after {
  display: none;
}

.calculate .noUi-horizontal {
  height: 2px;
}

.calculate .noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -12px;
}

.calculate .noUi-target {
  background: #e3b9b9;
  border: none;
  box-shadow: none;
  outline: none;
}

.calculate .noUi-connects {
  border-radius: 10px;
}

.calculate .noUi-connect {
  background: #f14635;
}

.calculate .noUi-horizontal .noUi-tooltip {
  font-weight: 700;
  font-size: 14px;
  color: #1a273a;
  line-height: 26px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 11px 28px 0 rgba(255, 255, 255, 0.3);
  padding: 5px 11px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.calculate .noUi-horizontal .noUi-tooltip:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -5px;
  background: white;
}

@media screen and (max-width: 430px) {
  .second-section {
    padding: 56px 16px 0;
  }

  .second-section .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  .calculate {
    display: block;
  }

  .calculate-amount {
    display: block;
    margin-bottom: 24px;
  }

  .calculate-block .result-text {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .calculate-block span {
    font-size: 20px;
  }
}

/* /////////////////////// */
/* //// THIRD SECTION //// */
/* /////////////////////// */

.third-section {
  padding: 10px 56px 20px;
}

.third-section .calculate-btn-wrapper {
  margin: 25px 0;
}

.third-section .info {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  margin-top: 5px;
  padding: 0px 16px;
  color: rgb(134, 133, 136);
}

@media screen and (max-width: 430px) {
  .third-section {
    padding: 10px 16px 32px;
  }
}

/* //////////////////////// */
/* //// FOURTH SECTION //// */
/* //////////////////////// */

.fourth-section {
  padding: 10px 56px 20px;
}

.fourth__container {
  display: flex;
  justify-content: center;
}

.fourth__container .video {
  flex: 1;
  max-width: 70%;
  margin-right: 20px;
  padding: 5px 10px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 соотношение сторон */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.fourth__container .form {
  flex: 1;
  max-width: 400px;
  padding: 5px 10px;
}

.fourth__container .form .title,
.modal-form .title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.15px;
  font-size: 14px;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.policy {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 135%;
  letter-spacing: 0.15px;
  color: rgb(136, 136, 136);
  margin-bottom: 16px;
  text-align: left;
}

.policy>a {
  color: #f14635;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .fourth__container {
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(176, 176, 204, 0.07) 0px 4px 80px;
    border-radius: 10px;
    margin: 0px auto;
    padding: 30px 10px;
    box-shadow: 0px 3px 2px 1px lightgrey;
  }

  .fourth__container .video,
  .fourth__container .form {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .policy {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .fourth-section {
    padding: 8px 16px;
  }

  .fourth__container .video,
  .fourth__container .form {
    max-width: 450px;
  }
}

/* ///////////////////// */
/* /// FIFTH SECTION /// */
/* ///////////////////// */

.fifth-section {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.fifth-section__container {
  padding: 80px 10px;
  width: 100%;
}

.fifth-section .title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.0025em;
  color: rgb(18, 17, 18);
  margin-bottom: 64px;
}

.fifth-section .items__container {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 24px;
  width: 100%;
}

.fifth-section .items__container .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  max-width: 384px;
  height: 250px;
  background: rgb(255, 255, 255);
  border: 5px;
  box-shadow: rgba(50, 160, 113, 0.02) 0px 4px 100px;
  border-radius: 24px;
}

.fifth-section .items__container .item__icon {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 56px;
  height: 56px;
  background: #f1463575;
  /* background: linear-gradient(-25deg, #EFDA86 0%, #C69637 40%, #FEF2AE 79%, #D3CC72 100%); */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 100px;
  border-radius: 16px;
  margin-bottom: 12px;
}

.fifth-section .items__container .item__icon img {
  width: 35px;
}

.fifth-section .items__container .item__text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: rgb(18, 17, 18);
  margin-bottom: 8px;
}

.fifth-section .items__container .item__subtext {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: rgb(97, 97, 99);
  margin-bottom: 12px;
}

@media screen and (max-width: 430px) {
  .fifth-section__container {
    padding: 56px 16px 48px;
  }

  .fifth-section .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
  }

  .fifth-section .items__container {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    gap: 16px;
  }

  .fifth-section .items__container .item {
    padding: 16px;
    height: 245px;
  }

  .fifth-section .items__container .item__icon {
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 10.3333px;
    margin-bottom: 16px;
  }

  .fifth-section .items__container .item__icon img {
    width: 25px;
  }

  .fifth-section .items__container .item__text {
    font-size: 16px;
    white-space: nowrap;
  }

  .fifth-section .items__container .item__subtext {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

/* /////////////////////// */
/* /// LICENSE SECTION /// */
/* /////////////////////// */
.license-section {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.license-section__container {
  padding: 80px 10px 120px;
  width: 100%;
}

.license-section__container .title {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.0025em;
  color: rgb(18, 17, 18);
  margin-bottom: 24px;
}

.license-section__container .slider-container {
  max-width: 400px;
}

.license-section__container .slider-nav {
  transform: translateY(-50%);
}

.license-section__container .slider-prev,
.license-section__container .slider-next {
  margin: 0;
}

.license-section__container img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 430px) {
  .license-section__container {
    padding: 56px 16px 48px;
  }

  .license-section__container .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }
}

/* /////////////////////// */
/* /// SEVENTH SECTION /// */
/* /////////////////////// */

.seventh-section {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.seventh-section__container {
  padding: 80px 10px 120px;
  width: 100%;
}

.seventh-section__container .title {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.0025em;
  color: rgb(18, 17, 18);
  margin-bottom: 24px;
}

.seventh-section__container .description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 0.15px;
  color: rgb(97, 97, 99);
  margin-bottom: 64px;
}

.seventh-section__container .items-block {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 24px;
  width: 100%;
  padding-top: 66px;
}

.seventh-section__container .items-block .item {
  padding: 80px 24px 24px 32px;
  width: 100%;
  height: 255px;
  border-radius: 24px;
  box-shadow: rgba(176, 176, 204, 0.07) 0px 4px 80px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.seventh-section__container .items-block .item h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: rgb(33, 32, 33);
  margin: 0px;
  text-align: center;
}

.seventh-section__container .items-block .item img {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
}

.seventh-section__container .items-block .item p {
  padding: 15px 25px 10px;
  line-height: 1.3;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .seventh-section__container {
    padding: 56px 16px 48px;
  }

  .seventh-section__container .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  .seventh-section__container .description {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .seventh-section__container .items-block {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    gap: 16px;
  }

  .seventh-section__container .items-block .item {
    padding: 60px 24px 24px;
  }

  .seventh-section__container .items-block .item h2 {
    font-size: 16px;
  }

  .seventh-section__container .items-block .item img {
    width: 105px;
  }
}

/* //////////////////////// */
/* //// EIGHTH SECTION //// */
/* //////////////////////// */

.eighth-section {
  padding: 80px 10px 96px;
  width: 100%;
}

.eighth-section .title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: rgb(18, 17, 18);
  margin-bottom: 80px;
}

.eighth-section .content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  align-items: center;
}

.eighth-section .image-block {
  padding-right: 70px;
}

.eighth-section .image-block img {
  width: 100%;
  border-radius: 20px;
}

.eighth-section .items-block {
  margin-top: 20px;
}

.eighth-section .items-block .item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  width: 100%;
  max-width: 690px;
  min-width: 500px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(176, 176, 204, 0.07) 0px 4px 80px;
  border-radius: 24px;
  margin-bottom: 24px;
}

.eighth-section .items-block .item-content .title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: rgb(33, 32, 33);
  margin-bottom: 16px;
}

.eighth-section .items-block .item-content .description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: rgb(97, 97, 99);
}

@media screen and (max-width: 1023px) {
  .eighth-section .image-block {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .eighth-section {
    padding: 56px 16px 32px;
  }

  .eighth-section .title {
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  .eighth-section .image-block {
    display: none;
  }

  .eighth-section .items-block .item {
    min-width: 0px;
    padding: 32px 16px;
    margin-bottom: 16px;
  }

  .eighth-section .items-block .item-number svg {
    width: 25px;
  }

  .eighth-section .items-block .item-content .title {
    font-size: 18px;
  }

  .eighth-section .items-block .item-content .description {
    font-size: 14px;
  }
}

/* ///////////////////////// */
/* ///// TENTH SECTION ///// */
/* ///////////////////////// */

.tenth-section {
  padding: 10px;
}

.tenth-section .title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 0.15px;
  color: rgb(18, 17, 18);
  margin-bottom: 64px;
}

.accordion .accordion-item {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #ebebeb;
}

.accordion button {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  background: transparent;
}

.accordion button:hover,
.accordion button:focus,
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
}

.accordion button .accordion-title {
  padding: 0.6em 1em 0.6em 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: rgb(18, 17, 18);
  letter-spacing: 0.15px;
  margin-right: 34px;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  color: #fff;
  /* background: #ebebeb; */
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: #707070;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: #707070;
}

.icon_plus {
  color: #f14635;
  font-size: 30px;
  /* Change size as needed */
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  line-height: 1em;
}

/* .icon_plus {
    transform: rotate(45deg);
} */

.accordion button[aria-expanded='true'] {
  color: #707070;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] .icon_plus {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.accordion button[aria-expanded='false'] .icon_plus {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 12.5em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-family: Roboto, sans-serif;
  margin: 2em 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #323233;
}

@media screen and (max-width: 430px) {
  .tenth-section {
    padding: 48px 16px;
  }

  .tenth-section .title {
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  .accordion .accordion-item {
    margin-bottom: 12px;
    padding: 18px;
  }

  .accordion button .accordion-title {
    font-size: 16px;
    margin-right: 13px;
  }

  .accordion .accordion-content p {
    font-size: 15px;
  }
}

/* ////////////////// */
/* ///// FOOTER ///// */
/* ////////////////// */

.footer {
  padding: 0 10px 30px 10px;
}

.footer .content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer .content .first-block .text:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  padding-top: 10px;
}

.footer .content .first-block .logo {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.3px;
  color: rgb(134, 133, 136);
  margin-bottom: 20px;
}

.footer .content .first-block .logo img {
  width: 200px;
}

.footer .content .first-block .icons {
  margin-right: 10px;
}

.footer .content .first-block .text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.3px;
  color: rgb(134, 133, 136);
  margin-top: 22px;
  /* white-space: nowrap; */
}

.footer .content .second-block {
  display: flex;
  flex-direction: column;
}

.footer .content .second-block .title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  color: rgb(67, 67, 68);
}

.footer .content .second-block .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer .content .second-block .logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .content .second-block .logo img {
  width: 120px;
}

.footer .content .third-block {
  min-width: 180px;
  max-width: 210px;
  width: 100%;
}

.footer .content .third-block .site {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: rgb(67, 67, 68);
}

.footer .content .third-block .text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: rgb(67, 67, 68);
}

@media screen and (max-width: 1023px) {
  .footer .content {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding: 0 16px 20px 16px;
  }

  .footer .content {
    display: block;
  }

  /* .footer .content .first-block {
    margin-bottom: 32px;
  } */

  .footer .content .first-block .logo {
    margin-bottom: 16px;
  }

  .footer .content .first-block .logo img {
    width: 185px;
  }

  .footer .content .first-block .text {
    white-space: normal;
  }

  .footer .content .second-block {
    margin-bottom: 24px;
  }

  .footer .content .third-block {
    margin-bottom: 24px;
  }

  .footer .content .third-block .site {
    margin-bottom: 24px;
  }
}

/* //////////////////// */
/* ////// SLIDER ////// */
/* //////////////////// */
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 20px auto 0;
}

.items-block.sliders-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.item.slide {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 33px));
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-prev,
.slider-next {
  width: 30px;
  height: 30px;
  color: gray;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.numeric-list {
  counter-reset: li;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numeric-list li {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff, #fff, #fff, #fff;
  min-width: 0px;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 20px;
  width: 240px;
  /* height: 130px; */
  position: relative;
  left: 25px;
  text-align: center;
  /* padding: 4px 12px 4px 18px; */
}

.numeric-list>li:before {
  content: counter(li);
  counter-increment: li;
  border-radius: 62px;
  width: 50px;
  height: 50px;
  line-height: 3rem;
  font-size: 2.2rem;
  color: #fff;
  background: #f14635;
  /* border-radius: 50%; */
  text-align: center;
  margin-top: -1rem;
  position: absolute;
  top: 50%;
  left: -75px;
  vertical-align: middle;
}

.numeric-list li svg {
  margin-left: 170px;
  margin-top: 27px;
}

.numeric-list li .title {
  padding-top: 12px;
}

/* .numeric-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
    margin-left: 5px;
  } */

.numeric-list li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 216px;
  left: 0;
  bottom: -125px;
  width: 3px;
  background-color: #f14635;
  margin-left: -53px;
  border-radius: 10px;
}

.numeric-list li:first-child:after {
  content: '';
  position: absolute;
  top: 200px;
  left: 0;
  bottom: -154px;
  width: 3px;
  background-color: #f14635;
  margin-left: -53px;
}

@media screen and (max-width: 1023px) {
  .numeric-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 216px;
    left: 0;
    bottom: -125px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
    border-radius: 10px;
  }

  .numeric-list li:first-child:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    bottom: -154px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
  }
}

@media screen and (max-width: 768px) {
  .numeric-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 216px;
    left: 0;
    bottom: -125px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
    border-radius: 10px;
  }

  .numeric-list li:first-child:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    bottom: -154px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
  }
}

@media screen and (max-width: 550px) {
  .numeric-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 216px;
    left: 0;
    bottom: -125px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
    border-radius: 10px;
  }

  .numeric-list li:first-child:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    bottom: -154px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
  }
}

@media screen and (max-width: 430px) {
  .numeric-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    /* top: 177px;
    left: 0;
    bottom: -90px; */
    top: 175px;
    left: 0;
    bottom: -55px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
    border-radius: 10px;
  }

  .numeric-list li:first-child:after {
    content: '';
    position: absolute;
    /* top: 158px;
    left: 0;
    bottom: -124px; */
    top: 140px;
    left: 0;
    bottom: -75px;
    width: 3px;
    background-color: #f14635;
    margin-left: -53px;
  }
}

.img-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap img {
  width: 100%;
  max-width: 400px;
}


.fourth__container > .title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.15px;
  font-size: 14px;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.fourth__container > p {

    font-weight: 400;
    letter-spacing: 0.15px;
    text-align: center;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */


  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active, .swiper-pagination-bullet-active2 {
  background-color: #f14635 !important;
}

.arrow {
  position: absolute;
  /* color: #f14635; */
  width: 20px;
  top: 23px;
  right: 29px;
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(7500%) hue-rotate(9deg) brightness(90%) contrast(90%);
}

@media screen and (min-width: 550px) {
  .arrow {
    position: absolute;
    /* color: #f14635; */
    width: 20px;
    top: 24px;
    right: 71px;
  }
}