@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-Semibold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./GraphikLCG-Bold.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}