@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    direction: ltr;
    font-family: 'Literata', sans-serif !important;
    font-size: 16px;
    margin: 0;
    padding: 0px;
}
.priceHeare{
    margin: 25px 0px;
}
.priceHeare span{
    font-size: 22px;
}
.input-m97605718{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.textarea-m97605718{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
}
            .navigation {
            display: flex;
            flex-direction: row;
            gap: 40px;
            padding: 15px 0;
        }


        .logo-tip {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        
        .logo-tip-link {
            text-decoration: none;
            color: inherit;
        }

        .logo-tip-img {
            width: 50px;
            height: auto;
        }

        .logo-tip-txt {
            font-size: 35px;
            color: black;
            margin: 0;
        }

        .n-tion-list {
            flex: 1;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 20px;
            list-style: none;
        }

        .n-tion-item {
        }

        .n-tion-link {
            text-decoration: none;
            font-size: 18px;
            color: black;
        }

        .home {
            background-image: linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            position: relative;
            background-size: cover;
            background-position: center center;
            overflow: hidden;
            height: 600px;
        }

        .home:before {
            content: '';
            position: absolute;
            bottom: 0%;
            right: 0%;
            width: 0;
            border-style: solid;
            border-width: 0px 0 253px 2000px;
            border-color: transparent transparent #fff transparent;
        }

        .home-bg-op{
            height: 100%;
            background-color: #7B113A;
        }

        .home-content {
            display: flex;
            flex-direction: row;
            gap: 36px;
            height: 100%;
            align-items: center;
        }

        .home-txt {
            position: relative;
        }

        .home-title {
            margin-bottom: 84px;
            font-size: 30px;
            color: #222222;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .link-btn {
            text-decoration: none;
        }

        .home-btn {
            width: 100%;
            font-size: 20px;
            margin: 0;
        }

        .home-vector {
           position: relative;
        }

        .home-vector img {
            width: 100%;
            height: 100%;
        }

        .how-work-n-main {
            display: flex;
            flex-direction: column;
        }

        .how-work-section {
            padding: 116px 0;
        }

        .how-work-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .how-work-list {
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: center;
        }

        .how-work-item {
            text-align: center;
            padding: 25px  29px;
            border-radius: 25px;
            transition: .3s;
            flex: 1;
        }

        .how-work-item:hover {
            box-shadow: 0 10px 25px rgba(0,0,0,.1);
            transform: translateY(-3px);
        }

        .how-work-wrap {
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            display: inline-block;
            margin-bottom: 15px;
            padding: 2px;
            border-radius: 50%;
        }

        .how-work-pic {
            min-width: 90px;
            background: #fff;
            border-radius: 50%;
            padding: 25px;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .how-work-pic i {
            font-size: 40px;
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            -webkit-background-clip: text!important;
            -webkit-text-fill-color: transparent;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .how-work-item:hover .how-work-wrap  .how-work-pic {
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
        }

        .how-work-item:hover .how-work-wrap  .how-work-pic i {
            background: #fff;
        }

        .how-work-txt {
        }

        .how-work-txt p {
            font-size: 19px;
            color: black;
            margin: 0;
        }

    
        .main-section {
            display: flex;
            flex-direction: row;
            gap: 21px;
            align-items: center;
            padding: 116px 0;

        }

        .main-s-img {
            width: 50%;
            display: flex;
        }

        .m-s-img {
            max-width: 100%;
            margin: 0 auto;
            object-fit: contain;
        }

        .main-s-text {
            padding: 0  35px;
            width: 50%;
        }

        .m-s-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .m-c-txt {
            font-size: 20px;
        }

        .services-bg {
            background-image: linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            background-size: cover;
            background-position: center center;
            overflow: hidden;
            height: auto;
            width: 100%;
        }

        .services-bg-op {
            height: auto;
            background-color: #7B113A;
        }

        .service-section {
            padding:  116px 0;
        }

        .service-s-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: #ffffff;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .service-s-block {
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: center;
        }

        .service-s-card {
            width: calc(100% / 4);
            display: flex;
            flex-direction: column;
            background: #fff;
            text-align: center;
            border-radius: 20px;
            transition: .3s;
             box-shadow: -20px 25px 25px -20px #0000007a;
        }

         .service-s-card:hover {
            transform: scale(1.05);
        }

        .service-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .service-img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
            border-radius:  20px 20px 0 0;
        }

        .service-s-text {
            padding: 29px 19px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .service-s-text a {
            text-decoration: none;
        }

        .s-s-title {
            margin-bottom: 7px;
            font-size: 19px;
            text-align: center;
            color: black;
        }

        .s-s-txt {
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
        }

        .service-btn {
            width: 100%;
            font-size: 18px;
            padding: 10px;
            margin: 0 auto;
        }

        .reviews-bg {
            background-color:#222831;
        }

        .reviews {
            padding-top: 67px;
            padding-bottom: 67px;
        }

        .review-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .rev-item-wrap {
            display: flex;
            flex-direction: column;
        }

        .bi-chat-quote-fill {
            margin-top:  25px;
            display: block;
            text-align: center;
            font-size:  84px;
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .rev-avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .avatar-img {
            width: 111px;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0%;  
            border: 5px solid rgba(255,255,255,0.3);
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .rev-text {
            margin: 0 36px;
            text-align: center;
            padding-top: 15px;
            padding: 25px  67px;
        }

        .rev-comment {
            margin-bottom: 15px;
            font-size:  25px;
            color: inherit;
        }

        .rev-person {
            font-size:   19px;
            font-weight: 600;
            margin-botom: 15px;
            color: inherit;
            text-transform: inherit;
            margin: 0;
        }

        .slick-slide {
            height: auto;
        }

        .slick-prev {
            left: -80px;
        }

        .slick-next {
            right: -80px;
        }

        .slick-prev:before {
            content: '<';
            background: #e2e2e2;
            color: initial;
            font-size: 37px;
            padding: 0 17px 9px;
            border-radius: 15px;
        }

        .slick-next:before {
            content: '>';
            background: #e2e2e2;
            color: initial;
            font-size: 37px;
            padding: 0 17px 9px;
            border-radius: 15px;
        }

        .slick-prev:hover:before, .slick-next:hover:before {
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            color: #fff;
        }

        .slick-prev {
            left: -10px;
        }

        .slick-next {
            right: -10px;
        }

         /* .slick-dots li.slick-active button:before {
            color:  white;
            font-size: 20px;
        }

        .slick-dots li button:before {
            color:  white;
            font-size: 20px;
        }

        .slick-dots {
            bottom: -50px;
        } */

        .q-a-section {
            padding: 116px 0;
        }

        .q-a-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .accordion-item {
            margin-bottom: 25px;
            border: none;
            background: #f3f3f3;
            border-radius: 20px!important;
        }

        .accordion-header {
            position: relative;
            display: block;
            width: 100%;
            background: 0 0;
            cursor: pointer;
            border: none;
            padding:  36px;
            color: #575757;
        }

        .accordion-button, .accordion-item:first-of-type .accordion-button, .accordion-button:not(.collapsed) {
            border: none;
            color: black;
            background-color: initial;
            font-size: 19px;
        }

        .accordion-button:focus {
            box-shadow: none;
        }

        .accordion-body {
            padding: 0 50px 50px;
            color: #575757;
            font-weight: lighter;
        }

        .article-bg {
            background-color:#222831;
            padding: 116px 0;
        }

        .article-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .article-block {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }

        .article-wrap {
            width: calc(100% / 2 - 10px);
            display: flex;
            flex-direction:  row;
            gap: 25px;
        }

        .art-card {
            width: calc(100% / 2 - 10px);
            border-radius: 10px;
            overflow: hidden;
            transition: .3s;
            box-shadow: 0 10px 15px rgba(0,0,0,.1);
            display: flex;
            flex-direction: column;
        }

        .art-card:hover {
            box-shadow: 0 10px 15px rgba(0,0,0,.2);
        }

        .article-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .article-img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius:  10px 10px 0 0;
            transition: all .5s;
        }

        .art-card:hover .article-img  {
            transform: scale(1.1);
        }

        .article-b-text {
            padding: 50px 19px 19px;
            background: #fff;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .article-b-text a {
            text-decoration: none;
        }

        .a-b-title {
            font-size: 19px;
            font-weight: 600;
            color: #222;
            text-align: center;
            margin-bottom: 19px;
        }

        .a-b-txt {
            padding-bottom: 25px;
            border-bottom: 1px solid #f7f7f7;
            margin-bottom: 0;
            color: #748182;
        }

        .btn-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }

        .article-btn {
            margin-top: 19px;
            font-size: 18px;
            padding: 10px;
            width: 100%;
        }

        .form-section {
            padding: 116px 0;
        }

        .form-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }
          
        .card {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 350px;
            width: 70%;
            flex-direction: column;
            gap: 35px;
            background: #e3e3e3;
            box-shadow: 16px 16px 32px #c8c8c8,
                  -16px -16px 32px #fefefe;
            border-radius: 8px;
            padding: 67px 25px 36px;
        }
          
        .inputBox {
            position: relative;
            width: 65%;
        }
          
        .inputBox input {
            width: 100%;
            padding: 10px;
            outline: none;
            border: none;
            color: #000;
            font-size:  19px;
            background: transparent;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            transition: 0.1s;
            border-bottom-left-radius: 8px;
        }
          
        .inputBox span {
            margin-top: 5px;
            position: absolute;
            left: 0;
            transform: translateY(-4px);
            margin-left: 10px;
            padding: 10px;
            pointer-events: none;
            font-size: 12px;
            color: #000;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 3px;
            border-radius: 8px;
        }
          
        .inputBox input:valid~span,
          .inputBox input:focus~span {
            transform: translateX(113px) translateY(-15px);
            font-size: 0.8em;
            padding: 5px 10px;
            background: #000;
            letter-spacing: 0.2em;
            color: #fff;
            border: 2px;
        }
          
        .inputBox input:valid,
          .inputBox input:focus {
            border: 2px solid #000;
            border-radius: 8px;
        }
          
        .enter {
            height: 45px;
            width: 50%;
            border-radius: 5px;
            border: 2px solid #000;
            cursor: pointer;
            background-color: transparent;
            transition: 0.5s;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 0;
            margin-bottom: 1em;
        }
          
        .enter:hover {
            background-color: rgb(0, 0, 0);
            color: white;
        }

        .footer-bg {
            background-color:#7B113A;
            padding-top: 116px;
        }

        .footer {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }

        .footer-wrap {
            
        }

        .footer-logo-txt {
            color: #fff;
        }

        .politic {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        
        .spesial-link {
            color: #fff;
            font-size: 19px;
            text-decoration: none;
        }

        .spesial-link:hover {
            text-decoration: underline;
        }

        .contacts {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .num, .mail, .adress, .ogrn  {
            color: white;
            font-size: 19px;
            margin-bottom: 0;
        }
        
        .num i, .mail i, .adress i, .ogrn i {
            margin-right: 10px;
        }

        .contacts-title {
            font-size: 35px;
            color: #fff;
            margin: 0;
        }

        .footer-bottom{
            margin-top: 25px;
            border-top: solid 2px #f3f3f3;
            display: flex;
            justify-content: space-between;
        }

        .footer-bottom p {
            padding-top: 25px;
            padding-bottom: 36px;
            color: #fff;
            font-size: 14px; 
        }

        .content-page {
            display: flex;
        }

        .content-page-title {
            margin-bottom: 84px;
            font-size: 26px;
            color: black;
            text-transform: inherit;
            text-align: center;
            font-weight:  600;
        }

        .content-page-info {
            display: flex;
            flex-direction: row;
            gap: 21px;
            align-items: center;
            padding: 116px 0;
        }

        .c-p-info-img {
            width: 50%;
            display: flex;
        }

        .c-p-i-img  {
            max-width: 100%;
            margin: 0 auto;
            object-fit: contain;
        }

        .c-p-i-text {
            padding: 0  35px;
            width: 50%;
        }

        .c-p-i-txt {
            font-size: 20px;
        }

        :root {
            --star-size: 26px;
            --star-color: rgb(156, 156, 156);
            --star-background: #222831;
        }
        
        .Stars {
            text-align: center;
            --percent: calc(var(--rating) / 5 * 100%);
            font-size: var(--star-size);
            font-family: Times;
            line-height: 1;
            margin-bottom: 25px;
        }
        .Stars::before {
            content: '✸✸✸✸✸';
            letter-spacing: 5px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .contact-list {
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: center;
            padding:  116px 0;
        }

        .contact-item {
            text-align: center;
            padding: 25px 29px;
            border-radius: 20px;
            transition: .3s;
            flex: 1;
        }

        .contact-wrap {
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            display: inline-block;
            margin-bottom: 15px;
            padding: 2px;
            border-radius: 50%;
        }

        .contact-pic {
            min-width: 90px;
            background-image:  linear-gradient( to right, #CCDA2F 0%,  #B5F1CC 85%);
            border-radius: 50%;
            padding: 25px;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .contact-pic  i {
            font-size: 40px;
            background: #fff;
            -webkit-background-clip: text!important;
            -webkit-text-fill-color: transparent;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .contact-txt {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }
       
        .contact-txt p {
            font-size: 19px;
            color: black;
            margin: 0;
        }

        .navbar {
            flex: 1;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 20px;
            /* background-color: #333;
            font-family: Arial, Helvetica, sans-serif; */
        }
        
        .navbar a {
            float: left;
            font-size: 18px;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .dropdown {
            float: left;
        }
        
        .dropdown .dropbtn {
            font-size: 18px;    
            border: none;
            outline: none;
            color: black;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: black;
            color: white;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            width: 400px;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
       

        .article-btn, .service-btn {
            width: auto;
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid transparent;
            background-color: #f1f1f1;
            background-image:  linear-gradient(to top, #eaf4ff, #e2f5ff, #d9f7ff, #d0f9ff, #c8fbff);
            background-clip: padding-box;
            border-radius: 20px;
            color: #000000;
            font-weight: bold;
            text-decoration: none;
          }
          
         
        
        



        






















#cookie-67znq{
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 1124px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 15px;
    background-color:  #222222;
    border-radius: 0px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
    gap: 15px;
    z-index: 999999;
}
#cookie-67znq button{
    max-width: 200px;
    width: 100%;
}

#cookie-67znq p{
    margin: 0;
    font-size: 14px;
    color: #fff;
}


@media (min-width: 576px){
    #cookie-67znq.show{
        display: flex;
    }
    .cookie_accept{
        margin: 0 0 0 25px;
    }
}

@media (max-width: 575px){
    #cookie-67znq.show{
        display: flex;
        flex-direction: column;
    }
    .cookie_accept{
        margin: 10px 0 0 0;
    }
    button{
        width: 100%;
    }
}


