.main-product-content{
	float: left;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-top: 20px;
}

.main-product-wrp{
	float: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.main-roduct-slider-for{
	width: 100%;
	margin-bottom: 10px;
	visibility: hidden;
	position: relative;
}
.main-roduct-slider-for .slick-arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: 45px;
	height: 45px;
	font-size: 1px;
	color: transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,.25);
 transition: all .6s ease;
		border: none;
		z-index: 50;
		cursor: pointer;
}
.main-roduct-slider-for .slick-arrow:hover{
	background-color: rgba(0,0,0,.5);
}
.main-roduct-slider-for .slick-arrow.slick-prev{
	left: 15%;
}
.main-roduct-slider-for .slick-arrow.slick-prev::before{
	content: "";
	display: block;
	float: left;
	width: 15px;
	height: 7px;
	background: url(chevrone.svg) no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	position: absolute;
	left: 47%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	-moz-transform: translate(-50%, -50%) rotate(90deg);
	-ms-transform: translate(-50%, -50%) rotate(90deg);
	-o-transform: translate(-50%, -50%) rotate(90deg);
}
.main-roduct-slider-for .slick-arrow.slick-next{
	right: 15%;
}
.main-roduct-slider-for .slick-arrow.slick-next::before{
	content: "";
	display: block;
	float: left;
	width: 15px;
	height: 7px;
	background: url(chevrone.svg) no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	position: absolute;
	left: 53%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
	-moz-transform: translate(-50%, -50%) rotate(-90deg);
	-ms-transform: translate(-50%, -50%) rotate(-90deg);
	-o-transform: translate(-50%, -50%) rotate(-90deg);
}
.main-roduct-slider-for__item{
	height: 400px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	overflow: hidden;
}
.main-roduct-slider-for__image{
	float: left;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-top: 2px;
}
.main-product-slider-nav{
	visibility: hidden;
	width: 450px;
	float: left;
}
.main-product-slider-nav .slick-list{
	margin: 0 -5px;
}
.main-product-slider-nav__item{
	height: 100px;
	margin: 0 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.main-product-slider-nav__item.slick-current{
	border: 2px solid #000;
}
.main-product-slider-nav__image{
	float: left;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.main-product-info{
	width: 35%;
}
.main-product-info__title{
	float: left;
	width: 100%;
	font-size: 32px;
  line-height: 36px;
	font-weight: 500;
	padding: 0 !important;
	margin-top: 0;
}
.prices-block{
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.prices-block__old{
	float: left;
	text-decoration: line-through;
	margin-right: 15px;
	font-size: 24px;
}
.prices-block__new{
	font-size: 28px;
	font-weight: 600;
}
.text-block{
	float: left;
	width: 100%;
}
.text-block__paragraph{
	float: left;
	width: 100%;
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 0;
}
.bon_marg{
	font-size: 16px;
}
.check_info, .wrapp_box{
	margin-bottom: 40px;
}
.block_questions{
	float: left;
	width: 100%;
}
.answer{
	padding-top: 10px;
}
.order-data-wrp{
	display: none;
}


@media(max-width: 1200px){
	.main-roduct-slider-for .slick-arrow.slick-next{
		right: 10%;
	}
	.main-roduct-slider-for .slick-arrow.slick-prev{
		left: 10%;
	}
}

@media(max-width: 992px){
	.main-product-info{
		width: 45%;
	}
	.main-roduct-slider-for__item{
		height: 400px;
	}
	.main-product-slider-nav{
		width: 100%;
	}
	.main-roduct-slider-for .slick-arrow.slick-next{
		right: 2%;
	}
	.main-roduct-slider-for .slick-arrow.slick-prev{
		left: 2%;
	}
}
@media(max-width: 768px){
	.main-product-content{
		flex-direction: column;
		align-items: center;
	}
	.main-product-info{
		width: 100%;
	}
	.wrapp_box{
		grid-template-columns: repeat(3 , 169px) !important;
	}
}

@media(max-width:640px){
	.main-product-wrp{
		width: 100%;
	}
	.main-product-slider-nav{
		width: 100%;
	}
	.main-product-slider-nav__item{
		height: 100px;
	}
	.two_modal_icon{
		width: 98% !important;
	}
	.check_info > h2{
		font-size: 25px !important;
	}
	.Congratulations_person{
		font-size: 23px !important;
	}
	.wrapp_modal_box{
		width: 98% !important;
	}
	.lastCong{
		font-size: 25px !important;
	}
	.wrapp_box{
		grid-template-columns: repeat(2 , 169px) !important;
	}
}
@media(max-width:480px){
	.main-product-slider-nav__item{
		height: 80px;
	}
}