.pos-demo-1 {
    position: absolute;
    bottom: 40%;
    right: 15%;
}
.pos-demo-2 {
    position: absolute;
    bottom: 50%;
    right: 25%;
}
.pos-demo-3 {
    position: absolute;
    width: 90%;
    bottom: 50%;
    right: 0%;
}
.pos-demo-4 {
    position: absolute;
    bottom: 40%;
    right: 30%;
}
.how-demo {
    border-radius: 24px;
    padding: 48px 60px;
    overflow: hidden;
    margin-top: 48px;
}
.product-demo {
    padding: 40px 20px 40px 40px;
    overflow: hidden;
    border-radius: 24px;
    height: 300px;
}
.text-main-demo {
    width: 60%;
}
.pad-demo-30 {
    padding-bottom: 30px;
}
.how {
    padding: 40px 20px 40px 40px;
    border-radius: 24px;
    height: 100%;
}
.ji-subtitle {
    font-size: 18px;
    line-height: 27px;
}
.center-bt {
    margin: auto;
}
.demo-flex {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
}
.img-demo {
    width: 45%
}
.how-demo-text {
    height: 120px;
}
.video-demo {
    border-radius: 24px;
    width: 800px;
    height: 400px;
}
.arrow-demo img{
    width: 20px;
    height: 20px;
}
.product-grid-one:last-child {
    padding-bottom: 0;
}

/*section 4*/
.wd-300 {
    width: 310px;
}
.block-open  {
    gap: 78px;
}
.img-demo-ph {
    margin-bottom: -55px;
    margin-right: -45px;
}
/*END section 4*/
.questions {
    border-radius: 24px;
    padding: 48px 24px;
    overflow: hidden;

}
.questions button {
    text-align: left;
}
.questions li a {
    font-size: 18px;
}
.questions a:hover {
    color: #1C1D21;
}
.quest-li {
    border-bottom:2px solid rgba(190, 190, 182, 0.2);
    padding: 0 0 10px;
}
.accordion-body ul {
    padding-left: 0!important;
}
.uk-accordion>:nth-child(n+2) {
    margin-top: 20px;
}
.accordion-collapse {
    border:none;
}
.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: inherit;
    box-shadow: none;
}
.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none;
}
.ji-que {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    padding: 30px 10px;
}

.done-lg-none {
    display: none;
}
.qr-menu-cont {
    overflow: hidden;
}
.accordion-item.accordion-ques:nth-last-child(-n+1) {
    border-bottom: none;
}
.ji-28-dem {
    font-size: 28px;
    line-height: 35px;
}
.inf-demo {
    border-radius: 24px;
    padding: 48px 60px;
    overflow: hidden;
    margin-top: 48px;
}




@media (max-width: 1200px){
    .pos-demo-1 {
        bottom: 0%;
    }
    .pos-demo-2 {
        bottom: 0%;
        right: 22%;
    }
    .pos-demo-3 {
        bottom: 0%;
        right: 0%;
    }
    .pos-demo-4 {
        bottom: -10%;
        right: 30%;
    }
}

@media (max-width: 1199px){
    .img-demo-ph {
        margin-bottom: -130px;
        margin-right: -62px;
    }
    .how-demo-text {
        height: 170px;
    }
    .ji-subtitle {
        line-height: 22px;
    }

 }

 @media (max-width: 1180px){ 
    .pos-demo-1 {
        bottom: 30%;
        width: 60%;
        right: 20%;
    }
    .pos-demo-2 {
        bottom: 40%;
        right: 25%;
        width: 55%;
    }
    .pos-demo-3 {
        bottom: 40%;
        right: -5%;
    }
    .pos-demo-4 {
        width: 40%;
        bottom: 30%;
        right: 27%;
    }
}


@media (max-width: 1024px){ 
    .how {
        padding: 0;
    }
    .how-demo {
        padding: 48px 30px;
    }
    .demo-flex {
        margin-bottom: 40px;
    }
    .how-demo-text {
        height: 100%;
    }
}


@media (max-width: 992px){ 

    .img-demo {
        margin: auto;
    }
    .done-lg-none {
        display: block;
    }
    .done-lg-block {
        display: none;
    }
    .video-demo {
        width: 100%;
    }
    .product-demo {
        padding: 20px 5px 20px 20px;
        height: 250px;
    }
}



@media (max-width: 915px){
    .demo-flex{
        gap: 22px;
    }
    .block-open {
        gap:50px
    }
    .wd-300 {
        width: 280px;
    }
    .img-demo-ph {
        margin-bottom: -58px;
    }
    .wd-300 {
        width: 250px;
    }
    .img-demo-ph {
        margin-bottom: -95px;
    }

}

@media (max-width: 768px){
      .demo-flex {
        grid-template-columns: 1fr;
    }
    .d-s-none {
        display: none;
    }
    .img-demo {
        width: 25%;
    }
    .block-open {
        display: block;
    }
    .wd-300 {
        width: 100%;
    }
    .pad-mol-top {
        padding-top: 25px;
    }
    .img-demo-ph {
        margin-bottom: -253px;
        margin-right: -33px;
    }
    .ji-subtitle {
        font-size: 15px;
        line-height: 21px;
    }
    .questions button {
        padding: 0 5px 0 0;
    }
    .pad-demo-30 {
        padding-bottom: 24px;
    }
    .ji-28-dem {
        font-size: 22px;
        line-height: 26px;
    }
    .bl-flex-n {
        display: block;
    }
    .ji-que {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .text-main-demo {
        width: 100%;
        padding-top: 24px;
    }
    .how-demo {
        margin-top: 0px;
    }
    .inf-demo {
        padding: 48px 24px;
    }
}




@media (max-width: 540px){
    .how-demo  {
        padding: 48px 24px;
    }
    .img-demo-ph {
        display: none;
    }
    .how-demo .uk-accordion-title::before {
        right: 44px;
    }
    .how-demo-text {
        height: 160px;
    }
    .video-demo {
        height: 270px;
    }

}





@media (max-width: 414px){
    .how-demo .uk-accordion-title::before {
        right: 20px;
    }
    .pos-demo-1 {
        right: 20%;
        bottom: 30%;
        width: 60%;
    }
    .pos-demo-2 {
        bottom: 40%;
        right: 30%;
        width: 50%;
    }
    .pos-demo-3 {
        right: 5%;
        width: 80%;
        bottom: 40%;
    }
    .pos-demo-4 {
        bottom: 30%;
        right: 30%;
        width: 40%;
    }

    .questions li a {
        width: 300px;
    }
    .pad-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .ji-h2 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
    }
    .how-demo p {
        margin: 0;
        padding-top: 12px;
    }
    .product-demo {
        height: 280px;
    }
}



@media (max-width: 320px){
    .demo .product-demo {
        height: 100%;
    }
    .questions li a {
        width: 250px;
    }
    .ji-product-demo {
        width: 50%;
        float: right;
    }
    .pos-demo-1 {
        right: 5%;
        width: 35%;
    }
    .pos-demo-2 {
        right: 8%;
        width: 30%;
    }
    .pos-demo-3 {
        right: -2%;
        width: 42%;
    }
    .pos-demo-4 {
        right: 10%;
        width: 25%;
    }
    .ji-product-img {
        float: right;
    }
}
