@font-face {
    font-family: Abril;
    src: url(../fonts/abril_text_regular-webfont.woff2) format('woff2'), url(../fonts/abril_text_regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

body {
    background-color: #fff
}

a {
    color: #0198bd;
    text-decoration: none
}

.inl {
    display: inline-block;
    vertical-align: top;
    zoom: 1
}

.tac {
    text-align: center
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif
}

.top_container {
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 999
}

.wrapper .top {
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif
}

.wrapper .top .box1,
.wrapper .top .box2,
.wrapper .top .box3 {
    display: inline-block;
    vertical-align: top;
    zoom: 1
}

.wrapper .top .box1 {
    width: 15%
}

.wrapper .top .box1 .logo {
    display: block;
    width: 110px;
    height: auto;
    background-repeat: no-repeat;
    margin: 5px
}

.wrapper .top .box1 .logo img {
    width: 150px
}

.wrapper .top .box2 {
    width: 69%
}

.wrapper .top .box2 .top_menu {
    margin: 30px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 15px
}

.wrapper .top .box2 .top_menu ul {
    margin: 15px 0 0 20px;
    padding: 0
}

.wrapper .top .box2 .top_menu ul li {
    margin: 0 40px 0 0;
    padding: 0;
    display: inline-block
}

.wrapper .top .box2 .top_menu ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333
}

.wrapper .top .box3 {
    width: 14%
}

.wrapper .top .box3 img {
    display: none
}

.main_menu_wrapper {
    display: none;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 99;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25)
}

.main_menu_wrapper .main_menu {
    margin: 0;
    padding: 0
}

.main_menu_wrapper .main_menu ul {
    margin: 0;
    padding: 10px 0 10px 0
}

.main_menu_wrapper .main_menu ul li {
    margin: 0 0 15px 0;
    padding: 0 20px;
    list-style: none;
    display: block
}

.main_menu_wrapper .main_menu ul li a {
    margin: 0 0 10px 0;
    padding: 0;
    color: #333;
    font-family: Oswald, sans-serif;
    font-size: 20px
}

.main_menu_wrapper .main_menu ul li a:hover {
    color: #000
}

.wrapper .main_container {
    min-height: 100px;
    background-color: #fff;
    width: 100%;
    padding: 0 0 40px;
    margin: 0 0 20px;
    display: flex
}

.videoWrapper {
    height: 0;
    margin: 40px 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative
}

.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.wrapper .main_container .content {
    vertical-align: top;
    zoom: 1;
    width: 66.6%;
    min-height: 100px;
    padding: 0 20px
}

.wrapper .main_container .content h1 {
    margin: 20px 0 0;
    padding: 10px 5px;
    letter-spacing: .2px;
    line-height: 1
}

.main_wrapper .main_title {
    padding: 0 15px
}

.main_wrapper .main_title a {
    color: #333;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 45px
}

.wrapper .main_container .content h1 a {
    color: #333;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 45px
}

.wrapper .main_container .content h2 {
    color: #333;
    font-size: 25px;
    letter-spacing: 0;
    margin: 20px 0 0;
    padding: 0 0;
    line-height: 35px;
}

.wrapper .main_container .content h3 {
    color: #333;
    font-size: 15px;
    letter-spacing: 0;
    margin: 20px 0 0;
    padding: 0 0;
    line-height: 15px
}

.wrapper .main_container .content img {
    width: 100%;
    margin: 10px auto;
    display: block
}

.wrapper .main_container .content .ferrari img {
    width: 80%
}

.wrapper .main_container .content img.normal_size {
    display: block;
    background-size: 100% auto;
    width: 40%
}

.wrapper .main_container .content .videoWrapper {
    height: 0;
    margin: 30px 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative
}

.wrapper .main_container .content .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.wrapper #comments p,
.wrapper .main_container .content p {
    color: #0f0f0f;
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
    line-height: 1.5;
}

.wrapper #comments p.cap,
.wrapper .main_container .content p.cap {
    display: block;
    margin: 5px 0;
    font-size: 13px;
    line-height: 17px;
    font-style: italic
}

.wrapper .main_container .content ul {
    margin: 20px 0
}

.wrapper #comments ul li,
.wrapper .main_container .content ul li {
    list-style: none;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 0 0 30px;
    margin: 10px 0;
    color: #262626
}

.wrapper .main_container .content .caption {
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    font-family: Georgia, "Book Antiqua", Palatino, serif;
    font-style: italic;
    margin: 0 0 40px
}

.wrapper .main_container .content .little_box {
    display: block;
    margin: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0
}

.wrapper .main_container .content hr {
    display: block;
    width: 100%;
    border: none;
    background-color: #ccc;
    height: 1px;
    margin: 20px 0
}

.responsive-video {
    width: 100%;
    max-width: 100%;
    height: auto
}

.wrapper .main_container .content .little_box p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px
}

.wrapper .main_container .content ul {
    margin: 20px 0;
    padding: 0
}

.wrapper #comments ul li,
.wrapper .main_container .content ul li {
    list-style: none;
    font-weight: 700
}

.wrapper .main_container .content .box1_inner {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0;
    margin: 50px 0
}

.wrapper .main_container .content .box1_inner p {
    font-size: 13px;
    line-height: 18px;
    font-style: italic
}

.wrapper .main_container .content .grey_box {
    width: 100%;
    background-color: #ccc;
    margin: 20px auto
}

.wrapper .main_container .content .grey_box .gb_inner {
    padding: 20px
}

.wrapper .main_container .content .grey_box .gb_inner h2 {
    margin: 0;
    padding: 0
}

.wrapper .main_container .content .grey_box .gb_inner .pic {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 25%;
    margin: 20px 0
}

.wrapper .main_container .content .grey_box .gb_inner .pic img {
    display: block;
    width: 100%
}

.wrapper .main_container .content .grey_box .gb_inner .text {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 70%;
    margin: 20px 0 0 20px
}

.wrapper .main_container .content .grey_box .gb_inner .text p {
    padding: 0;
    margin: 0 0 10px;
    font-size: 13px
}

.wrapper .main_container .sidebar_wrap {
    vertical-align: top;
    zoom: 1;
    width: 32%;
    min-height: 100px;
    margin: 0 0
}

.wrapper .main_container .sidebar_wrap img {
    display: block;
    background-size: 100% auto;
    width: 100%;
    margin: 20px auto 10px
}

.wrapper .main_container .sidebar_wrap p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-style: italic;
    line-height: 22px
}

.wrapper .main_container .sidebar_wrap h3 {
    font-size: 15px;
    margin: 0;
    padding: 0
}

.wrapper .main_container .sidebar_wrap .baa {
    margin: 20px 0 0;
    padding: 0
}

.wrapper .main_container .sidebar_wrap .baa .title,
.wrapper .main_container .sidebar_wrap .title {
    border-bottom: 2px solid #0198bd;
    margin: 20px 0 20px
}

.wrapper .main_container .sidebar_wrap .baa .title h1,
.wrapper .main_container .sidebar_wrap .title h1 {
    margin: 10px 0;
    padding: 0;
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    font-family: Georgia, "Book Antiqua", Palatino, serif
}

.wrapper .main_container .sidebar_wrap .baa img {
    display: block;
    background-size: 100% auto;
    width: 100%;
    margin: 20px auto 10px
}

.wrapper .main_container .sidebar_wrap .baa p {
    margin: 0 0 10px;
    padding: 0;
    font-size: 16px;
    line-height: 28px
}

.wrapper .main_container .sidebar_wrap .baa h3 {
    font-size: 15px;
    margin: 7px 0;
    padding: 0
}

.wrapper .main_container .sidebar_wrap .baa .side-box {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #f5f9fa
}

.wrapper .main_container .sidebar_wrap .baa .side-box h1 {
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 20px;
    padding: 7px 0 5px 0;
    vertical-align: bottom
}

.wrapper .main_container .sidebar_wrap .baa .side-box p {
    display: block;
    margin: 10px 0;
    font-size: 20px
}

.wrapper .main_container .sidebar_wrap .baa .side-box img {
    display: block;
    margin: 20px auto;
    width: 100%
}

.wrapper .main_container .sidebar_wrap .baa .side-box img.sidebutton {
    display: block;
    margin: 20px auto;
    width: 90%
}

.wrapper .main_container .sidebar_wrap .baa .side-box h2 {
    display: block;
    font-size: 18px;
    line-height: 29px;
    color: #434343;
    margin: 0 0;
    padding: 0
}

.wrapper .main_container .bottom {
    min-height: 100px;
    margin: 20px 0;
    padding: 0 20px
}

.wrapper .main_container .bottom p span {
    color: red;
    font-weight: 700
}

.main_container .bottom .product_box {
    border: 1px solid #ddd;
    min-height: 50px;
    padding: 20px;
    margin: 20px 0;
    text-align: left
}

.main_container .bottom .product_box .pbox2 h1 {
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 20px 0;
    padding: 7px 0 5px 30px;
    vertical-align: bottom;
    text-align: left
}

.main_container .bottom .product_box .pbox2 {
    display: block;
    margin: 0 0 0 10px
}

.wrapper .facebook {
    width: 100%;
    margin: 20px 0
}

.wrapper .facebook .top_facebook {
    color: #475995;
    font-size: 12px;
    font-weight: 700;
    padding: 0 25px
}

.wrapper .facebook .top_facebook .box1,
.wrapper .facebook .top_facebook .box2 {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 45%
}

.wrapper .facebook .top_facebook .box2 {
    text-align: right;
    padding-right: 20px
}

.wrapper .facebook .top_facebook .box2 {
    font-size: 14px
}

.wrapper .facebook .fb_comments {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #cacaca;
    width: 95%
}

.wrapper .facebook .fb_comments .prof_pic {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 6%;
    margin: 0 0 0 5px;
    padding: 0
}

.wrapper .facebook .fb_comments .prof_pic2 {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 7%;
    margin: 0 0 0 5px;
    padding: 0
}

.wrapper .facebook .fb_comments .comments_inner {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 88%;
    margin: 0;
    padding: 0;
    font-size: 11px
}

.wrapper .facebook .fb_comments .comments_inner h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #475995
}

.wrapper .facebook .fb_comments .comments_inner p {
    margin: 0;
    padding: 0
}

.wrapper .facebook .fb_comments .comments_inner ul {
    margin: 5px 0 0 0;
    padding: 0
}

.wrapper .facebook .fb_comments .comments_inner ul li {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
    color: #475995
}

.wrapper .facebook .fb_comments .comments_inner ul li.min {
    color: #898989
}

.footer {
    width: 100%;
    background-color: #ccc;
    height: 50px;
    color: #000
}

.hamburder-menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px
}

.main-menu ul li {
    padding: 0 10px;
    line-height: 20px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    float: none;
    position: relative;
    text-align: right;
    display: block;
    color: #000
}

.hamburder-menu-icon {
    display: none
}

.hamburder-menu-icon img {
    width: 33px
}

.hamburder-menu-icon a {
    font-size: 17px;
    color: #000;
    min-height: 40px;
    line-height: 40px;
    float: right
}

.main-menu {
    float: right;
    width: 100%;
    display: none;
    position: relative;
    z-index: 30;
    margin-bottom: 30px
}

.main-menu.open-menu {
    display: block
}

@media(max-width:767px) {
    .main_wrapper .main_title a {
        font-size: 32px
    }
    .main_wrapper .main_title {
        font-size: 32px;
        padding: 0 20px
    }
}

@media only screen and (max-width:750px) {
    .wrapper .main_container .sidebar_wrap {
        width: 100%;
        max-width: 350px;
        margin: 30px auto
    }
    .wrapper .main_container .content h1 {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 32px
    }
    .wrapper .main_container .content {
        display: block;
        width: 100%
    }
    .wrapper .top .box2 .top_menu {
        display: none
    }
    .hamburder-menu-icon {
        display: block
    }
    .wrapper .main_container .content h2 {
        font-size: 20px;
        line-height: 30px
    }
    .wrapper .main_container .content .ferrari img {
        width: 100%
    }
}

#story .hero-deposit-img {
    padding: 0;
    display: inline-block;
    width: 65.4%;
    margin: 0;
    float: left
}

#story .hero-deposit-svg {
    enable-background: new 0 0 267 519;
    padding: 0;
    display: inline-block;
    width: 33.9%;
    margin: 0
}

@media only screen and (max-width:500px) {
    #story .hero-deposit-img,
    #story .hero-deposit-svg {
        width: 100%
    }
    .wrapper .main_container .content {
        padding: 0 5px
    }
    .main_wrapper .main_title {
        line-height: 1;
        padding: 0 5px
    }
    .main_wrapper .main_title a {
        font-size: 28px
    }
}

.wrapper .main_container {
    margin-top: 20px
}

.new-menu-cover img {
    position: relative;
    width: 100%;
    top: -2px;
    z-index: 1
}

.new-menu-cover a {
    display: flex
}

.menu-400,
.menu-600,
.menu-900 {
    display: none
}

@media only screen and (max-width:900px) {
    .menu-1200 {
        display: none
    }
    .menu-900 {
        display: inline
    }
    .new-menu-cover {
        background-color: transparent;
        border-top: none;
        border-bottom: none
    }
    .new-menu-cover .wrapper {
        margin: 0;
        padding: 0
    }
    .top_container .wrapper {
        margin-top: 0
    }
}

@media only screen and (max-width:600px) {
    .menu-900 {
        display: none
    }
    .menu-600 {
        display: inline
    }
}

@media only screen and (max-width:400px) {
    .menu-600 {
        display: none
    }
    .menu-400 {
        display: inline
    }
}

.cta_btn {
    background-color: #f18b06;
    border-radius: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    width: 80%;
    display: block;
    padding: 15px 20px;
    margin: 20px auto 40px;
    font-weight: 700;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out
}

.cta_btn:hover {
    text-decoration: none;
    color: #fff;
    transform: translateY(-5px)
}

.cta_btn:focus {
    color: #fff
}

@media(max-width:499px) {
    .cta_btn {
        font-size: 20px;
        width: 100%
    }
}

.modal-images {
    position: relative
}

.popup-close-btn {
    z-index: 100
}

.cta_popup_btn_wrap {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.cta_popup_btn {
    display: block;
    background-color: #ea8101;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: 1px solid #ea8101;
    padding: 10px 20px;
    border-radius: 5px;
    transform-origin: bottom right;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    font-size: 15px;
    margin: 0 auto;
    transform-origin: center;
    line-height: 15px;
    white-space: nowrap
}

@keyframes cta_btn_popup {
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

.cta_popup_btn {
    animation: cta_btn_popup 1s infinite
}

.bitcoin_profit_product_style {
    background-color: #e16f26
}

.bitcoin_code_product_style {
    background-color: #d65b07
}

.bitcoin_prime_product_style {
    background-color: #c4711b
}

.bitcoin_champion_product_style {
    background-color: #fee251;
    color: #402794
}

.bitcoin_revolution_product_style {
    background-color: #ddd035;
    border: 1px solid #bd9b01;
    color: #59218b
}

.bitcoin_evolution_product_style {
    background-color: #8a01b3;
    border: 1px solid #8b00a9
}

.bitcoin_loophole_product_style {
    background-color: #fddd00;
    border: 1px solid #ffc533;
    color: #000
}

.formule_francaise_product_style {
    background-color: #ffc200;
    border: 1px solid #ffc200;
    color: #e20b0e
}

.article-body>a {
    color: #626262;
    font-weight: 700;
    text-decoration: underline
}

.article-body a {
    text-decoration: none
}

.article-body>a {
    color: #626262
}

.btn--animate-grow {
    transition-duration: .3s;
    transition-property: transform
}

.btn--animate-grow:hover {
    transform: scale(1.1);
    cursor: pointer
}

.btn--orange {
    background: #e90e0e;
    color: #fff !important;
    text-decoration: none !important
}

.btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px
}

a {
    background: 0 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

.body_banner img {
    width: 100%;
    display: block
}

.main_footer {
    background-color: #f0f2f3;
    padding: 30px 15px 70px;
    border-top: 1px solid #d2d5d7
}

.footer_container {
    margin: 0 auto;
    display: flex;
    max-width: 1170px;
    justify-content: space-between
}

.footer_left_block {
    max-width: 380px;
    width: 100%
}

.footer_title {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 700
}

.footer_title_text {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    margin-top: 15px
}

.input_wrap {
    position: relative;
    margin-bottom: 50px
}

.input_wrap::after {
    position: absolute;
    content: 'Lees hier ons privacybeleid.';
    font-size: 12px;
    font-family: Roboto, sans-serif;
    color: #74797a;
    right: 0;
    bottom: -25px
}

.input_wrap input {
    display: block;
    border: 1px solid #d2d5d7;
    border-radius: 0;
    outline: 0;
    padding: 10px;
    font-size: 15px;
    width: 100%
}

.input_btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #27509a;
    font-family: Roboto, sans-serif;
    font-weight: 700
}

.input_btn:focus,
.input_btn:hover {
    color: #fff
}

.footer_copyright {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #74797a;
    display: block;
    margin-top: 20px
}

.footer_right_block {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px
}

.social_block {
    border-bottom: 1px solid #d2d5d7;
    margin-bottom: 35px;
    width: 100%
}

.social_links {
    display: flex;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    align-items: center
}

.social_links li a {
    display: block;
    font-size: 20px;
    margin-right: 35px
}

.footer_menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 50%
}

.footer_menu li {
    margin-bottom: 15px
}

.footer_menu li a,
.footer_menu li span {
    display: block;
    font-size: 14px
}

.footer_menu li a {
    color: #74797a
}

.footer_menu:last-child {
    align-items: flex-end
}

.comments_wrap {
    width: 66.6%
}

@media(max-width:991px) {
    .wrapper .main_container .content {
        width: 100%
    }
    .wrapper .main_container .sidebar_wrap {
        display: none
    }
    .comments_wrap {
        width: 100%
    }
}

@media(max-width:767px) {
    .footer_container {
        flex-direction: column-reverse
    }
    .footer_right_block {
        padding-left: 0;
        max-width: unset;
        margin-bottom: 25px
    }
    .footer_left_block {
        max-width: unset
    }
    .social_links li a {
        margin-right: 28px
    }
}

.progress-bar {
    height: 5px;
    background: #ffcb3d;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
}

.main_header {
    position: fixed;
    width: 100%;
    top: 5px;
    left: 0;
    z-index: 999;
    border-top: 5px solid #27509a;
    background-color: #fff;
    font-family: Roboto, sans-serif
}

.main_header .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.top_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 700;
    color: #202223
}

.top_header_menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 10px 0 0;
    list-style-type: none;
    border-right: 1px solid #d2d5d7
}

.top_header_menu a {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #202223;
    padding: 2px 10px
}

.car_icon,
.weather {
    margin: 0 10px;
    display: flex;
    align-items: center
}

.car_icon i,
.weather i {
    margin-right: 5px;
    font-size: 16px
}

.car_icon i {
    color: #a6aaab
}

.info_icon {
    margin-left: 10px;
    display: flex;
    align-items: center
}

.info_icon i {
    margin-right: 5px;
    font-size: 14px
}

.bottom_header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #202223;
    padding: 10px 0
}

.header_logo img {
    max-width: 210px;
    width: 100%;
    display: block
}

.bottom_header_menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.bottom_header_menu li {
    margin-right: 10px
}

.bottom_header_menu a {
    color: #3a3e3f;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .11px;
    display: block;
    padding: 10px 5px;
    transition: all .2s ease-in-out
}

.bottom_header_menu a:focus,
.bottom_header_menu a:hover {
    background-color: #27509a;
    color: #fff;
    text-decoration: none
}

.search_btn {
    margin-left: auto;
    font-size: 15px;
    color: #3a3e3f;
    padding: 0 15px 0 0
}

.login_btn {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #3a3e3f;
    margin-left: 10px
}

.login_btn span {
    font-size: 12px;
    font-weight: 900;
    margin-left: 8px
}

.subscribe_btn {
    display: flex;
    align-items: center;
    background-color: #ffcb3d;
    padding: 8px 25px;
    margin-left: 20px
}

.subscribe_btn span {
    font-size: 12px;
    color: #3a3e3f;
    font-weight: 900
}

.main_wrapper {
    padding-top: 0px
}

.mobile_header {
    display: none
}

@media(max-width:991px) {
    .main_header {
        border-width: 4px
    }
    .main_header .container {
        padding: 0
    }
    .bottom_header,
    .top_header {
        display: none
    }
    .mobile_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #202223;
        padding: 15px
    }
    .mobile_logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    .mobile_logo img {
        max-width: 130px;
        width: 100%;
        display: block
    }
    .menu_btn {
        font-size: 14px;
        font-weight: 700;
        color: #202223;
        text-transform: uppercase
    }
    .menu_btn:focus,
    .menu_btn:hover {
        color: #202223;
        text-decoration: none
    }
    .subscribe_btn {
        padding: 7px 8px
    }
    .subscribe_btn span {
        font-size: 14px
    }
}

@media(max-width:767px) {
    .wrapper.main_wrapper {
        padding-top: 0px
    }
}

.wrapper .main_container .content .logos-wrapper img {
    width: auto;
    margin: 0;
    max-width: unset;
}

#_signup_form ul li {
    padding: 10px;
    font-weight: normal;
    margin: 0;
}

.wrapper .main_container .content .icon-box img {
    width: 70px;
    margin: 30px auto;
}