.comment-list {
	list-style-type: none;
	padding-left: 0px;
}
.comment-metadata, .tval, .reply {
	display:none;
}
.wpcr_author_stars {
	margin:15px 0;
}
#comments {
	padding: 15px;
	border:1px solid #e8e8e8;
}
.wpcr_aggregate {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
}
#author-image {
	display: inline-block;
	width:8%;
	margin-bottom: 10px;
}
#author-text {
	display: inline-block;
	width: 90%;
	margin-bottom: 10px;
}
#article-author {
	background: #f7f7f7;
	padding: 10px;
	margin-bottom: 20px;
}
.author {
	margin-bottom: 10px;
}
.review-company .comment-reply-title {
	display:none;
}
.form-check.comment-form-cookies-consent {
	display: none;
}
.review-company .wppcr_rating:not(:checked) > label {
	font-size: 50px;
}
.faq__inner {
    display: block;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /*border-top: 1px solid #e8e8e8;*/
}
.faq__item {
    position: relative;
    flex-basis: 50%;
    padding: 20px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 0px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.faq__item:last-child {
    border-bottom: 1px solid #e8e8e8;
}
.faq__item:after{
    content: '\002B';
    color: #777;
    font-weight: bold;
	position: absolute;
	top: 16px;
	right: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.faq__item.active:after {
    content: "\2212";
    color: #777;
    font-weight: bold;
	position: absolute;
	top: 21px;
	right: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.faq__question {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.faq__question-text {
    font-size: 14px;
    font-weight:600;
    margin-bottom:0px;
}
.faq__answer {
    padding-top: 25px;
    color: #828282;
    display: none;
}
.faq__item.active .faq__answer {
    display: block;
}
.flex-center {
    display:flex;
    display:-webkit-flex;
    align-items: center;
}
.author #searchsubmit {
   color: #fff;
    background-color: #0a0a0a;
    border-color: #0a0a0a;
}
.author #searchform {
    margin-bottom: 30px;
}
#recent-posts-2 ul li {
    list-style-type: none;
    padding-bottom: 10px;
}
#recent-posts-2 ul {
    padding-left: 0px;
}
#recent-posts-2 ul a {
    color: #000;
    text-decoration: underline;
}


@media (max-width: 992px) {
.faq__item {
		display: block;
		flex-basis: 100%;
	}
#author-image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
}
footer {
    background-color: #161616;
}