.form-title{
font-size: 26px;
}

/* .form .input-wrap {
    margin: 12px 0;
} */
.form .input-wrap input {
    height: 40px;
    padding: 0 1rem;
    border: none;
    margin-bottom: 0;
    border-radius: 15px;
    background-color: rgba(59,61,61,.8);
}
.form .input-wrap .vue-tel-input {
    border: none;
    border-radius: 15px;
}
.form .input-wrap .vue-tel-input input {
    border-radius: 0 15px 15px 0;
}
.form .input-wrap .vue-tel-input .vti__dropdown {
    border-radius: 15px 0 0 15px;
}
.form .checkbox-wrap label {
    font-size: 14px;
    color: #333
}
.form .input-wrap button {
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(60deg, #e66f73, #D40C13);
    transition: .2s
}
.form .input-wrap button:hover {
    opacity: .85;
}
.dsd-calculator__slider .dsd-calculator__range {
    border: none
}
.terms__title {
    font-size: 1.6rem;
    font-weight: 600;
}
.slider-panel {
    display: none;
}
@media (max-width: 768px) {
    .plans__title {
        margin-bottom: 1rem;
    }
    .slider-panel {
        display: block;
        margin-bottom: 1rem;
    }
    .scroll-img {
        opacity: .5;
        position: relative;
        animation-name: sideScrolling;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-name: sideScrolling;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
    }
    @keyframes sideScrolling {
        0% {transform: translateX(-.3rem)}
        30% {transform: translateX(.3rem)}
        100% {transform: translateX(-.3rem)}
    }
    @-webkit-keyframes sideScrolling {
        0% {transform: translateX(-.3rem)}
        30% {transform: translateX(.3rem)}
        100% {transform: translateX(-.3rem)}
    }
}