form#formWrapper1 {
    padding: 16px 20px 15px;
    background: #fff;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 20px;

    outline: none;
}

@media(prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

/* .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
} */

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
    height: auto
}

/* input#firstName {
    -webkit-text-size-adjust: 100%;
    --agency-footer-link-color: #000000;
    --agency-footer-text-color: #000000;
    direction: ltr;
    font: inherit;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    padding: 6px;
    box-sizing: border-box;
    color: #000;
    display: block;
    outline: 0 !important;
    margin-bottom: 1rem;
    border: 1px solid #B4B3B3;
    border-radius: 5px;
    height: 31px;
}

input#lastName {
    -webkit-text-size-adjust: 100%;
    --agency-footer-link-color: #000000;
    --agency-footer-text-color: #000000;
    direction: ltr;
    font: inherit;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    padding: 6px;
    box-sizing: border-box;
    color: #000;
    display: block;
    outline: 0 !important;
    margin-bottom: 1rem;
    border: 1px solid #B4B3B3;
    border-radius: 5px;
    height: 31px;
}

input#phoneFiled {
    -webkit-text-size-adjust: 100%;
    --agency-footer-link-color: #000000;
    --agency-footer-text-color: #000000;
    direction: ltr;
    font: inherit;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    padding: 6px;
    box-sizing: border-box;
    color: #000;
    display: block;
    outline: 0 !important;
    margin-bottom: 1rem;
    border: 1px solid #B4B3B3;
    border-radius: 5px;
    height: 31px;
}

input#email {
    -webkit-text-size-adjust: 100%;
    --agency-footer-link-color: #000000;
    --agency-footer-text-color: #000000;
    direction: ltr;
    font: inherit;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    padding: 6px;
    box-sizing: border-box;
    color: #000;
    display: block;
    outline: 0 !important;
    margin-bottom: 1rem;
    border: 1px solid #B4B3B3;
    border-radius: 5px;
    height: 31px;
} */

.checkbox {
    display: none;
}

button.submitBtn {
    -webkit-text-size-adjust: 100%;
    --agency-footer-link-color: #000000;
    --agency-footer-text-color: #000000;
    direction: ltr;
    font: inherit;
    max-width: 100%;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    display: block;
    outline: 0 !important;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #B4B3B3;
    border-color: transparent;
    color: #fff;
    text-align: center;
    min-height: 56px;
    text-transform: inherit;
    font-weight: bold;
    background: #0000FE;
    box-shadow: 0 4px 9px rgb(0 0 0 / 25%);
    border-radius: 0;
    height: auto;
    margin-top: 21px;
    transition: transform .15s ease;
}

img.mobile {
    display: none;
}

@media (max-width: 1199px) {
    img.top__bg {
        height: 28rem;
    }
}

@media (max-width: 768px) {
    img.mobile {
        -webkit-text-size-adjust: 100%;
        --agency-footer-link-color: #000000;
        --agency-footer-text-color: #000000;
        color: #000;
        box-sizing: border-box;
        display: block;
        font: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        max-width: 767px;
        width: 767px;
        display: block;
    }

    img.top__bg {
        display: none;
    }
}