[data-editable] [data-font-size] {
  line-height: 126.1%;
}
[data-editable] .block-link {
  display: block;
  height: inherit;
  margin: 0 auto;
}
[data-editable] .font-size-8 {
  font-size: 11px !important;
}
[data-editable] .font-size-10 {
  font-size: 13px !important;
}
[data-editable] .font-size-12 {
  font-size: 16px !important;
}
[data-editable] .font-size-14 {
  font-size: 19px !important;
}
[data-editable] .font-size-16 {
  font-size: 21px !important;
}
[data-editable] .font-size-18 {
  font-size: 24px !important;
}
[data-editable] .font-size-20 {
  font-size: 27px !important;
}
[data-editable] .font-size-24 {
  font-size: 32px !important;
}
[data-editable] .font-size-36 {
  font-size: 48px !important;
}
[data-editable] .text-right {
  text-align: right;
}
[data-editable] .text-left {
  text-align: left;
}
[data-editable] .text-center {
  text-align: center;
}
[data-editable] a {
  color: inherit;
}
[data-editable] p {
  margin: 0;
}
[data-editable] i {
  font-style: italic;
}
[data-editable] b {
  font-weight: 700;
}
html {
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.26;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}
body * {
  font: inherit;
}
.wrap {
  position: relative;
  max-width: 100%;
}
.container {
  position: relative;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 335px;
  }
}
.only-tablet {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .only-tablet {
    display: block;
  }
}
p {
  margin: 0;
}
p:last-of-type {
  margin-bottom: 0;
}
.section {
  position: relative;
}
.hover-btn {
  transition: transform 0.15s ease;
}
.hover-btn:hover {
  transform: scale(1.08);
}
.mobile-only {
  display: none !important;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block !important;
  }
}
.tablet-only {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet-only {
    display: block !important;
  }
}
.tablet-only-br {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet-only-br {
    display: block !important;
  }
}
.desktop-only {
  display: none;
}
@media (min-width: 1200px) {
  .desktop-only {
    display: block !important;
  }
}
.desktop-and-tablet-only {
  display: none !important;
}
@media (min-width: 768px) {
  .desktop-and-tablet-only {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .no-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .no-tablet {
    display: none !important;
  }
}
.top {
  position: relative;
  padding-top: 43px;
  padding-bottom: 43px;
  min-height: 524px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #cee6ee 0%,
    #cee6ee 50%,
    #f6f9f8 50%,
    #f6f9f8 100%
  );
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 445px;
  }
}
@media (max-width: 767px) {
  .top {
    min-height: 477px;
    padding-top: 31px;
    padding-bottom: 0;
  }
}
.top__container {
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__container {
    max-width: 740px;
  }
}
.top__inner {
  max-width: 780px;
  width: 100%;
  margin: 0 auto 0 9px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__inner {
    max-width: 505px;
    margin: 0 auto 0 0;
  }
}
@media (max-width: 767px) {
  .top__inner {
    max-width: 355px;
    margin: 0 auto 0 0;
  }
}
.top__title {
  font-weight: 800;
  font-size: 53px;
  line-height: 54px;
  text-align: center;
  color: #ff0012;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__title {
    font-size: 39px;
    line-height: 43px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .top__title {
    font-size: 30px;
    line-height: 34px;
  }
}
.top__subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__subtitle {
    font-size: 27px;
    line-height: 43px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .top__subtitle {
    font-size: 27px;
    line-height: 34px;
  }
}
.top__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto 9px;
}
.top__logo img {
  width: 52px;
}
@media (min-width: 1200px) {
  .top__logo img {
    width: 69px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__logo {
    justify-content: flex-start;
  }
}
.top__text {
  font-weight: 600;
  font-size: 33px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 3px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__text {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .top__text {
    font-size: 23px;
    line-height: 28px;
  }
}
.top__scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 373px;
  min-height: 52px;
  background: linear-gradient(90.62deg, #f90 9.84%, #fc0 116.57%);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.18);
  border-radius: 46px;
  font-weight: bold;
  font-size: 22px;
  line-height: 126.1%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: 133px;
  letter-spacing: 0.01em;
  margin-bottom: 73px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__scroll-btn {
    min-width: initial;
    width: 100%;
    margin-left: 65px;
    max-width: 320px;
    letter-spacing: 0;
    text-align: center;
    font-size: 20px;
    line-height: 126.1%;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .top__scroll-btn {
    max-width: 255px;
    min-width: 255px;
    font-size: 18px;
    line-height: 113.1%;
    margin: 0 auto;
    padding: 7px 44px;
  }
}
.top__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
@media (min-width: 1200px) {
  .top__bg {
    max-width: 1920px;
    width: 1920px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top__bg {
    max-width: 1198px;
    width: 1198px;
  }
}
@media (max-width: 767px) {
  .top__bg {
    max-width: 767px;
    width: 767px;
  }
}
.line-block {
  padding: 12px 0;
  background-color: #ff0012;
}
@media (max-width: 767px) {
  .line-block {
    padding: 68px 0 18px;
  }
}
.line-block__text {
  font-weight: bold;
  font-size: 25px;
  line-height: 26px;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .line-block__text {
    font-size: 19px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .line-block__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.line-block__arrow {
  position: absolute;
}
@media (min-width: 1200px) {
  .line-block__arrow {
    width: 76px;
    right: 418px;
    top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .line-block__arrow {
    right: 235px;
    top: 10px;
  }
}
@media (max-width: 767px) {
  .line-block__arrow {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form {
    position: relative;
    z-index: 3;
  }
}
.form .formWrapper {
  padding: 0;
}
.form .formWrapper .sv-skin.form-de div {
  font-size: inherit;
  font-weight: inherit;
}
.form .formWrapper .sv-skin.form-it div:not(.gdpr-fieldset) {
  font-size: inherit;
  font-weight: 400;
}
.form__container {
  position: relative;
  max-width: 1200px;
}
.form__top {
  position: absolute;
  right: 10px;
  width: 368px;
  box-shadow: 0 4px 21px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  z-index: 3;
}
@media (min-width: 1200px) {
  .form__top {
    top: -475px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__top {
    top: -416px;
    width: 232px;
    right: calc(50vw - 375px);
  }
}
@media (max-width: 767px) {
  .form__top {
    width: 336px;
    position: static;
    right: initial;
    top: initial;
    margin: -58px auto -53px;
  }
}
.form__bottom-img {
  position: absolute;
  bottom: -41px;
  z-index: -1;
  width: 100%;
}
.form__bottom-img img {
  width: 100%;
}
.form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 23px;
  line-height: 120%;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: #000000;
  min-height: 57px;
  background: #ffffff;
}
@media (min-width: 1200px) {
  .form__title {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .form__title {
    font-size: 23px;
  }
}
@media (min-width: 1200px) {
  .form__title-text {
    margin-right: 7px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__title-text {
    margin-bottom: 8px;
  }
}
.form__body {
  padding: 16px 20px 15px;
  background: #fff;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body {
    padding: 12px 14px 10px;
  }
}
@media (max-width: 767px) {
  .form__body {
    padding: 14px 15px 12px;
  }
}
.form__body .sv-skin .fieldset {
  margin-bottom: 16px;
  position: relative;
}
.form__body .fieldset_group .fieldset__title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4px;
  color: #373737;
  font-size: 15px !important;
  line-height: 18px;
}
.form__body .sv-skin button,
.form__body .sv-skin input,
.form__body .sv-skin select {
  border: 1px solid #b4b3b3;
  border-radius: 5px;
}
.form__body .sv-skin input,
.form__body .sv-skin select {
  height: 31px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .sv-skin input,
  .form__body .sv-skin select {
    height: 23px;
  }
}
@media (max-width: 767px) {
  .form__body .sv-skin input,
  .form__body .sv-skin select {
    font-size: 13px !important;
  }
}
.form_popup .form__body .sv-skin input,
.form_popup .form__body .sv-skin select {
  height: 31px;
  font-size: 14px;
}
.form__body .iti__flag-container {
  width: 101px !important;
  margin-right: 8px !important;
  border: 1px solid #b4b3b3;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .iti__flag-container {
    width: 88px !important;
  }
}
.form__body .iti--separate-dial-code #phone_num {
  width: calc(100% - 109px) !important;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .iti--separate-dial-code #phone_num {
    width: calc(100% - 86px) !important;
  }
}
.form__body .sv-skin button.lead-form-submit {
  border-color: transparent;
  color: #fff;
  text-align: center;
  min-height: 56px;
  text-transform: inherit;
  font-weight: bold;
  background: #0000fe;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  height: auto;
  margin-top: 21px;
  transition: transform 0.15s ease;
}
.form__body .sv-skin button.lead-form-submit:hover {
  transform: scale(1.08);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .sv-skin button.lead-form-submit {
    min-height: 44px;
    margin-top: 16px;
  }
}
.form__body .sv-skin button.lead-form-submit div {
  font-weight: bold;
  font-size: 20px !important;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .sv-skin button.lead-form-submit div {
    font-size: 19px !important;
  }
}
.form__body .iti__selected-dial-code {
  width: auto !important;
  padding-top: 0 !important;
}
.form__body .sv-skin .tooltip {
  font-size: 13px !important;
}
.form__body .sv-skin .tooltip.tooltip_gdpr {
  margin-top: -3px;
}
.form__body .sv-skin .fieldset#submit-fieldset + .gdpr-fieldset {
  margin-bottom: -10px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__body .gdpr-text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__logo {
    width: 92px;
  }
}
@media (max-width: 767px) {
  .form__logo {
    width: 127px;
  }
}
.form__text {
  text-align: center;
  color: #6d6d6d;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
}
.form__text > div,
.form__text > div > p {
  display: inline;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__text {
    font-size: 11px;
    line-height: 13px;
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .form__text {
    margin-top: 22px;
  }
}
.form__footer {
  height: 53px;
  padding: 14px 18px 0;
  border-radius: 0 0 10px 10px;
  background: #efefef;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__footer {
    padding: 12px 22px 0;
    height: 42px;
  }
}
.form__footer img {
  height: auto;
  width: 100%;
  max-width: 273px;
  max-height: 28px;
  margin: 0 auto;
}
.form__img {
  display: flex;
  justify-content: center;
  margin: 40px 0 55px;
}
.form__img img {
  max-height: 222px;
}
.access {
  position: relative;
  padding-top: 73px;
  padding-bottom: 51px;
  background-color: #f1f1f1;
}
.access:after {
  position: absolute;
  z-index: 1;
  content: "";
  left: calc(50% - 28px);
  width: 0;
  height: 0;
  border-width: 28px;
  border-style: solid;
  border-color: #f1f1f1 transparent transparent;
  border-image: initial;
  bottom: -55px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access {
    padding-top: 47px;
    padding-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .access {
    padding-top: 40px;
    padding-bottom: 58px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__container {
    max-width: 799px;
    padding-left: 16px;
  }
}
.access__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #321e1f;
  margin-bottom: 61px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__title {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .access__title {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 42px;
  }
}
.access__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 39px auto 0;
  max-width: 1035px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__list {
    margin: 39px auto 0;
  }
}
@media (max-width: 767px) {
  .access__list {
    margin: 32px 0 0 0;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
}
.access__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__list-item:nth-child(1) {
    width: 16%;
  }
  .access__list-item:nth-child(2) {
    width: 23%;
  }
  .access__list-item:nth-child(3) {
    width: 29%;
  }
  .access__list-item:nth-child(4) {
    width: 20%;
  }
}
@media (max-width: 767px) {
  .access__list-item {
    width: 270px;
    margin-bottom: 91px;
  }
  .access__list-item:last-child {
    margin-bottom: 0;
  }
}
.access__list-img {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.access__list-text {
  font-size: 18px;
  line-height: 126.1%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #363f40;
}
.access__list-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 136.1%;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 19px;
  max-width: 430px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__list-title {
    margin-bottom: 29px;
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .access__list-title {
    margin: 0 auto;
    max-width: 321px;
    font-size: 24px;
    line-height: 137.1%;
  }
}
.access__bottom {
  position: relative;
  padding: 50px 0 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__bottom {
    padding-top: 45px;
  }
}
.access__btn {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000fe;
  border-radius: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 126.1%;
  color: #ffffff;
  max-width: 413px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .access__btn {
    font-size: 20px;
    padding: 17px;
    max-width: 340px;
  }
}
.content {
  padding: 80px 0 60px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .content {
    padding: 71px 0 59px;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 67px 0 55px;
  }
}
@media (min-width: 1200px) {
  .content .container {
    position: relative;
    max-width: 1180px;
  }
}
.content__title {
  max-width: 670px;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 22px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .content__title {
    margin-bottom: 21px;
    font-size: 25px;
    line-height: 33px;
    max-width: 680px;
  }
}
@media (max-width: 767px) {
  .content__title {
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 24px;
  }
}
.content__text {
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
@media (min-width: 1200px) {
  .content__text {
    max-width: 637px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .content__text {
    margin-bottom: 31px;
  }
}
@media (max-width: 767px) {
  .content__text {
    margin-bottom: 30px;
  }
}
.content__text p:first-child {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .content__img {
    position: absolute;
    bottom: 140px;
    right: 0;
    width: 502px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .content__img {
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  .content__img {
    margin-bottom: 27px;
  }
}
.content__btn {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000fe;
  border-radius: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 126.1%;
  color: #ffffff;
  max-width: 502px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (min-width: 1200px) {
  .content__btn {
    position: absolute;
    bottom: 17px;
    right: 0;
  }
}
@media (max-width: 767px) {
  .content__btn {
    font-size: 20px;
    padding: 17px;
    max-width: 340px;
  }
}
.graph {
  padding: 47px 0 56px;
  background-color: #f1f1f1;
}
@media (max-width: 767px) {
  .graph {
    padding: 34px 0 39px;
  }
}
.graph__inner {
  border-radius: 25px;
  max-width: 735px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 9px 10px 16px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .graph__inner {
    border-radius: 25px;
  }
}
.graph__title {
  padding: 25px;
  background-color: #ff0012;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .graph__title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 18px;
    line-height: 120%;
    padding: 14px 5px;
  }
}
.graph__img {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 767px) {
  .graph__img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.graph__img img {
  margin-left: auto;
  margin-right: auto;
}
.graph__content {
  position: relative;
  padding: 23px 0 13px 0;
}
@media (max-width: 767px) {
  .graph__content {
    padding: 4px 0 1px 0;
  }
}
.graph__text {
  position: absolute;
}
.graph__text_1 {
  color: #000000;
  left: 48px;
  top: 15px;
  width: 68px;
  font-size: 13px;
  line-height: 15px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .graph__text_1 {
    left: 39px;
  }
}
@media (max-width: 767px) {
  .graph__text_1 {
    left: 1px;
    top: 8px;
    width: 60px;
    font-size: 10px;
    line-height: 10px;
  }
}
.graph__text_2 {
  color: #ff0012;
  left: 103px;
  top: 32px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .graph__text_2 {
    left: 55px;
    top: 15px;
    width: 103px;
    font-size: 12px;
    line-height: 13px;
  }
}
.graph__text_3 {
  color: #000000;
  left: 492px;
  top: 29px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .graph__text_3 {
    left: 206px;
    top: 12px;
    width: 103px;
    font-size: 12px;
    line-height: 13px;
  }
}
.quotes {
  padding-top: 69px;
  padding-bottom: 96px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .quotes {
    padding-top: 46px;
    padding-bottom: 68px;
  }
}
@media (max-width: 767px) {
  .quotes {
    padding-top: 49px;
    padding-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .quotes__container {
    max-width: 1140px;
  }
}
.quotes__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.quotes__title-wrap {
  padding: 0 30px;
  text-align: center;
  /* background-image: url("../images/quotes-line.svg");
  background-position: center;
  background-size: calc(100% - 60px);
  background-repeat: no-repeat; */
  margin-bottom: 45px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .quotes__title-wrap {
    padding: 0;
    margin-bottom: 36px;
    background-size: 100%;
  }
}
@media (max-width: 767px) {
  .quotes__title-wrap {
    padding: 0;
    background-image: none;
    margin-bottom: 57px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .quotes__title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .quotes__title {
    font-size: 22px;
    line-height: 28px;
    padding: 0;
  }
}
.quotes__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .quotes__content {
    margin-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .quotes__content {
    margin-bottom: 65px;
    flex-direction: column;
  }
}
.quotes__item {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  background-image: url("../images/quotes.svg");
  background-position: top left;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .quotes__item {
    width: 28%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .quotes__item {
    padding-top: 19px;
    background-size: 15px;
  }
  .quotes__item:nth-child(1) {
    width: 30%;
  }
  .quotes__item:nth-child(2) {
    width: 33%;
  }
  .quotes__item:nth-child(3) {
    width: 27%;
  }
}
@media (max-width: 767px) {
  .quotes__item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .quotes__item:not(:last-child) {
    margin-bottom: 34px;
    padding-bottom: 34px;
    position: relative;
  }
  .quotes__item:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 43px;
    width: calc(100% - 86px);
    height: 1px;
    background-color: #1e1e1e;
  }
}
.quotes__phrase {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #373737;
  margin-bottom: 18px;
}
.quotes__date {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ff0012;
  margin-bottom: 20px;
}
.quotes__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.quotes__btn {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000fe;
  border-radius: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 126.1%;
  color: #ffffff;
  max-width: 638px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .quotes__btn {
    font-size: 20px;
    padding: 17px;
    max-width: 340px;
  }
}
.quotes__payment {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
.links {
  position: relative;
}
.links__container {
  border-top: 1px solid #404040;
}
@media (min-width: 1200px) {
  .links__container {
    padding-top: 16px;
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .links__container {
    padding-top: 17px;
    padding-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .links__container {
    padding-top: 22px;
    padding-bottom: 50px;
  }
}
.links__text,
.links a {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #404040;
  text-decoration: none;
}
.links__text:hover,
.links a:hover {
  text-decoration: underline;
}
.links__text:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 1199px) {
  .popup-form {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .popup-form {
    display: none;
  }
  .popup-form-visible .popup-form {
    display: block;
  }
}
.popup-form__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.83);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}
.popup-form__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
.popup-form__close-icon::before {
  content: "\00d7";
  font-size: 50px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: #fff;
  display: block;
  text-align: center;
}
.popup-form__block {
  width: 369px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.28);
  border-radius: 15px 15px 10px 10px;
}
@media (min-width: 1200px) {
  .popup-form-visible .form__top {
    display: none;
  }
}
