* > button{
  outline: none;
  border: none;
  background: inherit;
}
.but1{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  min-height: 48px;
  line-height: 44px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.but1:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
    color: #fff;
}
.but1:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
.but2{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  background: #FCFCFD;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  min-height: 48px;
  line-height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.but2:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
.but2:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}
.but3{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  min-height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}
.but3:hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    color: #fff;
}
.but4{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding: 10px;
  background: #1abebf;
  background-image: linear-gradient(122deg,#37e0e0,#1abebe);
  background-size: 300px,300px,100%;
  color: #fff;
  border-bottom: 5px solid #ffc600;
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
  text-shadow: 0 0 3px rgb(0 0 0 / 30%);
  transition: all .3s;
}
.but4:hover{
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%);
    color: #fff;
}
.but5{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  min-height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
.but5:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    color: #fff;
}
.but6{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  min-height: 42px;
}
.but6:hover{
    background: 0 0;
    color: #ff4742;
}

.but7{
  display: inline-block;
  outline: 0;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right,#e052a0,#f15c41)!important;
  border-radius: 3px;
  padding: 16px 18px 15px;
  white-space: nowrap;
}
.but7:hover {
    background-color: #e6375a;
    background-image: none!important;
    color: #fff;
}
.but8{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #fd0;
    font-weight: 500;
    color: #222;
}
.but8:hover{
  color: #fff;
}
.but9{
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  background: #00d301;
  background: -webkit-linear-gradient(-196deg,#00d301,#36c275 50%,#00a562);
  background: -webkit-linear-gradient(164deg,#00d301,#36c275 50%,#00a562);
  background: linear-gradient(286deg,#00d301,#36c275 50%,#00a562);
  line-height: 30px;
  font-weight: 800;
  transition: background,color .1s ease-in-out;
}
.but10{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(43, 108, 176);
  border: 1px solid rgb(66, 153, 225);
  line-height: 26px;
}
