.page {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #f6f9fe;
}

.modal_section {
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    /*left: 50%;*/
    /*top: 50%;*/
    max-width: 700px;
    margin-top: 50px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    /*transform: translate(-50%, -50%);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up_section {
    display: flex;
    align-items: center;
    height: 50%;
    /*padding: 25px;*/
    justify-content: center;
    /*background: #444452;*/
}

.down_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 25px;
    background: #fff;
}

.img_like {
    width: 250px;
}

.img_star {
    width: 40px;
}

.section_text {
    font-size: 16px;
    text-align: center;
}

.green_text {
    color: #00805f;
    font-weight: 700;
    font-size: 2rem!important;
    text-align: center;
}

.section_title {
    text-align: center;
}

/*Media screen*/
@media only screen and (max-width: 768px) {
    .modal_section {
        width: 95%;
    }
}

@media (min-width: 1500px) and (min-height: 1050px) {
    .up_section {
        padding: 50px;
    }
    .down_section {
        padding: 50px;
    }
    .section_text {
        font-size: 2rem;
    }
    .section_title {
        font-size: 3.5rem;
    }
}

@media (max-width: 1250px) {
    .section_title {
        font-size: 36px;
    }

    .section_text {
        font-size: 20px;
    }

    .img_like {
        width: 170px;
    }

    .up_section {
        height: 35%;
    }
    .modal_section{
        top: 55%;
    }
}

@media (max-width: 991px) {
    .section_title {
        font-size: 30px;
    }

    .section_text {
        font-size: 17px;
    }

    .img_like {
        width: 130px;
    }

    .up_section {
        height: 35%;
    }
}

@media (max-width: 767px) {
    .section_title {
        font-size: 42px;
    }

    .section_text {
        font-size: 23px;
    }

    .img_like {
        width: 135px;
    }

    .up_section {
        height: 35%;
    }

    .down_section {
        height: 100%;
    }
}

@media (max-width: 640px) {
    .section_title {
        font-size: 42px;
    }

    .section_text {
        font-size: 19px;
    }

    .img_like {
        width: 135px;
    }

    .up_section {
        height: 35%;
    }

    .down_section {
        height: 100%;
    }
}

@media (max-width: 480px) {
    .section_title {
        font-size: 33px;
    }

    .section_text {
        font-size: 18px;
    }

    .img_like {
        width: 135px;
    }

    .up_section {
        height: 35%;
    }

    .down_section {
        height: 100%;
    }
}