*,
div,
p,
button,
input,
section,
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  outline: 0;
}

.important-text{
  color: red;
  font-size: 19px;
}
@media (max-width:767px) {
  .promo__head p {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      margin-bottom: 5vh;
      line-height: 1.4rem;
      font-size: 1.3rem !important;
      color: #fff
  }
  .wrapper--mobile {
      padding: 0
  }
  .important-text{
      color: red;
      font-size: 17px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
b {
  padding: 0;
  margin: 0;
  font-family: "Alexandria", sans-serif;
}

button,
input {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: none;
}




@-webkit-keyframes rotate {
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  35% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  85% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  35% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  85% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


.people {
  padding: 60px;
  background: linear-gradient(rgb(8, 16, 71), rgb(32, 17, 147));
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
@media (max-width: 900px) {
  .people {
    padding: 40px 0;
  }
}
.people__title {
  text-align: center;
  margin-bottom: 40px;
}
.people__title h2 {
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1250px) {
  .people__title h2 {
    font-size: 35px;
  }
}
@media (max-width: 550px) {
  .people__title h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }
}
.people__title span {
  font-size: 25px;
  color: #67bbfc;
}
@media (max-width: 550px) {
  .people__title span {
    font-size: 18px;
  }
}
.people__map {
  margin: auto;
  width: 50%;
}
@media (max-width: 550px) {
  .people__map {
    width: 100%;
  }
}
.people__map img {
  width: 100%;
  opacity: 0.7;
  -webkit-filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.4));
}
.people .global-trades {
  width: 100%;
  padding: 20px;
  background: rgb(33 111 172 / 38%);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 600px;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
@media (max-width: 550px) {
  .people .global-trades {
    padding: 15px 10px;
  }
}
.people .global-trades:after {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#216fac), to(transparent));
  background: linear-gradient(0deg, #216fac, transparent);
  content: "";
  left: 0;
  width: 100%;
  height: 70px;
}
.people .global-trades table {
  width: 100%;
  margin: auto;
  color: #000;
  border-collapse: collapse;
}
.people .global-trades table tr {
  border: none;
}
.people .global-trades table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.people .global-trades table td {
  text-align: center;
  margin: 2px;
  font-size: 18px;
  height: 38px;
  color: #fff;
}
@media (max-width: 550px) {
  .people .global-trades table td {
    font-size: 14px;
  }
}
.people .global-trades table td .button-green {
  background: #04b25c;
  font-family: "Alexandria", sans-serif;
  padding: 4px 0px;
  color: #222;
}
.people .global-trades table td .flag-icon {
  background-size: 35px 24px;
  width: 35px;
  height: 24px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}
@media (max-width: 550px) {
  .people .global-trades table td .flag-icon {
    background-size: 22px 15px;
    width: 22px;
    height: 15px;
  }
}
.people .global-trades table td:first-child {
  width: 60px;
}
.people .global-trades table td:nth-child(2) {
  width: 385px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.people .global-trades table td:nth-child(3) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  text-align: center;
  width: 100px;
}
.people .global-trades table td:nth-child(4) {
  width: 80px;
  padding-left: 10px;
  -moz-text-align-last: left;
  text-align-last: left;
}
.people .global-trades table td:last-child {
  text-align: right;
  padding-right: 10px;
}


@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(-120%, -50%);
            transform: translate(-120%, -50%);
  }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translate(-120%, -50%);
            transform: translate(-120%, -50%);
  }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
.calculate {
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(8, 16, 71)), to(rgb(32, 17, 147)));
  background: linear-gradient(rgb(8, 16, 71), rgb(32, 17, 147));
  position: relative;
  overflow: hidden;
}
@media (max-width: 450px) {
  .calculate {
    padding: 40px 0;
  }
}
.calculate:before {
  content: "";
  position: absolute;
  top: -500px;
  bottom: -500px;
  left: -500px;
  right: -500px;
  background: url("../fonts/bgie.svg");
  background-repeat: repeat;
  z-index: 0;
  opacity: 0.2;
  background-size: cover;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  padding: 40px 0;
}
.calculate__title {
  color: #fff;
  font-size: 34px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1250px) {
  .calculate__title {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .calculate__title {
    font-size: 24px;
  }
}
.calculate__wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px 40px;
  background: rgb(33 58 172);

  background-size: 2300px;
  background-position: 0 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (max-width: 450px) {
  .calculate__wrapper {
    padding: 20px 25px;
    background-position: -20px 0px;
  }
}
.calculate__btn-container {
  margin-top: 40px;
}
.calculate__btn-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b25b), to(#037f42));
  background: linear-gradient(180deg, #00b25b, #037f42);
  font-family: "Alexandria", sans-serif;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.calculate__group--form {
  text-align: center;
}
.calculate__earn {
  margin-bottom: 40px;
}
.calculate__earn label {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.calculate__earn h3 {
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #7fcbff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.calculate__invest {
  margin-top: 30px;
}
.calculate__invest label {
  color: #fff;
  font-size: 20px;
}
.calculate .irs--round .irs-from,
.calculate .irs--round .irs-to,
.calculate .irs--round .irs-single {
  background-color: #226fac;
}
.calculate .irs--round .irs-min, .calculate .irs--round .irs-max {
  color: #959595;
}

.last {
  background: #2c4164;
  padding: 20px 0;
  text-align: center;
}
.last img {
  max-width: 200px;
  display: block;
  margin: auto;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
}
.last span {
  color: #ccc;
  font-size: 12px;
  margin-top: 15px;
  display: block;
}
/*# sourceMappingURL=style.css.map */


.grid-hero---b {
  position: relative;
  z-index: 50;
  overflow: hidden;
  width: 100%;
  margin-top: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid hsla(0,0%,100%,.15)
}

.block-hero---b {
  position: relative;
  z-index: 50;
  margin-bottom: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px
}
.link-services-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 5vmin;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 1px solid hsla(0,0%,100%,.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  text-decoration: none
}

.link-services-hero:hover {
  background-color: rgba(6,21,63,.43)
}

.link-services-hero.border-off {
  border-left-style: none
}

.block-services-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.heading-services-hero {
  font-family: roboto condensed,sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 111%;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -.6px;
    text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  font-weight: 700;
}

.paragraph-services-hero {
  font-size: 16px;
  max-width: 370px;
  margin-bottom: 0;
  color: rgb(255, 255, 255)
}

.cta-simple {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.heading-cta-simple {
  max-width: 800px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 106%
}

.section-cta-simple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #343434;
  background-color: #030611;
  background-image: url(../images/btc.jpg);
  background-position: 0 0;
  background-size: auto;
  background-attachment: fixed
}

.section-full-dark {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #343434
}



.hero---b {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding-top: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.image-hero---b {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.grid-hero---b {
  position: relative;
  z-index: 50;
  overflow: hidden;
  width: 100%;
  margin-top: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid hsla(0,0%,100%,.15);
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  background-color: rgb(32, 17, 147);
}


.w-layout-grid.grid-hero---b {
  z-index: 1
}

@media screen and (max-width: 767px) {
  h1 {
      font-size:46px
  }

  h2 {
      font-size: 36px
  }

  h3 {
      font-size: 30px
  }

  h4 {
      font-size: 25px
  }

  h5 {
      font-size: 22px
  }

  .heading-hero {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 32px;
      line-height: 34px
  }

  .yel {
      font-size: 23px
  }

  .section {
      padding-top: 80px;
      padding-bottom: 80px
  }

  .grid-2-columns {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .block-right {
      padding-right: 7%;
      padding-bottom: 0;
      padding-left: 7%
  }

  .heading {
      font-size: 30px
  }

  .section-dark {
      padding-top: 80px;
      padding-bottom: 80px
  }

  .grid-3-columns {
      grid-row-gap: 4vmin;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .image-services {
      height: 120vw
  }

  .services.margin-50 {
      margin-top: 0
  }

  .services.margin-100 {
      margin-top: 0
  }

  .block-full {
      padding: 80px 11%
  }

  .block-footer-down {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center
  }

  .block-down {
      margin-right: 0
  }

  .hero---b {
      min-height: auto;
      padding-top: 110px
  }

  .grid-hero---b {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .block-hero---b {
      margin-bottom: 80px
  }

  .link-services-hero {
      padding: 7vmin;
      border-top: 1px solid hsla(0,0%,100%,.15);
      border-left-style: none
  }

  .link-services-hero.border-off {
      border-top-style: none
  }

  .heading-cta-simple {
      font-size: 25px
  }

  .section-cta-simple {
      padding: 70px 35px
  }

  .grid-image-2-columns {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .grid-membership {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .slider {
      display: none
  }

  .w {
      font-size: 26px
  }
}

@media screen and (max-width: 479px) {
  h1 {
      font-size:42px
  }

  h2 {
      font-size: 34px
  }

  h3 {
      font-size: 28px
  }

  h4 {
      font-size: 24px
  }

  h5 {
      font-size: 20px
  }

  h6 {
      font-size: 16px
  }

  .heading-hero {
      font-size: 21px;
      line-height: 30px
  }

  .heading-hero._2 {
      line-height: 14px
  }

  .block-heading-hero {
      margin-bottom: 5px
  }

  .yel {
      font-size: 26px
  }

  .heading {
      max-width: 100%;
      font-size: 22px
  }

  .block-full {
      padding: 10px 0%
  }

  .text-footer-down {
      margin-right: 0
  }

  .block-down {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column
  }

  .block-hero---b {
      margin-bottom: 35px
  }

  .cta-simple {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center
  }

  .heading-cta-simple {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 24px
  }

  .section-cta-simple {
      padding: 25px 10px
  }

  .form-block {
      margin-bottom: 0
  }

  .form {
      display: block;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr
  }

  .text-field {
      margin-bottom: 7px
  }

  .submit-button {
      font-size: 19px
  }

  .grid-membership {
      padding-right: 15px;
      padding-left: 15px
  }

  .utility-page-content {
      margin: 10px;
      padding: 10%
  }

  .tab {
      padding: 5px 15px 5px 45px
  }

  .tab.w--current {
      padding-left: 15px
  }

  .txt1 {
      font-size: 13px
  }

  .w {
      font-size: 19px
  }

  .tabs-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center
  }
}
        
    
       
    
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)*-1);
  margin-right: calc(var(--bs-gutter-x)*-0.5);
  margin-left: calc(var(--bs-gutter-x)*-0.5)
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)*0.5);
  padding-left: calc(var(--bs-gutter-x)*0.5);
  margin-top: var(--bs-gutter-y)
}

@media(min-width:576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%
  }
}

@media(min-width:768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
}

@media(min-width:992px) {
  .col-lg {
    flex: 1 0 0%
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
}


.site-cookie {
  display: block;
  position: fixed;
  left: 8%;
  bottom: 20px;
  z-index: 9;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  color: #fff
}

@media (max-width: 767.98px){
.site-cookie {
    left: 0;
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: center;
}
}


.cookie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, .9);
  padding: 20px;
  border-radius: 10px
}
.align-items-center {
  display: flex;
 
  align-items: center;

  flex-wrap: wrap;
  flex-direction: column;
}
.align-items-center-2 {
  display: flex;
 
  align-items: center;

 
}
.mb-8{
  margin-bottom: 8px;
}
.btn-1 {
  --bs-btn-padding-x: .75rem;
  --bs-btn-padding-y: .375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: .375rem;
  --bs-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: .65;
  --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none
  }
}



.site-cookie ._cookie-title {
  font-family: var(--font-family-secondary);
  font-weight: 600;
  font-size: .7rem;
  text-transform: uppercase
}

.site-cookie p {
  font-size: 1rem;
  color: white!important;
}


@media(max-width:767.98px) {
.cookie-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, .9);
  padding: 20px;
  border-radius: 10px
}
}

@media(max-width:767.98px) {


._desc.container {
  text-align: center
}

}

.popupBox {
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 10px;
  background: linear-gradient(260deg, #0084b5, #0084b5);
  font-weight: 700;
  position: fixed;
  max-width: 100%;
  display: none;
  padding: 20px;
  width: 500px;
  color: #fff;
  z-index: 9;
  left: 50%;
  top: 50%
}

.popupBox p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1rem
}

.popupBox button {
  background: 0 0;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  float: right;
  width: 50px;
  color: #fff
}

.popupBox .h3,
.popupBox h3 {
  font-size: 20px;
  color: #fff !important
}




.site-cookie ._cookie-title {
  font-family: var(--font-family-secondary);
  font-weight: 600;
  font-size: .7rem;
  text-transform: uppercase
}

@media(max-width:767.98px) {
  .site-cookie ._cookie-action {
    text-align: center;
    margin-top: .6rem
  }
}

.site-cookie p {
  font-size: .6rem
}

.site-header {
  background: rgba(91, 176, 217, .1882352941)
}

@media(min-width:992px) {
  .site-header {
    margin-bottom: -100px
  }
}




.site-footer {
  background-color: #eee;
  padding: 25px 8px
}

.site-footer a {
  color: var(--color-text-dark)
}

.site-footer p {
  font-size: 1rem;
  margin-bottom: 1em
}

.site-footer ._footer-disclaimer {
  margin-bottom: 30px
}

.site-footer ._footer-copyrights p {
  margin-left: 10px;
  font-size: 1rem
}

.site-footer ._footer-copyrights-links a {
  margin-right: 5px
}

.site-footer ._footer-copyrights-links a:last-child {
  margin-right: 0
}

@media(max-width:575.98px) {
  .site-footer ._footer-copyrights-links {
    order: -1
  }
}
