/* reset */
/* main variables */
body { margin: 0px; padding: 0px; font-family: "IBM Plex Sans", arial, sans-serif; background-color: #FFF; height: 100%; line-height: 1.3; position: relative; font-size: 16px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #000; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

ul { list-style-type: none; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea, select, button { font-family: "IBM Plex Sans", arial, sans-serif; }

input, textarea { color: #333; font-family: "IBM Plex Sans", arial, sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #165DC4; -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover { color: #100da9; }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

img { max-width: 100%; }

@media screen and (max-width: 767px) { body { font-size: 15px !important; } }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before { content: "\e900"; }

.icon-arrow_down:before { content: "\e901"; }

.icon-arrow-down:before { content: "\e902"; }

.icon-arrow-left:before { content: "\e903"; }

.icon-arrow-next:before { content: "\e904"; }

.icon-arrow-next-big:before { content: "\e905"; }

.icon-arrow-next-big-1:before { content: "\e906"; }

.icon-arrow-prev-big:before { content: "\e907"; }

.icon-arrow-prev-big-1:before { content: "\e908"; }

.icon-arrow-right:before { content: "\e909"; }

.icon-arrow-up:before { content: "\e90a"; }

.icon-email:before { content: "\e90b"; }

.icon-facebook-o:before { content: "\e90c"; }

.icon-fb:before { content: "\e90d"; }

.icon-fb-s:before { content: "\e90e"; }

.icon-google-plus:before { content: "\e90f"; }

.icon-icon1:before { content: "\e910"; }

.icon-icon2:before { content: "\e911"; }

.icon-icon3:before { content: "\e912"; }

.icon-icon4:before { content: "\e913"; }

.icon-icon5:before { content: "\e914"; }

.icon-icon6:before { content: "\e915"; }

.icon-icon7:before { content: "\e916"; }

.icon-icon8:before { content: "\e917"; }

.icon-icon9:before { content: "\e918"; }

.icon-icon10:before { content: "\e919"; }

.icon-icon11:before { content: "\e91a"; }

.icon-icon12:before { content: "\e91b"; }

.icon-icon13:before { content: "\e91c"; }

.icon-icon14:before { content: "\e91d"; }

.icon-icon15:before { content: "\e91e"; }

.icon-icon16:before { content: "\e91f"; }

.icon-icon17:before { content: "\e920"; }

.icon-icon18:before { content: "\e921"; }

.icon-icon19:before { content: "\e922"; }

.icon-icon20:before { content: "\e923"; }

.icon-icon21:before { content: "\e924"; }

.icon-icon22:before { content: "\e925"; }

.icon-icon23:before { content: "\e926"; }

.icon-icon24:before { content: "\e927"; }

.icon-icon25:before { content: "\e928"; }

.icon-icon26:before { content: "\e929"; }

.icon-icon27:before { content: "\e92a"; }

.icon-icon28:before { content: "\e92b"; }

.icon-icon29:before { content: "\e92c"; }

.icon-icon30:before { content: "\e92d"; }

.icon-icon31:before { content: "\e92e"; }

.icon-icon32:before { content: "\e92f"; }

.icon-icon33:before { content: "\e930"; }

.icon-icon34:before { content: "\e931"; }

.icon-icon35:before { content: "\e932"; color: #fff; }

.icon-icon36:before { content: "\e933"; }

.icon-icon37:before { content: "\e934"; }

.icon-icon38:before { content: "\e935"; }

.icon-icon39:before { content: "\e936"; }

.icon-icon40:before { content: "\e937"; }

.icon-icon41:before { content: "\e938"; }

.icon-icon42:before { content: "\e939"; }

.icon-icon43:before { content: "\e93a"; }

.icon-icon44:before { content: "\e93b"; }

.icon-icon45:before { content: "\e93c"; }

.icon-icon46:before { content: "\e93d"; }

.icon-icon47:before { content: "\e93e"; }

.icon-icon48:before { content: "\e93f"; }

.icon-icon49:before { content: "\e940"; }

.icon-icon50:before { content: "\e941"; }

.icon-icon51:before { content: "\e942"; }

.icon-icon52:before { content: "\e943"; }

.icon-icon53:before { content: "\e944"; }

.icon-icon54:before { content: "\e945"; }

.icon-icon55:before { content: "\e946"; }

.icon-icon56:before { content: "\e947"; }

.icon-icon57:before { content: "\e948"; }

.icon-icon58:before { content: "\e949"; }

.icon-icon59:before { content: "\e94a"; }

.icon-icon60:before { content: "\e94b"; }

.icon-icon61:before { content: "\e94c"; }

.icon-icon62:before { content: "\e94d"; }

.icon-icon63:before { content: "\e94e"; }

.icon-instagram:before { content: "\e94f"; }

.icon-instagram-o:before { content: "\e950"; }

.icon-instagram-s:before { content: "\e951"; }

.icon-like:before { content: "\e952"; }

.icon-link:before { content: "\e953"; }

.icon-look:before { content: "\e954"; }

.icon-note:before { content: "\e955"; }

.icon-payment-1:before { content: "\e956"; }

.icon-payment-2:before { content: "\e957"; }

.icon-payment-3 .path1:before { content: "\e958"; color: white; }

.icon-payment-3 .path2:before { content: "\e959"; margin-left: -1em; color: white; }

.icon-payment-3 .path3:before { content: "\e95a"; margin-left: -1em; color: white; }

.icon-payment-3 .path4:before { content: "\e95b"; margin-left: -1em; color: white; }

.icon-payment-3 .path5:before { content: "\e95c"; margin-left: -1em; color: white; }

.icon-payment-3 .path6:before { content: "\e95d"; margin-left: -1em; color: white; }

.icon-payment-3 .path7:before { content: "\e95e"; margin-left: -1em; color: white; }

.icon-payment-3 .path8:before { content: "\e95f"; margin-left: -1em; color: white; }

.icon-payment-3 .path9:before { content: "\e960"; margin-left: -1em; color: white; }

.icon-payment-3 .path10:before { content: "\e961"; margin-left: -1em; color: #c0daec; }

.icon-payment-4:before { content: "\e962"; }

.icon-payment-5:before { content: "\e963"; }

.icon-payment-6:before { content: "\e964"; }

.icon-payment-7:before { content: "\e965"; }

.icon-payment-8:before { content: "\e966"; }

.icon-phone:before { content: "\e967"; }

.icon-price-1:before { content: "\e968"; }

.icon-price-2:before { content: "\e969"; }

.icon-price-3:before { content: "\e96a"; }

.icon-question:before { content: "\e96b"; }

.icon-quote:before { content: "\e96c"; }

.icon-quote-1:before { content: "\e96d"; }

.icon-result-1:before { content: "\e96e"; }

.icon-result-2:before { content: "\e96f"; }

.icon-result-3:before { content: "\e970"; }

.icon-result-4:before { content: "\e971"; }

.icon-result-5:before { content: "\e972"; }

.icon-result-6:before { content: "\e973"; }

.icon-share:before { content: "\e974"; }

.icon-skype:before { content: "\e975"; }

.icon-telegram:before { content: "\e976"; }

.icon-telegram-o:before { content: "\e977"; }

.icon-telegram-s:before { content: "\e978"; }

.icon-twitter-logo-button:before { content: "\e979"; }

.icon-twitter-o:before { content: "\e97a"; }

.icon-twitter-s:before { content: "\e97b"; }

.icon-viber:before { content: "\e97c"; }

.icon-viber-o:before { content: "\e97d"; }

.icon-viber-s:before { content: "\e97e"; }

.icon-vk-o:before { content: "\e97f"; }

.icon-vk-s:before { content: "\e980"; }

.icon-whatsapp:before { content: "\e981"; }

body.compensate-for-scrollbar { overflow: hidden; }

.fancybox-is-hidden { left: -9999px; margin: 0; position: absolute !important; top: -9999px; visibility: hidden; }

.fancybox-container { -webkit-backface-visibility: hidden; height: 100%; left: 0; outline: none; position: fixed; -webkit-tap-highlight-color: transparent; top: 0; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-transform: translateZ(0); transform: translateZ(0); width: 100%; z-index: 99992; }

.fancybox-container * { box-sizing: border-box; }

.fancybox-outer, .fancybox-inner, .fancybox-bg, .fancybox-stage { bottom: 0; left: 0; position: absolute !important; right: 0; top: 0; }
.fancybox-inner {background: none !important;}
.fancybox-outer { -webkit-overflow-scrolling: touch; overflow-y: auto; }

.fancybox-bg { background: #000; opacity: 0; -webkit-transition-duration: inherit; transition-duration: inherit; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg { opacity: .5; -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar, .fancybox-toolbar, .fancybox-caption, .fancybox-navigation .fancybox-button { direction: ltr; opacity: 0; position: absolute; -webkit-transition: opacity .25s ease, visibility 0s ease .25s; transition: opacity .25s ease, visibility 0s ease .25s; visibility: hidden; z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar, .fancybox-show-caption .fancybox-caption, .fancybox-show-nav .fancybox-navigation .fancybox-button { opacity: 1; -webkit-transition: opacity .25s ease 0s, visibility 0s ease 0s; transition: opacity .25s ease 0s, visibility 0s ease 0s; visibility: visible; }

.fancybox-infobar { color: #ccc; font-size: 13px; -webkit-font-smoothing: subpixel-antialiased; height: 44px; left: 0; line-height: 44px; min-width: 44px; mix-blend-mode: difference; padding: 0 10px; pointer-events: none; top: 0; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fancybox-toolbar { right: 0; top: 0; opacity: 1; visibility: visible; }

.fancybox-stage { direction: ltr; overflow: visible; -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 99994; }

.fancybox-is-open .fancybox-stage { overflow: hidden; }

.fancybox-slide { -webkit-backface-visibility: hidden; /* Using without prefix would break IE11 */ display: none; height: 100%; left: 0; outline: none; overflow: auto; -webkit-overflow-scrolling: touch; padding: 40px; position: absolute; text-align: center; top: 0; -webkit-transition-property: opacity, -webkit-transform; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; white-space: normal; width: 100%; z-index: 99994; }

.fancybox-slide::before { content: ''; display: inline-block; font-size: 0; height: 100%; vertical-align: middle; width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--previous, .fancybox-slide--current, .fancybox-slide--next { display: block; }

.fancybox-slide--image { overflow: hidden; padding: 44px 0; }

.fancybox-slide--image::before { display: none; }

.fancybox-slide--html { padding: 16px; }

.fancybox-content { display: inline-block; margin: 0; max-width: 100%; overflow: auto; -webkit-overflow-scrolling: touch; padding: 40px; position: relative; text-align: left; vertical-align: middle; }

.fancybox-slide--image .fancybox-content { -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1); animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1); -webkit-backface-visibility: hidden; background: transparent; background-repeat: no-repeat; background-size: 100% 100%; left: 0; max-width: none; overflow: visible; padding: 0; position: absolute; top: 0; -ms-transform-origin: top left; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition-property: opacity, -webkit-transform; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content { cursor: -webkit-zoom-out; cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content { cursor: -webkit-zoom-in; cursor: zoom-in; }

.fancybox-can-swipe .fancybox-content, .fancybox-can-pan .fancybox-content { cursor: -webkit-grab; cursor: grab; }

.fancybox-is-grabbing .fancybox-content { cursor: -webkit-grabbing; cursor: grabbing; }

.fancybox-container [data-selectable='true'] { cursor: text; }

.fancybox-image, .fancybox-spaceball { background: transparent; border: 0; height: 100%; left: 0; margin: 0; max-height: none; max-width: none; padding: 0; position: absolute; top: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 100%; }

.fancybox-spaceball { z-index: 1; }

.fancybox-slide--video .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--iframe .fancybox-content { height: 100%; overflow: visible; padding: 0; width: 100%; }

.fancybox-slide--video .fancybox-content { background: #000; }

.fancybox-slide--map .fancybox-content { background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content { background: #fff; }

.fancybox-close.fancybox-close_popup { position: absolute; }

.fancybox-video, .fancybox-iframe { background: transparent; border: 0; display: block; height: 100%; margin: 0; overflow: hidden; padding: 0; width: 100%; }

/* Fix iOS */
.fancybox-iframe { left: 0; position: absolute; top: 0; }

.fancybox-error { background: #fff; cursor: default; max-width: 400px; padding: 40px; width: 100%; }

.fancybox-error p { color: #444; font-size: 16px; line-height: 20px; margin: 0; padding: 0; }

/* Buttons */
.fancybox-button { background: rgba(30, 30, 30, 0.6); border: 0; border-radius: 0; box-shadow: none; cursor: pointer; display: inline-block; height: 44px; margin: 0; padding: 10px; position: relative; -webkit-transition: color .2s; transition: color .2s; vertical-align: top; visibility: inherit; width: 44px; }

.fancybox-button--zoom { display: none; }

.fancybox-button, .fancybox-button:visited, .fancybox-button:link { color: #ccc; }

.fancybox-button:hover { color: #fff; }

.fancybox-button:focus { outline: none; }

.fancybox-button.fancybox-focus { outline: 1px dotted; }

.fancybox-button[disabled], .fancybox-button[disabled]:hover { color: #888; cursor: default; outline: none; }

/* Fix IE11 */
.fancybox-button div { height: 100%; }

.fancybox-button svg { display: block; height: 20px; overflow: visible; position: relative; width: 20px; }

.fancybox-button:hover svg { fill: #e5d738; }

.fancybox-button svg path { fill: currentColor; stroke-width: 0; }

.fancybox-button--play svg:nth-child(2), .fancybox-button--fsenter svg:nth-child(2) { display: none; }

.fancybox-button--pause svg:nth-child(1), .fancybox-button--fsexit svg:nth-child(1) { display: none; }

.fancybox-progress { background: #ff5268; height: 2px; left: 0; position: absolute; right: 0; top: 0; -ms-transform: scaleX(0); -webkit-transform: scaleX(0); transform: scaleX(0); -ms-transform-origin: 0; -webkit-transform-origin: 0; transform-origin: 0; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-timing-function: linear; transition-timing-function: linear; z-index: 99998; }

/* Close button on the top right corner of html content */
.fancybox-close-small { border: 0; text-align: center; font-size: 14px; color: #fff; cursor: pointer; padding: 5px; position: absolute; background: transparent; border: 0; right: 6px; top: 5px; height: auto; width: auto; z-index: 401; font-size: 15px; opacity: .4; -webkit-transition: opacity .3s ease-in; transition: opacity .3s ease-in; }

.fancybox-close-small:hover { opacity: 1; }

.fancybox-slide--html .fancybox-content { padding: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content { overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small { display: none; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button { background-clip: content-box; height: 100px; opacity: 0; position: absolute; top: -webkit-calc(50% - 50px); top: calc(50% - 50px); width: 70px; }

.fancybox-navigation .fancybox-button div { padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left { left: 0; padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right { padding: 31px 6px 31px 26px; right: 0; }

/* Caption */
.fancybox-caption { background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%); background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%); bottom: 0; color: #eee; font-size: 14px; font-weight: 400; left: 0; line-height: 1.5; padding: 75px 44px 25px 44px; pointer-events: none; right: 0; text-align: center; z-index: 99996; }

.fancybox-slide { opacity: 0; -webkit-transition: all 0.01s ease; transition: all 0.01s ease; }

.fancybox-slide.fancybox-slide--complete { opacity: 1 !important; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }

.fancybox-caption--separate { margin-top: -50px; }

.fancybox-caption__body { max-height: 50vh; overflow: auto; pointer-events: all; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited { color: #ccc; text-decoration: none; }

.fancybox-caption a:hover { color: #fff; text-decoration: underline; }

/* Loading indicator */
.fancybox-loading { -webkit-animation: fancybox-rotate 1s linear infinite; animation: fancybox-rotate 1s linear infinite; background: transparent; border: 4px solid #888; border-bottom-color: #fff; border-radius: 50%; height: 50px; left: 50%; margin: -25px 0 0 -25px; opacity: .7; padding: 0; position: absolute; top: 50%; width: 50px; z-index: 99999; }

@-webkit-keyframes fancybox-rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes fancybox-rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

/* Transition effects */
.fancybox-animated { -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1); transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous, .fancybox-fx-fade.fancybox-slide--next { opacity: 0; -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current { opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous { opacity: 0; -webkit-transform: scale3d(1.5, 1.5, 1.5); transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 0.5); transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous { opacity: 0; -ms-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next { opacity: 0; -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current { opacity: 1; -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous { opacity: 0; -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next { opacity: 0; -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current { opacity: 1; -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0); transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous { -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next { -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current { -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) { .fancybox-slide { padding-left: 6px; padding-right: 6px; }
  .fancybox-slide--image { padding: 6px 0; }
  .fancybox-slide--image .fancybox-close-small { background: #4e4e4e; color: #f2f4f6; height: 36px; opacity: 1; padding: 6px; right: 0; top: 0; width: 36px; }
  .fancybox-caption { padding-left: 12px; padding-right: 12px; } }

/* Share */
.fancybox-share { background: #f4f4f4; border-radius: 3px; max-width: 90%; padding: 30px; text-align: center; }

.fancybox-share h1 { color: #222; font-size: 35px; font-weight: 700; margin: 0 0 20px 0; }

.fancybox-share p { margin: 0; padding: 0; }

.fancybox-share__button { border: 0; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; line-height: 40px; margin: 0 5px 10px 5px; min-width: 130px; padding: 0 15px; text-decoration: none; -webkit-transition: all .2s; transition: all .2s; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }

.fancybox-share__button:visited, .fancybox-share__button:link { color: #fff; }

.fancybox-share__button:hover { text-decoration: none; }

.fancybox-share__button--fb { background: #3b5998; }

.fancybox-share__button--fb:hover { background: #344e86; }

.fancybox-share__button--pt { background: #bd081d; }

.fancybox-share__button--pt:hover { background: #aa0719; }

.fancybox-share__button--tw { background: #1da1f2; }

.fancybox-share__button--tw:hover { background: #0d95e8; }

.fancybox-share__button svg { height: 25px; margin-right: 7px; position: relative; top: -1px; vertical-align: middle; width: 25px; }

.fancybox-share__button svg path { fill: #fff; }

.fancybox-share__input { background: transparent; border: 0; border-bottom: 1px solid #d7d7d7; border-radius: 0; color: #5d5b5b; font-size: 14px; margin: 10px 0 0 0; outline: none; padding: 10px 15px; width: 100%; }

/* Thumbs */
.fancybox-thumbs { bottom: 0; display: none; margin: 0; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; padding: 2px; position: absolute; right: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 80px; z-index: 99995; text-align: center; }

.fancybox-thumbs-x { overflow-x: auto; overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs { display: block; }

.fancybox-show-thumbs .fancybox-inner { bottom: 85px; }

.fancybox-thumbs__list { font-size: 0; height: 100%; list-style: none; margin: 0 auto; overflow-x: hidden; overflow-y: auto; padding: 0; position: absolute; position: relative; white-space: nowrap; width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list { overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar { width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track { background: #fff; border-radius: 10px; box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb { background: #2a2a2a; border-radius: 10px; }

.fancybox-thumbs__list a { -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: rgba(0, 0, 0, 0.1); background-position: center center; background-repeat: no-repeat; background-size: cover; cursor: pointer; float: left; height: 75px; margin: 2px; max-height: -webkit-calc(100% - 8px); max-height: calc(100% - 8px); max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); outline: none; overflow: hidden; padding: 0; position: relative; -webkit-tap-highlight-color: transparent; width: 100px; }

.fancybox-thumbs__list a::before { border: 6px solid #e5d738; bottom: 0; content: ''; left: 0; opacity: 0; position: absolute; right: 0; top: 0; -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); z-index: 99991; }

.fancybox-thumbs__list a:focus::before { opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active::before { opacity: 1; }

.fancybox-slide--html { min-width: 320px; }

.fancybox-slide--video { -webkit-transition: -webkit-transform 2s ease-in; transition: -webkit-transform 2s ease-in; transition: transform 2s ease-in; transition: transform 2s ease-in, -webkit-transform 2s ease-in; display: block; }

.fancybox-slide--video .fancybox-content { -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }

.fancybox-slide--video.fancybox-slide--complete .fancybox-content { -webkit-transition: -webkit-transform .5s ease-in !important; transition: -webkit-transform .5s ease-in !important; transition: transform .5s ease-in !important; transition: transform .5s ease-in, -webkit-transform .5s ease-in !important; }

@media screen and (max-width: 560px) { .fancybox-slide--html { padding: 0; }
  .fancybox-is-open .fancybox-bg { background: #FFF; opacity: 1; } }

.main-wrapper { opacity: 1; }

.box-field { margin-bottom: 22px; position: relative; z-index: 0; }

.box-field_checkbox { position: relative; padding-left: 28px; padding-top: 9px; }

.box-field_checkbox .jq-checkbox { position: absolute; top: 7px; left: 0; }

.box-field-alert { margin-top: -7px; margin-bottom: 15px; }

.box-field-phone { z-index: 2; }

.label-placeholder { font-family: "IBM Plex Sans", arial, sans-serif; font-weight: 400; color: #fff; float: left; font-size: 16px; text-shadow: 0 0; width: 100%; position: absolute; padding-left: 15px; line-height: 1.25; left: 0; top: 12px; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }

.label-placeholder_textarea { font-size: 12px; top: -3px; }

.t-inp, textarea.t-inp { -webkit-transition: all 0.3s linear; transition: all 0.3s linear; text-overflow: ellipsis; overflow: hidden; color: #000; display: block; width: 100%; height: 47px; border: 0; border-bottom: 1px solid #fff; font-size: 16px; font-family: "IBM Plex Sans", arial, sans-serif; line-height: 20px; padding: 7px 23px; background: transparent; position: relative; z-index: 2; }

.input-cov .input-valid { background: transparent; border: 0; margin: -2px 0 0 7px; color: #ff1010; font-size: 12px; }

.input-cov .input-valid.invalid:before { display: none; }

.input-cov .input-valid.invalid:after { top: -webkit-calc(50% - 14px); top: calc(50% - 14px); }

.filled .input-valid + .label-placeholder { top: -16px; }

.filled .input-valid ~ .border-inp { -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

.error .t-inp, .error textarea { color: #f00; }

textarea.t-inp { height: 218px; padding-top: 22px; }

.input-cov .t-inp:focus + .label-placeholder .label-placeholder, .filled .label-placeholder { font-size: 12px; top: -3px; }

.filled-always { z-index: 1; /*    .invalid { border-top: 2px solid red; position: relative; margin-top: -2px; z-index: 3 }*/ }

.border-inp { position: absolute; bottom: 0; display: block; left: 0; height: 1px; width: 100%; background: #fff; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transition: all 0.15s ease; transition: all 0.15s ease; z-index: 0; }

.inp input:focus + .label-placeholder + .border-inp, .filled .border-inp { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

.form-control { background: #fff; border: 1px solid #fff; color: #252323; font-family: "IBM Plex Sans", arial, sans-serif; font-size: 16px; height: 50px; padding: 0 18px 5px; padding-right: 18px; width: 100%; }

.form-control.error { border-color: red; }

textarea.form-control, textarea.form-control.form-control__input_popup { height: 100px; padding-top: 10px; resize: vertical; overflow: auto; }

::placeholder { font-weight: 400; font-size: 16px; color: rgba(37, 35, 35, 0.5); }

::-webkit-input-placeholder { font-weight: 400; font-size: 16px; color: rgba(37, 35, 35, 0.5); }

:-moz-placeholder { font-weight: 400; font-size: 16px; color: rgba(37, 35, 35, 0.5); }

::-moz-placeholder { font-weight: 400; font-size: 16px; color: rgba(37, 35, 35, 0.5); }

:-ms-input-placeholder { font-weight: 400; font-size: 16px; color: rgba(37, 35, 35, 0.5); }

.box-field { margin-bottom: 18px; }

.box-field__button { margin-bottom: 0; padding-top: 8px; }

.box-field__button .btn, .box-field__button .btn-2 { width: 100%; }

.scrollDisabled { overflow: hidden; position: fixed !important; margin-top: 0; width: 100%; z-index: 0; }

.scrollDisabled.web { margin-right: 17px; width: -webkit-calc(100% - 17px); width: calc(100% - 17px); }

.div.wpcf7-response-output:empty { display: none; }

.crossfade { position: relative; }

.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.btn, .btn-2, .button_popup { background: #165DC4; border-radius: 100px; border: 0; color: #fff; display: inline-block; font-size: 16px; line-height: 20px; font-weight: 400; font-family: "IBM Plex Sans", arial, sans-serif; text-align: center; padding: 12px 15px 13px; box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3); -webkit-transition: all .6s ease-in; transition: all .6s ease-in; }

.btn:hover, .btn-2:hover, .button_popup:hover { background: #114796; color: #fff; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); }

.btn:hover, .btn-2:hover, .btn:focus, .btn-2:focus, .button_popup:hover, .button_popup:focus { -webkit-animation: pulse .6s; animation: pulse .6s; box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

.btn_white, .button_popup_white { background: transparent; border: 1px solid #fff; border-radius: 100px; color: #fff; -webkit-transition: background .4s ease-in, border-color .4s ease-in; transition: background .4s ease-in, border-color .4s ease-in; box-shadow: none; }

.btn_white:hover, .button_popup_white:hover { background: #165DC4; border-color: #165DC4; }

.btn-2 { background: -webkit-linear-gradient(348.18deg, #2157C8 0%, #AE08FA 49.97%, #AE08FA 67.97%, #2157C8 100%); background: linear-gradient(101.82deg, #2157C8 0%, #AE08FA 49.97%, #AE08FA 67.97%, #2157C8 100%); background-size: 200% 100%; }

.btn-2:hover { background: -webkit-linear-gradient(348.18deg, #2157C8 0%, #AE08FA 49.97%, #AE08FA 67.97%, #2157C8 100%); background: linear-gradient(101.82deg, #2157C8 0%, #AE08FA 49.97%, #AE08FA 67.97%, #2157C8 100%); background-size: 360% 100%; background-position: right bottom; }

.btn-blue { background: #165DC4; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); border-radius: 100px; min-height: 46px; font-size: 16px; line-height: 19px; text-align: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #FFFFFF; padding: 10px 63px 13px; }

.btn-blue:hover { background-color: #71abff; }

@-webkit-keyframes pulse { 0% { box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); } }

@keyframes pulse { 0% { box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); } }

.btn-order { padding-left: 35px; padding-right: 35px; }

.button-up { opacity: 0.8; position: relative; color: #FFF; position: fixed; right: 11px; bottom: 0px; z-index: 999999; display: none; font-size: 30px; }

.button-up:hover { opacity: 1; }

.button-up.dark { color: #303030; }

img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0 .07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0 !important; }

.ajax-loader { visibility: hidden !important; }

.box-field .intl-tel-input { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }

/* form valid*/
div.wpcf7-validation-errors, .wpcf7-mail-sent-ok { margin: 0; padding: 0; border: 0; }

.wpcf7-mail-sent-ok { display: none !important; }

.input-valid { display: none; color: #f00; text-align: center; border: 0; padding-left: 0; padding-right: 0; width: 100%; margin: 0; background: transparent; }

.input-valid.invalid { display: block; }

.form-control.wpcf7-not-valid, .invalid-field, .valid-field { border-width: 0 0 2px 0 !important; box-shadow: none !important; }

.t-inp.wpcf7-not-valid { box-shadow: none !important; }

.valid-field { border-color: #99ff99; }

.invalid-field, .wpcf7-not-valid, .window-open .form-control.form-control__input_popup.wpcf7-not-valid, .order__form .form-control.wpcf7-not-valid, .form-label .form-control.wpcf7-not-valid { border-color: red; }

.flag-container { z-index: 2; }

.ajax-loader { visibility: hidden !important; }

.invalid-box .intl-tel-input { border-bottom-color: red !important; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header.header-new { width: 100%; min-width: 320px; text-align: left; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; position: absolute; left: 0; top: 0; padding: 21px 0 0; z-index: 10; }

header.header-new .btn, header.header-new .btn-2 { min-width: 195px; }

header.header-new .btn-call .icon path { fill: #fff; }

.logo-fix { display: none; }

.fixed-header header.header-new.fixed { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; background: #fff; padding: 15px 0; position: fixed; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.fixed-header header.header-new.fixed .main-nav a, .fixed-header header.header-new.fixed .main-nav span, .fixed-header header.header-new.fixed .header-tel { color: #252323; }

.fixed-header header.header-new.fixed .main-nav li:before, .fixed-header header.header-new.fixed .main-nav li:after, .fixed-header header.header-new.fixed .main-nav li a:before, .fixed-header header.header-new.fixed .main-nav li a:after, .fixed-header header.header-new.fixed .main-nav li span:before, .fixed-header header.header-new.fixed .main-nav li span:after { background: #165DC4; }

.fixed-header header.header-new.fixed .logo-default { display: none; }

.fixed-header header.header-new.fixed .logo-fix { display: inline-block; }

.header-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.main-logo { width: auto; float: none; margin: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; position: static; z-index: 1; }

.main-nav { margin-left: 3%; -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main-nav ul { list-style: none; }

.main-nav li { display: inline-block; margin: 0 -2px 0 -3px; position: relative; }

.main-nav a, .main-nav span { color: #fff; display: inline-block; padding: 2px 10px 4px; }

.main-nav li:before, .main-nav li:after { content: ''; position: absolute; background: #FFF; width: 1px; height: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.main-nav li.current-menu-item:before, .main-nav li.current-menu-item:after, .main-nav li:hover:before, .main-nav li:hover:after { height: 100%; }

.main-nav li:before { left: 0; bottom: 0; }

.main-nav li:after { right: 0; top: 0; }

.main-nav li a:before, .main-nav li a:after, .main-nav li span:before, .main-nav li span:after { content: ''; position: absolute; background: #FFF; height: 1px; width: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.main-nav li.current-menu-item a:before, .main-nav li.current-menu-item a:after, .main-nav li:hover a:before, .main-nav li:hover a:after, .main-nav li.current-menu-item span:before, .main-nav li.current-menu-item span:after, .main-nav li:hover span:before, .main-nav li:hover span:after { width: 100%; }

.main-nav li a:before, .main-nav li span:before { top: 0; left: 0; }

.main-nav li a:after, .main-nav li span:after { bottom: 0; right: 0; }

.logo { height: 29px; width: 171px; }

.button-nav-wrap { display: none; }

.header-new .btn-call { text-transform: none; letter-spacing: inherit; position: static !important; width: auto; height: auto; }

.header-new .btn-call .icon { display: none; }

.header-link { background: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border-radius: 50%; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size: 17px; width: 39px; height: 39px; padding: 0 3px 1px 0; box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3); -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.header-link:hover { box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3); }

.header-tel { color: #fff; font-weight: 500; display: inline-block; margin-right: 34px; }

.header-tel:hover { color: #fff; }

.header-links { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; margin-left: 1.5%; }

.button-nav.active { position: relative; left: 0; top: 0; }

.fixed .button-nav .line { background: #000; }

header.fixed .btn-call .icon path { fill: #000; }

.fixed .button-nav.active .line { background: #fff; }

.black-header .header-new { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 25px; }

.black-header .header-new .btn-call .icon path { fill: #000; }

.black-header .main-nav a, .black-header .main-nav span, .black-header .header-tel, .black-header .header-tel:hover { color: #252323; }

.black-header .logo-default { display: none; }

.black-header .logo-fix { display: inline-block; }

.black-header .main-nav a, .black-header .main-nav span, .black-header .header-tel { color: #252323; }

.black-header .main-nav li:before, .black-header .main-nav li:after, .black-header .main-nav li a:before, .black-header .main-nav li a:after, .black-header .main-nav span:before, .black-header .main-nav span:after { background: #252323; }

@media screen and (max-width: 1280px) { header.header-new .btn, header.header-new .btn-2 { min-width: 180px; } }

@media screen and (max-width: 1200px) { .main-nav { font-size: 14px; } }

@media screen and (max-width: 1160px) { .header-tel { display: none; } }

@media screen and (max-width: 1120px) { header.header-new .btn, header.header-new .btn-2 { min-width: 150px; }
  .main-nav { font-size: 13px; }
  .main-nav a, .main-nav span { padding-top: 2px; padding-bottom: 3px; } }

@media screen and (max-width: 1040px) { .main-nav li { display: inline-block; }
  header.header-new .btn, header.header-new .btn-2 { min-width: 130px; } }

@media screen and (min-width: 992px) { .main-nav { height: auto !important; } }

@media screen and (max-width: 991px) { .main-nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; position: fixed; top: 0; left: 0; right: 0; bottom: 0; font-size: 16px; z-index: 10; -webkit-transition: background .3s ease .1s, opacity .2s ease .4s,  -webkit-transform 0s ease  .4s; transition: background .3s ease .1s, opacity .2s ease .4s,  -webkit-transform 0s ease  .4s; transition: transform 0s ease  .4s,  background .3s ease .1s, opacity .2s ease .4s; transition: transform 0s ease  .4s,  background .3s ease .1s, opacity .2s ease .4s,  -webkit-transform 0s ease  .4s; -webkit-transform: translate(-100%, 0); -ms-transform: translate(-100%, 0); transform: translate(-100%, 0); opacity: 0; margin: 0; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .main-nav ul { overflow: auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background: #e5d738; height: 100%; padding: 80px 40px 40px; max-width: 320px; width: 100%; -webkit-transform: translate(-100%, 0); -ms-transform: translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition: -webkit-transform .3s ease; transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease, -webkit-transform .3s ease; }
  .main-nav li { display: block; padding: 6px; }
  .main-nav.active { background: rgba(0, 0, 0, 0.6); -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; -webkit-transition: background .3s ease, opacity 0s ease; transition: background .3s ease, opacity 0s ease; }
  .main-nav.active ul { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
  .main-nav a, .main-nav span { font-size: 17px; }
  .black-header .main-nav a, .black-header .main-nav span, .black-header .header-tel { color: #FFF; }
  .button-nav-wrap { display: block; position: relative; z-index: 11; }
  .button-nav { width: 35px; height: 35px; position: relative; float: right; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; padding: 0; }
  .button-nav__cont { position: relative; display: block; }
  .button-nav .line { display: block; position: absolute; height: 3px; width: 100%; background: #fff; border-radius: 0; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .35s ease-in-out; transition: .35s ease-in-out; }
  .button-nav .line:nth-child(1) { top: 0; }
  .button-nav .line:nth-child(2) { top: 13px; }
  .button-nav .line:nth-child(3) { top: 26px; }
  .web .button-nav.active:hover { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .button-nav.active .line:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 10px; }
  .button-nav.active .line:nth-child(2) { opacity: 0; }
  .button-nav.active .line:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 10px; }
  .active .button-nav { z-index: 11; }
  .button-nav-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 244px; text-align: left; }
  .fixed-header header.header-new.fixed .main-nav a, .fixed-header header.header-new.fixed .main-nav span, .fixed-header header.header-new.fixed .header-tel { color: #fff; }
  .fixed-header header.header-new.fixed .main-nav li:before, .fixed-header header.header-new.fixed .main-nav li:after, .fixed-header header.header-new.fixed .main-nav li a:before, .fixed-header header.header-new.fixed .main-nav li a:after, .fixed-header header.header-new.fixed .main-nav li span:before, .fixed-header header.header-new.fixed .main-nav li span:after { background: #fff; }
  .black-header .button-nav .line { background: #000; }
  .black-header .button-nav.active .line { background: #fff; }
  .home .main-nav ul { background: #2157C8; }
  .black-header .main-nav li:before, .black-header .main-nav li:after, .black-header .main-nav li a:before, .black-header .main-nav li a:after, .black-header .main-nav span:before, .black-header .main-nav span:after { background: #fff; } }

@media screen and (max-width: 767px) { .button-nav-wrap { width: auto; }
  header.header-new .btn, header.header-new .btn-2 { min-width: 110px; }
  .main-logo { margin-left: 15px; } }

@media screen and (max-width: 480px) { .header-new .btn-call { min-width: 0px !important; overflow: visible; border-radius: 0; box-shadow: none; background: none; }
  .header-new .btn-call:hover { overflow: visible !important; }
  .main-logo { max-width: 146px; }
  header.header-new .btn, header.header-new .btn-2 { min-width: 100px; }
  header.header-new .btn, header.header-new .btn-2 { background: none; box-shadow: none; height: auto; min-width: 0; padding: 0; }
  header.header-new .btn span, header.header-new .btn-2 span { display: none; }
  .header-new .btn-call .icon { display: block; fill: #fff; width: 42px; height: 42px; }
  .black-header .btn-call .icon { fill: #000; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer-new { background: #252323; color: #fff; text-align: left; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.footer-new .t-inp, .footer-new textarea.t-inp { border-color: rgba(255, 255, 255, 0.2); border-top: 0 !important; border-left: 0 !important; border-right: 0 !important; padding-left: 0; padding-right: 0; color: #fff; }

.footer-new input.t-inp { height: 37px; }

.footer-new .label-placeholder { color: rgba(255, 255, 255, 0.3); padding-left: 0; padding-right: 0; top: 7px; }

.footer-new .box-field { margin-bottom: 14px; }

.footer-new .input-cov .t-inp:focus + .label-placeholder .label-placeholder, .footer-new .filled .label-placeholder { font-size: 12px; top: -11px; }

.footer-wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.footer-form { background: #2E2C2C; padding: 56px 29px 51px; width: 27%; }

.footer-form__note { margin-top: 32px; text-align: center; }

.footer-form__note a { border-bottom: 1px solid; font-size: 13px; color: rgba(255, 255, 255, 0.4); }

.footer-form__note a:hover { color: #fff; border-bottom-color: transparent; }

.footer-form .border-inp { display: none; }

.footer-button { margin-top: 28px; text-align: center; }

.footer-links { padding: 55px 37px 35px 0; width: 73%; }

.footer__btn { width: 100%; max-width: 135px; }

.footer-nav { width: -webkit-calc(100% - 241px); width: calc(100% - 241px); margin: 3px 0 0 27px; }

.footer-nav ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; list-style: none; }

.footer-nav li { margin: 0 5px; }

.footer-nav a { color: rgba(255, 255, 255, 0.8); font-size: 14px; }

.footer-nav a:hover { color: #fff; }

.footer-top { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding: 0; }

.footer-logo .logo { height: 36px; width: 214px; }

.footer-callback { margin-top: 7px; width: 100%; }

.footer-callback .btn, .footer-callback .btn-2 { min-width: 214px; box-shadow: none; }

.footer-contacts { border-top: 1px solid rgba(255, 255, 255, 0.2); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-top: 29px; padding-top: 29px; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: left; }

.footer-contacts__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; max-width: -webkit-calc(100% - 245px); max-width: calc(100% - 245px); width: 536px; }

.footer-contacts__group { padding-right: 10.3%; }

.footer-contacts__group:last-child { padding-right: 0; }

.footer-contacts__item { display: block; margin-bottom: 21px; padding: 0; max-width: 100%; }

.footer-contacts__link { color: #fff; font-size: 14px; white-space: nowrap; }

.footer-contacts__link i { color: #6C6C6C; font-size: 22px; margin-right: 10px; width: 22px; -webkit-transition: color .4s ease-in; transition: color .4s ease-in; }

.footer-contacts__link i.icon-email { font-size: 17px; }

.footer-contacts__link i.icon-viber { background: none; height: auto; }

.footer-contacts__link i, .footer-contacts__link span { display: inline-block; vertical-align: middle; }

.footer-contacts__link:hover { color: #fff; }

.footer-contacts__link:hover i { color: rgba(255, 255, 255, 0.8); }

.footer-contacts .social { margin-left: 28px; width: 217px; }

.social { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.social__list { list-style: none; }

.social__item { display: inline-block; margin: 0 3px; vertical-align: middle; }

.social__link { color: #929090; font-size: 26px; }

.social__link:hover { color: #fff; }

.social__title { color: rgba(255, 255, 255, 0.8); font-size: 14px; margin-bottom: 19px; }

.form-title { color: rgba(255, 255, 255, 0.8); font-weight: 500; font-size: 14px; text-align: center; text-transform: uppercase; margin: 0 auto 14px; max-width: 245px; }

.copyrights { border-top: 1px solid rgba(255, 255, 255, 0.2); font-size: 14px; padding: 33px 0; text-transform: uppercase; text-align: center; }

.footer-new .t-inp:-webkit-autofill, .footer-new .t-inp:-webkit-autofill:hover, .footer-new .t-inp:-webkit-autofill:focus, .footer-new .t-inp:-webkit-autofill, .footer-new .t-inp:-webkit-autofill:hover, .footer-new .t-inp:-webkit-autofill:focus { -webkit-text-fill-color: #fff; -webkit-box-shadow: 0 0 0px 1000px #2e2c2c inset !important; }

.fixed-icon { position: fixed; right: 19px; bottom: 19px; z-index: 20; width: 68px; height: 68px; font-size: 28px; }

@media screen and (max-width: 1240px) { .footer-top { display: block; }
  .footer-nav { margin: 25px -5px 0; width: 100%; }
  .footer-contacts__group { padding-right: 8%; } }

@media screen and (max-width: 1110px) { .footer-contacts__group { padding-right: 4.5%; } }

@media screen and (max-width: 1070px) { .footer-contacts__group { padding-right: 3.5%; } }

@media screen and (max-width: 1039px) { .footer-contacts { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .footer-contacts__list { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; width: 100%; max-width: 100%; margin-bottom: 20px; }
  .footer-callback { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; width: auto; margin-top: 3px; }
  .footer-contacts .social { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .footer-form { width: 265px; }
  .footer-links { width: -webkit-calc(100% - 265px); width: calc(100% - 265px); }
  .footer-nav ul { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .footer-links { padding-right: 32px; }
  .footer-contacts__group { padding-right: 6.5%; } }

@media screen and (max-width: 991px) { .footer-nav ul { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .footer-nav { margin: 25px -9px 0; width: 100%; }
  .footer-nav li { margin: 0 9px; }
  .footer-callback .btn, .footer-callback .btn-2, .footer-callback .button_popup { min-width: 180px; } }

@media screen and (max-width: 800px) and (min-width: 768px) { .footer-contacts__group { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-right: 0; width: 100%; }
  .footer-contacts__item { width: 50%; }
  .footer-contacts__item { padding-right: 20px; } }

@media screen and (max-width: 767px) { .footer-wrapper { display: block; }
  .footer-form { width: 100%; }
  .footer-top { text-align: center; }
  .footer-nav { margin-right: 0; margin-left: 0; }
  .footer-nav ul { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer-links { padding-right: 0; width: 100%; }
  .footer-contacts .social { margin-left: 20px; }
  .footer-contacts__list { margin-bottom: 10px; }
  .copyrights { padding: 20px 0; }
  .fixed-icon { font-size: 24px; width: 50px; height: 50px; bottom: 10px; right: 10px; } }

@media screen and (max-width: 480px) { .footer-top { text-align: center; }
  .footer-nav ul { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer-contacts__item { width: 50%; padding-right: 20px; }
  .footer-callback { text-align: center; width: 100%; }
  .footer-contacts .social { text-align: center; margin: 35px 0 0; width: 100%; }
  .social__link { font-size: 33px; }
  .footer-contacts__item { padding-right: 0; width: 100%; } }

@media screen and (max-width: 480px) { .footer-contacts__group:first-child { width: 65%; }
  .footer-contacts__group:nth-child(2) { padding-right: 0; width: 35%; }
  .footer-contacts__group:last-child { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-right: 0; width: 100%; }
  .footer-contacts__group:last-child .footer-contacts__item:first-child { width: 65%; }
  .footer-contacts__group:last-child .footer-contacts__item:last-child { width: 35%; } }

@media screen and (max-width: 359px) { .footer-contacts__link i { margin-right: 3px; }
  .footer-contacts__group:first-child { width: 68%; }
  .footer-contacts__group:nth-child(2) { padding-right: 0; width: 32%; }
  .footer-contacts__group:last-child .footer-contacts__item:first-child { width: 68%; }
  .footer-contacts__group:last-child .footer-contacts__item:last-child { width: 32%; } }

/* form valid*/
div.wpcf7-validation-errors, .wpcf7-mail-sent-ok { margin: 0; padding: 0; border: 0; }

.wpcf7-mail-sent-ok { display: none !important; }

.input-valid { display: none; color: #f00; text-align: center; border: 0; padding-left: 0; padding-right: 0; width: 100%; margin: 0; background: transparent; }

.input-valid.invalid { display: block; }

.form-control.wpcf7-not-valid, .invalid-field, .valid-field { border-width: 0 0 2px 0 !important; box-shadow: none !important; }

.t-inp.wpcf7-not-valid { box-shadow: none !important; }

.valid-field { border-color: #99ff99; }

.invalid-field, .wpcf7-not-valid, .window-open .form-control.form-control__input_popup.wpcf7-not-valid, .order__form .form-control.wpcf7-not-valid, .form-label .form-control.wpcf7-not-valid { border-color: red; }

.flag-container { z-index: 2; }

.box-field .intl-tel-input { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.main-nav li {
	margin-left: 0;
	margin-right: 0
}
/*.window-open .t-inp, .window-open textarea.t-inp, .window-open .form-control.form-control__input_popup {
	border: 0;
}*/

/*# sourceMappingURL=style-cover.css.map */
