@font-face {
  font-family: "firstfont";
  src: url("../fonts/6vHt7VHsGk3Z.eot");
  src: url("../fonts/6vHt7VHsGk3Z.eot#iefix") format("embedded-opentype"),
    url("../fonts/W02iz32uOzC2.ttf") format("truetype"), url("../fonts/ozXDh0LwzjbO.woff") format("woff"),
    url("../fonts/zLlp6drS1Cvn.svg#firstfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../glyphicons-halflings-regular_1.html");
  src: url("../glyphicons-halflings-regular.html#iefix") format("embedded-opentype"),
    url("../fonts/p2NfWbpfTMny.ttf") format("truetype"),
    url("../fonts/vncDOh9wJSDj.woff") format("woff"),
    url("../fonts/Udlfv6FSkZP8.svg#firstfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icon-company";
  src: url("../fonts/SY4aoLfW6fMG.eot");
  src: url("../fonts/SY4aoLfW6fMG.eot#iefix") format("embedded-opentype"),
    url("../fonts/YOD89LkdVbOO.ttf") format("truetype"), url("../fonts/01flNgchCTdh.woff") format("woff"),
    url("../fonts/OCUfvZuRCuo1.svg#icon-company") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icon-seo";
  src: url("../fonts/oOsGMsixfWJU.eot");
  src: url("../fonts/oOsGMsixfWJU.eot#iefix") format("embedded-opentype"),
    url("../fonts/3rgkdYTsJdPt.ttf") format("truetype"), url("../fonts/n0Lfb82cNBxZ.woff") format("woff"),
    url("../fonts/a4lxTIguZC83.svg#icon-seo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/BILazBlIKmDG.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BILazBlIKmDG.eot#iefix") format("embedded-opentype"),
    url("../fonts/bion4ow5kYOy.woff2") format("woff2"), url("../fonts/8eOujRs8Uxzf.woff") format("woff"),
    url("../fonts/Y5ErIPClC06M.ttf") format("truetype"),
    url("../fonts/MiHlcifEksM6.svg#Montserrat-Regular") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/AM1RrDqOpjIq.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AM1RrDqOpjIq.eot#iefix") format("embedded-opentype"),
    url("../fonts/MgSwrTXTxlUT.woff2") format("woff2"), url("../fonts/2ICeaNEkQ93o.woff") format("woff"),
    url("../fonts/ILm62DACbTsU.ttf") format("truetype"),
    url("../fonts/IFJvIOgSWNFv.svg#MontserratMedium") format("svg"); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/7KgLgsqvIEPl.eot"); /* IE9 Compat Modes */
  src: url("../fonts/7KgLgsqvIEPl.eot#iefix") format("embedded-opentype"),
    url("../fonts/VFv2R1G7Gi1c.woff2") format("woff2"), url("../fonts/cg7u0pxFAzcS.woff") format("woff"),
    url("../fonts/x0IQLLvlzQKH.ttf") format("truetype"),
    url("../fonts/zZdDksopQqeT.svg#Montserrat-Bold") format("svg"); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/9qjeY52Ukbxo.eot"); /* IE9 Compat Modes */
  src: url("../fonts/9qjeY52Ukbxo.eot#iefix") format("embedded-opentype"),
    url("../fonts/lkKEk2RYed4m.woff2") format("woff2"), url("../fonts/l6W1TvURAPxx.woff") format("woff"),
    url("../fonts/RtD9WLm42zTS.ttf") format("truetype"),
    url("../fonts/Uf7ICYMpH94J.svg#Montserrat-ExtraBold") format("svg"); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: block;
  src: url("../fonts/s1BJA6y3Hx2s.eot"); /* IE9 Compat Modes */
  src: url("../fonts/s1BJA6y3Hx2s.eot#iefix") format("embedded-opentype"),
    url("../fonts/x3RlqQi9bKjb.woff2") format("woff2"), url("../fonts/SctEXucqgmVk.woff") format("woff"),
    url("../fonts/gsS8L4VlQ1PN.ttf") format("truetype"),
    url("../fonts/Fj7LE7RjaSBl.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/b7Fw7Q8rWaoI.eot");
  src: url("../fonts/b7Fw7Q8rWaoI.eot") format("embedded-opentype"),
    url("../fonts/ZOUuwxf8srpy.woff2") format("woff2"), url("../fonts/Acl49GA02ghM.woff") format("woff"),
    url("../fonts/mHdCMtPqTaNR.ttf") format("truetype"),
    url("../fonts/1rXpZFdYR909.svg#IBMPlexSansItalic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: block;
  src: url("../fonts/ba3b3wcDRcqo.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ba3b3wcDRcqo.eot#iefix") format("embedded-opentype"),
    url("../fonts/QDxyJVymrSf2.woff2") format("woff2"), url("../fonts/LcrptPr0lLh3.woff") format("woff"),
    url("../fonts/Xn2Ck5DSQlEQ.ttf") format("truetype"),
    url("../fonts/cv98lCckHl5O.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: block;
  src: url("../fonts/aWHYHsN4WNaz.eot"); /* IE9 Compat Modes */
  src: url("../fonts/aWHYHsN4WNaz.eot#iefix") format("embedded-opentype"),
    url("../fonts/Q3ej0ye2Ttqn.woff2") format("woff2"), url("../fonts/Kpy64OI4lh4S.woff") format("woff"),
    url("../fonts/evgfEX4YWeh6.ttf") format("truetype"),
    url("../fonts/3RkbST2gpQlM.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: block;
  src: url("../fonts/dDqVpam3LIlI.eot"); /* IE9 Compat Modes */
  src: url("../fonts/dDqVpam3LIlI.eot#iefix") format("embedded-opentype"),
    url("../fonts/c6rDFgXb2Gf8.woff2") format("woff2"), url("../fonts/6a3ILbZFjq3q.woff") format("woff"),
    url("../fonts/xOtrCh9EmQLr.ttf") format("truetype"),
    url("../fonts/Xw3pp5qqsoyw.svg#IBMPlexSans-Bold") format("svg"); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/rNvRWuexe9nF.eot");
  src: url("../fonts/rNvRWuexe9nF.eot") format("embedded-opentype"),
    url("../fonts/CVZ9428lGmWY.woff2") format("woff2"),
    url("../fonts/sDTAggNKQMRG.woff") format("woff"),
    url("../fonts/UkvMD4VOpQSH.ttf") format("truetype"),
    url("../fonts/uNNfVCYiah5b.svg#OpenSansRegular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/3BivjW0u0bIx.eot");
  src: url("../fonts/3BivjW0u0bIx.eot") format("embedded-opentype"),
    url("../fonts/IKAPybR2Dy4q.woff2") format("woff2"),
    url("../fonts/0qeGM7tp3btq.woff") format("woff"),
    url("../fonts/dHXEu8y6yGrd.ttf") format("truetype"),
    url("../fonts/zInYHKIu1q2b.svg#OpenSansBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OtjcudrEsSVC.eot");
  src: url("../fonts/OtjcudrEsSVC.eot#iefix") format("embedded-opentype"),
    url("../fonts/NNOrrSawz8o1.woff") format("woff"), url("../fonts/0vuTIawiCkYC.ttf") format("truetype"),
    url("../fonts/dcPreElU9n6V.svg#OpenSans-Extrabold") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/oJpAoIH42gsA.eot");
  src: url("../fonts/oJpAoIH42gsA.eot#iefix") format("embedded-opentype"),
    url("../fonts/m48HgPmX9krj.ttf") format("truetype"), url("../fonts/Hoq8gafVUA6T.woff") format("woff"),
    url("../fonts/zAMmgu0DVnT9.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
