body, h1, h2, h3, h4, h5, h6 {
	font-family: TTNorms, sans-serif;
}

.row-quiz {
	display: block;
}

#first {
	text-align: center;
	min-height: 100vh;
	background-image: linear-gradient(#fff, #000);
	color: #fff;
	padding-top: 100px;
}

#first div {
	max-width: 600px;
	margin: auto;
}

#first .img-rounded {
	border-radius: 20px;
	max-height: 250px;
	width: 100%;
	object-fit: cover;
	margin: 20px 0;
}

/* #first .logo {
	margin-bottom: 15px;
} */

#first p {
	font-size: 20px;
}

#first h1 {
	font-size: 30px;
	line-height: 1.2;
	margin-top: 5px;
	margin-bottom: 25px;
	font-weight: bolder;
}

.btn-quiz {
	background-color: rgb(61, 59, 238);
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
	animation: glowing 1300ms infinite;
}

.btn-quiz:hover {
	color: #fff;
	opacity: 0.8;
}

.questions .inner {
	max-width: 1200px;
	padding: 20px;
	border: 1px solid #ddd;
	margin: auto;
	margin-top: 200px;
}

.questions .inner img {
	width: 100%;
}

.questions progress {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
}

.questions span {
	color: #828b9b;
	/* font-size: 18px; */
	font-size: 16px;
	text-align: center;
	display: block;
	width: 100%;
}

.questions i {
	color: rgb(61, 59, 238);
}

.questions label {
	display: block;
	border: 1px solid #eee;
	padding: 15px 25px;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: normal;
	cursor: pointer;
}

.questions label input {
	margin-right: 10px;
}

.questions .row {
	display: flex;
}

.btn-back, .btn-continue {
	padding: 10px 20px;
	position: absolute;
	bottom: 10px;
}

.btn-back {
	left: 25px;
}

.btn-continue {
	right: 25px;
}

.questions {
	display: none;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-container label {
	border: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 5px;
}

.form-container input {
	width: 300px;
	padding: 6px 12px;
}

.form-container button {
	display: flex;
	background-color: rgb(61, 59, 238);
	padding: 13px 17px;
	font-size: 16px;
	margin-top: 20px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.form-container button:hover {
	color: #fff;
	opacity: 0.9;
}

@keyframes glowing {
	0% {
		background-color: rgb(61, 59, 238);
		box-shadow: 0 0 5px rgb(61, 59, 238);
	}

	50% {
		background-color: rgb(65, 80, 222);
		box-shadow: 0 0 20px rgb(65, 80, 222)
	}

	100% {
		background-color: rgb(40, 76, 191);
		box-shadow: 0 0 5px rgb(40, 76, 191)
	}
}

@media only screen and (max-width: 767px) {
	.questions .row {
		display: table;
	}

	.btn-back, .btn-continue {
		position: relative;
		margin-bottom: 15px;
		left: initial;
		right: initial;
		bottom: initial;
		display: none;
	}

	.questions .inner {
		margin: 50px 10px;
	}

	.questions h2 {
		font-size: 24px;
	}

	#first div {
		margin: 0 15px;
	}

	.questions .inner img {
		margin-top: 30px;
	}

	#first {
		padding-top: 20px;
		padding-bottom: 50px;
	}
}

.inner h2 {
	margin-bottom: 30px;
	font-weight: 600;
}