.elementor-304
	.elementor-element.elementor-element-5be11ae:not(.elementor-motion-effects-element-type-background),
.elementor-304
	.elementor-element.elementor-element-5be11ae
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #ff9e1c;
}

.elementor-304 .elementor-element.elementor-element-5be11ae {
	transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 0% 0% 0% 0%;
}

.elementor-304
	.elementor-element.elementor-element-5be11ae
	> .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-0ba4994.elementor-column
	.elementor-widget-wrap {
	align-items: center;
}

.elementor-304
	.elementor-element.elementor-element-0ba4994.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-304
	.elementor-element.elementor-element-0ba4994.elementor-column
	> .elementor-widget-wrap {
	justify-content: center;
}

.elementor-304
	.elementor-element.elementor-element-dd38b9e
	.elementor-icon-list-icon
	i {
	color: var(--e-global-color-text);
}

.elementor-304
	.elementor-element.elementor-element-dd38b9e
	.elementor-icon-list-icon
	svg {
	fill: var(--e-global-color-text);
}

.elementor-304 .elementor-element.elementor-element-dd38b9e {
	--e-icon-list-icon-size: 25px;
}

.elementor-304
	.elementor-element.elementor-element-dd38b9e
	.elementor-icon-list-text {
	color: var(--e-global-color-text);
}

.elementor-304
	.elementor-element.elementor-element-dd38b9e
	.elementor-icon-list-item
	> .elementor-icon-list-text,
.elementor-304
	.elementor-element.elementor-element-dd38b9e
	.elementor-icon-list-item
	> a {
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.elementor-304
	.elementor-element.elementor-element-f50e7b2:not(.elementor-motion-effects-element-type-background),
.elementor-304
	.elementor-element.elementor-element-f50e7b2
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-image: url("../images/shutterstock_1950138799-.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-304
	.elementor-element.elementor-element-f50e7b2
	> .elementor-background-overlay {
	background-color: var(--e-global-color-text);
	opacity: 0.3;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-304 .elementor-element.elementor-element-f50e7b2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	padding: 1% 5% 2% 5%;
}

.elementor-304
	.elementor-element.elementor-element-9b552d3
	.elementor-nav-menu
	.elementor-item {
	font-family: "Montserrat", Sans-serif;
	font-size: 23px;
	font-weight: 600;
	text-decoration: underline;
	line-height: 34px;
}

.elementor-304
	.elementor-element.elementor-element-9b552d3
	.elementor-nav-menu--main
	.elementor-item {
	color: var(--e-global-color-accent);
	fill: var(--e-global-color-accent);
}

.elementor-304
	.elementor-element.elementor-element-9b552d3
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-8306ae1.elementor-column
	.elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-304
	.elementor-element.elementor-element-8306ae1.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-304 .elementor-element.elementor-element-a961e54 {
	color: var(--e-global-color-accent);
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-736e8b9.elementor-column
	.elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-304
	.elementor-element.elementor-element-736e8b9.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-304
	.elementor-element.elementor-element-736e8b9.elementor-column
	> .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-304 .elementor-element.elementor-element-d69911d {
	--grid-template-columns: repeat(0, auto);
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
	width: auto;
	max-width: auto;
}

.elementor-304
	.elementor-element.elementor-element-d69911d
	.elementor-widget-container {
	text-align: center;
}

.elementor-304
	.elementor-element.elementor-element-d69911d
	.elementor-social-icon {
	background-color: #3a57b700;
}

.elementor-304 .elementor-element.elementor-element-2206c57 {
	text-align: right;
	width: auto;
	max-width: auto;
	align-self: center;
}

.elementor-304
	.elementor-element.elementor-element-2206c57
	.elementor-heading-title {
	color: #ffffff;
}

.elementor-304 .elementor-element.elementor-element-541f91b {
	padding: 5% 0% 5% 0%;
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-d2a6e41.elementor-column
	.elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-304
	.elementor-element.elementor-element-d2a6e41.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-304 .elementor-element.elementor-element-47904a8 {
	text-align: left;
}

.elementor-304
	.elementor-element.elementor-element-47904a8
	.elementor-heading-title {
	color: var(--e-global-color-accent);
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-c6c5da7.elementor-column
	.elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-304
	.elementor-element.elementor-element-c6c5da7.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-304
	.elementor-element.elementor-element-c6c5da7
	> .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-304 .elementor-element.elementor-element-7f0d453 {
	color: var(--e-global-color-accent);
}

.elementor-304 .elementor-element.elementor-element-c18e53b {
	color: var(--e-global-color-accent);
}

.elementor-304
	.elementor-element.elementor-element-c18e53b
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget
	.elementor-304
	.elementor-element.elementor-element-696cf9b.elementor-column
	.elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-304
	.elementor-element.elementor-element-696cf9b.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-304
	.elementor-element.elementor-element-696cf9b.elementor-column
	> .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-304 .elementor-element.elementor-element-cba6427 {
	text-align: right;
}

.elementor-304
	.elementor-element.elementor-element-cba6427
	.elementor-heading-title {
	color: var(--e-global-color-accent);
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: underline;
}

.elementor-304
	.elementor-element.elementor-element-cba6427
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.elementor-304 .elementor-element.elementor-element-dfca11f {
	text-align: right;
}

.elementor-304
	.elementor-element.elementor-element-dfca11f
	.elementor-heading-title {
	color: var(--e-global-color-accent);
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: underline;
}

.elementor-304
	.elementor-element.elementor-element-dfca11f
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media (min-width: 768px) {
	.elementor-304 .elementor-element.elementor-element-8306ae1 {
		width: 70%;
	}
	.elementor-304 .elementor-element.elementor-element-736e8b9 {
		width: 30%;
	}
}

@media (max-width: 1024px) {
	.elementor-304 .elementor-element.elementor-element-5be11ae {
		padding: 0% 0% 10% 0%;
	}
	.elementor-304 .elementor-element.elementor-element-f50e7b2 {
		padding: 1% 5% 10% 5%;
	}
	.elementor-304
		.elementor-element.elementor-element-9b552d3
		.elementor-nav-menu
		.elementor-item {
		font-size: 19px;
	}
	.elementor-304 .elementor-element.elementor-element-541f91b {
		padding: 5% 0% 0% 0%;
	}
}

@media (max-width: 767px) {
	.elementor-304
		.elementor-element.elementor-element-f50e7b2:not(.elementor-motion-effects-element-type-background),
	.elementor-304
		.elementor-element.elementor-element-f50e7b2
		> .elementor-motion-effects-container
		> .elementor-motion-effects-layer {
		background-image: url("../images/shutterstock_1950138799-.jpg");
	}
	.elementor-304 .elementor-element.elementor-element-f50e7b2 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 5% 8% 20% 8%;
	}
	.elementor-304
		.elementor-element.elementor-element-c689a11
		> .elementor-widget-wrap
		> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}
	.elementor-304
		.elementor-element.elementor-element-c689a11
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304
		.elementor-element.elementor-element-9b552d3
		.elementor-nav-menu
		.elementor-item {
		font-size: 14px;
	}
	.elementor-304
		.elementor-element.elementor-element-9b552d3
		.elementor-nav-menu--main
		.elementor-item {
		padding-left: 0px;
		padding-right: 0px;
	}
	.elementor-304 .elementor-element.elementor-element-9b552d3 {
		--e-nav-menu-horizontal-menu-item-margin: calc(17px / 2);
	}
	.elementor-304
		.elementor-element.elementor-element-9b552d3
		.elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
		.elementor-nav-menu
		> li:not(:last-child) {
		margin-bottom: 17px;
	}
	.elementor-304 .elementor-element.elementor-element-482e79a {
		margin-top: 4%;
		margin-bottom: 0%;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-8306ae1 {
		width: 100%;
	}
	.elementor-bc-flex-widget
		.elementor-304
		.elementor-element.elementor-element-8306ae1.elementor-column
		.elementor-widget-wrap {
		align-items: center;
	}
	.elementor-304
		.elementor-element.elementor-element-8306ae1.elementor-column.elementor-element[data-element_type="column"]
		> .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
	.elementor-304
		.elementor-element.elementor-element-8306ae1
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-736e8b9 {
		width: 100%;
	}
	.elementor-bc-flex-widget
		.elementor-304
		.elementor-element.elementor-element-736e8b9.elementor-column
		.elementor-widget-wrap {
		align-items: flex-end;
	}
	.elementor-304
		.elementor-element.elementor-element-736e8b9.elementor-column.elementor-element[data-element_type="column"]
		> .elementor-widget-wrap.elementor-element-populated {
		align-content: flex-end;
		align-items: flex-end;
	}
	.elementor-304
		.elementor-element.elementor-element-736e8b9.elementor-column
		> .elementor-widget-wrap {
		justify-content: flex-start;
	}
	.elementor-304
		.elementor-element.elementor-element-736e8b9
		> .elementor-widget-wrap
		> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}
	.elementor-304
		.elementor-element.elementor-element-736e8b9
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-541f91b {
		margin-top: 4%;
		margin-bottom: 0%;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-d2a6e41 {
		width: 100%;
	}
	.elementor-bc-flex-widget
		.elementor-304
		.elementor-element.elementor-element-d2a6e41.elementor-column
		.elementor-widget-wrap {
		align-items: center;
	}
	.elementor-304
		.elementor-element.elementor-element-d2a6e41.elementor-column.elementor-element[data-element_type="column"]
		> .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
	.elementor-304
		.elementor-element.elementor-element-d2a6e41
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-47904a8 {
		text-align: left;
	}
	.elementor-304
		.elementor-element.elementor-element-47904a8
		.elementor-heading-title {
		font-size: 12px;
		line-height: 22px;
	}
	.elementor-304
		.elementor-element.elementor-element-c6c5da7
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 0px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-696cf9b {
		width: 100%;
	}
	.elementor-304
		.elementor-element.elementor-element-696cf9b.elementor-column
		> .elementor-widget-wrap {
		justify-content: flex-start;
	}
	.elementor-304
		.elementor-element.elementor-element-696cf9b
		> .elementor-widget-wrap
		> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 10px;
	}
	.elementor-304
		.elementor-element.elementor-element-696cf9b
		> .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 25px 0px 20px 0px;
	}
	.elementor-304 .elementor-element.elementor-element-cba6427 {
		text-align: left;
	}
	.elementor-304
		.elementor-element.elementor-element-cba6427
		.elementor-heading-title {
		font-size: 12px;
	}
	.elementor-304 .elementor-element.elementor-element-dfca11f {
		text-align: left;
	}
	.elementor-304
		.elementor-element.elementor-element-dfca11f
		.elementor-heading-title {
		font-size: 12px;
	}
}
