.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    line-height: 17px;
    color: black;
    text-decoration: none;
}

.vk-link {
    text-decoration: none ! important;
    cursor: default ! important;
}

.vk-header {
    background: none repeat scroll 0% 0% rgb(218, 226, 232);
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
}

.banner {
    padding: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 10px 0;
}
.banner .b300 {
    display: none;
}
.banner img {
    max-width: 100%;
margin: auto;
	
}
@media (max-width: 768px) {
.b600 {
    display: none !important;
}
.banner .b300 {
    display: initial;
}
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(218, 225, 232);
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.vk-comment:last-child {
    border-bottom: 0px none;
}

.vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 12px;
}

.vk-comment-text {
    margin-left: 60px;
}

.vk-comment-date {
    margin-left: 60px;
    color: rgb(153, 153, 153);
}

.vk-comment-like {
    position: absolute;
    right: -5px;
    bottom: 10px;
    width: 30px;
    height: 16px;
    display: inline-block;
}

.vk-comment-like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.vk-comment-like-count {
    padding-left: 14px;
    font-weight: bold;
    color: rgb(114, 149, 178);
    font-size: 10px;
}

.vk-comment-answer {
    color: rgb(43, 88, 122);
}

.vk-comment-answer:hover {
    opacity: 0.5;
    cursor: pointer;
}


@media screen and (max-width: 999px)
{

    .vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 18px;
    line-height: 31px;
    color: black;
    text-decoration: none;
}
    .vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 18px;
}
    .vk-comment-like-count {
    padding-left: 14px;
    font-weight: bold;
    color: rgb(114, 149, 178);
    font-size: 14px;
}
   
}
@media screen and (max-width: 639px)
{

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 16px;
    line-height: 25px;
    color: black;
    text-decoration: none;
}
   
}

@media screen and (max-width: 319px)
{
  
    .vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 16px;
    line-height: 23px;
    color: black;
    text-decoration: none;
}
    .vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 15px;
}
    .vk-comment-like {

    display: none;
}
}
body { padding: 0px; margin: 0px; }
body * { font-family: Arial; }
h1, h2, h3 { font-weight: normal; margin: 0px; }
h1 { font-size: 27px; }
h2 { font-size: 21px; }
a { color: rgb(186, 0, 9); }
a:hover { text-decoration: none; color: rgb(255, 0, 0); }
.wrap { max-width: 730px; min-width: 240px; margin: 0px auto; width: 100% }
body img { max-width: 100%; }
.content { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.breadcrumbs { background: rgb(186, 0, 9) none repeat scroll 0% 0%; padding: 2px 2px 2px 15px; width: 140px; font-size: 16px; color: rgb(255, 255, 255); position: relative; top: 15px; margin-bottom: 25px; }
.breadcrumbs a { color: rgb(255, 255, 255); }
.breadcrumbs a:hover { text-decoration: none; }
.topic { height: 38px; width: 480px; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); position: relative; left: -10px; margin: 10px 0px; }
.topic span { float: left; display: block; }
.topic .title { width: 100px; text-align: center; font-size: 21px; color: rgb(186, 0, 9); position: relative; top: 8px; }
.topic .text { width: 380px; font-size: 16px; position: relative; top: 4px; }
.post { padding: 15px; font-size: 17px; }
.post .info { color: rgb(153, 153, 153); font-size: 11px; font-style: italic; }
.post a { font-size: 19px; }
.comments { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 5px; }
.comment { margin: 0px 15px; padding: 15px 0px; border-bottom: 1px solid rgb(204, 204, 204); }
.comment:last-child { border: medium none; }
.comment .avatar { float: left; width: 35px; height: 35px; }
.comment .text { margin-left: 45px; font-size: 13px; }
.comment .text .login { color: rgb(186, 0, 9); font-weight: bold; }
.comment .text .date { color: rgb(153, 153, 153); font-size: 11px; font-style: italic; }
.comment .text .data { display: block; margin-top: 2px; width: 70%; }
.comment .text .data img { display: block; position: relative; top: 5px; }
.photo { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 5px; padding-bottom: 10px; }
.footer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 5px; padding: 15px; height: 50px; font-size: 11px; }
.floatl{
    float: left;
    max-width: 335px;
    width: 100%;
    padding-right: 15px;
}
.vk-comment-text img{
    padding-top: 15px;
    padding-bottom: 15px;
}
.content{
        border: 1px solid #1E9C79;
    border-radius: 10px;
    box-sizing: border-box;
}
header .logo {
    padding: 20px 0;
    text-align: center;
}
header .logo h1:before {
    content: url(../img/img_logo.png);
    display: inline-block;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
header .logo h1 span {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height: 110px;
    color: #1E9C79;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    font-weight: bold;
}
.vk-comment, .vk-comment-load{
    box-sizing: border-box;
}
.vk-comment-like {
right: 0;
}
p {
    text-align: justify;
}
@media screen and (max-width:760px){
    header .logo h1 a{
        font-size: 48px;
    }
}
@media screen and (max-width:520px){
    .photo{
        display: none;
    }
    header .logo h1 a{
        font-size: 40px;
        
    }
    .floatl{
        display: block;
        margin: 0 auto;
        float: none;
        padding-bottom: 15px;
    }
}
@media screen and (max-width:457px){
    header .logo h1 a{
        line-height: 40px;
    }
}
.photo center{
    position: relative;
}
.photo span{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: 27px;
    font-weight: 800;
    top: 11px;
}
.btn {
	background-color: #000;
	color: #ffffff;
	display: inline-block;
	padding: 8px 30px;
	font-size: 28px;
	font-weight: bold;
	font-family: "Roboto Condensed", "sans-serif";
	box-shadow: 1px 2px 2px #999999;
	text-decoration: none;
	border-radius: 8px;
	border: 3px solid #ffffff;
	
	line-height: 25px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.btn:hover{
    box-shadow: 2px 3px 5px #999999;
    text-decoration: none !important;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.btn2 {
	background-color: #000;
	color: #ffffff;
	display: inline-block;
	padding: 10px 30px;
	font-size: 28px;
	font-weight: bold;
	font-family: "Roboto Condensed", "sans-serif";
	box-shadow: 1px 2px 2px #999999;
	text-decoration: none;
	border-radius: 8px;
	border: 3px solid #ffffff;
	margin: 15px 0px 0px;
	line-height: 25px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.btn2:hover{
    box-shadow: 2px 3px 5px #999999;
    text-decoration: none !important;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.vk-comment-name span {
	color: rgb(186, 0, 9); 
}

.comm_size {
	font-size: 12px;
}

.img_product {
	font-size: 240px;
	margin: 10px auto;
}