li, p, td, th {
    font-weight: 400;
}

h5, h6, cite {
    font-weight: 300;
}

.fontWeight100 {
    font-weight: 100;
}

.container-section2, .section-container3, .subsection-container3, .section-container4, .subsection-container4, .subsection-container7 {
    height: inherit;
}

.header-section2, .header-section3, .header-subsection2, .header-subsection3, .header-section4, .header-subsection4, .header-subsection7 {
    padding: 20px 0;
}

.container-section2, .section-container3, .subsection-container3, .section-container4, .subsection-container4, .subsection-container7 {
    padding-bottom: 20px;
}

a, p, h1, h2, h3, h4, h5, h6, li {
    color: #fff;
}

ul {
    display: flex;
}

input {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 0;
    border: none;
    height: .4vw;
}

a:hover {
    color: #fff;
    opacity: .5;
    text-decoration: none;
}

/* Backgrounds */

#first {
    z-index: 998;
    position: relative;
    background: url(../images/bgnew1.jpg) no-repeat center;
    background-size: cover;
    /*top: 60px;*/
    background-position-y: 0;
}

#second {
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    /*background-attachment: fixed;*/
    /*background-position-y: 5vw;*/
}

#third {
    box-shadow: 0 0 0 100vw rgba(255, 255, 255, 0.009) inset;
    background: linear-gradient(to right, #06162F, #0D345F 100%);
}

#fourth {
    background: url(../images/bgm.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#subsection4 {
    background: url(../images/bg.jpg);
    background-size: cover;
    box-shadow: 0 0 0 100vw rgba(26, 69, 117, 0.33) inset;
}
/* The end of the backgrounds */

/* Header */
header {
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999; 
    background: #0194CE;
    background-size: cover;
}

#burger {
    display: flex;
    height: min-content;
    align-items: center;
}

#menu {
    --mm-color-background: linear-gradient(45deg, #06162F , #0D345F 100%);
}

nav {
    width: 57%;
    display: none;
}

nav ul {
    flex-wrap: wrap;
}

.header-container {
    height: inherit;
    display: flex;
}

.header-left-side {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-left-side-logo {
    text-align: center;
    margin: auto 0;
}

    .header-left-side-logo img{
        width: 50px;
    }

    .header-left-side-logo h6 {
        text-decoration: underline;
        display: none;
    }

.menu-block {
    display: none;
}

#header-title br {
    display: none;
}

#header-title {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title h3 {
    text-align: center;
}

.header-right-side {
    display: none;
    flex-wrap: wrap;
    right: 10px;
    position: absolute;
}

.header-right-side-img img {
    width: 25px;
    height: 25px;
}

.header-right-side a {
    display: flex;
}

.header-right-side-block {
    display: flex;
    justify-content: space-between;
}

#XL {
    display: none;
}

#color {
    display: none;
}
/* The end of the header */

/* Search bar code */

.search-bar {
    width: 100%;
    z-index: 999;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(26, 69, 117, 1);
}

.search-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searching {
    width: 50%;
    display: flex;
    height: inherit;
    align-items: center;
}

.search-bar h4 {
    margin: 0;
}

.srchbtn {
    display: flex;
    height: inherit;
}

.placeholderSize {
    border: none;
    outline: none;
}

.srchbtn form {
    display: flex;
    align-items: center;
}

.srchbtn input[type=text] {
    border: none;
    font-weight: 300;
}

.searching input[type=button] {
    margin: 0 !important;
    background-color: #fff;
    background-size: cover !important;
    background-image: url(../images/search.png) !important;
}

.srchbtn input[type=image]:hover {
    background: #ccc;
}

.ya-page_js_yes .ya-site-form_inited_no {
    display: none;
}

#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    color: grey !important;
}

#ya-site-form0 .ya-site-form__search-input-layout, #ya-site-form0 .ya-site-form__search-input-layout-l {
    width: 50% !important;
}

.searching input[type=search] {
    border: none !important;
    font-weight: 300 !important;
}

#ya-site-form0 {
    width: 50% !important;
}

.ya-site-form__search-input-layout-r {
    float: left;
}

#ya-site-form0 .ya-site-form__search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ya-site-form0 .ya-site-suggest-list {
    border: none !important;
    box-shadow: none !important;
}

.visually-impaired {
    display: flex;
    align-items: center;
}

#off {
    display: none;
}

#medium {
    display: none;
}

#large {
    display: none;
}

#xlarge {
    display: none;
}

#fixed-nav {
    display: none;
}

/*Section 1*/
.section1 {
    height: inherit;
    background: rgba(26, 69, 117, 0.4);
}

.header-section1 h1:first-of-type {
    padding-top: 20px;
}

.header-section1 h1{
    text-align:center;
    font-size: 54px;
}

.card-section1 {
    width: 18vw;
    margin: 0 auto;
    padding-bottom: 10px;
}

#first .slick-slider {
    padding: 30px 0;
}

#feed-cards-section1 {
    margin: 0;
}

.card-section1 {
    display: flex;
    outline: none;
    flex-direction: column;
    background-color: transparent;
    /*box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);*/
}

.card-section1 a {
    outline: none;
}

#first .slick-slider {
    align-items: center;
}

.slick-arrow {
    border: none;
    outline: none;
    position: absolute;
    width: 100px;
    cursor: pointer;
    align-items: center;
    transition: 0.6s ease;
    justify-content: center;
    background-color: transparent;
}

.slick-arrow img {
    width: inherit;
    height: inherit;
}

.slick-arrow img:hover {
    opacity: .7;
}

.card-section1:hover {
    cursor: pointer;
    transition: .35s ease;
    /*box-shadow: .5vw 2vw rgba(0,0,0,.11);*/
}

.img-card-section1 {
    width: 100%;
    outline: none;
    background-size: cover;
}

.inf-card-section1 {
    outline: none;
    display: flex;
    overflow: hidden;
    border-radius: 0;
    height: 250px;
    flex-direction: column;
    width: 40%;
    min-width: 200px;
    margin: 0 auto;
}


    .inf-card-section1 h5 {
        outline: none;
        line-height: 1;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
    }

.Text-card-section1 {
    outline: none;
    text-align: center;
    margin: 15px 20px;
}

.text-card-section1 {
    outline: none;
    margin: 15px 20px;
}

    .text-card-section1 a {
        outline: none;
    }

    .text-card-section1 h4 {
        color: #fff;
        outline: none;
        font-weight: 400;
        text-align: center;
    }

#first .slick-dots {
    position: absolute;
    bottom: 1vw;
    left: 42.5vw;
}

/*The end of the section 1*/

/* Section 2*/

.container-section2 {
    display: flex;
    flex-direction: column;
    height: 1000px;
    padding-bottom: 40px;
}

.main-news-section2 {
    width: 100%;
    margin: 0 auto;
}

.main-news-section2-mobile {
    display: none;
}

.img-main-news-section2 {
    width: 70%;
    height: 350px;
    margin: 0 auto;
}

.title-main-news-section2 {
    left: -6%;
    z-index: 2;
    width: 60%;
    top: -100px;
    opacity: 0.9;
    position: relative;
    background: #0194CE;
}

    .title-main-news-section2 h4 {
        padding: 8px 6px;
        font-size: 12px;
    }

    .title-main-news-section2 h5 {
        padding: 3px 6px;
    }

    .title-main-news-section2:hover {
        opacity: 0.8;
    }

    .title-main-news-section2 h5 {
        color: #fff;
        opacity: 0.7;
    }

.other-news-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header-section2-1 {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.header-section2-1 h2 {
    text-align: center;
    font-size: 52px;
}

.header-section2-2 {
    display: none;
}

.filtering-news-section2 {
    display: none;
}

.filtering-news-section2 img {
    vertical-align: bottom;
}

.some-news-section2 {
    /*display: flex;*/
    height: 400px;
}

.news-card-section2 {
    width: 220px;
    height: 400px;
    margin: 25px; 
    display: flex;
    outline: none;
    flex-direction: column;
    background-color: rgba(13, 52, 95, 0);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}


.img-news-card-section2{
    height: 150px;
    outline: none;
}

.inf-news-card-section2 {
    display: flex;
    padding: 10px;
    outline: none;
    overflow: hidden;
    flex-direction: column;
}
   
    .inf-news-card-section2 h5 {
        color: #fff;
        opacity: 0.5;
        font-weight: 200;
        margin-bottom: 10px;
    }

.text-news-card-section2 {
    color: #606f7b;
    margin-bottom: 7%;
    outline:none;
    font-size: .875rem;
}

    .text-news-card-section2 h4 {
        color: #fff;
        line-height: 1;
        outline: none;
        font-weight: 700;
        margin-bottom: 5%;
        letter-spacing: 1px;
    }

    .text-news-card-section2 p {
        font-weight: 100;
        outline: none;
        margin-bottom: 5%;
    }

/*The end of the section 2*/

/*Section 3*/
.section-container3 {
    display: block;
}

.header-section3 {
    display: flex;
}

.header-section3 {
    justify-content: center;
}

.section-title-section3 h2{
    font-size: 52px;
    text-align: center;
}

.filtering-articles-section3 {
    padding-left: 18%;
}

    .filtering-articles-section3 img {
        vertical-align: bottom;
    }

.video-presentation-section3 {
    display: none;
}

.video-presentation-section3 img {
    width: 10%;
    z-index: 4;
    display: flex;
    position: relative;
}

.video-and-articles-section3 {
    display: flex;
    justify-content: center;
}

.video-presentation-section3 {
    width: 30%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    background-size: cover;
    /*background: url(/content/kaznu/images/5.jpg);*/
}

.background-filter-video-presentation-section3 {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.video-presentation-section3 a {
    display: flex;
}

.background-filter-video-presentation-section3 img {
    vertical-align: baseline;
}

.video-section3 {
    top: 0;
    left: -50%;
    /*width: 200%;*/
    position: absolute;
}

.new-articles-section3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

    .new-articles-section3 img {
        width: 100%;
        height: 100%;
    }

.I-inf-article-section3 a, .II-inf-article-section3 a, .III-inf-article-section3 a {
    color: #0194CE;
}

.I-inf-article-section3, .II-inf-article-section3, .III-inf-article-section3 {
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    display: flex;
    align-items: center;
}

    .I-inf-article-section3 h4, .II-inf-article-section3 h4, .III-inf-article-section3 h4 {
        padding: 10px 5px 0 5px;
        text-align: center;
    }

.I-II-articles-section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    /*height: 525px;*/
    overflow: hidden;
    margin-bottom: 25px;
}

.III-articles-section3 {
    /*width: 500px;
    height: 250px;*/
    width: 70%;
    margin-left: auto;
}

.I-article-section3 {
    /*width: 500px;
    height: 250px;*/
    display: flex;
    width: 70%;
    margin-bottom: 25px;
    margin-left: auto;
}

.I-img-article-section3 img, .III-img-article-section3 img {
    border-radius: 50% 0 0 25%;
}

.I-inf-article-section3, .III-inf-article-section3 {
    border-radius: 0 0 50% 0;
}

.II-inf-article-section3 {
    border-radius: 0 0 0 50%;
}

.II-img-article-section3 img {
    border-radius: 0 50% 25% 0;
}

.II-article-section3 {
    /*width: 500px;
    height: 250px;*/
    margin-top: auto;
    width: 70%;
    display: flex;
    margin-right: auto;
}

.III-article-section3 {
    width: 100%;
    height: 100%;
    display: flex;
}

.I-img-article-section3, .II-inf-article-section3, .I-inf-article-section3, .II-img-article-section3 {
    width: 50%;
    z-index: 1;
    height: inherit;
    max-width: 50%;
    position: relative;
}

.III-img-article-section3, .III-inf-article-section3 {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.triangle-right {
    width: 0;
    top: -57%;
    height: 0;
    z-index: 2;
    position: relative;
}

.triangle-left {
    width: 0;
    top: -57%;
    height: 0;
    z-index: 2;
    float: right;
    position: relative;
}

.triangle-up {
    width: 0;
    top: -12%;
    height: 0;
    z-index: 2;
    right: -43%;
    position: relative;
}

@media screen and (max-width: 600px) {
    .section-container3 h4 {
        font-size: 12px;
    }
}

/* The end of the section 3 */

/* Subsection 2 */

.header-subsection2 h4 {
    display: none;
}

.title-subsection2 h2{
    font-size: 52px;
    text-align: center;
}

#subsection2 {
    width: 100%;
    background: radial-gradient(at 50% 50%, #FFF8F8 0%, #000000 90%);
}

#subsection2 .background-filter {
    height: 250px;
}

.header-subsection2 {
    display: flex;
    justify-content: center;
}

#subsection2 .slick-slider {
    padding: 0;
}

.header-subsection2 h4 {
    margin-left: 5%;
    padding-top: 2.5%;
}

.main-subsection2 {
    outline: none;
    display: block;
    position: relative;
}

.dates-subsection2 {
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
}

.dates {
    width: 28%;
    z-index: 2;
    height: 70px;
    display: flex;
    position: relative;
    background: #0194CE;
    align-items: center;
    justify-content: center;
}

.dates .prev-next-arrows img {
        width: 50px;
        height: 50px;
    }

    #subsection2 .slick-arrow {
        width: 50px;
        height: 50px;
    }

    #subsection2 .slick-next1 {
        top: 1vw;
        left: 21vw;
    }

    #subsection2 .slick-prev1 {
        top: 1vw;
        left: 1.5vw;
    }

#subsection2 .slick-arrow {
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    align-items: center;
    transition: 0.6s ease;
    justify-content: center;
    background-color: transparent;
}

#subsection2 .slick-prev1 {
    z-index: 5;
}

.triangle-bottomleft-subsection2 {
    width: 0;
    height: 0;
    size: inherit;
    border-top: 70px solid #0194CE;
    border-right: 70px solid transparent;
}

.triangle-topright-subsection2 {
    z-index: 3;
    top: -.1vw;
    width: .1vw;
    left: -70px;
    height: .05vw;
    position: absolute;
    border-bottom: 70px solid #0194CE;
    border-left: 70px solid transparent;
}

.footer-subsection2 {
    z-index: 1;
    height: 70px;
    top: -15px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: rgba(26, 69, 117, 0.7);
}

.announcement-subsection2 {
    top: -25%;
    width: 90%;
    outline: none;
    text-align: center;
}

.announcement-subsection2 a {
    outline: none;
}

.announcements-subsection2 {
    outline: none;
}

.slick-track {
    outline: none;
}

.announcement-subsection2 h4 {
    font-style: italic;
}

/* The end of the subsection 2*/

/* Subsection 3 */

.section-container3 {
    margin: 0;
    width: 100%;
}

.title-subsection3 h2{
    font-size: 52px;
    text-align: center;
}

.subsection-container3 {
    display: block;
}

.main-subsection3 h4 {
    color: #0194CE;
    text-align: center;
    font-weight: 400;
}

.main-subsection3 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-subsection3 li {
    margin: 7px 14px 7px 0;
}

/* The end of the subsection 3*/

/* Section 4 */

.title-section4 h2{
    font-size: 52px;
    text-align: center;
}

.cards-section4 {
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
}

.card-section4 {
    outline: none;
    width: 280px;
    margin: 40px;
}

    .card-section4 a {
        outline: none;
    }

    .img-card-section4 {
        display: flex;
        outline: none;
        margin-bottom: 15px;
        justify-content: center;
    }

    .img-card-section4 img {
        width: 150px;
        height: 150px;
        outline: none;
    }

.text-card-title-section4 {
    height: 65px;
    outline: none;
    margin-bottom: 5px;
}

.text-card-section4 ul {
    display: block;
    outline: none;
}

.text-card-title-section4 h3 {
    text-align: center;
    outline: none;
}

.text-card-section4 p {
    text-align: center;
    font-weight: 300;
    outline: none;
}

.dots {
    border: none;
    outline: none;
    width: 10px;
    cursor: pointer;
    align-items: center;
    transition: 0.6s ease;
    justify-content: center;
    background-color: transparent;
}

.dots img{
    width: 10px;
    height: 10px;
}

#fourth .slick-dots {
    position: absolute;
    bottom: -3vw;
    left: 47vw;
}

.slick-dots li {
    margin: 0 2px;
}

.slick-dots .slick-active {
    opacity: .7;
}

/* The end of the section4 */
/* Subsection 4 */
.title-subsection4 h2 {
    font-size: 52px;
    text-align: center;
}

.main-subsection4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partners-subsection4 {
    display: flex;
    justify-content: space-around;
}

.partner-subsection4 {
    width: 150px;
    height: 150px;
}

.partner-subsection4 img {
    width: 60%;
}

.main-subsection4 a {
    outline: none;
}

.partner-subsection4 {
    display: flex;
    margin: 0 auto; 
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#subsection4 .slick-slider {
    padding: 0;
}

/* Subsection 5 */

#subsection5, #subsection8 {
    width: 100%;
    display: flex;
    background: #0194CE;
    align-items: center;
}

#subsection5 {
    display: none;
}

    #subsection5 ul {
        width: 100%;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #subsection5 li:hover {
        background: rgb(13, 52, 95);
    }

    #subsection5 li {
     text-align: center;
    }

    #subsection5 h5, #subsection8 h5 {
        padding: 15px 0;
    }

    #subsection5 li {
        width: 25%;
    }

/* The end of the section5 */

/* Subsection 6*/

#subsection6 {
    display: none;
    background: #fff;
    text-align: left;
    align-items: center;
}

    #subsection6 h4, #subsection9 h4 {
        color: rgb(50, 50, 50);
    }

.card-subsection6 {
    height: 84%;
    position: relative;
    border-left: .1vw solid rgba(26, 69, 117, 1);
    /*border-image: radial-gradient(circle at center, rgba(13, 52, 95, 1), rgba(13, 52, 95, 0)) 1 100%;*/
}

    .card-subsection6 ul {
        display: block;
    }

.card-text-title-subsection6 {
    height: 20%;
}

.card-text-subsection6 {
    height: 97%;
    overflow: hidden;
}

.card-subsection6 li > a {
    font-weight: 300;
    color: rgb(50, 50, 50);
}

.card-subsection6 a {
    color: #0194CE;
    font-weight: 700;
}

.card-subsection6 .more {
    position: absolute;
}

.border-bottom-card-subsection6 {
    width: 25%;
}

#profsouz-subsection6 .border-bottom-card-subsection6 {
    width: 33.333333333%;
}

.border-bottom-card-subsection6:hover {
    transition-duration: 1s;
}

/* The end of the subsection 6 */

/* Subsection 7*/

.title-subsection7 h2{
   font-size: 52px;
   text-align: center;
}

#subsection7 {
    background: #fff;
}

.subsection-container7 {
    display: block;
}

.main-subsection7 h4 {
    color: #0194CE;
    text-align: center;
    font-weight: 400;
}

.main-subsection7 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-subsection7 li {
    margin: 7px 14px 7px 0;
}

/* The end of the subsection 7 */

/* Footer */

footer {
    background: linear-gradient(to right, #06162F, #0D345F 100%);
    background-size: cover;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container div {
    margin: 5px auto;
    text-align: center;
}

.footer-address-socials {
    width: 75%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: block;
}

    .footer-address-socials p:first-of-type {
        padding-top: 0;
    }

.footer-other-references ul {
    display: block;
}

.footer-address-socials img {
    width: 50px;
    height: 50px;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.footer-contacts {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.footer-contacts div{
    margin: 15px
}

/* The end of the footer */

/* Feature ScrollToUp*/

#scroll-to-top {
    right: 0;
    width: 5%;
    z-index: 4;
    opacity: .7;
    height: 100%;
    display: none;
    position: fixed;
    background: #0D345F;
}

    #scroll-to-top:hover {
        opacity: 0.5;
    }

.card-text-subsection6 p {
    font-weight: 300;
    color: rgb(50, 50, 50);
}

.card-subsection6 span {
    color: #0194CE;
    font-weight: 700;
}

#about-university-subsection9 .card-subsection6 {
    height: 82%;
}

@media screen and (max-width: 767px) {
    .fullwidth-bg__video {
        display: none;
    }

    .fullwidth-bg {
        background: url('/uploads/video-bg-alt.jpg') center center / cover no-repeat;
    }

    .img-main-news-section2 {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .title-subsection7 h2, .title-subsection4 h2, .title-section4 h2, .section-title-section3 h2, .title-subsection3 h2, .title-subsection2 h2, .header-section2-1 h2, .header-section1 h1 {
        font-size: 40px;
    }

    #subsection2 .slick-list {
        overflow-y: auto;
    }
}

@media screen and (max-width: 450px) {
    #header-title h3 {
        font-size: 14px;
    }

    .footer-contacts {
        display: block;
    }

    .section-container3 h4 {
        font-size: 10px;
    }

    .fontWeight100 {
        font-weight: 200;
    }

    .title-main-news-section2 {
        width: 90%;
    }
}

