* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#blackWhiteBody {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}

a {
    text-decoration: none;
}

    a:hover {
        opacity: 0.7;
    }

.uppercase {
    text-transform: uppercase;
}

li, p, td, th {
    /*font-size: 1vw;*/
    font-weight: 400;
}

ul {
    list-style-type: none;
}

/*h1 {
    font-size: 5.5vw;
}

h2 {
    font-size: 3.3vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1vw;
}

h5 {
    font-size: .9vw;
    font-weight: 300;
}*/

h6, cite {
    /*font-size: .8vw;*/
    font-weight: 300;
}

.fontWeight100 {
    font-weight: 100;
}

.fontWeight500 {
    font-weight: 700;
}

.fontWeight400 {
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.w90m0auto {
    width: 90%;
    margin: 0 auto;
}

.border-bottom {
    border-bottom: .05vw solid rgba(255, 255, 255, .5);
}

