@charset "UTF-8";

/*! jQuery UI - v1.12.1 - 2017-01-04
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:after, .ui-helper-clearfix:before {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-autocomplete {
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0
}

.ui-menu .ui-menu {
    position: absolute
}

.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer
}

.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0
}

.ui-menu-icons {
    position: relative
}

.ui-menu .ui-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2em;
    margin: auto 0
}

.ui-menu .ui-menu-icon {
    left: auto;
    right: 0
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: 700
}

.ui-widget-header a {
    color: #333
}

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: 400;
    color: #454545
}

.ui-button, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button {
    color: #454545;
    text-decoration: none
}

.ui-button:focus, .ui-button:hover, .ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: 400;
    color: #2b2b2b
}

.ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, a.ui-button:focus, a.ui-button:hover {
    color: #2b2b2b;
    text-decoration: none
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px #5e9ed6
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #777620
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #5f3f3f
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #5f3f3f
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: 700
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: 400
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-icon {
    width: 16px;
    height: 16px
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_444444_256x240.png)
}

.ui-widget-header .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_444444_256x240.png)
}

.ui-button:focus .ui-icon, .ui-button:hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-hover .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_555555_256x240.png)
}

.ui-button:active .ui-icon, .ui-state-active .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_ffffff_256x240.png)
}

.ui-button .ui-state-highlight.ui-icon, .ui-state-highlight .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_777620_256x240.png)
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_cc0000_256x240.png)
}

.ui-button .ui-icon {
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/images/ui-icons_777777_256x240.png)
}

.ui-icon-blank {
    background-position: 16px 16px
}

.ui-icon-caret-1-n {
    background-position: 0 0
}

.ui-icon-caret-1-ne {
    background-position: -16px 0
}

.ui-icon-caret-1-e {
    background-position: -32px 0
}

.ui-icon-caret-1-se {
    background-position: -48px 0
}

.ui-icon-caret-1-s {
    background-position: -65px 0
}

.ui-icon-caret-1-sw {
    background-position: -80px 0
}

.ui-icon-caret-1-w {
    background-position: -96px 0
}

.ui-icon-caret-1-nw {
    background-position: -112px 0
}

.ui-icon-caret-2-n-s {
    background-position: -128px 0
}

.ui-icon-caret-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -65px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 1px -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-on {
    background-position: -96px -144px
}

.ui-icon-radio-off {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
    border-top-left-radius: 3px
}

.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr {
    border-top-right-radius: 3px
}

.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
    border-bottom-left-radius: 3px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
    border-bottom-right-radius: 3px
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
* {
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-size-adjust: none;
    padding: 0;
    margin: 0
}

body {
    padding: 0;
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    text-decoration: none
}

a:active, a:hover {
    outline-width: 0;
    text-decoration: underline
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

ins {
    text-decoration: none
}

form {
    margin: 0
}

@font-face {
    font-family: Roboto-Regular;
    src: local("Roboto");
    src: local("Roboto Regular");
    src: local("Roboto-Regular");
    src: local("Roboto-Regular.ttf");
    src: url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Regular.woff) format("woff"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Regular.ttf) format("truetype"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto-Light;
    src: local("Roboto");
    src: local("Roboto-Light");
    src: local("Roboto-Light");
    src: local("Roboto-Light.ttf");
    src: url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Light.woff) format("woff"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Light.ttf) format("truetype"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Light.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto-Medium;
    src: local("Roboto Medium");
    src: local("Roboto-Medium");
    src: local("Roboto-Medium.ttf");
    src: url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Medium.woff) format("woff"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Medium.ttf) format("truetype"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Medium.svg) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto-Bold;
    src: local("Roboto-Bold");
    src: local("Roboto-Bold.ttf");
    src: local("Roboto-Bold.woff");
    src: local("Roboto Bold");
    src: url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Bold.woff) format("woff"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Bold.ttf) format("truetype"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Bold.svg) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Roboto-Black;
    src: local("Roboto-Black");
    src: local("Roboto-Black.ttf");
    src: local("Roboto Black");
    src: url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Black.woff) format("woff"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Black.ttf) format("truetype"), url(https://static.cdn-kaspi.kz/kkz/shared/fonts/Roboto-Black.svg) format("svg");
    font-weight: 900;
    font-style: normal
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.grid__container {
    clear: both;
    min-width: 960px;
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto
}

.grid__container:after, .grid__container:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.grid__row {
    clear: both;
    margin-left: -5px;
    margin-right: -5px
}

.grid__row:after, .grid__row:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.grid__full-1, .grid__full-10, .grid__full-11, .grid__full-12, .grid__full-13, .grid__full-14, .grid__full-15, .grid__full-16, .grid__full-17, .grid__full-18, .grid__full-19, .grid__full-2, .grid__full-20, .grid__full-21, .grid__full-22, .grid__full-23, .grid__full-24, .grid__full-3, .grid__full-4, .grid__full-5, .grid__full-6, .grid__full-7, .grid__full-8, .grid__full-9 {
    float: left;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.grid__full-1 {
    width: 4.1666666667%
}

.grid__full-2 {
    width: 8.3333333333%
}

.grid__full-3 {
    width: 12.5%
}

.grid__full-4 {
    width: 16.6666666667%
}

.grid__full-5 {
    width: 20.8333333333%
}

.grid__full-6 {
    width: 25%
}

.grid__full-7 {
    width: 29.1666666667%
}

.grid__full-8 {
    width: 33.3333333333%
}

.grid__full-9 {
    width: 37.5%
}

.grid__full-10 {
    width: 41.6666666667%
}

.grid__full-11 {
    width: 45.8333333333%
}

.grid__full-12 {
    width: 50%
}

.grid__full-13 {
    width: 54.1666666667%
}

.grid__full-14 {
    width: 58.3333333333%
}

.grid__full-15 {
    width: 62.5%
}

.grid__full-16 {
    width: 66.6666666667%
}

.grid__full-17 {
    width: 70.8333333333%
}

.grid__full-18 {
    width: 75%
}

.grid__full-19 {
    width: 79.1666666667%
}

.grid__full-20 {
    width: 83.3333333333%
}

.grid__full-21 {
    width: 87.5%
}

.grid__full-22 {
    width: 91.6666666667%
}

.grid__full-23 {
    width: 95.8333333333%
}

.grid__full-24 {
    width: 100%
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (min-width: 1px) {
    .grid__container {
        min-width: 0;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0
    }

    .grid__row {
        clear: both;
        margin-left: 0;
        margin-right: 0
    }

    .grid__row:after, .grid__row:before {
        content: '';
        display: block;
        width: 100%;
        height: .00000001px;
        clear: both
    }

    .grid__full-1, .grid__full-10, .grid__full-11, .grid__full-12, .grid__full-13, .grid__full-14, .grid__full-15, .grid__full-16, .grid__full-17, .grid__full-18, .grid__full-19, .grid__full-2, .grid__full-20, .grid__full-21, .grid__full-22, .grid__full-23, .grid__full-24, .grid__full-3, .grid__full-4, .grid__full-5, .grid__full-6, .grid__full-7, .grid__full-8, .grid__full-9 {
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

html {
    min-width: 1px;
    min-height: 100%;
    position: relative
}

body {
    min-width: 1px;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
    background: #f0f0f0;
    margin: 0;
    padding: 0 0 248px;
    clear: both
}

body:after, body:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

body.body--blurred>* {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px)
}

body.body--noscroll, html.html--noscroll {
    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: 100%
}

body.body--noPointerEvents header :not(.headerAdapt__navButton), html.html--noPointerEvents header :not(.headerAdapt__navButton) {
    pointer-events: none
}

body.body--noPointerEvents footer *, body.body--noPointerEvents main *, html.html--noPointerEvents footer *, html.html--noPointerEvents main * {
    pointer-events: none
}

a {
    color: #0089cf
}

a:active, a:focus {
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

.mainLayout {
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 960px;
    float: left;
    width: 100%;
    clear: both
}

.mainContent {
    float: left;
    clear: both;
    width: 100%
}

.nobr {
    white-space: nowrap
}

.adapt {
    display: none
}

.middle {
    display: none
}

@media screen and (max-width: 1280px) {
    .middle {
        display: inline-block
    }
}

.full {
    display: inline-block
}

.clearfix:after, .clearfix:before {
    clear: both
}

.clearfix:after:after, .clearfix:after:before, .clearfix:before:after, .clearfix:before:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.blurredWrapper {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    width: 100%;
    min-height: 100%
}

.tenge {
    font-family: SFUIText-Regular
}

a#myBankBanner, div.grid__full-16>a.ddl_campaign_link, div.grid__full-8>div:nth-of-type(1)>a.ddl_campaign_link, div.swiper-slide-active, li.ourProducts__item--shop>a.ourProducts__link, section#kaspiredSection, section#payments, section#shoppingSection, section#startMainBanner, section.grid__full-24 {
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
    opacity: 1 !important
}

.authenticated_only, .unauthenticated_only {
    display: none !important
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (min-width: 1px) {
    html {
        min-width: 1px;
        min-height: 100%;
        position: relative;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch
    }

    body {
        clear: both;
        font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: normal;
        font-size: 3.73vw;
        width: 100%;
        min-width: 1px;
        color: #4a4a4a;
        background: #f0f0f0;
        margin: 0;
        padding-bottom: env(safe-area-inset-bottom);
        -webkit-overflow-scrolling: touch
    }

    body:after, body:before {
        content: '';
        display: block;
        width: 100%;
        height: .00000001px;
        clear: both
    }

    body.body--blurred>* {
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -o-filter: blur(6px);
        -ms-filter: blur(6px)
    }

    body.body--noscroll, html.html--noscroll {
        overflow: hidden !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 100%;
        position: fixed
    }

    body.body--noPointerEvents header :not(.headerAdapt__navButton), html.html--noPointerEvents header :not(.headerAdapt__navButton) {
        pointer-events: none
    }

    body.body--noPointerEvents footer *, body.body--noPointerEvents main *, html.html--noPointerEvents footer *, html.html--noPointerEvents main * {
        pointer-events: none
    }

    .mainContent {
        height: auto !important
    }

    .mainLayout {
        min-width: 0;
        max-width: 100%;
        position: relative;
        z-index: 1
    }

    .kaspi_button:not(.kaspi_button--large) {
        height: 61px;
        width: 288px;
        font-size: 26px;
        line-height: 57px;
        font-family: Roboto-Regular, Arial, Helvetica, sans-serif
    }

    .adapt {
        display: inline-block
    }

    .full {
        display: none
    }

    body .footer__wrapper {
        display: block
    }

    a#myBankBanner, div.grid__full-16>a.ddl_campaign_link, div.grid__full-8>div:nth-of-type(1)>a.ddl_campaign_link, div.swiper-slide-active, li.ourProducts__item--shop>a.ourProducts__link, section#kaspiredSection, section#payments, section#shoppingSection, section#startMainBanner, section.grid__full-24 {
        -webkit-opacity: 1 !important;
        -moz-opacity: 1 !important;
        opacity: 1 !important
    }
}

.authenticated_only, .unauthenticated_only {
    display: none !important
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.kaspi__button {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: normal;
    cursor: pointer;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 0;
    /* -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; */
    background-color: #0089d0;
    color: #fff;
    border-radius: 2px;
    height: 57px;
    line-height: 57px
}

.kaspi__button:active, .kaspi__button:focus {
    text-decoration: none
}

.kaspi__button:hover {
    text-decoration: none
}

.kaspi__button:active, .kaspi__button:focus {
    background: #006aa0
}

.kaspi__button:hover {
    text-decoration: none
}

.kaspi__button:active, .kaspi__button:focus {
    background: #006aa0
}

.kaspi__button:hover {
    text-decoration: none
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (min-width: 1px) {
    .kaspi__button {
        cursor: pointer;
        font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: none;
        padding: 0 15px;
        position: relative;
        display: inline-block;
        background-color: transparent;
        border: none;
        border-radius: 0;
        /* -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; */
        background-color: #0089d0;
        color: #fff;
        border-radius: 2px;
        border-radius: .53vw;
        font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 1.2;
        letter-spacing: normal;
        font-size: 4.53vw;
        height: 15.2vw;
        line-height: 15.2vw
    }

    .kaspi__button:active, .kaspi__button:focus {
        text-decoration: none
    }

    .kaspi__button:hover {
        text-decoration: none
    }

    .kaspi__button:active, .kaspi__button:focus {
        background: #006aa0
    }

    .kaspi__button:hover {
        text-decoration: none
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.h1 {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

.h3-30 {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

.h3, .textTitle {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

.h4, .textMain {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

.Main-text {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

.Small-gray {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #a8a8a8
}

.Small-black, .textSub {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4a4a4a
}

@font-face {
    font-family: swiper-icons;
    src: url("https://static.cdn-kaspi.kz/kkz/mainmvc/data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
    font-weight: 400;
    font-style: normal
}

.main__wrapper {
    clear: both;
    position: relative;
    min-width: 1040px;
    padding: 0 40px;
    z-index: 1
}

.main__wrapper:after, .main__wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.main__inner {
    clear: both
}

.main__inner:after, .main__inner:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.shopping_malls {
    clear: both;
    height: 40px
}

.shopping_malls:after, .shopping_malls:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.malls_list {
    height: 40px
}

.malls_list__item {
    height: 20px !important;
    width: 20px !important;
    margin: 10px;
    background: #f14635;
    margin-right: 13px;
    display: inline-block;
    cursor: pointer
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (min-width: 1px) {
    .main__wrapper {
        clear: both;
        min-width: 0;
        width: 100%;
        position: relative;
        padding: 0
    }

    .main__wrapper:after, .main__wrapper:before {
        content: '';
        display: block;
        width: 100%;
        height: .00000001px;
        clear: both
    }

    .body--mobileApp .main__wrapper {
        padding-top: 0;
        padding-bottom: 8vw
    }

    .body--search .main__wrapper {
        padding-top: 16.8vw
    }

    .body--web .main__wrapper {
        padding-top: 11.73vw
    }

    .body--services .main__wrapper {
        padding-top: 11.73vw
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    from {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.header__wrapper {
    display: none
}

.headerAdapt__langswitcher {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 2.67vw;
    right: 4vw
}

.body--AndroidOS .headerAdapt__langswitcher {
    top: 4vw
}

.headerAdapt__langswitcher .switcher__tab {
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 3.73vw;
    width: 10.67vw;
    height: 6.67vw;
    box-sizing: border-box;
    border-radius: 6.4vw;
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
    padding-top: .53vw;
    border: .53vw solid transparent;
    text-align: center
}

.headerAdapt__langswitcher .switcher__tab--active {
    color: #f14635;
    border: 2px solid #f14635
}

.headerAdapt__wrapper {
    clear: both;
    clear: both;
    float: left;
    width: 100%;
    min-width: 1px;
    min-height: 11.73vw;
    background: #fff;
    display: block;
    position: relative;
    padding: 0 13.33vw;
    text-align: center;
    /* position: fixed; */
    z-index: 10;
    top: 0;
    left: 0
}

.headerAdapt__wrapper:after, .headerAdapt__wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: .00000001px;
    clear: both
}

.headerAdapt__wrapper--withBorder {
    border-bottom: .27vw solid #ddd
}

.headerAdapt__navButton {
    width: 13.33vw;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0
}

.headerAdapt__navButton:after {
    content: '';
    display: block;
    position: absolute;
    left: 4vw;
    top: 4.8vw;
    width: 5.33vw;
    height: 4.53vw;
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/reswp/img/header/_m-header.sprite.png);
    background-repeat: no-repeat;
    background-position: -1vw -.8vw;
    background-size: 10vw 20.5vw
}

.headerAdapt__signin {
    display: block;
    width: 12.27vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.headerAdapt__signin:after {
    content: '';
    display: block;
    position: absolute;
    width: 5.33vw;
    height: 5.07vw;
    right: 3.41vw;
    top: 4vw;
    background-image: url(https://static.cdn-kaspi.kz/kkz/mainmvc/reswp/img/header/_m-header.sprite.png);
    background-repeat: no-repeat;
    background-position: -.9vw -6vw;
    background-size: 9vw 20.2vw
}

.headerAdapt__title {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 4.53vw;
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #000;
    padding: 3.2vw 0 0 8.8vw;
    line-height: 5.33vw;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: top
}

.headerAdapt__title:after {
    content: '';
    display: block;
    position: absolute;
    width: 7.47vw;
    height: 7.47vw;
    left: 0;
    top: 2.13vw;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0006 1.75L14.2027 1.75163C20.8577 1.85878 26.2222 7.24951 26.25 13.8951V14.0006L26.2493 14.0901C26.2158 17.0396 25.1269 19.7367 23.3445 21.829L23.3411 21.8272C23.2749 21.7922 23.1562 21.6824 22.9442 21.3637L22.937 21.3531C22.6824 20.9779 20.7948 18.0244 20.7948 14.6446L20.7951 14.6244C20.814 13.9536 21.7643 12.9186 22.6062 12.009L22.6577 11.953C23.2743 11.2826 23.8501 10.6517 24.0658 10.1531L24.0741 10.1334C24.3442 9.48255 24.1474 9.02848 23.8382 8.8735L23.8287 8.86895C23.5457 8.73664 23.1273 8.84168 22.8325 9.36778L22.8176 9.39392C22.3402 10.232 22.1794 10.3954 21.4734 10.9658L21.4522 10.9831C20.7491 11.5531 19.6552 12.1137 19.6552 11.3708L19.6554 11.3578C19.664 11.0815 19.943 10.5824 20.2172 10.0915C20.3512 9.85175 20.4841 9.61391 20.5839 9.40502L20.5931 9.38557C20.8908 8.74543 20.553 8.28415 19.9119 8.28415L19.8739 8.28464C18.6235 8.3166 17.7962 9.91782 17.7962 10.476L17.7963 10.5017C17.8002 10.7573 17.8612 10.9117 17.9244 11.0717C17.9949 11.2501 18.0682 11.4355 18.0682 11.7761L18.0678 11.796C18.0403 12.4545 16.6598 13.2949 15.3588 13.2949L15.3192 13.2948C14.0211 13.2892 13.2913 13.0056 13.0168 12.2106L12.9289 11.9495L12.9122 11.9006C12.6092 11.0098 12.3865 10.3572 12.0042 9.67551L11.9881 9.6475C11.7856 9.30328 11.4851 9.05934 11.2207 8.84471L11.2027 8.83013L11.1832 8.8148C10.8354 8.53923 10.6543 8.28603 10.6161 8.09636L10.615 8.09055C10.5797 7.89725 10.5667 7.53482 11.177 6.71027L11.1953 6.68549C11.7937 5.86956 11.8752 5.25309 11.5705 4.93353L11.561 4.92405C11.4482 4.8146 11.2619 4.74512 11.0245 4.74512L11.01 4.74521C10.5792 4.75028 9.98541 4.98208 9.37366 5.60691L9.34526 5.6366C8.62723 6.3991 8.79254 7.12899 8.90095 7.60767C8.93178 7.7438 8.95801 7.85962 8.95801 7.95009L8.95795 7.96393C8.954 8.36783 8.77526 8.60209 8.20476 9.15696L8.18744 9.17385C7.6195 9.73039 7.42218 10.2233 7.35633 12.146L7.35533 12.1824C7.32658 13.1606 7.15363 13.7289 6.99814 14.2334L6.98966 14.2613C6.857 14.6987 6.73683 15.1146 6.73023 15.7101L6.72975 15.748C6.72368 16.4003 6.83363 16.8276 6.96139 17.3193L6.96695 17.3394C7.0932 17.7979 7.22627 18.326 7.31199 19.2007L7.31811 19.2626C7.45997 20.7238 7.38878 21.9458 7.08352 23.2193L7.06784 23.3047L7.0634 23.3227C7.01275 23.5277 6.95265 23.7691 6.87221 23.8614L6.77952 23.7946C3.73162 21.5758 1.75 17.9931 1.75 13.9482C1.75 7.21191 7.23457 1.75 14.0006 1.75Z' fill='%23F14635'/%3E%3Cpath d='M13.953 14.8533L13.9209 14.8531C13.5289 14.8531 13.2211 14.9528 12.9863 15.1502C12.1736 15.8378 12.1793 17.7418 12.1956 19.9578L12.2001 20.6606C12.2096 22.8637 12.222 24.7717 12.7296 25.6302L12.7451 25.6559C12.9086 25.9206 13.2146 26.1154 13.6213 26.2344L13.6458 26.2414C13.6751 26.2423 13.7043 26.2434 13.7336 26.2444C13.791 26.2464 13.8485 26.2485 13.9065 26.2494L13.9722 26.25C14.9859 26.25 15.9708 26.1282 16.9144 25.9026L16.9787 25.887C17.3693 25.7 17.6543 25.4758 17.7582 25.2421L17.7639 25.2288C17.8218 25.0776 17.8544 24.8055 17.8559 24.4508L17.8559 24.4254C17.8559 22.9757 17.4285 20.2142 17.2157 18.8395L17.2077 18.7873L17.1002 18.0773L17.08 17.9373L17.079 17.9306C16.901 16.684 16.6999 15.276 14.4385 14.9017L14.3692 14.8907C14.2212 14.8675 14.0826 14.8551 13.953 14.8533Z' fill='%23F14635'/%3E%3Cpath d='M9.58429 19.5628L9.57015 19.5621L9.56206 19.5622C9.0521 19.5936 8.85502 22.2367 9.06996 24.0361L9.07659 24.0903C9.14904 24.652 9.26226 25.0834 9.41012 25.3621L9.41886 25.3783C9.61844 25.4596 9.82056 25.5352 10.0257 25.6059L10.1138 25.6359C10.3198 25.4534 10.4495 24.9486 10.41 23.7278L10.4088 23.6906C10.348 21.9265 10.0494 19.6091 9.58429 19.5628Z' fill='%23F14635'/%3E%3Cpath d='M19.7304 19.7677L19.706 19.7668C19.6606 19.7668 19.6166 19.7761 19.5744 19.7955C18.9722 20.0797 19.1975 23.3179 19.812 24.4037L19.8308 24.4359C19.8941 24.5383 20.0227 24.5574 20.1682 24.5362L20.1815 24.5341C20.6319 24.2756 21.0635 23.9893 21.4752 23.6787L21.5401 23.6295C21.592 23.5282 21.6345 23.409 21.6656 23.2572L21.6707 23.2316C21.7809 22.6967 20.5396 19.8254 19.7304 19.7677Z' fill='%23F14635'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover
}

.headerAdapt__title a {
    color: inherit;
    text-decoration: none
}

.headerAdapt__title a:active, .headerAdapt__title a:focus {
    color: inherit;
    text-decoration: none
}

.headerAdapt__title a:hover {
    text-decoration: none
}