@import url(http://fonts.googleapis.com/css?family=Montserrat);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 22px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
  font-family:Verdana, Geneva, sans-serif;
  color:#7f8c8d;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
 
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #fafafa;
  z-index:10;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
  padding: 10px 15px;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
  font-family:Verdana, Geneva, sans-serif;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to top, #00000080, #00000080), url(../img/top.jpg) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../startup/common-files/icons/menu-icon%402x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
/**
 * Header 2 stylesheet  
 * */
.header-2 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-2 > .container {
  position: relative;
}
.header-2 .navbar {
  position: absolute;
  z-index: 2;
  top: 135px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-2 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-2 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:-20px;
}
.header-2 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
  
  position: relative;
  top: -115px;
}
.header-2 .navbar .nav > li {
  margin-left: 35px;
}
.header-2 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-2 .navbar .nav > li > a {
  padding: 32px 0 30px;
  font-size: 17px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-2 .navbar .nav > li > a:hover,
.header-2 .navbar .nav > li > a:focus,
.header-2 .navbar .nav > li > a.active {
  color: #fff;
  text-decoration:underline;
}
.header-2 .navbar .nav > li.active > a {
   color: #fff;
  text-decoration:underline;
}
.header-2 .navbar .nav > li.active > a:hover,
.header-2 .navbar .nav > li.active > a:focus,
.header-2 .navbar .nav > li.active > a.active {
  color: #fff;
  text-decoration:underline;
}
.header-2-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 300px;
  padding-bottom: 180px;
  color: white;
  text-align: left;
}

.header-2-sub.ssub1{
	height: 800px;
	padding:0px;
	display: table;
    width: 100%;
	
}
.header-2-sub.ssub1 > div {
    display: table-cell;
    float: none;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}
.header-2-sub.ssub1 h1{
	font-size:48px !important;
	line-height:50px !important;
}
.header-2-sub.ssub1 .btn{
	font-size:22px;
	text-transform:uppercase;
	text-decoration:none !important;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
} 
@media (max-width: 991px) {
  .header-2-sub {
    padding-top: 165px;
  }
}
.header-2-sub .hero-unit {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  background: transparent;
}
.header-2-sub .hero-unit h1 {
  margin: 0 0 40px;
  font-size: 41px;
  font-weight: normal;
  font-family:Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-weight:normal;
  line-height: 40px;
}
.header-2-sub .hero-unit p {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0px;
  font-family:Verdana, Geneva, sans-serif;
  line-height:24px;
  padding-bottom: 30px;
  
}
.header-2-sub .hero-unit p strong{
	font-weight:bold;
	font-size:20px;
}

.header-2-sub .hero-unit p a{
	font-size:18px;
	text-decoration:underline;
	font-family:Verdana, Geneva, sans-serif;
	color:#fff;
	font-weight:normal;
}
.header-2-sub .hero-unit p a:hover{
	text-decoration:none;
}

.header-2-sub .btns {
  display: inline-block;
  margin-top: 25px;
}
.header-2-sub .btns a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:17px; 
}
@media (max-width: 480px) {
  .header-2-sub .btns {
    margin-top: 48px;
    display: block;
  }
}
.header-2-sub .btns .btn {
  min-width: 160px;
  float: left;
}
.btn-jumbotron {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #e5e5dc;
    color: #e5e5dc;
    padding: 8px 18px;
    transition: all 0.1s linear 0s;
}
.btn-jumbotron:hover {
    background: none repeat scroll 0 0 #e5e5dc;
    border: 2px solid #e5e5dc;
	color:#333;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn {
    float: none;
    display: block;
    margin-top: 10px;
  }
  .header-2-sub .btns .btn:first-child {
    margin-top: 0;
  }
}
.header-2-sub .btns .btn + .btn {
  margin-left: 20px;
}
@media (max-width: 480px) {
  .header-2-sub .btns .btn + .btn {
    margin-left: 0;
  }
}
.header-2-sub .btn.btn-inverse {
  background-color: #3c556e;
}
.header-2-sub .btn.btn-inverse:hover,
.header-2-sub .btn.btn-inverse:focus {
  background-color: #63778b;
}
.header-2-sub .btn.btn-inverse:active,
.header-2-sub .btn.btn-inverse.active {
  background-color: #33485e;
}
.header-2-sub .btn.btn-danger {
  background-color: #e32426;
}
.header-2-sub .btn.btn-danger:hover,
.header-2-sub .btn.btn-danger:focus {
  background-color: #c0392b;
}
.header-2-sub .btn.btn-danger:active,
.header-2-sub .btn.btn-danger.active {
  background-color: #c0392b;
}
.content-25 {
  position: relative;
  padding: 30px 0;
}
@media (max-width: 767px) {
  .content-25 {
    padding: 40px 5px;
  }
  .content-25 .svg,
  .content-25 .nosvg {
    display: block;
    text-align: center;
    float: none !important;
    margin-top: 45px;
  }
}
.content-25 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-25 p {
  font-size: 18px;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
  font-weight: normal;
}
.content-25 .year{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	color:#ed1b24;
	margin-top:0px;
	margin-bottom:-20px;
}
.content-25 .year span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:119px;
	color:#ed1b24;
}
.content-25 .pull-right{
	margin-top:70px;
	margin-bottom:-150px;
}
.content-25 svg,
.content-25 .svg {
  width: 100%;
}
.content-25 .nosvg {
  display: none;
}
.pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden;
}
.pt-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.pt-page-ontop {
  z-index: 999;
}
/**
 * Blog 1 stylesheet  
 * */
.blog-1 {
  padding-bottom: 0px;
  text-align:center;
  
}
.blog-1 .box-icon {
  margin: 0 auto 35px;
  text-align: center;
  font-size: 16px;
}
.blog-1 .box-icon > * {
  display: inline-block;
  vertical-align: middle;
}
.blog-1 .box-icon .icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 93px;
  height: 93px;
  margin: 0 50px;
  border: 6px solid #fff55b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 48px;
  line-height: 81px;
  color: #fff55b;
}
.blog-1 .page-transitions {
  padding-top:60px;
  padding-bottom:20px;
}
.blog-1 h3{ text-align:center; margin-bottom:18px; color:#2c3e50; font-size:41px; font-family:Verdana, Geneva, sans-serif; font-weight:normal;}
@media (max-width: 767px) {
  .blog-1 .page-transitions {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.blog-1 .page-transitions,
.blog-1 .page-transitions h1,
.blog-1 .page-transitions .h1,
.blog-1 .page-transitions h2,
.blog-1 .page-transitions .h2,
.blog-1 .page-transitions h3,
.blog-1 .page-transitions .h3,
.blog-1 .page-transitions h4,
.blog-1 .page-transitions .h4,
.blog-1 .page-transitions h5,
.blog-1 .page-transitions .h5,
.blog-1 .page-transitions h6,
.blog-1 .page-transitions .h6 {
  color: #2c3e50;
  font-family:Verdana, Geneva, sans-serif;

  
}
.blog-1 .features{
	font-size:14px;
	color:#7f8c8d;
}
.blog-1 .page-transitions h6{
	margin:20px 0px 10px;
	line-height:28px;
	font-size:18px;
	color: #2c3e50;
}



.blog-1 .page-transitions a {
  color: #ffffff;
}
.blog-1 .page-transitions a:hover,
.blog-1 .page-transitions a:focus,
.blog-1 .page-transitions a.active {
  color: rgba(0, 0, 0, 0.4);
}
.blog-1 .page-transitions .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
}
.blog-1 .page-transitions .hero-unit h1 {
  margin: 0 0 2px;
  font-size: 25px;
  line-height: normal;
}
.blog-1 .page-transitions .hero-unit p {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
}
.blog-1 .pt-page {
  padding-top: 145px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .blog-1 .pt-page {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-1 [class*="pt-control-"] {
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff55b;
}
.blog-1 .pt-first .pt-control-prev,
.blog-1 .pt-last .pt-control-next {
  background: none;
  border: 3px solid #ebedee;
}
.blog-1 .pt-first .bg-peter-river .pt-control-prev,
.blog-1 .pt-last .bg-peter-river .pt-control-next {
  background: none;
  border: 3px solid #5fccff;
}
.blog-1 .pt-first .bg-turquoise .pt-control-prev,
.blog-1 .pt-last .bg-turquoise .pt-control-next {
  background: none;
  border: 3px solid #1fe0ba;
}
.blog-1 .title {
  margin-bottom: 85px;
  padding: 88px 0 76px;
  border-bottom: 2px solid #ebedee;
  text-align: center;
}
@media (max-width: 767px) {
  .blog-1 .title {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-1 .title h3 {
  font-size: 30px;
  color: #2c3e50;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0;
  font-weight: 300;
}
.blog-1 .title .submitted {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #bdc3c7;
  margin-top: 18px;
}
.blog-1 .links {
  padding-bottom: 45px;
  position: relative;
  margin-top: 8px;
}
.blog-1 .links:after {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 48px;
  border-top: 3px solid #3498db;
}
.blog-1 .links,
.blog-1 .links * {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #34495e;
}
.blog-1 .links > * + * {
  margin-top: 63px;
}
.blog-1 .links h6 {
  margin: 0 0 15px;
  text-transform: none;
}
.blog-1 .links a {
  color: #bdc3c7;
}
.blog-1 .links a:hover,
.blog-1 .links a:focus,
.blog-1 .links a.active {
  color: #979c9f;
}
.blog-1 .links ul,
.blog-1 .links ol {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.blog-1 .links li {
  display: block;
}
.blog-1 .links li + li {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .blog-1 .links {
    display: none;
  }
}
.blog-1 p {
  margin: 0;
  margin-bottom:80px;
}
.blog-1 p + p {
  margin-top: 30px;
}
.blog-1 .boxes {
  *zoom: 1;
  margin: 0px 0;
}
.blog-1 .boxes:before,
.blog-1 .boxes:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.blog-1 .boxes:after {
  clear: both;
}
.blog-1 .boxes:before,
.blog-1 .boxes:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-1 .boxes:after {
  clear: both;
}
.blog-1 .boxes [class*="box-"] {
  background-color: #ecf0f1;
}
.blog-1 .boxes .box-1 {
  *zoom: 1;
  height: 340px;
}
.blog-1 .boxes .box-1:before,
.blog-1 .boxes .box-1:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.blog-1 .boxes .box-1:after {
  clear: both;
}
.blog-1 .boxes .box-1:before,
.blog-1 .boxes .box-1:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-1 .boxes .box-1:after {
  clear: both;
}
.blog-1 .boxes .box-2,
.blog-1 .boxes .box-3,
.blog-1 .boxes .box-4 {
  margin-top: 8px;
  float: left;
  height: 190px;
  width: 308px;
}
.blog-1 .boxes .box-3,
.blog-1 .boxes .box-4 {
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: 374.666px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: 234.666px;
  }
}
@media (max-width: 767px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: auto;
    margin-left: 0;
    float: none;
  }
}
/**
 * Content 11 stylesheet  
 * */
.content-11 {
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #f5f4f4;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family:Tahoma, Geneva, sans-serif;
  font-weight: 300;
}
.content-11 > .container {
  position: relative;
}
.content-11 .btn {
  margin-left: 33px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  background:#e32426;
}
@media (max-width: 480px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
@media (max-width: 614px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
.projects .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.projects .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects .pt-page-current,
.projects .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.projects .pt-page-ontop {
  z-index: 999;
}
.projects .v-center {
  display: table;
  width: 100%;
}
.projects .v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .projects .v-center.row {
    display: block;
    width: auto;
  }
  .projects .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Project 4 stylesheet  
 * */
.projects-4 {
  padding-top: 40px;
  padding-bottom: 110px;
}
.projects-4 h3 {
  margin: 20px 0 60px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.projects-4 .projects + .projects {
  margin-top: 80px;
}
.projects-4 .projects .photo-wrapper {
  height: 229px;
  position: relative;
  overflow: hidden;
}
.projects-4 .projects .photo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-4 .projects .overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 229px;
}
.projects-4 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-4 .projects .info {
  text-align: left;
  font-size: 13px;
  color: #95a5a6;
  margin-top: 27px;
}
.projects-4 .projects .info b {
  color: #7f8c8d;
}
.projects-4 .projects .name {
  color: #34495e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.projects-4 .projects .name.color-pomegranate:hover,
.projects-4 .projects .name.color-pomegranate.hover {
  color: #c0392b;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-orange:hover,
.projects-4 .projects .name.color-orange.hover {
  color: #f39c12;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-belize-hole:hover,
.projects-4 .projects .name.color-belize-hole.hover {
  color: #2980b9;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-green-sea:hover,
.projects-4 .projects .name.color-green-sea.hover {
  color: #16a085;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (max-width: 767px) {
  .projects-4 .projects .project-wrapper + .project-wrapper {
    margin-top: 10px;
  }
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 30px;
  font-weight: 300px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
  .header-2 .navbar {
	  top:10px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-2 label.h6 {
  margin-bottom: 12px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom:40px;
 }
.contacts-2 a {
  color: #34495e;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #34495e;
}
.contacts-2 form {
  margin: 0;
 
}
.contacts-2 form input,
.contacts-2 form select,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 56px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size:18px;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #ebedee;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 45px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
  font-size:18px;
  background-color: #ed1b24;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form span{
	color:red;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #ed1b24;
  opacity:0.9;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #ed1b24;
}
.contacts-2 .map {
  height: 200px;
  margin: 25px 0 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
  margin-bottom:40px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
}
.footer-2 a {
  color: #fff;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #fff;
  text-decoration:underline;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 40px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}

.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
  .contacts-2 .col-sm-6 strong{
	  display:block;
	  float:none !important;
	  margin-left:0px !important;
	  margin-bottom:10px !important;
	  font-size:16px !important;
	}
	.header-2 .navbar{
		top:15px;
	}
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
  .contacts-2 .col-sm-6 strong{
	  display:block;
	  float:none !important;
	  margin-left:0px !important;
	  margin-bottom:10px !important;
	  font-size:16px !important;
	}
	.header-2-sub .hero-unit h1 {
    color: #ffffff;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 18px;
}
.seldiv select{
	font-size:13px !important;
}
.contacts-2 form input, .contacts-2 form textarea {
	font-size:13px !important;
}
}

.photo-wrapper.border{
	border:1px solid #c3c3c3;
	border-radius:2px;
}

.photo-wrapper.border:hover{
	border:1px solid #2c3e50;
	border-radius:2px;
}

.photo-wrapper.border:hover .overlay{
	display:block;
	
}

.photo-wrapper.border .photo{
	display:block;
}

.content-12{
	background:#F3F1F1;
}

.content-12 .project-wrapper .photo{
	text-align:center;
	padding:20px 0px;
}

.tabs div{
	padding-bottom:20px;
	width:auto;
	padding-right:0px;
	padding-left:0px;
}

.tabs a{
	font-size:18px;
	color:#2e2e2e;
	display:inline-block;
	padding:7px 10px;
	font-family:Arial, Helvetica, sans-serif;
}

.tabs a:hover{
	text-decoration:underline;
}

.tabs a.active{
	background-color: #e32426;
	border-radius: 6px;
	color:#fff;
	text-decoration:none;
}

.blocks .photo-wrapper.border {
    border: 0px solid #c3c3c3;
    border-radius: 2px;
}

.blocks .info a.name{
	text-align:left;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#2c3e50;
	text-decoration:none;
	cursor:default;
	display:block;
	margin-bottom:20px;
}

.blocks .info{
	text-align:left;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#7f8c8d;
	text-decoration:none;
	cursor:default;
	padding-bottom:60px;
	padding-top:20px;
}

.blocks .overlay {
    color: #fff;
    display: none;
    height: 100%;
    left: 0;
    line-height: 229px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
	font-size:52px;
}

.blocks .project-wrapper:hover .overlay{
	display:block;
}
.blocks .project .photo-wrapper {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.blocks .project .photo {
    background: none no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
  
    height: 100%;
    left: 0;
   
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease 0s;
    width: 100%;
	background-repeat:no-repeat !important;
}
.seldiv{
	border-color: #ebedee;
    box-sizing: border-box;
    color: #7f8c8d;
    font-size: 18px;
    margin-bottom: 29px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
	position:relative;
	overflow:hidden;
	background:#fff;
	border-radius: 6px;
	
}
.seldiv img{
	position:absolute; top:5px; right:5px; z-index:5;
}
.seldiv select{
	z-index:10;
	position:relative;
	width:120% !important;
	max-width:120% !important;
	min-width:120% !important;
	background:none !important;
	border:0px !important;
	margin-bottom:0px !important;
}

.success{
	width:450px;
	height:240px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-120px;
	margin-left:-225px;
	text-align:center;

}

.success h2{
	font-size:36px;
	font-weight:normal;
	color:#363636;
	margin-top:0px;
}

.success p{
	font-size:18px;
	font-weight:normal;
	color:#363636;
	margin-bottom:20px;
}

.success a.btn{
	background:#e32426;
	padding-left:30px;
	padding-right:30px;
}
.tab2{
	display:none; 
}
@media (max-width: 480px) {
	.success{
	width:300px;
	height:240px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-120px;
	margin-left:-150px;
	text-align:center;

}
.tab1{
	display:none;
}
.tab2{
	display:block;
}
.tab2 h3{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	color:#000000;
	text-align:left;
	margin-bottom:20px;
	margin-top:35px;
}
.tab2 hr{
	border-width:2px;
}
.tab2 h6{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#000000;
	text-align:left;
}
.tab2 p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:left;
	margin-bottom:20px;
}
.success h2{
	font-size:26px;
	font-weight:normal;
	color:#363636;
	margin-top:0px;
}

.success p{
	font-size:14px;
	font-weight:normal;
	color:#363636;
	margin-bottom:20px;
}
}

.content-12 .projects .name {
    color: #34495e;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.blog-1.projects-4 .projects .photo-wrapper {
    height: 146px;
    overflow: hidden;
    position: relative;
}
.blog-1 .photo-wrapper.border {
    border: 0px solid #c3c3c3;
    border-radius: 0px;
}

.blog-1.projects-4 .projects .photo{
	opacity:1;
	}
	
.blog-1.projects-4 .projects .overlay {
	line-height:150px;
	color:#2c3e50;
	font-size:18px;
	text-decoration:underline;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#feed{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#pros h3, #feed h3 {
	font-size:18px;
	line-height:30px;
}


#pros form{
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ebedee;
    border-radius: 10px;
	margin-top:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:50px 30px;
	margin-right:-40px;
	margin-top:55px;
	
}

#pros form .btn{
	padding-left:0px;
	padding-right:0px;
	width:100%;
	text-align:center;
}

@media (max-width: 480px) {
	#pros form{
		margin-right:0px;
	}
	.header-2 .navbar{
		top:15px;
	}
	.header-2-sub.ssub1 .hero-unit h1 {
		font-size:26px !important;
		
	}
	
	.header-2-sub.ssub1 .hero-unit a {
		font-size:16px !important;
		
	}
	#b1-pt-1 h3{
		padding:0px 20px;
		font-size:30px;
	}
	
	#b1-pt-1 p.lead{
		padding:0px 20px;
		font-size:18px;
	}
	
	#b1-pt-1 .features div{
		margin-bottom:20px;
	}
	
	#b1-pt-1 .features p{
		font-size:14px;
		padding:0px 20px;
	}
	
}
#b1-pt-1 .features p{
		font-size:14px;
		
	}
.content-12 .projects .info{
		width:212px;
		margin:0 auto;
	}
#service .projects .info{
		width:212px;
		margin:10px auto 0px;
	}
#cb2{ display:none;}

@media (max-width: 768px) {
	#cb2{ display:block; font-size:30px !important;}
	#cb1{ display:none;}
}

.header{
    position:relative;
    top:-100px;
}