:root {
    --footer-bg-color: #282D3E;
    --footer-text-color: #FFFFFF;
    --subscribe-field-bg-color: #444B5F;
    --social-media-bg-color: #444B5F;
    --subscribe-action-bg-color: #B9966E;
    --copyright-text-color: #B5B9C5;
    --footer-hr-color: #32384A;
    --modal-bg-color: #FFFFFF;
    --color-white: #FFFFFF;
    --color-ink50: #F6F7F9;
    --color-ink100: #F1F2F4;
    --color-ink200: #E9E9ED;
    --color-ink300: #D9DCE2;
    --color-ink400: #B5B9C5;
    --color-ink500: #9399AB;
    --color-ink600: #7D8499;
    --color-ink700: #6A7186;
    --color-ink800: #565D73;
    --color-ink900: #444B5F;
    --color-ink1000: #32384A;
    --color-ink1100: #282D3E;
    --color-ink1200: #1C202C;
    --color-pineapple: #5E4012;
    --color-stetson: #9E7C55;
    --color-warrant: #B9966E;
    --color-early-snow: #FCF5E3;
    --color-blue-blue: #2D5AD2;
    --color-blue-jay: #4777FA;
    --color-fennel-flower: #82A8ED;
    --color-moon-white: #EBF4FF;
    --color-alpine-green: #006351;
    --color-greenbrier: #32A46A;
    --color-silver-tree: #66BD90;
    --color-grams-hair: #F0F7F4;
    --color-harlocks-cape: #C21313;
    --color-horror-snob: #DC4A47;
    --color-apple-valley: #EA8684;
    --color-ivory-tower: #FAF1F0;
    --color-brand-blue: #002A47;
    --color-burst-of-gold: #DAB267;
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/proximanova_regular.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}
body {
    font-family: "Proxima Nova" !important;
}
    body .bootstrapiso {
        font-family: "Proxima Nova" !important;
    }

:root {
    --footer-bg-color: #282D3E;
    --footer-text-color: #FFFFFF;
    --subscribe-field-bg-color: #444B5F;
    --social-media-bg-color: #444B5F;
    --subscribe-action-bg-color: #B9966E;
    --copyright-text-color: #B5B9C5;
    --footer-hr-color: #32384A;
    --modal-bg-color: #FFFFFF;
    --color-white: #FFFFFF;
    --color-ink50: #F6F7F9;
    --color-ink100: #F1F2F4;
    --color-ink200: #E9E9ED;
    --color-ink300: #D9DCE2;
    --color-ink400: #B5B9C5;
    --color-ink500: #9399AB;
    --color-ink600: #7D8499;
    --color-ink700: #6A7186;
    --color-ink800: #565D73;
    --color-ink900: #444B5F;
    --color-ink1000: #32384A;
    --color-ink1100: #282D3E;
    --color-ink1200: #1C202C;
    --color-pineapple: #5E4012;
    --color-stetson: #9E7C55;
    --color-warrant: #B9966E;
    --color-early-snow: #FCF5E3;
    --color-blue-blue: #2D5AD2;
    --color-blue-jay: #4777FA;
    --color-fennel-flower: #82A8ED;
    --color-moon-white: #EBF4FF;
    --color-alpine-green: #006351;
    --color-greenbrier: #32A46A;
    --color-silver-tree: #66BD90;
    --color-grams-hair: #F0F7F4;
    --color-harlocks-cape: #C21313;
    --color-horror-snob: #DC4A47;
    --color-apple-valley: #EA8684;
    --color-ivory-tower: #FAF1F0;
    --color-brand-blue: #002A47;
    --color-burst-of-gold: #DAB267;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Template*/
.kc-footer {
    font-family: "Proxima Nova";
    padding: 48px 30px 30px 30px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 17px;
}

    .kc-footer .kc-footer__block-title, .kc-footer .k-expander-title {
        color: var(--footer-text-color);
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .kc-footer .kc-footer__link-item {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        width: fit-content;
        color: var(--footer-text-color);
        margin-bottom: 12px;
    }

        .kc-footer .kc-footer__link-item:hover {
            color: var(--footer-text-color);
            text-decoration: none;
            position: relative;
        }

            .kc-footer .kc-footer__link-item:hover::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -4px;
                height: 2px;
                width: 100%;
                background-color: var(--footer-text-color);
            }

    .kc-footer .kc-footer__apps-link-block {
        margin-top: 84px;
        text-align: right;
    }

    .kc-footer .kc-footer__apps-link-block img {
        margin-left: 6px;
        width: 120px !important;
    }

    .kc-footer .kc-footer__social-media-block {
        display: flex;
    }

    .kc-footer .social-media-item {
        display: flex;
        justify-content: center;
        height: 32px;
        width: 32px;
        text-align: center;
        background: var(--social-media-bg-color);
        border-radius: 50%;
    }

    .kc-footer .kc-footer__award-block {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .kc-footer .kc-footer__award-text {
        display: inline-block;
        order: 1;
    }

    .kc-footer .kc-footer__award-block img {
        padding-left: 20px;
        order: 2;
    }

    .kc-footer .kc-footer__hr {
        border: 1px solid var(--footer-hr-color);
    }

    .kc-footer .kc-footer__copyright, .kc-footer .kc-footer__copyright a {
        color: var(--copyright-text-color);
    }

    .kc-footer .k-expander {
        background-color: var(--footer-bg-color);
        border: none;
        box-shadow: none;
    }

    .kc-footer .k-expander-header {
        background-color: var(--footer-bg-color);
    }

    .kc-footer .k-expander-indicator {
        color: var(--footer-text-color);
    }

    .kc-footer .k-expander-content, .kc-footer .k-expander-header {
        margin-top-top: 17px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .kc-footer .k-expander-header {
        padding-bottom: 17px;
        border-bottom: 1px solid var(--footer-hr-color);
    }

@media (min-width: 992px) {
    .kc-footer .k-expander-header {
        display: none;
    }
    .kc-footer .k-expander-content {
        padding: 0px;
    }
    .kc-footer .k-expander-content-wrapper {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    #subscribeMinForm {
        max-width: 400px;
        margin-left: auto;
    }
}
@media (max-width: 991.98px) {
    .kc-footer {
        padding: 16px;
    }
        .kc-footer .k-expander-content .kc-footer__block-title {
            display: none;
        }
        .kc-footer .kc-footer__apps-link-block {
            text-align: center;
            margin-top: 45px;
        }
    .kc-footer__social-media-block {
        justify-content: center;
        margin-top: 40px;
    }
    .kc-footer .kc-footer__award-block {
        margin-top: 40px;
        justify-content: center;
    }
        .kc-footer .kc-footer__award-block .k-font-weight-bold {
            display: block;
            text-align: left;
        }
        .kc-footer .kc-footer__award-block img {
            order: 0;
            padding-left: 0px;
            padding-right: 20px;
        }
}
.kc-navbar {
    height: 72px;
    padding: 10px;
    background-color: var(--color-white);
    margin-bottom: 0px;
}

    .kc-navbar .aa-main-menu .navbar-nav > li > a {
        padding-right: 13px;
        padding-left: 13px;
    }

.kc-navigation-mobile-modal {
    font-family: Proxima Nova;
}
    .kc-navigation-mobile-modal .kc-input {
        margin-bottom: 32px;
    }
        .kc-navigation-mobile-modal .kc-input input {
            background: var(--color-ink50) !important;
        }
            .kc-navigation-mobile-modal .kc-input input::placeholder {
                color: var(--color-ink600);
                font-family: Proxima Nova;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
    .kc-navigation-mobile-modal .modal-header {
        padding: 12px 16px 0px 16px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .kc-navigation-mobile-modal .modal-header:before, .kc-navigation-mobile-modal .modal-header:after {
            content: none;
        }
    .kc-navigation-mobile-modal .modal-dialog {
        height: 100%;
    }
        .kc-navigation-mobile-modal .modal-dialog .modal-body {
  overflow: scroll !important;
        }
            .kc-navigation-mobile-modal .modal-dialog .modal-body::-webkit-scrollbar {
                width: 4px;
            }
            .kc-navigation-mobile-modal .modal-dialog .modal-body::-webkit-scrollbar-thumb {
                background: var(--color-ink300);
                border-radius: 2px;
            }
.kc-navigation-mobile-modal__item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
    .kc-navigation-mobile-modal__item a {
        color: var(--color-ink1000) !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        width: 100%;
        display: block;
    }
    .kc-navigation-mobile-modal__item img {
        padding-right: 12px;
    }
.kc-navigation-mobile-modal__item_right-arrow {
    background-image: url("../images/chevron-large-right-gray.svg");
    background-position: right center;
    background-repeat: no-repeat;
}
.kc-navigation-mobile-modal__header {
    color: var(--color-ink1000);
    font-family: Proxima Nova;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 24px !important;
    margin-bottom: 16px !important;
}
    .kc-navigation-mobile-modal__header ~ .kc-navigation-mobile-modal__item {
        padding-left: 16px;
    }
.kc-navigation-mobile-modal__hr {
    border-top: 1px solid #E8E9EE;
    padding: 8px 17px !important;
    margin-bottom: 24px;
    margin-top: 24px;
}

#aa-navigation-mobile-modal-pages.modal {
    height: 100vh !important;
}
    #aa-navigation-mobile-modal-pages.modal .modal-dialog {
  height: 90vh !important;
    }
        #aa-navigation-mobile-modal-pages.modal .modal-dialog .modal-content {
            height: 100vh !important;
        }

@media (max-width: 767px) {
    #aa-search-modal .kc-modal, #aa-search-modal .kc-modal__content,
    #aa-language-mobile-modal .kc-modal, #aa-language-mobile-modal .kc-modal__content {
        height: 100%;
        border-radius: 0px;
        margin: 0px;
    }
    .kc-modal ul.kc-lang-menu {
        list-style: none !important;
        box-shadow: none !important;
        width: 100% !important;
        padding-top: 6px !important;
        margin-left: 0px;
    }
    .kc-modal .kc-lang-menu h5 {
        text-align: center;
        margin-bottom: 34px;
    }
    .kc-lang-menu__close-icon {
        position: absolute;
        border: none;
        top: 7px;
        left: 4px;
        outline: none !important;
        background-color: var(--color-white) !important;
        box-shadow: none;
    }
    .kc-lang-menu::before, .kc-lang-menu::after {
        border: none !important;
    }
}
.kc-lang-menu::before {
    border-bottom: 12px solid rgba(0, 0, 0, 0.2);
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 82%;
    position: absolute;
    top: -12px;
}

.kc-lang-menu::after {
    border-bottom: 12px solid #FFFFFF;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 82%; /* position */
    position: absolute;
    top: -12px;
}

.kc-lang-menu h5 {
    color: var(--footer-hr-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

ul.kc-lang-menu {
    border-radius: 8px !important;
    border: none;
    padding: 16px !important;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    box-shadow: 2px 7px 16px 4px rgba(0, 0, 0, 0.05) !important;
    width: 210px;
    top: 70px;
}

    ul.kc-lang-menu > li {
        border-top: none !important;
        border-bottom: none !important;
    }

.kc-lang-menu__wrap-item {
  padding: 5px 16px;
    margin-right: -16px;
    margin-left: -16px;
    font-size: 16px;
    line-height: 22px;
}

    .kc-lang-menu__wrap-item a {
        text-decoration: none;
        color: var(--color-ink1000);
        display: flex;
        align-items: center;
    }

    .kc-lang-menu__wrap-item img {
        padding-right: 12px;
    }

.open .kc-manage-account, kc-bottom-sheet .kc-manage-account {
    display: flex;
}

ul.kc-manage-account {
    flex-direction: column !important;
    border-radius: 8px !important;
    border: none !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    box-shadow: 2px 7px 16px 4px rgba(0, 0, 0, 0.05) !important;
    width: 250px !important;
    top: 70px !important;
}
    ul.kc-manage-account .kc-manage-account__action {
        margin-top: 8px;
        padding: 16px 16px 8px 16px;
    }
        ul.kc-manage-account .kc-manage-account__action .kc-btn {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            width: 100%;
            color: var(--color-ink1000) !important;
        }
    ul.kc-manage-account li {
        padding: 11px 17px;
        border-top: none;
        border-bottom: 1px var(--color-ink200) solid;
        align-items: flex-start;
        display: flex;
        background-image: url("../images/chevron-large-right-gray.svg");
        background-position: 175px 15px;
        background-repeat: no-repeat;
        background-size: 14px;
    }
        ul.kc-manage-account li img {
            margin-right: 16px;
        }
    ul.kc-manage-account::before {
        border-bottom: 12px solid rgba(0, 0, 0, 0.2);
        border-left: 12px solid rgba(0, 0, 0, 0);
        border-right: 12px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 82%;
        position: absolute;
        top: -12px;
    }
    ul.kc-manage-account::after {
        border-bottom: 12px solid #FFFFFF;
        border-left: 12px solid rgba(0, 0, 0, 0);
        border-right: 12px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 82%; /* position */
        position: absolute;
        top: -12px;
    }

@media (max-width: 768.98px) {
    ul.kc-manage-account {
        box-shadow: none !important;
        width: 100% !important;
        top: 0px !important;
        position: relative;
    }
        ul.kc-manage-account li {
            background-position-x: calc(100% - 20px) !important;
        }
        ul.kc-manage-account::before {
            border: none !important;
            content: "";
        }
        ul.kc-manage-account::after {
            border: none !important;
            content: "";
        }
}
@media (max-width: 768.98px) {
    .kc-container {
        padding: inherit 16px;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
    .kc-container {
        padding: inherit 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
    .kc-container {
        padding: inherit 30px;
    }
}
@media (min-width: 1200px) {
    .kc-container {
        padding: 0px 0px;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*Components*/
.kc-badge {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 28px;
}
.kc-badge_info {
    color: var(--color-pineapple);
    background-color: var(--color-early-snow);
}
.kc-badge_sm {
    padding: 2px 8px 1px 8px;
    font-size: 14px;
    border-radius: 8px;
    line-height: 22px;
}
.kc-badge_secondary {
    color: var(--color-ink700);
    background: var(--color-ink50);
}
.kc-badge_primary {
    color: var(--color-blue-jay);
    background-color: var(--color-moon-white);
}

button.kc-btn, .kc-btn, a.kc-btn {
    min-width: 56px;
    height: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background-color: var(--subscribe-action-bg-color) !important;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white) !important;
    cursor: pointer;
    font-weight: 600;
}
    button.kc-btn:hover, .kc-btn:hover, a.kc-btn:hover {
        background-color: #AD8A62 !important;
    }
    button.kc-btn[disabled], .kc-btn[disabled], a.kc-btn[disabled] {
        background: rgba(185, 150, 110, 0.4) !important;
    }
button.kc-btn_lg, .kc-btn_lg, a.kc-btn_lg {
    height: 56px !important;
    font-size: 18px !important;
}
button.kc-btn_m, .kc-btn_m, a.kc-btn_m {
    height: 48px !important;
    font-size: 16px !important;
}
button.kc-btn_s, .kc-btn_s, a.kc-btn_s {
    height: 40px !important;
    font-size: 14px !important;
}
button.kc-btn_xs, .kc-btn_xs, a.kc-btn_xs {
    height: 32px !important;
    font-size: 14px !important;
}
button.kc-btn:focus, .kc-btn:focus, a.kc-btn:focus {
    outline: none !important;
}
/* button.kc-btn_next::before, .kc-btn_next::before, a.kc-btn_next::before {
    content: url("../images/right-arrow.svg");
} */
button.kc-btn_loading, .kc-btn_loading, a.kc-btn_loading {
    background: rgba(185, 150, 110, 0.4) !important;
    color: rgba(185, 150, 110, 0) !important;
}
    button.kc-btn_loading img, .kc-btn_loading img, a.kc-btn_loading img {
        visibility: hidden;
    }
    button.kc-btn_loading:hover, .kc-btn_loading:hover, a.kc-btn_loading:hover {
        background-color: rgba(185, 150, 110, 0.4) !important;
    }
    button.kc-btn_loading::before, .kc-btn_loading::before, a.kc-btn_loading::before {
        content: "";
        width: 18px;
        height: 18px;
        border: 2px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: spin 1s linear infinite;
        position: absolute;
    }
button.kc-btn_secondary, .kc-btn_secondary, a.kc-btn_secondary {
    background: var(--color-ink200) !important;
    color: var(--color-ink1000) !important;
}
    button.kc-btn_secondary[disabled], .kc-btn_secondary[disabled], a.kc-btn_secondary[disabled] {
        background: var(--color-ink100) !important;
        color: var(--color-ink100) !important;
    }
    button.kc-btn_secondary:hover, .kc-btn_secondary:hover, a.kc-btn_secondary:hover {
        background-color: #E9E9ED !important;
    }
    button.kc-btn_secondary.kc-btn_loading, .kc-btn_secondary.kc-btn_loading, a.kc-btn_secondary.kc-btn_loading {
        background: var(--color-ink100) !important;
        color: var(--color-ink100) !important;
    }
        button.kc-btn_secondary.kc-btn_loading::before, .kc-btn_secondary.kc-btn_loading::before, a.kc-btn_secondary.kc-btn_loading::before {
            border-color: var(--color-ink400) !important;
            border-bottom-color: var(--color-ink100) !important;
        }
button.kc-btn_dark, .kc-btn_dark, a.kc-btn_dark {
    background: var(--color-ink1100) !important;
    color: var(--color-white) !important;
}
    button.kc-btn_dark:hover, .kc-btn_dark:hover, a.kc-btn_dark:hover {
        background: var(--color-ink1000) !important;
    }
button.kc-btn_level-up, .kc-btn_level-up, a.kc-btn_level-up {
    color: var(--color-ink1000) !important;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    button.kc-btn, .kc-btn {
        border-radius: 12px;
    }
}
.kc-help-for-search {
    padding: 6px 24px;
}

    .kc-help-for-search .kc-help-for-search__title {
        color: var(--color-ink500);
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .kc-help-for-search .kc-help-for-search__item {
        color: var(--color-ink1000);
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

.kc-search {
    height: 56px;
    padding: 10px 8px;
}

.kc-search__input {
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 7px;
}

.kc-input {
    position: relative;
    flex-direction: column;
}
    .kc-input input {
        position: relative;
        font-size: 16px;
        color: var(--color-ink1000);
        cursor: pointer;
        border: 1px solid var(--color-ink200);
        border-radius: 12px;
        background: var(--color-white);
        padding: 11px 20px 11px 16px;
        height: 56px;
        outline: none;
        width: 100%;
    }
        .kc-input input:focus {
            border: 1px solid var(--color-ink800) !important;
        }
    .kc-input .kc-input__label_inner ~ input::placeholder {
        visibility: hidden;
    }
    .kc-input .kc-input__label_inner-selected ~ input {
        padding-top: 22px;
        padding-bottom: 8px;
    }
        .kc-input .kc-input__label_inner-selected ~ input::placeholder {
            visibility: visible;
            color: var(--color-ink400);
        }
    .kc-input .kc-input__upon-icon ~ input {
        padding-left: 40px;
    }
    .kc-input .kc-input__icon ~ input {
        padding-right: 40px;
    }
    .kc-input .kc-input__label.kc-input__label_inner {
        color: var(--color-ink600);
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
        line-height: 22px;
        z-index: 2;
        cursor: pointer;
        transition: top 0.2s ease, front-size 0.2s ease;
    }
    .kc-input .kc-input__upon-icon {
        position: absolute;
        top: 16px;
        left: 16px;
        height: 20px;
        width: 20px;
        z-index: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .kc-input .kc-input__icon {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 20px;
        width: 20px;
        z-index: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .kc-input .kc-input__label.kc-input__label_inner-selected {
        top: 8px;
        left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
.kc-input_has-mini-select {
    position: relative;
}
    .kc-input_has-mini-select input {
        padding-left: 80px;
    }
    .kc-input_has-mini-select .kc-input__label_inner {
        left: 80px !important;
    }
    .kc-input_has-mini-select .kc-select_mini {
        position: absolute;
    }
        .kc-input_has-mini-select .kc-select_mini .kc-select_selected {
            width: 75px;
            height: 54px;
            top: 1px;
            background-color: inherit;
            position: absolute;
            z-index: 3;
            border: none;
            padding-top: 20px;
        }
        .kc-input_has-mini-select .kc-select_mini .kc-select__items {
            width: 75px;
            top: 70px;
            overflow-x: hidden;
        }
.kc-input label.error {
    color: var(--color-harlocks-cape);
    padding: 8px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.kc-input input.error {
    background-color: var(--color-ivory-tower) !important;
    z-index: 1 !important;
}
.kc-input .kc-input__label.kc-input__label_error {
    color: var(--color-harlocks-cape);
}
.kc-input[novalidate=novalidate] .kc-input__label {
    color: var(--color-harlocks-cape);
}
.kc-input_date .input-wrapper, .kc-input_date .for-image-wrapper {
    width: 100%;
}
.kc-input_date .desktop-form {
    width: 100%;
}
    .kc-input_date .desktop-form .date-input {
        max-width: 100%;
    }

.kc-checkbox {
    display: flex;
    align-items: center;
    position: relative;
}
    .kc-checkbox input[type=checkbox] {
        position: relative;
        z-index: -1;
        opacity: 0;
        width: 20px;
        height: 20px;
        margin-right: 14px;
    }
    .kc-checkbox .kc-checkbox__label {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: flex;
        align-items: baseline;
        margin-bottom: 0px;
    }
    .kc-checkbox input + label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        border: 2px solid #D9DCE2;
        border-radius: 6px;
        position: absolute;
        left: 0;
    }
    .kc-checkbox input:checked + label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
.kc-checkbox_dark input:checked + label::before {
    background-color: var(--color-ink1100);
    border-color: var(--color-ink1100);
    background-size: 60% 60%;
}

.kc-checkbox input[type=checkbox]:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}
.kc-checkbox input[type=checkbox]:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.kc-checkbox input[type=checkbox]:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.kc-checkbox input[type=checkbox]:focus:not(:checked) + label::before {
    border-color: #80bdff;
}
.kc-checkbox input[type=checkbox]:disabled + label::before {
    background-color: #e9ecef;
}

.kc-select {
    position: relative;
    font-size: 16px;
}
    .kc-select select {
        display: none;
    }
.kc-select_selected:after {
    position: absolute;
    content: "";
    background-image: url("../images/chevron-large-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    right: 16px;
    width: 18.5px;
    height: 15.5px;
    /*transition: transform 1s, top 1s, right 1s;*/
}
.kc-select_selected .kc-select__arrow_active {
    background: var(--color-white);
}
    .kc-select_selected .kc-select__arrow_active:after {
        transform: rotate(180deg);
        top: 33px;
        right: 10px;
    }
.kc-select_date .kc-select_selected:after {
    position: absolute;
    content: "";
    background-image: url("../images/calendar_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    right: 16px;
    width: 18.5px;
    height: 15.5px;
}
.kc-select.kc-lang-select .kc-select_selected:after {
    top: 15px;
}
.kc-select_lg .kc-select__items {
    top: 64px;
}
.kc-select_lg .kc-select_selected {
    height: 56px;
}
    .kc-select_lg .kc-select_selected:after {
        top: 20px;
    }
.kc-select_mini .kc-select_selected:after {
    top: 20px;
    right: 6px;
}
.kc-select__items, .kc-select .kc-select_selected {
    color: var(--color-ink1000);
    cursor: pointer;
    border: 1px solid var(--color-ink200);
    border-radius: 8px;
}
    .kc-select__items div, .kc-select_selected {
        padding: 11px 20px 11px 16px;
    }
.kc-select_navbar_items div, .kc-select_selected {
    padding: 11px 0px 11px 16px;
}
.kc-select_selected {
    background: var(--color-ink100);
    height: 44px;
}
    .kc-select_selected.error {
        background-color: var(--color-ivory-tower) !important;
    }
.kc-select__items {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 180px;
    overflow-y: scroll;
    background: var(--color-white);
    min-height: 40px;
}
.kc-select_navbar_items {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 99;
    background: var(--color-white);
    min-height: 40px;
    cursor: pointer;
}
@media (max-width: 768px) {
    #aa-language-mobile-modal   .kc-select__items {
        position: absolute;
        top: 52px; /* Corrected: Removed the extra "px" */
        left: 0;
        right: 0;
        z-index: 99;
        max-height: unset;
        overflow-y: unset;
        background: var(--color-white);
        min-height: 40px;
    }
.kc-select__items div{
        padding: 5px 20px 11px 16px;
    }
    /* You can add more styles for other elements within the modal */
}
.kc-select__items::-webkit-scrollbar {
    width: 4px;
}
.kc-select__items::-webkit-scrollbar-thumb {
    background: var(--color-ink300);
    border-radius: 2px;
}
.kc-select__items .kc-input:hover {
    background-color: white !important;
}
.kc-select__items .kc-input input {
    border-radius: 12px !important;
    height: 38px !important;
}
.kc-select_hide {
    display: none;
}
.kc-select .kc-select__items div:hover, .kc-select .kc-select_same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.kc-select__label {
    position: absolute;
    transition: top 0.3s, left 0.3s;
}
.kc-select label.error {
    color: var(--color-harlocks-cape);
    padding: 8px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.kc-select .kc-select__label.kc-select__label_error {
    color: var(--color-harlocks-cape);
}
.kc-select_has-search .kc-select__items {
    max-height: 250px;
}
.kc-select_has-search input {
    outline: none !important;
    border: none !important;
}

.kc-select.kc-select__bordered .kc-select_selected {
    background-color: var(--color-white);
    color: var(--color-ink1000);
}

.kc-select .kc-select_selected.kc-select_has-inner-label {
    padding-top: 22px;
    padding-bottom: 8px;
}

.kc-select .kc-select__label_inner {
    color: var(--color-ink600);
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.kc-select .kc-select__label_inner-selected {
    top: 8px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.kc-custom-options {
    display: none;
}

.kc-dropdown.open .kc-dropdown__icon:before {
    content: "";
    padding: 20px;
    background-color: var(--color-ink100) !important;
    border-radius: 50%;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    position: absolute;
    z-index: -1;
}

.kc-dropdown.open .kc-dropdown__icon {
    position: relative;
    z-index: 1;
}

.kc-card {
    background: var(--color-white);
    border: 1px solid var(--color-ink400);
    border-radius: 12px;
    padding: 12px;
}
.kc-card_recent-searches {
    width: 265px;
    display: inline-flex;
    justify-content: flex-start;
    cursor: pointer;
    white-space: pre-wrap;
}
.kc-card__addition {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-ink600);
}
.kc-card_recent-searches .kc-card__title {
    color: var(--color-ink1100);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.kc-card_recent-searches .kc-card__content {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-ink1100);
}
.kc-card_lg {
    padding: 32px;
}
.kc-card_no-border {
    border: none;
}

.kc-bonus-card {
    border-radius: 16px;
    background-color: var(--color-ink50);
    color: var(--color-ink800);
    padding: 16px;
    line-height: 20px;
    text-align: end;
    max-width: 210px;
    font-size: 14px;
}
.kc-bonus-card__count {
    color: var(--color-ink1000);
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    align-items: end;
    justify-content: end;
}

@media (max-width: 767.98px) {
    .kc-card_lg {
        padding: 16px;
    }
    .kc-bonus-card__count {
        justify-content: start;
    }
}
.kc-text {
    font-size: 16px;
    line-height: 22px;
}
.kc-text_xs {
    font-size: 12px;
    line-height: 18px;
}
.kc-text_sm {
    font-size: 14px;
    line-height: 20px;
}
.kc-text_l {
    font-size: 18px;
    line-height: 24px;
}
.kc-text_regular {
    font-weight: 400;
}
.kc-text_bold {
    font-weight: 700;
}
.kc-text_semi-bold {
    font-weight: 700;
}
.kc-text_gray {
    color: var(--color-ink800) !important;
}
.kc-text_secondary {
    color: var(--color-ink700) !important;
}
.kc-text_black {
    color: var(--color-ink1000) !important;
}
.kc-text_gold {
    color: var(--color-stetson) !important;
}

.kc-link {
    color: var(--color-stetson) !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none !important;
}

.kc-header {
    color: var(--color-ink1000);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.kc-header_xxs {
    font-size: 16px;
    line-height: 20px;
}
.kc-header_xs {
    font-size: 18px;
    line-height: 22px;
}
.kc-header_s {
    font-size: 20px;
    line-height: 24px;
}
.kc-header_l {
    font-size: 32px;
    line-height: 40px;
}
.kc-header_xl {
    font-size: 40px;
    line-height: 44px;
}
.kc-header_xxl {
    font-size: 48px;
    line-height: 52px;
}

.kc-progress-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.kc-progress-bar_title, .kc-progress-bar_total-value {
    display: inline;
    width: fit-content;
}
.kc-progress-bar_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-ink1000);
}
.kc-progress-bar_total-value {
    color: var(--color-ink700);
    font-size: 14px;
    font-family: Proxima Nova;
    line-height: 20px;
}
.kc-progress-bar_bar {
    width: 100%;
    position: relative;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color-ink100);
    margin-top: 8px;
}
.kc-progress-bar_filled-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color-burst-of-gold);
}

.kc-bottom-sheet {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    transition: visibility 0.2s;
    z-index: 999;
}
.kc-bottom-sheet__fade {
    background: var(--color-ink1200);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
.kc-bottom-sheet__sheet {
    position: absolute;
    left: 0px;
    width: 100%;
    background: var(--color-white);
    border-radius: 12px 12px 0px 0px;
    bottom: -999px;
    transition: bottom 0.5s;
    z-index: 9999;
}
.kc-bottom-sheet__header {
    padding: 16px;
    color: var(--color-ink1000);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kc-bottom-sheet__content {
    padding: 0px 16px 8px 16px;
}
.kc-bottom-sheet__close {
    border: none;
    background: inherit;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    outline: none;
}
    .kc-bottom-sheet__close:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .kc-bottom-sheet__close::after {
        content: url("../images/close-small_2.svg");
        position: absolute;
        left: 0px;
        top: 0px;
    }
.kc-bottom-sheet.show {
    visibility: visible;
}
    .kc-bottom-sheet.show .kc-bottom-sheet__sheet {
        bottom: 0px;
    }

[kc-tooltip] {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}
    [kc-tooltip]::before {
        content: attr(kc-tooltip);
        position: absolute;
        top: calc(100% + 15px);
        display: none;
        color: white;
        background: rgba(0, 0, 0, 0.75);
        transition: opacity 0.1s ease-out;
        z-index: 99;
        text-align: left;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-radius: 8px;
        background: var(--shades-ink-1100, #282D3E);
        padding: 8px 12px;
        min-width: max-content;
    }
    [kc-tooltip]:after {
        content: "";
        position: absolute;
        top: calc(100% + 8px);
        transform: translateY(-50%);
        border: 7px solid #282D3E;
        border-color: transparent transparent #282D3E transparent;
        display: none;
    }
    [kc-tooltip]:hover::before, [kc-tooltip]:hover::after {
        display: block;
    }

@media (max-width: 767.98px) {
    [kc-tooltip]::before {
        right: -5px;
    }
}
/*Widgets*/
.kc-subscribe-min-form {
    position: relative;
}
    .kc-subscribe-min-form .k-input-solid:focus-within {
        border-color: inherit;
        background-color: inherit;
        box-shadow: none;
    }

.kc-subscribe-min-form__field input.k-input-inner {
    font-size: 16px;
    line-height: 22px;
    background-color: var(--subscribe-field-bg-color);
    color: var(--footer-text-color);
    border: 1px solid var(--subscribe-field-bg-color);
    border-radius: 8px;
    padding: 26px 46px 6px 16px;
    height: 56px;
    width: 100%;
    outline: none;
}

.kc-subscribe-min-form__field .k-focus {
    box-shadow: none;
    padding-top: 0px;
}

.kc-subscribe-min-form__field .k-label {
    z-index: 2;
    color: var(--copyright-text-color);
    font-weight: 500;
}

.kc-subscribe-min-form__field .k-floating-label-container.k-empty > .k-label {
    left: 16px;
    top: 17px;
    font-size: 16px;
}

.kc-subscribe-min-form__field .k-floating-label-container {
    width: 100%;
    padding: 0px;
}

    .kc-subscribe-min-form__field .k-floating-label-container .k-label, .kc-subscribe-min-form__field .k-floating-label-container.k-focus .k-label {
        left: 16px;
        top: 8px;
        font-size: 12px;
    }

.kc-subscribe-min-form__field .k-input {
    border: none;
    background-color: inherit;
}

.kc-subscribe-min-form__action {
    position: absolute;
    right: 8px;
    top: calc(50% - 20px);
    z-index: 2;
}

.kc-subscribe-min-form__done {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.modal-backdrop.in {
    opacity: 0.25;
}

.kc-modal .kc-modal__content {
    background: var(--modal-bg-color);
    border-radius: 8px;
    box-shadow: none;
}

.kc-modal .kc-modal__body {
    padding: 0px;
}

.kc-standard-modal__content {
    border-radius: 16px !important;
    padding: 32px !important;
}
.kc-standard-modal__header {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-ink1000);
    padding: 0px !important;
    border-bottom: none !important;
}
.kc-standard-modal__close {
    background: inherit;
    border: none;
    position: absolute;
    right: 16px;
    top: 16px;
    outline: none !important;
}
    .kc-standard-modal__close img {
        width: 32px;
        height: 32px;
    }

.kc-bonus-points-actions {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.kc-bonus-points-actions__action {
    border-radius: 16px;
    border: none;
    padding: 16px;
    min-height: 125px;
    width: calc(20% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: var(--color-white);
    cursor: pointer;
}
.kc-bonus-points-actions__action-icon {
    height: 40px;
    width: 40px;
    background-color: var(--color-ink100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
    .kc-bonus-points-actions__action-icon img {
        height: 20px;
        width: 20px;
    }
.kc-bonus-points-actions__action-title {
    color: var(--color-ink1000);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    width: 100%;
}

@media (max-width: 767.98px) {
    .kc-bonus-points-actions {
        flex-direction: column;
    }
    .kc-bonus-points-actions__action {
        width: 100%;
        min-height: 56px;
        flex-wrap: nowrap;
        margin: 0px;
        align-items: center;
        padding: 12px 8px;
    }
    .kc-bonus-points-actions__action-icon {
        height: 32px;
        width: 32px;
        margin-right: 16px;
    }
        .kc-bonus-points-actions__action-icon img {
            height: 16px;
            width: 16px;
        }
}
.kc-activity {
    display: flex;
    flex-wrap: wrap;
}
.kc-activity__date {
    color: var(--color-ink700);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    width: 100%;
    margin-bottom: 24px;
}
.kc-activity__content, .kc-activity__sub-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kc-activity__container {
    margin-left: 16px;
    width: calc(100% - 68px);
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
.kc-activity__icon {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background: var(--color-ink100);
}
.kc-activity__title, .kc-activity__value {
    color: var(--color-ink1000);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.kc-activity__title, .kc-activity__subtitle {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.kc-activity__title {
    max-width: calc(100% - 50px);
}
.kc-activity__subtitle, .kc-activity__sub-value {
    color: var(--color-ink700);
    font-size: 14px;
    font-family: Proxima Nova;
    line-height: 20px;
}
    .kc-activity__sub-value ~ .kc-activity__subtitle {
        max-width: calc(100% - 150px);
    }

/*# sourceMappingURL=app.css.map */
