:root {
  --footer-bg-color: #282D3E;
  --footer-text-color: #FFFFFF;
  --subscribe-field-bg-color: #444B5F;
  --social-media-bg-color: #444B5F;
  --subscribe-action-bg-color: #B9966E;
  --copyright-text-color: #B5B9C5;
  --footer-hr-color: #32384A;
  --modal-bg-color: #FFFFFF;
  --color-white: #FFFFFF;
  --color-ink50: #F6F7F9;
  --color-ink100: #F1F2F4;
  --color-ink200: #E9E9ED;
  --color-ink300: #D9DCE2;
  --color-ink400: #B5B9C5;
  --color-ink500: #9399AB;
  --color-ink600: #7D8499;
  --color-ink700: #6A7186;
  --color-ink800: #565D73;
  --color-ink900: #444B5F;
  --color-ink1000: #32384A;
  --color-ink1100: #282D3E;
  --color-ink1200: #1C202C;
  --color-pineapple: #5E4012;
  --color-stetson: #9E7C55;
  --color-warrant: #B9966E;
  --color-early-snow: #FCF5E3;
  --color-blue-blue: #2D5AD2;
  --color-blue-jay: #4777FA;
  --color-fennel-flower: #82A8ED;
  --color-moon-white: #EBF4FF;
  --color-alpine-green: #006351;
  --color-greenbrier: #32A46A;
  --color-silver-tree: #66BD90;
  --color-grams-hair: #F0F7F4;
  --color-harlocks-cape: #C21313;
  --color-horror-snob: #DC4A47;
  --color-apple-valley: #EA8684;
  --color-ivory-tower: #FAF1F0;
  --color-brand-blue: #002A47;
  --color-burst-of-gold: #DAB267;
}

[kc-tooltip]:after{ top: calc(100% + 9px);
}
[kc-tooltip]::before{
right: -10px;}

@media (max-width: 990px){
 [kc-tooltip]:hover::before{  right: -10px;
 }}
 

@media (max-width: 452px){ [kc-tooltip]:hover::before{
  min-width: 160px; }
}

.kc-wide-booking-form .nav-pills {
  width: 100%;
  margin-left: 0px;
}

.kc-wide-booking-form .nav-pills > li.active > a {
  background-color: var(--color-white);
  color: var(--color-ink900);
}

.kc-wide-booking-form .nav-pills > li {
  width: 100%;
  width: calc(25% - 8px);
  text-align: center;
  margin-right: 8px;
  border-radius: 12px 12px 0px 0px;
  background: rgba(96, 100, 112, 0.6);
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color:transparent;
}
.kc-wide-booking-form .nav > li > a:hover, .kc-wide-booking-form .nav > li > a:focus {
    text-decoration: none;
}
.kc-wide-booking-form .nav-pills > li:last-of-type {
  width: calc(25% - 6px);
}

.kc-wide-booking-form {
  margin-top: -103px;
}
.kc-wide-booking-form .nav-pills > li > a {
  padding: 22px 0px;
  border-radius: 12px 12px 0px 0px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.kc-wide-booking-form .nav-pills > li:last-of-type {
  margin-right: 0px;
}

.kc-wide-booking-form .tab-pane {
  background-color: var(--color-white);
  padding: 24px;
  box-shadow: 0px 0px 2px rgba(50, 56, 74, 0.1), 0px 8px 32px rgba(50, 56, 74, 0.1);
  border-radius: 0px 0px 12px 12px;
}

.kc-select_selected.error input {
    background-color: #FAF1F0;
}

#flights .kc-from-to-form, #bookingRouteBlock .kc-from-to-form {
  display: flex;
  position: relative;
}

#flights .kc-from-to-form .kc-select, #bookingRouteBlock .kc-from-to-form .kc-select {
  width: 50%;
  display: inline-block;
}

#flights .kc-from-to-form .kc-select_selected:after, #flightStatus .kc-from-to-form .kc-select_selected:after {
  content: none;
}

#flights .kc-from-to-form .kc-select:first-of-type .kc-select_selected,
#bookingRouteBlock .kc-from-to-form .kc-select:first-of-type .kc-select_selected,
#myBooking .kc-input:first-of-type input,
#bookingFlightNumberBlock .kc-input:first-of-type input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#flights .kc-from-to-form .kc-select:last-of-type .kc-select_selected,
#bookingRouteBlock .kc-from-to-form .kc-select:last-of-type .kc-select_selected {
  /*border-top-left-radius: 0px;*/
  /*border-bottom-left-radius: 0px;*/
  border-radius: 0px;
  padding-left: 30px;
}

.kc-from-to-form .kc-select:last-of-type .kc-select__label_inner-selected, #bookingRouteBlock .kc-select:nth-of-type(2) .kc-select__label_inner-selected {
  left: 30px;
}

#bookingRouteBlock .kc-select_date .kc-select_selected {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#flights .kc-from-to-form .kc-from-to-form__switch, #bookingRouteBlock .kc-from-to-form .kc-from-to-form__switch {
  position: absolute;
  height: 32px;
  width: 32px;
  border: 1px solid var(--color-ink300);
  border-radius: 16px;
  background-color: var(--color-white);
  left: calc(50% - 16px);
  top: 12px;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

#flights .kc-input input {
  border-radius: 0px;
  z-index: 4;
  background: inherit;
}

#flights .kc-passenger-class .kc-input input {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

#bookingRouteBlock .kc-input input,
#myBooking .kc-input:last-of-type input,
#checkIn .kc-input:last-of-type input,
#bookingFlightNumberBlock .kc-select:last-of-type .kc-select_selected {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#checkIn .kc-input {
  width: 33%;
}
#checkIn .kc-input input {
  border-radius: 0px !important;
}
#checkIn .kc-input:first-of-type input {
  border-bottom-left-radius: 12px !important;
  border-top-left-radius: 12px !important;
}

#checkIn .kc-select {
  width: 33%;
}
#checkIn .kc-select .kc-select_selected {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#flights .kc-wide-booking-form__additional-field {
  width: calc(58.333333% - 66px);
}

#flights .kc-select:last-of-type .kc-select_selected {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.kc-wide-booking-form .kc-wide-booking-form__additional-params {
  display: inline-flex;
  margin-top: 18px;
}

.kc-wide-booking-form .kc-wide-booking-form__additional-params a {
  display: flex;
}

.kc-wide-booking-form .kc-wide-booking-form__additional-params img {
  margin-right: 8px;
}

.kc-wide-booking-form .kc-wide-booking-form__additional-params a, .kc-wide-booking-form .kc-wide-booking-form__additional-params label {
  color: var(--color-ink1100);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400 !important;
}

.kc-recent_searches__title {
  font-size: 14px;
  line-height: 18px;
  color: #667085;
  margin-bottom: 8px;
}

.kc-recent_searches__searches-list {
  overflow-x: scroll;
  white-space: nowrap;
}
.kc-recent_searches__searches-list::-webkit-scrollbar {
  display: none;
}

.kc-recent_searches__searches-list::-webkit-scrollbar {
  display: none;
}

.kc-recent_searches__searches-list .kc-card {
  margin-right: 8px;
}

#flightStatus .kc-badge {
  cursor: pointer;
}

/*#flights .kc-input:last-of-type input {*/
/*    border-radius: 8px;*/
/*}*/
.kc-passenger-class {
  position: relative;
}
.kc-passenger-class__background {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 4;
}
.kc-passenger-class .kc-input__label {
  text-transform: capitalize;
}
.kc-passenger-class .kc-input input {
  user-select: none;
}
.kc-passenger-class__modal {
  top: 70px;
  position: absolute;
  padding: 16px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 12px 24px 0px rgba(50, 56, 74, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.22);
  width: 300px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  right: 0px;
}
.kc-passenger-class__class {
  border-radius: 12px;
  background: var(--color-ink100);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2px;
}
.kc-passenger-class__class input {
  display: none;
}
.kc-passenger-class__class [type=radio]:checked + label {
  border-radius: 10px;
  background: var(--shades-white, #FFF);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.kc-passenger-class__class label {
  cursor: pointer;
  font-style: normal;
  width: 50%;
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--shades-ink-1100, #282D3E);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
}
.kc-passenger-class .kc-calculator__actions {
  margin-left: 8px;
}
.kc-passenger-class__close {
  border: none;
  background-color: inherit;
  outline: none !important;
  position: absolute;
  left: 8px;
  top: 16px;
  padding: 0px;
}
.kc-passenger-class__close:focus {
  outline: none !important;
}
.kc-passenger-class__header {
  display: none;
  text-align: center;
  color: var(--color-ink1000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.kc-passenger-class .kc-btn {
  display: none;
}

.kc-calculator {
  display: flex;
  justify-content: space-between;
}
.kc-calculator__label {
  color: var(--color-ink1000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.kc-calculator__sub-label {
  color: var(--color-ink600);
  font-family: Proxima Nova;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.kc-calculator__input {
  border: none;
  background: inherit;
}
.kc-calculator__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kc-calculator__action {
    display: inline-flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    border-radius: 50% !important;
    border: 0;
    outline: none;
    color: white;
    width: 28px;
    height: 28px;
    background: var(--color-ink1100);
}
.kc-calculator__action:focus {
  outline: none !important;
}
.kc-calculator__action:first-of-type {
  font-size: 32px !important;
  line-height: 24px;
}
.kc-calculator__action:last-of-type {
  font-size: 20px !important;
  line-height: 28px;
  font-weight: 700;
}
.kc-calculator__action:disabled {
  background-color: var(--color-ink200);
}
.kc-calculator__value {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
}

.datepicker-mobile .ui-icon.ui-icon-circle-triangle-e, .next-arrow {
  background-image: url("../images/arrow-right_1.svg") !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .kc-card_recent-searches {
    width: calc((100% - 32px) / 4);
  }
}
@media (max-width: 991.98px) {
  #bookingRouteBlock .kc-select_date .kc-select_selected {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #myBooking .kc-btn,
  #bookingFlightNumberBlock .kc-btn,
  #checkIn .kc-btn {
    width: 100%;
    margin-top: 12px;
  }
  #checkIn .kc-input {
    width: 100% !important;
  }
  #checkIn .kc-select {
    width: 100% !important;
    margin-top: 16px;
  }
  #checkIn .kc-select .kc-select_selected {
    border-radius: 12px;
  }
  #flights .kc-from-to-form,
  #bookingRouteBlock .kc-from-to-form {
    display: block;
  }
  #flights .kc-from-to-form .kc-select,
  #bookingRouteBlock .kc-from-to-form .kc-select {
    width: 100%;
    display: block;
  }
  #checkIn .kc-input input {
    border-radius: 0px 0px 8px 8px !important;
  }
  #flights .kc-from-to-form .kc-select:first-of-type .kc-select_selected,
  #bookingRouteBlock .kc-from-to-form .kc-select:first-of-type .kc-select_selected,
  #myBooking .kc-input:first-of-type input,
  #checkIn .kc-input:first-of-type input,
  #bookingFlightNumberBlock .kc-input:first-of-type input {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  #flights .kc-from-to-form .kc-select:last-of-type .kc-select_selected,
  #bookingRouteBlock .kc-from-to-form .kc-select:nth-of-type(2) .kc-select_selected,
  #myBooking .kc-input:last-of-type input,
  #bookingFlightNumberBlock .kc-select:last-of-type .kc-select_selected {
    border-radius: 0px 0px 8px 8px !important;
    padding-left: 16px;
  }
  .kc-from-to-form .kc-select:last-of-type .kc-select__label_inner-selected {
    left: 16px;
  }
  #flights .kc-from-to-form .kc-from-to-form__switch,
  #bookingRouteBlock .kc-from-to-form .kc-from-to-form__switch {
    right: 16px;
    top: calc(50% - 16px);
    left: auto;
    transform: rotate(0deg);
  }
  #flights .kc-wide-booking-form__additional-field {
    width: 100%;
  }
  #flights .kc-input input, #flights .kc-select:last-of-type .kc-select_selected, #bookingRouteBlock .kc-input input {
    border-radius: 8px;
  }
  #bookingRouteBlock .kc-btn {
    margin-top: 16px;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .kc-wide-booking-form {
    margin-top: 0px;
  }
  .kc-passenger-class__header {
    display: block;
  }
  .kc-passenger-class .kc-btn {
    display: inline-flex;
  }
  .kc-passenger-class__class {
    order: 3;
    margin-top: 20px;
  }
  .kc-passenger-class__modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .kc-passenger-class__modal .kc-btn {
    margin-top: auto;
    order: 5;
  }
  .kc-wide-booking-form .kc-wide-booking-form__additional-params {
    width: 100%;
  }
  .kc-wide-booking-form .tab-pane {
    padding: 16px;
    box-shadow: none;
  }
  .kc-wide-booking-form .nav-pills {
    background-color: var(--color-white);
    border-bottom: 1px solid #dddfe4;
  }
  .kc-wide-booking-form .nav-pills > li {
    background-color: var(--color-white);
  }
  .kc-wide-booking-form .nav-pills > li.active > a {
    border-bottom: 1px solid var(--color-ink1100);
  }
  .kc-wide-booking-form .nav-pills > li > a {
    color: var(--color-ink600);
    width: fit-content;
    padding: 12px 0px;
    margin: auto;
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .kc-wide-booking-form .nav-pills {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    position: relative;
  }
  .kc-wide-booking-form .nav__shadow {
    position: relative;
  }
  .kc-wide-booking-form .nav__shadow::after {
    content: "";
    height: 44px;
    position: absolute;
    right: 0px;
    width: 40px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
  }
  .kc-wide-booking-form .nav-pills::-webkit-scrollbar {
    display: none;
  }
  .kc-wide-booking-form .nav-pills > li {
    width: auto;
    margin-right: 24px;
    display: inline-flex;
    justify-content: flex-start;
  }
  .kc-wide-booking-form .nav-pills > li:last-of-type {
    width: auto;
  }
}
.ui-datepicker .ui-datepicker-group {
  margin-bottom: 16px;
}
.ui-datepicker .ui-datepicker-group .ui-datepicker-calendar thead {
  display: none;
}
.ui-datepicker .ui-datepicker-group:first-child .ui-datepicker-calendar thead {
  position: absolute;
  display: table;
  top: 54px;
  left: 0px;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  z-index: 5;
}
.ui-datepicker .ui-datepicker-title {
  text-align: left !important;
  margin: 0px !important;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 100% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.datepicker-mobile {
  padding-top: 56px !important;
  height: calc(100vh - 55px) !important;
}

.datepicker-modal-header {
  border: none !important;
  padding: 16px !important;
}
.datepicker-modal-header h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.datepicker-modal-footer {
  border: none !important;
  background-color: inherit !important;
}

.mobile-no-return-button {
  background: #282D3E !important;
  color: white !important;
}

.date-picker-wrapper.custom-topbar .drp_top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-picker-wrapper.custom-topbar .drp_top-bar .apply-btn {
  height: 40px !important;
  border-radius: 8px !important;
  position: relative !important;
  top: 0px !important;
  right: 0px !important;
  width: fit-content !important;
}
@media only screen and (min-width: 1px) and (max-width: 1350px) and (-webkit-min-device-pixel-ratio: 1) {
  #flights .kc-wide-booking-form__additional-field img#close-icon {
    display: none!important; /* Hide the element on Android devices */
  }
}
/*# sourceMappingURL=wide-booking-form.css.map */

