body {
  font-family: "Lato", sans-serif;
}

section {
  padding: 50px 0;
}

.parliament {
  font-weight: 300;
  font-size: 38px;
  line-height: 56px;
  margin-bottom: 80px;
  color: #5c5100;
  text-transform: uppercase;
  position: relative;
}
.parliament::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 150px;
  background-color: #5c5100;
  left: -20px;
  top: 75px;
}

.container {
  max-width: 1770px;
  padding: 0 10px;
  margin: 0 auto;
}

.frivolled {
  padding: 20px 0;
  position: absolute;
  right: 0;
  left: 0;
}

.cinnamene {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.teachership {
  height: 100vh;
  background: url(../images/porisms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.teachership__title {
  font-weight: 300;
  font-size: 50px;
  line-height: 94px;
  color: #e4f1aa;
  text-align: center;
  padding-top: 300px;
}
.teachership__box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
.teachership__link {
  background: rgba(76, 72, 0, 0.6);
  border: 1px solid #959651;
  padding: 10px 40px;
  text-align: center;
  color: rgb(251, 255, 206);
  width: 250px;
}

.rotte {
  background: #ebfffd;
  padding: 50px 0 90px;
}
.rotte__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.rotte__item {
  flex-basis: 300px;
}
.rotte__item-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 45px;
  margin-bottom: 10px;
  color: #5c5100;
}
.rotte__item-text {
  font-size: 18px;
  line-height: 21px;
  color: #034f29;
}
.rotte__item-undertitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.multiple {
  background-color: #effff0;
}
.multiple__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.multiple__left-title {
  font-size: 38px;
  line-height: 56px;
  color: #5c5100;
  margin-bottom: 48px;
  width: 800px;
}
.multiple__left-text {
  font-size: 26px;
  line-height: 53px;
  color: #034f29;
  margin-bottom: 120px;
  width: 700px;
}
.multiple__left-link {
  padding: 25px 80px;
  background: #5c5100;
  color: #e4f1aa;
}
.multiple__right-img {
  margin-bottom: 30px;
}
.multiple__right-title {
  font-size: 26px;
  margin-bottom: 19px;
  margin-left: 32px;
}
.multiple__right-list {
  margin-left: 50px;
}
.multiple__right-item {
  list-style-type: disclosure-closed;
}
.multiple__right-text {
  width: 250px;
  margin-bottom: 30px;
}

.clutch {
  background-color: #eefeff;
}
.clutch__list {
  display: flex;
}
.clutch__item {
  flex-basis: 33.333%;
}
.clutch__item-img {
  margin-bottom: 70px;
}
.clutch__item-title {
  font-weight: 500;
  font-size: 32px;
  color: #5c5100;
  margin-bottom: 23px;
  margin-left: 20px;
  position: relative;
}
.clutch__item-title::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #5c5100;
  top: -30px;
  left: -20px;
}
.clutch__item-text {
  width: 300px;
  color: #034f29;
  margin-left: 20px;
}

.all {
  background: #edf1ff;
}
.all__list {
  display: flex;
  flex-wrap: wrap;
}
.all__item {
  flex-basis: 33.333%;
}
.all__item-img {
  margin-bottom: 18px;
}
.all__item-title {
  font-size: 28px;
  line-height: 33px;
  color: #5c5100;
  margin-bottom: 13px;
}
.all__item-style {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #50804f;
  margin-bottom: 13px;
}
.all__item-square {
  font-size: 18px;
  line-height: 21px;
  color: #034f29;
  margin-bottom: 35px;
}
.all__btn {
  padding: 19px 45px;
  background: #5c5100;
  color: #e4f1aa;
  display: block;
  margin: 0 auto;
}

.affecting {
  background: #ffefef;
}
.affecting__list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 0;
  justify-content: space-between;
  margin-left: 70px;
  position: relative;
}
.affecting__list::before {
  position: absolute;
  content: "";
  background: url(../images/folksiest.svg);
  background-repeat: no-repeat;
  left: -200px;
  right: -10px;
  top: 42%;
  height: 87px;
}
.affecting__item {
  flex-basis: 387px;
}
.affecting__item-img {
  margin-bottom: 20px;
}
.affecting__item-title {
  font-size: 32px;
  line-height: 38px;
  color: #5c5100;
  background: rgb(0, 51, 255);
  margin-bottom: 26px;
  display: inline-block;
}
.affecting__item-text {
  font-size: 18px;
  color: #034f29;
  width: 300px;
}
.affecting__link {
  padding: 10px 30px;
  background: #5c5100;
  color: #e4f1aa;
  margin: 40px auto 0;
  display: block;
  text-align: center;
  width: 135px;
}

.messaline {
  background: #fffff0;
}
.messaline__inner {
  display: flex;
  gap: 50px;
}
.messaline__box-title {
  font-size: 36px;
  color: #5c5100;
  margin-bottom: 40px;
}
.messaline__text {
  font-weight: 300;
  font-size: 24px;
  color: #034f29;
  margin-bottom: 80px;
}
.messaline__form {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.messaline__input {
  padding: 10px;
  background: transparent;
  border: 1px solid #5c5100;
}
.messaline__link {
  width: 100%;
  padding: 10px;
  background: #5c5100;
  color: #e4f1aa;
  text-align: center;
}

.desulphurising {
  background: #f0feee;
  padding: 50px 0;
}
.desulphurising__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.desulphurising__icons {
  display: flex;
  gap: 30px;
}
.desulphurising__link {
  color: #5c5100;
}/*# sourceMappingURL=style.css.map */