* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
}

b {
    font-weight: 600;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/* HEADER */

header {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 26px 0px;
}

.nav__cnt {
    width: 100%;
    max-width: 1190px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto 0px;
    flex-wrap: wrap;
}

.logo__cnt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 193px;
    height: 100%;
}

.logo__link {
    width: 100%;
    display: flex;
    border-right: 1px solid #DCDCDC;
    max-width: 104px;
}

.logo__img {
    max-width: 83px;
}

.singIn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 78px;
}

.singIn__img {
    max-width: 18px;
}

.singIn__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3F3F42;
}


/* firstNavigation */

.firstNavigation {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 879px;
    height: 100%;
    gap: 20px;
}

.firstNavigation__item {
    padding-right: 20px;
    border-right: 1px solid #DCDCDC;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstNavigation__link {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3F3F42;
}

.search__link {
    max-width: 12px;
    margin-right: 21px;
}

.firstNavigation__link:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* HEADER__NEWS */

.header__newsWrapper {
    width: 100%;
    background: #B80000;
    margin-bottom: 26px;
}

.header__newsCnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    margin: 0 auto;
    padding: 9px 10px 10px 10px;
}

.header__newsTitle {
    display: flex;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__newsMoreCnt {
    display: flex;
    width: 100%;
    max-width: 89px;
    justify-content: space-between;
    align-items: center;
}

.more__menu {
    width: 20px;
    height: 2px;
    background: #fff;
    position: relative;
}

.more__menu::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #fff;
    top: -5px;
    right: 0;
}

.more__menu::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background: #fff;
    bottom: -5px;
    right: 0;
}

.more__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
}

.header__newsContainer {
    display: none;
    width: 100%;
    border-top: 1px solid #fff;
    padding: 15px 15px 13px 15px;
}

.header__newsContainer-active {
    display: flex;
}

.header__newsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    height: 100%;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}

.header__newsItem {
    padding-right: 10px;
    border-right: 1px solid #FFFFFF;
}

.header__newsItem:last-child {
    border: none;
    padding: 0px 0px 0px 22px;
}

.header__newsLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.header__newsImg {
    max-width: 10px;
}

/* CATEGORY */
.nav__categoryWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0px 10px;
    margin: 0 auto;
}

.category__list {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.category__list-active {
    display: flex;
}

.category__item {
    padding-right: 10px;
    border-right: 1px solid #3F3F42;
    margin-bottom: 29px;
}


.category__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3F3F42;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
}

.category__link:hover {
    border-bottom: 2px solid #B80000;
}

/* BANNER */

.banner__wrapper {
    padding: 26px 10px;
    width: 100%;
    background: #DEDEDE;
}

.banner__cnt {
    width: 100%;
    max-width: 905px;
    margin: 0 auto;
    background-image: url('../assets/img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 69px 43px 69px 69px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner__cnt::after {
    position: absolute;
    content: '';

}

.banner__title {
    display: block;
    width: 100%;
    max-width: 401px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
}

.banner__link {
    font-family: 'Open Sans';
    display: flex;
    width: 100%;
    max-width: 190px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    border: 1px solid #FFFFFF;
}

/* MAIN */

main {
    padding: 35px 10px 0px 10px;
    width: 100%;
    max-width: 1525px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto 69px;
    flex-wrap: wrap;
}

.main__wrapper {
    width: 100%;
    max-width: 1057px;
    font-family: 'Open Sans';
}

h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 71px;
    text-transform: uppercase;
    color: #323234;
    margin: 0 auto 31px;
}

.time__cnt {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 19px;
}

.time__img {
    max-width: 24px;
}

.time__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.main__socialList {
    width: 100%;
    max-width: 215px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main__socialLink {
    width: 100%;
    max-width: 35px;
}

.red_link {
    color: red;
    font-weight: bold;
}


article {
    padding-top: 30px;
    border-top: 1px solid #DEDEDE;
    width: 100%;
    max-width: 970px;
}

.main__img {
    margin-bottom: 20px;
}


.main__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #7D7D7D;
    margin-bottom: 30px;
}

.main__text b {
    color: #272727;
}

.main__link {
    color: #040eff;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #272727;
    text-align: center;
    margin-bottom: 30px;
}

.offer__link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 237px;
    padding: 15px 0px;
    background: #B80000;
    margin: 0 auto 30px;
}

.main__text-margin {
    margin-bottom: 20px;
}

.main__text-marginF {
    margin-bottom: 40px;
}

.main__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
}

.main__itemImg {
    max-width: 70px;
    margin: 0 auto 20px;
    height: 70px;
}

.main__itemTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
    text-align: center;
    margin-bottom: 20px;
}

.main__itemText {
    color: #7D7D7D;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.title__img {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #3F3F42;
    margin-bottom: 20px;
}

.can {
    margin-bottom: 20px;
}

.main__text-marginS {
    margin-bottom: 42px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #3F3F42;
    margin-bottom: 26px;
    text-align: center;
}

.offer__link:last-child {
    margin-bottom: 0px;
}

/* STORIES */

.stories__wrapper {
    width: 100%;
    max-width: 335px;
    padding-top: 15px;
    border-top: 2px solid #B80000;
}

.stories__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #3F3F42;
    margin-bottom: 20px;
}

.stories__list {
    width: 100%;
    font-family: 'Montserrat';
    margin-bottom: 40px;
}

.stories__item {
    margin-bottom: 20px;
}

.stories__item:last-child {
    margin-bottom: 0px;
}

.stories__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3F3F42;
    margin-bottom: 15px;
}

.stories__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #7D7D7D;
    margin-bottom: 15px;
}

.stories__timeCnt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stories__img {
    max-width: 18px;
}

.stories__timeText {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
}

.features__cnt {
    border-top: 2px solid #B80000;
    padding-top: 15px;
}

.features__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #3F3F42;
    margin-bottom: 20px;
}

.features__item {
    margin-bottom: 20px;
}

.features__img {
    margin-bottom: 20px;
    display: block;
}

.features__itemTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3F3F42;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 32px 15px 31px 15px;
    background: #3F3F42;
}

.footer__text {
    display: block;
    /* gap: 6px; */
    margin: 0 auto;
    /* max-width: 182px; */
    text-align: center;
}

.footer__img {
    display: inline-block;
    max-width: 10px;
}

.footer__text span {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}