.apps-buttons__button-main-text,
.apps-buttons__button-sub-text {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-style: normal;
}
.apps-buttons {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.apps-buttons *,
.apps-buttons :after,
.apps-buttons :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.apps-buttons__button {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  background: #0094ff;
  border-radius: 50px;
  height: 64px;
  max-width: 240px;
  padding: 8px 32px;
  text-decoration: none;
}
.apps-buttons__button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
.apps-buttons__button:active {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
.apps-buttons__button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 20px;
  height: 100%;
  padding-top: 4px;
}
.apps-buttons__button-sub-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: #fff;
  text-align: left;
  white-space: nowrap;
}
.apps-buttons__button-main-text {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #fff;
}
.apps-buttons--dark .apps-buttons__button {
  background: #172331;
}
.apps-buttons--blue .apps-buttons__button {
  background: #0094ff;
}
.apps-buttons--white .apps-buttons__button-main-text,
.apps-buttons--white .apps-buttons__button-sub-text {
  color: #000;
}
.apps-buttons--white .apps-buttons__button {
  background: #fff;
}
.apps-buttons--white .apps-buttons__button_ios svg path {
  fill: #000;
}
.apps-buttons--ar,
.apps-buttons--ku,
.apps-buttons--ur {
  direction: rtl;
}
.apps-buttons--ar .apps-buttons__button-text,
.apps-buttons--ku .apps-buttons__button-text,
.apps-buttons--ur .apps-buttons__button-text {
  margin-left: 0;
  margin-right: 20px;
}
.apps-buttons--ar .apps-buttons__button-sub-text,
.apps-buttons--ku .apps-buttons__button-sub-text,
.apps-buttons--ur .apps-buttons__button-sub-text {
  text-align: right;
}
.apps-buttons--bn .apps-buttons__button,
.apps-buttons--ur .apps-buttons__button {
  padding: 4px 32px;
}
.apps-buttons--bn .apps-buttons__button-text,
.apps-buttons--hi .apps-buttons__button-text,
.apps-buttons--ko .apps-buttons__button_ios .apps-buttons__button-text,
.apps-buttons--tr .apps-buttons__button-text,
.apps-buttons--ur .apps-buttons__button-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding-top: 0;
  padding-bottom: 4px;
}
.apps-buttons--ko .apps-buttons__button_ios .apps-buttons__button-main-text {
  font-size: 16px;
}
