
section.features-section {
  padding-bottom: 0;
}
.features-section {
  -webkit-margin-before: 160px;
  margin-block-start: 160px;
  -webkit-margin-after: 160px;
  margin-block-end: 160px;
}
.features-section .button {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  .features-section {
    -webkit-margin-before: 122px;
    margin-block-start: 122px;
  }
  .features-section .container {
    width: 542px;
    padding: 0;
  }
  .features-section .button {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .features-section .container {
    width: 826px;
  }
  .features-section .button {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .features-section .container {
    width: 1224px;
  }
  .features-section .button {
    margin-top: -2px;
  }
}
.features-section__list-li img,
.features-section__slick-li img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.features-section__slick {
  display: var(--features-slick);
  width: 240px;
  margin: 57px auto 0;
}
.features-section__slick-li img {
  margin: 0 auto;
}
.features-section__slick-li h3 {
  margin-top: 24px;
}
.features-section__slick .slick-next:before,
.features-section__slick .slick-prev:before {
  content: '' !important;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 10px;
  background-image: url(fonts/arrow.svg);
}
.features-section__slick-li p {
  text-align: center;
}
.features-section__slick .slick-prev:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.features-section__slick .slick-next:before {
  margin-left: -4px;
}
.features-section__slick .slick-dots {
  height: 8px;
  margin-top: 8px;
}
.features-section__slick .slick-dots li {
  width: 5px;
  height: 5px;
  margin: 0 7px;
}
.features-section__slick .slick-dots li.slick-active {
  width: 8px;
  height: 8px;
  margin-top: -1px !important;
  background-color: #0094ff;
}
@media only screen and (min-width: 768px) {
  .features-section__slick {
    display: none;
  }
}
.features-section__list {
  display: var(--features-list);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 288px;
  margin: 40px auto 0;
}
.features-section__list li {
  margin-bottom: 56px;
}
.features-section__list li h3 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--features-item-title-color);
}
.features-section__list li p {
  margin-top: 7px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--features-item-text-color);
}
@media only screen and (min-width: 768px) {
  .features-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 57px;
  }
  .features-section__list li {
    width: 248px;
    text-align: center;
    -webkit-margin-after: 48px;
    margin-block-end: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .features-section__list {
    margin-top: 55px;
  }
  .features-section__list li {
    -webkit-margin-after: 40px;
    margin-block-end: 40px;
  }
  .features-section__list li h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .features-section__list li p {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .features-section__list {
    margin-top: 72px;
  }
  .features-section__list li {
    width: 400px;
    -webkit-margin-after: 82px;
    margin-block-end: 82px;
  }
  .features-section__list p {
    width: 300px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
  }
}
