.t-input {
   color: #ffffff;
   border: 1px solid #c7c7c7;
}

.color-black {
   color: black;
}

.container-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.blue-footer {
   background-color: #0078c5;
   padding: 15px 0;
}

.adress {
   margin: 15px auto 0;
   width: fit-content;
   text-align: center;
}

.img-footer {
   max-width: 100%;
   height: auto;
}

.container-footer div {
   width: 35%;
}



#rec210556378 .t396__artboard {
   background-color: #007ac2 !important;
}

.t-form__successbox {
   padding: 10px;
   background: #f44336;
}

.img-minfin {
   width: 150% !important;
   /* margin-left: auto; */
}

.adress {
   color: white !important;
}

.block-minfin {
   position: relative;
   bottom: 0px;
}

@media(max-width: 959px) {
   .block-minfin {
      bottom: -2px;
   }

   .img-minfin {
      margin-left: 7px;
   }
}

@media(max-width: 639px) {
   .block-minfin {
      bottom: 5px !important;
   }
}

@media(max-width: 479px) {
   .block-minfin {
      bottom: 10px !important;
   }
}

.t-form__successbox {
   padding: 10px;
   background: #f44336;
}

.preloader {
   display: none;

   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   z-index: 700;
   background: transparent;
   box-sizing: border-box;
   height: 100%;
   z-index: 777777;
}

.modalBg {
   position: fixed;
   top: 0;
   left: 0%;
   width: 100%;
   height: 100%;
   z-index: 700;
   background: #0000009e;
   padding: 20px;
   box-sizing: border-box;
}

.lds-roller {
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 70707;
}

.lds-roller div:nth-child(1) {
   animation-delay: -0.036s;
}

.lds-roller div:nth-child(2) {
   animation-delay: -0.072s;
}

.lds-roller div:nth-child(3) {
   animation-delay: -0.108s;
}

.lds-roller div:nth-child(4) {
   animation-delay: -0.144s;
}

.lds-roller div:nth-child(5) {
   animation-delay: -0.18s;
}

.lds-roller div:nth-child(6) {
   animation-delay: -0.216s;
}

.lds-roller div:nth-child(7) {
   animation-delay: -0.252s;
}

.lds-roller div:nth-child(8) {
   animation-delay: -0.288s;
}

.lds-roller div:after {
   content: " ";
   display: block;
   position: absolute;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #fff;
   margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1):after {
   top: 50px;
   left: 50px;
}

.lds-roller div:nth-child(2):after {
   top: 54px;
   left: 45px;
}

.lds-roller div:nth-child(3):after {
   top: 57px;
   left: 39px;
}

.lds-roller div:nth-child(4):after {
   top: 58px;
   left: 32px;
}

.lds-roller div:nth-child(5):after {
   top: 57px;
   left: 25px;
}

.lds-roller div:nth-child(6):after {
   top: 54px;
   left: 19px;
}

.lds-roller div:nth-child(7):after {
   top: 50px;
   left: 14px;
}

.lds-roller div:nth-child(8):after {
   top: 45px;
   left: 10px;
}

.lds-roller div {
   animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   transform-origin: 32px 32px;
}


.btn-modal-reg {
   color: #ffffff;
   background-color: #ff4500;
   border-radius: 30px;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
}

.block-dycov {
   max-width: 1080px;
}

.img-block-dycov {
   flex: 0 0 465px;
}

.calc-slider-wrapper {
   background-color: #eeeeee;
}

.calc-slider-block {
   background-color: #eeeeee;
}

.irs--round .irs-grid-text {
   color: black;
}

#button-form1 {
   background-color: #ff4500 !important;
}

.text-main {
   color: #ff4500;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
   background-color: #ff4500;
}

.irs--round .irs-handle {
   border: 4px solid #ff4500;
}

.irs--round .irs-bar {
   background-color: #ff4500;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
   border-top-color: #ff4500;
}

.license-link img {
   width: 50%;
}

.text-4xl {
   font-size: 2.25rem;
}

.mb-8 {
   margin-bottom: 2rem;
}

.w-1drop2 {
   width: 50%;
}

.font-bold {
   font-weight: bold;
}

.fancy-btn {
   position: relative;
   top: 30px;
   background-color: #ff4500;
   border-radius: 0.25rem;
   border-radius: 0.25rem;
   font-weight: 700;
   font-size: 1.5rem;
   margin-top: 0.5rem;
   padding: 50px;
   white-space: nowrap;
   text-align: center;
   color: #fff;
   width: 14rem;
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
}

.posts-section {
   width: 100%;
}

.posts-section h2 {
   font-size: 1.8rem;
   margin-bottom: 1rem;
   font-weight: 700;
   margin-bottom: 2rem;
   font-family: Ubuntu, sans-serif;
}

.wrapp-some2 {
   width: 33.333333%;
}

.post {
   height: 560px;
   position: relative;
   overflow: hidden;
}

.items-end {
   -webkit-box-align: end;
   align-items: flex-end;
}

.w-full {
   width: 100%;
}

.left-0 {
   left: 0;
}

.top-0 {
   top: 0;
}

.absolute {
   position: absolute;
}

.h-full {
   height: 100%;
}

.tr-center {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.post-wrapper:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.01%, rgba(45, 52, 78, 0.36)), to(rgba(0, 0, 0, 0.6)));
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(45, 52, 78, 0.36) 0.01%, rgba(0, 0, 0, 0.6) 100%);
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.post:hover .post-wrapper:after {
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), color-stop(0.01%, rgba(45, 52, 78, 0.1)), to(rgba(0, 0, 0, 0.4)));
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(45, 52, 78, 0.1) 0.01%, rgba(0, 0, 0, 0.4) 100%);
}



.z-10 {
   z-index: 10;
}

.relative {
   position: relative;
}

.p-8 {
   padding: 2rem;
}

.text-4xl {
   font-size: 2.25rem;
}

.mb-4 {
   margin-bottom: 1rem;
}

.text-2xl {
   font-size: 1.5rem;
}

.text-lg {
   font-size: 1.125rem;
}

.mb-8 {
   margin-bottom: 2rem;
}

.send-request {
   border-radius: 6px !important;
   -moz-border-radius: 6px !important;
   -webkit-border-radius: 6px !important;
   padding-left: 20px;
   padding-right: 20px;
   height: 45px;
}

.w-8drop12 {
   width: 66.666667%;
}

.w-2drop12 {
   width: 8.333333%;
}

#partners svg {
   color: #ff4500;
}

#partners {
   padding: 50px 60px !important;
   padding: 0;
   margin: 0;
   max-width: 100%;
   background-color: #0d2a3d;
}

.flex-block {
   display: flex;
   justify-content: center;
   align-items: center;
}


.t396 {
   background-color: #3ccfe6;
}

.logos-main-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
}

.main-logo-wrapper {
   text-align: center;
   margin-bottom: 6px;
}

.logos-main {
   max-width: 100%;
   width: 14%;
   height: auto;
}

.sup-title-logo {
   font-size: 1.2rem;
   margin-left: 13px;
   color: white;
   font-weight: 600;
}

.gaz-logo {
   width: 36%;
}

/* New */



.phone-mask {
   padding-left: 100px !important;
}

.iti--separate-dial-code .iti__selected-flag {
   background-color: transparent !important;
}

.iti__selected-dial-code {
   color: #8a97a0 !important;
}

.help-block-error {
   margin-top: 10px;
   color: red;
}

.modal-input-form {
   color: #000000;
   border: 1px solid #c9c9c9;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.phone-mask-modal {
   color: black;
   padding-left: 28% !important;
}

/* End new */


.close-modal {
   cursor: pointer;
   position: absolute;
   right: 10px;
   top: -2px;
   font-size: 32px;
   z-index: 1050;
}

.overlay {
   z-index: 1031;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.75);
   opacity: 0;
   pointer-events: none;
   transition: 0.35s ease-in-out;
   max-height: 100vh;
   overflow-y: auto;
}

.overlay.open {
   opacity: 1;
   pointer-events: inherit;
}

.overlay .modal-form {
   position: relative;
   background: white;
   text-align: center;
   padding: 30px 15px;
   box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
   opacity: 0;
   pointer-events: none;
   transition: 0.35s ease-in-out;
   max-height: 100vh;
   overflow-y: auto;
}

.overlay .modal-form.open {
   opacity: 1;
   pointer-events: inherit;
}

.overlay .modal-form.open .content {
   transform: translate(0, 0px);
   opacity: 1;
}

.overlay .modal-form .content {
   transform: translate(0, -10px);
   opacity: 0;
   transition: 0.35s ease-in-out;
}

.overlay .modal-form .title {
   margin-top: 0;
}

.modal-form input {
   color: black;
}

.t702__img {
   width: 80%;
   margin: 0 auto;
}

.t-input .js-phonemask-input .js-tilda-rule .phone-mask-modal {
   padding: 0 10px 0 100px !important;
}


/* @media screen and (max-width:980px) {
   .img-block-dycov {
      min-height: 658px;
   }

} */

@media screen and (max-width: 640px) {
   .send-request {
      display: inline-block;
   }
}

@media screen and (max-width:767px) {
   .wrapp-some1 {
      flex-wrap: wrap;
   }

   .wrapp-some2 {
      width: 100%;
   }

   .post {
      height: 400px;
   }

   .img-posts {
      width: 100%;
      height: auto;
   }

   .license-link img {
      width: 80%;
   }

   .w-1drop4-sm {
      width: 25%;
   }

   .w-full-sm {
      width: 100%;
   }

   .-mr-sm-1 {
      margin-right: -0.25rem
   }

   .-mr-sm-2 {
      margin-right: -0.5rem;
   }

   .w-1drop3-sm {
      width: 33.333333%;
   }

   .w-1drop2-sm {
      width: 50%;
   }

   .-ml-sm-1 {
      margin-left: -0.25rem;
   }

   .-mt-sm-10 {
      margin-top: -2.5rem;
   }

}

@media screen and (max-width:576px) {
   .license-link img {
      width: 90%;
   }

   .fancy-btn {
      padding: 20px !important;
      font-size: 20px !important;
   }

   #partners>div {
      flex-wrap: wrap;
   }

   #partners {
      padding: 30px 40px !important;
      text-align: center;
   }
}



@keyframes lds-roller {
   100% {
      transform: rotate(360deg);
   }
}