.error-name {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.5s ease;
  }

  .error-lastname {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.5s ease-in;
  }

  .error-email {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.5s ease-in;
  }

  .error-number {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.5s ease-in;
  }

  .form-send .active {
    display: block;
    color: red;
  }