*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'roboto-regular', Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

:root {
  --main-keywords-color: rgb(67, 130, 224);
  --main-keywords-light-color: rgb(120, 174, 255);
  --white-bg-text-color: #052555;
  --footer-text-color: #525252;
}

.keyword {
  color: var(--main-keywords-color);
}

.keyword-light {
  color: var(--main-keywords-light-color);
}

.main-heading {
  font-size: 45px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 59px;
}

.subheading {
  font-size: 35px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 49px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
  z-index: 9999;
}

.modal-form span {
  font-size: 12px;
  text-align: center;
}

.modal-form span a {
  display: inline-block;
  color: var(--main-keywords-light-color);
  text-decoration: none;
}

.modal-form-wrapper {
  max-width: 560px;
  width: 100%;
  position: relative;
  margin: 31px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.modal-form-inner-wrapper {
  padding: 17px;
}

.modal-form-banner {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.modal-form-heading {
  font-size: 27px;
  line-height: 1.23;
  color: black;
  margin: 0;
  text-align: center;
}

.modal-form-desc {
  font-size: 16px;
  line-height: 1.55;
  font-family: 'roboto-light';
  text-align: center;
  margin: 15px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.modal-form input {
  color: #000000;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.modal-form__submit {
  color: #ffffff;
  background-color: #5199ff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  max-width: 100%;
  width: 100%;
  font-family: 'roboto-bold';
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.overlay__close-button {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}

.conv-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--main-keywords-light-color);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: pulse 1.5s linear infinite;
  cursor: pointer;
}

.iti--allow-dropdown {
  width: 100%;
  position: relative;
  display: block;
}

.conv-button svg {
  fill: white;
}

.error-msg {
  display: none;
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.error-msg.active {
  display: block;
}

.modal-form input.invalid {
  border-color: red;
}

.form-pole {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(5, 34, 89, 0.65);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.nav__logo img {
  width: 131px;
  height: 52px;
  object-fit: cover;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 37px;
}

.nav__item-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 178px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  border-width: 2px;
  border-radius: 0px;
  background-position: center center;
  border-color: #5199ff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 8px;
}

.nav__item a {
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  color: white;
  transition: color 0.2s;
  position: relative;
}

.nav__item a::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  transition: width 0.2s;
}

.nav__item a:hover::after {
  height: 1px;
  width: 100%;
  background-color: black;
}

.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 15px;
  background: #111;
  transform: translateX(2000px);
  transition: transform 0.5s;
  z-index: 1;
  opacity: 0;
}

.burger__nav {
  padding-top: 100px;
}

.burger-menu .burger__navitem {
  list-style-type: none;
  text-align: center;
}

.burger__navitem a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0;
  color: white;
}

.burger__navitem.logo img {
  width: 120px;
  height: 28px;
  object-fit: cover;
}

.burger__navitem + .burger__navitem {
  margin-top: 50px;
}

.burger-menu.active {
  transform: translateX(0);
  opacity: 1;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.top-section {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 13, 36, 0.25), rgba(1, 15, 36, 0.25)),
    url(../images/top-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.top-section__info {
  max-width: 594px;
  width: 100%;
  color: white;
}

.top-section__subheading {
  font-size: 20px;
  line-height: 31px;
  margin-top: 15px;
  font-weight: 400;
}

.top-section__hint {
  font-size: 16px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.55;
  margin: 45px 0;
  padding-left: 50px;
  position: relative;
}

.top-section__hint::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  background-image: url(../images/info-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 37px;
  height: 37px;
}

.top-section__buttons {
  display: flex;
  gap: 20px;
}

.consult,
.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.consult {
  width: 248px;
  height: 52px;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  border-width: 1px;
  border-radius: 3px;
  background-color: #5199ff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  box-shadow: 0px 8px 20px 0px rgba(81, 153, 255, 0.5);
}

.more {
  width: 164px;
  height: 52px;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  border-width: 1px;
  border-radius: 3px;
  background-color: #000000;
  background-position: center center;
  border-color: #5199ff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  box-shadow: 0px 8px 20px 0px rgba(81, 153, 255, 0.5);
}

.top-section__screen-img--small {
  display: none;
}

.slider {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
}
.contacts {
  padding: 30px 0;
  background-color: #111111;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin-left: 50px;
}

.contacts-title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-info p {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(232, 232, 232, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow svg {
  width: 10px;
  height: 10px;
}

.arrow.prev {
  left: -90px;
  transform: translateY(-50%) rotate(-180deg);
}

.arrow.next {
  right: -90px;
}

.slider__list {
  display: none;
  opacity: 0;
}

.slider__list.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__item {
  flex: 1 1 16.6%;
  text-align: center;
  user-select: none;
}

.slider__item img {
  display: inline;
  max-width: 140px;
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container.about {
  display: flex;
  gap: 30px;
  padding-top: 25px;
}

.container.about div {
  flex: 1 1 50%;
  color: var(--white-bg-text-color);
}

.about__heading {
  margin-top: 0;
}

.about__text {
  line-height: 31px;
  font-family: 'roboto-light', Arial, sans-serif;
  font-size: 20px;
}

.video-description {
  margin-top: 15px;
  line-height: 18px;
  font-size: 13px;
  color: black;
}

.specialists {
  background-image: url(../images/specialists-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 0;
  color: #ededed;
}

.spesialists__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.specialists__item {
  flex: 1 1 25%;
}

.specialists__img {
  max-width: 100%;
  min-height: 260px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.specialists__name {
  font-size: 23px;
  font-family: 'roboto-bold', Arial, sans-serif;
  text-align: center;
  margin: 5px 0;
}

.spesialists__prof {
  color: #a3a0a0;
  font-size: 14px;
  font-family: 'roboto-regular', Arial, sans-serif;
  text-align: center;
  line-height: 25px;
}

.specialists__heading {
  text-align: center;
}

.results {
  padding-top: 25px;
}

.results__list {
  display: flex;
  justify-content: space-between;
}

.result__item {
  flex: 0 1 30%;
}

.result__header {
  text-align: center;
  font-size: 27px;
  font-family: 'roboto-regular', Arial, sans-serif;
}

.result__desc {
  text-align: center;
  font-size: 16px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.45;
  max-width: 90%;
  margin: 0 auto;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #ededed;
  margin: 20px 0;
}

.results__heading {
  text-align: center;
  margin-bottom: 25px;
}

.hints .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.hints__left-block {
  flex: 1 1 50%;
  color: var(--white-bg-text-color);
}

.hints__heading {
  font-size: 37px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 1.55;
  margin-top: 0;
}

.hints__item {
  position: relative;
}

.hints__item + .hints__item {
  margin-top: 25px;
}

.hints__item::before {
  position: absolute;
  content: '';
  display: block;
  width: 51px;
  height: 51px;
  left: -75px;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hints__item:nth-child(1):before {
  background-image: url(../images/ico1.png);
}

.hints__item:nth-child(2):before {
  background-image: url(../images/ico2.png);
}

.hints__item:nth-child(3):before {
  background-image: url(../images/ico3.png);
}

.hints__item h3 {
  font-size: 23px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 1.55;
  margin: 0;
}

.hints__item p {
  font-size: 18px;
  font-family: 'roboto-regular', Arial, sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.hints__text {
  font-size: 20px;
  font-family: 'roboto-regular', Arial, sans-serif;
  line-height: 1.45;
  margin: 35px 0;
}

.hints__left-block .more {
  background-color: white;
  color: var(--white-bg-text-color);
}

.hints__additional-info {
  color: #a8a8a8;
  font-size: 16px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.55;
}

.hints__right-block {
  flex: 1 1 50%;
}

.hints__right-block img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hints .top-section__buttons {
  margin-bottom: 10px;
}

.show-sm {
  display: none;
}

.steps {
  background-image: url(../images/specialists-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 0;
}

.steps__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 30px;
  padding-left: 0;
  padding-top: 50px;
}

.steps__item {
  flex: 1 1 20%;
}

.steps__ico {
  display: block;
  width: 104px;
  height: 104px;
  object-fit: cover;
  margin: 0 auto;
}

.steps__heading {
  color: white;
  text-align: center;
  margin-top: 0;
}

.steps__item-heading {
  color: #ffffff;
  font-size: 19px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 1.55;
  margin: 20px 0 10px;
  text-align: center;
}

.steps__text {
  color: #ffffff;
  font-size: 15px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.55;
  margin: 0;
  text-align: center;
  min-height: 100px;
}

.steps__dots {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 93%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.steps__dots img {
  width: 130px;
  height: 4px;
  object-fit: cover;
  display: block;
}

.reviews__heading {
  color: var(--white-bg-text-color);
  text-align: center;
  margin-top: 0;
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.reviews__item * {
  text-align: center;
}

.reviews__item {
  flex: 0 1 360px;
  background-color: #f7f7f7;
  padding: 5px 15px 15px;
}

.reviews__name {
  color: var(--white-bg-text-color);
  font-size: 17px;
  font-family: 'roboto-bold', Arial, sans-serif;
  line-height: 1.55;
  margin-top: 0;
}

.reviews__from {
  color: #9e9b9b;
  font-size: 14px;
  font-family: 'roboto-regular', Arial, sans-serif;
  line-height: 1.55;
  display: block;
}

.reviews__text {
  color: var(--white-bg-text-color);
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  line-height: 1.55;
  margin-top: 15px;
}

.order {
  padding: 45px 0;
  background-image: url(../images/specialists-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order .container {
  display: flex;
  justify-content: space-between;
}

.order__heading {
  margin-top: 0;
  color: white;
}

.order__text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.55;
  margin: 25px 0;
}

.order .more {
  background-color: transparent;
}

.order__info {
  color: #a8a8a8;
  font-size: 12px;
  font-family: 'roboto-light', Arial, sans-serif;
  line-height: 1.55;
}

.order__right-block {
  flex: 1 1 45%;
}

.order__left-block {
  flex: 1 1 55%;
}

.order__right-block img {
  max-width: 100%;
  width: 100%;
}

.footer {
  background-color: #111111;
  padding: 55px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  flex: 0 1 15%;
  display: flex;
  flex-direction: column;
}

.footer__section a {
  text-decoration: none;
}

.footer__section .logo {
  width: 120px;
  height: 49px;
  object-fit: cover;
  display: block;
  margin-bottom: 3px;
}

.footer__social img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  display: inline;
}

.footer__social + .footer__social {
  margin-left: 5px;
}

.section__label {
  color: #525252;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  line-height: 1.55;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer .copyright {
  color: #525252;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  line-height: 1.55;
  margin-top: 25px;
}

.footer__section a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  line-height: 2;
}

.small-form-wrap {
  display: none;
  position: fixed;
  max-width: 470px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  bottom: 124px;
  background-color: white;
  right: 3%;
}

.small-form-wrap .modal-form {
  gap: 10px;
}

.small-form-wrap h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.conv-button.open {
  background-color: white;
}

.conv-button.open .t708__icon {
  display: none;
}

.t708__icon-close {
  display: none;
}

.conv-button.open .t708__icon-close {
  display: block;
}

.t862__quiz-description .st61 {
  fill: none;
  stroke: #1f5bff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.t862__quiz-description .st61 {
  fill: none;
  stroke: #1f5bff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.overlay-quiz {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
  z-index: 9999;
}

.quiz-wrapper {
  max-width: 720px;
  width: 100%;
  position: relative;
  margin: 31px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.quiz__top-bar {
  padding: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
}

.quiz__instruction {
  position: relative;
  font-size: 12px;
  color: black;
  font-family: 'roboto-light', Arial, sans-serif;
  padding-left: 15px;
}

.quiz__instruction svg {
  position: absolute;
  left: -8px;
  top: -3px;
  width: 20px;
  height: 20px;
}

.quiz__step-count {
  font-size: 12px;
  color: black;
  font-family: 'roboto-bold', Arial, sans-serif;
}

.quiz__progress-bar {
  height: 5px;
  background-color: #cbcbcb;
}

.quiz__progress-bar-percent {
  background-color: rgb(31, 91, 255);
  width: 0;
  height: 100%;
}

.quiz__body {
  padding: 45px;
}

.quiz__step {
  display: none;
  min-height: 310px;
}

.quiz__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.quiz__button {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 91, 255);
  border-radius: 30px;
  display: block;
}

.quiz__button.next {
  padding: 13px 45px 13px 30px;
}

.quiz__button.back {
  padding: 13px 30px 13px 45px;
}

.quiz__button.back::before {
  content: 'Â â†’';
  position: absolute;
  top: 50%;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  transform: rotate(180deg) translateY(45%);
}

.quiz__button.next::after {
  content: 'Â â†’';
  position: absolute;
  top: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  transform: translateY(-55%);
}

.quiz__question {
  font-family: 'roboto-light', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.quiz__thubms {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.quiz__thubms img:not(.active-thumb-mark) {
  display: block;
  border-radius: 4px;
  object-fit: cover;
  width: 135px;
  height: 135px;
}

.quiz__thubms div {
  position: relative;
  flex: 0 1 135px;
  cursor: pointer;
}

.active-thumb-mark {
  display: none;
  position: absolute;
  top: -3px;
  left: -8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  object-fit: cover;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
}

img.active + .active-thumb-mark {
  display: flex;
}

.quiz__thubms p {
  font-family: 'roboto-light', Arial, sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

input[type='range'] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071a9;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071a9;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type='range']:focus::-ms-fill-upper {
  background: #3071a9;
}

.value {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin: 15px 0 10px;
}

.quiz__top-bar h3 {
  font-family: 'roboto-light', Arial, sans-serif;
}
@media (max-width: 500px) {
  .mapframe {
    width: 250px;
    height: 150px;
  }
  .contacts-block {
    margin-left: 1px !important;
  }
}

@media (max-width: 1384px) {
  .arrow.prev {
    left: 0;
  }

  .arrow.next {
    right: 0;
  }
}

@media (max-width: 1050px) {
  .slider__list.active {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .slider__item {
    flex: 1 1 33.3%;
  }

  .conv-button {
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
  }

  .steps__dots {
    display: none;
  }
}

@media (max-width: 830px) {
  .footer .container {
    flex-direction: column;
    gap: 30px;
  }

  .footer__section:first-child {
    align-self: center;
  }

  .footer__section:first-child * {
    text-align: center;
  }

  .hints__additional-info {
    text-align: center;
    display: block;
  }

  .subheading.hide-sm {
    display: none;
  }

  .show-sm {
    display: block;
    text-align: center;
  }

  .results__list,
  .spesialists__list,
  .hints .container,
  .steps__list,
  .reviews__list,
  .order .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .order .container * {
    text-align: center;
  }

  .hints__left-block {
    order: 2;
  }

  .hints__right-block {
    order: 1;
  }

  .results__list {
    gap: 30px;
  }

  .specialists__img {
    max-width: 250px;
    min-height: auto;
    margin: 0 auto;
  }

  .container.about {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .container.about div:last-child {
    max-width: 550px;
    width: 100%;
  }

  .container.about iframe {
    min-height: 350px;
  }

  .about__text {
    line-height: 25px;
    font-family: 'roboto-light', Arial, sans-serif;
    font-size: 16px;
  }

  .menu-btn {
    display: block;
  }

  .nav__list {
    display: none;
  }

  .text-center {
    text-align: center;
  }

  .top-section .container {
    display: flex;
    justify-content: center;
  }

  .top-section {
    background: black;
  }

  .top-section__buttons {
    justify-content: center;
  }

  .top-section__hint {
    width: fit-content;
    margin: 35px auto;
  }

  /* .top-section__hint::before {
      left: 55px;
    } */

  .top-section__screen-img--small {
    display: block;
    width: 290px;
    height: 240px;
    object-fit: contain;
    margin: 25px auto 45px;
    background-image: url(../images/monney.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 630px) {
  .active-thumb-mark {
    left: 3px;
  }

  .main-heading {
    font-size: 35px;
  }

  .subheading {
    font-size: 25px;
  }

  .slider__item {
    flex: 1 1 50%;
  }

  .slider__item img {
    max-width: 100px;
  }

  .small-form-wrap {
    right: 50%;
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
  }

  .quiz__thubms {
    justify-content: center;
    flex-wrap: wrap;
  }

  .quiz__thubms div {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .quiz__body,
  .quiz__top-bar {
    padding: 20px;
  }

  .quiz__instruction {
    max-width: 200px;
  }
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 28px;
    line-height: 33px;
  }

  .subheading {
    font-size: 24px;
    line-height: 29px;
  }

  .top-section__buttons {
    flex-direction: column;
    align-items: center;
  }

  .consult,
  .more {
    max-width: 100%;
    width: 100%;
  }
}
