@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.side {
    width: 100%;
    max-width: calc(100% / 2);
}

.title {
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.intro {
    position: relative;
    z-index: 1;
    width: 100%;
    background: linear-gradient(180deg, rgba(30, 67, 1, 0.7) 30.21%, rgba(30, 67, 1, 0) 100%), url(../images/intro.jpg) top / cover no-repeat;
    padding: 25px 0 35px;
    color: #fff;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(30, 67, 1, 0.7) 30.21%, rgba(30, 67, 1, 0) 100%);
}

.content__side_2 {
    margin-left: 95px;
}

.intro__video {
    width: 100%;
    height: auto;
    padding-top: 56.3%;
    border-radius: 5px;
}

.intro__video video {
    border-radius: 5px;
}

.video-js .vjs-big-play-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #71BF44;
    border: none;
    line-height: 64px;
    font-size: 4em;
    transform: translateX(-50%) translateY(-50%);
}

.video-js .vjs-control-bar {
    background-color: rgba(113, 191, 68, 0.7);
}

.vjs-control-bar {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.video-js .vjs-slider {
    background-color: rgba(250, 250, 250, 0.5);
}

.video-js .vjs-load-progress div {
    background: #71BF44;
}

.intro__content {
    margin: 75px auto 0;
}

.intro__title {
    font-weight: bold;
    font-size: 42px;
    line-height: 64px;
    text-transform: uppercase;
}

.intro__sub {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-top: 14px;
}

.intro__list {
    list-style: none;
    margin-top: 35px;
}

.intro__list .item {
    display: flex;
    align-items: center;
}

.intro__list .item span {
    font-weight: normal;
    font-size: 15px;
    line-height: 42px;
    margin-left: 16px;
}

.intro__form {
    width: 100%;
    margin-top: 95px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px 20px 25px;
}

.form__title span {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #556266;
}

.form__title span:first-child {
    font-weight: bold;
    color: #1F2323;
    margin-right: 10px;
}

.intro__form .form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro__form .form-container .form__group {
    width: 100%;
    max-width: calc(100% / 5 - 10px);
}

.benefits {
    padding: 100px 0 50px;
}

.benefits__content {
    margin-top: 80px;
}

.benefits__content .item {
    display: flex;
    align-items: flex-start;
}

.benefits__content .item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.benefits__content .item:nth-child(2),
.benefits__content .item:nth-child(4) {
    margin-bottom: 0;
}

.benefits__content .item__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #1F2323;
    margin-bottom: 12px;
}

.benefits__content .item__content p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #556266;
}

.benefits__content .item img {
    margin-right: 45px;
}

.invest {
    background: #F4F7FA;
    padding: 50px 0;
}

.invest__content {
    margin-top: 50px;
}

.invest__content .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.invest__content .item:nth-child(3),
.invest__content .item:nth-child(5) {
    margin-bottom: 0;
}

.invest__content .item p {
    margin-left: 27px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #556266;
}

.start {
    padding: 50px 0 100px;
}

.start__title {
    text-align: center;
}

.start__items {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}

.start__items .item {
    position: relative;
    width: 100%;
    max-width: calc(100% / 4 - 20px);
}

.start__items .item:after {
    content: '';
    position: absolute;
    display: block;
    width: 140px;
    height: 1px;
    background: #E6EBEB;
    top: 50px;
    right: -33%;
    z-index: 2;
}

.start__items .item:nth-child(4):after {
    display: none;
}

.start__items .item span {
    background: #71BF44;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
    margin: 0 auto 25px;
}

.start__items .item .item__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #1F2323;
    margin-bottom: 15px;
}

.start__items .item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #556266;
}

.second {
    background: #F4F7FA;
    padding: 50px 0;
}

.second__form {
    text-align: center;
}

.second__form .form__title {
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #1F2323;
    margin-top: 30px;
}

.second__form .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second__form .form__group-name,
.second__form .form__group-email,
.second__form .form__group-input {
    width: 100%;
    max-width: calc(100% / 4 - 15px);
}

.second__form .form__group-button {
    margin: 45px auto 0;
}

.second__form form.form-container button[type="submit"] {
    width: 320px;
}

.footer {
    padding: 40px 0;
    background: #2E2E2E;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__content {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #F4F7FA;
    margin-left: 65px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .start__items .item:after {
        width: 120px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 960px) {
    .start__items .item:after {
        display: none;
    }
}

@media (max-width: 768px) {
    .title {
        text-align: center;
        font-size: 24px;
        line-height: 40px;
    }

    .content {
        flex-direction: column;
    }

    .side {
        max-width: 100%;
    }

    .intro__content {
        margin: 50px auto 0;
        flex-direction: column;
    }

    .intro__title {
        font-size: 24px;
        line-height: 36px;
    }

    .intro__sub {
        font-size: 14px;
        line-height: 28px;
    }

    .intro__list {
        margin-top: 20px;
    }

    .intro__list .item span {
        font-size: 14px;
    }

    .content__side_1,
    .content__side_2 {
        max-width: 100%;
    }

    .content__side_2 {
        margin: 45px 0 0;
    }

    .overlay {
        background: linear-gradient(180deg, rgba(30, 67, 1, 0.7) 30.21%, rgba(30, 67, 1, 0) 100%);
    }

    .intro__form .form-container {
        flex-direction: column;
    }

    .intro__form .form-container .form__group {
        max-width: 100%;
    }

    .second__form .form-container {
        flex-wrap: nowrap;
        display: block;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .second__form .form__group-name,
    .second__form .form__group-email,
    .second__form .form__group-input {
        max-width: 100%;
    }

    .iti {
        width: 100%;
    }

    .second__form .form__group-button {
        margin: 20px auto 0;
    }

    .second__form form.form-container button[type="submit"] {
        width: 100%;
    }

    .second__form .form__title {
        font-size: 24px;
        line-height: 32px;
        width: 100%;
        max-width: 450px;
        margin: 30px auto 0;
        font-weight: bold;
    }

    .benefits {
        padding: 50px 0;
    }

    .benefits__content {
        margin-top: 30px;
    }

    .benefits__content .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgb(156 156 156 / 25%);
        border-radius: 4px;
        padding: 35px 50px;
        max-width: 450px;
        margin: 0 auto 20px;
    }

    .benefits__content .item:nth-child(2) {
        margin-bottom: 20px;
    }

    .benefits__content .item img {
        margin-right: 0;
    }

    .invest {
        padding: 30px 0;
    }

    .invest__content .item:nth-child(3) {
        margin-bottom: 20px;
    }

    .invest__content {
        max-width: 450px;
        margin: 30px auto 0;
    }

    .start {
        padding: 50px 0;
    }

    .start__items {
        display: block;
        width: 100%;
        max-width: 450px;
        margin: 50px auto 0;
    }

    .start__items .item {
        max-width: 100%;
        text-align: left;
        margin-bottom: 30px;
    }

    .start__items .item:nth-child(4) {
        margin-bottom: 0;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__content {
        margin: 20px 0 0;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
    }

    .start__items .item span {
        width: 40px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 20px 0 0;
    }

    .start__items .item__top {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .start__items .item .item__title {
        margin-bottom: 0;
        line-height: 22px;
    }

    .form__title span {
        font-size: 14px;
    }

    form.form-container input {
        height: 48px;
        font-size: 15px;
    }

    .iti__selected-flag {
        max-height: 46px;
    }

    .form__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .intro__form {
        margin-top: 55px;
    }
}

@media (max-width: 567px) {
    .invest__title {
        text-align: left;
    }
}