@charset "UTF-8";
.form-container {
  position: relative;
}
.form-container .form__group {
  margin-top: 15px;
}
.form_group--button {
  margin-top: 20px !important;
}
.form_group--name,
.form_group--email {
  position: relative;
}
form.form-container .form__group input {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  text-align: left;
  border-radius: 0.25rem;
  background: #f7f7f7;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-image: initial;
  padding: 0 15px;
  outline: 0;
}
form.form-container .form__group input:focus {
  outline: 0;
}
form.form-container button[type='submit'] {
  color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.8rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background-color: #0b72ce;
  line-height: 1.6rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 1.4rem;
  display: block;
  transition: all 0.3s ease 0;
  border-radius: 0.25rem;
}
.checkbox-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-svg label.checked-svg {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  margin: 0;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  min-height: auto;
  padding-left: initial;
}
.checked-svg:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.checked-svg svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.checked-svg svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.checked-svg svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.checked-svg:hover:before {
  opacity: 1;
}
.checked-svg:hover svg {
  stroke: #4285f4;
}
#cbx:checked + .checked-svg svg {
  stroke: #59f442;
}
#cbx:checked + .checked-svg svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx:checked + .checked-svg svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
.privacy-checkbox {
  font-family: inherit;
  padding-left: 10px;
  padding-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  color: #fff;
  text-align: left;
}
.checkbox-svg p {
  margin: 0;
}
.preloader2 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  background-image: url(../images/preloader.gif);
  border-radius: 20px;
  opacity: 0.5;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.input__wrapper {
  position: relative;
  margin-bottom: 20px;
}
.form__input {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 46px 10px 14px;
}
.phone {
  padding-left: 115px !important;
  padding-right: 46px !important;
}
.form__input.valid {
  background: #e8f0fe;
  border: 1px solid #c6c6c6;
}
.passWrp {
  display: flex;
}
.form--control-password {
  border-right: none !important;
  border-radius: 5px 0 0 5px;
}
.checkbox-svg {
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
}
.privacy-checkbox {
  padding-left: 5px;
  padding-top: 15px;
}
.privacy-checkbox p {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.privacy-checkbox p a {
  color: #000;
  text-decoration: underline;
}
.checkbox-svg label.checked-svg {
  height: 20px !important;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
*,
::after,
::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
b {
  font-weight: bolder;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}
img,
svg {
  vertical-align: middle;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[type='submit'],
button {
  -webkit-appearance: button;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
.form-control[type='file']:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:active {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
b,
form,
label,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
footer,
header,
section {
  display: block;
}
body {
  line-height: 1;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
form {
  margin: 0;
}
button,
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
input,
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
button,
input {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
input {
  box-sizing: border-box;
  border: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  all: unset;
}
.header {
  background: url('../images/header-bg.webp') top center no-repeat, #252525;
  object-fit: contain;
  background-size: cover;
  padding-bottom: 318px;
}
.header__logo {
  padding-top: 42px;
}
.header__text {
  margin-top: 75px;
  margin-bottom: 125px;
}
.header__text-top {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.header__text-bottom {
  font-size: 29px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}
.header__video {
  border-radius: 11px;
}
.header__form {
  background: #fff;
  border-radius: 11px;
  padding: 50px 30px 55px 23px;
}
.imperial {
  background-color: #252525;
  padding-bottom: 80px;
}
.imperial__box {
  background: #fff;
  border-radius: 15px;
  padding: 42px 36px;
}
.imperial__box-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 70px;
}
.imperial__box-items {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.imperial__box-items_text p {
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
.imperial__box-items:last-child {
  margin-bottom: 0;
}
.imperial__box-items_img {
  margin-right: 40px;
}
.imperial__wrapper {
  background: #5587cb;
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 42px 45px 1px;
}
.imperial__wrapper-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.imperial__wrapper-items {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.imperial__wrapper-items_text p {
  font-size: 25px;
  line-height: 26px;
  color: #fff;
}
.imperial__wrapper-items_img {
  margin-right: 40px;
}
.imperial__desc {
  background: url('../images/imperial-bg.webp') top center no-repeat;
  object-fit: contain;
  border-radius: 15px;
  height: 100%;
  position: relative;
  display: flex;
}
.imperial__desc-box {
  max-width: 610px;
  background: rgba(240, 85, 85, 0.1);
  border: 1px solid #f05555;
  backdrop-filter: blur(27px);
  border-radius: 15px;
  padding: 30px;
  margin: auto;
}
.imperial__desc-box_text {
  font-weight: normal;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 20px;
}
.imperial__desc-box_text:last-child {
  margin-bottom: 0;
}
.imperial .row__ceo {
  margin-top: 40px;
}
.imperial__ceo-img {
  position: relative;
}
.imperial__ceo-img img {
  max-width: 100%;
}
.imperial__ceo-box {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background: linear-gradient(90deg, #5587cb 32.68%, rgba(196, 196, 196, 0) 104.3%);
  border: 1px solid #5587cb;
  border-radius: 7px;
  padding: 10px;
}
.imperial__ceo-box_name {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.imperial__ceo-box_position {
  font-size: 15px;
  color: #fff;
}
.projects {
  background: linear-gradient(180deg, #252525 44.23%, rgba(37, 37, 37, 0) 100%),
    url('../images/projects-bg.webp') top center no-repeat;
  background-size: cover;
  object-fit: cover;
  padding-top: 180px;
}
.projects__title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.projects .row__projects {
  padding-top: 75px;
  margin-bottom: 140px;
}
.projects__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.projects__wrapper-img img {
  max-width: 100%;
  border-radius: 15px;
}
.projects__wrapper-items {
  position: absolute;
  bottom: 80px;
  left: 20px;
  color: #fff;
  font-weight: 700;
}
.projects__wrapper-items_name {
  font-size: 30px;
  margin-bottom: 30px;
}
.projects__wrapper-items_exxon {
  margin-bottom: 13px;
}
.projects__wrapper-items_text {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 380px;
}
.projects__wrapper-items_profit {
  margin-bottom: 20px;
  font-size: 16px;
}
.projects__wrapper-items_btn {
  position: absolute;
  bottom: -40px;
  background: #e11a1a;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 5px 25px;
}
.projects .gas {
  padding-bottom: 100px;
}
.projects .gas__title {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.projects .gas__form {
  background: #fff;
  border-radius: 11px;
  padding: 13px 23px 55px 23px;
  max-width: 388px;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}
.footer {
  background: #fff;
  padding-top: 30px;
}
.footer__payments img {
  max-width: 100%;
}
.footer__text {
  text-align: center;
  margin-top: 30px;
}
.footer__pr {
  text-align: center;
  margin: 50px 0;
}
.form-container h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #000474;
  font-weight: 700;
}
.count {
  margin-top: 20px !important;
  font-size: 16px;
  color: #000474;
  text-align: center;
}
.count b {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.count span {
  color: #ba1625;
  font-weight: 700;
}
@media (max-width: 1920px) {
  .projects .gas {
    padding-bottom: 250px;
  }
}
@media (max-width: 1400px) {
  .imperial__desc-box {
    max-width: 500px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 180px;
  }
  .header__video {
    margin-bottom: 20px;
  }
  .imperial .row__ceo {
    flex-direction: column-reverse;
  }
  .imperial__wrapper {
    margin-top: 30px;
  }
  .imperial__desc {
    padding: 40px;
  }
  .imperial__ceo {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  .projects {
    padding-top: 50px;
  }
  .projects__wrapper {
    margin-bottom: 20px;
  }
  .projects__wrapper-items {
    left: 300px;
  }
  .projects .gas {
    padding-bottom: 120px;
  }
  .projects .gas__title {
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: inherit;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  .projects__wrapper-items {
    left: 185px;
  }
}
@media (max-width: 768px) {
  .projects__title {
    font-size: 24px;
  }
  .projects__wrapper-items {
    left: 90px;
  }
  .projects__wrapper-items_name {
    font-size: 24px;
  }
  .projects__wrapper-items_text {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .container {
    width: inherit;
  }
  .header__text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .header__text-top {
    font-size: 18px;
    line-height: inherit;
  }
  .header__text-bottom {
    margin-top: 20px;
    line-height: inherit;
    font-size: 14px;
  }
  .imperial__box-items_text p {
    font-size: 16px;
  }
  .imperial__wrapper-items_text p {
    font-size: 12px;
  }
  .imperial__desc {
    padding: 20px;
  }
  .imperial__desc-box_text {
    font-size: 12px;
  }
}
@media (max-width: 580px) {
  .projects__wrapper {
    margin-bottom: 20px;
  }
  .projects__wrapper-items {
    left: 65px;
  }
}
@media (max-width: 480px) {
  .projects__wrapper {
    margin-bottom: 20px;
  }
  .projects__wrapper-items {
    left: 25px;
  }
}
@media (max-width: 380px) {
  .imperial__desc-box {
    padding: 15px;
  }
  .imperial__desc-box_text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .imperial__desc-box_text:last-child {
    margin-bottom: 0;
  }
}
.valid {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
.register-form {
  position: relative;
}
.footer__sub__dsrc h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 10px;
}
.footer__sub__dsrc p {
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
}
.footer__infoMenu li a {
  justify-content: center;
  padding: 0 !important;
  text-align: center;
  margin-bottom: 10px;
}
.footer__infoMenu img {
  margin: 0 !important;
  display: inline-block !important;
  vertical-align: bottom !important;
}
.footer__socialMenu {
  justify-content: center;
}
