/*L-desktop*/

@media (min-device-width: 1600px) {}

/*L-laptops*/
@media only screen and (min-device-width: 1200px) and (max-device-width: 1440px) {
    .steps .wrapper {
        margin: 0 auto;
        padding-left: 0;
        width: 90%;
    }

    .thankyou-page-inner {
        top: 15%;
    }

    .thankyou-page-inner .wrapper {
        padding: 100px;
    }

    .next-prev-btn .back {
        text-align: center;
    }


}

/*laptops/tablets*/
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
    .sidebar .wrapper {
        padding: 25px 20px 70px;
        height: auto;
    }

    .sidebar-inner h2 {
        font-size: 40px;
    }

    .sidebar-inner p {
        font-size: 16px;
    }

    /* .sidebar-inner {
        width: 82%;
    } */

    .copyright {
        display: block;
        text-align: center;
    }

    .copyright * {
        margin-bottom: 10px;
    }

    .steps .wrapper {
        margin: 0 auto;
        padding-left: 0;
        width: 95%;
    }

    .step-inner h2 {
        font-size: 40px;
    }

    .step-inner p {
        font-size: 20px;
    }

    .radio-field input[type=radio] {
        padding: 25px;
    }

    .radio-field label {
        font-size: 20px;
        margin-right: 25px;
    }

    .select-field input[type=radio] {
        width: 90px;
        height: 70px;
    }

    .select-field input[type=radio]::before {
        line-height: 70px;
        font-size: 20px;
    }

    .donate-button {
        display: block;
        text-align: center;
    }

    .donate-button * {
        margin-bottom: 10px;
    }

    .thankyou-page {
        border-radius: 0;
        padding: 20px;
    }

    .thankyou-page-inner {
        top: 5%;
    }

    .thankyou-page-inner .wrapper {
        padding: 50px;

    }

    .thankyou-page-inner h2 {
        font-size: 30px;
    }
}


/*tablets*/
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
    /* @media only screen and (min-device-width: 576px) and (max-device-width: 1024px) { */

    .tab-100 {
        width: 100%;
    }

    .steps {
        margin-top: 50px;
        height: auto;
    }




}


/*Smart phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 576px) {

    .sidebar .wrapper {
        padding: 20px 20px 68px;
        height: auto;
    }

    .sidebar-inner {
        width: 100%;
    }

    .sidebar-inner h2 {
        font-size: 24px;
    }

    .sidebar-inner p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
    }
}

.copyright {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.copyright * {
    /* margin-bottom: 10px; */
    margin-bottom: 5px;
}

.steps .wrapper {
    margin: 0 auto;
    padding-left: 0;
    width: 95%;
}

.steps {
    margin-top: 50px;
}

.step-inner h2 {
    font-size: 20px;
}

.step-inner p {
    font-size: 20px;
    line-height: 1.2;
    margin: 15px 0px;
}

.radio-field input[type=radio] {
    padding: 10px;
}

.radio-field label {
    font-size: 16px;
    margin-right: 25px;
}

.select-field input[type=radio] {
    width: 90px;
    height: 70px;
}

.select-field input[type=radio]::before {
    line-height: 70px;
    font-size: 20px;
}

.next-prev-btn {
    display: block;
    text-align: center;
}

.next-prev-btn * {
    margin-bottom: 10px;
}

.next-prev-btn .prev {
    margin-right: 0px;
}

.donate-button {
    display: block;
    text-align: center;
}

.donate-button * {
    margin-bottom: 10px;
}

.donate-button button {
    width: 100%;
}

.donate-button .custom {
    width: 100%;
}

.thankyou-page {
    border-radius: 0;
    padding: 20px;
}

.thankyou-page-inner {
    top: 15%;
    border-radius: 10px;
}

.thankyou-page-inner .wrapper {
    padding: 50px;

}

.thankyou-page-inner h2 {
    font-size: 30px;
}

.next-prev-btn .back {
    width: 100%;
}