.Toaster_toaster___6v4P {
  background: #2b3237;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  max-height: 0;
  transition: max-height var(--dls-transition-duration) var(--dls-transition-easing)
}

.Toaster_open__V8Ris {
  padding: 1.5rem 0
}

@media (min-width:62em) {
  .Toaster_open__V8Ris {
    padding: 2.25rem 0
  }
}

.Toaster_heading__KstKu {
  padding-right: 1.5rem
}

@media (min-width:48em) {
  .Toaster_heading__KstKu {
    padding-right: 0
  }
}

.Toaster_body__iX7zs {
  padding: 0 1rem;
  margin: auto;
  position: relative
}

@media (min-width:62em) {
  .Toaster_body__iX7zs {
    max-width: 60rem;
    padding: 0
  }
}

@media (min-width:75em) {
  .Toaster_body__iX7zs {
    max-width: 72rem
  }
}

.Toaster_bodyLayout__1pkFF {
  display: flex
}

.Toaster_blockWrapper__QTvnF {
  flex: 2
}

.Toaster_imageWrapper__pcTi6 {
  display: none
}

.Toaster_imageWrapper__pcTi6 .Toaster_image___9BqM {
  position: absolute;
  min-width: 28rem
}

@media (min-width:34em) {
  .Toaster_imageWrapper__pcTi6 .Toaster_image___9BqM {
    right: -100px;
    max-width: 50%;
    bottom: -2.5rem
  }
}

@media (min-width:75em) {
  .Toaster_imageWrapper__pcTi6 .Toaster_image___9BqM {
    right: 0;
    max-width: 160%;
    bottom: -2.25rem
  }
}

@media (min-width:48em) {
  .Toaster_imageWrapper__pcTi6 {
    display: block;
    flex: 1
  }
}

@media (min-width:75em) {
  .Toaster_imageWrapper__pcTi6 {
    position: relative
  }
}

.Toaster_close__mhu3o {
  padding: 0;
  position: absolute;
  top: 0;
  right: 1rem
}

.Toaster_close__mhu3o:hover {
  color: var(--colour-primary)
}

@media (min-width:62em) {
  .Toaster_close__mhu3o {
    right: 0
  }
}

.Toaster_contentWrapper__OA778 {
  position: relative;
  display: block
}

@media (min-width:75em) {
  .Toaster_contentWrapper__OA778 {
    width: 65%
  }
}

@media (min-width:48em) {
  .Toaster_contentWrapperText__D3rmv {
    padding-right: 2.25rem
  }
}

.Toaster_ctaWrapper__Lq_Qo {
  margin-top: 1rem
}

.Toaster_ctaWrapperButton__DEPQT {
  border: 0
}

.Toaster_ctaWrapperLink__3otRa {
  margin-left: 2rem;
  color: #4d9aff;
  font-size: .75rem;
  letter-spacing: .125rem;
  text-transform: uppercase
}

h1.Typography_normalise__UWWOc, h2.Typography_normalise__UWWOc, h3.Typography_normalise__UWWOc, h4.Typography_normalise__UWWOc, h5.Typography_normalise__UWWOc, h6.Typography_normalise__UWWOc {
  margin-top: 0
}

.Typography_sizeMobile12__d1m0s {
  font-size: .75rem
}

.Typography_sizeMobile14__2WyUY {
  font-size: .875rem
}

.Typography_sizeMobile16__Wygfe {
  font-size: 1rem
}

.Typography_sizeMobile18__fMIXg {
  font-size: 1.125rem
}

.Typography_sizeMobile20__zPuzG {
  font-size: 1.25rem
}

.Typography_sizeMobile24__j8FWA {
  font-size: 1.5rem
}

.Typography_sizeMobile28__7WDlw {
  font-size: 1.75rem
}

.Typography_sizeMobile32__3Lz87 {
  font-size: 2rem
}

.Typography_sizeMobile36__EyhNQ {
  font-size: 2.25rem
}

.Typography_sizeMobile40__g2t9j {
  font-size: 2.5rem
}

.Typography_sizeMobile48__8eAfa {
  font-size: 3rem
}

.Typography_sizeMobile56__0z1Va {
  font-size: 3.5rem
}

.Typography_sizeMobile64__MLPpm {
  font-size: 4rem
}

.Typography_sizeMobile72__I85pY {
  font-size: 4.5rem
}

.Typography_sizeMobile80__h5Xnr {
  font-size: 5rem
}

@media (min-width:48em) {
  .Typography_sizeDesktop12__7nmP_ {
    font-size: .75rem
  }

  .Typography_sizeDesktop14__9fsKi {
    font-size: .875rem
  }

  .Typography_sizeDesktop16___5Jud {
    font-size: 1rem
  }

  .Typography_sizeDesktop18__M4zD5 {
    font-size: 1.125rem
  }

  .Typography_sizeDesktop20__AMF_h {
    font-size: 1.25rem
  }

  .Typography_sizeDesktop24__LgFug {
    font-size: 1.5rem
  }

  .Typography_sizeDesktop28__2SjrP {
    font-size: 1.75rem
  }

  .Typography_sizeDesktop32__a1adN {
    font-size: 2rem
  }

  .Typography_sizeDesktop36__nwYOG {
    font-size: 2.25rem
  }

  .Typography_sizeDesktop40__Y6DSe {
    font-size: 2.5rem
  }

  .Typography_sizeDesktop48___EN39 {
    font-size: 3rem
  }

  .Typography_sizeDesktop56__f457p {
    font-size: 3.5rem
  }

  .Typography_sizeDesktop64__RmJW2 {
    font-size: 4rem
  }

  .Typography_sizeDesktop72__Pmr_7 {
    font-size: 4.5rem
  }

  .Typography_sizeDesktop80__zuQbO {
    font-size: 5rem
  }
}

.Typography_sizeTv12__oLNl6 {
  font-size: .75rem
}

.Typography_sizeTv20__LuTl0 {
  font-size: 1.25rem
}

.Typography_sizeTv24__dbHA4 {
  font-size: 1.5rem
}

.Typography_sizeTv26__0mYTk {
  font-size: 1.625rem
}

.Typography_sizeTv30__pnhpg {
  font-size: 1.875rem
}

.Typography_sizeTv32__NID5l {
  font-size: 2rem
}

.Typography_sizeTv48___0EGo {
  font-size: 3rem
}

.Typography_sizeTv72__xcKos {
  font-size: 4.5rem
}

.Typography_sizeTv96__R9icW {
  font-size: 6rem
}

.Typography_lineHeightMobile12__f3y5a {
  line-height: .75rem
}

.Typography_lineHeightMobile14__FZJzz {
  line-height: .875rem
}

.Typography_lineHeightMobile16__jNdam {
  line-height: 1rem
}

.Typography_lineHeightMobile18__X5mIh {
  line-height: 1.125rem
}

.Typography_lineHeightMobile20__akKiV {
  line-height: 1.25rem
}

.Typography_lineHeightMobile24__xwyV0 {
  line-height: 1.5rem
}

.Typography_lineHeightMobile28__fSrmZ {
  line-height: 1.75rem
}

.Typography_lineHeightMobile32__sHfSN {
  line-height: 2rem
}

.Typography_lineHeightMobile36__tmcbu {
  line-height: 2.25rem
}

.Typography_lineHeightMobile40__52M9a {
  line-height: 2.5rem
}

.Typography_lineHeightMobile48__bJ9BU {
  line-height: 3rem
}

.Typography_lineHeightMobile56__iBg5V {
  line-height: 3.5rem
}

.Typography_lineHeightMobile64__q1Ngq {
  line-height: 4rem
}

.Typography_lineHeightMobile72__Ep35I {
  line-height: 4.5rem
}

.Typography_lineHeightMobile80__6117K {
  line-height: 5rem
}

.Typography_lineHeightMobile96__v1fcy {
  line-height: 6rem
}

.Typography_marginBottomMobileDefault__P3cwI {
  margin-bottom: 1.5rem
}

.Typography_marginBottomMobileSmall__8rIrY {
  margin-bottom: 1rem
}

.Typography_marginBottomMobileLarge__Y4x7_ {
  margin-bottom: 2rem
}

@media (min-width:48em) {
  .Typography_lineHeightDesktop12__ZAous {
    line-height: .75rem
  }

  .Typography_lineHeightDesktop14__MU3Hy {
    line-height: .875rem
  }

  .Typography_lineHeightDesktop16__D6ilW {
    line-height: 1rem
  }

  .Typography_lineHeightDesktop18__UZzSa {
    line-height: 1.125rem
  }

  .Typography_lineHeightDesktop20__fsDVC {
    line-height: 1.25rem
  }

  .Typography_lineHeightDesktop24__NzkfH {
    line-height: 1.5rem
  }

  .Typography_lineHeightDesktop28__bRMjQ {
    line-height: 1.75rem
  }

  .Typography_lineHeightDesktop32___2nGj {
    line-height: 2rem
  }

  .Typography_lineHeightDesktop36__nS05R {
    line-height: 2.25rem
  }

  .Typography_lineHeightDesktop40__UHQxu {
    line-height: 2.5rem
  }

  .Typography_lineHeightDesktop48__w_kN7 {
    line-height: 3rem
  }

  .Typography_lineHeightDesktop56__IFNtP {
    line-height: 3.5rem
  }

  .Typography_lineHeightDesktop64__8eI6C {
    line-height: 4rem
  }

  .Typography_lineHeightDesktop72__QBzUG {
    line-height: 4.5rem
  }

  .Typography_lineHeightDesktop80__ev_ts {
    line-height: 5rem
  }

  .Typography_lineHeightDesktop96__Y7vhO {
    line-height: 6rem
  }
}

.Typography_lineHeightTv24__lr8e0 {
  line-height: 1.5rem
}

.Typography_lineHeightTv30__6efuC {
  line-height: 1.875rem
}

.Typography_lineHeightTv32__De3QJ {
  line-height: 2rem
}

.Typography_lineHeightTv35__VCG_D {
  line-height: 2.1875rem
}

.Typography_lineHeightTv38__xgLeJ {
  line-height: 2.375rem
}

.Typography_lineHeightTv40___0PBZ {
  line-height: 2.5rem
}

.Typography_lineHeightTv56__hcZQH {
  line-height: 3.5rem
}

.Typography_lineHeightTv84__LSGGf {
  line-height: 5.25rem
}

.Typography_lineHeightTv105__XN4qP {
  line-height: 6.5625rem
}

@media (min-width:48em) {
  .Typography_marginBottomDesktopDefault__7NyRi {
    margin-bottom: 1.5rem
  }

  .Typography_marginBottomDesktopSmall__IsBSx {
    margin-bottom: 1rem
  }

  .Typography_marginBottomDesktopLarge__zsliS {
    margin-bottom: 2rem
  }
}

.Typography_marginBottomTvDefault__2xbCR {
  margin-bottom: 1.5rem
}

.Typography_marginBottomTvSmall__FtzTS {
  margin-bottom: 1rem
}

.Typography_marginBottomTvLarge__5kg9I {
  margin-bottom: 3rem
}

.Typography_light__pG05L {
  font-weight: var(--typography-font-weight, 300)
}

.Typography_regular__Aqp4p {
  font-weight: var(--typography-font-weight, 400)
}

.Typography_bold__A9Voq {
  font-weight: var(--typography-font-weight, bold)
}

.Typography_black__5rKXY {
  font-weight: var(--typography-font-weight, 900)
}

.Typography_colourInherit__xnbjy {
  color: inherit
}

.Typography_colourFill__d573n {
  color: var(--colour-accent)
}

.Typography_colourLink__FA5Ys {
  color: var(--link-text, var(--colour-assistant))
}

.Typography_letterSpacedNone__0eCxd {
  letter-spacing: normal
}

.Typography_letterSpacedNone__0eCxd, .Typography_letterSpacedSm__oprIk {
  font-feature-settings: "liga", "clig off";
  font-variant-ligatures: no-common-ligatures
}

.Typography_letterSpacedSm__oprIk {
  letter-spacing: .03125rem
}

.Typography_letterSpacedLg__FTIEL {
  letter-spacing: .125rem;
  font-feature-settings: "liga", "clig off";
  font-variant-ligatures: no-common-ligatures
}

.Typography_base__k7c9F {
  font-family: var(--typography-font-family, var(--dls-font-stack-sans))
}

.Typography_rounded__9V4IP {
  font-family: var(--dls-font-stack-rounded)
}

.Typography_condensed__lovkj {
  font-family: var(--dls-font-stack-condensed)
}

.Typography_tabularNums__vspQt {
  font-family: var(--dls-font-stack-monospace)
}

.Typography_serif__wvNLk {
  font-family: var(--dls-font-stack-serif)
}

.Typography_truncateText__K3zpB {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.Typography_focusReset__vVwWc {
  box-shadow: none;
  background: none
}

.Typography_uppercase__z_zhz {
  text-transform: uppercase
}

.Typography_condensed__lovkj.Typography_black__5rKXY, .Typography_condensed__lovkj.Typography_regular__Aqp4p {
  font-weight: 700
}

.Heading_heading__XLh_j {
  --typography-font-family: var(--heading-font-family);
  --typography-font-weight: var(--heading-font-weight)
}

.Heading_condensed__9t9v6 {
  --typography-font-family: var(--dls-font-stack-condensed)
}

.Heading_default__Nvfei {
  --typography-font-family: var(--dls-font-stack-sans)
}

.Heading_rounded__H6N0W {
  --typography-font-family: var(--dls-font-stack-rounded)
}

.ScreenReaderOnly_srOnly__aJfWv {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.ScreenReaderOnly_focusable__xp3DW:active, .ScreenReaderOnly_focusable__xp3DW:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

@media (max-width:33.9375em) {
  .ScreenReaderOnly_uptoMobileMax__82CfL {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
  }
}

.ScreenReaderOnly_srLinkHint__83_S_[href^=http]:not([href*="abc.net.au"]):before, .ScreenReaderOnly_srLinkHint__83_S_[target=_blank]:before {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px)
}

.ScreenReaderOnly_srLinkHint__83_S_[href^=http]:not([href*="abc.net.au"]):before {
  content: "(external link)"
}

.ScreenReaderOnly_srLinkHint__83_S_[target=_blank]:before {
  content: "(opens in a new tab)"
}

.ScreenReaderOnly_srLinkHint__83_S_[href^=http][target=_blank]:not([href*="abc.net.au"]):before {
  content: "(external link, opens in a new tab)"
}

.Button_btn__ocxsu {
  color: inherit;
  display: inline-block;
  line-height: 1.75rem;
  background: transparent;
  font-family: var(--dls-font-stack-sans);
  font-size: .875rem;
  font-weight: 700;
  padding: .625rem 1.5rem .5rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  border-color: var(--button-fill, var(--colour-accent));
  transition: var(--dls-link-transition);
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

@media (hover:hover) {
  .Button_btn__ocxsu.Button_hover__H8_Rr, .Button_btn__ocxsu:hover {
    --button-hover-shadow: var(--button-ghost-hover-fill, var(--button-fill, var(--colour-accent)));
    box-shadow: 0 0 0 2px var(--button-hover-shadow), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05);
    border-radius: 2px
  }
}

.Button_btn__ocxsu.Button_focus__ePzXp, .Button_btn__ocxsu.Button_hover__H8_Rr, .Button_btn__ocxsu:focus, .Button_btn__ocxsu:hover {
  color: var(--button-text, var(--text-accent));
  background-color: var(--button-fill, var(--colour-accent))
}

.Button_btn__ocxsu.Button_focus-visible__5sGxI, .Button_btn__ocxsu.Button_focus__ePzXp {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_btn__ocxsu.Button_focus__ePzXp, .Button_btn__ocxsu:focus-visible {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_btn__ocxsu.Button_active__6y51z, .Button_btn__ocxsu.Button_focus__ePzXp.Button_active__6y51z, .Button_btn__ocxsu:active, .Button_btn__ocxsu:focus:active {
  color: var(--tint-2);
  border-color: transparent;
  background-color: var(--button-active-fill, var(--colour-accent-active))
}

.Button_btn__ocxsu.Button_disabled__Uc_ur, .Button_btn__ocxsu[disabled] {
  background: var(--button-disabled-fill, transparent);
  color: var(--tint-2);
  border: 1px solid var(--tint-4);
  cursor: not-allowed;
  transform: none;
  box-shadow: none
}

.Button_btnLink__0VEid {
  text-decoration: none
}

.Button_btnLink__0VEid.Button_hover__H8_Rr, .Button_btnLink__0VEid:hover {
  color: var(--button-text, var(--text-accent));
  text-decoration: none
}

.Button_btnLink__0VEid.Button_active__6y51z, .Button_btnLink__0VEid.Button_focus__ePzXp.Button_active__6y51z, .Button_btnLink__0VEid:active, .Button_btnLink__0VEid:focus:active {
  background-color: var(--button-active-fill, var(--colour-accent-active))
}

.Button_btnLink__0VEid.Button_disabled__Uc_ur, .Button_btnLink__0VEid[disabled] {
  pointer-events: none
}

.Button_btnLink__0VEid.Button_disabled__Uc_ur.Button_focus__ePzXp, .Button_btnLink__0VEid[disabled]:focus {
  background: var(--button-disabled-fill, transparent);
  color: var(--tint-2);
  border: 1px solid var(--tint-4);
  cursor: not-allowed;
  text-decoration: none
}

.Button_uppercase__Pxcl2 {
  letter-spacing: .125rem;
  text-transform: uppercase
}

.Button_filled__ECyPm {
  color: var(--button-text, var(--text-accent));
  background-color: var(--button-fill, var(--colour-accent));
  box-shadow: 0 0 0 0 transparent, 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05)
}

@media (hover:hover) {
  .Button_filled__ECyPm.Button_hover__H8_Rr, .Button_filled__ECyPm:hover {
    color: var(--button-filled-active-text, var(--text-assistant));
    border-color: var(--button-filled-active-fill, var(--colour-charcoal));
    background-color: var(--button-filled-active-fill, var(--colour-charcoal));
    box-shadow: 0 0 0 2px var(--button-filled-active-fill, #2b3237), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .5), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .3)
  }
}

.Button_filled__ECyPm.Button_focus__ePzXp, .Button_filled__ECyPm:focus {
  color: var(--button-filled-active-text, var(--text-assistant));
  border-color: transparent;
  background-color: var(--button-filled-active-fill, var(--colour-charcoal))
}

.Button_filled__ECyPm.Button_focus-visible__5sGxI {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_filled__ECyPm:focus-visible {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_filled__ECyPm.Button_active__6y51z, .Button_filled__ECyPm.Button_active__6y51z.Button_focus__ePzXp, .Button_filled__ECyPm:active, .Button_filled__ECyPm:active:focus {
  color: var(--button-filled-active-text, var(--text-assistant));
  border-color: transparent;
  background-color: var(--button-filled-active-fill, var(--colour-charcoal))
}

.Button_filled__ECyPm.Button_disabled__Uc_ur, .Button_filled__ECyPm.Button_disabled__Uc_ur.Button_focus__ePzXp, .Button_filled__ECyPm[disabled], .Button_filled__ECyPm[disabled]:focus {
  color: var(--tint-2);
  border-color: transparent;
  background-color: var(--button-disabled-fill, var(--tint-6));
  box-shadow: none
}

.Button_flat__87ryx {
  border: 0;
  line-height: 1.3rem
}

.Button_flat__87ryx, .Button_flat__87ryx.Button_active__6y51z, .Button_flat__87ryx.Button_hover__H8_Rr, .Button_flat__87ryx:active, .Button_flat__87ryx:hover {
  color: var(--link-text, var(--colour-assistant))
}

.Button_flat__87ryx.Button_hover__H8_Rr, .Button_flat__87ryx:hover {
  background-color: transparent;
  box-shadow: none
}

.Button_flat__87ryx.Button_active__6y51z, .Button_flat__87ryx.Button_hover__H8_Rr, .Button_flat__87ryx:active, .Button_flat__87ryx:hover {
  text-decoration: underline
}

.Button_flat__87ryx.Button_focus__ePzXp, .Button_flat__87ryx:focus {
  text-decoration: none
}

.Button_flat__87ryx.Button_focus-visible__5sGxI {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_flat__87ryx:focus-visible {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_flat__87ryx.Button_active__6y51z, .Button_flat__87ryx.Button_active__6y51z.Button_focus__ePzXp, .Button_flat__87ryx.Button_focus__ePzXp, .Button_flat__87ryx:active, .Button_flat__87ryx:active:focus, .Button_flat__87ryx:focus {
  color: var(--text-assistant, #fff);
  background-color: var(--colour-assistant)
}

.Button_flat__87ryx.Button_disabled__Uc_ur, .Button_flat__87ryx.Button_disabled__Uc_ur.Button_hover__H8_Rr, .Button_flat__87ryx[disabled], .Button_flat__87ryx[disabled]:hover {
  background-color: transparent;
  color: var(--tint-2);
  border: 0;
  text-decoration: none
}

.Button_flatLink__2NGV0 {
  text-decoration: none
}

.Button_flatLink__2NGV0.Button_active__6y51z, .Button_flatLink__2NGV0.Button_hover__H8_Rr, .Button_flatLink__2NGV0:active, .Button_flatLink__2NGV0:hover {
  text-decoration: underline
}

.Button_flatLink__2NGV0.Button_visited__tKbax, .Button_flatLink__2NGV0:visited {
  color: var(--link-visited-text, var(--colour-visited));
  text-decoration: none
}

.Button_flatLink__2NGV0.Button_disabled__Uc_ur, .Button_flatLink__2NGV0[disabled] {
  color: var(--tint-2);
  border: 0;
  background: none;
  outline: 0;
  pointer-events: none
}

.Button_ghost__D_4vI:not([disabled]) {
  color: var(--button-ghost-text, inherit);
  border-color: var(--button-ghost-border, var(--button-fill, var(--colour-accent)));
  background-color: var(--button-ghost-fill, transparent)
}

.Button_ghost__D_4vI:not([disabled]).Button_focus__ePzXp, .Button_ghost__D_4vI:not([disabled]).Button_hover__H8_Rr, .Button_ghost__D_4vI:not([disabled]):focus, .Button_ghost__D_4vI:not([disabled]):hover {
  color: var(--button-ghost-hover-text, var(--button-text, var(--text-accent)));
  border-color: var(--button-ghost-hover-border, var(--button-fill, var(--colour-accent)));
  background-color: var(--button-ghost-hover-fill, var(--button-fill, var(--colour-accent)))
}

.Button_ghost__D_4vI:not([disabled]).Button_active__6y51z, .Button_ghost__D_4vI:not([disabled]).Button_focus__ePzXp.Button_active__6y51z, .Button_ghost__D_4vI:not([disabled]):active, .Button_ghost__D_4vI:not([disabled]):focus:active {
  color: var(--button-ghost-active-text, var(--tint-2));
  border-color: var(--button-ghost-active-border, transparent);
  background-color: var(--button-ghost-active-fill, var(--button-active-fill, var(--colour-accent-active)))
}

.Button_ghost__D_4vI[disabled] {
  color: var(--button-ghost-disabled-text, var(--tint-2));
  border-color: var(--button-ghost-disabled-border, var(--tint-4));
  background: var(--button-ghost-disabled-fill, var(--button-disabled-fill, transparent))
}

.Button_noBorder__vZv5L {
  border-color: transparent
}

.Button_noBorder__vZv5L.Button_hover__H8_Rr, .Button_noBorder__vZv5L:hover {
  background-color: transparent
}

.Button_noBorder__vZv5L.Button_focus__ePzXp, .Button_noBorder__vZv5L:focus {
  background-color: var(--button-filled-active-fill, var(--colour-charcoal));
  color: var(--button-filled-active-text, var(--text-assistant))
}

.Button_iconOnly__MxBtD.Button_iconOnly__MxBtD {
  line-height: 0;
  padding: .5rem;
  box-shadow: none
}

.Button_iconOnly__MxBtD.Button_iconOnly__MxBtD.Button_focus-visible__5sGxI, .Button_iconOnly__MxBtD.Button_iconOnly__MxBtD.Button_focus__ePzXp {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_iconOnly__MxBtD.Button_iconOnly__MxBtD.Button_focus__ePzXp, .Button_iconOnly__MxBtD.Button_iconOnly__MxBtD:focus-visible {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--default-tab-outline-colour));
  outline-offset: var(--tab-no-offset);
  box-shadow: var(--tab-box-shadow, 0 0 0 4px var(--colour-assistant))
}

.Button_iconOnly__MxBtD.Button_iconOnly__MxBtD:hover {
  border-radius: 3px
}

.Button_iconLeft__m0N_E svg {
  margin-right: .5rem
}

.Button_iconRight__IvKcw svg {
  margin-left: .5rem
}

.Button_hasText__EBGRO svg {
  vertical-align: middle;
  transform: translateY(-2px)
}

.Button_hasIcon__u9otV svg {
  vertical-align: middle
}

.Link_link__nE06W {
  color: var(--link-text, var(--colour-assistant));
  text-decoration: none;
  border-bottom: 1px solid var(--link-border, var(--black-20));
  touch-action: manipulation;
  -webkit-tap-highlight-color: var(--colour-tap-highlight)
}

.Link_underlineOnHover__sSpUn {
  border-bottom-color: transparent
}

.Link_underlineNone__W1VuH {
  border: 0
}

.Link_showVisited__gmCxW.Link_visited__uOT6K, .Link_showVisited__gmCxW:visited {
  color: var(--link-visited-text, var(--colour-visited))
}

.Link_link__nE06W.Link_hover__cTccl, .Link_link__nE06W:hover {
  border-color: var(--link-hover, var(--link-text, var(--colour-assistant)))
}

.Link_link__nE06W.Link_active__GgPTt, .Link_link__nE06W.Link_hover__cTccl, .Link_link__nE06W:active, .Link_link__nE06W:hover {
  color: var(--link-hover, var(--link-text, var(--colour-assistant)))
}

.Link_underlineNone__W1VuH.Link_active__GgPTt, .Link_underlineNone__W1VuH.Link_hover__cTccl, .Link_underlineNone__W1VuH:active, .Link_underlineNone__W1VuH:hover {
  border: 0
}

.tab-key-pressed .Link_showFocus__0kDeK.Link_focus__abJfg, .tab-key-pressed .Link_showFocus__0kDeK:focus {
  border-color: transparent;
  color: var(--text-assistant, #fff);
  background-color: var(--colour-assistant)
}

@media screen and (-ms-high-contrast:active) {
  .tab-key-pressed .Link_showFocus__0kDeK.Link_focus__abJfg, .tab-key-pressed .Link_showFocus__0kDeK:focus {
    outline: 3px solid #fff
  }
}

.tab-key-pressed .Link_showFocus__0kDeK.Link_focus-visible__7yBzO, .tab-key-pressed .Link_showFocus__0kDeK.Link_focus__abJfg {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--colour-assistant));
  outline-offset: var(--tab-offset)
}

.tab-key-pressed .Link_showFocus__0kDeK.Link_focus__abJfg, .tab-key-pressed .Link_showFocus__0kDeK:focus-visible {
  outline-width: var(--tab-outline-width);
  outline-style: var(--tab-outline-style);
  outline-color: var(--tab-outline-colour, var(--colour-assistant));
  outline-offset: var(--tab-offset)
}

.Image_image__ZCYel {
  max-width: 100%;
  height: auto;
  vertical-align: top
}

.icon_icon__BezvR {
  line-height: 0
}

.icon_size16__liQpR {
  font-size: 1rem
}

.icon_size20__uN3m_ {
  font-size: 1.25rem
}

.icon_size24__1oTgD {
  font-size: 1.5rem
}

.icon_size32__QniuN {
  font-size: 2rem
}

.icon_size36__ACdc3 {
  font-size: 2.25rem
}

.icon_size40__uOceU {
  font-size: 2.5rem
}

.icon_size48__Lx0Si {
  font-size: 3rem
}

.Notification_container__qvffu {
  --background-colour: var(--notification-component-fill, #fff);
  --text-colour: var(--notification-component-text, #000);
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-size: 14px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;
  place-items: center left
}

@media (min-width:34em) {
  .Notification_container__qvffu {
    grid-template-columns: auto 1fr min-content
  }
}

.Notification_subgrid__RgSZt {
  display: grid;
  max-width: 37.5rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  grid-row: 1;
  grid-column: 1/3
}

@media (min-width:34em) {
  .Notification_subgrid__RgSZt {
    grid-row: 1/3;
    grid-column: 1
  }
}

.Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #fff);
  color: var(--icon-colour);
  grid-row: 1;
  grid-column: 1;
  margin-right: .625rem
}

.Notification_message__K9B06, .Notification_title__CMF50 {
  margin: 0;
  font-size: 14px;
  grid-row: 1;
  grid-column: 2
}

.Notification_message__K9B06 {
  display: flex;
  flex-direction: column
}

@media (min-width:34em) {
  .Notification_message__K9B06 {
    display: block;
    grid-column: 2
  }
}

.Notification_message__K9B06.Notification_withTitle__DYO2E {
  grid-row: 2;
  grid-column: 1/3
}

@media (min-width:34em) {
  .Notification_message__K9B06.Notification_withTitle__DYO2E {
    grid-column: 2
  }
}

.Notification_linkButton__4WAfm {
  height: 24px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 20px;
  padding: 0;
  border-bottom: 1px solid var(--tint-4);
  border-radius: 0;
  font-weight: 700;
  margin-top: .75rem
}

.Notification_linkButton__4WAfm:hover {
  border-radius: 0;
  text-decoration: none
}

.Notification_linkButton__4WAfm:active, .Notification_linkButton__4WAfm:active:focus, .Notification_linkButton__4WAfm:focus {
  text-decoration: none;
  background-color: transparent;
  color: var(--link-text, var(--colour-assistant));
  border-bottom: 1px solid var(--black-20-opacity)
}

@media (min-width:34em) {
  .Notification_linkButton__4WAfm {
    margin-top: 0;
    margin-left: .5rem
  }
}

.Notification_filledButton__omQSg {
  width: 100%;
  grid-row: 2;
  grid-column: 1/4;
  margin-top: 1rem
}

@media (min-width:34em) {
  .Notification_filledButton__omQSg {
    width: max-content;
    grid-row: 1/3;
    grid-column: 2;
    margin-top: 0;
    margin-left: 1rem
  }
}

.Notification_closeButton__X1uwH {
  --button-active-fill: rgba(0, 0, 0, .75);
  --tab-box-shadow: none;
  --tab-no-offset: 2px;
  grid-row: 1;
  grid-column: 3;
  align-self: start
}

.Notification_low__78BwL .Notification_closeButton__X1uwH, .Notification_medium__qeOMn .Notification_closeButton__X1uwH {
  --button-text: #fff;
  --button-fill: #000;
  --tab-outline-colour: var(--colour-assistant)
}

.Notification_high__2_PaW .Notification_closeButton__X1uwH {
  --button-text: #000;
  --button-fill: #fff;
  --tab-outline-colour: #fff
}

.Notification_low__78BwL {
  --background-colour: var(--notification-component-fill, #fff)
}

.Notification_high__2_PaW {
  --text-colour: var(--notification-component-text, #fff)
}

.Notification_info__JiTn5.Notification_medium__qeOMn {
  --background-colour: var(--notification-component-fill, #d9e7f8)
}

.Notification_info__JiTn5.Notification_high__2_PaW {
  --background-colour: var(--notification-component-fill, #0058cc)
}

.Notification_info__JiTn5.Notification_low__78BwL .Notification_icon__dmwej, .Notification_info__JiTn5.Notification_medium__qeOMn .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #0058cc)
}

.Notification_success__oQi_S.Notification_medium__qeOMn {
  --background-colour: var(--notification-component-fill, #e0ece1)
}

.Notification_success__oQi_S.Notification_high__2_PaW {
  --background-colour: var(--notification-component-fill, #2e7d32)
}

.Notification_success__oQi_S.Notification_low__78BwL .Notification_icon__dmwej, .Notification_success__oQi_S.Notification_medium__qeOMn .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #2e7d32)
}

.Notification_warning__85eQb.Notification_medium__qeOMn {
  --background-colour: var(--notification-component-fill, #fff7da)
}

.Notification_warning__85eQb.Notification_high__2_PaW {
  --background-colour: var(--notification-component-fill, #fdc605);
  --text-colour: var(--notification-component-text, #000)
}

.Notification_warning__85eQb.Notification_low__78BwL .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #646464)
}

.Notification_warning__85eQb.Notification_high__2_PaW .Notification_icon__dmwej, .Notification_warning__85eQb.Notification_medium__qeOMn .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #000)
}

.Notification_error__mKM4a.Notification_medium__qeOMn {
  --background-colour: var(--notification-component-fill, #faded9)
}

.Notification_error__mKM4a.Notification_high__2_PaW {
  --background-colour: var(--notification-component-fill, #db2000)
}

.Notification_error__mKM4a.Notification_low__78BwL .Notification_icon__dmwej, .Notification_error__mKM4a.Notification_medium__qeOMn .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #db2000)
}

.Notification_neutral__Soj3e.Notification_medium__qeOMn {
  --background-colour: var(--notification-component-fill, #e6e6e6)
}

.Notification_neutral__Soj3e.Notification_high__2_PaW {
  --background-colour: var(--notification-component-fill, #646464)
}

.Notification_neutral__Soj3e.Notification_low__78BwL .Notification_icon__dmwej, .Notification_neutral__Soj3e.Notification_medium__qeOMn .Notification_icon__dmwej {
  --icon-colour: var(--notification-component-icon, #646464)
}

.CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i {
  padding: .25rem;
  border-radius: 0;
  border-color: transparent
}

.CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]).CloseButton_hover__NH1z6, .CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]):hover {
  background: var(--close-button-hover-fill, #000);
  color: var(--close-button-hover-text, #fff);
  border-radius: 0;
  border-color: transparent
}

.CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]).CloseButton_focus__rEwxz, .CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]):focus {
  color: var(--button-text, var(--text-accent));
  background-color: var(--button-fill, var(--colour-accent))
}

.CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]).CloseButton_active__qHgOI, .CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]).CloseButton_focus__rEwxz.CloseButton_active__qHgOI, .CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]):active, .CloseButton_closeButton__M1w0i.CloseButton_closeButton__M1w0i:not([disabled]):focus:active {
  color: var(--tint-2);
  border-color: transparent;
  background-color: var(--button-active-fill, var(--colour-accent-active))
}

.CloseButton_small__4YmrT.CloseButton_small__4YmrT {
  padding: 0
}

.NotificationsProvider_container__2sehb {
  position: fixed;
  z-index: 999;
  margin: 24px
}

.NotificationsProvider_top__IOqWH {
  top: 0
}

.NotificationsProvider_bottom__MHZPb, .NotificationsProvider_top__IOqWH {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center
}

.NotificationsProvider_bottom__MHZPb {
  bottom: 0
}

.NotificationsProvider_topLeft__J3eyn {
  top: 0;
  left: 0
}

.NotificationsProvider_topRight__i621Z {
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.NotificationsProvider_bottomLeft__8YrGt {
  bottom: 0;
  left: 0
}

.NotificationsProvider_bottomRight__7YigL {
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

@keyframes NotificationsProvider_fadeIn__XwWo_ {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.NotificationsProvider_notification__CpO64 {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px var(--black-10-opacity), 0 2px 4px -1px var(--black-05-opacity)
}

.NotificationsProvider_notification__CpO64:not(:last-of-type) {
  margin-bottom: 24px
}

@media (max-width:33.9375em) {
  .AppContainer_notificationWrapper__lgzgy {
    max-width: 75%
  }
}

.GlobalStyles_dls___J5Yr {
  font-family: var(--dls-font-stack-sans);
  font-size: 1rem;
  line-height: 1.5rem
}

.GlobalStyles_dls___J5Yr * {
  box-sizing: border-box
}

.GlobalStyles_dls___J5Yr sup {
  line-height: 0
}

@media (forced-colors:active) {
  .GlobalStyles_dls___J5Yr svg {
    forced-color-adjust: auto
  }
}

@media (max-width:33.9375em) {
  .GlobalStyles_dls___J5Yr a:not([href])[id]:empty, .GlobalStyles_dls___J5Yr div[id]:empty {
    display: block;
    position: relative;
    top: -2.7rem
  }
}

@page {
  margin: 15mm
}

@media print {
  .GlobalStyles_dls___J5Yr {
    font-size: 14px
  }

  .print-text-only .GlobalStyles_dls___J5Yr [data-embed], .print-text-only .GlobalStyles_dls___J5Yr [data-print=inline-media], .print-text-only .GlobalStyles_dls___J5Yr img {
    display: none
  }
}

.LayoutContainer_container__O1X6V {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem
}

@media (min-width:34em) {
  .LayoutContainer_container__O1X6V {
    max-width: 36rem
  }
}

@media (min-width:48em) {
  .LayoutContainer_container__O1X6V {
    max-width: 45rem
  }
}

@media (min-width:62em) {
  .LayoutContainer_container__O1X6V {
    max-width: 60rem
  }
}

@media (min-width:75em) {
  .LayoutContainer_container__O1X6V {
    max-width: 72rem
  }
}

@media print {
  .LayoutContainer_container__O1X6V {
    max-width: none
  }
}

.SiteError_error__QSJpH {
  margin-top: 5rem;
  margin-bottom: 5rem
}

@media (max-width:33.9375em) {
  .SiteError_error__QSJpH {
    margin-top: 2.5rem
  }
}

.SiteError_details__4cTdz {
  margin-top: 3rem
}

.List_ordered__bZ2vX, .List_unordered__TB6BG, .List_unstyled__iA1x4 {
  list-style: none;
  padding: 0;
  margin: 0
}

.List_ordered__bZ2vX li, .List_unordered__TB6BG li {
  position: relative;
  padding-left: 1.5rem
}

.List_ordered__bZ2vX li:not(:last-child), .List_unordered__TB6BG li:not(:last-child) {
  margin-bottom: .5rem
}

.List_ordered__bZ2vX ol, .List_ordered__bZ2vX ul, .List_unordered__TB6BG ol, .List_unordered__TB6BG ul {
  margin-top: .5rem
}

@media print {
  .List_ordered__bZ2vX, .List_unordered__TB6BG {
    margin-left: 1.5rem
  }

  .List_unordered__TB6BG {
    list-style-type: square
  }

  .List_ordered__bZ2vX {
    list-style-type: decimal
  }

  .List_ordered__bZ2vX li, .List_unordered__TB6BG li {
    padding-left: 0
  }
}

.ListItem_number__S0Iza.ListItem_bullet__kJDXC {
  color: var(--list-number, var(--colour-assistant, var(--colour-accent)));
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  display: block;
  text-align: center;
  font-weight: 700
}

.ListItem_square__U6KqB.ListItem_bullet__kJDXC {
  width: .75rem;
  height: .75rem;
  background-color: var(--list-bullet, var(--colour-accent));
  position: absolute;
  left: 0;
  top: .25rem
}

.ListItem_unstyled__PN_vb.ListItem_bullet__kJDXC {
  display: none
}

.ListItem_large__2CV_G {
  font-size: 1.25rem;
  line-height: 2rem
}

.ListItem_large__2CV_G .ListItem_bullet__kJDXC {
  top: .5rem
}

@media print {
  .ListItem_number__S0Iza.ListItem_bullet__kJDXC, .ListItem_square__U6KqB.ListItem_bullet__kJDXC {
    display: none
  }
}

:root {
  --text-primary: #000;
  --text-accent: #000;
  --text-assistant: #fff;
  --tint-1: #333;
  --tint-2: #666;
  --tint-3: #999;
  --tint-4: #ccc;
  --tint-5: #e6e6e6;
  --tint-6: #f2f2f2;
  --colour-tap-highlight: rgba(15, 116, 179, .5);
  --colour-visited: #300099;
  --colour-error: #db2100;
  --colour-valid: #2f7f33;
  --black-90: #1a1a1a;
  --black-90-opacity: rgba(0, 0, 0, .9);
  --black-80: #333;
  --black-80-opacity: rgba(0, 0, 0, .8);
  --black-70: #4d4d4d;
  --black-70-opacity: rgba(0, 0, 0, .7);
  --black-60: #666;
  --black-60-opacity: rgba(0, 0, 0, .6);
  --black-50: grey;
  --black-50-opacity: rgba(0, 0, 0, .5);
  --black-40: #999;
  --black-40-opacity: rgba(0, 0, 0, .4);
  --black-30: #b3b3b3;
  --black-30-opacity: rgba(0, 0, 0, .3);
  --black-20: #ccc;
  --black-20-opacity: rgba(0, 0, 0, .2);
  --black-10: #e6e6e6;
  --black-10-opacity: rgba(0, 0, 0, .1);
  --black-05: #f2f2f2;
  --black-05-opacity: rgba(0, 0, 0, .05);
  --white-90: #e6e6e6;
  --white-90-opacity: hsla(0, 0%, 100%, .9);
  --white-80: #ccc;
  --white-80-opacity: hsla(0, 0%, 100%, .8);
  --white-70: #b3b3b3;
  --white-70-opacity: hsla(0, 0%, 100%, .7);
  --white-60: #999;
  --white-60-opacity: hsla(0, 0%, 100%, .6);
  --white-50: grey;
  --white-50-opacity: hsla(0, 0%, 100%, .5);
  --white-40: #666;
  --white-40-opacity: hsla(0, 0%, 100%, .4);
  --white-30: #4d4d4d;
  --white-30-opacity: hsla(0, 0%, 100%, .3);
  --white-20: #333;
  --white-20-opacity: hsla(0, 0%, 100%, .2);
  --white-10: #1a1a1a;
  --white-10-opacity: hsla(0, 0%, 100%, .1);
  --white-05: #0d0d0d;
  --white-05-opacity: hsla(0, 0%, 100%, .05);
  --colour-aa: #646464;
  --colour-charcoal: #2b3237;
  --colour-dark-charcoal: #1e2124;
  --colour-light-charcoal: #40464b;
  --grey-border: var(--black-10);
  --grey-border-dark: var(--white-20);
  --dls-font-stack-condensed: "abcsans condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --dls-font-stack-rounded: "abcsans rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --dls-font-stack-sans: "abcsans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --dls-font-stack-serif: "abcserif", "Book Anitqua", "Palatino Linotype", Palatino, serif;
  --dls-font-stack-monospace: "abcsans tabbed", monospace;
  --tab-outline-width: 2px;
  --tab-outline-style: solid;
  --default-tab-outline-colour: #fff;
  --tab-neg-offset: -4px;
  --tab-no-offset: 0;
  --tab-offset: 2px;
  --default-tab-shadow-props: 0 0 0 4px;
  --dls-transition-duration: 0.2s;
  --dls-transition-easing: ease-out;
  --dls-link-transition: color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, background-color 0.2s ease-out, box-shadow 0.2s ease-out, transform 0.2s ease-out, text-decoration 0.2s ease-out
}

html {
  font-size: var(--html-font-size, 16px)
}

body {
  margin: 0;
  padding: 0
}

:root {
  --colour-primary: #01cfff;
  --colour-accent: #01cfff;
  --colour-accent-active: rgba(0, 208, 255, .7);
  --colour-accent-faded: rgba(0, 208, 255, .25);
  --colour-assistant: #0058cc;
  --colour-assistant-dark: #4d9aff;
  --blockquote-left-border: var(--colour-assistant);
  --masthead-fill: #0f1010;
  --content-label-fill: #000;
  --content-label-text: #fff;
  --colour-live: #ffb300;
  --bar-background: #f5f5f5;
  --colour-label: #000;
  --cookie-banner-link: var(--colour-assistant);
  --page-gradient-primary: 252, 252, 252;
  --page-gradient-feature: 242, 242, 242;
  --card-timestamp-text: var(--black-60-opacity);
  --fixed-header-height: 3rem
}

@media (max-width:33.9375em) {
  :global(a:not([href])[id]:empty) {
    display: block;
    position: relative;
    top: -2.7rem
  }
}

.InfoTooltip_tooltip__KtBBI {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 0;
  background-color: var(--black-70-opacity);
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  outline: none;
  align-items: center
}

.InfoTooltip_tooltip__KtBBI.InfoTooltip_collection__EeIqG {
  left: 0;
  right: auto
}

.InfoTooltip_tooltip__KtBBI.InfoTooltip_collection__EeIqG svg {
  color: #a0d0d6
}

.InfoTooltip_visible__BaPqj.InfoTooltip_tooltip__KtBBI, [data-uri]:hover>.InfoTooltip_container__B0_7f>.InfoTooltip_tooltip__KtBBI {
  display: flex
}

.InfoTooltip_tooltip__KtBBI button {
  border: 0;
  padding: .1875rem .25rem;
  background-color: transparent;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer
}

.InfoTooltip_info__d7f_C {
  padding-left: .25rem;
  line-height: 0;
  min-width: 5.5rem
}

.InfoTooltip_icon__vEErD {
  width: 1.25rem;
  height: 1.25rem
}

.InfoTooltip_selectable___lFFA {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
  padding: .25rem .3125rem .3125rem
}

.InfoTooltip_selectable___lFFA::-moz-selection {
  color: #000;
  background-color: #add8e6
}

.InfoTooltip_selectable___lFFA::selection {
  color: #000;
  background-color: #add8e6
}