.container, .main-wrapper {
    position: relative
}

.action-text, .form-section .form-wrapper .form-heading, .section-heading {
    text-align: center
}

.btn, .logo-img {
    cursor: pointer
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

li {
    list-style: none
}

:root {
    --main-bg-color: rgb(53, 120, 245);
    --main-text-color: #FFF;
    --brand-color: #0f1419;
    --decor-color: #fff;
    --font-primary: 'Inter';
    --border-005: 1px solid #cfd9de;
    --border-008: 1px solid #cfd9de;
    --card-bg: #fff;
    --border-radius: 12px;
    --border-radius-btn: 25px;
    --header-height: 5rem
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth
}

body {
    min-height: 100vh;
    overflow-x: hidden !important;
    font-family: var(--font-primary), sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color)
}

body.blocked {
    overflow: hidden !important
}

.container {
    width: 90%;
    max-width: 1276px;
    margin: 0 auto;
    z-index: 3
}

.flex {
    display: flex
}

.center {
    align-items: center
}

.just-btwn {
    justify-content: space-between
}

.just-center {
    justify-content: center
}

.form .checkbox-wrap label .alterlink {
    color: var(--main-bg-color)
}

.text-colored {
    color: var(--brand-color)
}

.section-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    width: 90%;
    margin: 0 auto
}

.section-text {
    font-weight: 400;
    line-height: 1.2;
    color: var(--brand-color);
}

main {
    padding-top: var(--header-height)
}

.btn {
    width: 90%;
    max-width: 336px;
    height: 52px;
    background: var(--main-bg-color);
    border-radius: var(--border-radius-btn);
    color: #fff;
    font-weight: 800;
    font-size: 1.25rem;
    border: 0;
    transition: .2s
}

#winnerName, .action-text, .card-heading, .card-text, .form-heading, .main-heading {
    font-weight: 700
}

.btn:hover, .form .input-wrap button:hover {
    background: #3578f5;
}

.animated {
    opacity: 0;
    transition: .8s
}

.fade-in {
    opacity: 1
}

.header {
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    border-bottom: var(--border-008);
    transition: .2s
}

.header .container {
    height: 100%
}

.header.sticky {
    background-color: rgba(53, 120, 245, .7);
    backdrop-filter: blur(6px);
    height: 4rem
}

.logo-img {
    width: 8.1rem;
    height: auto
}

.winners-widget {
    width: 18%;
    height: 100%;
    border-left: var(--border-008);
    padding: 0 0 0 2.5rem
}

.winner-info {
    margin-left: 1rem;
    font-size: 13px;
    line-height: 1.2
}

.winner-profit {
    color: var(--main__text);
}

#winnerImg {
    width: 3rem;
    height: 3rem;
    border-radius: 100px
}

.hero-section {
    padding: 3rem 0
}

.form-wrapper, .hero-video-wrapper {
    background-color: var(--card-bg);
    padding: 2.5rem
}

.hero-video-wrapper {
    border-radius: var(--border-radius);
    border: var(--border-005);
    width: 66%
}

.form-wrapper, .video video {
    border-radius: var(--border-radius)
}

.main-heading {
    font-size: 1.7rem;
    line-height: 1.22;
}

.heading-img {
    width: 6.375rem;
    height: auto;
    margin: 0 1rem
}

.video {
    margin: 2.5rem 0 0
}

.video .play-btn::before {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, .7);
    background-position: center center;
    background-size: 3rem
}

.form-wrapper {
    border: var(--border-005);
    width: 32.6%
}

.form-heading {
    font-size: 1.5rem;
    line-height: 1.2;
    padding-bottom: 2rem;
    border-bottom: var(--border-008);
    margin-bottom: 2rem
}

.form .input-wrap {
    margin: 1rem 0
}

.form .input-wrap input {
    height: 52px;
    background-color: #d9d9d9;
    border: var(--border-008);
    border-radius: 8px;
    padding: 0 1.5rem;
    font-weight: 400;
    font-size: 14px;
    color: #444
}

.form .input-wrap input:focus {
    border: 2px solid var(--brand-color)
}

.form .input-wrap input.valid, .form .input-wrap input.valid:focus {
    border: 2px solid #c0f078
}

.form .input-wrap .vue-tel-input {
    border: var(--border-008);
    border-radius: 8px;
    margin-bottom: 1rem
}

.form .input-wrap .vue-tel-input input {
    border-radius: 0 8px 8px 0
}

.form .input-wrap .vue-tel-input .vti__dropdown {
    border-radius: 8px 0 0 8px
}

.form .input-wrap .vue-tel-input .vti__dropdown .vti__dropdown-item {
    color: #444
}

.form .checkbox-wrap {
    margin: .5rem 0;
    display: flex;
}

.form .checkbox-wrap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none
}

.form .checkbox-wrap input::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: .8rem;
    height: .8rem;
    background-color: var(--main-bg-color);
    padding: 2px;
    border-radius: 2px;
}

.form .checkbox-wrap input:checked::before {
    content: '\2713';
    color: #fff;
}

.form .checkbox-wrap label {
    font-weight: 400;
    font-size: 12px;
    margin-left: .5rem
}

.form .input-wrap button, button.form-button {
    height: 52px;
    background: var(--main-bg-color);
    font-weight: 800;
    font-size: 1.25rem;
    color: #fff;
    padding: 0;
    transition: .2s
}

.form .input-wrap button {
    border-radius: 8px;
    border: none;
    margin-top: 1rem
}

.form .input-wrap button:active {
    box-shadow: 0 1px 0 #745c20
}

.soft-img {
    width: 100%;
    max-width: 653px;
    height: auto;
    display: block;
    margin: 3rem auto 0
}

.soft-img-2 {
    max-width: 470px;
    opacity: .6;
}

.about-section, .action-section {
    padding: 3.5rem 0;
    margin-bottom: 3rem;
    position: relative;
    z-index: 5
}

.about-section .logo-img {
    width: 13rem;
    height: auto;
    display: block;
    margin: 0 auto 2.68rem
}

.about-section .section-text {
    color: #fff;
    margin-bottom: 15px;
}

.about-section .section-text:nth-child(5) {
    margin-bottom: 35px;
}

.about-text-wrapper {
    width: 50%;
    position: relative;
}

.about-text-wrapper .about__wrap {
    height: 100%;
    overflow-y: hidden;
    max-height: 455px;
    transition: all .3s linear;
}

.about-text-wrapper.show .about__wrap {
    max-height: 810px;
    transition: all .3s linear;
}

.about-text-wrapper .overlay {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(to bottom, transparent, #3578f5);
    height: 100px;
}

.about-text-wrapper .overlay img {
    transition: all .1s linear;
}

.about-text-wrapper.show .overlay {
    background: none;
}

.about-text-wrapper .overlay .rotate {
    transform: rotate(180deg);
}

.about-text-wrapper .section-text {
    line-height: 2.5
}

.about-text-wrapper .section-text strong {
    color: #fff
}

.about-image-wrapper {
    width: 50%;
    position: relative
}

.about-coin-img {
    height: auto;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 20%;
    transform: translateY(calc(-50% - 120px));
}

.about-car-img {
    height: auto;
    position: absolute;
    z-index: 4;
    width: 100%;
    max-width: 420px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.action-section .section-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 3
}

.action-text {
    width: 90%;
    max-width: 1064px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.77;
    color: #fff;
    position: relative;
    z-index: 3
}

.decor-car-left, .decor-car-right {
    width: 22rem;
    top: 50%;
    transform: translateY(-50%);
    height: auto
}

.founder-section, .steps-section {
    margin-bottom: 5rem;
    position: relative
}

.action-section .btn {
    position: relative;
    z-index: 3;
    display: block;
    margin: 3.5rem auto 0;
    background: #fff;
    color: var(--main-bg-color);
}

.action-decor {
    position: absolute
}

.decor-car-left {
    left: 0
}

.decor-car-right {
    right: 0
}

.tesla-logo {
    width: 32rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
}

.steps-section {
    padding: 3.5rem 0;
    z-index: 5
}

.step-cards-wrapper {
    margin-top: 3rem
}

.step-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    border: var(--border-005);
    width: 32%;
    padding: 2rem 2.5rem;
    min-height: 18.5rem
}

.step-card-upper {
    border-bottom: var(--border-005);
    padding-bottom: 2rem
}

.step-number {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    border-radius: 100px;
    display: grid;
    place-items: center center;
    background: var(--main-bg-color);
    margin-right: 1rem
}

.card-heading {
    font-size: 20px;
    line-height: 1.2;
    color: var(--brand-color);
}

.step-card-lower {
    padding-top: 2rem
}

.card-text {
    font-size: 18px;
    line-height: 1.77;
    color: var(--brand-color);
}

.founder-section {
    z-index: 5
}

.founder-img-wrapper {
    width: 42%;
    position: relative
}

.founder-img-wrapper .twit__img {
    position: absolute;
    top: -1rem;
    right: 3rem;
    transform: scale(-1, 1);
    z-index: -1;
    width: 13rem;
}

.founder-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto
}

.founder-content {
    width: 58%;
    padding: 3rem 0 2.5rem 4rem
}

.founder-content .section-heading {
    width: 100%;
    text-align: left
}

.founder-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin: 1rem 0 2.5rem
}

.founder-quote {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #b9b9b9;
    text-indent: 2rem;
    margin-bottom: 2rem
}

.twit {
    width: 100%;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    border: var(--border-005);
    padding: 20px 16px;
    display: flex;
    align-items: flex-start;
}

.twit__avatar {
    border: 2px solid #FFFFFF;
    width: 100%;
    max-width: 48px;
    height: 48px;
    margin-right: 12px;
}

.twit__avatar img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.twit__content {
    color: var(--brand-color);
}

.twit__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.twit__header-left {
    display: flex;
    align-items: center;
}

.twit__header-right {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twit__name {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 6px;
    display: flex;
    align-items: center;
}

.twit__name svg {
    fill: rgb(29, 155, 240);
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.twit__link,
.twit__duration {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #536471;
}

.twit__separator {
    margin: 0 4px;
}

.twit__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.twit__footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.twit__footer-btn {
    display: flex;
    align-items: center;
}

.twit__footer-icon {
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
}

.signature-img {
    width: 11.8rem;
    height: auto
}

.reviews-section {
    padding: 3.5rem 0 4rem;
    position: relative;
    z-index: 5
}

.reviews-wrapper {
    margin-top: 3rem;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    border: var(--border-005);
    padding: 2.5rem 5.25rem
}

.review-card {
    width: 32%;
    max-width: 332px
}

.review-card-upper {
    border-bottom: var(--border-008);
    padding-bottom: 1.5rem
}

.review-card-img {
    border-radius: 50%;
    margin-right: 1rem
}

.review-card-lower {
    padding-top: 1.5rem
}

.form-section {
    padding: 3rem 0 4rem
}

.form-section .form-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 40%;
}

.footer {
    padding: 1.5rem 0;
    background-color: transparent;
    border-top: var(--border-008);
    position: relative;
}

.footer-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.63;
    color: #fff;
}

.footer-links .alterlink {
    margin-left: 1.5rem;
    font-size: 13px;
    color: #fff;
}

.decor-circle {
    position: absolute;
    width: 27.6rem;
    height: 27.6rem;
    border-radius: 50%;
    background: var(--decor-color);
    filter: blur(240px);
    -moz-filter: blur(600px);
    z-index: 2
}

.decor-circle.hero-left {
    left: -12rem;
    top: -8rem
}

.decor-circle.hero-right {
    right: -17rem;
    top: 18rem
}

.decor-circle.about-left {
    left: -25rem;
    bottom: -8rem
}

.decor-circle.action-right {
    right: -29rem;
    bottom: 6rem
}

.decor-circle.action-bottom {
    left: 20%;
    bottom: -14rem;
    filter: blur(380px)
}

.decor-circle.steps-right {
    right: -15rem;
    bottom: -50%;
    filter: blur(320px)
}

.decor-circle.founder-left {
    left: 6rem;
    bottom: -50%;
    filter: blur(320px)
}

.decor-circle.bottom-left {
    left: -26rem;
    bottom: 29rem
}

.decor-circle.bottom-right {
    right: -28rem;
    bottom: 11rem
}

.coin-decor-img {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 30rem;
    width: 16rem;
    height: auto
}

.coin-decor-img.left {
    left: 0;
    transform: rotate(180deg);
}

@media screen and (max-width: 1600px) {
    :root {
        --header-height: 4rem
    }

    .container {
        max-width: 1100px
    }

    .header.sticky {
        height: 3.5rem
    }

    .winners-widget {
        padding: 0 0 0 1.5rem
    }

    .winner-info {
        margin-left: .8rem;
        font-size: 11px
    }

    #winnerImg {
        width: 2.5rem;
        height: 2.5rem
    }

    .form-wrapper, .hero-video-wrapper {
        padding: 2rem 1.5rem
    }

    .form .input-wrap input {
        height: 48px;
        padding: 0 1rem
    }

    .soft-img {
        margin: 2rem auto 0
    }

    .about-section .logo-img {
        width: 13rem;
        margin: 0 auto 2rem
    }

    .about-text-wrapper .section-text {
        line-height: 2
    }

    .about-text-wrapper .about__wrap {
        max-height: 435px;
    }

    .about-text-wrapper.show .about__wrap {
        max-height: 780px;
    }

    .about-coin-img {
        width: 14rem;
    }

    .about-car-img {
        max-width: 370px;
        right: 0;
    }

    .action-text {
        font-size: 1.8rem
    }

    .decor-car-left, .decor-car-right {
        width: 17.5rem
    }

    .step-card {
        padding: 1.5rem 2rem
    }

    .step-card-upper {
        padding-bottom: 1.5rem
    }

    .step-number {
        width: 2.2rem;
        min-width: 2.2rem;
        height: 2.2rem;
        margin-right: 1rem
    }

    .step-card-lower {
        padding-top: 1.5rem
    }

    .card-text {
        font-size: 16px
    }

    .reviews-wrapper {
        margin-top: 2rem;
        padding: 2rem 4.5rem
    }

    .review-card {
        max-width: 300px
    }

    .founder-content {
        padding: 2rem 0 2rem 3rem
    }

    .founder-position {
        font-size: 1rem;
        margin: 1rem 0 2rem
    }

    .founder-img-wrapper .twit__img {
        top: 6rem;
        right: -0.5rem;
        width: 10rem;
    }

    .founder-quote {
        font-size: 1rem;
        text-indent: 1.5rem;
        margin-bottom: 2rem
    }
}

@media screen and (max-width: 1000px) {
    .winners-widget {
        width: 28%
    }

    .footer .container, .founder-section .container, .hero-section .container, .steps-section .container {
        flex-direction: column
    }

    .hero-video-wrapper {
        width: 100%;
        margin-bottom: 2rem
    }

    .form-wrapper {
        width: 100%;
        max-width: 480px;
        margin: 0 auto
    }

    .about-text-wrapper .about__wrap {
        max-height: 420px;
    }

    .about-text-wrapper.show .about__wrap {
        max-height: 1020px;
    }

    .about-coin-img {
        transform: translateY(calc(-50% - 180px));
        left: 15%;
        width: 12rem;
    }

    .about-car-img {
        max-width: 350px;
    }

    .step-card {
        width: 100%;
        max-width: 480px;
        margin: 0 auto 1.5rem
    }

    .calculator__wrap {
        max-width: 100%;
    }

    .review-card {
        max-width: 290px
    }

    .founder-img-wrapper {
        width: 100%;
        order: 2
    }

    .founder-content {
        order: 1;
        padding: 0;
    }

    .founder-img-wrapper .twit__img {
        width: 20%;
        top: -22rem;
        right: 0;
    }

    .founder-img {
        width: 50%;
        left: unset;
        right: -3rem;
        transform: scale(-1, 1);
    }

    .form-section .form-wrapper {
        max-width: 50%;
    }

    .footer {
        padding: 1.5rem 0;
        text-align: center
    }

    .footer-text {
        width: 100%;
        margin-bottom: 1rem
    }

    .coin-decor-img {
        width: 12rem
    }

    .footer-links .alterlink {
        margin-left: 1rem;
        margin-right: 1rem
    }
}

@media screen and (max-width: 780px) {
    .section-heading {
        font-size: 1.8rem
    }

    .header .logo-img {
        width: 6rem
    }

    .about-section .container, .reviews-list {
        flex-direction: column
    }

    .about-image-wrapper, .about-text-wrapper {
        width: 100%
    }

    .about-text-wrapper .about__wrap {
        max-height: 374px;
    }

    .about-text-wrapper.show .about__wrap {
        max-height: 1030px;
    }

    .about-image-wrapper {
        height: auto;
        text-align: start;
    }

    .about-coin-img {
        top: 2rem;
        left: 10%;
    }

    .about-car-img {
        max-width: 380px;
        position: relative;
        transform: inherit;
    }

    .action-section .section-heading {
        font-size: 1.6rem;
        margin-bottom: 2rem
    }

    .action-text {
        font-size: 1.3rem
    }

    .decor-car-left, .decor-car-right {
        width: 12rem
    }

    .tesla-logo {
        width: 24rem;
    }

    .reviews-wrapper {
        padding: 2rem
    }

    .review-card {
        width: 100%;
        margin: 0 auto 2.5rem
    }

    .review-card-upper {
        padding-bottom: 1rem
    }

    .review-card-img {
        width: 3rem;
        min-width: 3rem;
        height: 3rem
    }

    .review-card-lower {
        padding-top: 1rem
    }
}

@media screen and (max-width: 680px) {
    :root {
        --header-height: 3.5rem
    }

    .header.sticky {
        height: 3rem
    }

    .logo-img {
        width: 5rem
    }

    .winners-widget {
        display: none
    }

    .hero-section, .steps-section {
        padding: 2rem 0
    }

    .form-wrapper, .hero-video-wrapper {
        padding: 1rem
    }

    .hero-video-wrapper {
        margin-bottom: 1rem
    }

    .main-heading-wrapper {
        flex-direction: column
    }

    .main-heading {
        font-size: 1.5rem;
        text-align: left;
    }

    .heading-img {
        width: 3rem;
        margin: 1rem auto 0
    }

    .video {
        margin: 1rem 0 0
    }

    .form-heading {
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 1rem
    }

    .about-text-wrapper .section-text {
        line-height: 1.8
    }

    .about-image-wrapper {
        margin: 3.5rem 0 0;
    }

    .about-coin-img {
        width: 8rem;
        top: 2rem;
        left: 12rem;
        transform: inherit;
    }

    .about-car-img {
        max-width: 250px;
        left: 0;
    }

    .action-text {
        font-size: 1.1rem
    }

    .action-section .btn {
        margin: 2rem auto 0
    }

    .decor-car-left, .decor-car-right {
        width: 8rem
    }

    .section-heading {
        font-size: 1.5rem
    }

    .step-cards-wrapper {
        margin-top: 2rem
    }

    .reviews-wrapper, .step-card {
        padding: 1.5rem
    }

    .card-heading {
        font-size: 18px
    }

    .review-card {
        max-width: unset;
        margin-right: .5rem !important;
        margin-left: .5rem !important
    }

    .founder-content {
        width: 100%;
        padding: 2rem 0
    }

    .founder-img-wrapper {
        height: 26rem
    }

    .founder-img {
        width: 100%;
        right: 0;
        position: relative;
    }

    .founder-img-wrapper .twit__img {
        width: 30%;
        top: 0;
        right: 13rem;
    }

    .form-section .form-wrapper {
        max-width: 100%;
    }

    .decor-circle {
        width: 16rem;
        height: 16rem
    }

    .decor-circle.hero-left {
        left: -4rem;
        top: -6rem
    }

    .decor-circle.hero-right {
        right: -12rem;
        top: 10rem
    }
}

@media screen and (max-width: 580px) {
    .founder-img-wrapper {
        height: 22rem
    }

    .twit__avatar {
        display: none;
    }

    .twit__header {
        margin-bottom: 10px;
    }

    .signature-name {
        margin-right: 2rem
    }

    .about-section {
        padding: 0;
    }
    .about-text-wrapper .about__wrap {
        max-height: 440px;
    }
    .about-text-wrapper .overlay {
        bottom: -40px;
        height: 70px;
    }

    .founder-content {
        padding: 0;
        margin-bottom: 30px;
    }

    .heading-img {
        display: none;
    }
    .about-text-wrapper.show .about__wrap {
        max-height: 1130px;
    }
}

@media screen and (max-width: 500px) {
    .founder-img-wrapper {
        height: 17rem
    }

    .signature-img {
        width: 9rem
    }
}

@media screen and (max-width: 400px) {
    .founder-img-wrapper {
        height: 15rem
    }
}

form .form-group {
    margin: 0rem 0 1.3rem;
    width: 100%;
    position: relative
}

form .form-group input:not([type=checkbox]) {
    width: 100%;
    outline: 0;
    position: relative;
    z-index: 3;
    background-position: 50% 50%;
    background-repeat: no-repeat !important;
    background-color: #fff;
    border: var(--border-005);
    border-radius: var(--border-radius-btn);
    font-weight: 400;
    font-size: 14px;
    color: #444;
    height: 48px;
    padding: 0 1rem
}

button.form-button {
    width: 100%;
    cursor: pointer;
    border-radius: var(--border-radius-btn);
    border: none;
}

button.form-button img {
    width: 24px;
    margin: 0 auto
}

button.form-button[disabled] {
    opacity: .9;
    cursor: not-allowed
}

button.form-button:not([disabled]) {
    cursor: pointer
}

form .form-group .iti {
    width: 100%
}

form .form-group .iti__flag-container {
    z-index: 9
}

form .form-group .iti__selected-dial-code {
    color: var(--brand-color);
    font-weight: 400;
    font-size: 14px
}

form .iti__flag-container:focus, form .iti__flag-container:focus-visible {
    outline: 0
}

form .form-group input:not([type=checkbox]):focus {
    color: #000
}

form .form-group input:not([type=checkbox]).valid {
    background-color: #90ee90;
    border: 1px solid #90ee90
}

form .form-group input:not([type=checkbox]).invalid {
    background-color: tomato;
    border: 1px solid tomato
}

form .checkbox-wrap label {
    color: var(--brand-color);
}

.iti--separate-dial-code .iti__selected-flag {
    background: transparent;
    border-right: var(--border-005);
}

.calculator-section {
    padding: 0 0 3.5rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 5;
}

.calculator__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.calculator__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--brand-color);
    margin-bottom: 20px;
}

.calculator__profit {
    margin: 30px 0;
    color: var(--brand-color);
}

.calculator__profit #calcResult {
    margin-top: 10px;
}

.calculator__invest-text {
    margin-bottom: 20px;
    display: block;
    color: var(--brand-color);
}

.irs--round .irs-min, .irs--round .irs-max {
    color: #fff;
}

.live {
    padding: 3.5rem 0 0;
    margin-bottom: 3rem;
    position: relative;
    z-index: 5;
}

.live__block {
    width: 100%;
    max-width: 100%;
}

.live__title {
    margin-bottom: 2rem;
}

.live__title h2 {
    color: var(--brand-color);
}

.live__table {
    width: 100%;
}

.live__table tr {
    border-bottom: var(--border-008);;
}

.live__table th, .live__table td {
    padding: 7px 0;
    border-bottom: var(--border-008);;
    font-size: 16px;
    transform: translateX(-1px);
    color: var(--brand-color);
}

.live__table tr:last-child td {
    border-bottom: 1px solid transparent;
}

.live__table td img {
    width: 24px;
    height: 24px;
}

.tal {
    text-align: left;
}

.live__table th {
    text-transform: uppercase;
    color: var(--brand-color);
}

.live__table .bold {
    font-weight: bold;
}

.live__table tr td:not(:first-child), .live__table tr th:not(:first-child) {
    text-align: center;
}

@media (max-width: 576px) {
    .live__table th, .live__table td {
        font-size: 10px;
        padding: 5px 0;
    }

    .live__table tr th {
        font-weight: normal;
    }

    .live__block {
        padding: 1rem;
    }
}