.random-logo-secondary3 {
	background: #F4D03F;
	color: #303030;
	font-weight: 400 !important;
	border-radius: 10px;
	padding: 0.2rem !important;
font-family: Verdana;
}
.random-border-item {
	border-radius: 10px;
	border: 3px  solid #303030;
}
.random-background-color {
	background-color: #FFF8DC;
}
.random-logo-primary1 {
	margin-right: 0.25rem !important;
	color: #303030;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	border-radius: 10px;
	font-weight: 700 !important;
	border: 1px solid #303030 !important;
font-size: 137%;
}
body {
	background: url(../images/background.png) repeat 0 0;
	color: #2F3542;
}
.random-logo3 {
	margin: 0 !important;
	border-radius: 10px;
	padding: 0.4rem;
	font-weight: 600;
	background: #FFF8DC;
font-size: 127%;
}
.random-logo-primary3 {
	font-weight: 700 !important;
	color: #EEFF41;
	padding-right: 1rem !important;
	border-bottom: 2px solid #303030 !important;
}
.random-logo-primary2 {
	border: 1px solid #303030 !important;
	border-radius: 10px;
	font-weight: 700 !important;
	margin-right: 0.5rem;
	padding: 0.5rem !important;
	background-color: #303030;
	color: #F4D03F;
	line-height: 1;
	display: inline-block;
font-family: Verdana;
}
.random-logo2 {
	padding: 0.4rem;
	font-weight: 600;
	background: #FFF8DC;
	margin: 0 !important;
	border-radius: 10px;
font-family: Verdana;
font-size: 134%;
}
.random-logo1 {
	font-weight: 600;
	background: #FFF8DC;
	margin: 0 !important;
	padding: 0.4rem;
	border-radius: 10px;
font-family: Verdana;
font-size: 141%;
}
