/*==== FORM ========*/
.form .input-wrap {
  margin: 12px 0;
}
.form .input-wrap input {
  height: 42px;
  padding-left: 15px;
  border-radius: 5px;
}
.form .input-wrap input:focus {
  border: 1px solid rgb(64, 144, 248);
}
.form .input-wrap input.valid,
.form .input-wrap input.valid:focus {
}
.form .input-wrap .vue-tel-input {
  border-radius: 5px;
}
.form .input-wrap .vue-tel-input input {
  border-radius: 0 5px 5px 0;
}
.form .input-wrap .vue-tel-input .vti__dropdown {
  border-radius: 5px 0 0 5px;
}
.form .input-wrap .vue-tel-input .vti__dropdown .vti__dropdown-item {
  color: #333;
}
.form .checkbox-wrap {
  display: flex;
  align-items: center;
}
.form .checkbox-wrap label {
  font-size: 12px;
  color: #777;
}
.form .input-wrap button {
  height: 50px;
  background-color: rgb(38, 128, 212);
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}
.form .input-wrap button:hover {
  background-color: rgb(10, 93, 170);
}
.form .input-wrap button:active {
  transform: scale(0.98);
}

.footer {
  padding: 2rem 0;
}
.footer .grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-buttons {
  display: flex;
  align-items: center;
}
.support-buttons .right {
  margin-left: 1rem;
}
.right a {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  .footer .grid {
    flex-direction: column;
  }
  .footer .grid .copyright {
    text-align: center;
    margin-bottom: 1rem;
  }
  .seven-section .line-items-1,
  .seven-section .line-items-2,
  .seven-section .line-items-3,
  .seven-section .line-items-4,
  .seven-section .line-items-5 {
    width: 100%;
  }
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  border: 1px solid #b1b5be;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  box-shadow: none;
}
.form__input:focus {
  border: 1px solid #004cff;
  border-radius: 5px;
}

.iti {
  width: 100%;
  margin: 10px 0 20px;
}

.form__btn {
  border-radius: 5px;
  background: none;
  outline: none;
  background: #bf3072;
  color: white;
  width: 100%;
  padding: 15px 0;
}
.form__btn:hover {
  background: #bf3072;
  border-radius: 5px;
}
